Repository The-AI-Alliance/semiont: changes, and which Codecov flags are due for each by the changed paths.
All: api-client, content, core, event-sourcing, graph, inference, jobs, make-meaning, mcp-server, ontology, react-ui, frontend, backend, @semiont/core, @semiont/api-client, @semiont/ontology, @semiont/content, @semiont/event-sourcing, @semiont/graph, @semiont/inference, @semiont/jobs, @semiont/make-meaning, @semiont/react-ui

codecov.yml:

# Codecov configuration for Semiont monorepo
# https://docs.codecov.io/docs/codecovyml-reference

codecov:
  # Require CI to finish before processing coverage
  require_ci_to_pass: true

  # Wait for all coverage reports before commenting
  notify:
    wait_for_ci: true

coverage:
  # Overall project coverage settings
  status:
    # Project-wide coverage status
    project:
      default:
        # Coverage can drop by 1% without failing
        threshold: 1%
        target: 70%  # Target 70% overall coverage

    # Per-PR patch coverage
    patch:
      default:
        # New code should have at least 80% coverage
        target: 80%
        threshold: 5%

  # Round coverage to 2 decimal places
  precision: 2
  round: down

  # Coverage range for color coding
  range: "50...90"

# Component-specific coverage configuration
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 1%
  individual_components:
    # Core packages with higher coverage requirements
    - component_id: core
      name: "@semiont/core"
      paths:
        - packages/core/**
    - component_id: api-client
      name: "@semiont/api-client"
      paths:
        - packages/api-client/**
    - component_id: ontology
      name: "@semiont/ontology"
      paths:
        - packages/ontology/**
    - component_id: content
      name: "@semiont/content"
      paths:
        - packages/content/**
    - component_id: event-sourcing
      name: "@semiont/event-sourcing"
      paths:
        - packages/event-sourcing/**
    - component_id: graph
      name: "@semiont/graph"
      paths:
        - packages/graph/**
    - component_id: inference
      name: "@semiont/inference"
      paths:
        - packages/inference/**
    - component_id: jobs
      name: "@semiont/jobs"
      paths:
        - packages/jobs/**
    - component_id: make-meaning
      name: "@semiont/make-meaning"
      paths:
        - packages/make-meaning/**
    - component_id: react-ui
      name: "@semiont/react-ui"
      paths:
        - packages/react-ui/**

# Ignore certain files from coverage
ignore:
  # Test files
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/*.spec.tsx"
  - "**/test/**"
  - "**/tests/**"
  - "**/__tests__/**"
  - "**/test-utils/**"

  # Build artifacts
  - "**/dist/**"
  - "**/build/**"
  - "**/coverage/**"
  - "**/.next/**"

  # Config files
  - "**/*.config.ts"
  - "**/*.config.js"
  - "**/jest.setup.ts"

  # Generated files
  - "**/generated/**"
  - "packages/api-client/src/types.ts"

  # Examples and demos
  - "**/examples/**"
  - "**/demo/**"

  # Scripts
  - "scripts/**"

# Comment configuration
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Flag configuration for different test suites
flags:
  # Individual package flags
  api-client:
    paths:
      - packages/api-client/**
    carryforward: true

  content:
    paths:
      - packages/content/**
    carryforward: true

  core:
    paths:
      - packages/core/**
    carryforward: true

  event-sourcing:
    paths:
      - packages/event-sourcing/**
    carryforward: true

  graph:
    paths:
      - packages/graph/**
    carryforward: true

  inference:
    paths:
      - packages/inference/**
    carryforward: true

  jobs:
    paths:
      - packages/jobs/**
    carryforward: true

  make-meaning:
    paths:
      - packages/make-meaning/**
    carryforward: true

  mcp-server:
    paths:
      - packages/mcp-server/**
    carryforward: true

  ontology:
    paths:
      - packages/ontology/**
    carryforward: true

  react-ui:
    paths:
      - packages/react-ui/**
    carryforward: true

  # App flags (for future use)
  frontend:
    paths:
      - apps/frontend/**
    carryforward: true

  backend:
    paths:
      - apps/backend/**
    carryforward: true

Scan frontend source for Tailwind classes
  apps/frontend/src/app/globals.css
Due: frontend

resource id string
  specs/src/components/schemas/ResourceDescriptor.json
Due: none

Gather -> Gathered
  packages/react-ui/translations/ar.json
  packages/react-ui/translations/bn.json
  packages/react-ui/translations/cs.json
  packages/react-ui/translations/da.json
  packages/react-ui/translations/de.json
  packages/react-ui/translations/el.json
  packages/react-ui/translations/en.json
  packages/react-ui/translations/es.json
  packages/react-ui/translations/fa.json
  packages/react-ui/translations/fi.json
  packages/react-ui/translations/fr.json
  packages/react-ui/translations/he.json
  packages/react-ui/translations/hi.json
  packages/react-ui/translations/id.json
  packages/react-ui/translations/it.json
  packages/react-ui/translations/ja.json
  packages/react-ui/translations/ko.json
  packages/react-ui/translations/ms.json
  packages/react-ui/translations/nl.json
  packages/react-ui/translations/no.json
  packages/react-ui/translations/pl.json
  packages/react-ui/translations/pt.json
  packages/react-ui/translations/ro.json
  packages/react-ui/translations/sv.json
  packages/react-ui/translations/th.json
  packages/react-ui/translations/tr.json
  packages/react-ui/translations/uk.json
  packages/react-ui/translations/vi.json
  packages/react-ui/translations/zh.json
Due: react-ui, @semiont/react-ui

simplify Reference Panel Entries
  packages/react-ui/src/components/resource/panels/ReferenceEntry.tsx
  packages/react-ui/src/components/resource/panels/ReferencesPanel.css
  packages/react-ui/src/components/resource/panels/__tests__/ReferenceEntry.test.tsx
Due: react-ui, @semiont/react-ui

simplify Reference Panel Entries (#512)
  packages/react-ui/src/components/resource/panels/ReferenceEntry.tsx
  packages/react-ui/src/components/resource/panels/ReferencesPanel.css
  packages/react-ui/src/components/resource/panels/__tests__/ReferenceEntry.test.tsx
Due: react-ui, @semiont/react-ui

indicate search progress
  packages/react-ui/src/components/modals/ConfigureSearchStep.tsx
  packages/react-ui/src/components/modals/GatherContextStep.tsx
  packages/react-ui/src/components/modals/ReferenceWizardModal.tsx
  packages/react-ui/src/components/modals/SearchModal.css
  packages/react-ui/src/features/resource-viewer/components/ResourceViewerPage.tsx
  packages/react-ui/src/styles/core/buttons.css
Due: react-ui, @semiont/react-ui

find -> search
  packages/react-ui/translations/ar.json
  packages/react-ui/translations/bn.json
  packages/react-ui/translations/cs.json
  packages/react-ui/translations/da.json
  packages/react-ui/translations/de.json
  packages/react-ui/translations/el.json
  packages/react-ui/translations/en.json
  packages/react-ui/translations/es.json
  packages/react-ui/translations/fa.json
  packages/react-ui/translations/fi.json
  packages/react-ui/translations/fr.json
  packages/react-ui/translations/he.json
  packages/react-ui/translations/hi.json
  packages/react-ui/translations/id.json
  packages/react-ui/translations/it.json
  packages/react-ui/translations/ja.json
  packages/react-ui/translations/ko.json
  packages/react-ui/translations/ms.json
  packages/react-ui/translations/nl.json
  packages/react-ui/translations/no.json
  packages/react-ui/translations/pl.json
  packages/react-ui/translations/pt.json
  packages/react-ui/translations/ro.json
  packages/react-ui/translations/sv.json
  packages/react-ui/translations/th.json
  packages/react-ui/translations/tr.json
  packages/react-ui/translations/uk.json
  packages/react-ui/translations/vi.json
  packages/react-ui/translations/zh.json
Due: react-ui, @semiont/react-ui

indicate search progress (#513)
  packages/react-ui/src/components/modals/ConfigureSearchStep.tsx
  packages/react-ui/src/components/modals/GatherContextStep.tsx
  packages/react-ui/src/components/modals/ReferenceWizardModal.tsx
  packages/react-ui/src/components/modals/SearchModal.css
  packages/react-ui/src/features/resource-viewer/components/ResourceViewerPage.tsx
  packages/react-ui/src/styles/core/buttons.css
  packages/react-ui/translations/ar.json
  packages/react-ui/translations/bn.json
  packages/react-ui/translations/cs.json
  packages/react-ui/translations/da.json
  packages/react-ui/translations/de.json
  packages/react-ui/translations/el.json
  packages/react-ui/translations/en.json
  packages/react-ui/translations/es.json
  packages/react-ui/translations/fa.json
  packages/react-ui/translations/fi.json
  packages/react-ui/translations/fr.json
  packages/react-ui/translations/he.json
  packages/react-ui/translations/hi.json
  packages/react-ui/translations/id.json
  packages/react-ui/translations/it.json
  packages/react-ui/translations/ja.json
  packages/react-ui/translations/ko.json
  packages/react-ui/translations/ms.json
  packages/react-ui/translations/nl.json
  packages/react-ui/translations/no.json
  packages/react-ui/translations/pl.json
  packages/react-ui/translations/pt.json
  packages/react-ui/translations/ro.json
  packages/react-ui/translations/sv.json
  packages/react-ui/translations/th.json
  packages/react-ui/translations/tr.json
  packages/react-ui/translations/uk.json
  packages/react-ui/translations/vi.json
  packages/react-ui/translations/zh.json
Due: react-ui, @semiont/react-ui

add git tagging to release:publish
  scripts/release-publish.mjs
Due: none

reference panel should pulse during generate
  packages/react-ui/src/components/resource/panels/ReferencesPanel.css
Due: react-ui, @semiont/react-ui

support user hints in gathered context
  packages/api-client/src/__tests__/event-bus-client.test.ts
  packages/make-meaning/src/annotation-context.ts
  packages/make-meaning/src/binder.ts
  packages/react-ui/src/components/modals/ContextSummary.tsx
  packages/react-ui/src/components/modals/GatherContextStep.tsx
  packages/react-ui/src/components/modals/ReferenceWizardModal.tsx
  packages/react-ui/src/features/resource-viewer/components/ResourceViewerPage.tsx
  packages/react-ui/translations/ar.json
  packages/react-ui/translations/bn.json
  packages/react-ui/translations/cs.json
  packages/react-ui/translations/da.json
  packages/react-ui/translations/de.json
  packages/react-ui/translations/el.json
  packages/react-ui/translations/en.json
  packages/react-ui/translations/es.json
  packages/react-ui/translations/fa.json
  packages/react-ui/translations/fi.json
  packages/react-ui/translations/fr.json
  packages/react-ui/translations/he.json
  packages/react-ui/translations/hi.json
  packages/react-ui/translations/id.json
  packages/react-ui/translations/it.json
  packages/react-ui/translations/ja.json
  packages/react-ui/translations/ko.json
  packages/react-ui/translations/ms.json
  packages/react-ui/translations/nl.json
  packages/react-ui/translations/no.json
  packages/react-ui/translations/pl.json
  packages/react-ui/translations/pt.json
  packages/react-ui/translations/ro.json
  packages/react-ui/translations/sv.json
  packages/react-ui/translations/th.json
  packages/react-ui/translations/tr.json
  packages/react-ui/translations/uk.json
  packages/react-ui/translations/vi.json
  packages/react-ui/translations/zh.json
  specs/src/components/schemas/GatheredContext.json
Due: make-meaning, react-ui, @semiont/make-meaning, @semiont/react-ui

fix styling of session timeout and permission denied modals
  apps/frontend/src/components/modals/PermissionDeniedModal.tsx
  apps/frontend/src/components/modals/SessionExpiredModal.tsx
Due: frontend

fix cookie banner styling
  apps/frontend/src/components/CookieBanner.tsx
Due: frontend

rename Binder to Matcher
  apps/backend/README.md
  apps/backend/docs/ARCHITECTURE.md
  apps/backend/src/routes/resources/routes/referenced-by.ts
  apps/backend/src/utils/event-bus-request.ts
  docs/ARCHITECTURE.md
  docs/flows/BIND.md
  docs/flows/GATHER.md
  docs/flows/WIZARDS.md
  packages/api-client/src/sse/index.ts
  packages/core/src/event-map.ts
  packages/make-meaning/README.md
  packages/make-meaning/docs/SCRIPTING.md
  packages/make-meaning/docs/api-reference.md
  packages/make-meaning/docs/architecture.md
  packages/make-meaning/docs/examples.md
  packages/make-meaning/src/__tests__/matcher.test.ts
  packages/make-meaning/src/index.ts
  packages/make-meaning/src/knowledge-base.ts
  packages/make-meaning/src/matcher.ts
  packages/make-meaning/src/service.ts
  packages/make-meaning/src/stower.ts
  packages/react-ui/src/hooks/useBindFlow.ts
Due: api-client, core, make-meaning, react-ui, backend, @semiont/core, @semiont/api-client, @semiont/make-meaning, @semiont/react-ui

update test assertions
  apps/frontend/src/components/__tests__/CookieBanner.test.tsx
  apps/frontend/src/components/modals/__tests__/PermissionDeniedModal.test.tsx
Due: none

semiont local
  apps/cli/src/core/command-discovery.ts
  apps/cli/src/core/commands/local.ts
  docs/LOCAL-SEMIONT.md
Due: none

semiont local (#516)
  apps/cli/src/core/command-discovery.ts
  apps/cli/src/core/commands/local.ts
  docs/LOCAL-SEMIONT.md
Due: none

bump version to 0.3.1
  apps/backend/package.json
  apps/cli/package.json
  apps/frontend/package.json
  package.json
  packages/api-client/package.json
  packages/content/package.json
  packages/core/package.json
  packages/event-sourcing/package.json
  packages/graph/package.json
  packages/inference/package.json
  packages/jobs/package.json
  packages/make-meaning/package.json
  packages/ontology/package.json
  packages/react-ui/package.json
  version.json
Due: api-client, content, core, event-sourcing, graph, inference, jobs, make-meaning, ontology, react-ui, frontend, backend, @semiont/core, @semiont/api-client, @semiont/ontology, @semiont/content, @semiont/event-sourcing, @semiont/graph, @semiont/inference, @semiont/jobs, @semiont/make-meaning, @semiont/react-ui

lazy gremlin
  packages/graph/src/implementations/janusgraph.ts
Due: graph, @semiont/graph

lazy-load neo4j driver
  packages/graph/src/implementations/neo4j.ts
Due: graph, @semiont/graph

lazy-load graph drivers, etc (#517)
  packages/graph/src/implementations/janusgraph.ts
  packages/graph/src/implementations/neo4j.ts
Due: graph, @semiont/graph

bump version to 0.3.2
  apps/backend/package.json
  apps/cli/package.json
  apps/frontend/package.json
  package.json
  packages/api-client/package.json
  packages/content/package.json
  packages/core/package.json
  packages/event-sourcing/package.json
  packages/graph/package.json
  packages/inference/package.json
  packages/jobs/package.json
  packages/make-meaning/package.json
  packages/ontology/package.json
  packages/react-ui/package.json
  version.json
Due: api-client, content, core, event-sourcing, graph, inference, jobs, make-meaning, ontology, react-ui, frontend, backend, @semiont/core, @semiont/api-client, @semiont/ontology, @semiont/content, @semiont/event-sourcing, @semiont/graph, @semiont/inference, @semiont/jobs, @semiont/make-meaning, @semiont/react-ui

bump version to 0.3.3
  apps/backend/package.json
  apps/cli/package.json
  apps/frontend/package.json
  package.json
  packages/api-client/package.json
  packages/content/package.json
  packages/core/package.json
  packages/event-sourcing/package.json
  packages/graph/package.json
  packages/inference/package.json
  packages/jobs/package.json
  packages/make-meaning/package.json
  packages/ontology/package.json
  packages/react-ui/package.json
  version.json
Due: api-client, content, core, event-sourcing, graph, inference, jobs, make-meaning, ontology, react-ui, frontend, backend, @semiont/core, @semiont/api-client, @semiont/ontology, @semiont/content, @semiont/event-sourcing, @semiont/graph, @semiont/inference, @semiont/jobs, @semiont/make-meaning, @semiont/react-ui

preflight chekcs that backend/frontend agree on secret
  apps/cli/src/core/handlers/preflight-utils.ts
  apps/cli/src/platforms/container/platform.ts
  apps/cli/src/platforms/posix/handlers/backend-start.ts
  apps/cli/src/platforms/posix/handlers/frontend-start.ts
  package-lock.json
Due: none

report pid holding port during preflight check
  apps/cli/src/core/handlers/preflight-utils.ts
Due: none

print SEMIONT_* for --verbose
  apps/cli/src/core/command-executor.ts
Due: none

defer to first-provisioned secret
  apps/cli/src/core/handlers/preflight-utils.ts
  apps/cli/src/platforms/posix/handlers/backend-provision.ts
  apps/cli/src/platforms/posix/handlers/frontend-provision.ts
Due: none

--rotate-secret flag
  apps/cli/src/core/commands/__tests__/provision-command.test.ts
  apps/cli/src/core/commands/provision.ts
  apps/cli/src/core/handlers/preflight-utils.ts
  apps/cli/src/platforms/posix/handlers/backend-provision.ts
  apps/cli/src/platforms/posix/handlers/frontend-provision.ts
Due: none

preflight checks that backend/frontend agree on secret (#518)
  apps/cli/src/core/command-executor.ts
  apps/cli/src/core/commands/__tests__/provision-command.test.ts
  apps/cli/src/core/commands/provision.ts
  apps/cli/src/core/handlers/preflight-utils.ts
  apps/cli/src/platforms/container/platform.ts
  apps/cli/src/platforms/posix/handlers/backend-provision.ts
  apps/cli/src/platforms/posix/handlers/backend-start.ts
  apps/cli/src/platforms/posix/handlers/frontend-provision.ts
  apps/cli/src/platforms/posix/handlers/frontend-start.ts
  package-lock.json
Due: none

fix proxy health check
  apps/cli/src/platforms/container/handlers/proxy-check.ts
Due: none

fix proxy check; fix envoy config
  apps/cli/src/core/commands/start.ts
  apps/cli/src/core/commands/stop.ts
  apps/cli/src/platforms/container/handlers/proxy-start.ts
  apps/cli/templates/envoy.yaml
Due: none

fix proxy health check (#519)
  apps/cli/src/core/commands/start.ts
  apps/cli/src/core/commands/stop.ts
  apps/cli/src/platforms/container/handlers/proxy-check.ts
  apps/cli/src/platforms/container/handlers/proxy-start.ts
  apps/cli/templates/envoy.yaml
Due: none

fix handleUnlink bug
  packages/react-ui/src/components/resource/panels/ReferenceEntry.tsx
Due: react-ui, @semiont/react-ui

update test
  packages/react-ui/src/components/resource/panels/__tests__/ReferenceEntry.test.tsx
Due: none

fix handleUnlink bug (#520)
  packages/react-ui/src/components/resource/panels/ReferenceEntry.tsx
  packages/react-ui/src/components/resource/panels/__tests__/ReferenceEntry.test.tsx
Due: react-ui, @semiont/react-ui

bump version to 0.3.4
  apps/backend/package.json
  apps/cli/package.json
  apps/frontend/package.json
  package.json
  packages/api-client/package.json
  packages/content/package.json
  packages/core/package.json
  packages/event-sourcing/package.json
  packages/graph/package.json
  packages/inference/package.json
  packages/jobs/package.json
  packages/make-meaning/package.json
  packages/ontology/package.json
  packages/react-ui/package.json
  version.json
Due: api-client, content, core, event-sourcing, graph, inference, jobs, make-meaning, ontology, react-ui, frontend, backend, @semiont/core, @semiont/api-client, @semiont/ontology, @semiont/content, @semiont/event-sourcing, @semiont/graph, @semiont/inference, @semiont/jobs, @semiont/make-meaning, @semiont/react-ui

new Uint8Array(buffer) creates a view with a concrete ArrayBuffer backing, which satisfies BlobPart
  packages/api-client/src/client.ts
Due: api-client, @semiont/api-client

update @prisma/client to 7.5.0
  apps/backend/package.json
  apps/backend/prisma/schema.prisma
  apps/backend/src/__tests__/integration/simple-db.test.ts
  apps/backend/src/__tests__/setup/database.ts
  apps/backend/src/db.ts
  package-lock.json
Due: backend
