Repository The-AI-Alliance/semiont: changes, and which Codecov flags are due for each by the changed paths.
All: api-client, content, core, event-sourcing, graph, inference, jobs, make-meaning, mcp-server, ontology, react-ui, frontend, backend, @semiont/core, @semiont/api-client, @semiont/ontology, @semiont/content, @semiont/event-sourcing, @semiont/graph, @semiont/inference, @semiont/jobs, @semiont/make-meaning, @semiont/react-ui

codecov.yml:

# Codecov configuration for Semiont monorepo
# https://docs.codecov.io/docs/codecovyml-reference

codecov:
  # Require CI to finish before processing coverage
  require_ci_to_pass: true

  # Wait for all coverage reports before commenting
  notify:
    wait_for_ci: true

coverage:
  # Overall project coverage settings
  status:
    # Project-wide coverage status
    project:
      default:
        # Coverage can drop by 1% without failing
        threshold: 1%
        target: 70%  # Target 70% overall coverage

    # Per-PR patch coverage
    patch:
      default:
        # New code should have at least 80% coverage
        target: 80%
        threshold: 5%

  # Round coverage to 2 decimal places
  precision: 2
  round: down

  # Coverage range for color coding
  range: "50...90"

# Component-specific coverage configuration
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 1%
  individual_components:
    # Core packages with higher coverage requirements
    - component_id: core
      name: "@semiont/core"
      paths:
        - packages/core/**
    - component_id: api-client
      name: "@semiont/api-client"
      paths:
        - packages/api-client/**
    - component_id: ontology
      name: "@semiont/ontology"
      paths:
        - packages/ontology/**
    - component_id: content
      name: "@semiont/content"
      paths:
        - packages/content/**
    - component_id: event-sourcing
      name: "@semiont/event-sourcing"
      paths:
        - packages/event-sourcing/**
    - component_id: graph
      name: "@semiont/graph"
      paths:
        - packages/graph/**
    - component_id: inference
      name: "@semiont/inference"
      paths:
        - packages/inference/**
    - component_id: jobs
      name: "@semiont/jobs"
      paths:
        - packages/jobs/**
    - component_id: make-meaning
      name: "@semiont/make-meaning"
      paths:
        - packages/make-meaning/**
    - component_id: react-ui
      name: "@semiont/react-ui"
      paths:
        - packages/react-ui/**

# Ignore certain files from coverage
ignore:
  # Test files
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/*.spec.tsx"
  - "**/test/**"
  - "**/tests/**"
  - "**/__tests__/**"
  - "**/test-utils/**"

  # Build artifacts
  - "**/dist/**"
  - "**/build/**"
  - "**/coverage/**"
  - "**/.next/**"

  # Config files
  - "**/*.config.ts"
  - "**/*.config.js"
  - "**/jest.setup.ts"

  # Generated files
  - "**/generated/**"
  - "packages/api-client/src/types.ts"

  # Examples and demos
  - "**/examples/**"
  - "**/demo/**"

  # Scripts
  - "scripts/**"

# Comment configuration
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Flag configuration for different test suites
flags:
  # Individual package flags
  api-client:
    paths:
      - packages/api-client/**
    carryforward: true

  content:
    paths:
      - packages/content/**
    carryforward: true

  core:
    paths:
      - packages/core/**
    carryforward: true

  event-sourcing:
    paths:
      - packages/event-sourcing/**
    carryforward: true

  graph:
    paths:
      - packages/graph/**
    carryforward: true

  inference:
    paths:
      - packages/inference/**
    carryforward: true

  jobs:
    paths:
      - packages/jobs/**
    carryforward: true

  make-meaning:
    paths:
      - packages/make-meaning/**
    carryforward: true

  mcp-server:
    paths:
      - packages/mcp-server/**
    carryforward: true

  ontology:
    paths:
      - packages/ontology/**
    carryforward: true

  react-ui:
    paths:
      - packages/react-ui/**
    carryforward: true

  # App flags (for future use)
  frontend:
    paths:
      - apps/frontend/**
    carryforward: true

  backend:
    paths:
      - apps/backend/**
    carryforward: true

bump version to 0.5.38
  apps/browser/package.json
  apps/browser/package.publish.json
  apps/desktop/package.json
  apps/gateway/package.json
  apps/gateway/package.publish.json
  package-lock.json
  package.json
  packages/content/package.json
  packages/core/package.json
  packages/event-sourcing/package.json
  packages/graph/package.json
  packages/http-transport/package.json
  packages/inference/package.json
  packages/jobs/package.json
  packages/make-meaning/package.json
  packages/mcp-server/package.json
  packages/observability/package.json
  packages/ontology/package.json
  packages/react-ui/package.json
  packages/sdk/package.json
  packages/vectors/package.json
  version.json
Due: content, core, event-sourcing, graph, inference, jobs, make-meaning, mcp-server, ontology, react-ui, @semiont/core, @semiont/ontology, @semiont/content, @semiont/event-sourcing, @semiont/graph, @semiont/inference, @semiont/jobs, @semiont/make-meaning, @semiont/react-ui

bump version to 0.5.38 (#1380)
  apps/browser/package.json
  apps/browser/package.publish.json
  apps/desktop/package.json
  apps/gateway/package.json
  apps/gateway/package.publish.json
  package-lock.json
  package.json
  packages/content/package.json
  packages/core/package.json
  packages/event-sourcing/package.json
  packages/graph/package.json
  packages/http-transport/package.json
  packages/inference/package.json
  packages/jobs/package.json
  packages/make-meaning/package.json
  packages/mcp-server/package.json
  packages/observability/package.json
  packages/ontology/package.json
  packages/react-ui/package.json
  packages/sdk/package.json
  packages/vectors/package.json
  version.json
Due: content, core, event-sourcing, graph, inference, jobs, make-meaning, mcp-server, ontology, react-ui, @semiont/core, @semiont/ontology, @semiont/content, @semiont/event-sourcing, @semiont/graph, @semiont/inference, @semiont/jobs, @semiont/make-meaning, @semiont/react-ui

Generate channel attributes (recorded/direction/delivery) from the bus registry Gateway consumes CHANNEL_ATTRS; its local CORRELATED/PROGRESS partitions are gone
  apps/gateway/src/routes/bus.ts
  packages/core/src/__tests__/bus-classification.test.ts
  packages/core/src/bus-classification.ts
  packages/core/src/index.ts
  scripts/bus/generate-ts.mjs
Due: core, @semiont/core

Signal Plane P0: the seam — SignalPlane interface + in-process driver extracted from bus.ts Ledger split (address book vs entitlement); seven caps become construction options; 392 green
  apps/gateway/src/routes/bus.ts
  apps/gateway/src/signal/__tests__/conformance.test.ts
  apps/gateway/src/signal/channels.ts
  apps/gateway/src/signal/in-process.ts
  apps/gateway/src/signal/index.ts
  apps/gateway/src/signal/interface.ts
  apps/gateway/src/signal/ledger.ts
  apps/gateway/src/signal/options.ts
  packages/core/src/bus-request.ts
  packages/core/src/index.ts
Due: core, @semiont/core

Signal Plane P1: the NATS driver — core subjects, queue groups as handler mode Subject mapping stated once; four boundary gates mutation-proven; 404 green
  .github/workflows/ci.yml
  apps/gateway/package.json
  apps/gateway/src/routes/bus.ts
  apps/gateway/src/signal/__tests__/conformance.test.ts
  apps/gateway/src/signal/__tests__/driver-boundary.test.ts
  apps/gateway/src/signal/__tests__/nats-fixture.ts
  apps/gateway/src/signal/interface.ts
  apps/gateway/src/signal/nats.ts
  package-lock.json
  packages/jobs/src/index.ts
  packages/jobs/src/jetstream-job-queue.ts
Due: jobs, @semiont/jobs

Signal Plane P2: [signal] selection in both languages; jobs role → messaging Two-section vote + same-server refusal; lean signal-only daemon; 10 argv goldens byte-identical
  apps/gateway/src/index.ts
  apps/gateway/src/routes/bus.ts
  apps/launcher/internal/launcher/clean.go
  apps/launcher/internal/launcher/config.go
  apps/launcher/internal/launcher/flows.go
  apps/launcher/internal/launcher/memory.go
  apps/launcher/internal/launcher/plan.go
  apps/launcher/internal/launcher/rootstate.go
  apps/launcher/internal/launcher/service.go
  apps/launcher/internal/launcher/status.go
  apps/launcher/launcher_test.go
  apps/launcher/testdata/golden/start-dryrun-default.txt
  apps/launcher/testdata/golden/start-dryrun-local.txt
  apps/launcher/testdata/golden/start-signal-only-boot.argv
  packages/core/src/__tests__/config/toml-loader.test.ts
  packages/core/src/config/config.schema.json
  packages/core/src/config/toml-loader.ts
Due: core, @semiont/core

doc updates for signal plane
  docs/development/LOCAL-DEVELOPMENT.md
  docs/system/CONTAINER-TOPOLOGY.md
  docs/system/LOCAL-SEMIONT.md
  docs/system/administration/CONFIGURATION.md
  docs/system/administration/DEPLOYMENT.md
  docs/system/administration/SCALING.md
  docs/system/platforms/AWS.md
Due: none

doc updates
  apps/launcher/README.md
  docs/protocol/EVENT-BUS.md
  docs/system/administration/TROUBLESHOOTING.md
  docs/system/services/OVERVIEW.md
Due: none

doc updates
  apps/gateway/README.md
  apps/gateway/docs/ARCHITECTURE.md
  docs/protocol/EVENT-BUS.md
  docs/system/CONTAINER-TOPOLOGY.md
Due: none

release note script tweak
  scripts/release/notes-context.sh
Due: none

bump version to 0.5.39
  apps/browser/package.json
  apps/browser/package.publish.json
  apps/desktop/package.json
  apps/gateway/package.json
  apps/gateway/package.publish.json
  package-lock.json
  package.json
  packages/content/package.json
  packages/core/package.json
  packages/event-sourcing/package.json
  packages/graph/package.json
  packages/http-transport/package.json
  packages/inference/package.json
  packages/jobs/package.json
  packages/make-meaning/package.json
  packages/mcp-server/package.json
  packages/observability/package.json
  packages/ontology/package.json
  packages/react-ui/package.json
  packages/sdk/package.json
  packages/vectors/package.json
  version.json
Due: content, core, event-sourcing, graph, inference, jobs, make-meaning, mcp-server, ontology, react-ui, @semiont/core, @semiont/ontology, @semiont/content, @semiont/event-sourcing, @semiont/graph, @semiont/inference, @semiont/jobs, @semiont/make-meaning, @semiont/react-ui

2026 09 160 0.5.39 prep (#1383)
  apps/browser/package.json
  apps/browser/package.publish.json
  apps/desktop/package.json
  apps/gateway/package.json
  apps/gateway/package.publish.json
  package-lock.json
  package.json
  packages/content/package.json
  packages/core/package.json
  packages/event-sourcing/package.json
  packages/graph/package.json
  packages/http-transport/package.json
  packages/inference/package.json
  packages/jobs/package.json
  packages/make-meaning/package.json
  packages/mcp-server/package.json
  packages/observability/package.json
  packages/ontology/package.json
  packages/react-ui/package.json
  packages/sdk/package.json
  packages/vectors/package.json
  scripts/release/notes-context.sh
  version.json
Due: content, core, event-sourcing, graph, inference, jobs, make-meaning, mcp-server, ontology, react-ui, @semiont/core, @semiont/ontology, @semiont/content, @semiont/event-sourcing, @semiont/graph, @semiont/inference, @semiont/jobs, @semiont/make-meaning, @semiont/react-ui

Refuse a stream outside the subscription set; make isSubscribed required
  apps/gateway/src/signal/request-primitive.ts
  packages/core/src/__tests__/bus-request.test.ts
  packages/core/src/bus-request.ts
  packages/core/src/faulty-transport.ts
  packages/core/src/index.ts
  packages/core/src/scoped-channels.ts
  packages/core/src/transport.ts
  packages/http-transport/src/transport/__tests__/bus-invariants.test.ts
  packages/http-transport/src/transport/__tests__/http-transport.itransport.test.ts
  packages/http-transport/src/transport/__tests__/multi-scope-integration.test.ts
  packages/http-transport/src/transport/__tests__/stream-subscription-refusal.test.ts
  packages/http-transport/src/transport/actor-state-unit.ts
  packages/http-transport/src/transport/http-transport.ts
  packages/jobs/src/__tests__/job-claim-adapter.test.ts
  packages/make-meaning/src/__tests__/browse-resources.test.ts
  packages/make-meaning/src/__tests__/helpers/smelter-harness.ts
  packages/make-meaning/src/__tests__/smelter.test.ts
  packages/make-meaning/src/__tests__/weaver-actor-state-unit.test.ts
  packages/make-meaning/src/__tests__/worker-bus-local.test.ts
  packages/make-meaning/src/bus-request-local.ts
  packages/make-meaning/src/local-transport.ts
  packages/make-meaning/src/worker-bus-local.ts
  packages/sdk/src/__tests__/browse-await-fresh.test.ts
  packages/sdk/src/__tests__/browse-click-anchor.test.ts
  packages/sdk/src/__tests__/browse-concurrent-loaders.test.ts
  packages/sdk/src/__tests__/browse-content.test.ts
  packages/sdk/src/__tests__/browse-fetch-failure.test.ts
  packages/sdk/src/__tests__/browse-scope-by-observation.test.ts
  packages/sdk/src/__tests__/cache-rehydration.test.ts
  packages/sdk/src/__tests__/client-passthroughs.test.ts
  packages/sdk/src/__tests__/gather-resource.test.ts
  packages/sdk/src/__tests__/mark-annotation-target.test.ts
  packages/sdk/src/namespaces/__tests__/browse.test.ts
  packages/sdk/src/namespaces/__tests__/cache-semantics.test.ts
  packages/sdk/src/namespaces/__tests__/commands.test.ts
  packages/sdk/src/namespaces/__tests__/frame.test.ts
  packages/sdk/src/namespaces/__tests__/generation-stall.test.ts
  packages/sdk/src/namespaces/__tests__/mark-assist-churn.test.ts
  packages/sdk/src/namespaces/__tests__/ui-signals.test.ts
Due: core, make-meaning, @semiont/core, @semiont/make-meaning

Declare each client's channel manifest once; delete the widening verb
  packages/core/src/__tests__/bus-primitive-types.test.ts
  packages/http-transport/src/transport/actor-state-unit.ts
  packages/http-transport/src/transport/http-transport.ts
  packages/jobs/src/__tests__/job-claim-adapter.test.ts
  packages/jobs/src/__tests__/worker-manifest-census.test.ts
  packages/jobs/src/__tests__/worker-process.test.ts
  packages/jobs/src/__tests__/worker-runtime.test.ts
  packages/jobs/src/job-claim-adapter.ts
  packages/jobs/src/worker-process.ts
  packages/jobs/src/worker-runtime.ts
  packages/make-meaning/src/__tests__/client-manifest-census.test.ts
  packages/make-meaning/src/__tests__/helpers/smelter-harness.ts
  packages/make-meaning/src/__tests__/sidecar-boot-refusal.test.ts
  packages/make-meaning/src/__tests__/smelter-actor-state-unit.test.ts
  packages/make-meaning/src/__tests__/weaver-actor-state-unit.test.ts
  packages/make-meaning/src/__tests__/worker-bus-local.test.ts
  packages/make-meaning/src/index.ts
  packages/make-meaning/src/smelter-actor-state-unit.ts
  packages/make-meaning/src/smelter-main.ts
  packages/make-meaning/src/weaver-actor-state-unit.ts
  packages/make-meaning/src/weaver-main.ts
  packages/make-meaning/src/worker-bus-local.ts
  packages/react-ui/src/index.ts
  packages/sdk/src/state/index.ts
  packages/sdk/src/state/lib/worker-bus.ts
Due: jobs, make-meaning, react-ui, @semiont/jobs, @semiont/make-meaning, @semiont/react-ui

Prove the queue announcement reaches the REAL worker manifest
  apps/gateway/src/signal/__tests__/multi-instance.test.ts
  packages/jobs/src/index.ts
Due: jobs, @semiont/jobs

The react-ui transport fake answers the manifest honestly, and stops hiding behind a cast
  packages/react-ui/src/hooks/__tests__/useStateUnit.identity.test.tsx
Due: none

Build the sdk transport doubles through one typed helper, uncast
  packages/sdk/src/__tests__/browse-await-fresh.test.ts
  packages/sdk/src/__tests__/browse-click-anchor.test.ts
  packages/sdk/src/__tests__/browse-concurrent-loaders.test.ts
  packages/sdk/src/__tests__/browse-content.test.ts
  packages/sdk/src/__tests__/browse-fetch-failure.test.ts
  packages/sdk/src/__tests__/browse-scope-by-observation.test.ts
  packages/sdk/src/__tests__/cache-rehydration.test.ts
  packages/sdk/src/__tests__/client-passthroughs.test.ts
  packages/sdk/src/__tests__/fixtures/annotation.ts
  packages/sdk/src/__tests__/fixtures/resource.ts
  packages/sdk/src/__tests__/gather-resource.test.ts
  packages/sdk/src/__tests__/helpers/in-memory-transport.ts
  packages/sdk/src/__tests__/mark-annotation-target.test.ts
  packages/sdk/src/namespaces/__tests__/browse.test.ts
  packages/sdk/src/namespaces/__tests__/cache-semantics.test.ts
  packages/sdk/src/namespaces/__tests__/commands.test.ts
  packages/sdk/src/namespaces/__tests__/frame.test.ts
  packages/sdk/src/namespaces/__tests__/generation-stall.test.ts
  packages/sdk/src/namespaces/__tests__/mark-assist-churn.test.ts
  packages/sdk/src/namespaces/__tests__/ui-signals.test.ts
Due: none

Close the subscribe race in H7 instead of widening its timeout
  apps/gateway/src/signal/__tests__/multi-instance.test.ts
Due: none

Declare how each channel crosses the wire, on two axes
  packages/core/src/__tests__/bus-classification.test.ts
  packages/core/src/__tests__/bus-invariants.test.ts
  packages/core/src/__tests__/registry-axes.test.ts
  packages/core/src/bridged-channels.ts
  packages/core/src/bus-classification.ts
  packages/core/src/index.ts
  packages/core/src/scoped-channels.ts
  packages/sdk-go/bus/bridged_gen.go
  scripts/bus/generate-go.mjs
  scripts/bus/generate-ts.mjs
  scripts/bus/validate-registry.mjs
  specs/src/bus/registry.json
Due: core, @semiont/core

Prove the audience change where routing happens, not in a list
  apps/gateway/src/signal/__tests__/multi-instance.test.ts
Due: none

Declare how each channel crosses the wire, on two axes (#1385)
  apps/gateway/src/signal/__tests__/multi-instance.test.ts
  packages/core/src/__tests__/bus-classification.test.ts
  packages/core/src/__tests__/bus-invariants.test.ts
  packages/core/src/__tests__/registry-axes.test.ts
  packages/core/src/bridged-channels.ts
  packages/core/src/bus-classification.ts
  packages/core/src/index.ts
  packages/core/src/scoped-channels.ts
  packages/sdk-go/bus/bridged_gen.go
  scripts/bus/generate-go.mjs
  scripts/bus/generate-ts.mjs
  scripts/bus/validate-registry.mjs
  specs/src/bus/registry.json
Due: core, @semiont/core

Match correlated replies on the envelope, not inside the payload
  packages/core/src/__tests__/bus-request.test.ts
  packages/core/src/__tests__/correlation-on-envelope.test.ts
  packages/core/src/__tests__/faulty-transport.test.ts
  packages/core/src/bus-request.ts
  packages/core/src/faulty-transport.ts
  packages/core/src/transport.ts
Due: core, @semiont/core

Give every fabric the same envelope; drivers ferry it without reading it
  apps/gateway/src/routes/bus.ts
  apps/gateway/src/signal/__tests__/conformance.test.ts
  apps/gateway/src/signal/__tests__/multi-instance.test.ts
  apps/gateway/src/signal/in-process.ts
  apps/gateway/src/signal/interface.ts
  apps/gateway/src/signal/nats.ts
  apps/gateway/src/signal/request-primitive.ts
  packages/core/src/index.ts
  packages/http-transport/src/transport/__tests__/actor-state-unit.test.ts
  packages/http-transport/src/transport/actor-state-unit.ts
  packages/http-transport/src/transport/http-transport.ts
  packages/make-meaning/src/bus-request-local.ts
  packages/make-meaning/src/worker-bus-local.ts
Due: core, make-meaning, @semiont/core, @semiont/make-meaning

Move responder echoes onto the envelope; frames reaches every transport
  apps/gateway/src/__tests__/routes/resource-pipe.test.ts
  packages/jobs/src/__tests__/job-claim-adapter.test.ts
  packages/make-meaning/src/__tests__/annotation-operations.test.ts
  packages/make-meaning/src/__tests__/archivist-decoupling.test.ts
  packages/make-meaning/src/__tests__/browse-resources.test.ts
  packages/make-meaning/src/__tests__/browser-anchored-text.test.ts
  packages/make-meaning/src/__tests__/browser.test.ts
  packages/make-meaning/src/__tests__/clone-token-manager.test.ts
  packages/make-meaning/src/__tests__/gatherer.test.ts
  packages/make-meaning/src/__tests__/handlers/annotation-assembly.test.ts
  packages/make-meaning/src/__tests__/handlers/job-commands.test.ts
  packages/make-meaning/src/__tests__/helpers/smelter-harness.ts
  packages/make-meaning/src/__tests__/job-status-channel.test.ts
  packages/make-meaning/src/__tests__/smelter.test.ts
  packages/make-meaning/src/__tests__/stower-entity-types.test.ts
  packages/make-meaning/src/__tests__/stower-job-events.test.ts
  packages/make-meaning/src/__tests__/weaver-actor-state-unit.test.ts
  packages/make-meaning/src/archivist-main.ts
  packages/make-meaning/src/browser.ts
  packages/make-meaning/src/clone-token-manager.ts
  packages/make-meaning/src/gatherer.ts
  packages/make-meaning/src/handlers/annotation-assembly.ts
  packages/make-meaning/src/handlers/annotation-lookups.ts
  packages/make-meaning/src/handlers/bind-update-body.ts
  packages/make-meaning/src/handlers/job-commands.ts
  packages/make-meaning/src/local-transport.ts
  packages/make-meaning/src/matcher.ts
  packages/make-meaning/src/stower.ts
  packages/make-meaning/src/weaver.ts
  packages/react-ui/src/components/modals/__tests__/ReferenceWizardModal.test.tsx
  packages/react-ui/src/hooks/__tests__/useOutcomeToasts.test.tsx
  packages/react-ui/src/hooks/__tests__/useStateUnit.identity.test.tsx
  packages/sdk/src/__tests__/helpers/in-memory-transport.ts
  packages/sdk/src/namespaces/__tests__/browse.test.ts
  packages/sdk/src/namespaces/__tests__/cache-semantics.test.ts
  packages/sdk/src/namespaces/__tests__/commands.test.ts
  packages/sdk/src/namespaces/__tests__/generation-stall.test.ts
  packages/sdk/src/namespaces/match.ts
  packages/sdk/src/state/flows/match-state-unit.ts
Due: make-meaning, @semiont/make-meaning

Census correlationId out of payloads: a type half and a read half, both mutation-proven.
  apps/gateway/src/signal/ledger.ts
  packages/core/src/__tests__/correlation-not-in-payload-types.test.ts
  packages/core/src/__tests__/correlation-not-read-from-payloads.test.ts
  packages/sdk/src/__tests__/client-passthroughs.test.ts
Due: none

Classify mark:body-update-failed as a declared event so the bridge carries it.
  packages/core/src/bus-classification.ts
  packages/make-meaning/src/handlers/__tests__/bind-update-body.test.ts
  packages/make-meaning/src/handlers/__tests__/gateway-handler-census.test.ts
  specs/src/bus/registry.json
Due: core, @semiont/core

sdk docs teach the frame-carrying bus, not the Subject it replaced
  packages/sdk/docs/CACHE-SEMANTICS.md
  packages/sdk/docs/REACTIVE-MODEL.md
  packages/sdk/docs/STATE-UNITS.md
  packages/sdk/docs/Usage.md
Due: none

Test doubles follow correlationId onto the envelope — fakert and the sdk-go bus fake still read it from the payload, so every launcher request timed out
  apps/launcher/internal/fakert/main.go
  apps/launcher/internal/launcher/frame_test.go
  apps/launcher/internal/launcher/gather.go
  apps/launcher/internal/launcher/verbs_test.go
  packages/sdk-go/bus/client_test.go
Due: none

update event protocol doc
  docs/protocol/EVENT-BUS.md
Due: none

Remove the streaming delivery class: gather:annotation-progress, its schema, both consumers, and the machinery that served them.
  apps/gateway/src/__tests__/routes/bus.test.ts
  apps/gateway/src/signal/channels.ts
  apps/gateway/src/signal/index.ts
  apps/gateway/src/signal/ledger.ts
  apps/launcher/internal/launcher/gather.go
  docs/protocol/EVENT-BUS.md
  packages/core/src/__tests__/bus-classification.test.ts
  packages/core/src/__tests__/bus-invariants.test.ts
  packages/core/src/__tests__/correlated-reply-wire.test.ts
  packages/core/src/bridged-channels.ts
  packages/core/src/bus-classification.ts
  packages/core/src/bus-operations.ts
  packages/core/src/bus-protocol.ts
  packages/core/src/bus-request.ts
  packages/jobs/src/worker-process.ts
  packages/mcp-server/src/__fixtures__/stub-client.ts
  packages/mcp-server/src/handlers.test.ts
  packages/mcp-server/src/handlers.ts
  packages/sdk-go/bus/bridged_gen.go
  packages/sdk-go/bus/bridged_test.go
  packages/sdk-go/bus/channels_gen.go
  packages/sdk-go/bus/client.go
  packages/sdk-go/bus/client_test.go
  packages/sdk-go/bus/operations_gen.go
  packages/sdk-go/client_gen.go
  packages/sdk/src/namespaces/gather.ts
  packages/sdk/src/namespaces/types.ts
  scripts/bus/generate-go.mjs
  scripts/bus/generate-ts.mjs
  specs/src/bus/registry.json
  specs/src/components/schemas/GatherProgress.json
  specs/src/openapi.json
Due: core, jobs, mcp-server, @semiont/core, @semiont/jobs

Fix the gather doc snippet the streaming removal falsified, and give H5 the subscribe barrier H1 and H6 already have.
  apps/gateway/src/signal/__tests__/multi-instance.test.ts
  packages/sdk/docs/Usage.md
Due: none

Remove the streaming delivery class: one declared channel, no producer, ever (#1388)
  apps/gateway/src/__tests__/routes/bus.test.ts
  apps/gateway/src/signal/__tests__/multi-instance.test.ts
  apps/gateway/src/signal/channels.ts
  apps/gateway/src/signal/index.ts
  apps/gateway/src/signal/ledger.ts
  apps/launcher/internal/launcher/gather.go
  docs/protocol/EVENT-BUS.md
  packages/core/src/__tests__/bus-classification.test.ts
  packages/core/src/__tests__/bus-invariants.test.ts
  packages/core/src/__tests__/correlated-reply-wire.test.ts
  packages/core/src/bridged-channels.ts
  packages/core/src/bus-classification.ts
  packages/core/src/bus-operations.ts
  packages/core/src/bus-protocol.ts
  packages/core/src/bus-request.ts
  packages/jobs/src/worker-process.ts
  packages/mcp-server/src/__fixtures__/stub-client.ts
  packages/mcp-server/src/handlers.test.ts
  packages/mcp-server/src/handlers.ts
  packages/sdk-go/bus/bridged_gen.go
  packages/sdk-go/bus/bridged_test.go
  packages/sdk-go/bus/channels_gen.go
  packages/sdk-go/bus/client.go
  packages/sdk-go/bus/client_test.go
  packages/sdk-go/bus/operations_gen.go
  packages/sdk-go/client_gen.go
  packages/sdk/docs/Usage.md
  packages/sdk/src/namespaces/gather.ts
  packages/sdk/src/namespaces/types.ts
  scripts/bus/generate-go.mjs
  scripts/bus/generate-ts.mjs
  specs/src/bus/registry.json
  specs/src/components/schemas/GatherProgress.json
  specs/src/openapi.json
Due: core, jobs, mcp-server, @semiont/core, @semiont/jobs

resolve conflict
  docs/protocol/EVENT-BUS.md
Due: none
