Repository The-AI-Alliance/semiont: changes, and which Codecov flags are due for each by the changed paths.
All: api-client, content, core, event-sourcing, graph, inference, jobs, make-meaning, mcp-server, ontology, react-ui, frontend, backend, @semiont/core, @semiont/api-client, @semiont/ontology, @semiont/content, @semiont/event-sourcing, @semiont/graph, @semiont/inference, @semiont/jobs, @semiont/make-meaning, @semiont/react-ui

codecov.yml:

# Codecov configuration for Semiont monorepo
# https://docs.codecov.io/docs/codecovyml-reference

codecov:
  # Require CI to finish before processing coverage
  require_ci_to_pass: true

  # Wait for all coverage reports before commenting
  notify:
    wait_for_ci: true

coverage:
  # Overall project coverage settings
  status:
    # Project-wide coverage status
    project:
      default:
        # Coverage can drop by 1% without failing
        threshold: 1%
        target: 70%  # Target 70% overall coverage

    # Per-PR patch coverage
    patch:
      default:
        # New code should have at least 80% coverage
        target: 80%
        threshold: 5%

  # Round coverage to 2 decimal places
  precision: 2
  round: down

  # Coverage range for color coding
  range: "50...90"

# Component-specific coverage configuration
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 1%
  individual_components:
    # Core packages with higher coverage requirements
    - component_id: core
      name: "@semiont/core"
      paths:
        - packages/core/**
    - component_id: api-client
      name: "@semiont/api-client"
      paths:
        - packages/api-client/**
    - component_id: ontology
      name: "@semiont/ontology"
      paths:
        - packages/ontology/**
    - component_id: content
      name: "@semiont/content"
      paths:
        - packages/content/**
    - component_id: event-sourcing
      name: "@semiont/event-sourcing"
      paths:
        - packages/event-sourcing/**
    - component_id: graph
      name: "@semiont/graph"
      paths:
        - packages/graph/**
    - component_id: inference
      name: "@semiont/inference"
      paths:
        - packages/inference/**
    - component_id: jobs
      name: "@semiont/jobs"
      paths:
        - packages/jobs/**
    - component_id: make-meaning
      name: "@semiont/make-meaning"
      paths:
        - packages/make-meaning/**
    - component_id: react-ui
      name: "@semiont/react-ui"
      paths:
        - packages/react-ui/**

# Ignore certain files from coverage
ignore:
  # Test files
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/*.spec.tsx"
  - "**/test/**"
  - "**/tests/**"
  - "**/__tests__/**"
  - "**/test-utils/**"

  # Build artifacts
  - "**/dist/**"
  - "**/build/**"
  - "**/coverage/**"
  - "**/.next/**"

  # Config files
  - "**/*.config.ts"
  - "**/*.config.js"
  - "**/jest.setup.ts"

  # Generated files
  - "**/generated/**"
  - "packages/api-client/src/types.ts"

  # Examples and demos
  - "**/examples/**"
  - "**/demo/**"

  # Scripts
  - "scripts/**"

# Comment configuration
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Flag configuration for different test suites
flags:
  # Individual package flags
  api-client:
    paths:
      - packages/api-client/**
    carryforward: true

  content:
    paths:
      - packages/content/**
    carryforward: true

  core:
    paths:
      - packages/core/**
    carryforward: true

  event-sourcing:
    paths:
      - packages/event-sourcing/**
    carryforward: true

  graph:
    paths:
      - packages/graph/**
    carryforward: true

  inference:
    paths:
      - packages/inference/**
    carryforward: true

  jobs:
    paths:
      - packages/jobs/**
    carryforward: true

  make-meaning:
    paths:
      - packages/make-meaning/**
    carryforward: true

  mcp-server:
    paths:
      - packages/mcp-server/**
    carryforward: true

  ontology:
    paths:
      - packages/ontology/**
    carryforward: true

  react-ui:
    paths:
      - packages/react-ui/**
    carryforward: true

  # App flags (for future use)
  frontend:
    paths:
      - apps/frontend/**
    carryforward: true

  backend:
    paths:
      - apps/backend/**
    carryforward: true

update container diagram and doc
  docs/operator/CONTAINER-TOPOLOGY.md
Due: none

Batch 14 Dependabot updates: 16 PRs across npm, Cargo, Docker and the Rust toolchain
  Cargo.lock
  apps/browser/package.json
  apps/desktop/Dockerfile.builder
  apps/desktop/package.json
  apps/desktop/src-tauri/Cargo.lock
  package-lock.json
  packages/content/package.json
  packages/core/package.json
  packages/event-sourcing/package.json
  packages/graph/package.json
  packages/http-transport/package.json
  packages/inference/package.json
  packages/jobs/package.json
  packages/make-meaning/package.json
  packages/mcp-server/package.json
  packages/observability/package.json
  packages/ontology/package.json
  packages/react-ui/package.json
  packages/sdk/package.json
  packages/vectors/package.json
  rust-toolchain.toml
  tests/conformance/package-lock.json
  tests/e2e/package-lock.json
Due: content, core, event-sourcing, graph, inference, jobs, make-meaning, mcp-server, ontology, react-ui, @semiont/core, @semiont/ontology, @semiont/content, @semiont/event-sourcing, @semiont/graph, @semiont/inference, @semiont/jobs, @semiont/make-meaning, @semiont/react-ui

Batch 14 Dependabot updates: 16 PRs across npm, Cargo, Docker and the Rust toolchain (#1585)
  Cargo.lock
  apps/browser/package.json
  apps/desktop/Dockerfile.builder
  apps/desktop/package.json
  apps/desktop/src-tauri/Cargo.lock
  docs/operator/CONTAINER-TOPOLOGY.md
  package-lock.json
  packages/content/package.json
  packages/core/package.json
  packages/event-sourcing/package.json
  packages/graph/package.json
  packages/http-transport/package.json
  packages/inference/package.json
  packages/jobs/package.json
  packages/make-meaning/package.json
  packages/mcp-server/package.json
  packages/observability/package.json
  packages/ontology/package.json
  packages/react-ui/package.json
  packages/sdk/package.json
  packages/vectors/package.json
  rust-toolchain.toml
  tests/conformance/package-lock.json
  tests/e2e/package-lock.json
Due: content, core, event-sourcing, graph, inference, jobs, make-meaning, mcp-server, ontology, react-ui, @semiont/core, @semiont/ontology, @semiont/content, @semiont/event-sourcing, @semiont/graph, @semiont/inference, @semiont/jobs, @semiont/make-meaning, @semiont/react-ui

Put git behind a staging driver; honor [git] sync and refuse a mismatch at boot
  .github/workflows/architecture-compliance.yml
  apps/archivist/README.md
  package.json
  packages/content/README.md
  packages/content/docs/API.md
  packages/content/docs/architecture.md
  packages/content/src/__tests__/git-staging-telemetry.test.ts
  packages/content/src/__tests__/git-staging.test.ts
  packages/content/src/__tests__/staging-contract.test.ts
  packages/content/src/__tests__/working-tree-store.test.ts
  packages/content/src/git-staging.ts
  packages/content/src/index.ts
  packages/content/src/staging.ts
  packages/content/src/working-tree-store.ts
  packages/core/src/__tests__/project.test.ts
  packages/core/src/project.ts
  packages/core/src/resource-operations.ts
  packages/event-sourcing/src/__tests__/event-store.test.ts
  packages/event-sourcing/src/storage/event-storage.ts
  packages/make-meaning/docs/architecture.md
  packages/make-meaning/src/__tests__/archivist-decoupling.test.ts
  packages/make-meaning/src/__tests__/archivist-read-path.test.ts
  packages/make-meaning/src/__tests__/browser-kb.test.ts
  packages/make-meaning/src/__tests__/clone-token-manager.test.ts
  packages/make-meaning/src/__tests__/representation.test.ts
  packages/make-meaning/src/archivist-main.ts
  packages/make-meaning/src/archivist-read-path.ts
  packages/make-meaning/src/browser.ts
  packages/make-meaning/src/clone-token-manager.ts
  packages/make-meaning/src/knowledge-base.ts
  packages/make-meaning/src/stower.ts
  packages/sdk-go/client_gen.go
  packages/sdk-rust/src/namespaces/mark.rs
  scripts/lint/check-staging-boundary.mjs
  specs/src/components/schemas/KbDescription.json
  specs/src/components/schemas/MarkArchiveCommand.json
  specs/src/components/schemas/YieldClonePersistCommand.json
  specs/src/components/schemas/YieldCreateCommand.json
  specs/src/components/schemas/YieldMvCommand.json
  specs/src/components/schemas/YieldUpdateCommand.json
Due: content, core, event-sourcing, make-meaning, @semiont/core, @semiont/content, @semiont/event-sourcing, @semiont/make-meaning

Put git behind a staging driver; honor [git] sync and refuse a mismatch at boot (#1586)
  .github/workflows/architecture-compliance.yml
  apps/archivist/README.md
  package.json
  packages/content/README.md
  packages/content/docs/API.md
  packages/content/docs/architecture.md
  packages/content/src/__tests__/git-staging-telemetry.test.ts
  packages/content/src/__tests__/git-staging.test.ts
  packages/content/src/__tests__/staging-contract.test.ts
  packages/content/src/__tests__/working-tree-store.test.ts
  packages/content/src/git-staging.ts
  packages/content/src/index.ts
  packages/content/src/staging.ts
  packages/content/src/working-tree-store.ts
  packages/core/src/__tests__/project.test.ts
  packages/core/src/project.ts
  packages/core/src/resource-operations.ts
  packages/event-sourcing/src/__tests__/event-store.test.ts
  packages/event-sourcing/src/storage/event-storage.ts
  packages/make-meaning/docs/architecture.md
  packages/make-meaning/src/__tests__/archivist-decoupling.test.ts
  packages/make-meaning/src/__tests__/archivist-read-path.test.ts
  packages/make-meaning/src/__tests__/browser-kb.test.ts
  packages/make-meaning/src/__tests__/clone-token-manager.test.ts
  packages/make-meaning/src/__tests__/representation.test.ts
  packages/make-meaning/src/archivist-main.ts
  packages/make-meaning/src/archivist-read-path.ts
  packages/make-meaning/src/browser.ts
  packages/make-meaning/src/clone-token-manager.ts
  packages/make-meaning/src/knowledge-base.ts
  packages/make-meaning/src/stower.ts
  packages/sdk-go/client_gen.go
  packages/sdk-rust/src/namespaces/mark.rs
  scripts/lint/check-staging-boundary.mjs
  specs/src/components/schemas/KbDescription.json
  specs/src/components/schemas/MarkArchiveCommand.json
  specs/src/components/schemas/YieldClonePersistCommand.json
  specs/src/components/schemas/YieldCreateCommand.json
  specs/src/components/schemas/YieldMvCommand.json
  specs/src/components/schemas/YieldUpdateCommand.json
Due: content, core, event-sourcing, make-meaning, @semiont/core, @semiont/content, @semiont/event-sourcing, @semiont/make-meaning

The Archivist stops writing entity types into the graph at boot; the Weaver already does
  packages/make-meaning/src/__tests__/archivist-decoupling.test.ts
  packages/make-meaning/src/__tests__/browser-kb.test.ts
  packages/make-meaning/src/archivist-main.ts
  packages/make-meaning/src/browser.ts
Due: make-meaning, @semiont/make-meaning

add TLS note
  apps/gateway/docs/ARCHITECTURE.md
Due: none

Remove LocalEndpoint from the TypeScript and Rust SDKs: a knowledge base's endpoint is always an HTTP gateway
  apps/browser/src/components/KnowledgeBasePanel.tsx
  docs/builder/Usage.md
  packages/http-transport-rust/src/session.rs
  packages/http-transport-rust/tests/sign_in.rs
  packages/sdk-rust/src/session/browser.rs
  packages/sdk-rust/src/session/knowledge_base.rs
  packages/sdk/src/index.ts
  packages/sdk/src/session/http-session-factory.ts
  packages/sdk/src/session/knowledge-base.ts
  packages/sdk/src/session/semiont-browser.ts
  packages/sdk/src/session/semiont-session.ts
  packages/sdk/src/session/storage.ts
Due: none

Revert "Remove LocalEndpoint from the TypeScript and Rust SDKs: a knowledge base's endpoint is always an HTTP gateway"
  apps/browser/src/components/KnowledgeBasePanel.tsx
  docs/builder/Usage.md
  packages/http-transport-rust/src/session.rs
  packages/http-transport-rust/tests/sign_in.rs
  packages/sdk-rust/src/session/browser.rs
  packages/sdk-rust/src/session/knowledge_base.rs
  packages/sdk/src/index.ts
  packages/sdk/src/session/http-session-factory.ts
  packages/sdk/src/session/knowledge-base.ts
  packages/sdk/src/session/semiont-browser.ts
  packages/sdk/src/session/semiont-session.ts
  packages/sdk/src/session/storage.ts
Due: none

Launcher health-port test reads the Archivist's entry point at src/archivist/
  apps/launcher/internal/launcher/imagepaths_test.go
Due: none

Add the Archivist conformance suite; put the state volume in its document
  .github/workflows/ci.yml
  apps/archivist/README.md
  apps/launcher/internal/launcher/archivistdoc.go
  apps/launcher/internal/launcher/archivistdoc_test.go
  apps/launcher/internal/launcher/rootstate.go
  apps/launcher/internal/launcher/start.go
  apps/launcher/internal/launcher/state_persistence_test.go
  apps/launcher/testdata/golden/start-default-boot.argv
  apps/launcher/testdata/golden/start-docker-boot.argv
  apps/launcher/testdata/golden/start-dryrun-default.txt
  apps/launcher/testdata/golden/start-dryrun-keycloak-identity.txt
  apps/launcher/testdata/golden/start-dryrun-local.txt
  apps/launcher/testdata/golden/start-host-ollama-boot.argv
  apps/launcher/testdata/golden/start-keycloak-identity-boot.argv
  apps/launcher/testdata/golden/start-local-version-boot.argv
  apps/launcher/testdata/golden/start-no-observe-boot.argv
  docs/protocol/ARCHIVIST.md
  packages/core/src/project.ts
  packages/make-meaning/src/__tests__/archivist-config.test.ts
  packages/make-meaning/src/archivist/archivist-main.ts
  packages/sdk-go/client_gen.go
  specs/src/components/schemas/ArchivistConfig.json
  tests/conformance/README.md
  tests/conformance/archivist/README.md
  tests/conformance/archivist/annotations.test.ts
  tests/conformance/archivist/boot.test.ts
  tests/conformance/archivist/browse.test.ts
  tests/conformance/archivist/clone.test.ts
  tests/conformance/archivist/jobs.test.ts
  tests/conformance/archivist/record.test.ts
  tests/conformance/archivist/resources.test.ts
  tests/conformance/archivist/staging.test.ts
  tests/conformance/harness/archivist-process.ts
  tests/conformance/harness/archivist-setup.ts
  tests/conformance/harness/archivist-world.ts
  tests/conformance/harness/paths.ts
  tests/conformance/package.json
  tests/conformance/vitest.config.ts
Due: core, make-meaning, @semiont/core, @semiont/make-meaning

Share the gateway's HTTP serving and token verification; start the Archivist's Rust crates
  .github/codeql/codeql-config.yml
  .github/workflows/ci.yml
  Cargo.lock
  Cargo.toml
  apps/archivist/record/Cargo.toml
  apps/archivist/record/src/lib.rs
  apps/archivist/record/src/shard.rs
  apps/archivist/record/tests/shard_table.rs
  apps/dispatcher/Dockerfile
  apps/gateway/Cargo.toml
  apps/gateway/Dockerfile
  apps/gateway/docs/ARCHITECTURE.md
  apps/gateway/docs/AUTHENTICATION.md
  apps/gateway/src/app.rs
  apps/gateway/src/http.rs
  apps/gateway/src/lib.rs
  apps/gateway/src/principal.rs
  apps/gateway/src/routes/stream.rs
  apps/gateway/src/routes/tokens.rs
  docs/architecture/PACKAGE-ARCHITECTURE.md
  docs/contributor/README.md
  packages/README.md
  packages/core-rust/build.rs
  packages/http-service-rust/Cargo.toml
  packages/http-service-rust/README.md
  packages/http-service-rust/src/bearer.rs
  packages/http-service-rust/src/issuer.rs
  packages/http-service-rust/src/lib.rs
  packages/http-service-rust/src/serve.rs
  packages/sdk-go/client_gen.go
  scripts/lint/check-rust-images.mjs
  scripts/lint/check-staging-boundary.mjs
  scripts/spec/check-archivist.mjs
  specs/src/components/schemas/AnchoredTextDeclinedEntry.json
  specs/src/components/schemas/AnchoredTextEntry.json
  specs/src/components/schemas/AnchoredTextExtractedEntry.json
  specs/src/openapi.json
Due: none

bump version to 0.6.12
  Cargo.lock
  Cargo.toml
  apps/browser/package.json
  apps/browser/package.publish.json
  apps/desktop/package.json
  package-lock.json
  package.json
  packages/content/package.json
  packages/core/package.json
  packages/event-sourcing/package.json
  packages/graph/package.json
  packages/http-transport/package.json
  packages/inference/package.json
  packages/jobs/package.json
  packages/make-meaning/package.json
  packages/mcp-server/package.json
  packages/observability/package.json
  packages/ontology/package.json
  packages/react-ui/package.json
  packages/sdk/package.json
  packages/vectors/package.json
  version.json
Due: content, core, event-sourcing, graph, inference, jobs, make-meaning, mcp-server, ontology, react-ui, @semiont/core, @semiont/ontology, @semiont/content, @semiont/event-sourcing, @semiont/graph, @semiont/inference, @semiont/jobs, @semiont/make-meaning, @semiont/react-ui

bump version to 0.6.12 (#1596)
  Cargo.lock
  Cargo.toml
  apps/browser/package.json
  apps/browser/package.publish.json
  apps/desktop/package.json
  package-lock.json
  package.json
  packages/content/package.json
  packages/core/package.json
  packages/event-sourcing/package.json
  packages/graph/package.json
  packages/http-transport/package.json
  packages/inference/package.json
  packages/jobs/package.json
  packages/make-meaning/package.json
  packages/mcp-server/package.json
  packages/observability/package.json
  packages/ontology/package.json
  packages/react-ui/package.json
  packages/sdk/package.json
  packages/vectors/package.json
  version.json
Due: content, core, event-sourcing, graph, inference, jobs, make-meaning, mcp-server, ontology, react-ui, @semiont/core, @semiont/ontology, @semiont/content, @semiont/event-sourcing, @semiont/graph, @semiont/inference, @semiont/jobs, @semiont/make-meaning, @semiont/react-ui

local-build: hold the Python SDK's models in a Python container, image derived from requires-python
  scripts/ci/local-build.sh
Due: none

Python SDK: the bus over HTTP — the stream, emits and requests, held to 26 wire cases
  packages/sdk-python/README.md
  packages/sdk-python/conformance/live.py
  packages/sdk-python/conformance/protocol.py
  packages/sdk-python/conformance/wire.py
  packages/sdk-python/pyproject.toml
  packages/sdk-python/src/semiont/__init__.py
  packages/sdk-python/src/semiont/bus.py
  packages/sdk-python/src/semiont/channels.py
  packages/sdk-python/src/semiont/errors.py
  packages/sdk-python/src/semiont/events.py
  packages/sdk-python/src/semiont/http/__init__.py
  packages/sdk-python/src/semiont/http/sse.py
  packages/sdk-python/src/semiont/http/stream.py
  packages/sdk-python/src/semiont/http/transport.py
  packages/sdk-python/src/semiont/operations.py
  packages/sdk-python/src/semiont/retry.py
  packages/sdk-python/src/semiont/transport.py
  packages/sdk-python/src/semiont/watched.py
  packages/sdk-python/tests/aio.py
  packages/sdk-python/tests/refusals/a_state_left_unhandled.py
  packages/sdk-python/tests/refusals/an_emit_given_what_it_does_not_carry.py
  packages/sdk-python/tests/stub_gateway.py
  packages/sdk-python/tests/test_census.py
  packages/sdk-python/tests/test_channels.py
  packages/sdk-python/tests/test_drivers.py
  packages/sdk-python/tests/test_events.py
  packages/sdk-python/tests/test_http_transport.py
  packages/sdk-python/tests/test_retry.py
  packages/sdk-python/tests/test_sse.py
  packages/sdk-python/tests/test_transport.py
  packages/sdk-python/tests/test_watched.py
  packages/sdk-python/uv.lock
  scripts/bus/generate-python.mjs
  tests/conformance/harness/paths.ts
  tests/conformance/sdk/README.md
Due: none

Python SDK: content, the gateway's operations and telemetry — all 33 wire cases, no exemptions
  .github/workflows/ci.yml
  package.json
  packages/sdk-python/README.md
  packages/sdk-python/conformance/wire.py
  packages/sdk-python/pyproject.toml
  packages/sdk-python/scripts/generate_models.py
  packages/sdk-python/src/semiont/__init__.py
  packages/sdk-python/src/semiont/http/__init__.py
  packages/sdk-python/src/semiont/http/content.py
  packages/sdk-python/src/semiont/http/exchange.py
  packages/sdk-python/src/semiont/http/stream.py
  packages/sdk-python/src/semiont/http/transport.py
  packages/sdk-python/src/semiont/retry.py
  packages/sdk-python/src/semiont/telemetry.py
  packages/sdk-python/src/semiont/telemetry_table.py
  packages/sdk-python/src/semiont/transport.py
  packages/sdk-python/src/semiont/types.py
  packages/sdk-python/tests/aio.py
  packages/sdk-python/tests/stub_gateway.py
  packages/sdk-python/tests/test_census.py
  packages/sdk-python/tests/test_drivers.py
  packages/sdk-python/tests/test_http_content.py
  packages/sdk-python/tests/test_http_transport.py
  packages/sdk-python/tests/test_retry.py
  packages/sdk-python/tests/test_telemetry.py
  packages/sdk-python/tests/test_types.py
  packages/sdk-python/uv.lock
  scripts/ci/local-build.sh
  scripts/spec/generate-sdk-telemetry-python.mjs
  tests/conformance/harness/paths.ts
  tests/conformance/sdk/README.md
Due: none

Python SDK P7: the cache and live queries, held to the live corpus at parity
  packages/sdk-python/README.md
  packages/sdk-python/conformance/live.py
  packages/sdk-python/src/semiont/cache.py
  packages/sdk-python/src/semiont/cached.py
  packages/sdk-python/src/semiont/client.py
  packages/sdk-python/src/semiont/http/__init__.py
  packages/sdk-python/src/semiont/http/session.py
  packages/sdk-python/src/semiont/http/stream.py
  packages/sdk-python/src/semiont/http/transport.py
  packages/sdk-python/src/semiont/namespaces/browse.py
  packages/sdk-python/src/semiont/namespaces/gather.py
  packages/sdk-python/src/semiont/namespaces/live.py
  packages/sdk-python/src/semiont/namespaces/match.py
  packages/sdk-python/src/semiont/namespaces/refresher.py
  packages/sdk-python/src/semiont/resume.py
  packages/sdk-python/src/semiont/storage.py
  packages/sdk-python/src/semiont/transport.py
  packages/sdk-python/tests/kb.py
  packages/sdk-python/tests/refusals/a_live_query_read_wrongly.py
  packages/sdk-python/tests/scripted_transport.py
  packages/sdk-python/tests/test_cache.py
  packages/sdk-python/tests/test_drivers.py
  packages/sdk-python/tests/test_event_bus.py
  packages/sdk-python/tests/test_live_queries.py
  packages/sdk-python/tests/test_refresher.py
  packages/sdk-python/tests/test_resume.py
  packages/sdk-python/tests/test_sign_in.py
  packages/sdk-python/tests/test_storage.py
  tests/conformance/harness/paths.ts
  tests/conformance/sdk/README.md
Due: none

Publish the Python SDK to PyPI: publish-pypi.yml by trusted publishing, dispatched by the release, built and checked in CI
  .github/workflows/ci.yml
  .github/workflows/publish-pypi.yml
  .github/workflows/release.yml
  docs/contributor/RELEASE.md
  docs/contributor/TESTING.md
  packages/sdk-python/pyproject.toml
  scripts/ci/README.md
  scripts/ci/build-python-sdk.sh
  scripts/release/README.md
  scripts/release/verify-release.sh
Due: none

local-build.sh builds and checks the Python SDK's distributions; CI packages the published crates on every change
  .github/workflows/ci.yml
  docs/contributor/LOCAL-DEVELOPMENT.md
  docs/contributor/RELEASE.md
  docs/contributor/TESTING.md
  scripts/ci/README.md
  scripts/ci/local-build.sh
Due: none

sign in store test for rust sdk
  packages/sdk-rust/tests/sign_in_store.rs
Due: none

Rust SDK sign-in store: a new sign-in states who its own token names; only a renewal keeps the entry's email and issuer
  packages/sdk-rust/README.md
  packages/sdk-rust/src/sign_in_store.rs
  packages/sdk-rust/tests/sign_in_store.rs
Due: none

Python SDK: README and package metadata for a reader on PyPI
  docs/builder/README.md
  packages/sdk-python/README.md
  packages/sdk-python/pyproject.toml
Due: none

Name the Python SDK wherever the docs list the SDK's languages
  README.md
  docs/README.md
  docs/builder/DEVELOPER-GUIDE.md
  docs/builder/QUICK-START.md
  docs/contributor/README.md
  docs/contributor/RELEASE.md
  packages/README.md
  packages/sdk/README.md
  website/index.md
Due: none

bump version to 0.6.13
  Cargo.lock
  Cargo.toml
  apps/browser/package.json
  apps/browser/package.publish.json
  apps/desktop/package.json
  package-lock.json
  package.json
  packages/content/package.json
  packages/core/package.json
  packages/event-sourcing/package.json
  packages/graph/package.json
  packages/http-transport/package.json
  packages/inference/package.json
  packages/jobs/package.json
  packages/make-meaning/package.json
  packages/mcp-server/package.json
  packages/observability/package.json
  packages/ontology/package.json
  packages/react-ui/package.json
  packages/sdk/package.json
  packages/vectors/package.json
  version.json
Due: content, core, event-sourcing, graph, inference, jobs, make-meaning, mcp-server, ontology, react-ui, @semiont/core, @semiont/ontology, @semiont/content, @semiont/event-sourcing, @semiont/graph, @semiont/inference, @semiont/jobs, @semiont/make-meaning, @semiont/react-ui

bump version to 0.6.13 (#1601)
  Cargo.lock
  Cargo.toml
  apps/browser/package.json
  apps/browser/package.publish.json
  apps/desktop/package.json
  package-lock.json
  package.json
  packages/content/package.json
  packages/core/package.json
  packages/event-sourcing/package.json
  packages/graph/package.json
  packages/http-transport/package.json
  packages/inference/package.json
  packages/jobs/package.json
  packages/make-meaning/package.json
  packages/mcp-server/package.json
  packages/observability/package.json
  packages/ontology/package.json
  packages/react-ui/package.json
  packages/sdk/package.json
  packages/vectors/package.json
  version.json
Due: content, core, event-sourcing, graph, inference, jobs, make-meaning, mcp-server, ontology, react-ui, @semiont/core, @semiont/ontology, @semiont/content, @semiont/event-sourcing, @semiont/graph, @semiont/inference, @semiont/jobs, @semiont/make-meaning, @semiont/react-ui

PR template names the Python SDK and the Archivist; the Dependabot comment counts the Python SDK's dependencies correctly
  .github/dependabot.yml
  .github/pull_request_template.md
Due: none
