Repository The-AI-Alliance/semiont: changes, and which Codecov flags are due for each by the changed paths.
All: api-client, content, core, event-sourcing, graph, inference, jobs, make-meaning, mcp-server, ontology, react-ui, frontend, backend, @semiont/core, @semiont/api-client, @semiont/ontology, @semiont/content, @semiont/event-sourcing, @semiont/graph, @semiont/inference, @semiont/jobs, @semiont/make-meaning, @semiont/react-ui

codecov.yml:

# Codecov configuration for Semiont monorepo
# https://docs.codecov.io/docs/codecovyml-reference

codecov:
  # Require CI to finish before processing coverage
  require_ci_to_pass: true

  # Wait for all coverage reports before commenting
  notify:
    wait_for_ci: true

coverage:
  # Overall project coverage settings
  status:
    # Project-wide coverage status
    project:
      default:
        # Coverage can drop by 1% without failing
        threshold: 1%
        target: 70%  # Target 70% overall coverage

    # Per-PR patch coverage
    patch:
      default:
        # New code should have at least 80% coverage
        target: 80%
        threshold: 5%

  # Round coverage to 2 decimal places
  precision: 2
  round: down

  # Coverage range for color coding
  range: "50...90"

# Component-specific coverage configuration
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 1%
  individual_components:
    # Core packages with higher coverage requirements
    - component_id: core
      name: "@semiont/core"
      paths:
        - packages/core/**
    - component_id: api-client
      name: "@semiont/api-client"
      paths:
        - packages/api-client/**
    - component_id: ontology
      name: "@semiont/ontology"
      paths:
        - packages/ontology/**
    - component_id: content
      name: "@semiont/content"
      paths:
        - packages/content/**
    - component_id: event-sourcing
      name: "@semiont/event-sourcing"
      paths:
        - packages/event-sourcing/**
    - component_id: graph
      name: "@semiont/graph"
      paths:
        - packages/graph/**
    - component_id: inference
      name: "@semiont/inference"
      paths:
        - packages/inference/**
    - component_id: jobs
      name: "@semiont/jobs"
      paths:
        - packages/jobs/**
    - component_id: make-meaning
      name: "@semiont/make-meaning"
      paths:
        - packages/make-meaning/**
    - component_id: react-ui
      name: "@semiont/react-ui"
      paths:
        - packages/react-ui/**

# Ignore certain files from coverage
ignore:
  # Test files
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/*.spec.tsx"
  - "**/test/**"
  - "**/tests/**"
  - "**/__tests__/**"
  - "**/test-utils/**"

  # Build artifacts
  - "**/dist/**"
  - "**/build/**"
  - "**/coverage/**"
  - "**/.next/**"

  # Config files
  - "**/*.config.ts"
  - "**/*.config.js"
  - "**/jest.setup.ts"

  # Generated files
  - "**/generated/**"
  - "packages/api-client/src/types.ts"

  # Examples and demos
  - "**/examples/**"
  - "**/demo/**"

  # Scripts
  - "scripts/**"

# Comment configuration
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Flag configuration for different test suites
flags:
  # Individual package flags
  api-client:
    paths:
      - packages/api-client/**
    carryforward: true

  content:
    paths:
      - packages/content/**
    carryforward: true

  core:
    paths:
      - packages/core/**
    carryforward: true

  event-sourcing:
    paths:
      - packages/event-sourcing/**
    carryforward: true

  graph:
    paths:
      - packages/graph/**
    carryforward: true

  inference:
    paths:
      - packages/inference/**
    carryforward: true

  jobs:
    paths:
      - packages/jobs/**
    carryforward: true

  make-meaning:
    paths:
      - packages/make-meaning/**
    carryforward: true

  mcp-server:
    paths:
      - packages/mcp-server/**
    carryforward: true

  ontology:
    paths:
      - packages/ontology/**
    carryforward: true

  react-ui:
    paths:
      - packages/react-ui/**
    carryforward: true

  # App flags (for future use)
  frontend:
    paths:
      - apps/frontend/**
    carryforward: true

  backend:
    paths:
      - apps/backend/**
    carryforward: true

regen package-lock
  package-lock.json
Due: none

BRIDGED_CHANNELS += 'browse:tag-schemas-result', 'browse:tag-schemas-failed'
  packages/core/src/bridged-channels.ts
Due: core, @semiont/core

bridge tag schema channels (#712)
  package-lock.json
  packages/core/src/bridged-channels.ts
  packages/sdk/src/namespaces/mark.ts
  packages/sdk/src/namespaces/yield.ts
Due: core, @semiont/core

bump version to 0.5.4
  apps/backend/package.json
  apps/backend/package.publish.json
  apps/cli/package.json
  apps/desktop/package.json
  apps/frontend/package.json
  apps/frontend/package.publish.json
  package.json
  packages/api-client/package.json
  packages/content/package.json
  packages/core/package.json
  packages/event-sourcing/package.json
  packages/graph/package.json
  packages/inference/package.json
  packages/jobs/package.json
  packages/make-meaning/package.json
  packages/mcp-server/package.json
  packages/observability/package.json
  packages/ontology/package.json
  packages/react-ui/package.json
  packages/sdk/package.json
  packages/test-utils/package.json
  packages/vectors/package.json
  version.json
Due: api-client, content, core, event-sourcing, graph, inference, jobs, make-meaning, mcp-server, ontology, react-ui, frontend, backend, @semiont/core, @semiont/api-client, @semiont/ontology, @semiont/content, @semiont/event-sourcing, @semiont/graph, @semiont/inference, @semiont/jobs, @semiont/make-meaning, @semiont/react-ui

just use node for health check (vs curl)
  apps/frontend/Dockerfile
Due: frontend

fix mcp-server build
  packages/mcp-server/tsconfig.json
Due: mcp-server

fix vite config for vite 8
  apps/frontend/vite.config.ts
Due: none

keep esbuild for cssMinify (was default in previous Vite version)
  apps/frontend/vite.config.ts
  package-lock.json
Due: none

aligns human-emitted Agent objects with the worker's '@type': 'SoftwareAgent' form
  packages/core/src/__tests__/did-utils.test.ts
  packages/core/src/did-utils.ts
Due: core, @semiont/core

work attribution follow-on cleanup
  apps/backend/src/__tests__/auth/auth-integration.test.ts
  apps/backend/src/__tests__/auth/oauth.test.ts
  apps/backend/src/__tests__/backend-security.test.ts
  apps/backend/src/__tests__/fixtures/resource-fixtures.ts
  apps/backend/src/__tests__/integration/api-endpoints.test.ts
  apps/backend/src/__tests__/middleware/auth.test.ts
  apps/backend/src/auth/oauth.ts
  packages/core/src/did-utils.ts
Due: core, backend, @semiont/core

rm old strings
  packages/react-ui/translations/ar.json
  packages/react-ui/translations/bn.json
  packages/react-ui/translations/cs.json
  packages/react-ui/translations/da.json
  packages/react-ui/translations/de.json
  packages/react-ui/translations/el.json
  packages/react-ui/translations/en.json
  packages/react-ui/translations/es.json
  packages/react-ui/translations/fa.json
  packages/react-ui/translations/fi.json
  packages/react-ui/translations/fr.json
  packages/react-ui/translations/he.json
  packages/react-ui/translations/hi.json
  packages/react-ui/translations/id.json
  packages/react-ui/translations/it.json
  packages/react-ui/translations/ja.json
  packages/react-ui/translations/ko.json
  packages/react-ui/translations/ms.json
  packages/react-ui/translations/nl.json
  packages/react-ui/translations/no.json
  packages/react-ui/translations/pl.json
  packages/react-ui/translations/pt.json
  packages/react-ui/translations/ro.json
  packages/react-ui/translations/sv.json
  packages/react-ui/translations/th.json
  packages/react-ui/translations/tr.json
  packages/react-ui/translations/uk.json
  packages/react-ui/translations/vi.json
  packages/react-ui/translations/zh.json
Due: react-ui, @semiont/react-ui

more unit tests for work attribution changes
  apps/backend/src/__tests__/auth/agent-auth.test.ts
  apps/backend/src/__tests__/middleware/auth.test.ts
  apps/backend/src/__tests__/routes/bus.test.ts
  apps/backend/src/__tests__/setup.ts
  packages/jobs/src/__tests__/processors.test.ts
  packages/react-ui/src/components/resource/panels/__tests__/agent-label.test.ts
Due: none

fix test
  apps/backend/src/__tests__/integration/api-endpoints.test.ts
Due: none

consistent use of start/end for offsets in typescript
  packages/jobs/src/__tests__/processors.test.ts
  packages/jobs/src/__tests__/workers/detection/entity-extractor.test.ts
  packages/jobs/src/processors.ts
  packages/jobs/src/workers/detection/entity-extractor.ts
Due: jobs, @semiont/jobs

update to /api/tokens/agent
  packages/make-meaning/src/smelter-main.ts
Due: make-meaning, @semiont/make-meaning

fix fake email when running on localhost:8080
  apps/backend/src/__tests__/auth/agent-auth.test.ts
  apps/backend/src/routes/auth.ts
Due: backend

list new KBs
  README.md
Due: none

require logging
  packages/jobs/src/__tests__/processors.test.ts
  packages/jobs/src/__tests__/workers/detection/entity-extractor.test.ts
  packages/jobs/src/processors.ts
  packages/jobs/src/worker-process.ts
  packages/jobs/src/workers/detection/entity-extractor.ts
  packages/jobs/src/workers/generation/resource-generation.ts
Due: jobs, @semiont/jobs

pass logger
  packages/make-meaning/src/__tests__/generation/resource-generation.test.ts
Due: none

require valid json
  packages/inference/src/implementations/anthropic.ts
  packages/inference/src/implementations/mock.ts
  packages/inference/src/implementations/ollama.ts
  packages/inference/src/index.ts
  packages/inference/src/interface.ts
  packages/jobs/src/workers/annotation-detection.ts
  packages/jobs/src/workers/detection/entity-extractor.ts
Due: inference, jobs, @semiont/inference, @semiont/jobs

body['format'] = { type: 'array', items: {} };
  packages/inference/src/implementations/ollama.ts
Due: inference, @semiont/inference

fixes following attribution work (#715)
  README.md
  apps/backend/src/__tests__/auth/agent-auth.test.ts
  apps/backend/src/routes/auth.ts
  packages/inference/src/implementations/anthropic.ts
  packages/inference/src/implementations/mock.ts
  packages/inference/src/implementations/ollama.ts
  packages/inference/src/index.ts
  packages/inference/src/interface.ts
  packages/jobs/src/__tests__/processors.test.ts
  packages/jobs/src/__tests__/workers/detection/entity-extractor.test.ts
  packages/jobs/src/processors.ts
  packages/jobs/src/worker-process.ts
  packages/jobs/src/workers/annotation-detection.ts
  packages/jobs/src/workers/detection/entity-extractor.ts
  packages/jobs/src/workers/generation/resource-generation.ts
  packages/make-meaning/src/__tests__/generation/resource-generation.test.ts
  packages/make-meaning/src/smelter-main.ts
Due: inference, jobs, make-meaning, backend, @semiont/inference, @semiont/jobs, @semiont/make-meaning

bump version to 0.5.5
  apps/backend/package.json
  apps/backend/package.publish.json
  apps/cli/package.json
  apps/desktop/package.json
  apps/frontend/package.json
  apps/frontend/package.publish.json
  package.json
  packages/api-client/package.json
  packages/content/package.json
  packages/core/package.json
  packages/event-sourcing/package.json
  packages/graph/package.json
  packages/inference/package.json
  packages/jobs/package.json
  packages/make-meaning/package.json
  packages/mcp-server/package.json
  packages/observability/package.json
  packages/ontology/package.json
  packages/react-ui/package.json
  packages/sdk/package.json
  packages/test-utils/package.json
  packages/vectors/package.json
  version.json
Due: api-client, content, core, event-sourcing, graph, inference, jobs, make-meaning, mcp-server, ontology, react-ui, frontend, backend, @semiont/core, @semiont/api-client, @semiont/ontology, @semiont/content, @semiont/event-sourcing, @semiont/graph, @semiont/inference, @semiont/jobs, @semiont/make-meaning, @semiont/react-ui

improve error handling
  packages/sdk/src/namespaces/gather.ts
  packages/sdk/src/namespaces/mark.ts
  packages/sdk/src/namespaces/match.ts
  packages/sdk/src/namespaces/yield.ts
Due: none

improve tagging validation
  packages/sdk/src/namespaces/mark.ts
Due: none

tests for sdk error handling
  packages/sdk/src/__tests__/bus-request.test.ts
  packages/sdk/src/namespaces/__tests__/commands.test.ts
Due: none

prevent unhandled EmptyError when bus.emit rejects before the result subscription is awaited
  packages/sdk/src/bus-request.ts
Due: none

fix tsc error in test: drop DOM-only PromiseRejectionEvent type from Node-only unhandledRejection handler
  packages/sdk/src/__tests__/bus-request.test.ts
Due: none

improve test coverage
  packages/sdk/src/namespaces/__tests__/commands.test.ts
Due: none

bump version to 0.5.6
  apps/backend/package.json
  apps/backend/package.publish.json
  apps/cli/package.json
  apps/desktop/package.json
  apps/frontend/package.json
  apps/frontend/package.publish.json
  package.json
  packages/api-client/package.json
  packages/content/package.json
  packages/core/package.json
  packages/event-sourcing/package.json
  packages/graph/package.json
  packages/inference/package.json
  packages/jobs/package.json
  packages/make-meaning/package.json
  packages/mcp-server/package.json
  packages/observability/package.json
  packages/ontology/package.json
  packages/react-ui/package.json
  packages/sdk/package.json
  packages/test-utils/package.json
  packages/vectors/package.json
  version.json
Due: api-client, content, core, event-sourcing, graph, inference, jobs, make-meaning, mcp-server, ontology, react-ui, frontend, backend, @semiont/core, @semiont/api-client, @semiont/ontology, @semiont/content, @semiont/event-sourcing, @semiont/graph, @semiont/inference, @semiont/jobs, @semiont/make-meaning, @semiont/react-ui

backend: entity tags are a signal, not a gate
  apps/frontend/src/app/[locale]/know/discover/page.tsx
  package-lock.json
  packages/make-meaning/src/__tests__/matcher.test.ts
  packages/make-meaning/src/matcher.ts
  packages/react-ui/src/features/resource-discovery/__tests__/ResourceDiscoveryPage.test.tsx
  packages/react-ui/src/features/resource-discovery/components/ResourceDiscoveryPage.tsx
  packages/react-ui/src/features/resource-discovery/state/discover-state-unit.ts
  packages/sdk/src/namespaces/browse.ts
  packages/sdk/src/namespaces/types.ts
  packages/vectors/src/store/qdrant.ts
Due: make-meaning, react-ui, frontend, @semiont/make-meaning, @semiont/react-ui

improve test coverage
  packages/react-ui/src/features/resource-discovery/state/__tests__/discover-state-unit.test.ts
Due: none

backend: entity tags are a signal, not a gate (#727)
  apps/frontend/src/app/[locale]/know/discover/page.tsx
  package-lock.json
  packages/make-meaning/src/__tests__/matcher.test.ts
  packages/make-meaning/src/matcher.ts
  packages/react-ui/src/features/resource-discovery/__tests__/ResourceDiscoveryPage.test.tsx
  packages/react-ui/src/features/resource-discovery/components/ResourceDiscoveryPage.tsx
  packages/react-ui/src/features/resource-discovery/state/__tests__/discover-state-unit.test.ts
  packages/react-ui/src/features/resource-discovery/state/discover-state-unit.ts
  packages/sdk/src/namespaces/browse.ts
  packages/sdk/src/namespaces/types.ts
  packages/vectors/src/store/qdrant.ts
Due: make-meaning, react-ui, frontend, @semiont/make-meaning, @semiont/react-ui

test discover-state-unit
  packages/react-ui/src/features/resource-discovery/state/__tests__/discover-state-unit.test.ts
Due: none
