Repository The-AI-Alliance/semiont: changes, and which Codecov flags are due for each by the changed paths.
All: api-client, content, core, event-sourcing, graph, inference, jobs, make-meaning, mcp-server, ontology, react-ui, frontend, backend, @semiont/core, @semiont/api-client, @semiont/ontology, @semiont/content, @semiont/event-sourcing, @semiont/graph, @semiont/inference, @semiont/jobs, @semiont/make-meaning, @semiont/react-ui

codecov.yml:

# Codecov configuration for Semiont monorepo
# https://docs.codecov.io/docs/codecovyml-reference

codecov:
  # Require CI to finish before processing coverage
  require_ci_to_pass: true

  # Wait for all coverage reports before commenting
  notify:
    wait_for_ci: true

coverage:
  # Overall project coverage settings
  status:
    # Project-wide coverage status
    project:
      default:
        # Coverage can drop by 1% without failing
        threshold: 1%
        target: 70%  # Target 70% overall coverage

    # Per-PR patch coverage
    patch:
      default:
        # New code should have at least 80% coverage
        target: 80%
        threshold: 5%

  # Round coverage to 2 decimal places
  precision: 2
  round: down

  # Coverage range for color coding
  range: "50...90"

# Component-specific coverage configuration
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 1%
  individual_components:
    # Core packages with higher coverage requirements
    - component_id: core
      name: "@semiont/core"
      paths:
        - packages/core/**
    - component_id: api-client
      name: "@semiont/api-client"
      paths:
        - packages/api-client/**
    - component_id: ontology
      name: "@semiont/ontology"
      paths:
        - packages/ontology/**
    - component_id: content
      name: "@semiont/content"
      paths:
        - packages/content/**
    - component_id: event-sourcing
      name: "@semiont/event-sourcing"
      paths:
        - packages/event-sourcing/**
    - component_id: graph
      name: "@semiont/graph"
      paths:
        - packages/graph/**
    - component_id: inference
      name: "@semiont/inference"
      paths:
        - packages/inference/**
    - component_id: jobs
      name: "@semiont/jobs"
      paths:
        - packages/jobs/**
    - component_id: make-meaning
      name: "@semiont/make-meaning"
      paths:
        - packages/make-meaning/**
    - component_id: react-ui
      name: "@semiont/react-ui"
      paths:
        - packages/react-ui/**

# Ignore certain files from coverage
ignore:
  # Test files
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/*.spec.tsx"
  - "**/test/**"
  - "**/tests/**"
  - "**/__tests__/**"
  - "**/test-utils/**"

  # Build artifacts
  - "**/dist/**"
  - "**/build/**"
  - "**/coverage/**"
  - "**/.next/**"

  # Config files
  - "**/*.config.ts"
  - "**/*.config.js"
  - "**/jest.setup.ts"

  # Generated files
  - "**/generated/**"
  - "packages/api-client/src/types.ts"

  # Examples and demos
  - "**/examples/**"
  - "**/demo/**"

  # Scripts
  - "scripts/**"

# Comment configuration
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Flag configuration for different test suites
flags:
  # Individual package flags
  api-client:
    paths:
      - packages/api-client/**
    carryforward: true

  content:
    paths:
      - packages/content/**
    carryforward: true

  core:
    paths:
      - packages/core/**
    carryforward: true

  event-sourcing:
    paths:
      - packages/event-sourcing/**
    carryforward: true

  graph:
    paths:
      - packages/graph/**
    carryforward: true

  inference:
    paths:
      - packages/inference/**
    carryforward: true

  jobs:
    paths:
      - packages/jobs/**
    carryforward: true

  make-meaning:
    paths:
      - packages/make-meaning/**
    carryforward: true

  mcp-server:
    paths:
      - packages/mcp-server/**
    carryforward: true

  ontology:
    paths:
      - packages/ontology/**
    carryforward: true

  react-ui:
    paths:
      - packages/react-ui/**
    carryforward: true

  # App flags (for future use)
  frontend:
    paths:
      - apps/frontend/**
    carryforward: true

  backend:
    paths:
      - apps/backend/**
    carryforward: true

observability tier 2, phase 1
  apps/backend/package.json
  apps/backend/src/index.ts
  apps/backend/src/routes/bus.ts
  apps/frontend/package.json
  apps/frontend/src/main.tsx
  package-lock.json
  packages/api-client/package.json
  packages/api-client/src/transport/actor-vm.ts
  packages/api-client/src/transport/http-content-transport.ts
  packages/api-client/src/transport/http-transport.ts
  packages/jobs/package.json
  packages/jobs/src/smelter-main.ts
  packages/jobs/src/worker-main.ts
  packages/jobs/src/worker-process.ts
  packages/make-meaning/package.json
  packages/make-meaning/src/local-content-transport.ts
  packages/make-meaning/src/local-transport.ts
  packages/observability/package.json
  packages/observability/src/index.ts
  packages/observability/src/node.ts
  packages/observability/src/web.ts
Due: api-client, jobs, make-meaning, frontend, backend, @semiont/api-client, @semiont/jobs, @semiont/make-meaning

observability tier 2 phase 2
  apps/backend/src/routes/resources/routes/create.ts
  apps/backend/src/routes/resources/routes/get-uri.ts
  packages/make-meaning/src/browser.ts
  packages/make-meaning/src/gatherer.ts
  packages/make-meaning/src/matcher.ts
  packages/make-meaning/src/smelter.ts
  packages/make-meaning/src/stower.ts
  packages/observability/src/index.ts
Due: make-meaning, backend, @semiont/make-meaning

observability tier 3
  apps/backend/src/logger.ts
  apps/backend/src/routes/bus.ts
  docs/administration/OBSERVABILITY.md
  package-lock.json
  packages/api-client/src/transport/http-transport.ts
  packages/jobs/src/logger.ts
  packages/jobs/src/worker-process.ts
  packages/make-meaning/src/local-transport.ts
  packages/observability/src/index.ts
  packages/observability/src/node.ts
Due: api-client, jobs, make-meaning, backend, @semiont/api-client, @semiont/jobs, @semiont/make-meaning

update docs
  README.md
  docs/ARCHITECTURE.md
  docs/administration/DEPLOYMENT.md
  docs/administration/MAINTENANCE.md
  docs/administration/OBSERVABILITY.md
  docs/administration/SCALING.md
  docs/administration/SECURITY.md
  docs/administration/TROUBLESHOOTING.md
Due: none

observability tier 3 extensions
  apps/backend/src/routes/bus.ts
  package-lock.json
  packages/inference/package.json
  packages/inference/src/implementations/anthropic.ts
  packages/inference/src/implementations/ollama.ts
  packages/make-meaning/src/service.ts
  packages/observability/package.json
  packages/observability/src/index.ts
Due: inference, make-meaning, backend, @semiont/inference, @semiont/make-meaning

observability for e2e tests
  package-lock.json
  packages/core/src/bus-log.ts
  packages/core/src/index.ts
  packages/observability/package.json
  packages/observability/src/index.ts
  tests/e2e/docs/bus-logging.md
  tests/e2e/fixtures/bus-log.ts
Due: core, @semiont/core

production console-exporter flood: fixed
  docs/administration/OBSERVABILITY.md
  packages/observability/src/node.ts
  packages/observability/tsconfig.json
  packages/observability/tsup.config.ts
Due: none

updated and consistent OTel dependency cohort; avoid opentelemetry/sdk-node
  .github/workflows/publish-npm-packages.yml
  apps/frontend/src/main.tsx
  package-lock.json
  package.json
  packages/observability/package.json
  packages/observability/src/node.ts
  packages/observability/src/web.ts
  packages/observability/tsup.config.ts
Due: frontend

fix build
  packages/api-client/package.json
  packages/observability/package.json
  scripts/ci/build.sh
  scripts/dev/build-packages.js
Due: api-client, @semiont/api-client

clean up codeql action
  .github/codeql/codeql-config.yml
  .github/workflows/codeql-analysis.yml
Due: none

clean up codeql action (#682)
  .github/codeql/codeql-config.yml
  .github/workflows/codeql-analysis.yml
Due: none

dependabot dovers Dockerfiles
  .github/dependabot.yml
  apps/desktop/Dockerfile.builder
Due: none

add Trivy HIGH/CRITICAL scan to publish-frontend.yml that builds the image, scans it, and only pushes to GHCR if the scan passes
  .github/workflows/publish-frontend.yml
Due: none

Attest build provenance and sbom
  .github/workflows/publish-frontend.yml
Due: none

document attestation verification
  README.md
  docs/LOCAL-SEMIONT.md
  docs/administration/IMAGES.md
  docs/administration/SECURITY.md
Due: none

container actions (#683)
  .github/dependabot.yml
  .github/workflows/publish-frontend.yml
  README.md
  apps/desktop/Dockerfile.builder
  docs/LOCAL-SEMIONT.md
  docs/administration/IMAGES.md
  docs/administration/SECURITY.md
Due: none

clean up and update images doc
  docs/administration/IMAGES.md
Due: none

publish sdk and observability
  scripts/ci/publish.sh
Due: none

propagator
  packages/observability/src/node.ts
Due: none

update package-lock
  package-lock.json
Due: none

add structure to package manifest; use it from more scripts that need it; and add observability and sdk to it
  .github/workflows/publish-npm-packages.yml
  scripts/ci/build.sh
  scripts/ci/publish.sh
  scripts/cleanup-missing-storage-events.ts
  scripts/dev/build-packages.js
  scripts/migrate-event-types.ts
  scripts/migrate-strip-chain-metadata.ts
  scripts/migrate-strip-embedding-events.ts
  scripts/release/version-bump.sh
  scripts/release/version.mjs
  version.json
Due: none

update docs for e2e testing and observability
  docs/administration/OBSERVABILITY.md
  docs/development/RELEASE.md
  tests/e2e/README.md
Due: none

fix rootDir resolution
  scripts/release/version.mjs
Due: none

fix build
  scripts/ci/build.sh
Due: none

fix build
  scripts/dev/build-packages.js
Due: none

format
  version.json
Due: none

rm sideEffects: false from observability package.json
  packages/observability/package.json
Due: none

pre-release fixes (#691)
  .github/workflows/publish-npm-packages.yml
  docs/administration/OBSERVABILITY.md
  docs/development/RELEASE.md
  package-lock.json
  packages/observability/package.json
  packages/observability/src/node.ts
  scripts/ci/build.sh
  scripts/ci/publish.sh
  scripts/cleanup-missing-storage-events.ts
  scripts/dev/build-packages.js
  scripts/migrate-event-types.ts
  scripts/migrate-strip-chain-metadata.ts
  scripts/migrate-strip-embedding-events.ts
  scripts/release/version-bump.sh
  scripts/release/version.mjs
  tests/e2e/README.md
  version.json
Due: none

READMEs for SDK and Observability
  packages/observability/README.md
  packages/sdk/README.md
Due: none

bump version to 0.5.0
  apps/backend/package.json
  apps/backend/package.publish.json
  apps/cli/package.json
  apps/desktop/package.json
  apps/frontend/package.json
  apps/frontend/package.publish.json
  package.json
  packages/api-client/package.json
  packages/content/package.json
  packages/core/package.json
  packages/event-sourcing/package.json
  packages/graph/package.json
  packages/inference/package.json
  packages/jobs/package.json
  packages/make-meaning/package.json
  packages/mcp-server/package.json
  packages/observability/package.json
  packages/ontology/package.json
  packages/react-ui/package.json
  packages/sdk/package.json
  packages/test-utils/package.json
  packages/vectors/package.json
  version.json
Due: api-client, content, core, event-sourcing, graph, inference, jobs, make-meaning, mcp-server, ontology, react-ui, frontend, backend, @semiont/core, @semiont/api-client, @semiont/ontology, @semiont/content, @semiont/event-sourcing, @semiont/graph, @semiont/inference, @semiont/jobs, @semiont/make-meaning, @semiont/react-ui

multi-stage build to avoid npm at runtime
  apps/frontend/Dockerfile
Due: frontend

bump version to 0.5.1
  apps/backend/package.json
  apps/backend/package.publish.json
  apps/cli/package.json
  apps/desktop/package.json
  apps/frontend/package.json
  apps/frontend/package.publish.json
  package.json
  packages/api-client/package.json
  packages/content/package.json
  packages/core/package.json
  packages/event-sourcing/package.json
  packages/graph/package.json
  packages/inference/package.json
  packages/jobs/package.json
  packages/make-meaning/package.json
  packages/mcp-server/package.json
  packages/observability/package.json
  packages/ontology/package.json
  packages/react-ui/package.json
  packages/sdk/package.json
  packages/test-utils/package.json
  packages/vectors/package.json
  version.json
Due: api-client, content, core, event-sourcing, graph, inference, jobs, make-meaning, mcp-server, ontology, react-ui, frontend, backend, @semiont/core, @semiont/api-client, @semiont/ontology, @semiont/content, @semiont/event-sourcing, @semiont/graph, @semiont/inference, @semiont/jobs, @semiont/make-meaning, @semiont/react-ui

update skills docs for SDK
  docs/skills/semiont-assess/SKILL.md
  docs/skills/semiont-cli/SKILL.md
  docs/skills/semiont-comment/SKILL.md
  docs/skills/semiont-highlight/SKILL.md
  docs/skills/semiont-wiki/SKILL.md
Due: none

update sdk docs
  apps/backend/docs/TRANSPORT.md
  packages/core/docs/Utilities.md
  packages/sdk/docs/CACHE-SEMANTICS.md
  packages/sdk/docs/Usage.md
Due: core, backend, @semiont/core

update doc links
  apps/frontend/docs/API-INTEGRATION.md
Due: frontend

new skill: semiont-session
  docs/skills/semiont-session/SKILL.md
Due: none

update comments
  packages/sdk/src/__tests__/cache.test.ts
  packages/sdk/src/cache.ts
  packages/sdk/src/namespaces/__tests__/cache-semantics.test.ts
  packages/sdk/src/namespaces/browse.ts
Due: none

sdk dx checkpoint
  README.md
  apps/frontend/docs/API-INTEGRATION.md
  docs/skills/semiont-assess/SKILL.md
  docs/skills/semiont-comment/SKILL.md
  docs/skills/semiont-highlight/SKILL.md
  docs/skills/semiont-session/SKILL.md
  docs/skills/semiont-wiki/SKILL.md
  packages/sdk/README.md
  packages/sdk/docs/Usage.md
  packages/sdk/src/__tests__/awaitable.test.ts
  packages/sdk/src/awaitable.ts
  packages/sdk/src/client.ts
  packages/sdk/src/index.ts
  packages/sdk/src/namespaces/browse.ts
  packages/sdk/src/namespaces/gather.ts
  packages/sdk/src/namespaces/mark.ts
  packages/sdk/src/namespaces/match.ts
  packages/sdk/src/namespaces/types.ts
  packages/sdk/src/namespaces/yield.ts
  packages/sdk/src/session/semiont-session.ts
Due: frontend
