Repository The-AI-Alliance/semiont: changes, and which Codecov flags are due for each by the changed paths.
All: api-client, content, core, event-sourcing, graph, inference, jobs, make-meaning, mcp-server, ontology, react-ui, frontend, backend, @semiont/core, @semiont/api-client, @semiont/ontology, @semiont/content, @semiont/event-sourcing, @semiont/graph, @semiont/inference, @semiont/jobs, @semiont/make-meaning, @semiont/react-ui

codecov.yml:

# Codecov configuration for Semiont monorepo
# https://docs.codecov.io/docs/codecovyml-reference

codecov:
  # Require CI to finish before processing coverage
  require_ci_to_pass: true

  # Wait for all coverage reports before commenting
  notify:
    wait_for_ci: true

coverage:
  # Overall project coverage settings
  status:
    # Project-wide coverage status
    project:
      default:
        # Coverage can drop by 1% without failing
        threshold: 1%
        target: 70%  # Target 70% overall coverage

    # Per-PR patch coverage
    patch:
      default:
        # New code should have at least 80% coverage
        target: 80%
        threshold: 5%

  # Round coverage to 2 decimal places
  precision: 2
  round: down

  # Coverage range for color coding
  range: "50...90"

# Component-specific coverage configuration
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 1%
  individual_components:
    # Core packages with higher coverage requirements
    - component_id: core
      name: "@semiont/core"
      paths:
        - packages/core/**
    - component_id: api-client
      name: "@semiont/api-client"
      paths:
        - packages/api-client/**
    - component_id: ontology
      name: "@semiont/ontology"
      paths:
        - packages/ontology/**
    - component_id: content
      name: "@semiont/content"
      paths:
        - packages/content/**
    - component_id: event-sourcing
      name: "@semiont/event-sourcing"
      paths:
        - packages/event-sourcing/**
    - component_id: graph
      name: "@semiont/graph"
      paths:
        - packages/graph/**
    - component_id: inference
      name: "@semiont/inference"
      paths:
        - packages/inference/**
    - component_id: jobs
      name: "@semiont/jobs"
      paths:
        - packages/jobs/**
    - component_id: make-meaning
      name: "@semiont/make-meaning"
      paths:
        - packages/make-meaning/**
    - component_id: react-ui
      name: "@semiont/react-ui"
      paths:
        - packages/react-ui/**

# Ignore certain files from coverage
ignore:
  # Test files
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/*.spec.tsx"
  - "**/test/**"
  - "**/tests/**"
  - "**/__tests__/**"
  - "**/test-utils/**"

  # Build artifacts
  - "**/dist/**"
  - "**/build/**"
  - "**/coverage/**"
  - "**/.next/**"

  # Config files
  - "**/*.config.ts"
  - "**/*.config.js"
  - "**/jest.setup.ts"

  # Generated files
  - "**/generated/**"
  - "packages/api-client/src/types.ts"

  # Examples and demos
  - "**/examples/**"
  - "**/demo/**"

  # Scripts
  - "scripts/**"

# Comment configuration
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Flag configuration for different test suites
flags:
  # Individual package flags
  api-client:
    paths:
      - packages/api-client/**
    carryforward: true

  content:
    paths:
      - packages/content/**
    carryforward: true

  core:
    paths:
      - packages/core/**
    carryforward: true

  event-sourcing:
    paths:
      - packages/event-sourcing/**
    carryforward: true

  graph:
    paths:
      - packages/graph/**
    carryforward: true

  inference:
    paths:
      - packages/inference/**
    carryforward: true

  jobs:
    paths:
      - packages/jobs/**
    carryforward: true

  make-meaning:
    paths:
      - packages/make-meaning/**
    carryforward: true

  mcp-server:
    paths:
      - packages/mcp-server/**
    carryforward: true

  ontology:
    paths:
      - packages/ontology/**
    carryforward: true

  react-ui:
    paths:
      - packages/react-ui/**
    carryforward: true

  # App flags (for future use)
  frontend:
    paths:
      - apps/frontend/**
    carryforward: true

  backend:
    paths:
      - apps/backend/**
    carryforward: true

simplify and compact Configure Generation modal
  packages/react-ui/src/components/modals/ConfigureGenerationStep.tsx
  packages/react-ui/src/styles/core/forms.css
  packages/react-ui/src/styles/core/sliders.css
Due: react-ui, @semiont/react-ui

improve generation structure guidance
  packages/jobs/src/workers/generation/resource-generation.ts
Due: jobs, @semiont/jobs

improve generation modal and prompt (#582)
  packages/jobs/src/workers/generation/resource-generation.ts
  packages/react-ui/src/components/modals/ConfigureGenerationStep.tsx
  packages/react-ui/src/styles/core/forms.css
  packages/react-ui/src/styles/core/sliders.css
Due: jobs, react-ui, @semiont/jobs, @semiont/react-ui

semiont/frontend added as CLI dependency; decouple frontend and backend in cli commands and config
  apps/cli/package.json
  apps/cli/src/platforms/posix/handlers/frontend-check.ts
  apps/cli/src/platforms/posix/handlers/frontend-paths.ts
  apps/cli/src/platforms/posix/handlers/frontend-provision.ts
  apps/cli/src/platforms/posix/handlers/frontend-start.ts
  apps/cli/src/platforms/posix/handlers/frontend-stop.ts
  apps/frontend/README.md
  apps/frontend/docs/DEVELOPMENT.md
  docs/LOCAL-SEMIONT.md
  packages/core/src/project.ts
Due: core, frontend, @semiont/core

bundle frontend with cli
  apps/cli/build.mjs
  apps/cli/package.json
  package.json
Due: none

fix syntax
  package.json
Due: none

bundle frontend with cli
  apps/cli/build.mjs
  apps/cli/package.json
  apps/cli/src/core/cli-config.ts
  apps/cli/src/core/command-executor.ts
  apps/cli/src/core/command-service-matcher.ts
  apps/cli/src/core/config-loader.ts
  apps/cli/src/core/multi-service-executor.ts
  apps/cli/src/platforms/posix/handlers/frontend-paths.ts
  apps/cli/src/platforms/posix/handlers/frontend-start.ts
  packages/core/src/config/config.schema.json
  packages/core/src/config/toml-loader.ts
Due: core, @semiont/core

fix test
  apps/backend/src/__tests__/integration/annotation-crud.test.ts
Due: none

require projectRoot
  apps/backend/src/routes/exchange.ts
Due: backend

frontend handlers should not use projectRoot
  apps/cli/src/core/base-service.ts
  apps/cli/src/core/command-executor.ts
  apps/cli/src/core/command-service-matcher.ts
  apps/cli/src/core/service-interface.ts
  apps/cli/src/platforms/aws/handlers/stack-provision.ts
  apps/cli/src/platforms/aws/platform.ts
  apps/cli/src/platforms/container/handlers/database-provision.ts
  apps/cli/src/platforms/container/handlers/graph-provision.ts
  apps/cli/src/platforms/container/handlers/graph-start.ts
  apps/cli/src/platforms/container/handlers/graph-stop.ts
  apps/cli/src/platforms/container/platform.ts
  apps/cli/src/platforms/posix/handlers/backend-check.ts
  apps/cli/src/platforms/posix/handlers/backend-provision.ts
  apps/cli/src/platforms/posix/handlers/backend-start.ts
  apps/cli/src/platforms/posix/handlers/backend-stop.ts
  apps/cli/src/platforms/posix/handlers/database-check.ts
  apps/cli/src/platforms/posix/handlers/database-paths.ts
  apps/cli/src/platforms/posix/handlers/frontend-start.ts
  apps/cli/src/platforms/posix/handlers/graph-check.ts
  apps/cli/src/platforms/posix/handlers/inference-check.ts
  apps/cli/src/platforms/posix/handlers/inference-paths.ts
  apps/cli/src/platforms/posix/handlers/mcp-paths.ts
  apps/cli/src/platforms/posix/platform.ts
  apps/cli/src/services/backend-service.ts
  apps/cli/src/services/database-service.ts
Due: none

fix prisma error
  apps/cli/src/core/commands/__tests__/useradd.test.ts
  apps/cli/src/core/commands/useradd.ts
Due: none

rename local to serve
  apps/cli/src/core/command-discovery.ts
  apps/cli/src/core/commands/serve.ts
Due: none

serve should not start frontend
  apps/cli/src/core/commands/serve.ts
Due: none

alias local to serve
  apps/cli/src/core/command-discovery.ts
Due: none

serve help; update doc
  apps/cli/src/core/commands/serve.ts
  docs/LOCAL-SEMIONT.md
Due: none

minimal backend root page
  apps/backend/src/index.ts
  packages/core/src/config/toml-loader.ts
Due: core, backend, @semiont/core

url validation and check
  apps/frontend/src/app/[locale]/auth/connect/page.tsx
  packages/react-ui/src/features/auth/auth.css
  packages/react-ui/src/features/auth/components/SignInForm.tsx
Due: react-ui, frontend, @semiont/react-ui

url validation and check
  apps/frontend/messages-source/ar.json
  apps/frontend/messages-source/bn.json
  apps/frontend/messages-source/cs.json
  apps/frontend/messages-source/da.json
  apps/frontend/messages-source/de.json
  apps/frontend/messages-source/el.json
  apps/frontend/messages-source/en.json
  apps/frontend/messages-source/es.json
  apps/frontend/messages-source/fa.json
  apps/frontend/messages-source/fi.json
  apps/frontend/messages-source/fr.json
  apps/frontend/messages-source/he.json
  apps/frontend/messages-source/hi.json
  apps/frontend/messages-source/id.json
  apps/frontend/messages-source/it.json
  apps/frontend/messages-source/ja.json
  apps/frontend/messages-source/ko.json
  apps/frontend/messages-source/ms.json
  apps/frontend/messages-source/nl.json
  apps/frontend/messages-source/no.json
  apps/frontend/messages-source/pl.json
  apps/frontend/messages-source/pt.json
  apps/frontend/messages-source/ro.json
  apps/frontend/messages-source/sv.json
  apps/frontend/messages-source/th.json
  apps/frontend/messages-source/tr.json
  apps/frontend/messages-source/uk.json
  apps/frontend/messages-source/vi.json
  apps/frontend/messages-source/zh.json
Due: frontend

backend root page
  apps/backend/src/routes/root.ts
Due: backend

fix css warnings
  packages/react-ui/src/features/auth/auth.css
Due: react-ui, @semiont/react-ui

memoization to avoid stack overflow
  packages/api-client/src/stores/annotation-store.ts
  packages/api-client/src/stores/resource-store.ts
Due: api-client, @semiont/api-client

add minimal backend root page to list of public routes
  apps/backend/src/__tests__/route-auth-coverage.test.ts
Due: none

fix stack overflow
  apps/frontend/src/hooks/useOpenResourcesManager.ts
Due: frontend

fix bugs in gather and match events and their handling
  apps/backend/src/routes/resources/index.ts
  apps/backend/src/routes/resources/routes/gather-annotation-stream.ts
  apps/backend/src/routes/resources/routes/match-search-stream.ts
  packages/api-client/src/__tests__/event-bus-client.test.ts
  packages/api-client/src/flows.ts
  packages/api-client/src/index.ts
  packages/api-client/src/sse/index.ts
  packages/make-meaning/src/__tests__/binder.test.ts
  packages/make-meaning/src/__tests__/matcher.test.ts
  packages/react-ui/src/hooks/useMarkFlow.ts
  packages/react-ui/src/hooks/useYieldFlow.ts
  specs/src/components/schemas/GatherAnnotationStreamRequest.json
  specs/src/components/schemas/GatherResourceStreamRequest.json
  specs/src/components/schemas/MatchSearchStreamRequest.json
  specs/src/openapi.json
  specs/src/paths/resources_{id}_match-search-stream.json
Due: api-client, react-ui, backend, @semiont/api-client, @semiont/react-ui

remove JSON.stringify from event payloads
  apps/backend/src/lib/sse-helpers.ts
  apps/backend/src/routes/resources/routes/annotate-assessments-stream.ts
  apps/backend/src/routes/resources/routes/annotate-comments-stream.ts
  apps/backend/src/routes/resources/routes/annotate-highlights-stream.ts
  apps/backend/src/routes/resources/routes/annotate-references-stream.ts
  apps/backend/src/routes/resources/routes/annotate-tags-stream.ts
  apps/backend/src/routes/resources/routes/bind-search-stream.ts
  apps/backend/src/routes/resources/routes/gather-annotation-stream.ts
  apps/backend/src/routes/resources/routes/yield-resource-stream.ts
  apps/frontend/tailwind.config.js
  packages/api-client/src/event-bus-client.ts
  packages/core/src/event-map.ts
  packages/make-meaning/src/binder.ts
  packages/make-meaning/src/matcher.ts
Due: api-client, core, make-meaning, backend, @semiont/core, @semiont/api-client, @semiont/make-meaning

fix method name
  apps/cli/src/core/commands/match.ts
Due: none

fix subscription order
  apps/backend/src/routes/resources/routes/gather-annotation-stream.ts
Due: backend

drop timeout for database operations
  apps/cli/src/core/commands/__tests__/stop-command.test.ts
  apps/cli/src/core/commands/stop.ts
Due: none

fix post-generate linking
  apps/backend/src/routes/resources/routes/bind-search-stream.ts
  packages/api-client/src/flows.ts
Due: api-client, backend, @semiont/api-client

'serve' doesn't need frontend
  apps/cli/src/core/commands/serve.ts
Due: none

improve kb panel styling
  apps/frontend/src/components/KnowledgeBasePanel.tsx
Due: frontend

fix kb panel styling
  apps/frontend/src/components/KnowledgeBasePanel.tsx
Due: frontend

include pid in check output
  apps/cli/src/core/io/output-formatter.ts
Due: none

use more types in cli
  apps/cli/src/core/command-descriptor.ts
  apps/cli/src/core/command-executor.ts
  apps/cli/src/core/command-result.ts
  apps/cli/src/core/command-service-matcher.ts
  apps/cli/src/core/commands/check.ts
  apps/cli/src/core/commands/provision.ts
  apps/cli/src/core/commands/serve.ts
  apps/cli/src/core/handlers/registry.ts
  apps/cli/src/core/handlers/types.ts
  apps/cli/src/core/multi-service-executor.ts
  apps/cli/src/core/platform.ts
  apps/cli/src/core/service-command-capabilities.ts
  apps/cli/src/core/service-discovery.ts
  apps/cli/src/platforms/aws/platform.ts
  apps/cli/src/platforms/container/handlers/graph-check.ts
  apps/cli/src/platforms/container/platform.ts
  apps/cli/src/platforms/external/platform.ts
  apps/cli/src/platforms/mock/platform.ts
  apps/cli/src/platforms/posix/handlers/backend-check.ts
  apps/cli/src/platforms/posix/handlers/graph-check.ts
  apps/cli/src/platforms/posix/handlers/inference-check.ts
  apps/cli/src/platforms/posix/platform.ts
Due: none

fix tests
  packages/make-meaning/src/__tests__/binder.test.ts
Due: none

consistent use of new types on old platforms
  apps/cli/src/core/handlers/registry.ts
  apps/cli/src/core/handlers/types.ts
  apps/cli/src/core/platform.ts
  apps/cli/src/core/service-types.ts
  apps/cli/src/platforms/aws/handlers/ecs-check.ts
  apps/cli/src/platforms/aws/handlers/ecs-publish.ts
  apps/cli/src/platforms/aws/handlers/ecs-start.ts
  apps/cli/src/platforms/aws/handlers/ecs-update.ts
  apps/cli/src/platforms/aws/handlers/efs-check.ts
  apps/cli/src/platforms/aws/handlers/index.ts
  apps/cli/src/platforms/aws/handlers/lambda-check.ts
  apps/cli/src/platforms/aws/handlers/neptune-check.ts
  apps/cli/src/platforms/aws/handlers/rds-check.ts
  apps/cli/src/platforms/aws/handlers/rds-start.ts
  apps/cli/src/platforms/aws/handlers/s3-cloudfront-check.ts
  apps/cli/src/platforms/aws/platform.ts
  apps/cli/src/platforms/container/handlers/index.ts
  apps/cli/src/platforms/container/handlers/web-check.ts
  apps/cli/src/platforms/container/handlers/web-start.ts
  apps/cli/src/platforms/container/platform.ts
  apps/cli/src/platforms/mock/handlers/default-check.ts
  apps/cli/src/platforms/mock/handlers/default-start.ts
  apps/cli/src/platforms/mock/handlers/index.ts
  apps/cli/src/platforms/mock/platform.ts
  apps/cli/src/platforms/posix/platform.ts
Due: none

check --all services
  apps/cli/src/core/commands/serve.ts
Due: none

fix test
  packages/react-ui/src/features/resource-viewer/__tests__/ToastNotifications.test.tsx
Due: none
