Repository The-AI-Alliance/semiont: changes, and which Codecov flags are due for each by the changed paths.
All: api-client, content, core, event-sourcing, graph, inference, jobs, make-meaning, mcp-server, ontology, react-ui, frontend, backend, @semiont/core, @semiont/api-client, @semiont/ontology, @semiont/content, @semiont/event-sourcing, @semiont/graph, @semiont/inference, @semiont/jobs, @semiont/make-meaning, @semiont/react-ui

codecov.yml:

# Codecov configuration for Semiont monorepo
# https://docs.codecov.io/docs/codecovyml-reference

codecov:
  # Require CI to finish before processing coverage
  require_ci_to_pass: true

  # Wait for all coverage reports before commenting
  notify:
    wait_for_ci: true

coverage:
  # Overall project coverage settings
  status:
    # Project-wide coverage status
    project:
      default:
        # Coverage can drop by 1% without failing
        threshold: 1%
        target: 70%  # Target 70% overall coverage

    # Per-PR patch coverage
    patch:
      default:
        # New code should have at least 80% coverage
        target: 80%
        threshold: 5%

  # Round coverage to 2 decimal places
  precision: 2
  round: down

  # Coverage range for color coding
  range: "50...90"

# Component-specific coverage configuration
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 1%
  individual_components:
    # Core packages with higher coverage requirements
    - component_id: core
      name: "@semiont/core"
      paths:
        - packages/core/**
    - component_id: api-client
      name: "@semiont/api-client"
      paths:
        - packages/api-client/**
    - component_id: ontology
      name: "@semiont/ontology"
      paths:
        - packages/ontology/**
    - component_id: content
      name: "@semiont/content"
      paths:
        - packages/content/**
    - component_id: event-sourcing
      name: "@semiont/event-sourcing"
      paths:
        - packages/event-sourcing/**
    - component_id: graph
      name: "@semiont/graph"
      paths:
        - packages/graph/**
    - component_id: inference
      name: "@semiont/inference"
      paths:
        - packages/inference/**
    - component_id: jobs
      name: "@semiont/jobs"
      paths:
        - packages/jobs/**
    - component_id: make-meaning
      name: "@semiont/make-meaning"
      paths:
        - packages/make-meaning/**
    - component_id: react-ui
      name: "@semiont/react-ui"
      paths:
        - packages/react-ui/**

# Ignore certain files from coverage
ignore:
  # Test files
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/*.spec.tsx"
  - "**/test/**"
  - "**/tests/**"
  - "**/__tests__/**"
  - "**/test-utils/**"

  # Build artifacts
  - "**/dist/**"
  - "**/build/**"
  - "**/coverage/**"
  - "**/.next/**"

  # Config files
  - "**/*.config.ts"
  - "**/*.config.js"
  - "**/jest.setup.ts"

  # Generated files
  - "**/generated/**"
  - "packages/api-client/src/types.ts"

  # Examples and demos
  - "**/examples/**"
  - "**/demo/**"

  # Scripts
  - "scripts/**"

# Comment configuration
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Flag configuration for different test suites
flags:
  # Individual package flags
  api-client:
    paths:
      - packages/api-client/**
    carryforward: true

  content:
    paths:
      - packages/content/**
    carryforward: true

  core:
    paths:
      - packages/core/**
    carryforward: true

  event-sourcing:
    paths:
      - packages/event-sourcing/**
    carryforward: true

  graph:
    paths:
      - packages/graph/**
    carryforward: true

  inference:
    paths:
      - packages/inference/**
    carryforward: true

  jobs:
    paths:
      - packages/jobs/**
    carryforward: true

  make-meaning:
    paths:
      - packages/make-meaning/**
    carryforward: true

  mcp-server:
    paths:
      - packages/mcp-server/**
    carryforward: true

  ontology:
    paths:
      - packages/ontology/**
    carryforward: true

  react-ui:
    paths:
      - packages/react-ui/**
    carryforward: true

  # App flags (for future use)
  frontend:
    paths:
      - apps/frontend/**
    carryforward: true

  backend:
    paths:
      - apps/backend/**
    carryforward: true

import/export gui
  apps/frontend/src/__tests__/test-environment.ts
  apps/frontend/src/app/[locale]/admin/exchange/client.tsx
  apps/frontend/src/app/[locale]/admin/exchange/page.tsx
  apps/frontend/src/components/admin/__tests__/AdminNavigation.test.tsx
  apps/frontend/src/mocks/browser.ts
  apps/frontend/src/mocks/handlers.ts
  apps/frontend/src/mocks/server.ts
  apps/frontend/tsconfig.test.json
  apps/frontend/vitest.config.mjs
  apps/frontend/vitest.setup.js
  apps/frontend/vitest.setup.ts
Due: frontend

cli now depends on a few more @semiont packages
  .github/workflows/ci.yml
Due: none

add @semiont/content, @semiont/event-sourcing, @semiont/graph, @semiont/make-meaning to esbuild's external list
  apps/cli/build.mjs
Due: none

rm generated code; rm unused orval config
  .gitignore
  packages/api-client/orval.config.ts
  packages/api-client/package.json
  packages/core/openapi.json
  packages/core/src/config/config.types.ts
  packages/core/src/types.ts
Due: api-client, core, @semiont/core, @semiont/api-client

rm generated code; rm unused orval config (#485)
  .gitignore
  packages/api-client/orval.config.ts
  packages/api-client/package.json
  packages/core/openapi.json
  packages/core/src/config/config.types.ts
  packages/core/src/types.ts
Due: api-client, core, @semiont/core, @semiont/api-client

ollama
  apps/cli/package.json
  apps/cli/src/platforms/container/handlers/index.ts
  apps/cli/src/platforms/container/handlers/inference-check.ts
  apps/cli/src/platforms/container/handlers/inference-provision.ts
  apps/cli/src/platforms/container/handlers/inference-start.ts
  apps/cli/src/platforms/container/handlers/inference-stop.ts
  apps/cli/src/platforms/container/platform.ts
  apps/cli/src/platforms/external/handlers/inference-check.ts
  apps/cli/src/platforms/posix/handlers/index.ts
  apps/cli/src/platforms/posix/handlers/inference-check.ts
  apps/cli/src/platforms/posix/handlers/inference-paths.ts
  apps/cli/src/platforms/posix/handlers/inference-provision.ts
  apps/cli/src/platforms/posix/handlers/inference-start.ts
  apps/cli/src/platforms/posix/handlers/inference-stop.ts
  apps/cli/src/platforms/posix/platform.ts
  apps/cli/src/services/inference-service.ts
  apps/cli/templates/inference-ollama-container.json
  apps/cli/templates/inference-ollama-external.json
  apps/cli/templates/inference-ollama-posix.json
  apps/cli/templates/inference-openai.json
  packages/inference/src/factory.ts
  packages/inference/src/implementations/ollama.ts
  packages/inference/src/index.ts
Due: inference, @semiont/inference

update docs for Ollama
  apps/cli/docs/ADDING_SERVICES.md
  docs/LOCAL-DEVELOPMENT.md
  docs/LOCAL-SEMIONT.md
  packages/README.md
  packages/inference/README.md
  packages/inference/docs/API.md
  packages/inference/package.json
Due: inference, @semiont/inference

ollama (#486)
  apps/cli/docs/ADDING_SERVICES.md
  apps/cli/package.json
  apps/cli/src/platforms/container/handlers/index.ts
  apps/cli/src/platforms/container/handlers/inference-check.ts
  apps/cli/src/platforms/container/handlers/inference-provision.ts
  apps/cli/src/platforms/container/handlers/inference-start.ts
  apps/cli/src/platforms/container/handlers/inference-stop.ts
  apps/cli/src/platforms/container/platform.ts
  apps/cli/src/platforms/external/handlers/inference-check.ts
  apps/cli/src/platforms/posix/handlers/index.ts
  apps/cli/src/platforms/posix/handlers/inference-check.ts
  apps/cli/src/platforms/posix/handlers/inference-paths.ts
  apps/cli/src/platforms/posix/handlers/inference-provision.ts
  apps/cli/src/platforms/posix/handlers/inference-start.ts
  apps/cli/src/platforms/posix/handlers/inference-stop.ts
  apps/cli/src/platforms/posix/platform.ts
  apps/cli/src/services/inference-service.ts
  apps/cli/templates/inference-ollama-container.json
  apps/cli/templates/inference-ollama-external.json
  apps/cli/templates/inference-ollama-posix.json
  apps/cli/templates/inference-openai.json
  docs/LOCAL-DEVELOPMENT.md
  docs/LOCAL-SEMIONT.md
  packages/README.md
  packages/inference/README.md
  packages/inference/docs/API.md
  packages/inference/package.json
  packages/inference/src/factory.ts
  packages/inference/src/implementations/ollama.ts
  packages/inference/src/index.ts
Due: inference, @semiont/inference

fix tests
  packages/api-client/src/__tests__/event-bus-client.test.ts
  packages/api-client/src/event-bus-client.ts
Due: api-client, @semiont/api-client

use branded types for ids
  apps/backend/src/routes/resources/routes/annotation-llm-context.ts
  apps/backend/src/routes/resources/routes/llm-context.ts
  packages/api-client/src/__tests__/event-bus-client.test.ts
  packages/api-client/src/event-bus-client.ts
  packages/core/src/event-map.ts
  packages/make-meaning/src/__tests__/gatherer.test.ts
  packages/react-ui/src/components/resource/panels/ReferenceEntry.tsx
  packages/react-ui/src/components/resource/panels/__tests__/ReferenceEntry.test.tsx
  packages/react-ui/src/features/resource-viewer/__tests__/BindFlowIntegration.test.tsx
  packages/react-ui/src/features/resource-viewer/__tests__/YieldFlowIntegration.test.tsx
  packages/react-ui/src/features/resource-viewer/components/ResourceViewerPage.tsx
  packages/react-ui/src/hooks/__tests__/useBindFlow.test.tsx
  packages/react-ui/src/hooks/__tests__/useContextGatherFlow.test.tsx
  packages/react-ui/src/hooks/useBindFlow.ts
  packages/react-ui/src/hooks/useContextGatherFlow.ts
  packages/react-ui/src/hooks/useYieldFlow.ts
Due: api-client, core, react-ui, backend, @semiont/core, @semiont/api-client, @semiont/react-ui

fix failing test
  packages/react-ui/src/features/resource-viewer/__tests__/YieldFlowIntegration.test.tsx
Due: none

use resourceId
  apps/backend/src/__tests__/routes/resource-discovery.test.ts
Due: none

require NODE_ENV; root fix to tests contending for port
  apps/backend/src/__tests__/auth/auth-integration.test.ts
  apps/backend/src/__tests__/auth/password-auth.test.ts
  apps/backend/src/__tests__/routes/annotate-assessments-stream.test.ts
  apps/backend/src/__tests__/routes/annotate-comments-stream.test.ts
  apps/backend/src/__tests__/routes/annotate-highlights-stream.test.ts
  apps/backend/src/__tests__/routes/annotate-references-stream.test.ts
  apps/backend/src/__tests__/routes/annotations-crud.test.ts
  apps/backend/src/__tests__/routes/resource-discovery.test.ts
  apps/backend/src/__tests__/routes/resources-crud.test.ts
  apps/backend/src/__tests__/setup.ts
  apps/backend/src/index.ts
  packages/core/src/__tests__/config/config-validator.test.ts
  packages/core/src/config/config.schema.json
Due: core, backend, @semiont/core

decompose config
  apps/backend/src/index.ts
  packages/core/src/__tests__/config/config-validator.test.ts
  packages/core/src/config/config.schema.json
  packages/graph/src/factory.ts
  packages/graph/src/index.ts
  packages/inference/src/__tests__/helpers/mock-config.ts
  packages/inference/src/factory.ts
  packages/inference/src/index.ts
  packages/make-meaning/src/__tests__/annotation-operations.test.ts
  packages/make-meaning/src/__tests__/bootstrap/entity-types.test.ts
  packages/make-meaning/src/__tests__/llm-context.test.ts
  packages/make-meaning/src/__tests__/resource-operations.test.ts
  packages/make-meaning/src/__tests__/scripting-examples/annotate-entities.test.ts
  packages/make-meaning/src/__tests__/scripting-examples/batch-annotate-entities.test.ts
  packages/make-meaning/src/__tests__/scripting-examples/create-resource.test.ts
  packages/make-meaning/src/__tests__/scripting-examples/query-graph.test.ts
  packages/make-meaning/src/__tests__/service.test.ts
  packages/make-meaning/src/__tests__/setup.ts
  packages/make-meaning/src/__tests__/views/entity-types-reader.test.ts
  packages/make-meaning/src/bootstrap/entity-types.ts
  packages/make-meaning/src/config.ts
  packages/make-meaning/src/gatherer.ts
  packages/make-meaning/src/index.ts
  packages/make-meaning/src/service.ts
  packages/make-meaning/src/views/entity-types-reader.ts
Due: core, graph, inference, make-meaning, backend, @semiont/core, @semiont/graph, @semiont/inference, @semiont/make-meaning

fix css warnings
  packages/react-ui/src/styles/features/exchange.css
Due: react-ui, @semiont/react-ui

decompose EnvironmentConfig
  packages/graph/src/factory.ts
  packages/graph/src/index.ts
  packages/inference/src/__tests__/factory.test.ts
  packages/inference/src/__tests__/helpers/mock-config.ts
  packages/inference/src/factory.ts
  packages/inference/src/index.ts
  packages/make-meaning/src/__tests__/annotation-operations.test.ts
  packages/make-meaning/src/__tests__/bootstrap/entity-types.test.ts
  packages/make-meaning/src/__tests__/llm-context.test.ts
  packages/make-meaning/src/__tests__/resource-operations.test.ts
  packages/make-meaning/src/__tests__/views/entity-types-reader.test.ts
  packages/make-meaning/src/bootstrap/entity-types.ts
  packages/make-meaning/src/config.ts
  packages/make-meaning/src/service.ts
  packages/make-meaning/src/views/entity-types-reader.ts
Due: graph, inference, make-meaning, @semiont/graph, @semiont/inference, @semiont/make-meaning

minimize use of EnvironmentConfig
  apps/backend/src/__tests__/auth/auth-integration.test.ts
  apps/backend/src/__tests__/auth/password-auth.test.ts
  apps/backend/src/auth/jwt.ts
  apps/backend/src/routes/annotations/shared.ts
  apps/backend/src/routes/entity-types.ts
  apps/backend/src/routes/global-events-stream.ts
  apps/backend/src/routes/resources/shared.ts
  packages/make-meaning/src/gatherer.ts
  packages/test-utils/src/mock-factories.ts
Due: make-meaning, backend, @semiont/make-meaning

minimize use of EnvironmentConfig
  packages/event-sourcing/examples/basic.ts
  packages/inference/examples/basic.ts
Due: none

fix tests
  packages/core/src/__tests__/uri-utils.test.ts
  packages/core/src/index.ts
  packages/core/src/uri-utils.ts
  packages/graph/src/implementations/janusgraph.ts
  packages/graph/src/implementations/memorygraph.ts
  packages/make-meaning/src/binder.ts
  packages/make-meaning/src/gatherer.ts
Due: core, graph, make-meaning, @semiont/core, @semiont/graph, @semiont/make-meaning

Binder tests
  packages/make-meaning/src/__tests__/binder.test.ts
Due: none

Binder cleanup
  packages/make-meaning/src/binder.ts
Due: make-meaning, @semiont/make-meaning

GatheredContext for Bind and Yield
  apps/frontend/src/components/modals/GenerationConfigModal.tsx
  packages/core/src/event-map.ts
  packages/core/src/index.ts
  packages/jobs/src/index.ts
  packages/jobs/src/types.ts
  packages/jobs/src/workers/generation/resource-generation.ts
  packages/make-meaning/src/__tests__/annotation-context.test.ts
  packages/make-meaning/src/__tests__/binder.test.ts
  packages/make-meaning/src/__tests__/generation/resource-generation.test.ts
  packages/make-meaning/src/annotation-context.ts
  packages/make-meaning/src/binder.ts
  packages/make-meaning/src/generation/resource-generation.ts
  packages/make-meaning/src/service.ts
  packages/react-ui/src/components/modals/BindContextModal.tsx
  packages/react-ui/src/components/resource/panels/ReferenceEntry.tsx
  packages/react-ui/src/components/resource/panels/__tests__/ReferenceEntry.test.tsx
  packages/react-ui/src/features/resource-viewer/__tests__/BindFlowIntegration.test.tsx
  packages/react-ui/src/features/resource-viewer/components/ResourceViewerPage.tsx
  packages/react-ui/src/hooks/__tests__/useBindFlow.test.tsx
  packages/react-ui/src/hooks/__tests__/useContextGatherFlow.test.tsx
  packages/react-ui/src/hooks/useBindFlow.ts
  packages/react-ui/src/hooks/useContextGatherFlow.ts
  packages/react-ui/src/hooks/useYieldFlow.ts
  packages/react-ui/src/index.ts
  packages/react-ui/src/types/modals.ts
  packages/react-ui/src/types/resource-viewer.ts
  specs/src/components/schemas/AnnotationLLMContextResponse.json
  specs/src/components/schemas/GatheredContext.json
  specs/src/components/schemas/YieldContext.json
  specs/src/components/schemas/YieldResourceStreamRequest.json
Due: core, jobs, make-meaning, react-ui, frontend, @semiont/core, @semiont/jobs, @semiont/make-meaning, @semiont/react-ui

docs for GatheredContext
  docs/flows/GATHER.md
  packages/jobs/docs/JobTypes.md
Due: jobs, @semiont/jobs

update docs for GatheredContext
  docs/flows/BIND.md
  docs/flows/GATHER.md
  docs/flows/YIELD.md
  packages/make-meaning/README.md
  packages/make-meaning/docs/api-reference.md
  packages/make-meaning/docs/architecture.md
  packages/react-ui/docs/EVENTS.md
Due: make-meaning, react-ui, @semiont/make-meaning, @semiont/react-ui

tests
  apps/frontend/src/components/modals/__tests__/GenerationConfigModal.test.tsx
  packages/make-meaning/src/__tests__/binder.test.ts
  packages/make-meaning/src/__tests__/generation/resource-generation.test.ts
Due: none

translations
  apps/frontend/messages-source/ar.json
  apps/frontend/messages-source/bn.json
  apps/frontend/messages-source/cs.json
  apps/frontend/messages-source/da.json
  apps/frontend/messages-source/de.json
  apps/frontend/messages-source/el.json
  apps/frontend/messages-source/en.json
  apps/frontend/messages-source/es.json
  apps/frontend/messages-source/fa.json
  apps/frontend/messages-source/fi.json
  apps/frontend/messages-source/fr.json
  apps/frontend/messages-source/he.json
  apps/frontend/messages-source/hi.json
  apps/frontend/messages-source/id.json
  apps/frontend/messages-source/it.json
  apps/frontend/messages-source/ja.json
  apps/frontend/messages-source/ko.json
  apps/frontend/messages-source/ms.json
  apps/frontend/messages-source/nl.json
  apps/frontend/messages-source/no.json
  apps/frontend/messages-source/pl.json
  apps/frontend/messages-source/pt.json
  apps/frontend/messages-source/ro.json
  apps/frontend/messages-source/sv.json
  apps/frontend/messages-source/th.json
  apps/frontend/messages-source/tr.json
  apps/frontend/messages-source/uk.json
  apps/frontend/messages-source/vi.json
  apps/frontend/messages-source/zh.json
Due: frontend

fix test
  apps/frontend/src/components/modals/__tests__/GenerationConfigModal.test.tsx
Due: none

reorg readme
  README.md
Due: none

remove stale examples
  packages/content/examples/basic.ts
  packages/event-sourcing/examples/basic.ts
  packages/graph/examples/basic.ts
  packages/inference/examples/basic.ts
  packages/jobs/examples/basic.ts
  packages/react-ui/src/examples/ButtonUsageExample.tsx
  packages/react-ui/src/examples/button-css-modules.module.css
  packages/react-ui/src/examples/button-styled-components.tsx
  packages/react-ui/src/examples/button-tailwind.css
Due: none

fix css config
  apps/frontend/src/types/css.d.ts
Due: frontend

excludes
  tsconfig.json
Due: none

remove ts warnings
  apps/backend/src/__tests__/db.test.ts
  apps/frontend/src/app/api/__tests__/setup.ts
  packages/make-meaning/src/__tests__/binder.test.ts
Due: none

update redocly
  package-lock.json
  package.json
Due: none

minor version updates for 4 dependencies
  apps/backend/package.json
  apps/frontend/package.json
  package-lock.json
Due: frontend, backend

version upgrades
  apps/backend/package.json
  apps/frontend/package.json
  package-lock.json
Due: frontend, backend

upgrade vitest
  apps/backend/package.json
  apps/cli/package.json
  apps/cli/src/core/vitest-runner.ts
  apps/frontend/package.json
  apps/frontend/src/lib/__tests__/auth.test.ts
  package-lock.json
  packages/api-client/package.json
  packages/content/package.json
  packages/core/package.json
  packages/event-sourcing/package.json
  packages/graph/package.json
  packages/inference/package.json
  packages/jobs/package.json
  packages/make-meaning/package.json
  packages/make-meaning/src/__tests__/binder.test.ts
  packages/mcp-server/package.json
  packages/ontology/package.json
  packages/react-ui/package.json
  packages/react-ui/src/lib/__tests__/api-hooks-auth.test.tsx
  packages/test-utils/package.json
  packages/test-utils/tsconfig.json
Due: api-client, content, core, event-sourcing, graph, inference, jobs, make-meaning, mcp-server, ontology, react-ui, frontend, backend, @semiont/core, @semiont/api-client, @semiont/ontology, @semiont/content, @semiont/event-sourcing, @semiont/graph, @semiont/inference, @semiont/jobs, @semiont/make-meaning, @semiont/react-ui
