Repository The-AI-Alliance/semiont: changes, and which Codecov flags are due for each by the changed paths.
All: api-client, content, core, event-sourcing, graph, inference, jobs, make-meaning, mcp-server, ontology, react-ui, frontend, backend, @semiont/core, @semiont/api-client, @semiont/ontology, @semiont/content, @semiont/event-sourcing, @semiont/graph, @semiont/inference, @semiont/jobs, @semiont/make-meaning, @semiont/react-ui

codecov.yml:

# Codecov configuration for Semiont monorepo
# https://docs.codecov.io/docs/codecovyml-reference

codecov:
  # Require CI to finish before processing coverage
  require_ci_to_pass: true

  # Wait for all coverage reports before commenting
  notify:
    wait_for_ci: true

coverage:
  # Overall project coverage settings
  status:
    # Project-wide coverage status
    project:
      default:
        # Coverage can drop by 1% without failing
        threshold: 1%
        target: 70%  # Target 70% overall coverage

    # Per-PR patch coverage
    patch:
      default:
        # New code should have at least 80% coverage
        target: 80%
        threshold: 5%

  # Round coverage to 2 decimal places
  precision: 2
  round: down

  # Coverage range for color coding
  range: "50...90"

# Component-specific coverage configuration
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 1%
  individual_components:
    # Core packages with higher coverage requirements
    - component_id: core
      name: "@semiont/core"
      paths:
        - packages/core/**
    - component_id: api-client
      name: "@semiont/api-client"
      paths:
        - packages/api-client/**
    - component_id: ontology
      name: "@semiont/ontology"
      paths:
        - packages/ontology/**
    - component_id: content
      name: "@semiont/content"
      paths:
        - packages/content/**
    - component_id: event-sourcing
      name: "@semiont/event-sourcing"
      paths:
        - packages/event-sourcing/**
    - component_id: graph
      name: "@semiont/graph"
      paths:
        - packages/graph/**
    - component_id: inference
      name: "@semiont/inference"
      paths:
        - packages/inference/**
    - component_id: jobs
      name: "@semiont/jobs"
      paths:
        - packages/jobs/**
    - component_id: make-meaning
      name: "@semiont/make-meaning"
      paths:
        - packages/make-meaning/**
    - component_id: react-ui
      name: "@semiont/react-ui"
      paths:
        - packages/react-ui/**

# Ignore certain files from coverage
ignore:
  # Test files
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/*.spec.tsx"
  - "**/test/**"
  - "**/tests/**"
  - "**/__tests__/**"
  - "**/test-utils/**"

  # Build artifacts
  - "**/dist/**"
  - "**/build/**"
  - "**/coverage/**"
  - "**/.next/**"

  # Config files
  - "**/*.config.ts"
  - "**/*.config.js"
  - "**/jest.setup.ts"

  # Generated files
  - "**/generated/**"
  - "packages/api-client/src/types.ts"

  # Examples and demos
  - "**/examples/**"
  - "**/demo/**"

  # Scripts
  - "scripts/**"

# Comment configuration
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Flag configuration for different test suites
flags:
  # Individual package flags
  api-client:
    paths:
      - packages/api-client/**
    carryforward: true

  content:
    paths:
      - packages/content/**
    carryforward: true

  core:
    paths:
      - packages/core/**
    carryforward: true

  event-sourcing:
    paths:
      - packages/event-sourcing/**
    carryforward: true

  graph:
    paths:
      - packages/graph/**
    carryforward: true

  inference:
    paths:
      - packages/inference/**
    carryforward: true

  jobs:
    paths:
      - packages/jobs/**
    carryforward: true

  make-meaning:
    paths:
      - packages/make-meaning/**
    carryforward: true

  mcp-server:
    paths:
      - packages/mcp-server/**
    carryforward: true

  ontology:
    paths:
      - packages/ontology/**
    carryforward: true

  react-ui:
    paths:
      - packages/react-ui/**
    carryforward: true

  # App flags (for future use)
  frontend:
    paths:
      - apps/frontend/**
    carryforward: true

  backend:
    paths:
      - apps/backend/**
    carryforward: true

Re-auth 07-sign-out-sign-in through the issuer; the Browser has no password field
  tests/e2e/specs/07-sign-out-sign-in.spec.ts
Due: none

The sign-out spec re-auths at the issuer, and the e2e bridge reaches the worker's health port (#1447)
  tests/e2e/e2e-localhost-bridge.mjs
  tests/e2e/specs/07-sign-out-sign-in.spec.ts
Due: none

bump version to 0.6.0
  apps/browser/package.json
  apps/browser/package.publish.json
  apps/desktop/package.json
  apps/gateway/package.json
  apps/gateway/package.publish.json
  package-lock.json
  package.json
  packages/content/package.json
  packages/core/package.json
  packages/event-sourcing/package.json
  packages/graph/package.json
  packages/http-transport/package.json
  packages/inference/package.json
  packages/jobs/package.json
  packages/make-meaning/package.json
  packages/mcp-server/package.json
  packages/observability/package.json
  packages/ontology/package.json
  packages/react-ui/package.json
  packages/sdk/package.json
  packages/vectors/package.json
  version.json
Due: content, core, event-sourcing, graph, inference, jobs, make-meaning, mcp-server, ontology, react-ui, @semiont/core, @semiont/ontology, @semiont/content, @semiont/event-sourcing, @semiont/graph, @semiont/inference, @semiont/jobs, @semiont/make-meaning, @semiont/react-ui

bump version to 0.6.0 (#1448)
  apps/browser/package.json
  apps/browser/package.publish.json
  apps/desktop/package.json
  apps/gateway/package.json
  apps/gateway/package.publish.json
  package-lock.json
  package.json
  packages/content/package.json
  packages/core/package.json
  packages/event-sourcing/package.json
  packages/graph/package.json
  packages/http-transport/package.json
  packages/inference/package.json
  packages/jobs/package.json
  packages/make-meaning/package.json
  packages/mcp-server/package.json
  packages/observability/package.json
  packages/ontology/package.json
  packages/react-ui/package.json
  packages/sdk/package.json
  packages/vectors/package.json
  version.json
Due: content, core, event-sourcing, graph, inference, jobs, make-meaning, mcp-server, ontology, react-ui, @semiont/core, @semiont/ontology, @semiont/content, @semiont/event-sourcing, @semiont/graph, @semiont/inference, @semiont/jobs, @semiont/make-meaning, @semiont/react-ui

bump version to 0.6.1
  apps/browser/package.json
  apps/browser/package.publish.json
  apps/desktop/package.json
  apps/gateway/package.json
  apps/gateway/package.publish.json
  package-lock.json
  package.json
  packages/content/package.json
  packages/core/package.json
  packages/event-sourcing/package.json
  packages/graph/package.json
  packages/http-transport/package.json
  packages/inference/package.json
  packages/jobs/package.json
  packages/make-meaning/package.json
  packages/mcp-server/package.json
  packages/observability/package.json
  packages/ontology/package.json
  packages/react-ui/package.json
  packages/sdk/package.json
  packages/vectors/package.json
  version.json
Due: content, core, event-sourcing, graph, inference, jobs, make-meaning, mcp-server, ontology, react-ui, @semiont/core, @semiont/ontology, @semiont/content, @semiont/event-sourcing, @semiont/graph, @semiont/inference, @semiont/jobs, @semiont/make-meaning, @semiont/react-ui

bump version to 0.6.1 (#1450)
  apps/browser/package.json
  apps/browser/package.publish.json
  apps/desktop/package.json
  apps/gateway/package.json
  apps/gateway/package.publish.json
  package-lock.json
  package.json
  packages/content/package.json
  packages/core/package.json
  packages/event-sourcing/package.json
  packages/graph/package.json
  packages/http-transport/package.json
  packages/inference/package.json
  packages/jobs/package.json
  packages/make-meaning/package.json
  packages/mcp-server/package.json
  packages/observability/package.json
  packages/ontology/package.json
  packages/react-ui/package.json
  packages/sdk/package.json
  packages/vectors/package.json
  version.json
Due: content, core, event-sourcing, graph, inference, jobs, make-meaning, mcp-server, ontology, react-ui, @semiont/core, @semiont/ontology, @semiont/content, @semiont/event-sourcing, @semiont/graph, @semiont/inference, @semiont/jobs, @semiont/make-meaning, @semiont/react-ui

update docs
  .github/licenses/exceptions.txt
  apps/browser/docs/ARCHITECTURE.md
  apps/browser/docs/COMPONENT-LIBRARY.md
  apps/browser/docs/DEVELOPMENT.md
  apps/browser/docs/INTERNATIONALIZATION.md
  apps/browser/docs/TESTING.md
  apps/launcher/internal/launcher/useradd.go
  apps/launcher/launcher_test.go
  docs/browser/FEATURES.md
  docs/development/TESTING.md
  docs/protocol/RBAC.md
  docs/protocol/skills/semiont-local/SKILL.md
  docs/system/LOCAL-GATEWAY.md
  docs/system/LOCAL-SEMIONT.md
  docs/system/administration/SECURITY.md
  packages/react-ui/docs/ACCESSIBILITY.md
  packages/react-ui/docs/COMPONENTS.md
  packages/react-ui/docs/INTERNATIONALIZATION.md
  packages/react-ui/docs/ROUTING.md
  packages/react-ui/docs/STYLES.md
  packages/react-ui/docs/TESTING.md
Due: react-ui, @semiont/react-ui

Retire the gateway image's last prisma-era patch
  apps/gateway/Dockerfile
Due: none

Give the browser image the gates the service images already have
  .github/workflows/publish-browser.yml
Due: none

react-ui: CI ran 149 of 179 test files; run them all, and stop unit tests building real HTTP transports
  packages/react-ui/package.json
  packages/react-ui/src/__tests__/test-utils-composition.test.ts
  packages/react-ui/src/components/__tests__/Toolbar.test.tsx
  packages/react-ui/src/components/navigation/__tests__/ObservableLink.test.tsx
  packages/react-ui/src/components/navigation/__tests__/SimpleNavigation.test.tsx
  packages/react-ui/src/components/pdf-annotation/__tests__/PdfAnnotationCanvas.test.tsx
  packages/react-ui/src/components/settings/__tests__/SettingsPanel.test.tsx
  packages/react-ui/src/features/resource-viewer/__tests__/ResourceViewerPage.test.tsx
  packages/react-ui/src/hooks/__tests__/useObservableBrowse.test.tsx
  packages/react-ui/src/hooks/__tests__/useStateUnit.identity.test.tsx
  packages/react-ui/src/test-utils.tsx
  packages/react-ui/vitest.setup.ts
  packages/sdk/src/testing.ts
Due: react-ui, @semiont/react-ui

react-ui: CI ran 149 of 179 test files; run them all, and stop unit tests building real HTTP transports (#1452)
  packages/react-ui/package.json
  packages/react-ui/src/__tests__/test-utils-composition.test.ts
  packages/react-ui/src/components/__tests__/Toolbar.test.tsx
  packages/react-ui/src/components/navigation/__tests__/ObservableLink.test.tsx
  packages/react-ui/src/components/navigation/__tests__/SimpleNavigation.test.tsx
  packages/react-ui/src/components/pdf-annotation/__tests__/PdfAnnotationCanvas.test.tsx
  packages/react-ui/src/components/settings/__tests__/SettingsPanel.test.tsx
  packages/react-ui/src/features/resource-viewer/__tests__/ResourceViewerPage.test.tsx
  packages/react-ui/src/hooks/__tests__/useObservableBrowse.test.tsx
  packages/react-ui/src/hooks/__tests__/useStateUnit.identity.test.tsx
  packages/react-ui/src/test-utils.tsx
  packages/react-ui/vitest.setup.ts
  packages/sdk/src/testing.ts
Due: react-ui, @semiont/react-ui

refactor for testability
  packages/core/src/faulty-transport.ts
  packages/core/src/testing.ts
  packages/react-ui/src/components/pdf-annotation/PdfAnnotationCanvas.tsx
  packages/react-ui/src/components/pdf-annotation/PdfPageView.tsx
  packages/react-ui/src/components/pdf-annotation/__tests__/PdfAnnotationCanvas.test.tsx
  packages/react-ui/src/components/pdf-annotation/__tests__/use-anchored-text.test.ts
  packages/react-ui/src/components/pdf-annotation/use-anchored-text.ts
  packages/react-ui/src/features/resource-viewer/__tests__/ResourceViewerPage.test.tsx
  packages/react-ui/src/test-utils.tsx
  packages/react-ui/vitest.setup.ts
  packages/sdk/src/__tests__/testing-double.test.ts
  packages/sdk/src/testing.ts
Due: core, react-ui, @semiont/core, @semiont/react-ui

Rename test-utils factories: nothing they return is fake or mocked any more
  packages/react-ui/src/components/modals/__tests__/PermissionDeniedModal.test.tsx
  packages/react-ui/src/components/modals/__tests__/SessionExpiredModal.test.tsx
  packages/react-ui/src/test-utils.tsx
Due: react-ui, @semiont/react-ui

Test doubles refuse instead of inventing; split PdfAnnotationCanvas and extract its anchored-text machine (#1453)
  packages/core/src/faulty-transport.ts
  packages/core/src/testing.ts
  packages/react-ui/src/components/modals/__tests__/PermissionDeniedModal.test.tsx
  packages/react-ui/src/components/modals/__tests__/SessionExpiredModal.test.tsx
  packages/react-ui/src/components/pdf-annotation/PdfAnnotationCanvas.tsx
  packages/react-ui/src/components/pdf-annotation/PdfPageView.tsx
  packages/react-ui/src/components/pdf-annotation/__tests__/PdfAnnotationCanvas.test.tsx
  packages/react-ui/src/components/pdf-annotation/__tests__/use-anchored-text.test.ts
  packages/react-ui/src/components/pdf-annotation/use-anchored-text.ts
  packages/react-ui/src/features/resource-viewer/__tests__/ResourceViewerPage.test.tsx
  packages/react-ui/src/test-utils.tsx
  packages/react-ui/vitest.setup.ts
  packages/sdk/src/__tests__/testing-double.test.ts
  packages/sdk/src/testing.ts
Due: core, react-ui, @semiont/core, @semiont/react-ui

sdk and vectors get the Codecov flags the matrix has always sent them under
  codecov.yml
Due: none

Four lists decide which packages CI measures; now they have to agree
  .github/workflows/architecture-compliance.yml
  codecov.yml
  package.json
  packages/observability/package.json
  packages/observability/vitest.config.ts
  scripts/lint/check-coverage-roster-agreement.mjs
Due: none

Regenerate the lockfile: observability's coverage provider, and 239 duplicates
  package-lock.json
Due: none

Delete the unpinned Codecov uploader and the fail_ci_if_error it contradicted
  .github/workflows/package-tests.yml
Due: none

test coverage for @semiont/observability
  packages/observability/src/__tests__/index.test.ts
  packages/observability/src/__tests__/node.test.ts
  packages/observability/src/__tests__/process-logger.test.ts
  packages/observability/src/index.ts
  packages/observability/vitest.config.ts
Due: none

more tests for service-pump-roundtrip
  packages/make-meaning/src/__tests__/service-pump-roundtrip.test.ts
Due: none

One coverage configuration, derived, and a gate that keeps it that way
  .github/workflows/architecture-compliance.yml
  apps/browser/vitest.config.mjs
  apps/gateway/vitest.config.mjs
  package.json
  packages/content/vitest.config.ts
  packages/core/vitest.config.ts
  packages/event-sourcing/vitest.config.ts
  packages/graph/vitest.config.ts
  packages/http-transport/vitest.config.ts
  packages/jobs/vitest.config.ts
  packages/make-meaning/vitest.config.ts
  packages/mcp-server/vitest.config.ts
  packages/observability/vitest.config.ts
  packages/ontology/vitest.config.ts
  packages/react-ui/vitest.config.ts
  packages/sdk/vitest.config.ts
  packages/vectors/vitest.config.ts
  scripts/lint/check-vitest-coverage-config.mjs
  vitest.shared.config.ts
Due: none

codecov badges
  packages/mcp-server/README.md
  packages/vectors/README.md
Due: mcp-server

Hoist the test globs too, and stop the .ts-only one eating 158 tests
  packages/graph/vitest.config.ts
  packages/http-transport/vitest.config.ts
  packages/inference/vitest.config.ts
  packages/jobs/vitest.config.ts
  packages/observability/vitest.config.ts
  packages/ontology/vitest.config.ts
  packages/sdk/vitest.config.ts
  packages/vectors/vitest.config.ts
  vitest.shared.config.ts
Due: none

Coverage: one configuration, a census gate for the roster, and the package that genuinely had none (#1454)
  .github/workflows/architecture-compliance.yml
  .github/workflows/package-tests.yml
  apps/browser/vitest.config.mjs
  apps/gateway/vitest.config.mjs
  codecov.yml
  package-lock.json
  package.json
  packages/content/vitest.config.ts
  packages/core/vitest.config.ts
  packages/event-sourcing/vitest.config.ts
  packages/graph/vitest.config.ts
  packages/inference/vitest.config.ts
  packages/jobs/vitest.config.ts
  packages/make-meaning/src/__tests__/service-pump-roundtrip.test.ts
  packages/make-meaning/vitest.config.ts
  packages/mcp-server/README.md
  packages/mcp-server/vitest.config.ts
  packages/observability/package.json
  packages/observability/src/__tests__/index.test.ts
  packages/observability/src/__tests__/node.test.ts
  packages/observability/src/__tests__/process-logger.test.ts
  packages/observability/src/index.ts
  packages/observability/vitest.config.ts
  packages/ontology/vitest.config.ts
  packages/react-ui/vitest.config.ts
  packages/sdk/vitest.config.ts
  packages/vectors/README.md
  packages/vectors/vitest.config.ts
  scripts/lint/check-coverage-roster-agreement.mjs
  scripts/lint/check-vitest-coverage-config.mjs
  vitest.shared.config.ts
Due: mcp-server

bump version to 0.6.2
  apps/browser/package.json
  apps/browser/package.publish.json
  apps/desktop/package.json
  apps/gateway/package.json
  apps/gateway/package.publish.json
  package-lock.json
  package.json
  packages/content/package.json
  packages/core/package.json
  packages/event-sourcing/package.json
  packages/graph/package.json
  packages/http-transport/package.json
  packages/inference/package.json
  packages/jobs/package.json
  packages/make-meaning/package.json
  packages/mcp-server/package.json
  packages/observability/package.json
  packages/ontology/package.json
  packages/react-ui/package.json
  packages/sdk/package.json
  packages/vectors/package.json
  version.json
Due: content, core, event-sourcing, graph, inference, jobs, make-meaning, mcp-server, ontology, react-ui, @semiont/core, @semiont/ontology, @semiont/content, @semiont/event-sourcing, @semiont/graph, @semiont/inference, @semiont/jobs, @semiont/make-meaning, @semiont/react-ui

bump version to 0.6.2 (#1457)
  apps/browser/package.json
  apps/browser/package.publish.json
  apps/desktop/package.json
  apps/gateway/package.json
  apps/gateway/package.publish.json
  package-lock.json
  package.json
  packages/content/package.json
  packages/core/package.json
  packages/event-sourcing/package.json
  packages/graph/package.json
  packages/http-transport/package.json
  packages/inference/package.json
  packages/jobs/package.json
  packages/make-meaning/package.json
  packages/mcp-server/package.json
  packages/observability/package.json
  packages/ontology/package.json
  packages/react-ui/package.json
  packages/sdk/package.json
  packages/vectors/package.json
  version.json
Due: content, core, event-sourcing, graph, inference, jobs, make-meaning, mcp-server, ontology, react-ui, @semiont/core, @semiont/ontology, @semiont/content, @semiont/event-sourcing, @semiont/graph, @semiont/inference, @semiont/jobs, @semiont/make-meaning, @semiont/react-ui

update docs for 0.6.x
  README.md
  apps/launcher/internal/launcher/identity.go
  docs/system/administration/TROUBLESHOOTING.md
Due: none

shorten
  README.md
  apps/launcher/internal/launcher/identity.go
  docs/system/administration/TROUBLESHOOTING.md
Due: none

SDK docs stop promising a ten-minute token, a method named on$, and two deleted bus codes
  packages/sdk/README.md
  packages/sdk/docs/DEVELOPER-GUIDE.md
  packages/sdk/docs/Usage.md
Due: none

Report queue depth and ledger occupancy in semiont status, and fix the gateway gauge that never exported
  apps/gateway/src/__tests__/routes/bus.test.ts
  apps/gateway/src/index.ts
  apps/gateway/src/signal/composition.ts
  apps/gateway/src/signal/ledger.ts
  apps/launcher/internal/launcher/observed.go
  apps/launcher/internal/launcher/observed_test.go
  apps/launcher/internal/launcher/status.go
  apps/launcher/internal/launcher/support.go
  packages/observability/src/__tests__/index.test.ts
  packages/observability/src/index.ts
Due: none

README's Automate section opens with the shell, since the launcher speaks the same verbs and login is what unlocks them
  README.md
Due: none

fix observability test setup
  packages/observability/src/__tests__/index.test.ts
  packages/observability/src/index.ts
  packages/observability/src/node.ts
Due: none

show cumulative job queue count
  apps/launcher/internal/launcher/observed.go
  apps/launcher/internal/launcher/observed_test.go
Due: none

bump version to 0.6.3
  apps/browser/package.json
  apps/browser/package.publish.json
  apps/desktop/package.json
  apps/gateway/package.json
  apps/gateway/package.publish.json
  package-lock.json
  package.json
  packages/content/package.json
  packages/core/package.json
  packages/event-sourcing/package.json
  packages/graph/package.json
  packages/http-transport/package.json
  packages/inference/package.json
  packages/jobs/package.json
  packages/make-meaning/package.json
  packages/mcp-server/package.json
  packages/observability/package.json
  packages/ontology/package.json
  packages/react-ui/package.json
  packages/sdk/package.json
  packages/vectors/package.json
  version.json
Due: content, core, event-sourcing, graph, inference, jobs, make-meaning, mcp-server, ontology, react-ui, @semiont/core, @semiont/ontology, @semiont/content, @semiont/event-sourcing, @semiont/graph, @semiont/inference, @semiont/jobs, @semiont/make-meaning, @semiont/react-ui

bump version to 0.6.3 (#1460)
  apps/browser/package.json
  apps/browser/package.publish.json
  apps/desktop/package.json
  apps/gateway/package.json
  apps/gateway/package.publish.json
  package-lock.json
  package.json
  packages/content/package.json
  packages/core/package.json
  packages/event-sourcing/package.json
  packages/graph/package.json
  packages/http-transport/package.json
  packages/inference/package.json
  packages/jobs/package.json
  packages/make-meaning/package.json
  packages/mcp-server/package.json
  packages/observability/package.json
  packages/ontology/package.json
  packages/react-ui/package.json
  packages/sdk/package.json
  packages/vectors/package.json
  version.json
Due: content, core, event-sourcing, graph, inference, jobs, make-meaning, mcp-server, ontology, react-ui, @semiont/core, @semiont/ontology, @semiont/content, @semiont/event-sourcing, @semiont/graph, @semiont/inference, @semiont/jobs, @semiont/make-meaning, @semiont/react-ui

Web origins are matched exactly, so they carry the port the portless redirect URIs omit — + derived them from those redirects and allowed the Browser's own origin nowhere
  apps/launcher/internal/fakert/main.go
  apps/launcher/internal/launcher/executor.go
  apps/launcher/internal/launcher/flows.go
  apps/launcher/internal/launcher/identity.go
  apps/launcher/internal/launcher/identity_test.go
  apps/launcher/internal/launcher/identitycmd.go
  apps/launcher/internal/launcher/identitysync.go
  apps/launcher/internal/launcher/identitysync_test.go
  apps/launcher/internal/launcher/preflight.go
  apps/launcher/internal/launcher/preflight_test.go
  apps/launcher/internal/launcher/start.go
  docs/system/administration/TROUBLESHOOTING.md
Due: none
