Repository The-AI-Alliance/semiont: changes, and which Codecov flags are due for each by the changed paths.
All: api-client, content, core, event-sourcing, graph, inference, jobs, make-meaning, mcp-server, ontology, react-ui, frontend, backend, @semiont/core, @semiont/api-client, @semiont/ontology, @semiont/content, @semiont/event-sourcing, @semiont/graph, @semiont/inference, @semiont/jobs, @semiont/make-meaning, @semiont/react-ui

codecov.yml:

# Codecov configuration for Semiont monorepo
# https://docs.codecov.io/docs/codecovyml-reference

codecov:
  # Require CI to finish before processing coverage
  require_ci_to_pass: true

  # Wait for all coverage reports before commenting
  notify:
    wait_for_ci: true

coverage:
  # Overall project coverage settings
  status:
    # Project-wide coverage status
    project:
      default:
        # Coverage can drop by 1% without failing
        threshold: 1%
        target: 70%  # Target 70% overall coverage

    # Per-PR patch coverage
    patch:
      default:
        # New code should have at least 80% coverage
        target: 80%
        threshold: 5%

  # Round coverage to 2 decimal places
  precision: 2
  round: down

  # Coverage range for color coding
  range: "50...90"

# Component-specific coverage configuration
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 1%
  individual_components:
    # Core packages with higher coverage requirements
    - component_id: core
      name: "@semiont/core"
      paths:
        - packages/core/**
    - component_id: api-client
      name: "@semiont/api-client"
      paths:
        - packages/api-client/**
    - component_id: ontology
      name: "@semiont/ontology"
      paths:
        - packages/ontology/**
    - component_id: content
      name: "@semiont/content"
      paths:
        - packages/content/**
    - component_id: event-sourcing
      name: "@semiont/event-sourcing"
      paths:
        - packages/event-sourcing/**
    - component_id: graph
      name: "@semiont/graph"
      paths:
        - packages/graph/**
    - component_id: inference
      name: "@semiont/inference"
      paths:
        - packages/inference/**
    - component_id: jobs
      name: "@semiont/jobs"
      paths:
        - packages/jobs/**
    - component_id: make-meaning
      name: "@semiont/make-meaning"
      paths:
        - packages/make-meaning/**
    - component_id: react-ui
      name: "@semiont/react-ui"
      paths:
        - packages/react-ui/**

# Ignore certain files from coverage
ignore:
  # Test files
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/*.spec.tsx"
  - "**/test/**"
  - "**/tests/**"
  - "**/__tests__/**"
  - "**/test-utils/**"

  # Build artifacts
  - "**/dist/**"
  - "**/build/**"
  - "**/coverage/**"
  - "**/.next/**"

  # Config files
  - "**/*.config.ts"
  - "**/*.config.js"
  - "**/jest.setup.ts"

  # Generated files
  - "**/generated/**"
  - "packages/api-client/src/types.ts"

  # Examples and demos
  - "**/examples/**"
  - "**/demo/**"

  # Scripts
  - "scripts/**"

# Comment configuration
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Flag configuration for different test suites
flags:
  # Individual package flags
  api-client:
    paths:
      - packages/api-client/**
    carryforward: true

  content:
    paths:
      - packages/content/**
    carryforward: true

  core:
    paths:
      - packages/core/**
    carryforward: true

  event-sourcing:
    paths:
      - packages/event-sourcing/**
    carryforward: true

  graph:
    paths:
      - packages/graph/**
    carryforward: true

  inference:
    paths:
      - packages/inference/**
    carryforward: true

  jobs:
    paths:
      - packages/jobs/**
    carryforward: true

  make-meaning:
    paths:
      - packages/make-meaning/**
    carryforward: true

  mcp-server:
    paths:
      - packages/mcp-server/**
    carryforward: true

  ontology:
    paths:
      - packages/ontology/**
    carryforward: true

  react-ui:
    paths:
      - packages/react-ui/**
    carryforward: true

  # App flags (for future use)
  frontend:
    paths:
      - apps/frontend/**
    carryforward: true

  backend:
    paths:
      - apps/backend/**
    carryforward: true

rm old, duplicated code
  packages/react-ui/src/contexts/AnnotationUIContext.tsx
  packages/react-ui/src/contexts/__tests__/AnnotationUIContext.test.tsx
  packages/react-ui/src/index.ts
Due: react-ui, @semiont/react-ui

rm dead code
  packages/react-ui/src/hooks/__tests__/useUI.test.ts
  packages/react-ui/src/hooks/useFormValidation.ts
  packages/react-ui/src/hooks/useUI.ts
  packages/react-ui/src/index.ts
Due: react-ui, @semiont/react-ui

add cancelFallback: () => void to navigation:external-navigate payload type
  apps/frontend/src/components/knowledge/NavigationHandler.tsx
  packages/react-ui/src/contexts/EventBusContext.tsx
  packages/react-ui/src/hooks/useObservableNavigation.tsx
Due: react-ui, frontend, @semiont/react-ui

fixes for keep-alive and stream-connected meta-events
  packages/api-client/src/sse/index.ts
  packages/react-ui/src/hooks/usePanelWidth.ts
  packages/react-ui/src/hooks/useResourceEvents.ts
Due: api-client, react-ui, @semiont/api-client, @semiont/react-ui

add announce to every useCallback dep array across: useDragAnnouncements.ts, useSearchAnnouncements.ts, LiveRegion.tsx
  packages/react-ui/src/components/LiveRegion.tsx
  packages/react-ui/src/hooks/useDragAnnouncements.ts
  packages/react-ui/src/hooks/useSearchAnnouncements.ts
Due: react-ui, @semiont/react-ui

useGenerationProgress inlined into useGenerationFlow
  packages/react-ui/src/features/resource-viewer/__tests__/GenerationFlowIntegration.test.tsx
  packages/react-ui/src/features/resource-viewer/__tests__/ResourceViewerPage.test.tsx
  packages/react-ui/src/hooks/__tests__/useGenerationFlow.test.ts
  packages/react-ui/src/hooks/useGenerationFlow.ts
  packages/react-ui/src/hooks/useGenerationProgress.ts
  packages/react-ui/src/index.ts
Due: react-ui, @semiont/react-ui

rm unused event
  packages/react-ui/src/contexts/EventBusContext.tsx
Due: react-ui, @semiont/react-ui

update docs for recent Hooks reorg
  apps/frontend/docs/ARCHITECTURE.md
  apps/frontend/docs/AUTHENTICATION.md
  apps/frontend/docs/RENDERING-ARCHITECTURE.md
  docs/ai/GENERATION.md
  packages/react-ui/docs/SERVICE-HOOK-COMPONENT.md
Due: react-ui, frontend, @semiont/react-ui

fix typecheck
  packages/react-ui/src/lib/api-hooks.ts
Due: react-ui, @semiont/react-ui

align older reference-realted symbol names with newer motivation-specific annotation symbols
  apps/backend/src/routes/resources/routes/detect-annotations-stream.ts
  packages/api-client/src/__tests__/sse-client.test.ts
  packages/api-client/src/__tests__/sse-stream.test.ts
  packages/api-client/src/index.ts
  packages/api-client/src/sse/index.ts
  packages/api-client/src/sse/types.ts
  packages/react-ui/src/features/resource-viewer/__tests__/DetectionFlowBug.test.tsx
  packages/react-ui/src/features/resource-viewer/__tests__/DetectionFlowIntegration.test.tsx
  packages/react-ui/src/features/resource-viewer/__tests__/DetectionProgressDismissal.test.tsx
  packages/react-ui/src/features/resource-viewer/__tests__/detection-progress-flow.test.tsx
  packages/react-ui/src/hooks/useDetectionFlow.ts
  packages/react-ui/src/lib/annotation-registry.ts
  specs/src/components/schemas/DetectReferencesStreamRequest.json
  specs/src/openapi.json
  specs/src/paths/resources_{id}_detect-annotations-stream.json
Due: api-client, react-ui, backend, @semiont/api-client, @semiont/react-ui

fix typecheck and 'any' casts
  packages/react-ui/src/components/resource/panels/AssessmentPanel.tsx
  packages/react-ui/src/components/resource/panels/ReferenceEntry.tsx
  packages/react-ui/src/components/resource/panels/TaggingPanel.tsx
  packages/react-ui/src/components/resource/panels/__tests__/TaggingPanel.test.tsx
  packages/react-ui/src/contexts/EventBusContext.tsx
  packages/react-ui/src/hooks/useContextRetrievalFlow.ts
  packages/react-ui/src/hooks/useDetectionFlow.ts
  packages/react-ui/src/lib/annotation-registry.ts
  packages/react-ui/src/types/progress.ts
Due: react-ui, @semiont/react-ui

restore tone and density parameter plumbing
  packages/api-client/src/sse/index.ts
  packages/react-ui/src/components/resource/panels/DetectSection.tsx
  packages/react-ui/src/contexts/EventBusContext.tsx
  packages/react-ui/src/hooks/useDetectionFlow.ts
Due: api-client, react-ui, @semiont/api-client, @semiont/react-ui

fix mcp build
  packages/mcp-server/src/handlers.ts
Due: mcp-server

get useResolutionFlow in shape
  packages/react-ui/src/contexts/useResolutionFlow.ts
  packages/react-ui/src/features/resource-viewer/__tests__/GenerationFlowIntegration.test.tsx
  packages/react-ui/src/features/resource-viewer/components/ResourceViewerPage.tsx
  packages/react-ui/src/hooks/useResolutionFlow.ts
  packages/react-ui/src/index.ts
Due: react-ui, @semiont/react-ui

useAttentionFlow
  packages/react-ui/src/features/resource-viewer/components/ResourceViewerPage.tsx
  packages/react-ui/src/hooks/useAttentionFlow.ts
  packages/react-ui/src/hooks/useDetectionFlow.ts
  packages/react-ui/src/index.ts
Due: react-ui, @semiont/react-ui

improve test coverage
  packages/react-ui/src/features/resource-viewer/__tests__/ResolutionFlowIntegration.test.tsx
  packages/react-ui/src/hooks/__tests__/useAttentionFlow.test.tsx
Due: none

use{Resolution,Attention}Flow (#437)
  packages/react-ui/src/contexts/useResolutionFlow.ts
  packages/react-ui/src/features/resource-viewer/__tests__/GenerationFlowIntegration.test.tsx
  packages/react-ui/src/features/resource-viewer/__tests__/ResolutionFlowIntegration.test.tsx
  packages/react-ui/src/features/resource-viewer/components/ResourceViewerPage.tsx
  packages/react-ui/src/hooks/__tests__/useAttentionFlow.test.tsx
  packages/react-ui/src/hooks/useAttentionFlow.ts
  packages/react-ui/src/hooks/useDetectionFlow.ts
  packages/react-ui/src/hooks/useResolutionFlow.ts
  packages/react-ui/src/index.ts
Due: react-ui, @semiont/react-ui

require dwell time before triggering annotation:hover
  packages/react-ui/src/components/CodeMirrorRenderer.tsx
  packages/react-ui/src/components/image-annotation/AnnotationOverlay.tsx
  packages/react-ui/src/components/pdf-annotation/PdfAnnotationCanvas.tsx
  packages/react-ui/src/components/resource/BrowseView.tsx
  packages/react-ui/src/components/resource/__tests__/BrowseView.test.tsx
  packages/react-ui/src/components/resource/panels/AssessmentEntry.tsx
  packages/react-ui/src/components/resource/panels/CommentEntry.tsx
  packages/react-ui/src/components/resource/panels/HighlightEntry.tsx
  packages/react-ui/src/components/resource/panels/ReferenceEntry.tsx
  packages/react-ui/src/components/resource/panels/TagEntry.tsx
  packages/react-ui/src/components/resource/panels/__tests__/CommentEntry.test.tsx
  packages/react-ui/src/hooks/useAttentionFlow.ts
Due: react-ui, @semiont/react-ui

show delete click action in red when selected (as well as in drop-down)
  packages/react-ui/src/components/annotation/AnnotateToolbar.tsx
  packages/react-ui/src/components/toolbar/Toolbar.css
Due: react-ui, @semiont/react-ui

call setPendingAnnotation(null) on annotation success
  packages/react-ui/src/hooks/useDetectionFlow.ts
Due: react-ui, @semiont/react-ui

tests for pending annotions
  packages/react-ui/src/features/resource-viewer/__tests__/AnnotationCreationPending.test.tsx
Due: none

manual 'tagging' annotations need to track schema
  packages/react-ui/src/components/resource/panels/TaggingPanel.tsx
  packages/react-ui/src/components/resource/panels/__tests__/TaggingPanel.test.tsx
Due: react-ui, @semiont/react-ui

ui cleanup (#438)
  packages/react-ui/src/components/CodeMirrorRenderer.tsx
  packages/react-ui/src/components/annotation/AnnotateToolbar.tsx
  packages/react-ui/src/components/image-annotation/AnnotationOverlay.tsx
  packages/react-ui/src/components/pdf-annotation/PdfAnnotationCanvas.tsx
  packages/react-ui/src/components/resource/BrowseView.tsx
  packages/react-ui/src/components/resource/__tests__/BrowseView.test.tsx
  packages/react-ui/src/components/resource/panels/AssessmentEntry.tsx
  packages/react-ui/src/components/resource/panels/CommentEntry.tsx
  packages/react-ui/src/components/resource/panels/HighlightEntry.tsx
  packages/react-ui/src/components/resource/panels/ReferenceEntry.tsx
  packages/react-ui/src/components/resource/panels/TagEntry.tsx
  packages/react-ui/src/components/resource/panels/TaggingPanel.tsx
  packages/react-ui/src/components/resource/panels/__tests__/CommentEntry.test.tsx
  packages/react-ui/src/components/resource/panels/__tests__/TaggingPanel.test.tsx
  packages/react-ui/src/components/toolbar/Toolbar.css
  packages/react-ui/src/features/resource-viewer/__tests__/AnnotationCreationPending.test.tsx
  packages/react-ui/src/hooks/useAttentionFlow.ts
  packages/react-ui/src/hooks/useDetectionFlow.ts
Due: react-ui, @semiont/react-ui

style for browse-mode markdown
  packages/react-ui/src/styles/features/resource-viewer.css
Due: react-ui, @semiont/react-ui

style for browse-mode markdown (#439)
  packages/react-ui/src/styles/features/resource-viewer.css
Due: react-ui, @semiont/react-ui

test clone and (un)archive
  packages/react-ui/src/features/resource-viewer/__tests__/ResourceMutations.test.tsx
  packages/react-ui/src/features/resource-viewer/components/ResourceViewerPage.tsx
Due: react-ui, @semiont/react-ui

audit hook ordering
  scripts/compliance/audit-hooks-ordering.ts
Due: none

fix clone navigation
  apps/frontend/src/components/knowledge/NavigationHandler.tsx
  packages/react-ui/src/features/resource-viewer/components/ResourceViewerPage.tsx
Due: react-ui, frontend, @semiont/react-ui

clean dead code
  packages/make-meaning/src/graph/consumer.ts
Due: make-meaning, @semiont/make-meaning

clean up graph communication
  apps/backend/src/routes/resources/routes/token.ts
Due: backend

consolidate event bus instances
  apps/frontend/src/app/[locale]/admin/layout.tsx
  apps/frontend/src/app/[locale]/know/layout.tsx
  apps/frontend/src/app/[locale]/moderate/layout.tsx
  apps/frontend/src/app/providers.tsx
Due: frontend

fix clone path
  apps/backend/src/routes/resources/index.ts
  apps/backend/src/routes/resources/routes/token.ts
  apps/backend/src/routes/resources/routes/token.ts.imports2
  apps/backend/src/routes/resources/shared.ts
  packages/api-client/src/client.ts
  specs/src/openapi.json
  specs/src/paths/api_clone-tokens_create-resource.json
  specs/src/paths/api_clone-tokens_{token}.json
Due: api-client, backend, @semiont/api-client

remove duplicate toasts for archive/unarchive
  apps/frontend/src/app/[locale]/know/compose/page.tsx
  packages/react-ui/src/features/resource-viewer/components/ResourceViewerPage.tsx
  packages/react-ui/src/styles/core/checkboxes.css
Due: react-ui, frontend, @semiont/react-ui

fix failing tests
  packages/react-ui/src/features/resource-viewer/__tests__/ResourceViewerPage.test.tsx
Due: none

fix tests
  apps/frontend/src/__tests__/layout-providers.test.tsx
Due: none

fix tests
  apps/frontend/src/app/__tests__/providers.test.tsx
Due: none

Fix clone and (un)archive (#440)
  apps/backend/src/routes/resources/index.ts
  apps/backend/src/routes/resources/routes/token.ts
  apps/backend/src/routes/resources/routes/token.ts.imports2
  apps/backend/src/routes/resources/shared.ts
  apps/frontend/src/__tests__/layout-providers.test.tsx
  apps/frontend/src/app/[locale]/admin/layout.tsx
  apps/frontend/src/app/[locale]/know/compose/page.tsx
  apps/frontend/src/app/[locale]/know/layout.tsx
  apps/frontend/src/app/[locale]/moderate/layout.tsx
  apps/frontend/src/app/__tests__/providers.test.tsx
  apps/frontend/src/app/providers.tsx
  apps/frontend/src/components/knowledge/NavigationHandler.tsx
  packages/api-client/src/client.ts
  packages/make-meaning/src/graph/consumer.ts
  packages/react-ui/src/features/resource-viewer/__tests__/ResourceMutations.test.tsx
  packages/react-ui/src/features/resource-viewer/__tests__/ResourceViewerPage.test.tsx
  packages/react-ui/src/features/resource-viewer/components/ResourceViewerPage.tsx
  packages/react-ui/src/styles/core/checkboxes.css
  scripts/compliance/audit-hooks-ordering.ts
  specs/src/openapi.json
  specs/src/paths/api_clone-tokens_create-resource.json
  specs/src/paths/api_clone-tokens_{token}.json
Due: api-client, make-meaning, react-ui, frontend, backend, @semiont/api-client, @semiont/make-meaning, @semiont/react-ui

improve fuzzy text matching
  packages/api-client/src/utils/__tests__/fuzzy-anchor.test.ts
  packages/api-client/src/utils/fuzzy-anchor.ts
  packages/api-client/src/utils/text-context.ts
  packages/react-ui/src/components/resource/AnnotateView.tsx
Due: api-client, react-ui, @semiont/api-client, @semiont/react-ui

improve fuzzy text matching (#441)
  packages/api-client/src/utils/__tests__/fuzzy-anchor.test.ts
  packages/api-client/src/utils/fuzzy-anchor.ts
  packages/api-client/src/utils/text-context.ts
  packages/react-ui/src/components/resource/AnnotateView.tsx
Due: api-client, react-ui, @semiont/api-client, @semiont/react-ui
