Repository The-AI-Alliance/semiont: changes, and which Codecov flags are due for each by the changed paths.
All: api-client, content, core, event-sourcing, graph, inference, jobs, make-meaning, mcp-server, ontology, react-ui, frontend, backend, @semiont/core, @semiont/api-client, @semiont/ontology, @semiont/content, @semiont/event-sourcing, @semiont/graph, @semiont/inference, @semiont/jobs, @semiont/make-meaning, @semiont/react-ui

codecov.yml:

# Codecov configuration for Semiont monorepo
# https://docs.codecov.io/docs/codecovyml-reference

codecov:
  # Require CI to finish before processing coverage
  require_ci_to_pass: true

  # Wait for all coverage reports before commenting
  notify:
    wait_for_ci: true

coverage:
  # Overall project coverage settings
  status:
    # Project-wide coverage status
    project:
      default:
        # Coverage can drop by 1% without failing
        threshold: 1%
        target: 70%  # Target 70% overall coverage

    # Per-PR patch coverage
    patch:
      default:
        # New code should have at least 80% coverage
        target: 80%
        threshold: 5%

  # Round coverage to 2 decimal places
  precision: 2
  round: down

  # Coverage range for color coding
  range: "50...90"

# Component-specific coverage configuration
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 1%
  individual_components:
    # Core packages with higher coverage requirements
    - component_id: core
      name: "@semiont/core"
      paths:
        - packages/core/**
    - component_id: api-client
      name: "@semiont/api-client"
      paths:
        - packages/api-client/**
    - component_id: ontology
      name: "@semiont/ontology"
      paths:
        - packages/ontology/**
    - component_id: content
      name: "@semiont/content"
      paths:
        - packages/content/**
    - component_id: event-sourcing
      name: "@semiont/event-sourcing"
      paths:
        - packages/event-sourcing/**
    - component_id: graph
      name: "@semiont/graph"
      paths:
        - packages/graph/**
    - component_id: inference
      name: "@semiont/inference"
      paths:
        - packages/inference/**
    - component_id: jobs
      name: "@semiont/jobs"
      paths:
        - packages/jobs/**
    - component_id: make-meaning
      name: "@semiont/make-meaning"
      paths:
        - packages/make-meaning/**
    - component_id: react-ui
      name: "@semiont/react-ui"
      paths:
        - packages/react-ui/**

# Ignore certain files from coverage
ignore:
  # Test files
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/*.spec.tsx"
  - "**/test/**"
  - "**/tests/**"
  - "**/__tests__/**"
  - "**/test-utils/**"

  # Build artifacts
  - "**/dist/**"
  - "**/build/**"
  - "**/coverage/**"
  - "**/.next/**"

  # Config files
  - "**/*.config.ts"
  - "**/*.config.js"
  - "**/jest.setup.ts"

  # Generated files
  - "**/generated/**"
  - "packages/api-client/src/types.ts"

  # Examples and demos
  - "**/examples/**"
  - "**/demo/**"

  # Scripts
  - "scripts/**"

# Comment configuration
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Flag configuration for different test suites
flags:
  # Individual package flags
  api-client:
    paths:
      - packages/api-client/**
    carryforward: true

  content:
    paths:
      - packages/content/**
    carryforward: true

  core:
    paths:
      - packages/core/**
    carryforward: true

  event-sourcing:
    paths:
      - packages/event-sourcing/**
    carryforward: true

  graph:
    paths:
      - packages/graph/**
    carryforward: true

  inference:
    paths:
      - packages/inference/**
    carryforward: true

  jobs:
    paths:
      - packages/jobs/**
    carryforward: true

  make-meaning:
    paths:
      - packages/make-meaning/**
    carryforward: true

  mcp-server:
    paths:
      - packages/mcp-server/**
    carryforward: true

  ontology:
    paths:
      - packages/ontology/**
    carryforward: true

  react-ui:
    paths:
      - packages/react-ui/**
    carryforward: true

  # App flags (for future use)
  frontend:
    paths:
      - apps/frontend/**
    carryforward: true

  backend:
    paths:
      - apps/backend/**
    carryforward: true

parameterize transport protocol (#674)
  apps/backend/docs/TRANSPORT.md
  tests/e2e/specs/07-sign-out-sign-in.spec.ts
  tests/e2e/specs/99-diagnose-entity-types.spec.ts
Due: backend

local transport
  packages/api-client/src/client.ts
  packages/api-client/src/index.ts
  packages/api-client/src/transport/bridged-channels.ts
  packages/api-client/src/transport/http-transport.ts
  packages/make-meaning/src/__tests__/local-transport.integration.test.ts
  packages/make-meaning/src/index.ts
  packages/make-meaning/src/local-content-transport.ts
  packages/make-meaning/src/local-transport.ts
Due: api-client, make-meaning, @semiont/api-client, @semiont/make-meaning

http transport phase 3 -- testing
  apps/backend/src/index.ts
  package-lock.json
  packages/api-client/docs/TRANSPORT-CONTRACT.md
  packages/api-client/package.json
  packages/api-client/src/__tests__/local-transport.test.ts
  packages/make-meaning/src/__tests__/local-transport.integration.test.ts
  packages/make-meaning/src/handlers/annotation-assembly.ts
  packages/make-meaning/src/handlers/annotation-lookups.ts
  packages/make-meaning/src/handlers/bind-update-body.ts
  packages/make-meaning/src/handlers/index.ts
  packages/make-meaning/src/handlers/job-commands.ts
  packages/make-meaning/src/index.ts
  packages/make-meaning/src/service.ts
  packages/make-meaning/src/stower.ts
Due: api-client, make-meaning, backend, @semiont/api-client, @semiont/make-meaning

test client.ts
  packages/api-client/src/__tests__/client-passthroughs.test.ts
  packages/api-client/src/client.ts
Due: api-client, @semiont/api-client

fix typecheck
  packages/api-client/src/__tests__/client-passthroughs.test.ts
  packages/api-client/tsconfig.json
Due: api-client, @semiont/api-client

syntax
  packages/api-client/src/__tests__/client-passthroughs.test.ts
Due: none

move local-transport test to make-meaning
  package-lock.json
  packages/api-client/package.json
  packages/api-client/tsconfig.json
  packages/make-meaning/src/__tests__/local-transport.test.ts
Due: api-client, @semiont/api-client

local transport (#675)
  apps/backend/src/index.ts
  package-lock.json
  packages/api-client/docs/TRANSPORT-CONTRACT.md
  packages/api-client/src/__tests__/client-passthroughs.test.ts
  packages/api-client/src/client.ts
  packages/api-client/src/index.ts
  packages/api-client/src/transport/bridged-channels.ts
  packages/api-client/src/transport/http-transport.ts
  packages/make-meaning/src/__tests__/local-transport.test.ts
  packages/make-meaning/src/handlers/annotation-assembly.ts
  packages/make-meaning/src/handlers/annotation-lookups.ts
  packages/make-meaning/src/handlers/bind-update-body.ts
  packages/make-meaning/src/handlers/index.ts
  packages/make-meaning/src/handlers/job-commands.ts
  packages/make-meaning/src/index.ts
  packages/make-meaning/src/local-content-transport.ts
  packages/make-meaning/src/local-transport.ts
  packages/make-meaning/src/service.ts
  packages/make-meaning/src/stower.ts
Due: api-client, make-meaning, backend, @semiont/api-client, @semiont/make-meaning

further migrate from api-client to core
  apps/frontend/src/lib/__tests__/validation.test.ts
  packages/api-client/package.json
  packages/api-client/src/index.ts
  packages/api-client/src/utils/index.ts
  packages/api-client/src/view-models/pages/compose-page-vm.ts
  packages/api-client/src/view-models/pages/resource-viewer-page-vm.ts
  packages/api-client/tsup.config.ts
  packages/core/src/__tests__/fuzzy-anchor.test.ts
  packages/core/src/__tests__/locales.test.ts
  packages/core/src/__tests__/mime-utils.test.ts
  packages/core/src/__tests__/svg-utils.test.ts
  packages/core/src/__tests__/text-context.test.ts
  packages/core/src/__tests__/text-encoding.test.ts
  packages/core/src/__tests__/validation.test.ts
  packages/core/src/fuzzy-anchor.ts
  packages/core/src/index.ts
  packages/core/src/locales.ts
  packages/core/src/mime-utils.ts
  packages/core/src/svg-utils.ts
  packages/core/src/text-context.ts
  packages/core/src/text-encoding.ts
  packages/core/src/validation.ts
  packages/jobs/src/__tests__/processors.test.ts
  packages/jobs/src/processors.ts
  packages/jobs/src/workers/detection/motivation-parsers.ts
  packages/jobs/src/workers/generation/resource-generation.ts
  packages/react-ui/src/components/image-annotation/AnnotationOverlay.tsx
  packages/react-ui/src/components/image-annotation/SvgDrawingCanvas.tsx
  packages/react-ui/src/components/modals/ConfigureGenerationStep.tsx
  packages/react-ui/src/components/resource/AnnotateView.tsx
  packages/react-ui/src/components/resource/BrowseView.tsx
  packages/react-ui/src/components/resource/panels/ResourceInfoPanel.tsx
  packages/react-ui/src/components/settings/SettingsPanel.tsx
  packages/react-ui/src/features/resource-compose/components/ResourceComposePage.tsx
  packages/react-ui/src/features/resource-viewer/components/ResourceViewerPage.tsx
  packages/react-ui/src/hooks/useResourceContent.ts
  packages/react-ui/src/lib/media-shapes.ts
  packages/react-ui/src/lib/text-segmentation.ts
  packages/react-ui/src/lib/text-selection-handler.ts
  packages/react-ui/src/lib/validation.ts
Due: api-client, core, jobs, react-ui, @semiont/core, @semiont/api-client, @semiont/jobs, @semiont/react-ui

update imports
  packages/jobs/src/__tests__/processors.test.ts
  packages/jobs/src/__tests__/workers/detection/motivation-parsers.test.ts
  packages/react-ui/src/components/modals/__tests__/SearchModal.accessibility.test.tsx
  packages/react-ui/src/components/modals/__tests__/SearchModal.basic.test.tsx
  packages/react-ui/src/components/modals/__tests__/SearchModal.keyboard.test.tsx
  packages/react-ui/src/components/modals/__tests__/SearchModal.visual.test.tsx
  packages/react-ui/src/components/resource/__tests__/BrowseView.test.tsx
  packages/react-ui/src/components/resource/__tests__/event-formatting.test.ts
  packages/react-ui/src/components/resource/panels/__tests__/AssessmentEntry.test.tsx
  packages/react-ui/src/components/resource/panels/__tests__/AssessmentPanel.test.tsx
  packages/react-ui/src/components/resource/panels/__tests__/CommentEntry.test.tsx
  packages/react-ui/src/components/resource/panels/__tests__/CommentsPanel.test.tsx
  packages/react-ui/src/components/resource/panels/__tests__/HighlightEntry.test.tsx
  packages/react-ui/src/components/resource/panels/__tests__/ReferenceEntry.test.tsx
  packages/react-ui/src/components/resource/panels/__tests__/ResourceInfoPanel.test.tsx
  packages/react-ui/src/components/resource/panels/__tests__/StatisticsPanel.test.tsx
  packages/react-ui/src/components/resource/panels/__tests__/TagEntry.test.tsx
  packages/react-ui/src/components/resource/panels/__tests__/TaggingPanel.test.tsx
  packages/react-ui/src/components/settings/__tests__/SettingsPanel.test.tsx
  packages/react-ui/src/hooks/__tests__/useResourceContent.test.tsx
  packages/react-ui/src/lib/__tests__/annotation-registry.test.ts
  packages/react-ui/src/lib/__tests__/codemirror-logic.test.ts
  packages/react-ui/src/lib/__tests__/text-segmentation.test.ts
  packages/react-ui/src/lib/__tests__/text-selection-handler.test.ts
Due: none

fix tests
  packages/jobs/src/__tests__/processors.test.ts
  packages/jobs/src/__tests__/workers/detection/motivation-parsers.test.ts
  packages/react-ui/src/components/modals/__tests__/SearchModal.accessibility.test.tsx
  packages/react-ui/src/components/modals/__tests__/SearchModal.basic.test.tsx
  packages/react-ui/src/components/modals/__tests__/SearchModal.keyboard.test.tsx
  packages/react-ui/src/components/modals/__tests__/SearchModal.visual.test.tsx
  packages/react-ui/src/components/resource/__tests__/event-formatting.test.ts
  packages/react-ui/src/hooks/__tests__/useResourceContent.test.tsx
  packages/react-ui/src/lib/__tests__/annotation-registry.test.ts
  packages/react-ui/src/lib/__tests__/codemirror-logic.test.ts
  packages/react-ui/src/lib/__tests__/text-segmentation.test.ts
  packages/react-ui/src/lib/__tests__/text-selection-handler.test.ts
Due: none

fix test
  apps/backend/src/__tests__/routes/bus.test.ts
Due: none

Unified the _userId (gateway-injected) vs userId (event/audit) conven… (#677)
  apps/backend/src/__tests__/routes/bus.test.ts
  apps/cli/src/core/commands/__tests__/mark-command.test.ts
  apps/cli/src/core/commands/__tests__/yield-command.test.ts
  apps/cli/src/core/commands/mv.ts
  packages/api-client/src/namespaces/__tests__/commands.test.ts
  packages/api-client/src/view-models/domain/__tests__/job-queue-vm.test.ts
  packages/api-client/src/view-models/domain/job-queue-vm.ts
  packages/core/src/bus-protocol.ts
  packages/jobs/src/__tests__/job-queue.test.ts
  packages/jobs/src/fs-job-queue.ts
  packages/make-meaning/src/__tests__/exchange/linked-data-importer.test.ts
  packages/make-meaning/src/annotation-operations.ts
  packages/make-meaning/src/exchange/linked-data-importer.ts
  packages/make-meaning/src/exchange/replay.ts
  packages/make-meaning/src/handlers/annotation-assembly.ts
  packages/make-meaning/src/handlers/bind-update-body.ts
  packages/make-meaning/src/resource-operations.ts
  packages/make-meaning/src/stower.ts
  specs/src/components/schemas/BindUpdateBodyCommand.json
  specs/src/components/schemas/JobCompleteCommand.json
  specs/src/components/schemas/JobFailCommand.json
  specs/src/components/schemas/JobQueuedEvent.json
  specs/src/components/schemas/JobReportProgressCommand.json
  specs/src/components/schemas/JobStartCommand.json
  specs/src/components/schemas/MarkCreateCommand.json
  specs/src/components/schemas/MarkDeleteCommand.json
  specs/src/components/schemas/MarkUpdateBodyCommand.json
  specs/src/components/schemas/YieldCreateCommand.json
  specs/src/components/schemas/YieldMvCommand.json
  specs/src/components/schemas/YieldUpdateCommand.json
Due: api-client, core, jobs, make-meaning, @semiont/core, @semiont/api-client, @semiont/jobs, @semiont/make-meaning

rm old test
  packages/sdk/src/__tests__/client.test.ts
Due: none

test client-passthroughs
  packages/sdk/src/__tests__/client-passthroughs.test.ts
Due: none

build sdk
  .github/workflows/package-tests.yml
Due: none

http-transport tests
  packages/api-client/src/transport/__tests__/http-transport.http-paths.test.ts
Due: none

add sdk dependency
  apps/cli/package.json
  apps/frontend/package.json
  package-lock.json
  packages/jobs/package.json
  packages/mcp-server/package.json
  packages/react-ui/package.json
Due: jobs, mcp-server, react-ui, frontend, @semiont/jobs, @semiont/react-ui

improve test coverage
  packages/api-client/src/transport/__tests__/http-transport.http-paths.test.ts
Due: none

fix test
  packages/react-ui/src/features/resource-viewer/__tests__/ResourceViewerPage.test.tsx
Due: none

fix build
  .github/workflows/accessibility-tests.yml
  scripts/dev/build-packages.js
  scripts/release/version.mjs
Due: none

delete old, flat methods on SemiontClient
  apps/cli/src/core/commands/__tests__/beckon-command.test.ts
  apps/cli/src/core/commands/__tests__/browse-command.test.ts
  apps/cli/src/core/commands/__tests__/mark-command.test.ts
  apps/cli/src/core/commands/__tests__/yield-command.test.ts
  apps/cli/src/core/commands/beckon.ts
  apps/cli/src/core/commands/browse.ts
  apps/cli/src/core/commands/mark.ts
  apps/cli/src/core/commands/yield.ts
  packages/make-meaning/src/__tests__/local-transport.test.ts
  packages/mcp-server/src/handlers.ts
  packages/react-ui/src/contexts/AnnotationContext.tsx
  packages/react-ui/src/contexts/ResourceAnnotationsContext.tsx
  packages/react-ui/src/features/resource-viewer/components/ResourceViewerPage.tsx
  packages/react-ui/src/hooks/__tests__/useResourceContent.test.tsx
  packages/react-ui/src/hooks/useResourceContent.ts
  packages/react-ui/src/types/AnnotationManager.ts
  packages/sdk/src/__tests__/client-passthroughs.test.ts
  packages/sdk/src/client.ts
  packages/sdk/src/view-models/pages/compose-page-vm.ts
Due: mcp-server, react-ui, @semiont/react-ui

audit raw bus access during architecture compliance review
  .github/workflows/architecture-compliance.yml
  scripts/compliance/audit-raw-bus.sh
Due: none

drop the remaining auth/admin/exchange/system flat methods
  apps/cli/src/core/api-client-factory.ts
  apps/cli/src/platforms/container/handlers/web-check.ts
  apps/cli/src/platforms/posix/handlers/backend-check.ts
  apps/frontend/src/components/KnowledgeBasePanel.tsx
  packages/react-ui/src/components/StatusDisplay.tsx
  packages/react-ui/src/components/__tests__/StatusDisplay.test.tsx
  packages/react-ui/src/hooks/useMediaToken.ts
  packages/sdk/src/__tests__/client-passthroughs.test.ts
  packages/sdk/src/client.ts
  packages/sdk/src/session/__tests__/semiont-browser.test.ts
  packages/sdk/src/session/__tests__/semiont-session.test.ts
  packages/sdk/src/session/semiont-browser.ts
  packages/sdk/src/view-models/domain/__tests__/admin-security-vm.test.ts
  packages/sdk/src/view-models/domain/__tests__/admin-users-vm.test.ts
  packages/sdk/src/view-models/domain/__tests__/session-vm.test.ts
  packages/sdk/src/view-models/domain/__tests__/welcome-vm.test.ts
  packages/sdk/src/view-models/domain/admin-security-vm.ts
  packages/sdk/src/view-models/domain/admin-users-vm.ts
  packages/sdk/src/view-models/domain/session-vm.ts
  packages/sdk/src/view-models/domain/welcome-vm.ts
Due: react-ui, frontend, @semiont/react-ui

fix SDK readme
  packages/sdk/README.md
Due: none

fix performValidate
  packages/sdk/src/session/semiont-browser.ts
Due: none

api-client -> sdk
  README.md
Due: none

tighten audit-raw-bus and fix detected violations
  apps/cli/src/core/commands/gather.ts
  apps/cli/src/core/commands/mark.ts
  apps/cli/src/core/commands/match.ts
  apps/cli/src/core/commands/yield.ts
  apps/frontend/src/app/[locale]/admin/exchange/client.tsx
  apps/frontend/src/app/[locale]/moderate/linked-data/client.tsx
  apps/frontend/src/contexts/__tests__/AuthShell.integration.test.tsx
  packages/mcp-server/src/handlers.ts
  packages/sdk/src/namespaces/job.ts
  packages/sdk/src/namespaces/types.ts
  scripts/compliance/audit-raw-bus.sh
Due: mcp-server, frontend

fix tests
  apps/frontend/src/app/[locale]/auth/welcome/__tests__/page.test.tsx
  apps/frontend/src/components/__tests__/UserPanel.test.tsx
Due: none

rm cruft to fix test
  specs/src/components/schemas/BeckonResponse.json
  specs/src/openapi.json
Due: none

Drop the in the 12 unguarded sites
  packages/graph/src/implementations/janusgraph.ts
  packages/jobs/src/worker-process.ts
  packages/make-meaning/src/annotation-context.ts
  packages/make-meaning/src/generation/resource-generation.ts
  packages/make-meaning/src/graph-context.ts
  packages/make-meaning/src/resource-context.ts
Due: graph, jobs, make-meaning, @semiont/graph, @semiont/jobs, @semiont/make-meaning

Drop the in the 12 unguarded sites (#680)
  packages/graph/src/implementations/janusgraph.ts
  packages/jobs/src/worker-process.ts
  packages/make-meaning/src/annotation-context.ts
  packages/make-meaning/src/generation/resource-generation.ts
  packages/make-meaning/src/graph-context.ts
  packages/make-meaning/src/resource-context.ts
Due: graph, jobs, make-meaning, @semiont/graph, @semiont/jobs, @semiont/make-meaning

observability tier 1
  apps/backend/src/routes/bus.ts
  apps/backend/src/routes/resources/routes/create.ts
  apps/backend/src/routes/resources/routes/get-uri.ts
  packages/api-client/src/transport/actor-vm.ts
  packages/api-client/src/transport/http-content-transport.ts
  packages/api-client/src/transport/http-transport.ts
  packages/core/src/bus-log.ts
  packages/core/src/index.ts
  packages/make-meaning/src/local-content-transport.ts
  packages/make-meaning/src/local-transport.ts
  tests/e2e/docs/bus-logging.md
Due: api-client, core, make-meaning, backend, @semiont/core, @semiont/api-client, @semiont/make-meaning
