Repository The-AI-Alliance/semiont: changes, and which Codecov flags are due for each by the changed paths.
All: api-client, content, core, event-sourcing, graph, inference, jobs, make-meaning, mcp-server, ontology, react-ui, frontend, backend, @semiont/core, @semiont/api-client, @semiont/ontology, @semiont/content, @semiont/event-sourcing, @semiont/graph, @semiont/inference, @semiont/jobs, @semiont/make-meaning, @semiont/react-ui

codecov.yml:

# Codecov configuration for Semiont monorepo
# https://docs.codecov.io/docs/codecovyml-reference

codecov:
  # Require CI to finish before processing coverage
  require_ci_to_pass: true

  # Wait for all coverage reports before commenting
  notify:
    wait_for_ci: true

coverage:
  # Overall project coverage settings
  status:
    # Project-wide coverage status
    project:
      default:
        # Coverage can drop by 1% without failing
        threshold: 1%
        target: 70%  # Target 70% overall coverage

    # Per-PR patch coverage
    patch:
      default:
        # New code should have at least 80% coverage
        target: 80%
        threshold: 5%

  # Round coverage to 2 decimal places
  precision: 2
  round: down

  # Coverage range for color coding
  range: "50...90"

# Component-specific coverage configuration
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 1%
  individual_components:
    # Core packages with higher coverage requirements
    - component_id: core
      name: "@semiont/core"
      paths:
        - packages/core/**
    - component_id: api-client
      name: "@semiont/api-client"
      paths:
        - packages/api-client/**
    - component_id: ontology
      name: "@semiont/ontology"
      paths:
        - packages/ontology/**
    - component_id: content
      name: "@semiont/content"
      paths:
        - packages/content/**
    - component_id: event-sourcing
      name: "@semiont/event-sourcing"
      paths:
        - packages/event-sourcing/**
    - component_id: graph
      name: "@semiont/graph"
      paths:
        - packages/graph/**
    - component_id: inference
      name: "@semiont/inference"
      paths:
        - packages/inference/**
    - component_id: jobs
      name: "@semiont/jobs"
      paths:
        - packages/jobs/**
    - component_id: make-meaning
      name: "@semiont/make-meaning"
      paths:
        - packages/make-meaning/**
    - component_id: react-ui
      name: "@semiont/react-ui"
      paths:
        - packages/react-ui/**

# Ignore certain files from coverage
ignore:
  # Test files
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/*.spec.tsx"
  - "**/test/**"
  - "**/tests/**"
  - "**/__tests__/**"
  - "**/test-utils/**"

  # Build artifacts
  - "**/dist/**"
  - "**/build/**"
  - "**/coverage/**"
  - "**/.next/**"

  # Config files
  - "**/*.config.ts"
  - "**/*.config.js"
  - "**/jest.setup.ts"

  # Generated files
  - "**/generated/**"
  - "packages/api-client/src/types.ts"

  # Examples and demos
  - "**/examples/**"
  - "**/demo/**"

  # Scripts
  - "scripts/**"

# Comment configuration
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Flag configuration for different test suites
flags:
  # Individual package flags
  api-client:
    paths:
      - packages/api-client/**
    carryforward: true

  content:
    paths:
      - packages/content/**
    carryforward: true

  core:
    paths:
      - packages/core/**
    carryforward: true

  event-sourcing:
    paths:
      - packages/event-sourcing/**
    carryforward: true

  graph:
    paths:
      - packages/graph/**
    carryforward: true

  inference:
    paths:
      - packages/inference/**
    carryforward: true

  jobs:
    paths:
      - packages/jobs/**
    carryforward: true

  make-meaning:
    paths:
      - packages/make-meaning/**
    carryforward: true

  mcp-server:
    paths:
      - packages/mcp-server/**
    carryforward: true

  ontology:
    paths:
      - packages/ontology/**
    carryforward: true

  react-ui:
    paths:
      - packages/react-ui/**
    carryforward: true

  # App flags (for future use)
  frontend:
    paths:
      - apps/frontend/**
    carryforward: true

  backend:
    paths:
      - apps/backend/**
    carryforward: true

fix failing test in CI
  packages/mcp-server/src/handlers.test.ts
Due: none

job restart safety, phase 1
  apps/launcher/internal/launcher/state_persistence_test.go
  packages/jobs/src/__tests__/job-queue.test.ts
Due: none

job restart safety, phase 2
  packages/core/src/bus-protocol.ts
  packages/jobs/src/__tests__/job-queue.test.ts
  packages/jobs/src/__tests__/worker-process.test.ts
  packages/jobs/src/fs-job-queue.ts
  packages/jobs/src/job-queue-interface.ts
  packages/jobs/src/worker-process.ts
  packages/make-meaning/src/__tests__/handlers/job-commands.test.ts
  packages/make-meaning/src/handlers/job-commands.ts
  packages/sdk-go/bus/channels_gen.go
  specs/src/bus/registry.json
  specs/src/components/schemas/JobCheckpointCommand.json
  specs/src/openapi.json
Due: core, jobs, make-meaning, @semiont/core, @semiont/jobs, @semiont/make-meaning

job restart safety, phase 3
  packages/event-sourcing/src/__tests__/annotation-identity.test.ts
  packages/event-sourcing/src/__tests__/identifier-utils.test.ts
  packages/event-sourcing/src/identifier-utils.ts
  packages/event-sourcing/src/index.ts
  packages/jobs/src/__tests__/annotation-idempotence.test.ts
  packages/jobs/src/__tests__/build-pdf-annotation.test.ts
  packages/jobs/src/__tests__/prepare-detection.test.ts
  packages/jobs/src/__tests__/processors.test.ts
  packages/jobs/src/processors.ts
Due: event-sourcing, jobs, @semiont/event-sourcing, @semiont/jobs

job restart safety, phase 3 follow-on
  packages/jobs/src/__tests__/build-pdf-annotation.test.ts
Due: none

job restart safety, phase 4
  packages/core/src/bus-protocol.ts
  packages/jobs/src/__tests__/worker-process.test.ts
  packages/jobs/src/processors.ts
  packages/jobs/src/worker-process.ts
  packages/make-meaning/src/__tests__/handlers/job-commands.test.ts
  packages/make-meaning/src/handlers/job-commands.ts
  packages/sdk-go/bus/channels_gen.go
  specs/src/bus/registry.json
  specs/src/components/schemas/JobCancelCommand.json
  specs/src/components/schemas/JobCancelRequest.json
  specs/src/openapi.json
Due: core, jobs, make-meaning, @semiont/core, @semiont/jobs, @semiont/make-meaning

regen client_gen.go
  packages/sdk-go/client_gen.go
Due: none

job restart safety, phase 5
  packages/jobs/src/__tests__/will-retry.test.ts
  packages/jobs/src/__tests__/worker-process.test.ts
  packages/jobs/src/fs-job-queue.ts
  packages/jobs/src/job-claim-adapter.ts
  packages/jobs/src/will-retry.ts
  packages/jobs/src/worker-process.ts
  packages/sdk/src/namespaces/__tests__/commands.test.ts
  packages/sdk/src/namespaces/job.ts
  packages/sdk/src/namespaces/mark.ts
  packages/sdk/src/namespaces/types.ts
  specs/src/components/schemas/JobFailCommand.json
Due: jobs, @semiont/jobs

job restart safety, phase 6
  packages/core/src/bus-operations.ts
  packages/core/src/bus-protocol.ts
  packages/event-sourcing/src/__tests__/view-materializer.test.ts
  packages/event-sourcing/src/views/view-materializer.ts
  packages/jobs/src/__tests__/processors.test.ts
  packages/jobs/src/__tests__/worker-process.test.ts
  packages/jobs/src/__tests__/worker-runtime.test.ts
  packages/jobs/src/job-claim-adapter.ts
  packages/jobs/src/worker-bus-primitive.ts
  packages/jobs/src/worker-process.ts
  packages/jobs/src/worker-runtime.ts
  packages/make-meaning/src/__tests__/service-channels.test.ts
  packages/make-meaning/src/stower.ts
  packages/sdk-go/bus/channels_gen.go
  packages/sdk-go/bus/operations_gen.go
  specs/src/bus/registry.json
  specs/src/components/schemas/MarkCommitCommand.json
  specs/src/components/schemas/MarkCommitOk.json
  specs/src/openapi.json
Due: core, event-sourcing, jobs, make-meaning, @semiont/core, @semiont/event-sourcing, @semiont/jobs, @semiont/make-meaning

regenerate client_gen.go
  packages/sdk-go/client_gen.go
Due: none

job restart safety, phase 7
  packages/http-transport/src/transport/__tests__/actor-state-unit.test.ts
  packages/http-transport/src/transport/actor-state-unit.ts
  packages/jobs/src/worker-runtime.ts
Due: jobs, @semiont/jobs

fix CI
  packages/core/src/__tests__/bus-invariants.test.ts
  packages/jobs/src/__tests__/worker-process.test.ts
  packages/make-meaning/src/__tests__/handlers/job-commands.test.ts
  packages/make-meaning/src/__tests__/stower-job-events.test.ts
Due: none

improve test coverage
  packages/jobs/src/__tests__/worker-process.test.ts
Due: none

job restart safety, phase 7 follow-up
  packages/jobs/src/__tests__/worker-process.test.ts
  packages/jobs/src/worker-process.ts
Due: jobs, @semiont/jobs

re-emission produces the same id with a different created, harmless while re-emission is a true no-op, but if any sink upserts, the timestamp moves while the id does not
  packages/event-sourcing/src/__tests__/view-materializer.test.ts
  packages/event-sourcing/src/views/view-materializer.ts
Due: event-sourcing, @semiont/event-sourcing

heartbeat during container build
  scripts/ci/local-build.sh
Due: none

pre-start buildkit before a parallel batch
  scripts/ci/local-build.sh
Due: none

Make the durability census total over JobType, so a new job type is a compile error rather than a silent gap
  packages/jobs/src/__tests__/worker-process.test.ts
Due: none

archivist stays up, phase 1 and 2
  apps/archivist/Dockerfile
  apps/archivist/supervise.sh
  apps/launcher/internal/launcher/imagepaths_test.go
Due: none

archivist stays up, phase 3
  apps/gateway/src/__tests__/routes/bus.test.ts
  apps/gateway/src/routes/bus.ts
Due: none

gateway telemetry
  apps/gateway/src/__tests__/routes/bus.test.ts
  apps/gateway/src/lib/archivist.ts
  apps/gateway/src/routes/bus.ts
  docs/system/administration/OBSERVABILITY.md
  packages/observability/src/index.ts
Due: none

archivist stays up, phase 5
  packages/make-meaning/src/__tests__/fact-pump.test.ts
  packages/make-meaning/src/archivist-main.ts
  packages/make-meaning/src/fact-pump.ts
  packages/observability/src/index.ts
Due: make-meaning, @semiont/make-meaning

archivist stays up, phase 7 (archivist telemetry)
  packages/content/package.json
  packages/content/src/working-tree-store.ts
  packages/event-sourcing/package.json
  packages/event-sourcing/src/__tests__/append-telemetry.test.ts
  packages/event-sourcing/src/event-store.ts
  packages/event-sourcing/src/storage/event-storage.ts
  packages/observability/src/index.ts
  packages/observability/src/node.ts
Due: content, event-sourcing, @semiont/content, @semiont/event-sourcing

archivist stays up, phase 4
  apps/archivist/Dockerfile
  apps/archivist/README.md
  packages/observability/src/__tests__/runtime-stats.test.ts
  packages/observability/src/node.ts
  packages/observability/src/runtime-stats.ts
Due: none

test coverage
  packages/event-sourcing/src/__tests__/append-telemetry.test.ts
  packages/event-sourcing/src/__tests__/storage/git-telemetry.test.ts
  packages/event-sourcing/src/storage/event-storage.ts
Due: event-sourcing, @semiont/event-sourcing

Archivist survivability: supervised restart, fail-fast on unanswerable requests, and the first process-runtime metrics (#1286)
  apps/archivist/Dockerfile
  apps/archivist/README.md
  apps/archivist/supervise.sh
  apps/gateway/src/__tests__/routes/bus.test.ts
  apps/gateway/src/lib/archivist.ts
  apps/gateway/src/routes/bus.ts
  apps/launcher/internal/launcher/imagepaths_test.go
  docs/system/administration/OBSERVABILITY.md
  packages/content/package.json
  packages/content/src/working-tree-store.ts
  packages/event-sourcing/package.json
  packages/event-sourcing/src/__tests__/append-telemetry.test.ts
  packages/event-sourcing/src/__tests__/storage/git-telemetry.test.ts
  packages/event-sourcing/src/event-store.ts
  packages/event-sourcing/src/storage/event-storage.ts
  packages/make-meaning/src/__tests__/fact-pump.test.ts
  packages/make-meaning/src/archivist-main.ts
  packages/make-meaning/src/fact-pump.ts
  packages/observability/src/__tests__/runtime-stats.test.ts
  packages/observability/src/index.ts
  packages/observability/src/node.ts
  packages/observability/src/runtime-stats.ts
Due: content, event-sourcing, make-meaning, @semiont/content, @semiont/event-sourcing, @semiont/make-meaning

Batch 4 Dependabot updates, incl. six security alerts
  apps/browser/package.json
  package-lock.json
  packages/inference/package.json
Due: inference, @semiont/inference

additional dependabot-suggested major version upgrades
  apps/browser/package.json
  package-lock.json
  package.json
  packages/react-ui/package.json
Due: react-ui, @semiont/react-ui

fix tests for jsdom 30
  apps/browser/src/components/__tests__/ErrorBoundary.test.tsx
  packages/react-ui/src/features/moderate-recent/__tests__/RecentDocumentsPage.test.tsx
Due: none

Batch 6 Dependabot updates: six security alerts + the two deferred majors (#1287)
  apps/browser/package.json
  apps/browser/src/components/__tests__/ErrorBoundary.test.tsx
  package-lock.json
  package.json
  packages/inference/package.json
  packages/react-ui/package.json
  packages/react-ui/src/features/moderate-recent/__tests__/RecentDocumentsPage.test.tsx
Due: inference, react-ui, @semiont/inference, @semiont/react-ui

sse auth resilience, phase 0: token refresh that throws ends the session instead of stranding it on a dead token
  packages/sdk/src/session/__tests__/semiont-session.test.ts
  packages/sdk/src/session/semiont-session.ts
Due: none

sse auth resilience, phase 1: SSE client with no credential waits for one instead of subscribing with an empty bearer
  packages/http-transport/src/transport/__tests__/actor-state-unit.test.ts
  packages/http-transport/src/transport/actor-state-unit.ts
Due: none

sse auth resilience, phase 2: refused SSE connect surfaces its status on errors$ instead of vanishing in the catch
  packages/http-transport/README.md
  packages/http-transport/src/index.ts
  packages/http-transport/src/transport/__tests__/actor-state-unit.test.ts
  packages/http-transport/src/transport/actor-state-unit.ts
Due: none

sse auth resilience, phase 3: one refused ask per credential (unauthenticated state), jittered backoff on every other reconnect
  docs/protocol/TRANSPORT-CONTRACT.md
  docs/protocol/TRANSPORT-HTTP.md
  packages/core/src/transport.ts
  packages/http-transport/src/transport/__tests__/actor-state-unit.test.ts
  packages/http-transport/src/transport/actor-state-unit.ts
Due: core, @semiont/core

update stale doc
  docs/system/HUMAN-UI.md
Due: none

sse auth resilience, phase 4: the SSE path consults the existing tokenRefresher once per outage before parking; refused connects reach the transport's errors$
  docs/protocol/TRANSPORT-HTTP.md
  packages/http-transport/docs/API-Reference.md
  packages/http-transport/src/transport/__tests__/actor-state-unit.test.ts
  packages/http-transport/src/transport/__tests__/http-transport.hooks.test.ts
  packages/http-transport/src/transport/__tests__/http-transport.http-paths.test.ts
  packages/http-transport/src/transport/actor-state-unit.ts
  packages/http-transport/src/transport/http-transport.ts
Due: none

fix CI
  packages/http-transport/src/transport/sse-connect-error.ts
Due: none

sse auth resilience, phase 5: Delete SemiontClient.signInHttp: credentials-first construction is a session, or it is a ten-minute trap
  docs/protocol/README.md
  docs/protocol/skills/semiont-aggregate/SKILL.md
  docs/protocol/skills/semiont-assess/SKILL.md
  docs/protocol/skills/semiont-comment/SKILL.md
  docs/protocol/skills/semiont-highlight/SKILL.md
  docs/protocol/skills/semiont-ingest/SKILL.md
  docs/protocol/skills/semiont-relate/SKILL.md
  docs/protocol/skills/semiont-tag/SKILL.md
  docs/protocol/skills/semiont-wiki/SKILL.md
  packages/core/docs/Utilities.md
  packages/http-transport/src/index.ts
  packages/http-transport/src/transport/__tests__/http-transport.hooks.test.ts
  packages/http-transport/src/transport/actor-state-unit.ts
  packages/make-meaning/docs/SCRIPTING.md
  packages/make-meaning/docs/examples.md
  packages/ontology/README.md
  packages/sdk/README.md
  packages/sdk/docs/DEVELOPER-GUIDE.md
  packages/sdk/docs/REACTIVE-MODEL.md
  packages/sdk/docs/Usage.md
  packages/sdk/src/__tests__/client-factories.test.ts
  packages/sdk/src/client.ts
  tests/e2e/fixtures/generated.ts
  tests/e2e/fixtures/sdk-session.ts
  tests/e2e/lib/session.ts
  tests/e2e/scripts/seed.ts
  tests/e2e/specs/11-frame-tag-schemas.spec.ts
  tests/e2e/specs/12-stale-offset-reanchor.spec.ts
  tests/e2e/specs/15-resource-level-anchor.spec.ts
  tests/e2e/specs/17-tag-schema-single-delivery.spec.ts
  tests/e2e/specs/18-collaborator-directory.spec.ts
  tests/e2e/specs/19-worker-vitals.spec.ts
  tests/e2e/specs/21-large-doc-assisted-linking.spec.ts
  tests/e2e/specs/23-pdf-anchored-text.spec.ts
  tests/e2e/specs/25-semantic-fallback.spec.ts
  tests/e2e/specs/27-generate-default-save-location.spec.ts
Due: core, make-meaning, ontology, @semiont/core, @semiont/ontology, @semiont/make-meaning
