Repository The-AI-Alliance/semiont: changes, and which Codecov flags are due for each by the changed paths.
All: api-client, content, core, event-sourcing, graph, inference, jobs, make-meaning, mcp-server, ontology, react-ui, frontend, backend, @semiont/core, @semiont/api-client, @semiont/ontology, @semiont/content, @semiont/event-sourcing, @semiont/graph, @semiont/inference, @semiont/jobs, @semiont/make-meaning, @semiont/react-ui

codecov.yml:

# Codecov configuration for Semiont monorepo
# https://docs.codecov.io/docs/codecovyml-reference

codecov:
  # Require CI to finish before processing coverage
  require_ci_to_pass: true

  # Wait for all coverage reports before commenting
  notify:
    wait_for_ci: true

coverage:
  # Overall project coverage settings
  status:
    # Project-wide coverage status
    project:
      default:
        # Coverage can drop by 1% without failing
        threshold: 1%
        target: 70%  # Target 70% overall coverage

    # Per-PR patch coverage
    patch:
      default:
        # New code should have at least 80% coverage
        target: 80%
        threshold: 5%

  # Round coverage to 2 decimal places
  precision: 2
  round: down

  # Coverage range for color coding
  range: "50...90"

# Component-specific coverage configuration
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 1%
  individual_components:
    # Core packages with higher coverage requirements
    - component_id: core
      name: "@semiont/core"
      paths:
        - packages/core/**
    - component_id: api-client
      name: "@semiont/api-client"
      paths:
        - packages/api-client/**
    - component_id: ontology
      name: "@semiont/ontology"
      paths:
        - packages/ontology/**
    - component_id: content
      name: "@semiont/content"
      paths:
        - packages/content/**
    - component_id: event-sourcing
      name: "@semiont/event-sourcing"
      paths:
        - packages/event-sourcing/**
    - component_id: graph
      name: "@semiont/graph"
      paths:
        - packages/graph/**
    - component_id: inference
      name: "@semiont/inference"
      paths:
        - packages/inference/**
    - component_id: jobs
      name: "@semiont/jobs"
      paths:
        - packages/jobs/**
    - component_id: make-meaning
      name: "@semiont/make-meaning"
      paths:
        - packages/make-meaning/**
    - component_id: react-ui
      name: "@semiont/react-ui"
      paths:
        - packages/react-ui/**

# Ignore certain files from coverage
ignore:
  # Test files
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/*.spec.tsx"
  - "**/test/**"
  - "**/tests/**"
  - "**/__tests__/**"
  - "**/test-utils/**"

  # Build artifacts
  - "**/dist/**"
  - "**/build/**"
  - "**/coverage/**"
  - "**/.next/**"

  # Config files
  - "**/*.config.ts"
  - "**/*.config.js"
  - "**/jest.setup.ts"

  # Generated files
  - "**/generated/**"
  - "packages/api-client/src/types.ts"

  # Examples and demos
  - "**/examples/**"
  - "**/demo/**"

  # Scripts
  - "scripts/**"

# Comment configuration
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Flag configuration for different test suites
flags:
  # Individual package flags
  api-client:
    paths:
      - packages/api-client/**
    carryforward: true

  content:
    paths:
      - packages/content/**
    carryforward: true

  core:
    paths:
      - packages/core/**
    carryforward: true

  event-sourcing:
    paths:
      - packages/event-sourcing/**
    carryforward: true

  graph:
    paths:
      - packages/graph/**
    carryforward: true

  inference:
    paths:
      - packages/inference/**
    carryforward: true

  jobs:
    paths:
      - packages/jobs/**
    carryforward: true

  make-meaning:
    paths:
      - packages/make-meaning/**
    carryforward: true

  mcp-server:
    paths:
      - packages/mcp-server/**
    carryforward: true

  ontology:
    paths:
      - packages/ontology/**
    carryforward: true

  react-ui:
    paths:
      - packages/react-ui/**
    carryforward: true

  # App flags (for future use)
  frontend:
    paths:
      - apps/frontend/**
    carryforward: true

  backend:
    paths:
      - apps/backend/**
    carryforward: true

test @semiont/vectors
  .github/workflows/package-tests.yml
  packages/vectors/src/chunking.ts
Due: none

fix tests
  apps/cli/src/platforms/container/handlers/web-check.ts
  apps/cli/src/platforms/posix/handlers/backend-check.ts
  packages/mcp-server/src/index.ts
  packages/react-ui/src/features/resource-viewer/__tests__/ResourceViewerPage.test.tsx
  packages/react-ui/src/test-utils.tsx
  packages/sdk/src/index.ts
Due: mcp-server, react-ui, @semiont/react-ui

fix tests
  packages/api-client/src/transport/__tests__/http-transport.http-paths.test.ts
  packages/api-client/src/transport/http-transport.ts
  packages/core/src/index.ts
  packages/core/src/transport.ts
  packages/sdk/src/namespaces/admin.ts
  packages/sdk/src/namespaces/types.ts
  packages/sdk/src/view-models/domain/exchange-vm.ts
Due: api-client, core, @semiont/core, @semiont/api-client

fix test
  packages/sdk/src/view-models/domain/__tests__/exchange-vm.test.ts
Due: none

fix import/restore types
  apps/frontend/src/app/[locale]/admin/exchange/client.tsx
  apps/frontend/src/app/[locale]/moderate/linked-data/client.tsx
  packages/api-client/src/transport/__tests__/http-transport.http-paths.test.ts
  packages/api-client/src/transport/http-transport.ts
  packages/core/src/transport.ts
  packages/sdk/src/namespaces/admin.ts
  packages/sdk/src/namespaces/types.ts
  packages/sdk/src/view-models/domain/__tests__/exchange-vm.test.ts
  packages/sdk/src/view-models/domain/exchange-vm.ts
Due: api-client, core, frontend, @semiont/core, @semiont/api-client

fix import
  packages/api-client/src/transport/http-transport.ts
Due: api-client, @semiont/api-client

update sdk docs
  packages/sdk/README.md
  packages/sdk/docs/CACHE-SEMANTICS.md
  packages/sdk/docs/REACTIVE-MODEL.md
  packages/sdk/docs/Usage.md
Due: none

update skills
  docs/protocol/skills/semiont-assess/SKILL.md
  docs/protocol/skills/semiont-comment/SKILL.md
  docs/protocol/skills/semiont-highlight/SKILL.md
  docs/protocol/skills/semiont-session/SKILL.md
  docs/protocol/skills/semiont-wiki/SKILL.md
Due: none

further doc and skills update for recent sdk changes
  docs/protocol/flows/BECKON.md
  docs/protocol/flows/MARK.md
  docs/protocol/skills/semiont-session/SKILL.md
Due: none

update docs
  docs/protocol/README.md
  packages/sdk/README.md
  packages/sdk/docs/Usage.md
Due: none

doc update
  packages/react-ui/README.md
  packages/sdk/README.md
Due: react-ui, @semiont/react-ui

httpKb helper
  packages/sdk/src/session/knowledge-base.ts
Due: none

minor dx improvement to SemiontProvider prop injection
  packages/react-ui/src/session/SemiontProvider.tsx
  packages/sdk/src/index.ts
Due: react-ui, @semiont/react-ui

update audit-raw-bus for VM move
  scripts/compliance/audit-raw-bus.sh
Due: none

fix test
  packages/react-ui/src/features/admin-exchange/state/__tests__/exchange-vm.test.ts
Due: none

reorg view models
  docs/development/README.md
  packages/sdk/README.md
  packages/sdk/docs/Usage.md
  packages/sdk/src/index.ts
  packages/sdk/src/state/flows/__tests__/beckon-vm.test.ts
  packages/sdk/src/state/flows/__tests__/gather-vm.test.ts
  packages/sdk/src/state/flows/__tests__/mark-vm.test.ts
  packages/sdk/src/state/flows/__tests__/match-vm.test.ts
  packages/sdk/src/state/flows/__tests__/yield-vm.test.ts
  packages/sdk/src/state/flows/beckon-vm.ts
  packages/sdk/src/state/flows/gather-vm.ts
  packages/sdk/src/state/flows/mark-vm.ts
  packages/sdk/src/state/flows/match-vm.ts
  packages/sdk/src/state/flows/yield-vm.ts
  packages/sdk/src/state/index.ts
  packages/sdk/src/state/lib/__tests__/search-pipeline.test.ts
  packages/sdk/src/state/lib/search-pipeline.ts
  packages/sdk/src/state/lib/view-model.ts
  packages/sdk/src/state/lib/worker-bus.ts
  packages/sdk/src/state/workers/__tests__/job-claim-adapter.test.ts
  packages/sdk/src/state/workers/__tests__/job-queue-vm.test.ts
  packages/sdk/src/state/workers/__tests__/smelter-actor-vm.test.ts
  packages/sdk/src/state/workers/job-claim-adapter.ts
  packages/sdk/src/state/workers/job-queue-vm.ts
  packages/sdk/src/state/workers/smelter-actor-vm.ts
Due: none

organize view models (#700)
  docs/development/README.md
  packages/sdk/README.md
  packages/sdk/docs/REACTIVE-MODEL.md
  packages/sdk/docs/STATE-UNITS.md
  packages/sdk/docs/Usage.md
  packages/sdk/src/index.ts
  packages/sdk/src/state/flows/__tests__/beckon-vm.test.ts
  packages/sdk/src/state/flows/__tests__/gather-vm.test.ts
  packages/sdk/src/state/flows/__tests__/mark-vm.test.ts
  packages/sdk/src/state/flows/__tests__/match-vm.test.ts
  packages/sdk/src/state/flows/__tests__/yield-vm.test.ts
  packages/sdk/src/state/flows/beckon-vm.ts
  packages/sdk/src/state/flows/gather-vm.ts
  packages/sdk/src/state/flows/mark-vm.ts
  packages/sdk/src/state/flows/match-vm.ts
  packages/sdk/src/state/flows/yield-vm.ts
  packages/sdk/src/state/index.ts
  packages/sdk/src/state/lib/__tests__/search-pipeline.test.ts
  packages/sdk/src/state/lib/search-pipeline.ts
  packages/sdk/src/state/lib/view-model.ts
  packages/sdk/src/state/lib/worker-bus.ts
  packages/sdk/src/state/workers/__tests__/job-claim-adapter.test.ts
  packages/sdk/src/state/workers/__tests__/job-queue-vm.test.ts
  packages/sdk/src/state/workers/__tests__/smelter-actor-vm.test.ts
  packages/sdk/src/state/workers/job-claim-adapter.ts
  packages/sdk/src/state/workers/job-queue-vm.ts
  packages/sdk/src/state/workers/smelter-actor-vm.ts
Due: none

move job-related state units to @semiont/jobs
  packages/jobs/src/__tests__/job-claim-adapter.test.ts
  packages/jobs/src/__tests__/job-queue-vm.test.ts
  packages/jobs/src/__tests__/test-client.ts
  packages/jobs/src/__tests__/worker-process.test.ts
  packages/jobs/src/job-claim-adapter.ts
  packages/jobs/src/job-queue-vm.ts
  packages/jobs/src/worker-process.ts
  packages/react-ui/src/index.ts
  packages/sdk/src/state/index.ts
Due: jobs, react-ui, @semiont/jobs, @semiont/react-ui

drop unused WorkerBus export
  packages/react-ui/src/index.ts
Due: react-ui, @semiont/react-ui

fix tests
  packages/jobs/src/__tests__/worker-process.test.ts
Due: none

update compliance script
  scripts/compliance/audit-raw-bus.sh
Due: none

move job-related state units to @semiont/jobs (#701)
  packages/jobs/src/__tests__/job-claim-adapter.test.ts
  packages/jobs/src/__tests__/job-queue-vm.test.ts
  packages/jobs/src/__tests__/test-client.ts
  packages/jobs/src/__tests__/worker-process.test.ts
  packages/jobs/src/job-claim-adapter.ts
  packages/jobs/src/job-queue-vm.ts
  packages/jobs/src/worker-process.ts
  packages/react-ui/src/index.ts
  packages/sdk/src/state/index.ts
  scripts/compliance/audit-raw-bus.sh
Due: jobs, react-ui, @semiont/jobs, @semiont/react-ui

move smelter State Unit and process main (entry point) to make-meaning
  apps/backend/src/cli/rebuild-vectors.ts
  package-lock.json
  packages/README.md
  packages/api-client/src/index.ts
  packages/jobs/package.json
  packages/jobs/src/worker-main.ts
  packages/jobs/tsup.config.ts
  packages/make-meaning/package.json
  packages/make-meaning/src/__tests__/smelter-actor-vm.test.ts
  packages/make-meaning/src/index.ts
  packages/make-meaning/src/knowledge-base.ts
  packages/make-meaning/src/smelter-actor-vm.ts
  packages/make-meaning/src/smelter-main.ts
  packages/make-meaning/tsup.config.ts
  packages/observability/README.md
  packages/observability/package.json
  packages/observability/src/process-logger.ts
  packages/observability/tsup.config.ts
  packages/sdk/README.md
  packages/sdk/docs/STATE-UNITS.md
  packages/sdk/docs/Usage.md
  packages/sdk/src/state/index.ts
  packages/sdk/src/state/lib/worker-bus.ts
Due: api-client, jobs, make-meaning, backend, @semiont/api-client, @semiont/jobs, @semiont/make-meaning

move smelter State Unit and process main (entry point) to make-meaning (#702)
  apps/backend/src/cli/rebuild-vectors.ts
  package-lock.json
  packages/README.md
  packages/api-client/src/index.ts
  packages/jobs/package.json
  packages/jobs/src/worker-main.ts
  packages/jobs/tsup.config.ts
  packages/make-meaning/package.json
  packages/make-meaning/src/__tests__/smelter-actor-vm.test.ts
  packages/make-meaning/src/index.ts
  packages/make-meaning/src/knowledge-base.ts
  packages/make-meaning/src/smelter-actor-vm.ts
  packages/make-meaning/src/smelter-main.ts
  packages/make-meaning/tsup.config.ts
  packages/observability/README.md
  packages/observability/package.json
  packages/observability/src/process-logger.ts
  packages/observability/tsup.config.ts
  packages/sdk/README.md
  packages/sdk/docs/STATE-UNITS.md
  packages/sdk/docs/Usage.md
  packages/sdk/src/state/index.ts
  packages/sdk/src/state/lib/worker-bus.ts
Due: api-client, jobs, make-meaning, backend, @semiont/api-client, @semiont/jobs, @semiont/make-meaning

fill documentation and skill gaps
  docs/protocol/flows/BECKON.md
  docs/protocol/flows/BIND.md
  docs/protocol/flows/MARK.md
  docs/protocol/skills/semiont-session/SKILL.md
  docs/protocol/skills/semiont-worker/SKILL.md
  packages/sdk/README.md
  packages/sdk/docs/Usage.md
Due: none

adjust make-meaning tsup config for smelter move
  packages/make-meaning/tsup.config.ts
Due: none

file upload progress
  packages/api-client/src/transport/__tests__/http-content-transport.xhr.test.ts
  packages/api-client/src/transport/http-content-transport.ts
  packages/api-client/src/transport/http-transport.ts
  packages/core/src/index.ts
  packages/core/src/transport.ts
  packages/make-meaning/src/local-content-transport.ts
  packages/sdk/src/awaitable.ts
  packages/sdk/src/namespaces/__tests__/commands.test.ts
  packages/sdk/src/namespaces/yield.ts
Due: api-client, core, make-meaning, @semiont/core, @semiont/api-client, @semiont/make-meaning

explain context of media token usage for img tags
  packages/api-client/docs/MEDIA-TOKENS.md
Due: api-client, @semiont/api-client

wire upload progress into frontend
  apps/frontend/src/app/[locale]/know/compose/page.tsx
  packages/api-client/tsconfig.json
  packages/react-ui/src/features/resource-compose/components/ResourceComposePage.tsx
  packages/react-ui/src/features/resource-compose/components/UploadProgressBar.tsx
  packages/react-ui/src/index.ts
Due: api-client, react-ui, frontend, @semiont/api-client, @semiont/react-ui

fix typecheck
  packages/api-client/src/transport/__tests__/http-content-transport.xhr.test.ts
Due: none

I/O (#703)
  apps/frontend/src/app/[locale]/know/compose/page.tsx
  packages/api-client/docs/MEDIA-TOKENS.md
  packages/api-client/src/transport/__tests__/http-content-transport.xhr.test.ts
  packages/api-client/src/transport/http-content-transport.ts
  packages/api-client/src/transport/http-transport.ts
  packages/api-client/tsconfig.json
  packages/core/src/index.ts
  packages/core/src/transport.ts
  packages/make-meaning/src/local-content-transport.ts
  packages/make-meaning/tsup.config.ts
  packages/react-ui/src/features/resource-compose/components/ResourceComposePage.tsx
  packages/react-ui/src/features/resource-compose/components/UploadProgressBar.tsx
  packages/react-ui/src/index.ts
  packages/sdk/src/awaitable.ts
  packages/sdk/src/namespaces/__tests__/commands.test.ts
  packages/sdk/src/namespaces/yield.ts
Due: api-client, core, make-meaning, react-ui, frontend, @semiont/core, @semiont/api-client, @semiont/make-meaning, @semiont/react-ui

frame verb
  README.md
  docs/protocol/EVENT-BUS.md
  docs/protocol/README.md
  docs/protocol/flows/FRAME.md
  docs/protocol/flows/README.md
  docs/system/HUMAN-UI.md
  docs/system/README.md
  packages/make-meaning/docs/SCRIPTING.md
  packages/make-meaning/src/__tests__/local-transport.test.ts
  packages/react-ui/src/features/moderate-entity-tags/state/entity-tags-vm.ts
  packages/sdk/README.md
  packages/sdk/docs/Usage.md
  packages/sdk/src/client.ts
  packages/sdk/src/index.ts
  packages/sdk/src/namespaces/__tests__/commands.test.ts
  packages/sdk/src/namespaces/__tests__/frame.test.ts
  packages/sdk/src/namespaces/frame.ts
  packages/sdk/src/namespaces/mark.ts
  packages/sdk/src/namespaces/types.ts
  packages/sdk/src/state/index.ts
  website/index.md
Due: make-meaning, react-ui, @semiont/make-meaning, @semiont/react-ui

fix tests
  packages/react-ui/src/features/moderate-entity-tags/state/__tests__/entity-tags-vm.test.ts
Due: none

e2e suite improvements
  tests/e2e/README.md
  tests/e2e/docs/jaeger.md
  tests/e2e/docs/live-monitoring.md
  tests/e2e/fixtures/auth.ts
  tests/e2e/fixtures/jaeger.ts
  tests/e2e/fixtures/page-errors.ts
  tests/e2e/scripts/log-filter.py
  tests/e2e/scripts/slice-container-logs.py
  tests/e2e/scripts/snapshot.py
  tests/e2e/specs/03-navigate-resources.spec.ts
  tests/e2e/specs/08-hover-beckon.spec.ts
  tests/e2e/specs/09-generate-from-reference.spec.ts
  tests/e2e/specs/99-diagnose-entity-types.spec.ts
Due: none

bug log
  packages/core/src/__tests__/event-bus-buslog.test.ts
  packages/core/src/event-bus.ts
Due: core, @semiont/core
