Repository The-AI-Alliance/semiont: changes, and which Codecov flags are due for each by the changed paths.
All: api-client, content, core, event-sourcing, graph, inference, jobs, make-meaning, mcp-server, ontology, react-ui, frontend, backend, @semiont/core, @semiont/api-client, @semiont/ontology, @semiont/content, @semiont/event-sourcing, @semiont/graph, @semiont/inference, @semiont/jobs, @semiont/make-meaning, @semiont/react-ui

codecov.yml:

# Codecov configuration for Semiont monorepo
# https://docs.codecov.io/docs/codecovyml-reference

codecov:
  # Require CI to finish before processing coverage
  require_ci_to_pass: true

  # Wait for all coverage reports before commenting
  notify:
    wait_for_ci: true

coverage:
  # Overall project coverage settings
  status:
    # Project-wide coverage status
    project:
      default:
        # Coverage can drop by 1% without failing
        threshold: 1%
        target: 70%  # Target 70% overall coverage

    # Per-PR patch coverage
    patch:
      default:
        # New code should have at least 80% coverage
        target: 80%
        threshold: 5%

  # Round coverage to 2 decimal places
  precision: 2
  round: down

  # Coverage range for color coding
  range: "50...90"

# Component-specific coverage configuration
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 1%
  individual_components:
    # Core packages with higher coverage requirements
    - component_id: core
      name: "@semiont/core"
      paths:
        - packages/core/**
    - component_id: api-client
      name: "@semiont/api-client"
      paths:
        - packages/api-client/**
    - component_id: ontology
      name: "@semiont/ontology"
      paths:
        - packages/ontology/**
    - component_id: content
      name: "@semiont/content"
      paths:
        - packages/content/**
    - component_id: event-sourcing
      name: "@semiont/event-sourcing"
      paths:
        - packages/event-sourcing/**
    - component_id: graph
      name: "@semiont/graph"
      paths:
        - packages/graph/**
    - component_id: inference
      name: "@semiont/inference"
      paths:
        - packages/inference/**
    - component_id: jobs
      name: "@semiont/jobs"
      paths:
        - packages/jobs/**
    - component_id: make-meaning
      name: "@semiont/make-meaning"
      paths:
        - packages/make-meaning/**
    - component_id: react-ui
      name: "@semiont/react-ui"
      paths:
        - packages/react-ui/**

# Ignore certain files from coverage
ignore:
  # Test files
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/*.spec.tsx"
  - "**/test/**"
  - "**/tests/**"
  - "**/__tests__/**"
  - "**/test-utils/**"

  # Build artifacts
  - "**/dist/**"
  - "**/build/**"
  - "**/coverage/**"
  - "**/.next/**"

  # Config files
  - "**/*.config.ts"
  - "**/*.config.js"
  - "**/jest.setup.ts"

  # Generated files
  - "**/generated/**"
  - "packages/api-client/src/types.ts"

  # Examples and demos
  - "**/examples/**"
  - "**/demo/**"

  # Scripts
  - "scripts/**"

# Comment configuration
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Flag configuration for different test suites
flags:
  # Individual package flags
  api-client:
    paths:
      - packages/api-client/**
    carryforward: true

  content:
    paths:
      - packages/content/**
    carryforward: true

  core:
    paths:
      - packages/core/**
    carryforward: true

  event-sourcing:
    paths:
      - packages/event-sourcing/**
    carryforward: true

  graph:
    paths:
      - packages/graph/**
    carryforward: true

  inference:
    paths:
      - packages/inference/**
    carryforward: true

  jobs:
    paths:
      - packages/jobs/**
    carryforward: true

  make-meaning:
    paths:
      - packages/make-meaning/**
    carryforward: true

  mcp-server:
    paths:
      - packages/mcp-server/**
    carryforward: true

  ontology:
    paths:
      - packages/ontology/**
    carryforward: true

  react-ui:
    paths:
      - packages/react-ui/**
    carryforward: true

  # App flags (for future use)
  frontend:
    paths:
      - apps/frontend/**
    carryforward: true

  backend:
    paths:
      - apps/backend/**
    carryforward: true

bump version to 0.5.22
  apps/backend/package.json
  apps/backend/package.publish.json
  apps/cli/package.json
  apps/desktop/package.json
  apps/frontend/package.json
  apps/frontend/package.publish.json
  package-lock.json
  package.json
  packages/content/package.json
  packages/core/package.json
  packages/event-sourcing/package.json
  packages/graph/package.json
  packages/http-transport/package.json
  packages/inference/package.json
  packages/jobs/package.json
  packages/make-meaning/package.json
  packages/mcp-server/package.json
  packages/observability/package.json
  packages/ontology/package.json
  packages/react-ui/package.json
  packages/sdk/package.json
  packages/test-utils/package.json
  packages/vectors/package.json
  version.json
Due: content, core, event-sourcing, graph, inference, jobs, make-meaning, mcp-server, ontology, react-ui, frontend, backend, @semiont/core, @semiont/ontology, @semiont/content, @semiont/event-sourcing, @semiont/graph, @semiont/inference, @semiont/jobs, @semiont/make-meaning, @semiont/react-ui

pacage prefix matching for license filter
  .github/licenses/exceptions.txt
  .github/scripts/check-licenses.mjs
Due: none

update useradd syntax
  docs/system/LOCAL-BACKEND.md
  scripts/ci/local-build.sh
Due: none

fix e2e data dependency
  tests/e2e/specs/08-hover-beckon.spec.ts
Due: none

fix useradd syntax in codespace start message
  apps/launcher/internal/launcher/codespace.go
Due: none

update verb/protocol docs
  README.md
  docs/protocol/README.md
  docs/protocol/flows/FRAME.md
  docs/protocol/flows/README.md
  packages/sdk/docs/Usage.md
  website/index.md
Due: none

protocol README revision
  docs/protocol/README.md
Due: none

reconcile http-transport-linking docs
  apps/backend/README.md
  apps/backend/docs/AUTHENTICATION.md
  apps/backend/docs/DEVELOPMENT.md
  apps/backend/docs/TESTING.md
  apps/frontend/docs/AUTHORIZATION.md
  docs/protocol/API.md
  docs/protocol/README.md
  docs/protocol/W3C-SELECTORS.md
  docs/protocol/W3C-WEB-ANNOTATION.md
  specs/README.md
Due: frontend, backend

sort out kb identity vs address
  apps/backend/src/__tests__/_test-setup.ts
  apps/backend/src/__tests__/setup.ts
  apps/backend/src/index.ts
  apps/backend/src/routes/status.ts
  apps/frontend/messages-source/en.json
  apps/frontend/src/app/[locale]/know/__tests__/DiscoverEmptyState.test.tsx
  apps/frontend/src/components/KnowledgeBasePanel.tsx
  apps/frontend/src/components/__tests__/KnowledgeBasePanel.test.tsx
  apps/frontend/src/contexts/__tests__/AuthShell.integration.test.tsx
  apps/launcher/internal/launcher/config.go
  apps/launcher/internal/launcher/discovery.go
  apps/launcher/internal/launcher/discovery_types_gen.go
  apps/launcher/internal/launcher/rootstate.go
  apps/launcher/internal/launcher/start.go
  apps/launcher/launcher_test.go
  packages/core/src/__tests__/did-utils.test.ts
  packages/core/src/__tests__/project.test.ts
  packages/core/src/did-utils.ts
  packages/core/src/project.ts
  packages/jobs/src/worker-runtime.ts
  packages/sdk/src/__tests__/discovery.test.ts
  packages/sdk/src/discovery.ts
  packages/sdk/src/index.ts
  packages/sdk/src/session/__tests__/semiont-browser.test.ts
  packages/sdk/src/session/__tests__/semiont-session-factories.test.ts
  packages/sdk/src/session/knowledge-base.ts
  packages/sdk/src/session/semiont-session.ts
  packages/sdk/src/session/storage.ts
  specs/src/components/schemas/StatusResponse.json
  specs/src/discovery/DiscoveredKB.json
Due: core, jobs, frontend, backend, @semiont/core, @semiont/jobs

rewrite vacuous tests
  apps/backend/package.json
  apps/backend/src/__tests__/api/resource-documentation.test.ts
  apps/backend/src/__tests__/integration/api-endpoints.test.ts
  apps/backend/src/index.ts
Due: backend

update mcp and write tests
  packages/mcp-server/README.md
  packages/mcp-server/claude-config.json
  packages/mcp-server/package.json
  packages/mcp-server/src/config.test.ts
  packages/mcp-server/src/config.ts
  packages/mcp-server/src/handlers-stubs.ts
  packages/mcp-server/src/handlers.test.ts
  packages/mcp-server/src/handlers.ts
  packages/mcp-server/src/index.test.ts
  packages/mcp-server/src/index.ts
  packages/mcp-server/src/tools.test.ts
  packages/mcp-server/src/tools.ts
  packages/mcp-server/test-server.js
  packages/mcp-server/tsconfig.build.json
Due: mcp-server

update docs that mention deleted 'provision' command
  apps/backend/README.md
  apps/frontend/docs/DEVELOPMENT.md
  docs/system/CONTAINER-TOPOLOGY.md
  docs/system/services/SECRETS.md
  packages/mcp-server/README.md
Due: mcp-server, frontend, backend

fix docs; CI failure for launcher
  CONTRIBUTING.md
  apps/backend/README.md
  apps/backend/README.npm.md
  apps/backend/docs/DEVELOPMENT.md
  apps/frontend/README.md
  apps/frontend/docs/DEVELOPMENT.md
  apps/launcher/launcher_test.go
  docs/development/LOCAL-DEVELOPMENT.md
  docs/protocol/skills/semiont-local/SKILL.md
  docs/system/CONTAINER-TOPOLOGY.md
  docs/system/LOCAL-BACKEND.md
  docs/system/administration/CONFIGURATION.md
  docs/system/administration/DATABASE.md
  docs/system/services/OVERVIEW.md
  packages/sdk-go/client_gen.go
Due: frontend, backend

address copilot feedback
  apps/frontend/src/components/KnowledgeBasePanel.tsx
  apps/frontend/src/components/__tests__/KnowledgeBasePanel.test.tsx
Due: frontend

test coverage for mcp-server
  packages/mcp-server/src/__fixtures__/stub-client.ts
  packages/mcp-server/src/handlers.test.ts
  packages/mcp-server/src/handlers.ts
  packages/mcp-server/src/index.e2e.test.ts
  packages/mcp-server/src/index.ts
  packages/mcp-server/src/server.test.ts
  packages/mcp-server/src/server.ts
  packages/mcp-server/tsconfig.build.json
  packages/mcp-server/vitest.config.ts
Due: mcp-server

mcp tests
  packages/mcp-server/src/handlers.test.ts
Due: none

mcp tsconfig
  packages/mcp-server/tsconfig.build.json
Due: mcp-server

clean up SEMIONT_ENV references
  apps/backend/src/cli/db-url.ts
  apps/backend/src/cli/rebuild-graph.ts
  apps/backend/src/cli/rebuild-projections.ts
  apps/backend/src/cli/useradd.ts
  apps/backend/src/index.ts
  packages/core/src/__tests__/config/toml-loader.test.ts
  packages/core/src/config/node-config-loader.ts
  packages/core/src/config/toml-loader.ts
Due: core, backend, @semiont/core

rm hard-coded 'local'
  packages/jobs/src/worker-main.ts
  packages/make-meaning/src/smelter-main.ts
  packages/make-meaning/src/weaver-main.ts
Due: jobs, make-meaning, @semiont/jobs, @semiont/make-meaning

briefly mention prerequisites
  README.md
Due: none

fix: authenticate the KB identity check
  apps/frontend/messages-source/en.json
  apps/frontend/src/components/KnowledgeBasePanel.tsx
  apps/frontend/src/components/__tests__/KnowledgeBasePanel.test.tsx
  package-lock.json
Due: frontend

KnowledgeBasePanel strings
  apps/frontend/messages-source/ar.json
  apps/frontend/messages-source/bn.json
  apps/frontend/messages-source/cs.json
  apps/frontend/messages-source/da.json
  apps/frontend/messages-source/de.json
  apps/frontend/messages-source/el.json
  apps/frontend/messages-source/es.json
  apps/frontend/messages-source/fa.json
  apps/frontend/messages-source/fi.json
  apps/frontend/messages-source/fr.json
  apps/frontend/messages-source/he.json
  apps/frontend/messages-source/hi.json
  apps/frontend/messages-source/id.json
  apps/frontend/messages-source/it.json
  apps/frontend/messages-source/ja.json
  apps/frontend/messages-source/ko.json
  apps/frontend/messages-source/ms.json
  apps/frontend/messages-source/nl.json
  apps/frontend/messages-source/no.json
  apps/frontend/messages-source/pl.json
  apps/frontend/messages-source/pt.json
  apps/frontend/messages-source/ro.json
  apps/frontend/messages-source/sv.json
  apps/frontend/messages-source/th.json
  apps/frontend/messages-source/tr.json
  apps/frontend/messages-source/uk.json
  apps/frontend/messages-source/vi.json
  apps/frontend/messages-source/zh.json
Due: frontend

fix codespace start
  apps/launcher/internal/fakert/main.go
  apps/launcher/internal/launcher/codespace.go
  apps/launcher/launcher_test.go
Due: none

address copilot feedback
  apps/frontend/src/components/KnowledgeBasePanel.tsx
  apps/frontend/src/components/__tests__/KnowledgeBasePanel.test.tsx
  apps/launcher/internal/fakert/main.go
  apps/launcher/internal/launcher/codespace.go
Due: frontend

Potential fix for pull request finding
  apps/launcher/internal/launcher/codespace.go
Due: none

fix: authenticate the KB identity check (#1109)
  apps/frontend/messages-source/ar.json
  apps/frontend/messages-source/bn.json
  apps/frontend/messages-source/cs.json
  apps/frontend/messages-source/da.json
  apps/frontend/messages-source/de.json
  apps/frontend/messages-source/el.json
  apps/frontend/messages-source/en.json
  apps/frontend/messages-source/es.json
  apps/frontend/messages-source/fa.json
  apps/frontend/messages-source/fi.json
  apps/frontend/messages-source/fr.json
  apps/frontend/messages-source/he.json
  apps/frontend/messages-source/hi.json
  apps/frontend/messages-source/id.json
  apps/frontend/messages-source/it.json
  apps/frontend/messages-source/ja.json
  apps/frontend/messages-source/ko.json
  apps/frontend/messages-source/ms.json
  apps/frontend/messages-source/nl.json
  apps/frontend/messages-source/no.json
  apps/frontend/messages-source/pl.json
  apps/frontend/messages-source/pt.json
  apps/frontend/messages-source/ro.json
  apps/frontend/messages-source/sv.json
  apps/frontend/messages-source/th.json
  apps/frontend/messages-source/tr.json
  apps/frontend/messages-source/uk.json
  apps/frontend/messages-source/vi.json
  apps/frontend/messages-source/zh.json
  apps/frontend/src/components/KnowledgeBasePanel.tsx
  apps/frontend/src/components/__tests__/KnowledgeBasePanel.test.tsx
  apps/launcher/internal/fakert/main.go
  apps/launcher/internal/launcher/codespace.go
  apps/launcher/launcher_test.go
  package-lock.json
Due: frontend

codespace fail fast
  apps/launcher/internal/fakert/main.go
  apps/launcher/internal/launcher/codespace.go
  apps/launcher/launcher_test.go
Due: none

bug fixes
  apps/launcher/internal/fakert/main.go
  apps/launcher/internal/launcher/codespace.go
  apps/launcher/launcher_test.go
Due: none

codespace start: fail fast when the devcontainer hooks fail, and name the cause (#1110)
  apps/launcher/internal/fakert/main.go
  apps/launcher/internal/launcher/codespace.go
  apps/launcher/launcher_test.go
Due: none

bump version to 0.5.23
  apps/backend/package.json
  apps/backend/package.publish.json
  apps/cli/package.json
  apps/desktop/package.json
  apps/frontend/package.json
  apps/frontend/package.publish.json
  package-lock.json
  package.json
  packages/content/package.json
  packages/core/package.json
  packages/event-sourcing/package.json
  packages/graph/package.json
  packages/http-transport/package.json
  packages/inference/package.json
  packages/jobs/package.json
  packages/make-meaning/package.json
  packages/mcp-server/package.json
  packages/observability/package.json
  packages/ontology/package.json
  packages/react-ui/package.json
  packages/sdk/package.json
  packages/test-utils/package.json
  packages/vectors/package.json
  version.json
Due: content, core, event-sourcing, graph, inference, jobs, make-meaning, mcp-server, ontology, react-ui, frontend, backend, @semiont/core, @semiont/ontology, @semiont/content, @semiont/event-sourcing, @semiont/graph, @semiont/inference, @semiont/jobs, @semiont/make-meaning, @semiont/react-ui

fix issues with kb switching in browser
  apps/frontend/docs/ARCHITECTURE.md
  apps/frontend/docs/AUTHENTICATION.md
  apps/frontend/src/app/[locale]/__tests__/protected-layout-session-gates.test.tsx
  apps/frontend/src/app/[locale]/auth/welcome/__tests__/session-gate.test.tsx
  apps/frontend/src/app/[locale]/auth/welcome/page.tsx
  apps/frontend/src/app/[locale]/know/__tests__/landing-redirect.test.tsx
  apps/frontend/src/app/[locale]/know/__tests__/layout-session-gate.test.tsx
  apps/frontend/src/app/[locale]/know/page.tsx
  apps/frontend/src/app/[locale]/know/resource/[id]/__tests__/navigation.test.tsx
  apps/frontend/src/app/[locale]/know/resource/[id]/__tests__/terminal-failure.test.tsx
  apps/frontend/src/app/[locale]/know/resource/[id]/page.tsx
  apps/frontend/src/components/UserPanel.tsx
  apps/frontend/src/components/__tests__/UserPanel.test.tsx
  packages/react-ui/docs/SESSION.md
  packages/react-ui/src/features/resource-viewer/__tests__/ResourceViewerPage.test.tsx
  packages/react-ui/src/features/resource-viewer/components/ResourceViewerPage.tsx
  packages/react-ui/src/features/resource-viewer/state/__tests__/resource-loader-state-unit.test.ts
  packages/react-ui/src/features/resource-viewer/state/resource-loader-state-unit.ts
  packages/react-ui/src/hooks/__tests__/useObservable.test.ts
  packages/react-ui/src/hooks/useObservable.ts
  packages/react-ui/src/test-utils.tsx
  packages/sdk/src/session/__tests__/semiont-browser.test.ts
  packages/sdk/src/session/__tests__/semiont-session.test.ts
  packages/sdk/src/session/semiont-browser.ts
  packages/sdk/src/session/semiont-session.ts
  packages/sdk/src/session/storage.ts
Due: react-ui, frontend, @semiont/react-ui

react-ui: give the resource panels a real load-failure state
  packages/react-ui/src/components/resource/AnnotationHistory.tsx
  packages/react-ui/src/components/resource/__tests__/AnnotationHistory.test.tsx
  packages/react-ui/src/components/resource/panels/ReferencesPanel.tsx
  packages/react-ui/src/components/resource/panels/UnifiedAnnotationsPanel.tsx
  packages/react-ui/src/components/resource/panels/__tests__/ReferencesPanel.headless.test.tsx
  packages/react-ui/src/components/resource/panels/__tests__/UnifiedAnnotationsPanel.failure.test.tsx
  packages/react-ui/src/features/resource-viewer/components/ResourceViewerPage.tsx
  packages/react-ui/src/features/resource-viewer/state/__tests__/resource-viewer-page-state-unit.test.ts
  packages/react-ui/src/features/resource-viewer/state/resource-viewer-page-state-unit.ts
  packages/react-ui/translations/en.json
Due: react-ui, @semiont/react-ui

translations for previous commit
  packages/react-ui/translations/ar.json
  packages/react-ui/translations/bn.json
  packages/react-ui/translations/cs.json
  packages/react-ui/translations/da.json
  packages/react-ui/translations/de.json
  packages/react-ui/translations/el.json
  packages/react-ui/translations/es.json
  packages/react-ui/translations/fa.json
  packages/react-ui/translations/fi.json
  packages/react-ui/translations/fr.json
  packages/react-ui/translations/he.json
  packages/react-ui/translations/hi.json
  packages/react-ui/translations/id.json
  packages/react-ui/translations/it.json
  packages/react-ui/translations/ja.json
  packages/react-ui/translations/ko.json
  packages/react-ui/translations/ms.json
  packages/react-ui/translations/nl.json
  packages/react-ui/translations/no.json
  packages/react-ui/translations/pl.json
  packages/react-ui/translations/pt.json
  packages/react-ui/translations/ro.json
  packages/react-ui/translations/sv.json
  packages/react-ui/translations/th.json
  packages/react-ui/translations/tr.json
  packages/react-ui/translations/uk.json
  packages/react-ui/translations/vi.json
  packages/react-ui/translations/zh.json
Due: react-ui, @semiont/react-ui

react-ui: extend the load-failure state to every cache-backed surface
  apps/frontend/src/app/[locale]/know/compose/page.tsx
  apps/frontend/src/app/[locale]/know/discover/page.tsx
  apps/frontend/src/app/[locale]/moderate/entity-tags/page.tsx
  packages/react-ui/src/components/modals/ResourceGenerateModal.tsx
  packages/react-ui/src/components/modals/__tests__/ResourceGenerateModal.test.tsx
  packages/react-ui/src/features/moderate-entity-tags/state/__tests__/entity-tags-state-unit.test.ts
  packages/react-ui/src/features/moderate-entity-tags/state/entity-tags-state-unit.ts
  packages/react-ui/src/features/resource-compose/state/__tests__/compose-page-state-unit.test.ts
  packages/react-ui/src/features/resource-compose/state/compose-page-state-unit.ts
  packages/react-ui/src/features/resource-discovery/components/ResourceDiscoveryPage.tsx
  packages/react-ui/src/features/resource-discovery/state/__tests__/discover-state-unit.test.ts
  packages/react-ui/src/features/resource-discovery/state/discover-state-unit.ts
  packages/react-ui/src/features/resource-viewer/components/ResourceViewerPage.tsx
  packages/react-ui/src/features/resource-viewer/state/resource-viewer-page-state-unit.ts
  packages/react-ui/src/state/list-state.ts
Due: react-ui, frontend, @semiont/react-ui

cleanup
  apps/frontend/src/app/[locale]/know/resource/[id]/__tests__/navigation.test.tsx
  packages/react-ui/src/components/resource/panels/__tests__/ReferencesPanel.headless.test.tsx
  packages/react-ui/src/components/resource/panels/__tests__/UnifiedAnnotationsPanel.failure.test.tsx
  packages/react-ui/src/features/resource-discovery/__tests__/ResourceDiscoveryPage.test.tsx
  packages/react-ui/src/features/resource-discovery/components/ResourceDiscoveryPage.tsx
  packages/react-ui/src/features/resource-viewer/state/__tests__/resource-viewer-page-state-unit.test.ts
Due: react-ui, @semiont/react-ui

strings for 12469576afa481971e1f4f8daecd3dca96eeca17
  apps/frontend/messages-source/ar.json
  apps/frontend/messages-source/bn.json
  apps/frontend/messages-source/cs.json
  apps/frontend/messages-source/da.json
  apps/frontend/messages-source/de.json
  apps/frontend/messages-source/el.json
  apps/frontend/messages-source/en.json
  apps/frontend/messages-source/es.json
  apps/frontend/messages-source/fa.json
  apps/frontend/messages-source/fi.json
  apps/frontend/messages-source/fr.json
  apps/frontend/messages-source/he.json
  apps/frontend/messages-source/hi.json
  apps/frontend/messages-source/id.json
  apps/frontend/messages-source/it.json
  apps/frontend/messages-source/ja.json
  apps/frontend/messages-source/ko.json
  apps/frontend/messages-source/ms.json
  apps/frontend/messages-source/nl.json
  apps/frontend/messages-source/no.json
  apps/frontend/messages-source/pl.json
  apps/frontend/messages-source/pt.json
  apps/frontend/messages-source/ro.json
  apps/frontend/messages-source/sv.json
  apps/frontend/messages-source/th.json
  apps/frontend/messages-source/tr.json
  apps/frontend/messages-source/uk.json
  apps/frontend/messages-source/vi.json
  apps/frontend/messages-source/zh.json
Due: frontend

react-ui: overridable media-renderer registry for the annotate path
  packages/react-ui/src/components/resource/AnnotateView.tsx
  packages/react-ui/src/components/resource/__tests__/AnnotateView.registry.test.tsx
  packages/react-ui/src/components/resource/annotate-renderers.tsx
  packages/react-ui/src/index.ts
Due: react-ui, @semiont/react-ui

address copilot comment
  packages/react-ui/src/state/__tests__/list-state.test.ts
  packages/react-ui/src/state/list-state.ts
Due: react-ui, @semiont/react-ui
