Repository The-AI-Alliance/semiont: changes, and which Codecov flags are due for each by the changed paths.
All: api-client, content, core, event-sourcing, graph, inference, jobs, make-meaning, mcp-server, ontology, react-ui, frontend, backend, @semiont/core, @semiont/api-client, @semiont/ontology, @semiont/content, @semiont/event-sourcing, @semiont/graph, @semiont/inference, @semiont/jobs, @semiont/make-meaning, @semiont/react-ui

codecov.yml:

# Codecov configuration for Semiont monorepo
# https://docs.codecov.io/docs/codecovyml-reference

codecov:
  # Require CI to finish before processing coverage
  require_ci_to_pass: true

  # Wait for all coverage reports before commenting
  notify:
    wait_for_ci: true

coverage:
  # Overall project coverage settings
  status:
    # Project-wide coverage status
    project:
      default:
        # Coverage can drop by 1% without failing
        threshold: 1%
        target: 70%  # Target 70% overall coverage

    # Per-PR patch coverage
    patch:
      default:
        # New code should have at least 80% coverage
        target: 80%
        threshold: 5%

  # Round coverage to 2 decimal places
  precision: 2
  round: down

  # Coverage range for color coding
  range: "50...90"

# Component-specific coverage configuration
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 1%
  individual_components:
    # Core packages with higher coverage requirements
    - component_id: core
      name: "@semiont/core"
      paths:
        - packages/core/**
    - component_id: api-client
      name: "@semiont/api-client"
      paths:
        - packages/api-client/**
    - component_id: ontology
      name: "@semiont/ontology"
      paths:
        - packages/ontology/**
    - component_id: content
      name: "@semiont/content"
      paths:
        - packages/content/**
    - component_id: event-sourcing
      name: "@semiont/event-sourcing"
      paths:
        - packages/event-sourcing/**
    - component_id: graph
      name: "@semiont/graph"
      paths:
        - packages/graph/**
    - component_id: inference
      name: "@semiont/inference"
      paths:
        - packages/inference/**
    - component_id: jobs
      name: "@semiont/jobs"
      paths:
        - packages/jobs/**
    - component_id: make-meaning
      name: "@semiont/make-meaning"
      paths:
        - packages/make-meaning/**
    - component_id: react-ui
      name: "@semiont/react-ui"
      paths:
        - packages/react-ui/**

# Ignore certain files from coverage
ignore:
  # Test files
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/*.spec.tsx"
  - "**/test/**"
  - "**/tests/**"
  - "**/__tests__/**"
  - "**/test-utils/**"

  # Build artifacts
  - "**/dist/**"
  - "**/build/**"
  - "**/coverage/**"
  - "**/.next/**"

  # Config files
  - "**/*.config.ts"
  - "**/*.config.js"
  - "**/jest.setup.ts"

  # Generated files
  - "**/generated/**"
  - "packages/api-client/src/types.ts"

  # Examples and demos
  - "**/examples/**"
  - "**/demo/**"

  # Scripts
  - "scripts/**"

# Comment configuration
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Flag configuration for different test suites
flags:
  # Individual package flags
  api-client:
    paths:
      - packages/api-client/**
    carryforward: true

  content:
    paths:
      - packages/content/**
    carryforward: true

  core:
    paths:
      - packages/core/**
    carryforward: true

  event-sourcing:
    paths:
      - packages/event-sourcing/**
    carryforward: true

  graph:
    paths:
      - packages/graph/**
    carryforward: true

  inference:
    paths:
      - packages/inference/**
    carryforward: true

  jobs:
    paths:
      - packages/jobs/**
    carryforward: true

  make-meaning:
    paths:
      - packages/make-meaning/**
    carryforward: true

  mcp-server:
    paths:
      - packages/mcp-server/**
    carryforward: true

  ontology:
    paths:
      - packages/ontology/**
    carryforward: true

  react-ui:
    paths:
      - packages/react-ui/**
    carryforward: true

  # App flags (for future use)
  frontend:
    paths:
      - apps/frontend/**
    carryforward: true

  backend:
    paths:
      - apps/backend/**
    carryforward: true

cruft removal
  .github/workflows/ci.yml
  .github/workflows/security-tests.yml
  apps/gateway/docs/DEVELOPMENT.md
  apps/gateway/package.json
  apps/gateway/src/__tests__/integration/api-endpoints.test.ts
  apps/gateway/src/cli/useradd.ts
  apps/gateway/src/index.ts
  apps/gateway/tsup.config.ts
  docs/development/TESTING.md
  package-lock.json
  scripts/ci/local-build.sh
Due: none

no git
  apps/gateway/Dockerfile
Due: none

Verify the service-account credentials against the realm before starting anything
  apps/launcher/internal/launcher/executor.go
  apps/launcher/internal/launcher/flows.go
  apps/launcher/internal/launcher/identity.go
  apps/launcher/internal/launcher/preflight.go
  apps/launcher/internal/launcher/preflight_test.go
  packages/jobs/src/worker-main.ts
  packages/jobs/src/worker-runtime.ts
  packages/make-meaning/src/archivist-main.ts
  packages/make-meaning/src/librarian-main.ts
  packages/make-meaning/src/smelter-main.ts
  packages/make-meaning/src/weaver-main.ts
Due: jobs, make-meaning, @semiont/jobs, @semiont/make-meaning

Teach the fake runtime the client-credentials grant so the preflight is exercised, not skipped
  apps/launcher/internal/fakert/main.go
  apps/launcher/launcher_test.go
Due: none

Remove oauthAllowedDomains and enableLocalAuth, both dead
  .github/workflows/security-tests.yml
  apps/launcher/testdata/kb/.semiont/config
  docs/system/administration/CONFIGURATION.md
  packages/core/src/config/config.schema.json
  packages/core/src/config/toml-loader.ts
Due: core, @semiont/core

Remove the dead AppConfig security block from the config schema
  packages/core/src/config/config.schema.json
Due: core, @semiont/core

Remove the dead AppConfig branch from the config schema
  packages/core/src/config/config.schema.json
  packages/core/src/index.ts
Due: core, @semiont/core

Delete three vi.mock blocks for modules the gateway no longer has.
  apps/gateway/src/__tests__/auth/jwt.test.ts
  apps/gateway/src/__tests__/index.test.ts
  apps/gateway/src/__tests__/integration/api-endpoints.test.ts
Due: none

Derive the realm narration from the document, and gate the identity path in plan mode
  apps/launcher/internal/launcher/executor.go
  apps/launcher/launcher_test.go
  apps/launcher/testdata/golden/start-dryrun-keycloak-identity.txt
Due: none

cruft removal
  apps/gateway/docs/TESTING.md
  packages/react-ui/src/components/resource/panels/__tests__/JsonLdPanel.test.tsx
Due: none

Fail the build when a vi.mock specifier resolves to nothing
  .github/workflows/architecture-compliance.yml
  scripts/compliance/audit-all-compliance.sh
  scripts/compliance/audit-mock-targets.sh
Due: none

update docs
  apps/browser/docs/AUTHORIZATION.md
  apps/gateway/docs/AUTHENTICATION.md
Due: none

Replace signInHttp with the device grant across the protocol docs; workers get the service-account path
  README.md
  docs/protocol/README.md
  docs/protocol/skills/semiont-aggregate/SKILL.md
  docs/protocol/skills/semiont-assess/SKILL.md
  docs/protocol/skills/semiont-comment/SKILL.md
  docs/protocol/skills/semiont-highlight/SKILL.md
  docs/protocol/skills/semiont-ingest/SKILL.md
  docs/protocol/skills/semiont-relate/SKILL.md
  docs/protocol/skills/semiont-session/SKILL.md
  docs/protocol/skills/semiont-tag/SKILL.md
  docs/protocol/skills/semiont-wiki/SKILL.md
  docs/protocol/skills/semiont-worker/SKILL.md
Due: none

Declare the realm's user profile instead of inheriting it, and drop useradd --name
  README.md
  apps/gateway/src/cli/useradd.ts
  apps/gateway/src/identity/keycloak-admin.ts
  apps/launcher/internal/launcher/identity.go
  apps/launcher/internal/launcher/identity_test.go
  apps/launcher/internal/launcher/useradd.go
  apps/launcher/launcher_test.go
  docs/system/administration/AUTHENTICATION.md
Due: none

Accept any loopback port per RFC 8252, and preflight the sign-in clients
  apps/launcher/internal/fakert/main.go
  apps/launcher/internal/launcher/executor.go
  apps/launcher/internal/launcher/flows.go
  apps/launcher/internal/launcher/identity.go
  apps/launcher/internal/launcher/identity_test.go
  apps/launcher/internal/launcher/preflight.go
  apps/launcher/internal/launcher/preflight_test.go
  apps/launcher/testdata/golden/start-dryrun-keycloak-identity.txt
Due: none

Preflight that PKCE is required and the password grant refused, sending no credential
  apps/launcher/internal/launcher/executor.go
  apps/launcher/internal/launcher/preflight.go
  apps/launcher/internal/launcher/preflight_test.go
  apps/launcher/testdata/golden/start-dryrun-keycloak-identity.txt
Due: none

Preflight an external issuer too, not just one the launcher runs
  apps/launcher/internal/launcher/flows.go
  apps/launcher/launcher_test.go
Due: none

Sweep the prose and the topology diagram that still described the worker secret, Prisma, and a gateway database
  .github/licenses/allowlist.txt
  .github/licenses/exceptions.txt
  apps/gateway/.gitignore
  apps/gateway/NOTICE
  apps/gateway/README.npm.md
  apps/gateway/docs/AUTHENTICATION.md
  apps/gateway/docs/DEVELOPMENT.md
  apps/gateway/src/__tests__/auth/auth-integration.test.ts
  apps/launcher/README.md
  apps/launcher/internal/launcher/executor.go
  apps/launcher/internal/launcher/flows.go
  apps/launcher/internal/launcher/rootstate.go
  apps/launcher/internal/launcher/start.go
  apps/launcher/internal/launcher/support.go
  apps/launcher/launcher_test.go
  docs/system/CONTAINER-TOPOLOGY.md
  docs/system/administration/MAINTENANCE.md
  docs/system/administration/TROUBLESHOOTING.md
  docs/system/platforms/AWS.md
Due: none

Strip npm from the gateway image, like every other service image, and drop the patches that held its tree clean
  .github/licenses/allowlist.txt
  .github/licenses/exceptions.txt
  apps/gateway/Dockerfile
  apps/gateway/NOTICE
  docs/system/administration/MAINTENANCE.md
Due: none

Let a knowledge base set its own access token lifespan in [identity]
  apps/launcher/internal/launcher/config.go
  apps/launcher/internal/launcher/identity.go
  apps/launcher/internal/launcher/identity_test.go
  apps/launcher/internal/launcher/plan.go
  packages/core/src/config/config.schema.json
Due: core, @semiont/core

Warn when the realm's actual token lifespan disagrees with the config
  apps/launcher/internal/launcher/executor.go
  apps/launcher/internal/launcher/flows.go
  apps/launcher/internal/launcher/preflight.go
  apps/launcher/internal/launcher/preflight_test.go
  apps/launcher/testdata/golden/start-dryrun-keycloak-identity.txt
  docs/system/administration/AUTHENTICATION.md
Due: none

Move the issuer verifier's tests into core, where the verifier lives
  apps/gateway/src/__tests__/fixtures/issuer.ts
  packages/core/package.json
  packages/core/rollup.dts.config.mjs
  packages/core/src/__tests__/identity/issuer.test.ts
  packages/core/src/testing/issuer.ts
  packages/core/tsup.config.ts
Due: core, @semiont/core

Offer to open the browser on semiont login, the way gh auth login does
  apps/launcher/internal/launcher/oauth.go
  apps/launcher/internal/launcher/oauth_test.go
Due: none

Stop caching a user on the knowledge-base record
  apps/browser/src/components/KnowledgeBasePanel.tsx
  apps/browser/src/components/__tests__/KnowledgeBasePanel.test.tsx
  apps/browser/src/contexts/__tests__/AuthShell.integration.test.tsx
  docs/protocol/README.md
  docs/protocol/skills/semiont-aggregate/SKILL.md
  docs/protocol/skills/semiont-assess/SKILL.md
  docs/protocol/skills/semiont-comment/SKILL.md
  docs/protocol/skills/semiont-highlight/SKILL.md
  docs/protocol/skills/semiont-ingest/SKILL.md
  docs/protocol/skills/semiont-relate/SKILL.md
  docs/protocol/skills/semiont-session/SKILL.md
  docs/protocol/skills/semiont-tag/SKILL.md
  docs/protocol/skills/semiont-wiki/SKILL.md
  packages/make-meaning/docs/SCRIPTING.md
  packages/make-meaning/docs/examples.md
  packages/react-ui/src/__tests__/test-client.ts
  packages/sdk/README.md
  packages/sdk/docs/DEVELOPER-GUIDE.md
  packages/sdk/docs/REACTIVE-MODEL.md
  packages/sdk/src/__tests__/client-passthroughs.test.ts
  packages/sdk/src/session/__tests__/semiont-browser.test.ts
  packages/sdk/src/session/__tests__/semiont-session-factories.test.ts
  packages/sdk/src/session/__tests__/semiont-session.test.ts
  packages/sdk/src/session/connect.ts
  packages/sdk/src/session/knowledge-base.ts
  packages/sdk/src/session/semiont-browser.ts
  packages/sdk/src/session/storage.ts
  packages/sdk/src/testing.ts
  tests/e2e/lib/session.ts
Due: make-meaning, @semiont/make-meaning

fix build
  apps/browser/src/app/[locale]/know/resource/[id]/__tests__/navigation.test.tsx
  packages/jobs/src/worker-runtime.ts
Due: jobs, @semiont/jobs

Always print the sign-in URI, detect a terminal properly, and drop the last KB emails
  apps/launcher/internal/launcher/oauth.go
  apps/launcher/internal/launcher/oauth_test.go
  docs/protocol/skills/semiont-worker/SKILL.md
  packages/sdk/docs/Usage.md
Due: none

Batch 10 Dependabot updates: 17 PRs consolidated
  .github/workflows/package-tests.yml
  .github/workflows/publish-browser.yml
  .github/workflows/publish-service-images.yml
  .github/workflows/security-tests.yml
  apps/browser/package.json
  apps/gateway/package.json
  package-lock.json
  packages/content/package.json
  packages/core/package.json
  packages/event-sourcing/package.json
  packages/graph/package.json
  packages/http-transport/package.json
  packages/inference/package.json
  packages/jobs/package.json
  packages/make-meaning/package.json
  packages/observability/package.json
  packages/ontology/package.json
  packages/react-ui/package.json
  packages/sdk/docs/__snippets__/package.json
  packages/sdk/package.json
  packages/vectors/package.json
Due: content, core, event-sourcing, graph, inference, jobs, make-meaning, ontology, react-ui, @semiont/core, @semiont/ontology, @semiont/content, @semiont/event-sourcing, @semiont/graph, @semiont/inference, @semiont/jobs, @semiont/make-meaning, @semiont/react-ui

Retire the gateway image's prisma-era prunes and CVE patch block, dead since #1394
  apps/gateway/Dockerfile
Due: none

Batch 10 Dependabot updates: 17 PRs consolidated, and the gateway image sheds its prisma-era cruft (#1417)
  .github/workflows/package-tests.yml
  .github/workflows/publish-browser.yml
  .github/workflows/publish-service-images.yml
  .github/workflows/security-tests.yml
  apps/browser/package.json
  apps/gateway/Dockerfile
  apps/gateway/package.json
  package-lock.json
  packages/content/package.json
  packages/core/package.json
  packages/event-sourcing/package.json
  packages/graph/package.json
  packages/http-transport/package.json
  packages/inference/package.json
  packages/jobs/package.json
  packages/make-meaning/package.json
  packages/observability/package.json
  packages/ontology/package.json
  packages/react-ui/package.json
  packages/sdk/docs/__snippets__/package.json
  packages/sdk/package.json
  packages/vectors/package.json
Due: content, core, event-sourcing, graph, inference, jobs, make-meaning, ontology, react-ui, @semiont/core, @semiont/ontology, @semiont/content, @semiont/event-sourcing, @semiont/graph, @semiont/inference, @semiont/jobs, @semiont/make-meaning, @semiont/react-ui

Make JWTService.generateToken's expiresIn required, dropping the misleading '7d' default
  apps/gateway/src/__tests__/auth/auth-integration.test.ts
  apps/gateway/src/__tests__/auth/jwt.test.ts
  apps/gateway/src/__tests__/auth/mcp-auth-security.test.ts
  apps/gateway/src/__tests__/integration/api-endpoints.test.ts
  apps/gateway/src/auth/jwt.ts
Due: none

vitest 4 -> 5: the matched set, at 5.0.1
  apps/browser/package.json
  apps/gateway/package.json
  package-lock.json
  packages/content/package.json
  packages/core/package.json
  packages/event-sourcing/package.json
  packages/graph/package.json
  packages/http-transport/package.json
  packages/inference/package.json
  packages/jobs/package.json
  packages/make-meaning/package.json
  packages/mcp-server/package.json
  packages/observability/package.json
  packages/ontology/package.json
  packages/react-ui/package.json
  packages/sdk/package.json
  packages/vectors/package.json
Due: content, core, event-sourcing, graph, inference, jobs, make-meaning, mcp-server, ontology, react-ui, @semiont/core, @semiont/ontology, @semiont/content, @semiont/event-sourcing, @semiont/graph, @semiont/inference, @semiont/jobs, @semiont/make-meaning, @semiont/react-ui

mockFetch
  packages/http-transport/src/transport/__tests__/helpers/mock-conn.ts
Due: none

update authentication doc
  docs/system/administration/AUTHENTICATION.md
Due: none

fix Dockerfile
  apps/gateway/Dockerfile
Due: none

2026 09 20 auth again (#1419)
  apps/gateway/Dockerfile
  apps/gateway/src/__tests__/auth/auth-integration.test.ts
  apps/gateway/src/__tests__/auth/jwt.test.ts
  apps/gateway/src/__tests__/auth/mcp-auth-security.test.ts
  apps/gateway/src/__tests__/integration/api-endpoints.test.ts
  apps/gateway/src/auth/jwt.ts
  docs/system/administration/AUTHENTICATION.md
  packages/http-transport/src/transport/__tests__/helpers/mock-conn.ts
Due: none
