Repository The-AI-Alliance/semiont: changes, and which Codecov flags are due for each by the changed paths.
All: api-client, content, core, event-sourcing, graph, inference, jobs, make-meaning, mcp-server, ontology, react-ui, frontend, backend, @semiont/core, @semiont/api-client, @semiont/ontology, @semiont/content, @semiont/event-sourcing, @semiont/graph, @semiont/inference, @semiont/jobs, @semiont/make-meaning, @semiont/react-ui

codecov.yml:

# Codecov configuration for Semiont monorepo
# https://docs.codecov.io/docs/codecovyml-reference

codecov:
  # Require CI to finish before processing coverage
  require_ci_to_pass: true

  # Wait for all coverage reports before commenting
  notify:
    wait_for_ci: true

coverage:
  # Overall project coverage settings
  status:
    # Project-wide coverage status
    project:
      default:
        # Coverage can drop by 1% without failing
        threshold: 1%
        target: 70%  # Target 70% overall coverage

    # Per-PR patch coverage
    patch:
      default:
        # New code should have at least 80% coverage
        target: 80%
        threshold: 5%

  # Round coverage to 2 decimal places
  precision: 2
  round: down

  # Coverage range for color coding
  range: "50...90"

# Component-specific coverage configuration
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 1%
  individual_components:
    # Core packages with higher coverage requirements
    - component_id: core
      name: "@semiont/core"
      paths:
        - packages/core/**
    - component_id: api-client
      name: "@semiont/api-client"
      paths:
        - packages/api-client/**
    - component_id: ontology
      name: "@semiont/ontology"
      paths:
        - packages/ontology/**
    - component_id: content
      name: "@semiont/content"
      paths:
        - packages/content/**
    - component_id: event-sourcing
      name: "@semiont/event-sourcing"
      paths:
        - packages/event-sourcing/**
    - component_id: graph
      name: "@semiont/graph"
      paths:
        - packages/graph/**
    - component_id: inference
      name: "@semiont/inference"
      paths:
        - packages/inference/**
    - component_id: jobs
      name: "@semiont/jobs"
      paths:
        - packages/jobs/**
    - component_id: make-meaning
      name: "@semiont/make-meaning"
      paths:
        - packages/make-meaning/**
    - component_id: react-ui
      name: "@semiont/react-ui"
      paths:
        - packages/react-ui/**

# Ignore certain files from coverage
ignore:
  # Test files
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/*.spec.tsx"
  - "**/test/**"
  - "**/tests/**"
  - "**/__tests__/**"
  - "**/test-utils/**"

  # Build artifacts
  - "**/dist/**"
  - "**/build/**"
  - "**/coverage/**"
  - "**/.next/**"

  # Config files
  - "**/*.config.ts"
  - "**/*.config.js"
  - "**/jest.setup.ts"

  # Generated files
  - "**/generated/**"
  - "packages/api-client/src/types.ts"

  # Examples and demos
  - "**/examples/**"
  - "**/demo/**"

  # Scripts
  - "scripts/**"

# Comment configuration
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Flag configuration for different test suites
flags:
  # Individual package flags
  api-client:
    paths:
      - packages/api-client/**
    carryforward: true

  content:
    paths:
      - packages/content/**
    carryforward: true

  core:
    paths:
      - packages/core/**
    carryforward: true

  event-sourcing:
    paths:
      - packages/event-sourcing/**
    carryforward: true

  graph:
    paths:
      - packages/graph/**
    carryforward: true

  inference:
    paths:
      - packages/inference/**
    carryforward: true

  jobs:
    paths:
      - packages/jobs/**
    carryforward: true

  make-meaning:
    paths:
      - packages/make-meaning/**
    carryforward: true

  mcp-server:
    paths:
      - packages/mcp-server/**
    carryforward: true

  ontology:
    paths:
      - packages/ontology/**
    carryforward: true

  react-ui:
    paths:
      - packages/react-ui/**
    carryforward: true

  # App flags (for future use)
  frontend:
    paths:
      - apps/frontend/**
    carryforward: true

  backend:
    paths:
      - apps/backend/**
    carryforward: true

rm elkjs
  apps/backend/Dockerfile
Due: backend

updating docs for recent launcher changes
  README.md
  docs/KNOWLEDGE-BASES.md
  docs/system/LOCAL-SEMIONT.md
  docs/system/PROJECT-LAYOUT.md
  website/index.md
Due: none

updating SDK and react-ui docs for launcher -> browser discovery
  packages/react-ui/README.md
  packages/react-ui/docs/SESSION.md
  packages/sdk/README.md
  packages/sdk/docs/DEVELOPER-GUIDE.md
  packages/sdk/docs/REACTIVE-MODEL.md
  packages/sdk/docs/Usage.md
Due: react-ui, @semiont/react-ui

persist state of postgres, qdrant, neo4j -- phase 1
  apps/launcher/README.md
  apps/launcher/internal/launcher/dryrun.go
  apps/launcher/internal/launcher/executor.go
  apps/launcher/internal/launcher/flows.go
  apps/launcher/internal/launcher/rootstate.go
  apps/launcher/internal/launcher/service.go
  apps/launcher/internal/launcher/start.go
  apps/launcher/launcher_test.go
  apps/launcher/testdata/golden/start-default-boot.argv
  apps/launcher/testdata/golden/start-docker-boot.argv
  apps/launcher/testdata/golden/start-dryrun-default.txt
  apps/launcher/testdata/golden/start-dryrun-local.txt
  apps/launcher/testdata/golden/start-host-ollama-boot.argv
  apps/launcher/testdata/golden/start-local-version-boot.argv
  apps/launcher/testdata/golden/start-no-observe-boot.argv
Due: none

persist state of postgres, qdrant, neo4j -- phase 2
  apps/launcher/README.md
  apps/launcher/internal/launcher/executor.go
  apps/launcher/internal/launcher/rootstate.go
  apps/launcher/launcher_test.go
  apps/launcher/testdata/golden/start-default-boot.argv
  apps/launcher/testdata/golden/start-docker-boot.argv
  apps/launcher/testdata/golden/start-dryrun-default.txt
  apps/launcher/testdata/golden/start-dryrun-local.txt
  apps/launcher/testdata/golden/start-host-ollama-boot.argv
  apps/launcher/testdata/golden/start-local-version-boot.argv
  apps/launcher/testdata/golden/start-no-observe-boot.argv
Due: none

persist state of postgres, qdrant, neo4j -- phase 3
  apps/launcher/README.md
  apps/launcher/internal/launcher/clean.go
  apps/launcher/internal/launcher/rootstate.go
  apps/launcher/launcher_test.go
  apps/launcher/main.go
Due: none

persist state of postgres, qdrant, neo4j -- phase 4
  apps/launcher/internal/launcher/status.go
Due: none

status output
  apps/launcher/internal/launcher/status.go
Due: none

readme update; fix bug
  apps/launcher/README.md
  apps/launcher/internal/launcher/stop.go
Due: none

address copilot feedback
  apps/launcher/internal/launcher/clean.go
  apps/launcher/internal/launcher/executor.go
  apps/launcher/internal/launcher/flows.go
  apps/launcher/internal/launcher/status.go
  apps/launcher/launcher_test.go
Due: none

launcher: persist local-stack state per root (postgres/qdrant/neo4j) + semiont clean (#1067)
  apps/launcher/README.md
  apps/launcher/internal/launcher/clean.go
  apps/launcher/internal/launcher/dryrun.go
  apps/launcher/internal/launcher/executor.go
  apps/launcher/internal/launcher/flows.go
  apps/launcher/internal/launcher/rootstate.go
  apps/launcher/internal/launcher/service.go
  apps/launcher/internal/launcher/start.go
  apps/launcher/internal/launcher/status.go
  apps/launcher/internal/launcher/stop.go
  apps/launcher/launcher_test.go
  apps/launcher/main.go
  apps/launcher/testdata/golden/start-default-boot.argv
  apps/launcher/testdata/golden/start-docker-boot.argv
  apps/launcher/testdata/golden/start-dryrun-default.txt
  apps/launcher/testdata/golden/start-dryrun-local.txt
  apps/launcher/testdata/golden/start-host-ollama-boot.argv
  apps/launcher/testdata/golden/start-local-version-boot.argv
  apps/launcher/testdata/golden/start-no-observe-boot.argv
Due: none

improve error message when container system is not started
  apps/launcher/internal/fakert/main.go
  apps/launcher/internal/launcher/executor.go
  apps/launcher/launcher_test.go
Due: none

address copilot feedback
  apps/launcher/internal/fakert/main.go
  apps/launcher/internal/launcher/executor.go
  apps/launcher/launcher_test.go
Due: none

fix failing test
  apps/launcher/launcher_test.go
Due: none

improve error message when container system is not started (#1068)
  apps/launcher/internal/fakert/main.go
  apps/launcher/internal/launcher/executor.go
  apps/launcher/launcher_test.go
Due: none

bump version to 0.5.20
  apps/backend/package.json
  apps/backend/package.publish.json
  apps/cli/package.json
  apps/desktop/package.json
  apps/frontend/package.json
  apps/frontend/package.publish.json
  package-lock.json
  package.json
  packages/content/package.json
  packages/core/package.json
  packages/event-sourcing/package.json
  packages/graph/package.json
  packages/http-transport/package.json
  packages/inference/package.json
  packages/jobs/package.json
  packages/make-meaning/package.json
  packages/mcp-server/package.json
  packages/observability/package.json
  packages/ontology/package.json
  packages/react-ui/package.json
  packages/sdk/package.json
  packages/test-utils/package.json
  packages/vectors/package.json
  version.json
Due: content, core, event-sourcing, graph, inference, jobs, make-meaning, mcp-server, ontology, react-ui, frontend, backend, @semiont/core, @semiont/ontology, @semiont/content, @semiont/event-sourcing, @semiont/graph, @semiont/inference, @semiont/jobs, @semiont/make-meaning, @semiont/react-ui

group useradd with Connect section in quickstart
  README.md
  website/index.md
Due: none

streamline website
  website/index.md
Due: none

display during wait states
  apps/launcher/README.md
  apps/launcher/internal/fakert/main.go
  apps/launcher/internal/launcher/codespace.go
  apps/launcher/internal/launcher/support.go
  apps/launcher/launcher_test.go
Due: none

fix minor issues in codespace waiting
  apps/launcher/internal/launcher/codespace.go
  apps/launcher/internal/launcher/codespace_test.go
  apps/launcher/launcher_test.go
Due: none

codespace health wait now takes the forward's pulse every tick (a reaping Wait() goroutine replaces the old fire-and-forget, so a dead tunnel can't hide as a zombie) and fails in seconds
  apps/launcher/internal/fakert/main.go
  apps/launcher/internal/launcher/codespace.go
  apps/launcher/internal/launcher/support.go
  apps/launcher/launcher_test.go
Due: none

don't depend on port-cleanup timing in test
  apps/launcher/launcher_test.go
Due: none

launcher: narrate codespace waits (VM state + creation-log tail) and fail fast when the forward dies (#1070)
  apps/launcher/README.md
  apps/launcher/internal/fakert/main.go
  apps/launcher/internal/launcher/codespace.go
  apps/launcher/internal/launcher/codespace_test.go
  apps/launcher/internal/launcher/support.go
  apps/launcher/launcher_test.go
Due: none

Go SDK
  packages/sdk-go/README.md
  packages/sdk-go/client_gen.go
  packages/sdk-go/generate.go
  packages/sdk-go/go.mod
  packages/sdk-go/go.sum
Due: none

launcher login and yield commands
  apps/launcher/README.md
  apps/launcher/go.mod
  apps/launcher/go.sum
  apps/launcher/internal/fakert/main.go
  apps/launcher/internal/launcher/login.go
  apps/launcher/internal/launcher/stackselect.go
  apps/launcher/internal/launcher/tokens.go
  apps/launcher/internal/launcher/useradd.go
  apps/launcher/internal/launcher/yield.go
  apps/launcher/launcher_test.go
  apps/launcher/main.go
Due: none

go sdk drift gate
  scripts/ci/local-build.sh
Due: none

address copilot-spotted issues
  apps/launcher/internal/launcher/stackselect.go
  apps/launcher/internal/launcher/tokens.go
  apps/launcher/internal/launcher/useradd.go
  apps/launcher/internal/launcher/yield.go
  apps/launcher/launcher_test.go
Due: none

launcher: semiont login + yield --upload over a generated Go client (packages/sdk-go) (#1071)
  apps/launcher/README.md
  apps/launcher/go.mod
  apps/launcher/internal/fakert/main.go
  apps/launcher/internal/launcher/login.go
  apps/launcher/internal/launcher/stackselect.go
  apps/launcher/internal/launcher/tokens.go
  apps/launcher/internal/launcher/useradd.go
  apps/launcher/internal/launcher/yield.go
  apps/launcher/launcher_test.go
  apps/launcher/main.go
  packages/sdk-go/README.md
  packages/sdk-go/client_gen.go
  packages/sdk-go/generate.go
  packages/sdk-go/go.mod
  packages/sdk-go/go.sum
  scripts/ci/local-build.sh
Due: none

PDF detection — Phase 1: multi-rect rendering on the PDF canvas
  packages/react-ui/src/components/pdf-annotation/PdfAnnotationCanvas.tsx
  packages/react-ui/src/components/pdf-annotation/__tests__/rects-for-page.test.ts
  packages/react-ui/src/components/pdf-annotation/rects-for-page.ts
Due: react-ui, @semiont/react-ui

Potential fix for pull request finding
  packages/react-ui/src/components/pdf-annotation/PdfAnnotationCanvas.tsx
Due: react-ui, @semiont/react-ui

PDF detection — Phase 1: multi-rect rendering on the PDF canvas (#1072)
  packages/react-ui/src/components/pdf-annotation/PdfAnnotationCanvas.tsx
  packages/react-ui/src/components/pdf-annotation/__tests__/rects-for-page.test.ts
  packages/react-ui/src/components/pdf-annotation/rects-for-page.ts
Due: react-ui, @semiont/react-ui

PDF detection — Phase 2: mark for text-based PDFs
  packages/jobs/src/__tests__/build-pdf-annotation.test.ts
  packages/jobs/src/__tests__/processors.test.ts
  packages/jobs/src/__tests__/worker-process.test.ts
  packages/jobs/src/processors.ts
  packages/jobs/src/worker-process.ts
  packages/jobs/src/workers/detection/prepare-detection.ts
Due: jobs, @semiont/jobs

tests
  packages/jobs/src/__tests__/build-pdf-annotation.test.ts
  packages/jobs/src/__tests__/worker-process.test.ts
  packages/react-ui/src/components/resource/panels/AssessmentPanel.tsx
  packages/react-ui/src/components/resource/panels/CommentsPanel.tsx
  packages/react-ui/src/components/resource/panels/HighlightPanel.tsx
  packages/react-ui/src/components/resource/panels/ReferencesPanel.tsx
  tests/e2e/package-lock.json
  tests/e2e/scripts/seed.ts
  tests/e2e/specs/20-pdf-assisted-detection.spec.ts
Due: react-ui, @semiont/react-ui

address copilot feedback
  packages/jobs/src/__tests__/processors.test.ts
  packages/jobs/src/__tests__/worker-process.test.ts
  packages/jobs/src/processors.ts
Due: jobs, @semiont/jobs

optimization
  packages/content/src/__tests__/locate.test.ts
  packages/content/src/locate.ts
  packages/jobs/src/processors.ts
Due: content, jobs, @semiont/content, @semiont/jobs

PDF detection — Phases 2 & 3: AI-directed Mark on text-based PDFs via a media-type registry (#1073)
  packages/content/src/__tests__/locate.test.ts
  packages/content/src/locate.ts
  packages/jobs/src/__tests__/build-pdf-annotation.test.ts
  packages/jobs/src/__tests__/processors.test.ts
  packages/jobs/src/__tests__/worker-process.test.ts
  packages/jobs/src/processors.ts
  packages/jobs/src/worker-process.ts
  packages/jobs/src/workers/detection/prepare-detection.ts
  packages/react-ui/src/components/resource/panels/AssessmentPanel.tsx
  packages/react-ui/src/components/resource/panels/CommentsPanel.tsx
  packages/react-ui/src/components/resource/panels/HighlightPanel.tsx
  packages/react-ui/src/components/resource/panels/ReferencesPanel.tsx
  tests/e2e/package-lock.json
  tests/e2e/scripts/seed.ts
  tests/e2e/specs/20-pdf-assisted-detection.spec.ts
Due: content, jobs, react-ui, @semiont/content, @semiont/jobs, @semiont/react-ui

PDF detection — Phase 4
  packages/jobs/src/__tests__/build-pdf-annotation.test.ts
  packages/sdk/src/state/flows/__tests__/mark-state-unit.test.ts
  packages/sdk/src/state/flows/mark-state-unit.ts
Due: none

consistent handling of decline messages during mark assists
  packages/react-ui/src/components/resource/panels/ReferencesPanel.tsx
  packages/react-ui/src/components/resource/panels/TaggingPanel.tsx
  packages/react-ui/src/components/resource/panels/__tests__/ReferencesPanel.test.tsx
  packages/sdk/src/state/flows/mark-state-unit.ts
Due: react-ui, @semiont/react-ui

useOutcomeToasts
  packages/react-ui/src/components/resource/panels/ReferencesPanel.tsx
  packages/react-ui/src/components/resource/panels/TaggingPanel.tsx
  packages/react-ui/src/components/resource/panels/__tests__/ReferencesPanel.test.tsx
  packages/react-ui/src/features/resource-viewer/components/ResourceViewerPage.tsx
  packages/react-ui/src/hooks/__tests__/useOutcomeToasts.test.tsx
  packages/react-ui/src/hooks/useOutcomeToasts.ts
  packages/react-ui/src/lib/__tests__/job-outcome.test.ts
  packages/react-ui/src/lib/job-outcome.ts
  packages/sdk/src/state/flows/__tests__/mark-state-unit.test.ts
  packages/sdk/src/state/flows/mark-state-unit.ts
Due: react-ui, @semiont/react-ui
