Repository The-AI-Alliance/semiont: changes, and which Codecov flags are due for each by the changed paths.
All: api-client, content, core, event-sourcing, graph, inference, jobs, make-meaning, mcp-server, ontology, react-ui, frontend, backend, @semiont/core, @semiont/api-client, @semiont/ontology, @semiont/content, @semiont/event-sourcing, @semiont/graph, @semiont/inference, @semiont/jobs, @semiont/make-meaning, @semiont/react-ui

codecov.yml:

# Codecov configuration for Semiont monorepo
# https://docs.codecov.io/docs/codecovyml-reference

codecov:
  # Require CI to finish before processing coverage
  require_ci_to_pass: true

  # Wait for all coverage reports before commenting
  notify:
    wait_for_ci: true

coverage:
  # Overall project coverage settings
  status:
    # Project-wide coverage status
    project:
      default:
        # Coverage can drop by 1% without failing
        threshold: 1%
        target: 70%  # Target 70% overall coverage

    # Per-PR patch coverage
    patch:
      default:
        # New code should have at least 80% coverage
        target: 80%
        threshold: 5%

  # Round coverage to 2 decimal places
  precision: 2
  round: down

  # Coverage range for color coding
  range: "50...90"

# Component-specific coverage configuration
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 1%
  individual_components:
    # Core packages with higher coverage requirements
    - component_id: core
      name: "@semiont/core"
      paths:
        - packages/core/**
    - component_id: api-client
      name: "@semiont/api-client"
      paths:
        - packages/api-client/**
    - component_id: ontology
      name: "@semiont/ontology"
      paths:
        - packages/ontology/**
    - component_id: content
      name: "@semiont/content"
      paths:
        - packages/content/**
    - component_id: event-sourcing
      name: "@semiont/event-sourcing"
      paths:
        - packages/event-sourcing/**
    - component_id: graph
      name: "@semiont/graph"
      paths:
        - packages/graph/**
    - component_id: inference
      name: "@semiont/inference"
      paths:
        - packages/inference/**
    - component_id: jobs
      name: "@semiont/jobs"
      paths:
        - packages/jobs/**
    - component_id: make-meaning
      name: "@semiont/make-meaning"
      paths:
        - packages/make-meaning/**
    - component_id: react-ui
      name: "@semiont/react-ui"
      paths:
        - packages/react-ui/**

# Ignore certain files from coverage
ignore:
  # Test files
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/*.spec.tsx"
  - "**/test/**"
  - "**/tests/**"
  - "**/__tests__/**"
  - "**/test-utils/**"

  # Build artifacts
  - "**/dist/**"
  - "**/build/**"
  - "**/coverage/**"
  - "**/.next/**"

  # Config files
  - "**/*.config.ts"
  - "**/*.config.js"
  - "**/jest.setup.ts"

  # Generated files
  - "**/generated/**"
  - "packages/api-client/src/types.ts"

  # Examples and demos
  - "**/examples/**"
  - "**/demo/**"

  # Scripts
  - "scripts/**"

# Comment configuration
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Flag configuration for different test suites
flags:
  # Individual package flags
  api-client:
    paths:
      - packages/api-client/**
    carryforward: true

  content:
    paths:
      - packages/content/**
    carryforward: true

  core:
    paths:
      - packages/core/**
    carryforward: true

  event-sourcing:
    paths:
      - packages/event-sourcing/**
    carryforward: true

  graph:
    paths:
      - packages/graph/**
    carryforward: true

  inference:
    paths:
      - packages/inference/**
    carryforward: true

  jobs:
    paths:
      - packages/jobs/**
    carryforward: true

  make-meaning:
    paths:
      - packages/make-meaning/**
    carryforward: true

  mcp-server:
    paths:
      - packages/mcp-server/**
    carryforward: true

  ontology:
    paths:
      - packages/ontology/**
    carryforward: true

  react-ui:
    paths:
      - packages/react-ui/**
    carryforward: true

  # App flags (for future use)
  frontend:
    paths:
      - apps/frontend/**
    carryforward: true

  backend:
    paths:
      - apps/backend/**
    carryforward: true

fix vitest configs
  apps/backend/vitest.config.mjs
  apps/frontend/vitest.config.mjs
Due: frontend, backend

fix arrow function mock
  apps/backend/src/__tests__/db.test.ts
Due: none

update gh actions versions
  .github/workflows/accessibility-tests.yml
  .github/workflows/architecture-compliance.yml
  .github/workflows/ci.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/collect_metrics.yml
  .github/workflows/devcontainer-prebuild.yml
  .github/workflows/jekyll-gh-pages.yml
  .github/workflows/package-tests.yml
  .github/workflows/publish-backend.yml
  .github/workflows/publish-frontend.yml
  .github/workflows/publish-npm-packages.yml
  .github/workflows/security-tests.yml
Due: none

update neo4j driver
  apps/backend/package.json
  apps/cli/package.json
  package-lock.json
  packages/graph/package.json
Due: graph, backend, @semiont/graph

fix build and test
  apps/backend/vitest.integration.config.mjs
  apps/frontend/package.json
  apps/frontend/src/app/__tests__/providers.test.tsx
  apps/frontend/src/components/__tests__/CookiePreferences.test.tsx
  apps/frontend/vitest.config.mjs
  package-lock.json
Due: frontend, backend

fix failing tests
  apps/backend/vitest.integration.config.mjs
  apps/frontend/src/app/api/auth/[...nextauth]/__tests__/route.test.ts
Due: backend

react 18 → 19, react-dom 18 → 19
  apps/cli/package.json
  apps/frontend/package.json
  package-lock.json
  package.json
  packages/react-ui/package.json
  packages/react-ui/src/components/Button/Button.tsx
  packages/react-ui/src/components/annotation-popups/SharedPopupElements.tsx
  packages/react-ui/src/components/annotation/AnnotateToolbar.tsx
  packages/react-ui/src/components/modals/BindContextModal.tsx
  packages/react-ui/src/components/modals/KeyboardShortcutsHelpModal.tsx
  packages/react-ui/src/components/modals/ProposeEntitiesModal.tsx
  packages/react-ui/src/components/modals/ResourceSearchModal.tsx
  packages/react-ui/src/components/modals/SearchModal.tsx
  packages/react-ui/src/components/resource/panels/AssessmentEntry.tsx
  packages/react-ui/src/components/resource/panels/CommentEntry.tsx
  packages/react-ui/src/components/resource/panels/HighlightEntry.tsx
  packages/react-ui/src/components/resource/panels/ReferenceEntry.tsx
  packages/react-ui/src/components/resource/panels/TagEntry.tsx
  packages/react-ui/src/components/resource/panels/__tests__/AssistSection.test.tsx
  packages/react-ui/src/components/resource/panels/__tests__/HighlightPanel.annotationProgress.test.tsx
  packages/react-ui/src/components/resource/panels/__tests__/TaggingPanel.test.tsx
  packages/react-ui/src/features/admin-devops/__tests__/AdminDevOpsPage.test.tsx
  packages/react-ui/src/features/admin-exchange/__tests__/AdminExchangePage.test.tsx
  packages/react-ui/src/features/admin-security/__tests__/AdminSecurityPage.test.tsx
  packages/react-ui/src/features/moderate-entity-tags/__tests__/EntityTagsPage.test.tsx
  packages/react-ui/src/features/moderate-recent/__tests__/RecentDocumentsPage.test.tsx
  packages/react-ui/src/features/moderate-tag-schemas/__tests__/TagSchemasPage.test.tsx
  packages/react-ui/src/features/resource-compose/__tests__/ResourceComposePage.test.tsx
  packages/react-ui/src/features/resource-discovery/__tests__/ResourceDiscoveryPage.test.tsx
  packages/react-ui/src/features/resource-viewer/__tests__/ResourceMutations.test.tsx
  packages/react-ui/src/features/resource-viewer/__tests__/annotation-progress-flow.test.tsx
Due: react-ui, frontend, @semiont/react-ui

next 15 → 16; next-auth v4 → v5
  apps/frontend/next.config.mjs
  apps/frontend/package.json
  apps/frontend/src/components/__tests__/UserMenu.test.tsx
  apps/frontend/src/middleware.ts
  apps/frontend/src/types/next-auth.d.ts
  package-lock.json
  package.json
Due: frontend

tailwindcss 3 → 4
  .stylelintrc.json
  apps/frontend/package.json
  apps/frontend/postcss.config.js
  apps/frontend/src/app/error.tsx
  apps/frontend/src/app/globals.css
  apps/frontend/src/components/AuthErrorBoundary.tsx
  apps/frontend/src/components/CookieBanner.tsx
  apps/frontend/src/components/CookiePreferences.tsx
  apps/frontend/src/components/UserMenu.tsx
  apps/frontend/src/components/__tests__/UserMenu.test.tsx
  apps/frontend/src/components/modals/GenerationConfigModal.tsx
  apps/frontend/src/proxy.ts
  apps/frontend/tailwind.config.js
  apps/frontend/tsconfig.json
  package-lock.json
  packages/react-ui/package.json
  packages/react-ui/src/integrations/tailwind-plugin.js
  packages/react-ui/src/types/dnd-kit.d.ts
Due: react-ui, frontend, @semiont/react-ui

ink 4.4.1 → 6.8.0
  apps/cli/package.json
  apps/frontend/package.json
  package-lock.json
Due: frontend

remove unused dependencies from apps/*
  apps/backend/package.json
  apps/cli/package.json
  apps/frontend/package.json
  package-lock.json
Due: frontend, backend

remove unused deps
  package-lock.json
  packages/graph/package.json
  packages/mcp-server/package.json
  packages/ontology/package.json
  packages/react-ui/package.json
Due: graph, mcp-server, ontology, react-ui, @semiont/ontology, @semiont/graph, @semiont/react-ui

rm next-auth override statement
  package.json
Due: none

restore uuid dependency
  packages/event-sourcing/package.json
Due: event-sourcing, @semiont/event-sourcing

bump uuid dependency version
  packages/event-sourcing/package.json
  packages/graph/package.json
Due: event-sourcing, graph, @semiont/event-sourcing, @semiont/graph

update for uuid
  package-lock.json
Due: none

@types/uuid is needed
  package-lock.json
  packages/event-sourcing/package.json
  packages/graph/package.json
Due: event-sourcing, graph, @semiont/event-sourcing, @semiont/graph

restore gremlin
  package-lock.json
  packages/graph/package.json
Due: graph, @semiont/graph

npm ci -> npm install
  .github/workflows/architecture-compliance.yml
Due: none

changes from tailwind 4 upgrade
  apps/frontend/src/app/[locale]/page.tsx
  apps/frontend/src/app/globals.css
Due: frontend

strings for import/export (exchange) page
  apps/frontend/messages-source/ar.json
  apps/frontend/messages-source/bn.json
  apps/frontend/messages-source/cs.json
  apps/frontend/messages-source/da.json
  apps/frontend/messages-source/de.json
  apps/frontend/messages-source/el.json
  apps/frontend/messages-source/en.json
  apps/frontend/messages-source/es.json
  apps/frontend/messages-source/fa.json
  apps/frontend/messages-source/fi.json
  apps/frontend/messages-source/fr.json
  apps/frontend/messages-source/he.json
  apps/frontend/messages-source/hi.json
  apps/frontend/messages-source/id.json
  apps/frontend/messages-source/it.json
  apps/frontend/messages-source/ja.json
  apps/frontend/messages-source/ko.json
  apps/frontend/messages-source/ms.json
  apps/frontend/messages-source/nl.json
  apps/frontend/messages-source/no.json
  apps/frontend/messages-source/pl.json
  apps/frontend/messages-source/pt.json
  apps/frontend/messages-source/ro.json
  apps/frontend/messages-source/sv.json
  apps/frontend/messages-source/th.json
  apps/frontend/messages-source/tr.json
  apps/frontend/messages-source/uk.json
  apps/frontend/messages-source/vi.json
  apps/frontend/messages-source/zh.json
Due: frontend

backup format to use .semiont directory
  apps/cli/README.md
  apps/cli/src/core/commands/verify.ts
  packages/make-meaning/src/__tests__/exchange/backup-exporter.test.ts
  packages/make-meaning/src/__tests__/exchange/backup-importer.test.ts
  packages/make-meaning/src/__tests__/exchange/snapshot-exporter.test.ts
  packages/make-meaning/src/__tests__/exchange/snapshot-importer.test.ts
  packages/make-meaning/src/__tests__/exchange/tar.test.ts
  packages/make-meaning/src/exchange/backup-exporter.ts
  packages/make-meaning/src/exchange/backup-importer.ts
  packages/make-meaning/src/exchange/snapshot-exporter.ts
  packages/make-meaning/src/exchange/snapshot-importer.ts
Due: make-meaning, @semiont/make-meaning

backup/restore
  apps/backend/src/routes/exchange.ts
  apps/cli/README.md
  apps/cli/src/core/command-discovery.ts
  apps/cli/src/core/commands/backup.ts
  apps/cli/src/core/commands/export.ts
  apps/cli/src/core/commands/restore.ts
  apps/frontend/src/app/[locale]/admin/exchange/client.tsx
  packages/api-client/src/client.ts
  packages/make-meaning/src/__tests__/exchange/manifest.test.ts
  packages/make-meaning/src/__tests__/exchange/snapshot-exporter.test.ts
  packages/make-meaning/src/__tests__/exchange/snapshot-importer.test.ts
  packages/make-meaning/src/exchange/index.ts
  packages/make-meaning/src/exchange/manifest.ts
  packages/make-meaning/src/exchange/snapshot-exporter.ts
  packages/make-meaning/src/exchange/snapshot-importer.ts
  packages/react-ui/src/features/admin-exchange/__tests__/AdminExchangePage.test.tsx
  packages/react-ui/src/features/admin-exchange/__tests__/ExportCard.test.tsx
  packages/react-ui/src/features/admin-exchange/__tests__/ImportCard.test.tsx
  packages/react-ui/src/features/admin-exchange/__tests__/ImportProgress.test.tsx
  packages/react-ui/src/features/admin-exchange/components/AdminExchangePage.tsx
  packages/react-ui/src/features/admin-exchange/components/ExportCard.tsx
  packages/react-ui/src/features/admin-exchange/components/ImportProgress.tsx
  packages/react-ui/src/lib/api-hooks.ts
Due: api-client, make-meaning, react-ui, frontend, backend, @semiont/api-client, @semiont/make-meaning, @semiont/react-ui

backup/restore and export/import (jsonld)
  apps/frontend/messages-source/ar.json
  apps/frontend/messages-source/bn.json
  apps/frontend/messages-source/cs.json
  apps/frontend/messages-source/da.json
  apps/frontend/messages-source/de.json
  apps/frontend/messages-source/el.json
  apps/frontend/messages-source/en.json
  apps/frontend/messages-source/es.json
  apps/frontend/messages-source/fa.json
  apps/frontend/messages-source/fi.json
  apps/frontend/messages-source/fr.json
  apps/frontend/messages-source/he.json
  apps/frontend/messages-source/hi.json
  apps/frontend/messages-source/id.json
  apps/frontend/messages-source/it.json
  apps/frontend/messages-source/ja.json
  apps/frontend/messages-source/ko.json
  apps/frontend/messages-source/ms.json
  apps/frontend/messages-source/nl.json
  apps/frontend/messages-source/no.json
  apps/frontend/messages-source/pl.json
  apps/frontend/messages-source/pt.json
  apps/frontend/messages-source/ro.json
  apps/frontend/messages-source/sv.json
  apps/frontend/messages-source/th.json
  apps/frontend/messages-source/tr.json
  apps/frontend/messages-source/uk.json
  apps/frontend/messages-source/vi.json
  apps/frontend/messages-source/zh.json
  packages/make-meaning/src/__tests__/exchange/linked-data-exporter.test.ts
  packages/make-meaning/src/__tests__/exchange/linked-data-importer.test.ts
  packages/make-meaning/src/exchange/linked-data-exporter.ts
  packages/make-meaning/src/exchange/linked-data-importer.ts
  packages/react-ui/src/features/admin-linked-data/__tests__/AdminLinkedDataPage.test.tsx
  packages/react-ui/src/features/admin-linked-data/components/AdminLinkedDataPage.tsx
  specs/src/paths/api_admin_exchange_backup.json
  specs/src/paths/api_admin_exchange_restore.json
Due: make-meaning, react-ui, frontend, @semiont/make-meaning, @semiont/react-ui

backup/restore and export/import (jsonld)
  apps/cli/src/core/commands/export.ts
  apps/cli/src/core/commands/import.ts
  apps/frontend/src/app/[locale]/admin/linked-data/client.tsx
  apps/frontend/src/app/[locale]/admin/linked-data/page.tsx
  specs/src/openapi.json
Due: frontend

converting URIs to Ids
  apps/frontend/src/app/[locale]/know/resource/[id]/page.tsx
  apps/frontend/src/app/api/resources/[id]/route.ts
  apps/frontend/src/hooks/useCacheManager.ts
  packages/api-client/src/client.ts
  packages/react-ui/src/components/viewers/ImageViewer.tsx
  packages/react-ui/src/types/CacheManager.ts
Due: api-client, react-ui, frontend, @semiont/api-client, @semiont/react-ui

converting URIs to Ids
  packages/api-client/src/__tests__/client.test.ts
  packages/api-client/src/client.ts
  packages/api-client/src/sse/index.ts
  packages/react-ui/src/hooks/useResourceContent.ts
  packages/react-ui/src/lib/api-hooks.ts
  packages/react-ui/src/lib/query-keys.ts
Due: api-client, react-ui, @semiont/api-client, @semiont/react-ui

converting URIs to Ids
  packages/react-ui/src/hooks/useResourceContent.ts
Due: react-ui, @semiont/react-ui

converting URIs to Ids
  packages/react-ui/src/hooks/useContextGatherFlow.ts
  packages/react-ui/src/hooks/useMarkFlow.ts
  packages/react-ui/src/hooks/useResourceEvents.ts
Due: react-ui, @semiont/react-ui

converting URIs to Ids
  packages/react-ui/src/hooks/useBindFlow.ts
Due: react-ui, @semiont/react-ui

converting URIs to Ids
  apps/frontend/src/app/[locale]/know/compose/page.tsx
  packages/react-ui/src/components/image-annotation/SvgDrawingCanvas.tsx
  packages/react-ui/src/components/pdf-annotation/PdfAnnotationCanvas.tsx
  packages/react-ui/src/components/resource/AnnotateView.tsx
  packages/react-ui/src/components/resource/AnnotationHistory.tsx
  packages/react-ui/src/components/resource/BrowseView.tsx
  packages/react-ui/src/components/resource/ResourceViewer.tsx
  packages/react-ui/src/components/resource/panels/ReferenceEntry.tsx
  packages/react-ui/src/contexts/AnnotationContext.tsx
  packages/react-ui/src/contexts/ResourceAnnotationsContext.tsx
  packages/react-ui/src/features/resource-viewer/components/ResourceViewerPage.tsx
  packages/react-ui/src/hooks/useYieldFlow.ts
  packages/react-ui/src/types/AnnotationManager.ts
Due: react-ui, frontend, @semiont/react-ui

converting URIs to Ids
  packages/react-ui/src/components/pdf-annotation/__tests__/PdfAnnotationCanvas.test.tsx
  packages/react-ui/src/components/resource/__tests__/AnnotationHistory.test.tsx
  packages/react-ui/src/components/resource/__tests__/BrowseView.test.tsx
  packages/react-ui/src/components/viewers/__tests__/ImageViewer.test.tsx
  packages/react-ui/src/contexts/__tests__/AnnotationContext.test.tsx
  packages/react-ui/src/contexts/__tests__/CacheContext.test.tsx
  packages/react-ui/src/features/resource-viewer/__tests__/AnnotationCreationPending.test.tsx
  packages/react-ui/src/features/resource-viewer/__tests__/AnnotationDeletionIntegration.test.tsx
  packages/react-ui/src/features/resource-viewer/__tests__/AnnotationProgressDismissal.test.tsx
  packages/react-ui/src/features/resource-viewer/__tests__/BindFlowIntegration.test.tsx
  packages/react-ui/src/features/resource-viewer/__tests__/DetectionFlowIntegration.test.tsx
  packages/react-ui/src/features/resource-viewer/__tests__/ResourceMutations.test.tsx
  packages/react-ui/src/features/resource-viewer/__tests__/ToastNotifications.test.tsx
  packages/react-ui/src/features/resource-viewer/__tests__/YieldFlowIntegration.test.tsx
  packages/react-ui/src/hooks/__tests__/useBindFlow.test.tsx
  packages/react-ui/src/hooks/__tests__/useContextGatherFlow.test.tsx
  packages/react-ui/src/hooks/__tests__/useMarkFlow.test.tsx
  packages/react-ui/src/hooks/__tests__/useResourceEvents.test.tsx
  packages/react-ui/src/lib/__tests__/api-hooks-auth.test.tsx
  packages/react-ui/src/lib/__tests__/query-keys.test.ts
Due: none

converting URIs to Ids
  packages/mcp-server/src/handlers.ts
  packages/react-ui/src/components/resource/__tests__/AnnotationHistory.test.tsx
  packages/react-ui/src/components/resource/__tests__/HistoryEvent.test.tsx
  packages/react-ui/src/components/resource/__tests__/ResourceViewer.mode-switch.test.tsx
  packages/react-ui/src/components/resource/panels/ReferenceEntry.tsx
  packages/react-ui/src/components/resource/panels/__tests__/ReferenceEntry.test.tsx
  packages/react-ui/src/components/resource/panels/__tests__/StatisticsPanel.test.tsx
  packages/react-ui/src/features/resource-compose/__tests__/ResourceComposePage.test.tsx
  packages/react-ui/src/features/resource-discovery/__tests__/ResourceCard.test.tsx
  packages/react-ui/src/features/resource-discovery/__tests__/ResourceDiscoveryPage.test.tsx
  packages/react-ui/src/features/resource-viewer/__tests__/AnnotationDeletionIntegration.test.tsx
  packages/react-ui/src/features/resource-viewer/__tests__/BindFlowIntegration.test.tsx
  packages/react-ui/src/features/resource-viewer/__tests__/DetectionFlowBug.test.tsx
  packages/react-ui/src/features/resource-viewer/__tests__/ResourceMutations.test.tsx
  packages/react-ui/src/features/resource-viewer/__tests__/ResourceViewerPage.test.tsx
Due: mcp-server, react-ui, @semiont/react-ui

converting URIs to Ids
  packages/react-ui/src/features/resource-viewer/__tests__/YieldFlowIntegration.test.tsx
  packages/react-ui/src/lib/__tests__/api-hooks-auth.test.tsx
Due: none

converting URIs to Ids
  packages/react-ui/src/lib/__tests__/api-hooks-auth.test.tsx
Due: none

converting URIs to Ids
  packages/api-client/src/utils/resources.ts
  packages/react-ui/src/components/pdf-annotation/__tests__/PdfAnnotationCanvas.test.tsx
  packages/react-ui/src/components/resource/panels/ReferencesPanel.tsx
Due: api-client, react-ui, @semiont/api-client, @semiont/react-ui

update docs for identifiers instead of uris
  apps/backend/docs/ARCHITECTURE.md
  apps/backend/docs/EVENT-BRIDGING.md
  apps/backend/docs/REAL-TIME.md
  apps/backend/docs/TESTING.md
  apps/frontend/docs/API-INTEGRATION.md
  apps/frontend/docs/ARCHITECTURE.md
  apps/frontend/docs/RESOURCE-PROXY.md
  docs/flows/BECKON.md
  docs/flows/BIND.md
  docs/flows/GATHER.md
  docs/flows/MARK.md
  docs/flows/YIELD.md
  packages/api-client/docs/API-Reference.md
  packages/api-client/docs/LOGGING.md
  packages/api-client/docs/Usage.md
  packages/event-sourcing/docs/Configuration.md
  packages/event-sourcing/docs/EventBus.md
  packages/event-sourcing/docs/Views.md
  packages/graph/docs/GraphInterface.md
  packages/make-meaning/docs/SCRIPTING.md
  packages/make-meaning/docs/architecture.md
  packages/make-meaning/docs/examples.md
  packages/react-ui/docs/ANNOTATION-CLICK.md
  packages/react-ui/docs/ANNOTATIONS.md
  packages/react-ui/docs/API-INTEGRATION.md
  packages/react-ui/docs/ARCHITECTURE.md
  packages/react-ui/docs/CACHING.md
  packages/react-ui/docs/COMPONENTS.md
  packages/react-ui/docs/EVENTS.md
  packages/react-ui/docs/PROVIDERS.md
  packages/react-ui/docs/SERVICE-HOOK-COMPONENT.md
Due: api-client, event-sourcing, graph, make-meaning, react-ui, frontend, backend, @semiont/api-client, @semiont/event-sourcing, @semiont/graph, @semiont/make-meaning, @semiont/react-ui

converting URIs to Ids
  packages/make-meaning/src/__tests__/exchange/linked-data-exporter.test.ts
  packages/make-meaning/src/__tests__/exchange/linked-data-importer.test.ts
  packages/make-meaning/src/exchange/linked-data-exporter.ts
  packages/make-meaning/src/exchange/linked-data-importer.ts
  packages/make-meaning/src/exchange/manifest.ts
Due: make-meaning, @semiont/make-meaning
