Repository The-AI-Alliance/semiont: changes, and which Codecov flags are due for each by the changed paths.
All: api-client, content, core, event-sourcing, graph, inference, jobs, make-meaning, mcp-server, ontology, react-ui, frontend, backend, @semiont/core, @semiont/api-client, @semiont/ontology, @semiont/content, @semiont/event-sourcing, @semiont/graph, @semiont/inference, @semiont/jobs, @semiont/make-meaning, @semiont/react-ui

codecov.yml:

# Codecov configuration for Semiont monorepo
# https://docs.codecov.io/docs/codecovyml-reference

codecov:
  # Require CI to finish before processing coverage
  require_ci_to_pass: true

  # Wait for all coverage reports before commenting
  notify:
    wait_for_ci: true

coverage:
  # Overall project coverage settings
  status:
    # Project-wide coverage status
    project:
      default:
        # Coverage can drop by 1% without failing
        threshold: 1%
        target: 70%  # Target 70% overall coverage

    # Per-PR patch coverage
    patch:
      default:
        # New code should have at least 80% coverage
        target: 80%
        threshold: 5%

  # Round coverage to 2 decimal places
  precision: 2
  round: down

  # Coverage range for color coding
  range: "50...90"

# Component-specific coverage configuration
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 1%
  individual_components:
    # Core packages with higher coverage requirements
    - component_id: core
      name: "@semiont/core"
      paths:
        - packages/core/**
    - component_id: api-client
      name: "@semiont/api-client"
      paths:
        - packages/api-client/**
    - component_id: ontology
      name: "@semiont/ontology"
      paths:
        - packages/ontology/**
    - component_id: content
      name: "@semiont/content"
      paths:
        - packages/content/**
    - component_id: event-sourcing
      name: "@semiont/event-sourcing"
      paths:
        - packages/event-sourcing/**
    - component_id: graph
      name: "@semiont/graph"
      paths:
        - packages/graph/**
    - component_id: inference
      name: "@semiont/inference"
      paths:
        - packages/inference/**
    - component_id: jobs
      name: "@semiont/jobs"
      paths:
        - packages/jobs/**
    - component_id: make-meaning
      name: "@semiont/make-meaning"
      paths:
        - packages/make-meaning/**
    - component_id: react-ui
      name: "@semiont/react-ui"
      paths:
        - packages/react-ui/**

# Ignore certain files from coverage
ignore:
  # Test files
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/*.spec.tsx"
  - "**/test/**"
  - "**/tests/**"
  - "**/__tests__/**"
  - "**/test-utils/**"

  # Build artifacts
  - "**/dist/**"
  - "**/build/**"
  - "**/coverage/**"
  - "**/.next/**"

  # Config files
  - "**/*.config.ts"
  - "**/*.config.js"
  - "**/jest.setup.ts"

  # Generated files
  - "**/generated/**"
  - "packages/api-client/src/types.ts"

  # Examples and demos
  - "**/examples/**"
  - "**/demo/**"

  # Scripts
  - "scripts/**"

# Comment configuration
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Flag configuration for different test suites
flags:
  # Individual package flags
  api-client:
    paths:
      - packages/api-client/**
    carryforward: true

  content:
    paths:
      - packages/content/**
    carryforward: true

  core:
    paths:
      - packages/core/**
    carryforward: true

  event-sourcing:
    paths:
      - packages/event-sourcing/**
    carryforward: true

  graph:
    paths:
      - packages/graph/**
    carryforward: true

  inference:
    paths:
      - packages/inference/**
    carryforward: true

  jobs:
    paths:
      - packages/jobs/**
    carryforward: true

  make-meaning:
    paths:
      - packages/make-meaning/**
    carryforward: true

  mcp-server:
    paths:
      - packages/mcp-server/**
    carryforward: true

  ontology:
    paths:
      - packages/ontology/**
    carryforward: true

  react-ui:
    paths:
      - packages/react-ui/**
    carryforward: true

  # App flags (for future use)
  frontend:
    paths:
      - apps/frontend/**
    carryforward: true

  backend:
    paths:
      - apps/backend/**
    carryforward: true

share single eventBus with subsystems
  apps/backend/src/cli/rebuild-graph.ts
  apps/backend/src/cli/rebuild-projections.ts
  packages/make-meaning/src/__tests__/service.test.ts
  packages/make-meaning/src/service.ts
Due: make-meaning, backend, @semiont/make-meaning

document event bridging by backend
  apps/backend/docs/EVENT-BRIDGING.md
Due: backend

batch detection test in make-meaning
  packages/make-meaning/docs/SCRIPTING.md
  packages/make-meaning/src/__tests__/scripting-examples/batch-detect-entities.test.ts
Due: make-meaning, @semiont/make-meaning

fix typecheck
  apps/cli/src/core/config-loader.ts
Due: none

fix tests
  packages/make-meaning/src/__tests__/scripting-examples/create-resource.test.ts
  packages/make-meaning/src/__tests__/scripting-examples/detect-entities.test.ts
  packages/make-meaning/src/__tests__/scripting-examples/query-graph.test.ts
Due: none

fix graph consumer synchronization
  packages/event-sourcing/src/__tests__/event-bus.test.ts
  packages/event-sourcing/src/event-bus.ts
  packages/make-meaning/src/__tests__/scripting-examples/query-graph.test.ts
  packages/make-meaning/src/graph/consumer.ts
  packages/make-meaning/src/service.ts
Due: event-sourcing, make-meaning, @semiont/event-sourcing, @semiont/make-meaning

cruft removal
  packages/make-meaning/src/__tests__/graph/consumer.test.ts
  packages/make-meaning/src/graph/consumer.ts
Due: make-meaning, @semiont/make-meaning

set SEMIONT_* for tests
  .github/workflows/ci.yml
Due: none

provide in-memory config
  .github/workflows/ci.yml
  apps/backend/src/__tests__/setup.ts
Due: none

fix cache invalidation
  packages/react-ui/src/hooks/useGenerationFlow.ts
Due: react-ui, @semiont/react-ui

rm unnecessary cache invalidation
  apps/frontend/src/app/[locale]/know/resource/[id]/page.tsx
  packages/react-ui/src/features/resource-viewer/__tests__/GenerationFlowIntegration.test.tsx
  packages/react-ui/src/features/resource-viewer/components/ResourceViewerPage.tsx
  packages/react-ui/src/hooks/__tests__/useGenerationFlow.test.ts
  packages/react-ui/src/hooks/useGenerationFlow.ts
Due: react-ui, frontend, @semiont/react-ui

replace separate SSE Events with event map in @semiont/core
  apps/backend/src/routes/resources/routes/detect-annotations-stream.ts
  apps/backend/src/routes/resources/routes/detect-assessments-stream.ts
  apps/backend/src/routes/resources/routes/detect-comments-stream.ts
  apps/backend/src/routes/resources/routes/detect-highlights-stream.ts
  apps/backend/src/routes/resources/routes/detect-tags-stream.ts
  apps/backend/src/routes/resources/routes/generate-resource-stream.ts
  packages/api-client/src/sse/index.ts
Due: api-client, backend, @semiont/api-client

clean up sse error events
  apps/backend/src/routes/resources/routes/detect-annotations-stream.ts
  apps/backend/src/routes/resources/routes/detect-assessments-stream.ts
  apps/backend/src/routes/resources/routes/detect-comments-stream.ts
  apps/backend/src/routes/resources/routes/detect-highlights-stream.ts
  apps/backend/src/routes/resources/routes/detect-tags-stream.ts
Due: backend

enable typecheck to detect malformed event protocol usage
  apps/backend/src/lib/sse-helpers.ts
  apps/backend/src/routes/resources/routes/detect-annotations-stream.ts
  apps/backend/src/routes/resources/routes/detect-assessments-stream.ts
  apps/backend/src/routes/resources/routes/detect-comments-stream.ts
  apps/backend/src/routes/resources/routes/detect-highlights-stream.ts
  apps/backend/src/routes/resources/routes/detect-tags-stream.ts
  apps/backend/src/routes/resources/routes/generate-resource-stream.ts
  packages/api-client/src/sse/stream.ts
  packages/core/src/event-map.ts
  packages/core/src/index.ts
Due: api-client, core, backend, @semiont/core, @semiont/api-client

simplify by removing stream.on method
  packages/api-client/src/sse/index.ts
  packages/api-client/src/sse/stream.ts
  packages/core/src/event-map.ts
Due: api-client, core, @semiont/core, @semiont/api-client

clean up frontend logging
  packages/api-client/src/utils/text-context.ts
  packages/react-ui/src/components/resource/panels/UnifiedAnnotationsPanel.tsx
  packages/react-ui/src/hooks/useDetectionFlow.ts
  packages/react-ui/src/hooks/useGenerationFlow.ts
Due: api-client, react-ui, @semiont/api-client, @semiont/react-ui

fix type mismatch
  packages/core/src/event-map.ts
  packages/react-ui/src/hooks/useGenerationFlow.ts
Due: core, react-ui, @semiont/core, @semiont/react-ui

clean up logging
  apps/frontend/scripts/copy-favicons.js
  apps/frontend/scripts/copy-pdfjs.js
  apps/frontend/scripts/merge-translations.js
  apps/frontend/src/lib/auth/config.ts
  apps/frontend/src/lib/auth/providers.ts
Due: frontend

clean up backend startup output
  apps/backend/src/index.ts
  packages/make-meaning/src/service.ts
Due: make-meaning, backend, @semiont/make-meaning

reorganize event map
  packages/core/src/event-map.ts
Due: core, @semiont/core

fix test failures relating to GenerationProgress
  packages/react-ui/src/features/resource-viewer/__tests__/GenerationFlowIntegration.test.tsx
  packages/react-ui/src/hooks/__tests__/useGenerationFlow.test.ts
Due: none

fix build
  packages/mcp-server/src/handlers.ts
Due: mcp-server

fix frontend test failures
  apps/frontend/src/lib/__tests__/auth.test.ts
Due: none

simplify and fix events and their handling (#446)
  apps/backend/src/index.ts
  apps/backend/src/lib/sse-helpers.ts
  apps/backend/src/routes/resources/routes/detect-annotations-stream.ts
  apps/backend/src/routes/resources/routes/detect-assessments-stream.ts
  apps/backend/src/routes/resources/routes/detect-comments-stream.ts
  apps/backend/src/routes/resources/routes/detect-highlights-stream.ts
  apps/backend/src/routes/resources/routes/detect-tags-stream.ts
  apps/backend/src/routes/resources/routes/generate-resource-stream.ts
  apps/frontend/scripts/copy-favicons.js
  apps/frontend/scripts/copy-pdfjs.js
  apps/frontend/scripts/merge-translations.js
  apps/frontend/src/app/[locale]/know/resource/[id]/page.tsx
  apps/frontend/src/lib/__tests__/auth.test.ts
  apps/frontend/src/lib/auth/config.ts
  apps/frontend/src/lib/auth/providers.ts
  packages/api-client/src/sse/index.ts
  packages/api-client/src/sse/stream.ts
  packages/api-client/src/utils/text-context.ts
  packages/core/src/event-map.ts
  packages/core/src/index.ts
  packages/make-meaning/src/service.ts
  packages/mcp-server/src/handlers.ts
  packages/react-ui/src/components/resource/panels/UnifiedAnnotationsPanel.tsx
  packages/react-ui/src/features/resource-viewer/__tests__/GenerationFlowIntegration.test.tsx
  packages/react-ui/src/features/resource-viewer/components/ResourceViewerPage.tsx
  packages/react-ui/src/hooks/__tests__/useGenerationFlow.test.ts
  packages/react-ui/src/hooks/useDetectionFlow.ts
  packages/react-ui/src/hooks/useGenerationFlow.ts
Due: api-client, core, make-meaning, mcp-server, react-ui, frontend, backend, @semiont/core, @semiont/api-client, @semiont/make-meaning, @semiont/react-ui

rm duplicate toast handlers
  packages/api-client/src/sse/stream.ts
  packages/react-ui/src/features/resource-viewer/components/ResourceViewerPage.tsx
Due: api-client, react-ui, @semiont/api-client, @semiont/react-ui

simplify event map and make it more consistent
  apps/backend/src/routes/resources/routes/detect-annotations-stream.ts
  apps/backend/src/routes/resources/routes/detect-assessments-stream.ts
  apps/backend/src/routes/resources/routes/detect-comments-stream.ts
  apps/backend/src/routes/resources/routes/detect-highlights-stream.ts
  apps/backend/src/routes/resources/routes/detect-tags-stream.ts
  apps/backend/src/routes/resources/routes/generate-resource-stream.ts
  packages/api-client/src/sse/index.ts
  packages/core/src/__tests__/event-bus-scoping.test.ts
  packages/core/src/event-map.ts
  packages/make-meaning/src/__tests__/scripting-examples/batch-detect-entities.test.ts
  packages/make-meaning/src/__tests__/scripting-examples/detect-entities.test.ts
  packages/make-meaning/src/jobs/assessment-detection-worker.ts
  packages/make-meaning/src/jobs/comment-detection-worker.ts
  packages/make-meaning/src/jobs/generation-worker.ts
  packages/make-meaning/src/jobs/highlight-detection-worker.ts
  packages/make-meaning/src/jobs/reference-detection-worker.ts
  packages/make-meaning/src/jobs/tag-detection-worker.ts
  packages/mcp-server/src/handlers.ts
  packages/react-ui/src/components/resource/panels/DetectSection.tsx
  packages/react-ui/src/components/resource/panels/ReferencesPanel.tsx
  packages/react-ui/src/components/resource/panels/TaggingPanel.tsx
  packages/react-ui/src/components/resource/panels/__tests__/DetectSection.test.tsx
  packages/react-ui/src/components/resource/panels/__tests__/ReferencesPanel.test.tsx
  packages/react-ui/src/components/resource/panels/__tests__/TaggingPanel.test.tsx
  packages/react-ui/src/contexts/__tests__/EventBusContext.test.tsx
  packages/react-ui/src/features/resource-viewer/__tests__/AnnotationDeletionIntegration.test.tsx
  packages/react-ui/src/features/resource-viewer/__tests__/DetectionFlowBug.test.tsx
  packages/react-ui/src/features/resource-viewer/__tests__/DetectionFlowIntegration.test.tsx
  packages/react-ui/src/features/resource-viewer/__tests__/DetectionProgressDismissal.test.tsx
  packages/react-ui/src/features/resource-viewer/__tests__/GenerationFlowIntegration.test.tsx
  packages/react-ui/src/features/resource-viewer/__tests__/detection-progress-flow.test.tsx
  packages/react-ui/src/features/resource-viewer/components/ResourceViewerPage.tsx
  packages/react-ui/src/hooks/__tests__/useGenerationFlow.test.ts
  packages/react-ui/src/hooks/useDetectionFlow.ts
  packages/react-ui/src/hooks/useGenerationFlow.ts
Due: api-client, core, make-meaning, mcp-server, react-ui, backend, @semiont/core, @semiont/api-client, @semiont/make-meaning, @semiont/react-ui

update comments; reorder flows
  packages/core/src/event-map.ts
Due: core, @semiont/core

update comment
  packages/core/src/event-map.ts
Due: core, @semiont/core

move SSE_STREAM_CONNECTED out of core event map
  apps/backend/src/routes/resources/routes/events-stream.ts
  packages/api-client/src/index.ts
  packages/api-client/src/sse/index.ts
  packages/core/src/event-map.ts
Due: api-client, core, backend, @semiont/core, @semiont/api-client

rename Attention Flow events to 'attend:*'
  packages/core/src/event-bus.ts
  packages/core/src/event-map.ts
  packages/react-ui/src/components/CodeMirrorRenderer.tsx
  packages/react-ui/src/components/image-annotation/AnnotationOverlay.tsx
  packages/react-ui/src/components/image-annotation/SvgDrawingCanvas.tsx
  packages/react-ui/src/components/pdf-annotation/PdfAnnotationCanvas.tsx
  packages/react-ui/src/components/resource/AnnotateView.tsx
  packages/react-ui/src/components/resource/BrowseView.tsx
  packages/react-ui/src/components/resource/ResourceViewer.tsx
  packages/react-ui/src/components/resource/__tests__/BrowseView.test.tsx
  packages/react-ui/src/components/resource/panels/AssessmentEntry.tsx
  packages/react-ui/src/components/resource/panels/AssessmentPanel.tsx
  packages/react-ui/src/components/resource/panels/CommentEntry.tsx
  packages/react-ui/src/components/resource/panels/CommentsPanel.tsx
  packages/react-ui/src/components/resource/panels/HighlightEntry.tsx
  packages/react-ui/src/components/resource/panels/HighlightPanel.tsx
  packages/react-ui/src/components/resource/panels/ReferenceEntry.tsx
  packages/react-ui/src/components/resource/panels/ReferencesPanel.tsx
  packages/react-ui/src/components/resource/panels/TagEntry.tsx
  packages/react-ui/src/components/resource/panels/TaggingPanel.tsx
  packages/react-ui/src/components/resource/panels/__tests__/CommentEntry.test.tsx
  packages/react-ui/src/components/resource/panels/__tests__/HighlightPanel.detectionProgress.test.tsx
  packages/react-ui/src/contexts/EventBusContext.tsx
  packages/react-ui/src/contexts/__tests__/EventBusContext.test.tsx
  packages/react-ui/src/contexts/__tests__/useEventSubscription.test.tsx
  packages/react-ui/src/features/resource-viewer/components/ResourceViewerPage.tsx
  packages/react-ui/src/hooks/__tests__/useAttentionFlow.test.tsx
  packages/react-ui/src/hooks/useAttentionFlow.ts
  packages/react-ui/src/lib/codemirror-widgets.ts
Due: core, react-ui, @semiont/core, @semiont/react-ui

use generate: prefix
  packages/core/src/event-map.ts
  packages/react-ui/docs/ANNOTATION-CLICK.md
  packages/react-ui/docs/EVENTS.md
  packages/react-ui/src/components/resource/panels/ReferenceEntry.tsx
  packages/react-ui/src/features/resource-viewer/__tests__/GenerationFlowIntegration.test.tsx
  packages/react-ui/src/hooks/useGenerationFlow.ts
Due: core, react-ui, @semiont/core, @semiont/react-ui

context retrieval -> correlate
  packages/core/src/event-map.ts
  packages/react-ui/src/hooks/useContextRetrievalFlow.ts
  packages/react-ui/src/hooks/useGenerationFlow.ts
Due: core, react-ui, @semiont/core, @semiont/react-ui

reorder events in event map
  packages/core/src/event-map.ts
Due: core, @semiont/core

use 'resolve' prefix for Resolution event flow
  packages/core/src/event-map.ts
  packages/react-ui/docs/ANNOTATION-CLICK.md
  packages/react-ui/docs/EVENTS.md
  packages/react-ui/src/components/resource/panels/ReferenceEntry.tsx
  packages/react-ui/src/features/resource-viewer/__tests__/GenerationFlowIntegration.test.tsx
  packages/react-ui/src/features/resource-viewer/__tests__/ResolutionFlowIntegration.test.tsx
  packages/react-ui/src/features/resource-viewer/components/ResourceViewerPage.tsx
  packages/react-ui/src/hooks/useGenerationFlow.ts
  packages/react-ui/src/hooks/useResolutionFlow.ts
Due: core, react-ui, @semiont/core, @semiont/react-ui

organize events
  apps/backend/src/routes/resources/routes/detect-annotations-stream.ts
  apps/backend/src/routes/resources/routes/detect-assessments-stream.ts
  apps/backend/src/routes/resources/routes/detect-comments-stream.ts
  apps/backend/src/routes/resources/routes/detect-highlights-stream.ts
  apps/backend/src/routes/resources/routes/detect-tags-stream.ts
  apps/backend/src/routes/resources/routes/generate-resource-stream.ts
  packages/core/src/event-map.ts
  packages/react-ui/docs/ANNOTATIONS.md
  packages/react-ui/docs/API-INTEGRATION.md
  packages/react-ui/docs/PROVIDERS.md
  packages/react-ui/src/components/resource/ResourceViewer.tsx
  packages/react-ui/src/features/resource-viewer/components/ResourceViewerPage.tsx
Due: core, react-ui, backend, @semiont/core, @semiont/react-ui

resource:clone -> generate:clone
  packages/core/src/event-map.ts
  packages/react-ui/src/components/resource/panels/ResourceInfoPanel.tsx
  packages/react-ui/src/components/resource/panels/__tests__/AssessmentPanel.test.tsx
  packages/react-ui/src/components/resource/panels/__tests__/CommentsPanel.test.tsx
  packages/react-ui/src/components/resource/panels/__tests__/ResourceInfoPanel.test.tsx
  packages/react-ui/src/components/resource/panels/__tests__/TaggingPanel.test.tsx
  packages/react-ui/src/features/resource-viewer/__tests__/AnnotationCreationPending.test.tsx
  packages/react-ui/src/features/resource-viewer/__tests__/AnnotationDeletionIntegration.test.tsx
  packages/react-ui/src/features/resource-viewer/__tests__/ResourceMutations.test.tsx
  packages/react-ui/src/features/resource-viewer/components/ResourceViewerPage.tsx
Due: core, react-ui, @semiont/core, @semiont/react-ui

panel events are attention events
  packages/react-ui/src/components/Toolbar.tsx
  packages/react-ui/src/components/resource/ResourceViewer.tsx
  packages/react-ui/src/contexts/__tests__/EventBusContext.test.tsx
  packages/react-ui/src/hooks/useDetectionFlow.ts
  packages/react-ui/src/hooks/usePanelNavigation.ts
Due: react-ui, @semiont/react-ui

move annotation UI state (mode, selection motivation, click action, shape) events into annotation flow
  packages/core/src/event-map.ts
  packages/react-ui/docs/EVENTS.md
  packages/react-ui/src/components/annotation/AnnotateToolbar.tsx
  packages/react-ui/src/components/annotation/__tests__/AnnotateToolbar.test.tsx
  packages/react-ui/src/components/resource/AnnotateView.tsx
  packages/react-ui/src/components/resource/ResourceViewer.tsx
  packages/react-ui/src/contexts/__tests__/EventBusContext.test.tsx
Due: core, react-ui, @semiont/core, @semiont/react-ui
