Repository The-AI-Alliance/semiont: changes, and which Codecov flags are due for each by the changed paths.
All: api-client, content, core, event-sourcing, graph, inference, jobs, make-meaning, mcp-server, ontology, react-ui, frontend, backend, @semiont/core, @semiont/api-client, @semiont/ontology, @semiont/content, @semiont/event-sourcing, @semiont/graph, @semiont/inference, @semiont/jobs, @semiont/make-meaning, @semiont/react-ui

codecov.yml:

# Codecov configuration for Semiont monorepo
# https://docs.codecov.io/docs/codecovyml-reference

codecov:
  # Require CI to finish before processing coverage
  require_ci_to_pass: true

  # Wait for all coverage reports before commenting
  notify:
    wait_for_ci: true

coverage:
  # Overall project coverage settings
  status:
    # Project-wide coverage status
    project:
      default:
        # Coverage can drop by 1% without failing
        threshold: 1%
        target: 70%  # Target 70% overall coverage

    # Per-PR patch coverage
    patch:
      default:
        # New code should have at least 80% coverage
        target: 80%
        threshold: 5%

  # Round coverage to 2 decimal places
  precision: 2
  round: down

  # Coverage range for color coding
  range: "50...90"

# Component-specific coverage configuration
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 1%
  individual_components:
    # Core packages with higher coverage requirements
    - component_id: core
      name: "@semiont/core"
      paths:
        - packages/core/**
    - component_id: api-client
      name: "@semiont/api-client"
      paths:
        - packages/api-client/**
    - component_id: ontology
      name: "@semiont/ontology"
      paths:
        - packages/ontology/**
    - component_id: content
      name: "@semiont/content"
      paths:
        - packages/content/**
    - component_id: event-sourcing
      name: "@semiont/event-sourcing"
      paths:
        - packages/event-sourcing/**
    - component_id: graph
      name: "@semiont/graph"
      paths:
        - packages/graph/**
    - component_id: inference
      name: "@semiont/inference"
      paths:
        - packages/inference/**
    - component_id: jobs
      name: "@semiont/jobs"
      paths:
        - packages/jobs/**
    - component_id: make-meaning
      name: "@semiont/make-meaning"
      paths:
        - packages/make-meaning/**
    - component_id: react-ui
      name: "@semiont/react-ui"
      paths:
        - packages/react-ui/**

# Ignore certain files from coverage
ignore:
  # Test files
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/*.spec.tsx"
  - "**/test/**"
  - "**/tests/**"
  - "**/__tests__/**"
  - "**/test-utils/**"

  # Build artifacts
  - "**/dist/**"
  - "**/build/**"
  - "**/coverage/**"
  - "**/.next/**"

  # Config files
  - "**/*.config.ts"
  - "**/*.config.js"
  - "**/jest.setup.ts"

  # Generated files
  - "**/generated/**"
  - "packages/api-client/src/types.ts"

  # Examples and demos
  - "**/examples/**"
  - "**/demo/**"

  # Scripts
  - "scripts/**"

# Comment configuration
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Flag configuration for different test suites
flags:
  # Individual package flags
  api-client:
    paths:
      - packages/api-client/**
    carryforward: true

  content:
    paths:
      - packages/content/**
    carryforward: true

  core:
    paths:
      - packages/core/**
    carryforward: true

  event-sourcing:
    paths:
      - packages/event-sourcing/**
    carryforward: true

  graph:
    paths:
      - packages/graph/**
    carryforward: true

  inference:
    paths:
      - packages/inference/**
    carryforward: true

  jobs:
    paths:
      - packages/jobs/**
    carryforward: true

  make-meaning:
    paths:
      - packages/make-meaning/**
    carryforward: true

  mcp-server:
    paths:
      - packages/mcp-server/**
    carryforward: true

  ontology:
    paths:
      - packages/ontology/**
    carryforward: true

  react-ui:
    paths:
      - packages/react-ui/**
    carryforward: true

  # App flags (for future use)
  frontend:
    paths:
      - apps/frontend/**
    carryforward: true

  backend:
    paths:
      - apps/backend/**
    carryforward: true

file upload bug; xhr
  packages/api-client/src/transport/__tests__/http-content-transport.xhr.test.ts
  packages/api-client/src/transport/http-content-transport.ts
Due: api-client, @semiont/api-client

e2e debugging documentation
  tests/e2e/README.md
  tests/e2e/docs/live-monitoring.md
  tests/e2e/docs/page-errors.md
Due: none

tests for UploadProgressBar
  packages/react-ui/src/features/resource-compose/__tests__/UploadProgressBar.test.tsx
Due: none

every entry point — React UI, CLI, MCP — now plumbs both locale fields end-to-end. The job dispatcher receives them; the worker prompts use them; the annotation bodies stamp them
  apps/cli/src/core/commands/mark.ts
  apps/cli/src/core/commands/yield.ts
  packages/jobs/src/__tests__/processors.test.ts
  packages/jobs/src/__tests__/workers/detection/entity-extractor.test.ts
  packages/jobs/src/__tests__/workers/detection/motivation-prompts.test.ts
  packages/jobs/src/processors.ts
  packages/jobs/src/types.ts
  packages/jobs/src/workers/annotation-detection.ts
  packages/jobs/src/workers/detection/entity-extractor.ts
  packages/jobs/src/workers/detection/motivation-prompts.ts
  packages/jobs/src/workers/generation/resource-generation.ts
  packages/make-meaning/src/__tests__/generation/resource-generation.test.ts
  packages/mcp-server/src/handlers.ts
  packages/mcp-server/src/index.ts
  packages/react-ui/src/components/resource/panels/AssessmentPanel.tsx
  packages/react-ui/src/components/resource/panels/AssistSection.tsx
  packages/react-ui/src/components/resource/panels/CommentsPanel.tsx
  packages/react-ui/src/components/resource/panels/HighlightPanel.tsx
  packages/react-ui/src/components/resource/panels/ReferencesPanel.tsx
  packages/react-ui/src/components/resource/panels/TaggingPanel.tsx
  packages/react-ui/src/components/resource/panels/UnifiedAnnotationsPanel.tsx
  packages/react-ui/src/features/resource-viewer/components/ResourceViewerPage.tsx
  packages/sdk/src/namespaces/mark.ts
  packages/sdk/src/namespaces/types.ts
  packages/sdk/src/namespaces/yield.ts
  packages/sdk/src/state/flows/yield-vm.ts
Due: jobs, mcp-server, react-ui, @semiont/jobs, @semiont/react-ui

consistent use of State Unit (over View Model) 2
  docs/development/TESTING.md
  docs/protocol/EVENT-BUS.md
  docs/protocol/TRANSPORT-HTTP.md
  docs/protocol/flows/BECKON.md
  docs/protocol/flows/BIND.md
  docs/protocol/flows/BROWSE.md
  docs/protocol/flows/GATHER.md
  docs/protocol/flows/MARK.md
  docs/protocol/flows/MATCHER.md
  docs/protocol/flows/YIELD.md
  docs/protocol/skills/semiont-highlight/SKILL.md
  docs/system/HUMAN-UI.md
  docs/system/PACKAGE-ARCHITECTURE.md
  docs/system/README.md
  packages/sdk/package.json
  scripts/compliance/audit-raw-bus.sh
Due: none

update STATE-UNITS doc
  packages/sdk/docs/STATE-UNITS.md
Due: none

bridge more yield:* messages to SSE
  packages/core/src/bridged-channels.ts
Due: core, @semiont/core

fix translation regex
  apps/frontend/src/hooks/useMergedTranslationManager.ts
Due: frontend

fix PutBinaryRequest bug
  packages/api-client/src/transport/__tests__/http-content-transport.xhr.test.ts
  packages/api-client/src/transport/http-content-transport.ts
Due: api-client, @semiont/api-client

fix PutBinaryRequest bug
  packages/sdk/src/namespaces/__tests__/commands.test.ts
Due: none

fix PutBinaryRequest bug
  packages/sdk/src/namespaces/yield.ts
Due: none

fix handling of Hover Delay
  apps/frontend/src/app/[locale]/know/layout.tsx
  apps/frontend/src/components/toolbar/ToolbarPanels.tsx
  packages/react-ui/src/features/resource-viewer/components/ResourceViewerPage.tsx
Due: react-ui, frontend, @semiont/react-ui

fix plural format interpolation bug; write tests
  apps/frontend/src/hooks/__tests__/useMergedTranslationManager.test.ts
  apps/frontend/src/hooks/useMergedTranslationManager.ts
Due: frontend

10-frame-entity-types.spec.ts e2e test
  tests/e2e/specs/10-frame-entity-types.spec.ts
Due: none

bump version to 0.5.3
  apps/backend/package.json
  apps/backend/package.publish.json
  apps/cli/package.json
  apps/desktop/package.json
  apps/frontend/package.json
  apps/frontend/package.publish.json
  package.json
  packages/api-client/package.json
  packages/content/package.json
  packages/core/package.json
  packages/event-sourcing/package.json
  packages/graph/package.json
  packages/inference/package.json
  packages/jobs/package.json
  packages/make-meaning/package.json
  packages/mcp-server/package.json
  packages/observability/package.json
  packages/ontology/package.json
  packages/react-ui/package.json
  packages/sdk/package.json
  packages/test-utils/package.json
  packages/vectors/package.json
  version.json
Due: api-client, content, core, event-sourcing, graph, inference, jobs, make-meaning, mcp-server, ontology, react-ui, frontend, backend, @semiont/core, @semiont/api-client, @semiont/ontology, @semiont/content, @semiont/event-sourcing, @semiont/graph, @semiont/inference, @semiont/jobs, @semiont/make-meaning, @semiont/react-ui

seed e2e test data
  tests/e2e/package-lock.json
  tests/e2e/package.json
  tests/e2e/playwright.config.ts
  tests/e2e/scripts/seed.ts
Due: none

e2e test 08 self-seeds its data
  tests/e2e/scripts/seed.ts
  tests/e2e/specs/08-hover-beckon.spec.ts
Due: none

list new KB repos
  README.md
Due: none

reorder KB list
  README.md
Due: none

update skills; add new generic aggregate skills
  docs/protocol/skills/CLI-CHEATSHEET.md
  docs/protocol/skills/semiont-aggregate/SKILL.md
  docs/protocol/skills/semiont-assess/SKILL.md
  docs/protocol/skills/semiont-cli/SKILL.md
  docs/protocol/skills/semiont-comment/SKILL.md
  docs/protocol/skills/semiont-highlight/SKILL.md
  docs/protocol/skills/semiont-ingest/SKILL.md
  docs/protocol/skills/semiont-relate/SKILL.md
  docs/protocol/skills/semiont-tag/SKILL.md
  docs/protocol/skills/semiont-wiki/SKILL.md
Due: none

update SDK docs
  packages/sdk/README.md
  packages/sdk/docs/REACTIVE-MODEL.md
Due: none

frame.addTagSchema phase 1
  packages/core/src/bridged-channels.ts
  packages/core/src/bus-protocol.ts
  packages/core/src/index.ts
  packages/core/src/persisted-events.ts
  packages/core/src/tag-schemas.ts
  packages/event-sourcing/src/view-manager.ts
  packages/event-sourcing/src/views/view-materializer.ts
  packages/make-meaning/src/browser.ts
  packages/make-meaning/src/stower.ts
  packages/make-meaning/src/views/tag-schemas-reader.ts
  packages/sdk/src/index.ts
  packages/sdk/src/namespaces/browse.ts
  packages/sdk/src/namespaces/frame.ts
  packages/sdk/src/namespaces/types.ts
  specs/src/components/schemas/BrowseTagSchemasRequest.json
  specs/src/components/schemas/BrowseTagSchemasResult.json
  specs/src/components/schemas/FrameAddTagSchemaCommand.json
  specs/src/components/schemas/GetTagSchemasResponse.json
  specs/src/components/schemas/TagCategory.json
  specs/src/components/schemas/TagSchema.json
  specs/src/components/schemas/TagSchemaAddedPayload.json
  specs/src/openapi.json
Due: core, event-sourcing, make-meaning, @semiont/core, @semiont/event-sourcing, @semiont/make-meaning

frame.addTagSchema through phase 2c
  apps/frontend/src/app/[locale]/moderate/tag-schemas/page.tsx
  packages/jobs/src/__tests__/processors.test.ts
  packages/jobs/src/__tests__/workers/annotation-detection.test.ts
  packages/jobs/src/processors.ts
  packages/jobs/src/types.ts
  packages/jobs/src/workers/annotation-detection.ts
  packages/make-meaning/src/handlers/index.ts
  packages/make-meaning/src/handlers/job-commands.ts
  packages/make-meaning/src/service.ts
  packages/ontology/src/tag-schemas.ts
  packages/react-ui/src/components/resource/panels/TagEntry.tsx
  packages/react-ui/src/components/resource/panels/TaggingPanel.tsx
  packages/react-ui/src/components/resource/panels/__tests__/TagEntry.test.tsx
  packages/react-ui/src/components/resource/panels/__tests__/TaggingPanel.test.tsx
  packages/react-ui/src/lib/__tests__/tag-schemas.test.ts
Due: jobs, make-meaning, ontology, react-ui, frontend, @semiont/ontology, @semiont/jobs, @semiont/make-meaning, @semiont/react-ui

frame.addTagSchema through phase 3
  docs/protocol/skills/semiont-tag/SKILL.md
  packages/ontology/src/index.ts
  packages/ontology/src/tag-schemas.ts
  packages/react-ui/src/features/moderate-tag-schemas/components/TagSchemasPage.tsx
  packages/react-ui/src/index.ts
  packages/react-ui/src/lib/tag-schemas.ts
Due: ontology, react-ui, @semiont/ontology, @semiont/react-ui

e2e test for frame.addTagSchema
  packages/core/docs/Utilities.md
  packages/ontology/README.md
  tests/e2e/specs/11-frame-tag-schemas.spec.ts
Due: core, ontology, @semiont/core, @semiont/ontology

test and doc updates for frame.addTagSchema
  docs/protocol/flows/FRAME.md
  packages/event-sourcing/src/__tests__/views/view-materializer.test.ts
  packages/make-meaning/src/__tests__/handlers/job-commands.test.ts
  packages/make-meaning/src/__tests__/local-transport.test.ts
  packages/make-meaning/src/__tests__/views/tag-schemas-reader.test.ts
  packages/react-ui/src/components/resource/panels/TaggingPanel.tsx
  packages/sdk/README.md
  packages/sdk/docs/Usage.md
  packages/sdk/src/namespaces/__tests__/browse.test.ts
  packages/sdk/src/namespaces/__tests__/frame.test.ts
Due: react-ui, @semiont/react-ui

noSchemas message
  packages/react-ui/translations/ar.json
  packages/react-ui/translations/bn.json
  packages/react-ui/translations/cs.json
  packages/react-ui/translations/da.json
  packages/react-ui/translations/de.json
  packages/react-ui/translations/el.json
  packages/react-ui/translations/en.json
  packages/react-ui/translations/es.json
  packages/react-ui/translations/fa.json
  packages/react-ui/translations/fi.json
  packages/react-ui/translations/fr.json
  packages/react-ui/translations/he.json
  packages/react-ui/translations/hi.json
  packages/react-ui/translations/id.json
  packages/react-ui/translations/it.json
  packages/react-ui/translations/ja.json
  packages/react-ui/translations/ko.json
  packages/react-ui/translations/ms.json
  packages/react-ui/translations/nl.json
  packages/react-ui/translations/no.json
  packages/react-ui/translations/pl.json
  packages/react-ui/translations/pt.json
  packages/react-ui/translations/ro.json
  packages/react-ui/translations/sv.json
  packages/react-ui/translations/th.json
  packages/react-ui/translations/tr.json
  packages/react-ui/translations/uk.json
  packages/react-ui/translations/vi.json
  packages/react-ui/translations/zh.json
Due: react-ui, @semiont/react-ui

threaded entityTypes through yield.fromAnnotation end-to-end (SDK option → bus payload → worker upload) so synthesized resources land with the user-supplied entity-type stamps
  packages/jobs/src/__tests__/worker-process.test.ts
  packages/jobs/src/worker-process.ts
  packages/sdk/src/namespaces/__tests__/commands.test.ts
  packages/sdk/src/namespaces/types.ts
  packages/sdk/src/namespaces/yield.ts
Due: jobs, @semiont/jobs

rm dead keys
  packages/react-ui/translations/ar.json
  packages/react-ui/translations/bn.json
  packages/react-ui/translations/cs.json
  packages/react-ui/translations/da.json
  packages/react-ui/translations/de.json
  packages/react-ui/translations/el.json
  packages/react-ui/translations/en.json
  packages/react-ui/translations/es.json
  packages/react-ui/translations/fa.json
  packages/react-ui/translations/fi.json
  packages/react-ui/translations/fr.json
  packages/react-ui/translations/he.json
  packages/react-ui/translations/hi.json
  packages/react-ui/translations/id.json
  packages/react-ui/translations/it.json
  packages/react-ui/translations/ja.json
  packages/react-ui/translations/ko.json
  packages/react-ui/translations/ms.json
  packages/react-ui/translations/nl.json
  packages/react-ui/translations/no.json
  packages/react-ui/translations/pl.json
  packages/react-ui/translations/pt.json
  packages/react-ui/translations/ro.json
  packages/react-ui/translations/sv.json
  packages/react-ui/translations/th.json
  packages/react-ui/translations/tr.json
  packages/react-ui/translations/uk.json
  packages/react-ui/translations/vi.json
  packages/react-ui/translations/zh.json
Due: react-ui, @semiont/react-ui

update docs
  docs/protocol/flows/YIELD.md
  packages/sdk/docs/Usage.md
Due: none

rm unused event type; fill test gaps
  packages/core/src/bus-protocol.ts
  packages/make-meaning/src/handlers/job-commands.ts
  packages/react-ui/src/components/resource/panels/__tests__/TaggingPanel.test.tsx
  specs/src/components/schemas/YieldRequestCommand.json
  specs/src/openapi.json
Due: core, make-meaning, @semiont/core, @semiont/make-meaning

await client.yield.resource
  tests/e2e/scripts/seed.ts
Due: none

writeEntityTypesProjection helper; add tests for entity type validation
  packages/make-meaning/src/__tests__/handlers/job-commands.test.ts
Due: none

separate event log -> materialized views logic from I/O and environment code
  packages/event-sourcing/src/__tests__/views/projection-reducers.test.ts
  packages/event-sourcing/src/index.ts
  packages/event-sourcing/src/views/projection-reducers.ts
  packages/event-sourcing/src/views/view-materializer.ts
  packages/make-meaning/src/__tests__/views/projection-validators.test.ts
  packages/make-meaning/src/handlers/job-commands.ts
  packages/make-meaning/src/views/projection-validators.ts
Due: event-sourcing, make-meaning, @semiont/event-sourcing, @semiont/make-meaning

fast check tests for projection
  docs/system/PROJECTION-PATTERN.md
  packages/event-sourcing/README.md
  packages/event-sourcing/package.json
  packages/event-sourcing/src/__tests__/views/projection-reducers.test.ts
  packages/event-sourcing/src/views/projection-reducers.ts
  packages/make-meaning/README.md
  packages/make-meaning/package.json
  packages/make-meaning/src/__tests__/views/projection-validators.test.ts
  packages/make-meaning/src/views/projection-validators.ts
Due: event-sourcing, make-meaning, @semiont/event-sourcing, @semiont/make-meaning

separate event log -> materialized views logic from I/O and environme… (#709)
  docs/system/PROJECTION-PATTERN.md
  packages/event-sourcing/README.md
  packages/event-sourcing/package.json
  packages/event-sourcing/src/__tests__/views/projection-reducers.test.ts
  packages/event-sourcing/src/index.ts
  packages/event-sourcing/src/views/projection-reducers.ts
  packages/event-sourcing/src/views/view-materializer.ts
  packages/make-meaning/README.md
  packages/make-meaning/package.json
  packages/make-meaning/src/__tests__/views/projection-validators.test.ts
  packages/make-meaning/src/handlers/job-commands.ts
  packages/make-meaning/src/views/projection-validators.ts
Due: event-sourcing, make-meaning, @semiont/event-sourcing, @semiont/make-meaning
