Repository The-AI-Alliance/semiont: changes, and which Codecov flags are due for each by the changed paths.
All: api-client, content, core, event-sourcing, graph, inference, jobs, make-meaning, mcp-server, ontology, react-ui, frontend, backend, @semiont/core, @semiont/api-client, @semiont/ontology, @semiont/content, @semiont/event-sourcing, @semiont/graph, @semiont/inference, @semiont/jobs, @semiont/make-meaning, @semiont/react-ui

codecov.yml:

# Codecov configuration for Semiont monorepo
# https://docs.codecov.io/docs/codecovyml-reference

codecov:
  # Require CI to finish before processing coverage
  require_ci_to_pass: true

  # Wait for all coverage reports before commenting
  notify:
    wait_for_ci: true

coverage:
  # Overall project coverage settings
  status:
    # Project-wide coverage status
    project:
      default:
        # Coverage can drop by 1% without failing
        threshold: 1%
        target: 70%  # Target 70% overall coverage

    # Per-PR patch coverage
    patch:
      default:
        # New code should have at least 80% coverage
        target: 80%
        threshold: 5%

  # Round coverage to 2 decimal places
  precision: 2
  round: down

  # Coverage range for color coding
  range: "50...90"

# Component-specific coverage configuration
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 1%
  individual_components:
    # Core packages with higher coverage requirements
    - component_id: core
      name: "@semiont/core"
      paths:
        - packages/core/**
    - component_id: api-client
      name: "@semiont/api-client"
      paths:
        - packages/api-client/**
    - component_id: ontology
      name: "@semiont/ontology"
      paths:
        - packages/ontology/**
    - component_id: content
      name: "@semiont/content"
      paths:
        - packages/content/**
    - component_id: event-sourcing
      name: "@semiont/event-sourcing"
      paths:
        - packages/event-sourcing/**
    - component_id: graph
      name: "@semiont/graph"
      paths:
        - packages/graph/**
    - component_id: inference
      name: "@semiont/inference"
      paths:
        - packages/inference/**
    - component_id: jobs
      name: "@semiont/jobs"
      paths:
        - packages/jobs/**
    - component_id: make-meaning
      name: "@semiont/make-meaning"
      paths:
        - packages/make-meaning/**
    - component_id: react-ui
      name: "@semiont/react-ui"
      paths:
        - packages/react-ui/**

# Ignore certain files from coverage
ignore:
  # Test files
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/*.spec.tsx"
  - "**/test/**"
  - "**/tests/**"
  - "**/__tests__/**"
  - "**/test-utils/**"

  # Build artifacts
  - "**/dist/**"
  - "**/build/**"
  - "**/coverage/**"
  - "**/.next/**"

  # Config files
  - "**/*.config.ts"
  - "**/*.config.js"
  - "**/jest.setup.ts"

  # Generated files
  - "**/generated/**"
  - "packages/api-client/src/types.ts"

  # Examples and demos
  - "**/examples/**"
  - "**/demo/**"

  # Scripts
  - "scripts/**"

# Comment configuration
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Flag configuration for different test suites
flags:
  # Individual package flags
  api-client:
    paths:
      - packages/api-client/**
    carryforward: true

  content:
    paths:
      - packages/content/**
    carryforward: true

  core:
    paths:
      - packages/core/**
    carryforward: true

  event-sourcing:
    paths:
      - packages/event-sourcing/**
    carryforward: true

  graph:
    paths:
      - packages/graph/**
    carryforward: true

  inference:
    paths:
      - packages/inference/**
    carryforward: true

  jobs:
    paths:
      - packages/jobs/**
    carryforward: true

  make-meaning:
    paths:
      - packages/make-meaning/**
    carryforward: true

  mcp-server:
    paths:
      - packages/mcp-server/**
    carryforward: true

  ontology:
    paths:
      - packages/ontology/**
    carryforward: true

  react-ui:
    paths:
      - packages/react-ui/**
    carryforward: true

  # App flags (for future use)
  frontend:
    paths:
      - apps/frontend/**
    carryforward: true

  backend:
    paths:
      - apps/backend/**
    carryforward: true

include READMEs in frontend and backend npm packages
  apps/cli/src/platforms/posix/handlers/backend-check.ts
  apps/cli/src/platforms/posix/handlers/backend-start.ts
  apps/cli/src/platforms/posix/handlers/backend-stop.ts
  apps/cli/src/platforms/posix/handlers/frontend-check.ts
  apps/cli/src/platforms/posix/handlers/frontend-start.ts
  apps/cli/src/platforms/posix/handlers/frontend-stop.ts
  scripts/publish-npm-apps.mjs
Due: none

update @prisma/client dev dependency
  apps/cli/build.mjs
  apps/cli/package.json
Due: none

update docs
  apps/backend/README.npm.md
  apps/frontend/README.npm.md
Due: frontend, backend

update logging paths
  .devcontainer/README.md
  apps/backend/README.md
  apps/cli/README.md
  apps/cli/src/platforms/posix/handlers/backend-paths.ts
  apps/cli/src/platforms/posix/handlers/backend-provision.ts
  apps/cli/src/platforms/posix/handlers/frontend-paths.ts
  apps/cli/src/platforms/posix/handlers/frontend-provision.ts
  apps/frontend/README.md
  docs/LOCAL-DEVELOPMENT.md
  docs/RELEASE.md
Due: frontend, backend

bugs, logging (#470)
  .devcontainer/README.md
  apps/backend/README.md
  apps/backend/README.npm.md
  apps/cli/README.md
  apps/cli/build.mjs
  apps/cli/package.json
  apps/cli/src/platforms/posix/handlers/backend-check.ts
  apps/cli/src/platforms/posix/handlers/backend-paths.ts
  apps/cli/src/platforms/posix/handlers/backend-provision.ts
  apps/cli/src/platforms/posix/handlers/backend-start.ts
  apps/cli/src/platforms/posix/handlers/backend-stop.ts
  apps/cli/src/platforms/posix/handlers/frontend-check.ts
  apps/cli/src/platforms/posix/handlers/frontend-paths.ts
  apps/cli/src/platforms/posix/handlers/frontend-provision.ts
  apps/cli/src/platforms/posix/handlers/frontend-start.ts
  apps/cli/src/platforms/posix/handlers/frontend-stop.ts
  apps/frontend/README.md
  apps/frontend/README.npm.md
  docs/LOCAL-DEVELOPMENT.md
  docs/RELEASE.md
  scripts/publish-npm-apps.mjs
Due: frontend, backend

bump version to 0.2.41
  apps/backend/package.json
  apps/cli/package.json
  apps/frontend/package.json
  package.json
  packages/api-client/package.json
  packages/content/package.json
  packages/core/package.json
  packages/event-sourcing/package.json
  packages/graph/package.json
  packages/inference/package.json
  packages/jobs/package.json
  packages/make-meaning/package.json
  packages/ontology/package.json
  packages/react-ui/package.json
  version.json
Due: api-client, content, core, event-sourcing, graph, inference, jobs, make-meaning, ontology, react-ui, frontend, backend, @semiont/core, @semiont/api-client, @semiont/ontology, @semiont/content, @semiont/event-sourcing, @semiont/graph, @semiont/inference, @semiont/jobs, @semiont/make-meaning, @semiont/react-ui

allow example keyword
  apps/backend/src/utils/openapi-validator.ts
Due: backend

fix logPath
  apps/cli/src/services/backend-service.ts
Due: none

Clean up stale .env* in sourceDir (SEMIONT_REPO mode only)
  apps/cli/src/platforms/posix/handlers/backend-provision.ts
  apps/cli/src/platforms/posix/handlers/frontend-provision.ts
Due: none

handle nullable fields
  apps/backend/src/utils/openapi-validator.ts
Due: backend

fix ports in default local config
  apps/cli/templates/environments/local.json
Due: none

allow example keyword, fix logPath (#471)
  apps/backend/src/utils/openapi-validator.ts
  apps/cli/src/platforms/posix/handlers/backend-provision.ts
  apps/cli/src/platforms/posix/handlers/frontend-provision.ts
  apps/cli/src/services/backend-service.ts
  apps/cli/templates/environments/local.json
Due: backend

bump version to 0.2.42
  apps/backend/package.json
  apps/cli/package.json
  apps/frontend/package.json
  package.json
  packages/api-client/package.json
  packages/content/package.json
  packages/core/package.json
  packages/event-sourcing/package.json
  packages/graph/package.json
  packages/inference/package.json
  packages/jobs/package.json
  packages/make-meaning/package.json
  packages/ontology/package.json
  packages/react-ui/package.json
  version.json
Due: api-client, content, core, event-sourcing, graph, inference, jobs, make-meaning, ontology, react-ui, frontend, backend, @semiont/core, @semiont/api-client, @semiont/ontology, @semiont/content, @semiont/event-sourcing, @semiont/graph, @semiont/inference, @semiont/jobs, @semiont/make-meaning, @semiont/react-ui

edit footer with corrected link
  website/_includes/edit-footer.html
Due: none

_layouts/default.html with corrected footer link
  website/_includes/edit-footer.html
  website/_layouts/default.html
Due: none

fix footer link
  website/_layouts/default.html
Due: none

favicon
  website/_includes/head-custom.html
  website/assets/images/favicon.ico
Due: none

update artifact tables
  apps/README.md
  packages/README.md
Due: none

clear way for external platform services to opt out of provision/start/stop
  apps/cli/src/core/multi-service-executor.ts
  apps/cli/src/core/platform.ts
  apps/cli/src/platforms/external/handlers/index.ts
  apps/cli/src/platforms/external/platform.ts
Due: none

include local setup instructions
  README.md
  docs/LOCAL-SEMIONT.md
Due: none

move Get Started to near the top of README
  README.md
Due: none

fix KB diagram
  docs/ARCHITECTURE-NEXT.md
Due: none

standardize use of pidfiles
  apps/cli/src/platforms/posix/handlers/backend-paths.ts
  apps/cli/src/platforms/posix/handlers/database-check.ts
  apps/cli/src/platforms/posix/handlers/database-paths.ts
  apps/cli/src/platforms/posix/handlers/database-start.ts
  apps/cli/src/platforms/posix/handlers/frontend-paths.ts
  apps/cli/src/platforms/posix/handlers/graph-paths.ts
  apps/cli/src/platforms/posix/handlers/mcp-check.ts
  apps/cli/src/platforms/posix/handlers/mcp-paths.ts
  apps/cli/src/platforms/posix/handlers/mcp-start.ts
Due: none

standardize use of context.containerName
  apps/cli/src/platforms/container/handlers/database-provision.ts
  apps/cli/src/platforms/container/handlers/graph-provision.ts
  apps/cli/src/platforms/container/handlers/proxy-check.ts
  apps/cli/src/platforms/container/handlers/proxy-start.ts
  apps/cli/src/platforms/container/handlers/proxy-stop.ts
  apps/cli/src/platforms/container/handlers/types.ts
Due: none

update docs
  apps/cli/src/platforms/posix/handlers/backend-provision.ts
  apps/cli/src/platforms/posix/handlers/frontend-provision.ts
  apps/frontend/RUNTIME.md
  docs/platforms/POSIX.md
Due: frontend

Packages now install locally into $SEMIONT_ROOT/node_modules/
  apps/cli/src/platforms/posix/handlers/backend-paths.ts
  apps/cli/src/platforms/posix/handlers/backend-provision.ts
  apps/cli/src/platforms/posix/handlers/frontend-paths.ts
  apps/cli/src/platforms/posix/handlers/frontend-provision.ts
Due: none

updates to KB diagram
  docs/ARCHITECTURE-NEXT.md
Due: none

gatherer and binder to KB diagram
  docs/ARCHITECTURE-NEXT.md
Due: none

more labelled events in KB diagram
  docs/ARCHITECTURE-NEXT.md
Due: none

add configuration validation to preflight checks
  apps/cli/src/core/handlers/preflight-utils.ts
  apps/cli/src/platforms/posix/handlers/backend-check.ts
  apps/cli/src/platforms/posix/handlers/backend-provision.ts
  apps/cli/src/platforms/posix/handlers/backend-start.ts
  apps/cli/src/platforms/posix/handlers/database-check.ts
  apps/cli/src/platforms/posix/handlers/database-start.ts
  apps/cli/src/platforms/posix/handlers/frontend-check.ts
  apps/cli/src/platforms/posix/handlers/frontend-provision.ts
  apps/cli/src/platforms/posix/handlers/frontend-start.ts
  apps/cli/src/platforms/posix/handlers/graph-check.ts
  apps/cli/src/platforms/posix/handlers/graph-provision.ts
  apps/cli/src/platforms/posix/handlers/mcp-provision.ts
Due: none

add configuration validation to preflight checks (#477)
  apps/cli/src/core/handlers/preflight-utils.ts
  apps/cli/src/platforms/posix/handlers/backend-check.ts
  apps/cli/src/platforms/posix/handlers/backend-provision.ts
  apps/cli/src/platforms/posix/handlers/backend-start.ts
  apps/cli/src/platforms/posix/handlers/database-check.ts
  apps/cli/src/platforms/posix/handlers/database-start.ts
  apps/cli/src/platforms/posix/handlers/frontend-check.ts
  apps/cli/src/platforms/posix/handlers/frontend-provision.ts
  apps/cli/src/platforms/posix/handlers/frontend-start.ts
  apps/cli/src/platforms/posix/handlers/graph-check.ts
  apps/cli/src/platforms/posix/handlers/graph-provision.ts
  apps/cli/src/platforms/posix/handlers/mcp-provision.ts
Due: none

bump version to 0.2.43
  apps/backend/package.json
  apps/cli/package.json
  apps/frontend/package.json
  package.json
  packages/api-client/package.json
  packages/content/package.json
  packages/core/package.json
  packages/event-sourcing/package.json
  packages/graph/package.json
  packages/inference/package.json
  packages/jobs/package.json
  packages/make-meaning/package.json
  packages/ontology/package.json
  packages/react-ui/package.json
  version.json
Due: api-client, content, core, event-sourcing, graph, inference, jobs, make-meaning, ontology, react-ui, frontend, backend, @semiont/core, @semiont/api-client, @semiont/ontology, @semiont/content, @semiont/event-sourcing, @semiont/graph, @semiont/inference, @semiont/jobs, @semiont/make-meaning, @semiont/react-ui

cli should validate config (#478)
  apps/backend/package.json
  apps/cli/package.json
  apps/frontend/package.json
  package.json
  packages/api-client/package.json
  packages/content/package.json
  packages/core/package.json
  packages/event-sourcing/package.json
  packages/graph/package.json
  packages/inference/package.json
  packages/jobs/package.json
  packages/make-meaning/package.json
  packages/ontology/package.json
  packages/react-ui/package.json
  version.json
Due: api-client, content, core, event-sourcing, graph, inference, jobs, make-meaning, ontology, react-ui, frontend, backend, @semiont/core, @semiont/api-client, @semiont/ontology, @semiont/content, @semiont/event-sourcing, @semiont/graph, @semiont/inference, @semiont/jobs, @semiont/make-meaning, @semiont/react-ui

add --signoff to commit; avoid 'exec' for shell commands
  scripts/release-bump.mjs
Due: none

clean up other scripts
  scripts/build-css-with-sourcemaps.js
  scripts/build-packages.js
  scripts/check-no-utility-classes-in-react-ui.js
  scripts/release-await.mjs
  scripts/release-publish.mjs
Due: none

bump version to 0.2.45
  apps/backend/package.json
  apps/cli/package.json
  apps/frontend/package.json
  package.json
  packages/api-client/package.json
  packages/content/package.json
  packages/core/package.json
  packages/event-sourcing/package.json
  packages/graph/package.json
  packages/inference/package.json
  packages/jobs/package.json
  packages/make-meaning/package.json
  packages/ontology/package.json
  packages/react-ui/package.json
  version.json
Due: api-client, content, core, event-sourcing, graph, inference, jobs, make-meaning, ontology, react-ui, frontend, backend, @semiont/core, @semiont/api-client, @semiont/ontology, @semiont/content, @semiont/event-sourcing, @semiont/graph, @semiont/inference, @semiont/jobs, @semiont/make-meaning, @semiont/react-ui

fix release bump script
  scripts/release-bump.mjs
Due: none
