Repository The-AI-Alliance/semiont: changes, and which Codecov flags are due for each by the changed paths.
All: api-client, content, core, event-sourcing, graph, inference, jobs, make-meaning, mcp-server, ontology, react-ui, frontend, backend, @semiont/core, @semiont/api-client, @semiont/ontology, @semiont/content, @semiont/event-sourcing, @semiont/graph, @semiont/inference, @semiont/jobs, @semiont/make-meaning, @semiont/react-ui

codecov.yml:

# Codecov configuration for Semiont monorepo
# https://docs.codecov.io/docs/codecovyml-reference

codecov:
  # Require CI to finish before processing coverage
  require_ci_to_pass: true

  # Wait for all coverage reports before commenting
  notify:
    wait_for_ci: true

coverage:
  # Overall project coverage settings
  status:
    # Project-wide coverage status
    project:
      default:
        # Coverage can drop by 1% without failing
        threshold: 1%
        target: 70%  # Target 70% overall coverage

    # Per-PR patch coverage
    patch:
      default:
        # New code should have at least 80% coverage
        target: 80%
        threshold: 5%

  # Round coverage to 2 decimal places
  precision: 2
  round: down

  # Coverage range for color coding
  range: "50...90"

# Component-specific coverage configuration
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 1%
  individual_components:
    # Core packages with higher coverage requirements
    - component_id: core
      name: "@semiont/core"
      paths:
        - packages/core/**
    - component_id: api-client
      name: "@semiont/api-client"
      paths:
        - packages/api-client/**
    - component_id: ontology
      name: "@semiont/ontology"
      paths:
        - packages/ontology/**
    - component_id: content
      name: "@semiont/content"
      paths:
        - packages/content/**
    - component_id: event-sourcing
      name: "@semiont/event-sourcing"
      paths:
        - packages/event-sourcing/**
    - component_id: graph
      name: "@semiont/graph"
      paths:
        - packages/graph/**
    - component_id: inference
      name: "@semiont/inference"
      paths:
        - packages/inference/**
    - component_id: jobs
      name: "@semiont/jobs"
      paths:
        - packages/jobs/**
    - component_id: make-meaning
      name: "@semiont/make-meaning"
      paths:
        - packages/make-meaning/**
    - component_id: react-ui
      name: "@semiont/react-ui"
      paths:
        - packages/react-ui/**

# Ignore certain files from coverage
ignore:
  # Test files
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/*.spec.tsx"
  - "**/test/**"
  - "**/tests/**"
  - "**/__tests__/**"
  - "**/test-utils/**"

  # Build artifacts
  - "**/dist/**"
  - "**/build/**"
  - "**/coverage/**"
  - "**/.next/**"

  # Config files
  - "**/*.config.ts"
  - "**/*.config.js"
  - "**/jest.setup.ts"

  # Generated files
  - "**/generated/**"
  - "packages/api-client/src/types.ts"

  # Examples and demos
  - "**/examples/**"
  - "**/demo/**"

  # Scripts
  - "scripts/**"

# Comment configuration
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Flag configuration for different test suites
flags:
  # Individual package flags
  api-client:
    paths:
      - packages/api-client/**
    carryforward: true

  content:
    paths:
      - packages/content/**
    carryforward: true

  core:
    paths:
      - packages/core/**
    carryforward: true

  event-sourcing:
    paths:
      - packages/event-sourcing/**
    carryforward: true

  graph:
    paths:
      - packages/graph/**
    carryforward: true

  inference:
    paths:
      - packages/inference/**
    carryforward: true

  jobs:
    paths:
      - packages/jobs/**
    carryforward: true

  make-meaning:
    paths:
      - packages/make-meaning/**
    carryforward: true

  mcp-server:
    paths:
      - packages/mcp-server/**
    carryforward: true

  ontology:
    paths:
      - packages/ontology/**
    carryforward: true

  react-ui:
    paths:
      - packages/react-ui/**
    carryforward: true

  # App flags (for future use)
  frontend:
    paths:
      - apps/frontend/**
    carryforward: true

  backend:
    paths:
      - apps/backend/**
    carryforward: true

README cleanup
  README.md
Due: none

minor README changes
  README.md
Due: none

semiont-agents is now semiont-workflows
  .devcontainer/README.md
  README.md
  packages/README.md
  website/index.md
Due: none

fix failing test
  packages/react-ui/src/components/pdf-annotation/__tests__/PdfAnnotationCanvas.test.tsx
Due: none

avoid test split
  .github/workflows/package-tests.yml
  packages/react-ui/package.json
  packages/react-ui/vitest.config.ts
Due: react-ui, @semiont/react-ui

improve coverage reporting (#461)
  .github/workflows/package-tests.yml
  packages/react-ui/package.json
  packages/react-ui/src/components/pdf-annotation/__tests__/PdfAnnotationCanvas.test.tsx
  packages/react-ui/vitest.config.ts
Due: react-ui, @semiont/react-ui

clear instructions after init
  apps/cli/src/core/commands/init.ts
Due: none

add --verbose flag to some semiont invocations
  docs/LOCAL-DEVELOPMENT.md
Due: none

tests for preflight
  apps/cli/src/core/commands/__tests__/preflight-flag.test.ts
Due: none

bump version to 0.2.37
  apps/backend/package.json
  apps/cli/package.json
  apps/frontend/package.json
  package.json
  packages/api-client/package.json
  packages/content/package.json
  packages/core/package.json
  packages/event-sourcing/package.json
  packages/graph/package.json
  packages/inference/package.json
  packages/jobs/package.json
  packages/make-meaning/package.json
  packages/ontology/package.json
  packages/react-ui/package.json
  version.json
Due: api-client, content, core, event-sourcing, graph, inference, jobs, make-meaning, ontology, react-ui, frontend, backend, @semiont/core, @semiont/api-client, @semiont/ontology, @semiont/content, @semiont/event-sourcing, @semiont/graph, @semiont/inference, @semiont/jobs, @semiont/make-meaning, @semiont/react-ui

update docs for preflight
  apps/cli/docs/ADDING_COMMANDS.md
  apps/cli/docs/ADDING_PLATFORMS.md
  apps/cli/docs/ARCHITECTURE.md
Due: none

bump version
  package-lock.json
Due: none

preflight tests
  apps/cli/src/core/handlers/__tests__/preflight-utils.test.ts
Due: none

increase test coverage for react-ui
  packages/react-ui/src/components/__tests__/AnnotateReferencesProgressWidget.test.tsx
  packages/react-ui/src/components/__tests__/ResizeHandle.test.tsx
  packages/react-ui/src/components/__tests__/SessionExpiryBanner.test.tsx
  packages/react-ui/src/components/__tests__/StatusDisplay.test.tsx
  packages/react-ui/src/components/__tests__/Toolbar.test.tsx
  packages/react-ui/src/components/annotation-popups/__tests__/JsonLdView.test.tsx
  packages/react-ui/src/components/annotation-popups/__tests__/SharedPopupElements.test.tsx
  packages/react-ui/src/components/modals/__tests__/KeyboardShortcutsHelpModal.test.tsx
  packages/react-ui/src/components/modals/__tests__/ProposeEntitiesModal.test.tsx
  packages/react-ui/src/components/modals/__tests__/ResourceSearchModal.test.tsx
  packages/react-ui/src/components/navigation/__tests__/ObservableLink.test.tsx
  packages/react-ui/src/components/navigation/__tests__/SimpleNavigation.test.tsx
  packages/react-ui/src/components/navigation/__tests__/SortableResourceTab.test.tsx
  packages/react-ui/src/components/resource/__tests__/AnnotationHistory.test.tsx
  packages/react-ui/src/components/resource/__tests__/HistoryEvent.test.tsx
  packages/react-ui/src/components/resource/__tests__/event-formatting.test.ts
  packages/react-ui/src/components/resource/panels/__tests__/AssessmentEntry.test.tsx
  packages/react-ui/src/components/resource/panels/__tests__/HighlightEntry.test.tsx
  packages/react-ui/src/components/resource/panels/__tests__/PanelHeader.test.tsx
  packages/react-ui/src/components/resource/panels/__tests__/ReferenceEntry.test.tsx
  packages/react-ui/src/components/resource/panels/__tests__/StatisticsPanel.test.tsx
  packages/react-ui/src/components/resource/panels/__tests__/TagEntry.test.tsx
  packages/react-ui/src/components/settings/__tests__/SettingsPanel.test.tsx
  packages/react-ui/src/components/viewers/__tests__/ImageViewer.test.tsx
  packages/react-ui/src/design-tokens/__tests__/index.test.ts
  packages/react-ui/src/hooks/__tests__/useObservableBrowse.test.tsx
  packages/react-ui/src/hooks/__tests__/useResourceContent.test.tsx
  packages/react-ui/src/integrations/__tests__/css-modules-helper.test.tsx
  packages/react-ui/src/integrations/__tests__/styled-components-theme.test.ts
  packages/react-ui/src/lib/__tests__/auth-events.test.ts
  packages/react-ui/src/lib/__tests__/media-shapes.test.ts
  packages/react-ui/src/lib/__tests__/scroll-utils.test.ts
  packages/react-ui/vitest.config.ts
Due: none

improve test coverage (#464)
  apps/cli/src/core/handlers/__tests__/preflight-utils.test.ts
  packages/react-ui/src/components/__tests__/AnnotateReferencesProgressWidget.test.tsx
  packages/react-ui/src/components/__tests__/ResizeHandle.test.tsx
  packages/react-ui/src/components/__tests__/SessionExpiryBanner.test.tsx
  packages/react-ui/src/components/__tests__/StatusDisplay.test.tsx
  packages/react-ui/src/components/__tests__/Toolbar.test.tsx
  packages/react-ui/src/components/annotation-popups/__tests__/JsonLdView.test.tsx
  packages/react-ui/src/components/annotation-popups/__tests__/SharedPopupElements.test.tsx
  packages/react-ui/src/components/modals/__tests__/KeyboardShortcutsHelpModal.test.tsx
  packages/react-ui/src/components/modals/__tests__/ProposeEntitiesModal.test.tsx
  packages/react-ui/src/components/modals/__tests__/ResourceSearchModal.test.tsx
  packages/react-ui/src/components/navigation/__tests__/ObservableLink.test.tsx
  packages/react-ui/src/components/navigation/__tests__/SimpleNavigation.test.tsx
  packages/react-ui/src/components/navigation/__tests__/SortableResourceTab.test.tsx
  packages/react-ui/src/components/resource/__tests__/AnnotationHistory.test.tsx
  packages/react-ui/src/components/resource/__tests__/HistoryEvent.test.tsx
  packages/react-ui/src/components/resource/__tests__/event-formatting.test.ts
  packages/react-ui/src/components/resource/panels/__tests__/AssessmentEntry.test.tsx
  packages/react-ui/src/components/resource/panels/__tests__/HighlightEntry.test.tsx
  packages/react-ui/src/components/resource/panels/__tests__/PanelHeader.test.tsx
  packages/react-ui/src/components/resource/panels/__tests__/ReferenceEntry.test.tsx
  packages/react-ui/src/components/resource/panels/__tests__/StatisticsPanel.test.tsx
  packages/react-ui/src/components/resource/panels/__tests__/TagEntry.test.tsx
  packages/react-ui/src/components/settings/__tests__/SettingsPanel.test.tsx
  packages/react-ui/src/components/viewers/__tests__/ImageViewer.test.tsx
  packages/react-ui/src/design-tokens/__tests__/index.test.ts
  packages/react-ui/src/hooks/__tests__/useObservableBrowse.test.tsx
  packages/react-ui/src/hooks/__tests__/useResourceContent.test.tsx
  packages/react-ui/src/integrations/__tests__/css-modules-helper.test.tsx
  packages/react-ui/src/integrations/__tests__/styled-components-theme.test.ts
  packages/react-ui/src/lib/__tests__/auth-events.test.ts
  packages/react-ui/src/lib/__tests__/media-shapes.test.ts
  packages/react-ui/src/lib/__tests__/scroll-utils.test.ts
  packages/react-ui/vitest.config.ts
Due: none

more test coverage for react-ui
  packages/react-ui/src/components/__tests__/LiveRegion.hooks.test.tsx
  packages/react-ui/src/hooks/__tests__/useKeyboardShortcuts.test.ts
  packages/react-ui/src/hooks/__tests__/useUI.test.tsx
  packages/react-ui/src/lib/__tests__/annotation-registry.test.ts
Due: none

refactor CodeMirrorRenderer and AnnotateView for testability
  packages/react-ui/src/components/CodeMirrorRenderer.tsx
  packages/react-ui/src/components/resource/AnnotateView.tsx
  packages/react-ui/src/lib/__tests__/codemirror-handlers.test.ts
  packages/react-ui/src/lib/__tests__/codemirror-logic.test.ts
  packages/react-ui/src/lib/__tests__/text-segmentation.test.ts
  packages/react-ui/src/lib/__tests__/text-selection-handler.test.ts
  packages/react-ui/src/lib/codemirror-handlers.ts
  packages/react-ui/src/lib/codemirror-logic.ts
  packages/react-ui/src/lib/text-segmentation.ts
  packages/react-ui/src/lib/text-selection-handler.ts
Due: react-ui, @semiont/react-ui

more test coverage for react-ui (#465)
  packages/react-ui/src/components/CodeMirrorRenderer.tsx
  packages/react-ui/src/components/__tests__/LiveRegion.hooks.test.tsx
  packages/react-ui/src/components/resource/AnnotateView.tsx
  packages/react-ui/src/hooks/__tests__/useKeyboardShortcuts.test.ts
  packages/react-ui/src/hooks/__tests__/useUI.test.tsx
  packages/react-ui/src/lib/__tests__/annotation-registry.test.ts
  packages/react-ui/src/lib/__tests__/codemirror-handlers.test.ts
  packages/react-ui/src/lib/__tests__/codemirror-logic.test.ts
  packages/react-ui/src/lib/__tests__/text-segmentation.test.ts
  packages/react-ui/src/lib/__tests__/text-selection-handler.test.ts
  packages/react-ui/src/lib/codemirror-handlers.ts
  packages/react-ui/src/lib/codemirror-logic.ts
  packages/react-ui/src/lib/text-segmentation.ts
  packages/react-ui/src/lib/text-selection-handler.ts
Due: react-ui, @semiont/react-ui

next architecture doc
  docs/ARCHITECTURE-NEXT.md
Due: none

make bus more prominent
  docs/ARCHITECTURE-NEXT.md
Due: none

extract KB and UI diagrams separately
  docs/ARCHITECTURE-NEXT.md
Due: none

fix labels and newlines
  docs/ARCHITECTURE-NEXT.md
Due: none

put bus and ui adjacent; improve labels
  docs/ARCHITECTURE-NEXT.md
Due: none

simplify diagram layout
  docs/ARCHITECTURE-NEXT.md
Due: none

update version in package-lock.json
  package-lock.json
Due: none

update version in package-lock.json (#466)
  package-lock.json
Due: none

publish frontend and backend as npm packages; rewrite 'posix' handlers to use them
  .github/workflows/publish-backend.yml
  .github/workflows/publish-frontend.yml
  .github/workflows/publish-npm-packages.yml
  .gitignore
  apps/backend/package.publish.json
  apps/cli/src/platforms/posix/handlers/backend-paths.ts
  apps/cli/src/platforms/posix/handlers/backend-provision.ts
  apps/cli/src/platforms/posix/handlers/backend-start.ts
  apps/cli/src/platforms/posix/handlers/frontend-paths.ts
  apps/cli/src/platforms/posix/handlers/frontend-provision.ts
  apps/cli/src/platforms/posix/handlers/frontend-start.ts
  apps/frontend/Dockerfile
  apps/frontend/package.publish.json
  scripts/publish-npm-apps.mjs
  scripts/version.mjs
Due: frontend, backend

publish frontend and backend as npm packages; rewrite 'posix' handlers to use them (#467)
  .github/workflows/publish-backend.yml
  .github/workflows/publish-frontend.yml
  .github/workflows/publish-npm-packages.yml
  .gitignore
  apps/backend/package.publish.json
  apps/cli/src/platforms/posix/handlers/backend-paths.ts
  apps/cli/src/platforms/posix/handlers/backend-provision.ts
  apps/cli/src/platforms/posix/handlers/backend-start.ts
  apps/cli/src/platforms/posix/handlers/frontend-paths.ts
  apps/cli/src/platforms/posix/handlers/frontend-provision.ts
  apps/cli/src/platforms/posix/handlers/frontend-start.ts
  apps/frontend/Dockerfile
  apps/frontend/package.publish.json
  scripts/publish-npm-apps.mjs
  scripts/version.mjs
Due: frontend, backend

other changes needed to publish backend and frontend npm packages
  apps/backend/Dockerfile
  apps/backend/package.json
  apps/backend/tsup.config.ts
  apps/frontend/package.json
  package.json
Due: frontend, backend

backend and frontend npm packages (#468)
  apps/backend/Dockerfile
  apps/backend/package.json
  apps/backend/tsup.config.ts
  apps/frontend/package.json
  package.json
Due: frontend, backend

semiont 0.2.36
  package-lock.json
  package.json
Due: none

bump version to 0.2.38
  apps/backend/package.json
  apps/cli/package.json
  apps/frontend/package.json
  package.json
  packages/api-client/package.json
  packages/content/package.json
  packages/core/package.json
  packages/event-sourcing/package.json
  packages/graph/package.json
  packages/inference/package.json
  packages/jobs/package.json
  packages/make-meaning/package.json
  packages/ontology/package.json
  packages/react-ui/package.json
  version.json
Due: api-client, content, core, event-sourcing, graph, inference, jobs, make-meaning, ontology, react-ui, frontend, backend, @semiont/core, @semiont/api-client, @semiont/ontology, @semiont/content, @semiont/event-sourcing, @semiont/graph, @semiont/inference, @semiont/jobs, @semiont/make-meaning, @semiont/react-ui

bump version to 0.2.39
  apps/backend/package.json
  apps/cli/package.json
  apps/frontend/package.json
  package.json
  packages/api-client/package.json
  packages/content/package.json
  packages/core/package.json
  packages/event-sourcing/package.json
  packages/graph/package.json
  packages/inference/package.json
  packages/jobs/package.json
  packages/make-meaning/package.json
  packages/ontology/package.json
  packages/react-ui/package.json
  version.json
Due: api-client, content, core, event-sourcing, graph, inference, jobs, make-meaning, ontology, react-ui, frontend, backend, @semiont/core, @semiont/api-client, @semiont/ontology, @semiont/content, @semiont/event-sourcing, @semiont/graph, @semiont/inference, @semiont/jobs, @semiont/make-meaning, @semiont/react-ui

useradd constructs db connection from config
  apps/cli/src/core/commands/useradd.ts
Due: none

provision handlers for backend and frontend (posix platform) should npm install as Plan A
  apps/cli/src/platforms/posix/handlers/backend-paths.ts
  apps/cli/src/platforms/posix/handlers/backend-provision.ts
  apps/cli/src/platforms/posix/handlers/frontend-paths.ts
  apps/cli/src/platforms/posix/handlers/frontend-provision.ts
Due: none

useradd constructs db connection from config; backend and frontend provision to npm install (#469)
  apps/cli/src/core/commands/useradd.ts
  apps/cli/src/platforms/posix/handlers/backend-paths.ts
  apps/cli/src/platforms/posix/handlers/backend-provision.ts
  apps/cli/src/platforms/posix/handlers/frontend-paths.ts
  apps/cli/src/platforms/posix/handlers/frontend-provision.ts
Due: none

bump version to 0.2.40
  apps/backend/package.json
  apps/cli/package.json
  apps/frontend/package.json
  package.json
  packages/api-client/package.json
  packages/content/package.json
  packages/core/package.json
  packages/event-sourcing/package.json
  packages/graph/package.json
  packages/inference/package.json
  packages/jobs/package.json
  packages/make-meaning/package.json
  packages/ontology/package.json
  packages/react-ui/package.json
  version.json
Due: api-client, content, core, event-sourcing, graph, inference, jobs, make-meaning, ontology, react-ui, frontend, backend, @semiont/core, @semiont/api-client, @semiont/ontology, @semiont/content, @semiont/event-sourcing, @semiont/graph, @semiont/inference, @semiont/jobs, @semiont/make-meaning, @semiont/react-ui
