Repository The-AI-Alliance/semiont: changes, and which Codecov flags are due for each by the changed paths.
All: api-client, content, core, event-sourcing, graph, inference, jobs, make-meaning, mcp-server, ontology, react-ui, frontend, backend, @semiont/core, @semiont/api-client, @semiont/ontology, @semiont/content, @semiont/event-sourcing, @semiont/graph, @semiont/inference, @semiont/jobs, @semiont/make-meaning, @semiont/react-ui

codecov.yml:

# Codecov configuration for Semiont monorepo
# https://docs.codecov.io/docs/codecovyml-reference

codecov:
  # Require CI to finish before processing coverage
  require_ci_to_pass: true

  # Wait for all coverage reports before commenting
  notify:
    wait_for_ci: true

coverage:
  # Overall project coverage settings
  status:
    # Project-wide coverage status
    project:
      default:
        # Coverage can drop by 1% without failing
        threshold: 1%
        target: 70%  # Target 70% overall coverage

    # Per-PR patch coverage
    patch:
      default:
        # New code should have at least 80% coverage
        target: 80%
        threshold: 5%

  # Round coverage to 2 decimal places
  precision: 2
  round: down

  # Coverage range for color coding
  range: "50...90"

# Component-specific coverage configuration
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 1%
  individual_components:
    # Core packages with higher coverage requirements
    - component_id: core
      name: "@semiont/core"
      paths:
        - packages/core/**
    - component_id: api-client
      name: "@semiont/api-client"
      paths:
        - packages/api-client/**
    - component_id: ontology
      name: "@semiont/ontology"
      paths:
        - packages/ontology/**
    - component_id: content
      name: "@semiont/content"
      paths:
        - packages/content/**
    - component_id: event-sourcing
      name: "@semiont/event-sourcing"
      paths:
        - packages/event-sourcing/**
    - component_id: graph
      name: "@semiont/graph"
      paths:
        - packages/graph/**
    - component_id: inference
      name: "@semiont/inference"
      paths:
        - packages/inference/**
    - component_id: jobs
      name: "@semiont/jobs"
      paths:
        - packages/jobs/**
    - component_id: make-meaning
      name: "@semiont/make-meaning"
      paths:
        - packages/make-meaning/**
    - component_id: react-ui
      name: "@semiont/react-ui"
      paths:
        - packages/react-ui/**

# Ignore certain files from coverage
ignore:
  # Test files
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/*.spec.tsx"
  - "**/test/**"
  - "**/tests/**"
  - "**/__tests__/**"
  - "**/test-utils/**"

  # Build artifacts
  - "**/dist/**"
  - "**/build/**"
  - "**/coverage/**"
  - "**/.next/**"

  # Config files
  - "**/*.config.ts"
  - "**/*.config.js"
  - "**/jest.setup.ts"

  # Generated files
  - "**/generated/**"
  - "packages/api-client/src/types.ts"

  # Examples and demos
  - "**/examples/**"
  - "**/demo/**"

  # Scripts
  - "scripts/**"

# Comment configuration
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Flag configuration for different test suites
flags:
  # Individual package flags
  api-client:
    paths:
      - packages/api-client/**
    carryforward: true

  content:
    paths:
      - packages/content/**
    carryforward: true

  core:
    paths:
      - packages/core/**
    carryforward: true

  event-sourcing:
    paths:
      - packages/event-sourcing/**
    carryforward: true

  graph:
    paths:
      - packages/graph/**
    carryforward: true

  inference:
    paths:
      - packages/inference/**
    carryforward: true

  jobs:
    paths:
      - packages/jobs/**
    carryforward: true

  make-meaning:
    paths:
      - packages/make-meaning/**
    carryforward: true

  mcp-server:
    paths:
      - packages/mcp-server/**
    carryforward: true

  ontology:
    paths:
      - packages/ontology/**
    carryforward: true

  react-ui:
    paths:
      - packages/react-ui/**
    carryforward: true

  # App flags (for future use)
  frontend:
    paths:
      - apps/frontend/**
    carryforward: true

  backend:
    paths:
      - apps/backend/**
    carryforward: true

fix test
  apps/frontend/src/app/__tests__/page.test.tsx
Due: none

bump version to 0.4.15
  apps/backend/package.json
  apps/backend/package.publish.json
  apps/cli/package.json
  apps/desktop/package.json
  apps/frontend/package.json
  apps/frontend/package.publish.json
  package.json
  packages/api-client/package.json
  packages/content/package.json
  packages/core/package.json
  packages/event-sourcing/package.json
  packages/graph/package.json
  packages/inference/package.json
  packages/jobs/package.json
  packages/make-meaning/package.json
  packages/mcp-server/package.json
  packages/ontology/package.json
  packages/react-ui/package.json
  packages/test-utils/package.json
  packages/vectors/package.json
  version.json
Due: api-client, content, core, event-sourcing, graph, inference, jobs, make-meaning, mcp-server, ontology, react-ui, frontend, backend, @semiont/core, @semiont/api-client, @semiont/ontology, @semiont/content, @semiont/event-sourcing, @semiont/graph, @semiont/inference, @semiont/jobs, @semiont/make-meaning, @semiont/react-ui

update website to match README
  website/index.md
Due: none

update codeql
  .github/codeql/codeql-config.yml
  .github/workflows/codeql-analysis.yml
Due: none

update codeql (#615)
  .github/codeql/codeql-config.yml
  .github/workflows/codeql-analysis.yml
Due: none

override transitive glob version
  package-lock.json
  package.json
Due: none

glob is needec by compliance script
  package-lock.json
  package.json
Due: none

direct depencency on glob is version 11
  package-lock.json
  package.json
Due: none

Revert "glob is needec by compliance script"
  package-lock.json
  package.json
Due: none

override transitive glob version (#616)
  package-lock.json
  package.json
Due: none

ignore .plans
  .gitignore
Due: none

update docs
  apps/backend/README.md
  apps/backend/docs/DATA-FLOW.md
  apps/backend/docs/FILESYSTEM.md
  apps/backend/docs/REAL-TIME.md
  apps/backend/docs/TESTING.md
  apps/backend/docs/W3C-WEB-ANNOTATION.md
  apps/cli/docs/ADDING_COMMANDS.md
  apps/frontend/docs/API-INTEGRATION.md
  docs/administration/BACKUP.md
  docs/flows/BIND.md
  docs/flows/YIELD.md
  docs/services/PROXY.md
  packages/api-client/docs/API-Reference.md
  packages/api-client/docs/Usage.md
  packages/graph/docs/ARCHITECTURE.md
  packages/graph/docs/EVENTUAL-CONSISTENCY.md
  packages/jobs/README.md
  packages/jobs/docs/API.md
  packages/jobs/docs/Configuration.md
  packages/jobs/docs/JobQueue.md
  packages/jobs/docs/JobTypes.md
  packages/jobs/docs/TYPES.md
  packages/make-meaning/docs/architecture.md
  packages/make-meaning/docs/examples.md
  packages/make-meaning/docs/job-workers.md
Due: api-client, graph, jobs, make-meaning, frontend, backend, @semiont/api-client, @semiont/graph, @semiont/jobs, @semiont/make-meaning

define RESOURCE_EVENT_TYPES to avoid string matching
  packages/core/src/events.ts
Due: core, @semiont/core

fix typecheck
  packages/api-client/src/stores/__tests__/annotation-store.test.ts
  packages/api-client/src/stores/__tests__/resource-store.test.ts
  packages/core/src/events.ts
  packages/make-meaning/src/__tests__/exchange/backup-importer.test.ts
  packages/make-meaning/src/__tests__/graph-consumer.test.ts
  packages/make-meaning/src/__tests__/scripting-examples/create-resource.test.ts
  packages/react-ui/src/hooks/useGlobalEvents.ts
Due: core, react-ui, @semiont/core, @semiont/react-ui

fix failing tests
  packages/react-ui/src/components/resource/__tests__/event-formatting.test.ts
Due: none

fix typecheck
  apps/cli/src/core/commands/backup.ts
  apps/cli/src/core/commands/export.ts
  apps/cli/src/core/commands/import.ts
  apps/cli/src/core/commands/mv.ts
  apps/cli/src/core/commands/restore.ts
Due: none

fix tests
  packages/react-ui/src/features/resource-viewer/__tests__/AnnotationCreationPending.test.tsx
  packages/react-ui/src/features/resource-viewer/__tests__/AnnotationDeletionIntegration.test.tsx
Due: none

rewrite tests
  packages/react-ui/src/hooks/__tests__/useResourceEvents.test.tsx
Due: none

fix typecheck
  apps/cli/src/core/commands/backup.ts
  apps/cli/src/core/commands/export.ts
Due: none

fix tests
  packages/api-client/src/stores/__tests__/annotation-store.test.ts
  packages/api-client/src/stores/__tests__/resource-store.test.ts
  packages/make-meaning/src/__tests__/exchange/backup-importer.test.ts
  packages/make-meaning/src/__tests__/exchange/replay.test.ts
  packages/make-meaning/src/__tests__/scripting-examples/create-resource.test.ts
  packages/react-ui/src/hooks/__tests__/useResourceEvents.test.ts
Due: none

fix tests
  packages/event-sourcing/src/__tests__/storage/event-storage.test.ts
  packages/make-meaning/src/__tests__/smelter.test.ts
  packages/react-ui/src/components/resource/__tests__/AnnotationHistory.test.tsx
  packages/react-ui/src/components/resource/__tests__/HistoryEvent.test.tsx
  packages/react-ui/src/components/resource/__tests__/event-formatting.test.ts
Due: none

fix tests
  apps/backend/src/__tests__/integration/sse-event-flow.test.ts
  packages/react-ui/src/hooks/useGlobalEvents.ts
  packages/react-ui/src/hooks/useResourceEvents.ts
Due: react-ui, @semiont/react-ui

rm 'any' casts, etc
  apps/backend/src/routes/resources/routes/events-stream.ts
  packages/core/src/event-bus.ts
  packages/event-sourcing/src/event-store.ts
  packages/make-meaning/src/__tests__/smelter.test.ts
  packages/make-meaning/src/browser.ts
  packages/make-meaning/src/graph/consumer.ts
  packages/make-meaning/src/smelter.ts
  packages/react-ui/src/components/resource/AnnotationHistory.tsx
  packages/react-ui/src/components/resource/__tests__/AnnotationHistory.test.tsx
  packages/react-ui/src/hooks/useResourceEvents.ts
  specs/src/components/schemas/EventMetadata.json
  specs/src/components/schemas/GetAnnotationHistoryResponse.json
  specs/src/components/schemas/GetEventsResponse.json
  specs/src/components/schemas/StoredEventResponse.json
  specs/src/openapi.json
Due: core, event-sourcing, make-meaning, react-ui, backend, @semiont/core, @semiont/event-sourcing, @semiont/make-meaning, @semiont/react-ui

jobType enum; rm 'any' types
  packages/core/src/event-map.ts
Due: core, @semiont/core

define SelectionData payload
  packages/core/src/event-map.ts
  specs/src/components/schemas/SelectionData.json
  specs/src/openapi.json
Due: core, @semiont/core

rename event files
  docs/ARCHITECTURE.md
  docs/flows/BECKON.md
  docs/flows/BIND.md
  docs/flows/BROWSE.md
  docs/flows/GATHER.md
  docs/flows/MATCHER.md
  docs/flows/README.md
  packages/core/src/__tests__/annotation-utils.test.ts
  packages/core/src/__tests__/events.test.ts
  packages/core/src/annotation-assembly.ts
  packages/core/src/annotation-utils.ts
  packages/core/src/event-bus.ts
  packages/core/src/event-protocol.ts
  packages/core/src/event-utils.ts
  packages/core/src/index.ts
  packages/core/src/stored-events.ts
Due: core, @semiont/core

split event-protocol into wire/ui/actor
  docs/ARCHITECTURE.md
  docs/flows/BECKON.md
  docs/flows/BIND.md
  docs/flows/BROWSE.md
  docs/flows/GATHER.md
  docs/flows/MATCHER.md
  docs/flows/README.md
  packages/core/src/actor-protocol.ts
  packages/core/src/annotation-assembly.ts
  packages/core/src/event-bus.ts
  packages/core/src/event-map.ts
  packages/core/src/event-protocol.ts
  packages/core/src/index.ts
  packages/core/src/ui-events.ts
  packages/core/src/wire-protocol.ts
Due: core, @semiont/core

rm Buffer from event payloads
  apps/backend/src/routes/exchange.ts
  apps/backend/src/routes/resources/routes/create.ts
  apps/cli/src/core/commands/import.ts
  apps/cli/src/core/commands/restore.ts
  packages/content/src/index.ts
  packages/content/src/mime-extensions.ts
  packages/core/src/__tests__/events.test.ts
  packages/core/src/actor-protocol.ts
  packages/core/src/event-bus.ts
  packages/core/src/event-map.ts
  packages/core/src/event-utils.ts
  packages/core/src/index.ts
  packages/core/src/stored-events.ts
  packages/core/src/wire-protocol.ts
  packages/event-sourcing/src/event-log.ts
  packages/event-sourcing/src/event-store.ts
  packages/event-sourcing/src/storage/event-storage.ts
  packages/jobs/src/__tests__/workers/jobs/generation-worker.test.ts
  packages/jobs/src/workers/generation-worker.ts
  packages/make-meaning/src/__tests__/annotation-operations.test.ts
  packages/make-meaning/src/__tests__/exchange/backup-importer.test.ts
  packages/make-meaning/src/__tests__/exchange/linked-data-importer.test.ts
  packages/make-meaning/src/__tests__/exchange/replay.test.ts
  packages/make-meaning/src/__tests__/llm-context.test.ts
  packages/make-meaning/src/__tests__/resource-operations.test.ts
  packages/make-meaning/src/__tests__/scripting-examples/annotate-entities.test.ts
  packages/make-meaning/src/__tests__/scripting-examples/batch-annotate-entities.test.ts
  packages/make-meaning/src/__tests__/scripting-examples/create-resource.test.ts
  packages/make-meaning/src/__tests__/scripting-examples/query-graph.test.ts
  packages/make-meaning/src/clone-token-manager.ts
  packages/make-meaning/src/exchange/backup-importer.ts
  packages/make-meaning/src/exchange/linked-data-importer.ts
  packages/make-meaning/src/exchange/replay.ts
  packages/make-meaning/src/resource-operations.ts
  packages/make-meaning/src/service.ts
  packages/make-meaning/src/stower.ts
  specs/src/components/schemas/CommandError.json
Due: content, core, event-sourcing, jobs, make-meaning, backend, @semiont/core, @semiont/content, @semiont/event-sourcing, @semiont/jobs, @semiont/make-meaning

OpenAPI event protocol checkpoint 2
  packages/api-client/src/event-bus-client.ts
  packages/api-client/src/flows.ts
  packages/api-client/src/stores/annotation-store.ts
  packages/api-client/src/stores/resource-store.ts
  packages/core/src/bus-protocol.ts
  packages/core/src/event-base.ts
  packages/core/src/index.ts
  packages/jobs/src/workers/generation-worker.ts
  packages/make-meaning/src/binder.ts
  packages/make-meaning/src/browser.ts
  packages/make-meaning/src/clone-token-manager.ts
  packages/make-meaning/src/exchange/linked-data-importer.ts
  packages/make-meaning/src/gatherer.ts
  packages/make-meaning/src/resource-operations.ts
  packages/make-meaning/src/service.ts
  packages/make-meaning/src/stower.ts
  packages/react-ui/src/components/resource/panels/ResourceInfoPanel.tsx
  packages/react-ui/src/features/resource-viewer/components/ResourceViewerPage.tsx
  packages/react-ui/src/hooks/useContextGatherFlow.ts
  specs/src/components/schemas/MarkArchiveCommand.json
  specs/src/components/schemas/MarkUnarchiveCommand.json
Due: api-client, core, jobs, make-meaning, react-ui, @semiont/core, @semiont/api-client, @semiont/jobs, @semiont/make-meaning, @semiont/react-ui

OpenAPI event protocol checkpoint 3
  packages/jobs/src/workers/assessment-annotation-worker.ts
  packages/jobs/src/workers/comment-annotation-worker.ts
  packages/jobs/src/workers/generation-worker.ts
  packages/jobs/src/workers/highlight-annotation-worker.ts
  packages/jobs/src/workers/reference-annotation-worker.ts
  packages/jobs/src/workers/tag-annotation-worker.ts
  specs/src/components/schemas/JobAssessmentAnnotationResult.json
  specs/src/components/schemas/JobCommentAnnotationResult.json
  specs/src/components/schemas/JobCompleteCommand.json
  specs/src/components/schemas/JobGenerationResult.json
  specs/src/components/schemas/JobHighlightAnnotationResult.json
  specs/src/components/schemas/JobProgress.json
  specs/src/components/schemas/JobReferenceAnnotationResult.json
  specs/src/components/schemas/JobReportProgressCommand.json
  specs/src/components/schemas/JobResult.json
  specs/src/components/schemas/JobTagAnnotationResult.json
  specs/src/openapi.json
Due: jobs, @semiont/jobs

OpenAPI event protocol checkpoint 4
  packages/core/src/bus-protocol.ts
  packages/core/src/event-catalog.ts
  packages/core/src/index.ts
  packages/make-meaning/src/graph/consumer.ts
  packages/make-meaning/src/smelter.ts
Due: core, make-meaning, @semiont/core, @semiont/make-meaning
