Repository The-AI-Alliance/semiont: changes, and which Codecov flags are due for each by the changed paths.
All: api-client, content, core, event-sourcing, graph, inference, jobs, make-meaning, mcp-server, ontology, react-ui, frontend, backend, @semiont/core, @semiont/api-client, @semiont/ontology, @semiont/content, @semiont/event-sourcing, @semiont/graph, @semiont/inference, @semiont/jobs, @semiont/make-meaning, @semiont/react-ui

codecov.yml:

# Codecov configuration for Semiont monorepo
# https://docs.codecov.io/docs/codecovyml-reference

codecov:
  # Require CI to finish before processing coverage
  require_ci_to_pass: true

  # Wait for all coverage reports before commenting
  notify:
    wait_for_ci: true

coverage:
  # Overall project coverage settings
  status:
    # Project-wide coverage status
    project:
      default:
        # Coverage can drop by 1% without failing
        threshold: 1%
        target: 70%  # Target 70% overall coverage

    # Per-PR patch coverage
    patch:
      default:
        # New code should have at least 80% coverage
        target: 80%
        threshold: 5%

  # Round coverage to 2 decimal places
  precision: 2
  round: down

  # Coverage range for color coding
  range: "50...90"

# Component-specific coverage configuration
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 1%
  individual_components:
    # Core packages with higher coverage requirements
    - component_id: core
      name: "@semiont/core"
      paths:
        - packages/core/**
    - component_id: api-client
      name: "@semiont/api-client"
      paths:
        - packages/api-client/**
    - component_id: ontology
      name: "@semiont/ontology"
      paths:
        - packages/ontology/**
    - component_id: content
      name: "@semiont/content"
      paths:
        - packages/content/**
    - component_id: event-sourcing
      name: "@semiont/event-sourcing"
      paths:
        - packages/event-sourcing/**
    - component_id: graph
      name: "@semiont/graph"
      paths:
        - packages/graph/**
    - component_id: inference
      name: "@semiont/inference"
      paths:
        - packages/inference/**
    - component_id: jobs
      name: "@semiont/jobs"
      paths:
        - packages/jobs/**
    - component_id: make-meaning
      name: "@semiont/make-meaning"
      paths:
        - packages/make-meaning/**
    - component_id: react-ui
      name: "@semiont/react-ui"
      paths:
        - packages/react-ui/**

# Ignore certain files from coverage
ignore:
  # Test files
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/*.spec.tsx"
  - "**/test/**"
  - "**/tests/**"
  - "**/__tests__/**"
  - "**/test-utils/**"

  # Build artifacts
  - "**/dist/**"
  - "**/build/**"
  - "**/coverage/**"
  - "**/.next/**"

  # Config files
  - "**/*.config.ts"
  - "**/*.config.js"
  - "**/jest.setup.ts"

  # Generated files
  - "**/generated/**"
  - "packages/api-client/src/types.ts"

  # Examples and demos
  - "**/examples/**"
  - "**/demo/**"

  # Scripts
  - "scripts/**"

# Comment configuration
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Flag configuration for different test suites
flags:
  # Individual package flags
  api-client:
    paths:
      - packages/api-client/**
    carryforward: true

  content:
    paths:
      - packages/content/**
    carryforward: true

  core:
    paths:
      - packages/core/**
    carryforward: true

  event-sourcing:
    paths:
      - packages/event-sourcing/**
    carryforward: true

  graph:
    paths:
      - packages/graph/**
    carryforward: true

  inference:
    paths:
      - packages/inference/**
    carryforward: true

  jobs:
    paths:
      - packages/jobs/**
    carryforward: true

  make-meaning:
    paths:
      - packages/make-meaning/**
    carryforward: true

  mcp-server:
    paths:
      - packages/mcp-server/**
    carryforward: true

  ontology:
    paths:
      - packages/ontology/**
    carryforward: true

  react-ui:
    paths:
      - packages/react-ui/**
    carryforward: true

  # App flags (for future use)
  frontend:
    paths:
      - apps/frontend/**
    carryforward: true

  backend:
    paths:
      - apps/backend/**
    carryforward: true

sync docs
  apps/browser/README.md
  apps/gateway/README.md
  apps/launcher/internal/launcher/logs.go
  docs/system/CONTAINER-TOPOLOGY.md
  docs/system/administration/TROUBLESHOOTING.md
Due: none

update docs
  docs/system/administration/IMAGES.md
  docs/system/administration/OBSERVABILITY.md
  docs/system/platforms/AWS.md
Due: none

update docs
  docs/system/LOCAL-SEMIONT.md
  docs/system/PACKAGE-ARCHITECTURE.md
  docs/system/PROJECT-LAYOUT.md
  docs/system/administration/MAINTENANCE.md
  docs/system/administration/TROUBLESHOOTING.md
  docs/system/platforms/README.md
Due: none

trim Dockerfiles
  apps/archivist/Dockerfile
  apps/browser/Dockerfile
  apps/gateway/Dockerfile
  apps/librarian/Dockerfile
  apps/smelter/Dockerfile
  apps/weaver/Dockerfile
  apps/worker/Dockerfile
Due: none

observability test
  packages/observability/src/__tests__/index.test.ts
Due: none

up versions of golang, etc
  apps/launcher/go.mod
  packages/sdk-go/go.mod
  scripts/ci/local-build.sh
Due: none

dependabot for sdk-go
  .github/dependabot.yml
Due: none

sync go versions
  scripts/ci/local-build.sh
Due: none

job:failed records the worker's judgments, not just its message
  packages/jobs/src/failure-class.ts
  packages/make-meaning/src/__tests__/stower-job-events.test.ts
  packages/make-meaning/src/stower.ts
  packages/sdk-go/client_gen.go
  specs/src/components/schemas/FailureClass.json
  specs/src/components/schemas/JobFailCommand.json
  specs/src/components/schemas/JobFailedPayload.json
Due: jobs, make-meaning, @semiont/jobs, @semiont/make-meaning

Every terminal job record says how durability was established, not just that the job ended
  packages/jobs/src/__tests__/worker-process.test.ts
  packages/jobs/src/worker-process.ts
  packages/make-meaning/src/__tests__/stower-job-events.test.ts
  packages/make-meaning/src/stower.ts
  packages/sdk-go/client_gen.go
  specs/src/components/schemas/DurabilityEvidence.json
  specs/src/components/schemas/JobCompleteCommand.json
  specs/src/components/schemas/JobCompletedPayload.json
  specs/src/components/schemas/JobFailCommand.json
  specs/src/components/schemas/JobFailedPayload.json
Due: jobs, make-meaning, @semiont/jobs, @semiont/make-meaning

Register the new schemas and drop the dead details write that broke the gateway build
  apps/gateway/src/__tests__/integration/sse-event-flow.test.ts
  specs/src/openapi.json
Due: none

A lost acknowledgement is no longer a lost batch, and Go moves to 1.27.1 (#1332)
  .github/dependabot.yml
  apps/gateway/src/__tests__/integration/sse-event-flow.test.ts
  apps/launcher/go.mod
  packages/jobs/src/__tests__/worker-process.test.ts
  packages/jobs/src/__tests__/worker-runtime.test.ts
  packages/jobs/src/failure-class.ts
  packages/jobs/src/worker-process.ts
  packages/jobs/src/worker-runtime.ts
  packages/make-meaning/src/__tests__/annotation-operations.test.ts
  packages/make-meaning/src/__tests__/archivist-decoupling.test.ts
  packages/make-meaning/src/__tests__/stower-commit-idempotence.test.ts
  packages/make-meaning/src/__tests__/stower-job-events.test.ts
  packages/make-meaning/src/knowledge-base.ts
  packages/make-meaning/src/stower.ts
  packages/sdk-go/client_gen.go
  packages/sdk-go/go.mod
  scripts/ci/local-build.sh
  specs/src/components/schemas/DurabilityEvidence.json
  specs/src/components/schemas/FailureClass.json
  specs/src/components/schemas/JobCompleteCommand.json
  specs/src/components/schemas/JobCompletedPayload.json
  specs/src/components/schemas/JobFailCommand.json
  specs/src/components/schemas/JobFailedPayload.json
  specs/src/components/schemas/MarkCommitOk.json
  specs/src/openapi.json
Due: jobs, make-meaning, @semiont/jobs, @semiont/make-meaning

Detection commits every chunk as it lands, for all five job types
  packages/jobs/src/__tests__/dedupe-decider.gate.test.ts
  packages/jobs/src/__tests__/processors.test.ts
  packages/jobs/src/__tests__/worker-process.test.ts
  packages/jobs/src/__tests__/workers/annotation-detection.test.ts
  packages/jobs/src/__tests__/workers/detection/entity-extractor.test.ts
  packages/jobs/src/processors.ts
  packages/jobs/src/worker-process.ts
  packages/jobs/src/workers/annotation-detection.ts
  packages/jobs/src/workers/detection/entity-extractor.ts
Due: jobs, @semiont/jobs

detection result streaming, phase 2
  packages/jobs/src/__tests__/failure-class.test.ts
  packages/jobs/src/__tests__/processors.test.ts
  packages/jobs/src/__tests__/workers/detection/detection-chunking.test.ts
  packages/jobs/src/__tests__/workers/detection/entity-extractor.test.ts
  packages/jobs/src/processors.ts
  packages/jobs/src/types.ts
  packages/jobs/src/workers/detection/detection-chunking.ts
  packages/jobs/src/workers/detection/entity-extractor.ts
  packages/sdk-go/client_gen.go
  specs/src/components/schemas/JobProgress.json
  specs/src/components/schemas/JobReferenceAnnotationResult.json
Due: jobs, @semiont/jobs

Supervision installs before the privilege drop — apk cannot run as semiont, in any of the seven images
  apps/archivist/Dockerfile
  apps/browser/Dockerfile
  apps/gateway/Dockerfile
  apps/librarian/Dockerfile
  apps/smelter/Dockerfile
  apps/weaver/Dockerfile
  apps/worker/Dockerfile
Due: none

strings for last commit
  packages/react-ui/translations/ar.json
  packages/react-ui/translations/bn.json
  packages/react-ui/translations/cs.json
  packages/react-ui/translations/da.json
  packages/react-ui/translations/de.json
  packages/react-ui/translations/el.json
  packages/react-ui/translations/en.json
  packages/react-ui/translations/es.json
  packages/react-ui/translations/fa.json
  packages/react-ui/translations/fi.json
  packages/react-ui/translations/fr.json
  packages/react-ui/translations/he.json
  packages/react-ui/translations/hi.json
  packages/react-ui/translations/id.json
  packages/react-ui/translations/it.json
  packages/react-ui/translations/ja.json
  packages/react-ui/translations/ko.json
  packages/react-ui/translations/ms.json
  packages/react-ui/translations/nl.json
  packages/react-ui/translations/no.json
  packages/react-ui/translations/pl.json
  packages/react-ui/translations/pt.json
  packages/react-ui/translations/ro.json
  packages/react-ui/translations/sv.json
  packages/react-ui/translations/th.json
  packages/react-ui/translations/tr.json
  packages/react-ui/translations/uk.json
  packages/react-ui/translations/vi.json
  packages/react-ui/translations/zh.json
Due: react-ui, @semiont/react-ui

The progress bar gets its denominator: accepted pieces' count-verifier expectations ride entitiesExpected
  packages/jobs/src/__tests__/processors.test.ts
  packages/jobs/src/__tests__/workers/detection/detection-chunking.test.ts
  packages/jobs/src/__tests__/workers/detection/entity-extractor.test.ts
  packages/jobs/src/processors.ts
  packages/jobs/src/workers/detection/detection-chunking.ts
  packages/jobs/src/workers/detection/entity-extractor.ts
  packages/sdk-go/client_gen.go
  specs/src/components/schemas/JobProgress.json
Due: jobs, @semiont/jobs

Detection result streaming P4, frontend half: the found-of-~expected tally
  packages/react-ui/src/components/AssistProgress.tsx
  packages/react-ui/src/components/__tests__/AssistProgress.denominator.test.tsx
  packages/react-ui/src/components/resource/panels/AssistSection.css
  packages/react-ui/src/components/resource/panels/ReferencesPanel.tsx
  packages/react-ui/src/lib/assist-progress-copy.ts
  packages/react-ui/translations/ar.json
  packages/react-ui/translations/bn.json
  packages/react-ui/translations/cs.json
  packages/react-ui/translations/da.json
  packages/react-ui/translations/de.json
  packages/react-ui/translations/el.json
  packages/react-ui/translations/en.json
  packages/react-ui/translations/es.json
  packages/react-ui/translations/fa.json
  packages/react-ui/translations/fi.json
  packages/react-ui/translations/fr.json
  packages/react-ui/translations/he.json
  packages/react-ui/translations/hi.json
  packages/react-ui/translations/id.json
  packages/react-ui/translations/it.json
  packages/react-ui/translations/ja.json
  packages/react-ui/translations/ko.json
  packages/react-ui/translations/ms.json
  packages/react-ui/translations/nl.json
  packages/react-ui/translations/no.json
  packages/react-ui/translations/pl.json
  packages/react-ui/translations/pt.json
  packages/react-ui/translations/ro.json
  packages/react-ui/translations/sv.json
  packages/react-ui/translations/th.json
  packages/react-ui/translations/tr.json
  packages/react-ui/translations/uk.json
  packages/react-ui/translations/vi.json
  packages/react-ui/translations/zh.json
Due: react-ui, @semiont/react-ui

The five detection result mirrors die by name: call sites speak the spec's vocabulary
  packages/core/src/index.ts
  packages/core/src/payload-types.ts
  packages/jobs/src/__tests__/job-queue.test.ts
  packages/jobs/src/__tests__/type-guards.test.ts
  packages/jobs/src/index.ts
  packages/jobs/src/processors.ts
  packages/jobs/src/types.ts
Due: core, jobs, @semiont/core, @semiont/jobs

address copilot comment: The tally's numerator moves at chunk grain too — found advances as chunks commit, not when units settle
  packages/jobs/src/__tests__/processors.test.ts
  packages/jobs/src/processors.ts
Due: jobs, @semiont/jobs

Batch 8 Dependabot updates: js-yaml security fix + three routine bumps
  apps/gateway/package.json
  package-lock.json
  package.json
  packages/react-ui/package.json
  packages/sdk-go/go.mod
  packages/sdk-go/go.sum
Due: react-ui, @semiont/react-ui

Batch 8 Dependabot updates: js-yaml security fix + three routine bumps (#1338)
  apps/gateway/package.json
  package-lock.json
  package.json
  packages/react-ui/package.json
  packages/sdk-go/go.mod
  packages/sdk-go/go.sum
Due: react-ui, @semiont/react-ui

Partiality reporting moves to the toast; the completeness badge is removed
  packages/react-ui/src/components/resource/panels/UnifiedAnnotationsPanel.css
  packages/react-ui/src/components/resource/panels/UnifiedAnnotationsPanel.tsx
  packages/react-ui/src/components/resource/panels/__tests__/UnifiedAnnotationsPanel.completeness.test.tsx
  packages/react-ui/src/features/resource-viewer/components/ResourceViewerPage.tsx
  packages/react-ui/src/hooks/__tests__/useOutcomeToasts.test.tsx
  packages/react-ui/src/hooks/useOutcomeToasts.ts
  packages/react-ui/src/lib/__tests__/assist-completeness.test.ts
  packages/react-ui/src/lib/assist-completeness.ts
  packages/react-ui/translations/ar.json
  packages/react-ui/translations/bn.json
  packages/react-ui/translations/cs.json
  packages/react-ui/translations/da.json
  packages/react-ui/translations/de.json
  packages/react-ui/translations/el.json
  packages/react-ui/translations/en.json
  packages/react-ui/translations/es.json
  packages/react-ui/translations/fa.json
  packages/react-ui/translations/fi.json
  packages/react-ui/translations/fr.json
  packages/react-ui/translations/he.json
  packages/react-ui/translations/hi.json
  packages/react-ui/translations/id.json
  packages/react-ui/translations/it.json
  packages/react-ui/translations/ja.json
  packages/react-ui/translations/ko.json
  packages/react-ui/translations/ms.json
  packages/react-ui/translations/nl.json
  packages/react-ui/translations/no.json
  packages/react-ui/translations/pl.json
  packages/react-ui/translations/pt.json
  packages/react-ui/translations/ro.json
  packages/react-ui/translations/sv.json
  packages/react-ui/translations/th.json
  packages/react-ui/translations/tr.json
  packages/react-ui/translations/uk.json
  packages/react-ui/translations/vi.json
  packages/react-ui/translations/zh.json
  packages/sdk/src/state/flows/__tests__/mark-state-unit-outcome.test.ts
  packages/sdk/src/state/flows/mark-state-unit.ts
  packages/sdk/src/state/index.ts
Due: react-ui, @semiont/react-ui

Partiality reporting moves to the toast; the completeness badge is removed (#1339)
  packages/react-ui/src/components/resource/panels/UnifiedAnnotationsPanel.css
  packages/react-ui/src/components/resource/panels/UnifiedAnnotationsPanel.tsx
  packages/react-ui/src/components/resource/panels/__tests__/UnifiedAnnotationsPanel.completeness.test.tsx
  packages/react-ui/src/features/resource-viewer/components/ResourceViewerPage.tsx
  packages/react-ui/src/hooks/__tests__/useOutcomeToasts.test.tsx
  packages/react-ui/src/hooks/useOutcomeToasts.ts
  packages/react-ui/src/lib/__tests__/assist-completeness.test.ts
  packages/react-ui/src/lib/assist-completeness.ts
  packages/react-ui/translations/ar.json
  packages/react-ui/translations/bn.json
  packages/react-ui/translations/cs.json
  packages/react-ui/translations/da.json
  packages/react-ui/translations/de.json
  packages/react-ui/translations/el.json
  packages/react-ui/translations/en.json
  packages/react-ui/translations/es.json
  packages/react-ui/translations/fa.json
  packages/react-ui/translations/fi.json
  packages/react-ui/translations/fr.json
  packages/react-ui/translations/he.json
  packages/react-ui/translations/hi.json
  packages/react-ui/translations/id.json
  packages/react-ui/translations/it.json
  packages/react-ui/translations/ja.json
  packages/react-ui/translations/ko.json
  packages/react-ui/translations/ms.json
  packages/react-ui/translations/nl.json
  packages/react-ui/translations/no.json
  packages/react-ui/translations/pl.json
  packages/react-ui/translations/pt.json
  packages/react-ui/translations/ro.json
  packages/react-ui/translations/sv.json
  packages/react-ui/translations/th.json
  packages/react-ui/translations/tr.json
  packages/react-ui/translations/uk.json
  packages/react-ui/translations/vi.json
  packages/react-ui/translations/zh.json
  packages/sdk/src/state/flows/__tests__/mark-state-unit-outcome.test.ts
  packages/sdk/src/state/flows/mark-state-unit.ts
  packages/sdk/src/state/index.ts
Due: react-ui, @semiont/react-ui

bump version to 0.5.34
  apps/browser/package.json
  apps/browser/package.publish.json
  apps/desktop/package.json
  apps/gateway/package.json
  apps/gateway/package.publish.json
  package-lock.json
  package.json
  packages/content/package.json
  packages/core/package.json
  packages/event-sourcing/package.json
  packages/graph/package.json
  packages/http-transport/package.json
  packages/inference/package.json
  packages/jobs/package.json
  packages/make-meaning/package.json
  packages/mcp-server/package.json
  packages/observability/package.json
  packages/ontology/package.json
  packages/react-ui/package.json
  packages/sdk/package.json
  packages/vectors/package.json
  version.json
Due: content, core, event-sourcing, graph, inference, jobs, make-meaning, mcp-server, ontology, react-ui, @semiont/core, @semiont/ontology, @semiont/content, @semiont/event-sourcing, @semiont/graph, @semiont/inference, @semiont/jobs, @semiont/make-meaning, @semiont/react-ui

bump version to 0.5.34 (#1341)
  apps/browser/package.json
  apps/browser/package.publish.json
  apps/desktop/package.json
  apps/gateway/package.json
  apps/gateway/package.publish.json
  package-lock.json
  package.json
  packages/content/package.json
  packages/core/package.json
  packages/event-sourcing/package.json
  packages/graph/package.json
  packages/http-transport/package.json
  packages/inference/package.json
  packages/jobs/package.json
  packages/make-meaning/package.json
  packages/mcp-server/package.json
  packages/observability/package.json
  packages/ontology/package.json
  packages/react-ui/package.json
  packages/sdk/package.json
  packages/vectors/package.json
  version.json
Due: content, core, event-sourcing, graph, inference, jobs, make-meaning, mcp-server, ontology, react-ui, @semiont/core, @semiont/ontology, @semiont/content, @semiont/event-sourcing, @semiont/graph, @semiont/inference, @semiont/jobs, @semiont/make-meaning, @semiont/react-ui

improve release process
  .github/workflows/launcher-release.yml
  .github/workflows/publish-browser.yml
  .github/workflows/publish-npm-packages.yml
  .github/workflows/publish-service-images.yml
  .github/workflows/release.yml
  scripts/release/README.md
  scripts/release/verify-release.sh
Due: none

A cold embedding model is retryable, not fatal — the 404 means 'not yet'
  packages/vectors/src/__tests__/cold-embedding-model.test.ts
  packages/vectors/src/embedding/ollama.ts
  packages/vectors/src/embedding/provider-error.ts
  packages/vectors/src/embedding/resolve-dimensions.ts
  packages/vectors/src/embedding/voyage.ts
  packages/vectors/src/store/qdrant.ts
Due: none

A not-yet-connected peer is a code, not a sentence — and the page retries on it
  apps/gateway/src/__tests__/routes/bus.test.ts
  apps/gateway/src/routes/bus.ts
  packages/core/src/__tests__/bus-request.test.ts
  packages/core/src/__tests__/retry.test.ts
  packages/core/src/bus-request.ts
  packages/core/src/index.ts
  packages/core/src/retry.ts
  packages/make-meaning/src/__tests__/catalog-pages.test.ts
  packages/make-meaning/src/catalog-pages.ts
  packages/make-meaning/src/smelter.ts
  packages/make-meaning/src/weaver.ts
  packages/sdk-go/client_gen.go
  specs/src/components/schemas/CommandError.json
Due: core, make-meaning, @semiont/core, @semiont/make-meaning

Omit @id when it is not a URI — one legacy CUID killed whole browse replies
  packages/core/src/__tests__/did-utils.test.ts
  packages/core/src/did-utils.ts
Due: core, @semiont/core

Wait out a cold embedding provider on its own budget, with every attempt bounded
  packages/core/src/__tests__/retry.test.ts
  packages/core/src/index.ts
  packages/core/src/retry.ts
  packages/make-meaning/src/service.ts
  packages/vectors/src/embedding/ollama.ts
  packages/vectors/src/embedding/provider-error.ts
  packages/vectors/src/embedding/resolve-dimensions.ts
  packages/vectors/src/embedding/voyage.ts
  packages/vectors/src/index.ts
Due: core, make-meaning, @semiont/core, @semiont/make-meaning

A caller's deadline stops the retry; one equalJitter, in core
  packages/core/src/__tests__/retry.test.ts
  packages/core/src/index.ts
  packages/core/src/retry.ts
  packages/http-transport/src/transport/actor-state-unit.ts
  packages/make-meaning/src/__tests__/startup-timeout.test.ts
  packages/make-meaning/src/service.ts
  packages/vectors/src/embedding/resolve-dimensions.ts
  packages/vectors/src/store/factory.ts
  packages/vectors/src/store/qdrant.ts
Due: core, make-meaning, @semiont/core, @semiont/make-meaning

Size the resource listing against an archivist boot; drop the 'catalog' name
  packages/make-meaning/src/__tests__/browse-resources.test.ts
  packages/make-meaning/src/browse-resources.ts
  packages/make-meaning/src/catalog-pages.ts
  packages/make-meaning/src/smelter.ts
  packages/make-meaning/src/weaver.ts
Due: make-meaning, @semiont/make-meaning

Move withDeadline to core, bound the sidecar connects, document how peers wait
  docs/system/README.md
  docs/system/RETRY-AND-DEADLINES.md
  packages/core/src/__tests__/with-deadline.test.ts
  packages/core/src/index.ts
  packages/core/src/retry.ts
  packages/make-meaning/src/__tests__/service.test.ts
  packages/make-meaning/src/archivist-main.ts
  packages/make-meaning/src/librarian-main.ts
  packages/make-meaning/src/service.ts
  packages/make-meaning/src/smelter-main.ts
Due: core, make-meaning, @semiont/core, @semiont/make-meaning

more release automation
  .github/workflows/release.yml
  .gitignore
  scripts/release/README.md
  scripts/release/announce.sh
  scripts/release/notes-context.sh
  scripts/release/preflight.sh
Due: none

introduce 'wait'
  scripts/release/preflight.sh
Due: none

Every remembered release step becomes a script, and the desktop flag stops defaulting off (#1343)
  .github/workflows/release.yml
  .gitignore
  scripts/release/README.md
  scripts/release/announce.sh
  scripts/release/notes-context.sh
  scripts/release/preflight.sh
Due: none
