Repository The-AI-Alliance/semiont: changes, and which Codecov flags are due for each by the changed paths.
All: api-client, content, core, event-sourcing, graph, inference, jobs, make-meaning, mcp-server, ontology, react-ui, frontend, backend, @semiont/core, @semiont/api-client, @semiont/ontology, @semiont/content, @semiont/event-sourcing, @semiont/graph, @semiont/inference, @semiont/jobs, @semiont/make-meaning, @semiont/react-ui

codecov.yml:

# Codecov configuration for Semiont monorepo
# https://docs.codecov.io/docs/codecovyml-reference

codecov:
  # Require CI to finish before processing coverage
  require_ci_to_pass: true

  # Wait for all coverage reports before commenting
  notify:
    wait_for_ci: true

coverage:
  # Overall project coverage settings
  status:
    # Project-wide coverage status
    project:
      default:
        # Coverage can drop by 1% without failing
        threshold: 1%
        target: 70%  # Target 70% overall coverage

    # Per-PR patch coverage
    patch:
      default:
        # New code should have at least 80% coverage
        target: 80%
        threshold: 5%

  # Round coverage to 2 decimal places
  precision: 2
  round: down

  # Coverage range for color coding
  range: "50...90"

# Component-specific coverage configuration
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 1%
  individual_components:
    # Core packages with higher coverage requirements
    - component_id: core
      name: "@semiont/core"
      paths:
        - packages/core/**
    - component_id: api-client
      name: "@semiont/api-client"
      paths:
        - packages/api-client/**
    - component_id: ontology
      name: "@semiont/ontology"
      paths:
        - packages/ontology/**
    - component_id: content
      name: "@semiont/content"
      paths:
        - packages/content/**
    - component_id: event-sourcing
      name: "@semiont/event-sourcing"
      paths:
        - packages/event-sourcing/**
    - component_id: graph
      name: "@semiont/graph"
      paths:
        - packages/graph/**
    - component_id: inference
      name: "@semiont/inference"
      paths:
        - packages/inference/**
    - component_id: jobs
      name: "@semiont/jobs"
      paths:
        - packages/jobs/**
    - component_id: make-meaning
      name: "@semiont/make-meaning"
      paths:
        - packages/make-meaning/**
    - component_id: react-ui
      name: "@semiont/react-ui"
      paths:
        - packages/react-ui/**

# Ignore certain files from coverage
ignore:
  # Test files
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/*.spec.tsx"
  - "**/test/**"
  - "**/tests/**"
  - "**/__tests__/**"
  - "**/test-utils/**"

  # Build artifacts
  - "**/dist/**"
  - "**/build/**"
  - "**/coverage/**"
  - "**/.next/**"

  # Config files
  - "**/*.config.ts"
  - "**/*.config.js"
  - "**/jest.setup.ts"

  # Generated files
  - "**/generated/**"
  - "packages/api-client/src/types.ts"

  # Examples and demos
  - "**/examples/**"
  - "**/demo/**"

  # Scripts
  - "scripts/**"

# Comment configuration
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Flag configuration for different test suites
flags:
  # Individual package flags
  api-client:
    paths:
      - packages/api-client/**
    carryforward: true

  content:
    paths:
      - packages/content/**
    carryforward: true

  core:
    paths:
      - packages/core/**
    carryforward: true

  event-sourcing:
    paths:
      - packages/event-sourcing/**
    carryforward: true

  graph:
    paths:
      - packages/graph/**
    carryforward: true

  inference:
    paths:
      - packages/inference/**
    carryforward: true

  jobs:
    paths:
      - packages/jobs/**
    carryforward: true

  make-meaning:
    paths:
      - packages/make-meaning/**
    carryforward: true

  mcp-server:
    paths:
      - packages/mcp-server/**
    carryforward: true

  ontology:
    paths:
      - packages/ontology/**
    carryforward: true

  react-ui:
    paths:
      - packages/react-ui/**
    carryforward: true

  # App flags (for future use)
  frontend:
    paths:
      - apps/frontend/**
    carryforward: true

  backend:
    paths:
      - apps/backend/**
    carryforward: true

fix codegen pruning
  .github/workflows/ci.yml
  apps/launcher/internal/launcher/match.go
  apps/launcher/launcher_test.go
  packages/sdk-go/README.md
  packages/sdk-go/client_gen.go
  packages/sdk-go/generate.go
  scripts/ci/check-go-schema-coverage.mjs
  scripts/ci/local-build.sh
  specs/src/components/schemas/MatchSearchResult.json
  specs/src/components/schemas/ScoredResource.json
Due: none

use generated go types
  apps/launcher/internal/launcher/browse.go
  apps/launcher/internal/launcher/gather.go
  apps/launcher/internal/launcher/mark.go
  apps/launcher/internal/launcher/match.go
  apps/launcher/launcher_test.go
Due: none

more codegen output adoption; fix ambiguities in specs
  apps/launcher/internal/launcher/beckon.go
  apps/launcher/internal/launcher/bind.go
  apps/launcher/internal/launcher/browse.go
  apps/launcher/internal/launcher/gather.go
  apps/launcher/internal/launcher/mark.go
  apps/launcher/internal/launcher/match.go
  apps/launcher/launcher_test.go
  packages/sdk-go/bus/client.go
  packages/sdk-go/client_gen.go
  specs/src/components/schemas/BindBodyOperation.json
  specs/src/components/schemas/BindUpdateBodyCommand.json
  specs/src/components/schemas/GatherAnnotationOptions.json
  specs/src/components/schemas/GatherAnnotationRequest.json
Due: none

clean schemas
  specs/src/components/schemas/BindBodyOperation.json
  specs/src/components/schemas/GatherAnnotationOptions.json
  specs/src/components/schemas/MatchSearchResult.json
  specs/src/components/schemas/ScoredResource.json
Due: none

yield --delegate
  apps/launcher/internal/fakert/main.go
  apps/launcher/internal/launcher/yield.go
  apps/launcher/launcher_test.go
Due: none

clean comments
  packages/sdk-go/client_gen.go
Due: none

bridgedBroadcasts as registry data
  apps/launcher/internal/launcher/listen.go
  packages/core/src/bridged-channels.ts
  packages/sdk-go/bus/bridged_gen.go
  scripts/bus/generate-go.mjs
  scripts/bus/generate-ts.mjs
  specs/src/bus/registry.json
Due: core, @semiont/core

enforce protocol invariants
  .github/workflows/ci.yml
  apps/launcher/zz_probe_test.go
  docs/protocol/CHANNELS.md
  docs/protocol/EVENT-BUS.md
  packages/sdk-go/bus/bridged_test.go
  scripts/bus/generate-go.mjs
  scripts/bus/generate-ts.mjs
  scripts/bus/validate-registry.mjs
  specs/src/openapi.json
Due: none

optimizing timing
  apps/launcher/internal/launcher/executor.go
  apps/launcher/internal/launcher/flows.go
  apps/launcher/internal/launcher/support.go
  apps/launcher/zz_probe_test.go
Due: none

rm newly-migrated-to-launcher commands from old @semiont/cli
  apps/cli/README.md
  apps/cli/docs/ADDING_COMMANDS.md
  apps/cli/docs/INFRASTRUCTURE.md
  apps/cli/docs/KNOWLEDGE-BASE.md
  apps/cli/docs/KNOWLEDGE-WORK.md
  apps/cli/src/core/base-options-schema.ts
  apps/cli/src/core/client-factory.ts
  apps/cli/src/core/command-discovery.ts
  apps/cli/src/core/commands/__tests__/beckon-command.test.ts
  apps/cli/src/core/commands/__tests__/browse-command.test.ts
  apps/cli/src/core/commands/__tests__/gather-bind-match-command.test.ts
  apps/cli/src/core/commands/__tests__/listen-command.test.ts
  apps/cli/src/core/commands/__tests__/mark-command.test.ts
  apps/cli/src/core/commands/__tests__/yield-command.test.ts
  apps/cli/src/core/commands/beckon.ts
  apps/cli/src/core/commands/bind.ts
  apps/cli/src/core/commands/browse.ts
  apps/cli/src/core/commands/gather.ts
  apps/cli/src/core/commands/init.ts
  apps/cli/src/core/commands/listen.ts
  apps/cli/src/core/commands/login.ts
  apps/cli/src/core/commands/mark.ts
  apps/cli/src/core/commands/match.ts
  apps/cli/src/core/commands/mv.ts
  apps/cli/src/core/commands/yield.ts
  apps/launcher/README.md
  docs/protocol/README.md
  docs/protocol/flows/BECKON.md
  docs/protocol/skills/CLI-CHEATSHEET.md
  docs/protocol/skills/semiont-assess/SKILL.md
  docs/protocol/skills/semiont-cli/SKILL.md
  docs/protocol/skills/semiont-comment/SKILL.md
  docs/protocol/skills/semiont-highlight/SKILL.md
Due: none

address copilot feedback
  apps/launcher/internal/fakert/main.go
  apps/launcher/internal/launcher/listen.go
  apps/launcher/internal/launcher/yield.go
  apps/launcher/launcher_test.go
Due: none

fix broken test
  apps/launcher/internal/launcher/listen.go
Due: none

rm apps/cli/src/platforms/aws
  apps/cli/src/platforms/aws/cloudwatch-fetcher.ts
  apps/cli/src/platforms/aws/handlers/ecs-check.ts
  apps/cli/src/platforms/aws/handlers/ecs-publish.ts
  apps/cli/src/platforms/aws/handlers/ecs-start.ts
  apps/cli/src/platforms/aws/handlers/ecs-update.ts
  apps/cli/src/platforms/aws/handlers/efs-check.ts
  apps/cli/src/platforms/aws/handlers/index.ts
  apps/cli/src/platforms/aws/handlers/lambda-check.ts
  apps/cli/src/platforms/aws/handlers/neptune-check.ts
  apps/cli/src/platforms/aws/handlers/rds-check.ts
  apps/cli/src/platforms/aws/handlers/rds-start.ts
  apps/cli/src/platforms/aws/handlers/s3-cloudfront-check.ts
  apps/cli/src/platforms/aws/handlers/stack-provision.ts
  apps/cli/src/platforms/aws/handlers/types.ts
  apps/cli/src/platforms/aws/platform.ts
  apps/cli/src/platforms/aws/stack-config.ts
  apps/cli/src/platforms/aws/types.ts
  apps/cli/src/platforms/aws/utils/credential-validator.ts
Due: none

rm apps/cli/templates/cdk*
  apps/cli/templates/cdk.json
  apps/cli/templates/cdk/app-stack.ts
  apps/cli/templates/cdk/app.ts
  apps/cli/templates/cdk/data-stack.ts
Due: none

rm unused publish and update commands; AWS references
  apps/backend/README.md
  apps/backend/docs/DEVELOPMENT.md
  apps/cli/docs/INFRASTRUCTURE.md
  apps/cli/src/core/command-discovery.ts
  apps/cli/src/core/command-result.ts
  apps/cli/src/core/commands/__tests__/publish-command.test.ts
  apps/cli/src/core/commands/__tests__/update-command.test.ts
  apps/cli/src/core/commands/publish.ts
  apps/cli/src/core/commands/update.ts
  apps/cli/src/core/commands/watch.tsx
  apps/cli/src/core/dashboard/dashboard-data.ts
  apps/cli/src/core/handlers/types.ts
  apps/cli/src/core/service-command-capabilities.ts
  apps/cli/src/platforms/container/handlers/types.ts
  apps/cli/src/platforms/index.ts
  apps/cli/src/platforms/platform-resources.ts
  apps/cli/src/platforms/posix/handlers/types.ts
  apps/cli/src/services/backend-service.ts
  apps/cli/src/services/database-service.ts
  apps/cli/src/services/frontend-service.ts
  apps/cli/src/services/index.ts
  docs/system/administration/DATABASE.md
Due: backend

clean up orphaned deps, prose, etc
  .github/dependabot.yml
  apps/cli/build.mjs
  apps/cli/package.json
  apps/cli/src/core/io/cli-paths.ts
  apps/cli/templates/package.json
  apps/cli/templates/tsconfig.json
  apps/frontend/docs/DEPLOYMENT.md
  docs/system/CONTAINER-TOPOLOGY.md
  docs/system/administration/AUTHENTICATION.md
  docs/system/administration/DEPLOYMENT.md
  docs/system/platforms/AWS.md
  docs/system/platforms/README.md
  docs/system/services/README.md
  docs/system/services/SECRETS.md
  package-lock.json
Due: frontend

return correct versions
  apps/backend/src/__tests__/index.test.ts
  apps/backend/src/__tests__/integration/api-endpoints.test.ts
  apps/backend/src/routes/status.ts
Due: backend

migrate all old cli call sites
  apps/backend/Dockerfile
  apps/backend/README.npm.md
  apps/backend/docs/DEVELOPMENT.md
  apps/backend/package.publish.json
  apps/backend/src/__tests__/auth/jwt.test.ts
  apps/backend/src/__tests__/auth/oauth-config-source.test.ts
  apps/backend/src/__tests__/logger.test.ts
  apps/backend/src/__tests__/utils/database-url.test.ts
  apps/backend/src/auth/jwt.ts
  apps/backend/src/cli/db-url.ts
  apps/backend/src/cli/useradd.ts
  apps/backend/src/index.ts
  apps/backend/src/logger.ts
  apps/backend/src/routes/admin.ts
  apps/backend/src/utils/database-url.ts
  apps/backend/tsup.config.ts
  apps/launcher/internal/launcher/clean.go
  apps/launcher/internal/launcher/executor.go
  apps/launcher/internal/launcher/flows.go
  apps/launcher/internal/launcher/models.go
  apps/launcher/internal/launcher/plan.go
  apps/launcher/internal/launcher/plan_test.go
  apps/launcher/internal/launcher/rootstate.go
  apps/launcher/internal/launcher/start.go
  apps/launcher/internal/launcher/useradd.go
  apps/launcher/launcher_test.go
  apps/launcher/testdata/golden/start-default-boot.argv
  apps/launcher/testdata/golden/start-docker-boot.argv
  apps/launcher/testdata/golden/start-dryrun-default.txt
  apps/launcher/testdata/golden/start-dryrun-local.txt
  apps/launcher/testdata/golden/start-host-ollama-boot.argv
  apps/launcher/testdata/golden/start-local-version-boot.argv
  apps/launcher/testdata/golden/start-no-observe-boot.argv
  docs/system/administration/TROUBLESHOOTING.md
Due: backend

fix npm
  package-lock.json
  packages/graph/package.json
Due: graph, @semiont/graph

no codespace auto-useradd
  apps/launcher/README.md
  apps/launcher/internal/launcher/codespace.go
  apps/launcher/internal/launcher/useradd.go
  apps/launcher/launcher_test.go
Due: none

fix CI
  apps/backend/src/__tests__/integration/api-endpoints.test.ts
  apps/launcher/internal/launcher/executor.go
Due: none

jwt secrets are required to be 32 or more chars
  .github/workflows/ci.yml
  .github/workflows/security-tests.yml
Due: none

jwt secret length
  .github/ACTIONS.md
Due: none

fix(codeql): install Go before init so tracing works
  .github/workflows/codeql-analysis.yml
Due: none

fix(codeql): install Go before init so tracing actually works (#1095)
  .github/ACTIONS.md
  .github/workflows/codeql-analysis.yml
Due: none

fix CSS warnings
  package-lock.json
  packages/react-ui/src/components/toolbar/Toolbar.css
  packages/react-ui/src/styles/features/compose.css
  scripts/lint/stylelint-plugin-semiont-invariants.js
Due: react-ui, @semiont/react-ui

update test for CSS linter
  packages/react-ui/src/components/annotation/__tests__/AnnotateToolbar.display.test.tsx
Due: none

Potential fix for pull request finding
  scripts/lint/stylelint-plugin-semiont-invariants.js
Due: none

fix CSS warnings (#1096)
  package-lock.json
  packages/react-ui/src/components/annotation/__tests__/AnnotateToolbar.display.test.tsx
  packages/react-ui/src/components/toolbar/Toolbar.css
  packages/react-ui/src/styles/features/compose.css
  scripts/lint/stylelint-plugin-semiont-invariants.js
Due: react-ui, @semiont/react-ui

remove password as command line argument for launcher's useradd
  README.md
  apps/backend/src/cli/useradd.ts
  apps/launcher/README.md
  apps/launcher/internal/fakert/main.go
  apps/launcher/internal/launcher/start.go
  apps/launcher/internal/launcher/support.go
  apps/launcher/internal/launcher/useradd.go
  apps/launcher/launcher_test.go
  docs/KNOWLEDGE-BASES.md
  docs/system/LOCAL-BACKEND.md
  docs/system/LOCAL-SEMIONT.md
  scripts/ci/README.md
  tests/e2e/README.md
  tests/e2e/docs/containers.md
  website/index.md
Due: backend

fix typecheck
  apps/backend/src/cli/useradd.ts
Due: backend

fix test failures
  apps/launcher/internal/launcher/useradd.go
Due: none

copilot feedback
  apps/backend/src/cli/useradd.ts
  apps/launcher/internal/launcher/support.go
  apps/launcher/internal/launcher/useradd.go
  apps/launcher/launcher_test.go
Due: backend

useradd: read the password from stdin, remove --password (#1097)
  README.md
  apps/backend/src/cli/useradd.ts
  apps/launcher/README.md
  apps/launcher/internal/fakert/main.go
  apps/launcher/internal/launcher/start.go
  apps/launcher/internal/launcher/support.go
  apps/launcher/internal/launcher/useradd.go
  apps/launcher/launcher_test.go
  docs/KNOWLEDGE-BASES.md
  docs/system/LOCAL-BACKEND.md
  docs/system/LOCAL-SEMIONT.md
  scripts/ci/README.md
  tests/e2e/README.md
  tests/e2e/docs/containers.md
  website/index.md
Due: backend

rm failing action
  .github/workflows/collect_metrics.yaml
Due: none
