Repository The-AI-Alliance/semiont: changes, and which Codecov flags are due for each by the changed paths.
All: api-client, content, core, event-sourcing, graph, inference, jobs, make-meaning, mcp-server, ontology, react-ui, frontend, backend, @semiont/core, @semiont/api-client, @semiont/ontology, @semiont/content, @semiont/event-sourcing, @semiont/graph, @semiont/inference, @semiont/jobs, @semiont/make-meaning, @semiont/react-ui

codecov.yml:

# Codecov configuration for Semiont monorepo
# https://docs.codecov.io/docs/codecovyml-reference

codecov:
  # Require CI to finish before processing coverage
  require_ci_to_pass: true

  # Wait for all coverage reports before commenting
  notify:
    wait_for_ci: true

coverage:
  # Overall project coverage settings
  status:
    # Project-wide coverage status
    project:
      default:
        # Coverage can drop by 1% without failing
        threshold: 1%
        target: 70%  # Target 70% overall coverage

    # Per-PR patch coverage
    patch:
      default:
        # New code should have at least 80% coverage
        target: 80%
        threshold: 5%

  # Round coverage to 2 decimal places
  precision: 2
  round: down

  # Coverage range for color coding
  range: "50...90"

# Component-specific coverage configuration
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 1%
  individual_components:
    # Core packages with higher coverage requirements
    - component_id: core
      name: "@semiont/core"
      paths:
        - packages/core/**
    - component_id: api-client
      name: "@semiont/api-client"
      paths:
        - packages/api-client/**
    - component_id: ontology
      name: "@semiont/ontology"
      paths:
        - packages/ontology/**
    - component_id: content
      name: "@semiont/content"
      paths:
        - packages/content/**
    - component_id: event-sourcing
      name: "@semiont/event-sourcing"
      paths:
        - packages/event-sourcing/**
    - component_id: graph
      name: "@semiont/graph"
      paths:
        - packages/graph/**
    - component_id: inference
      name: "@semiont/inference"
      paths:
        - packages/inference/**
    - component_id: jobs
      name: "@semiont/jobs"
      paths:
        - packages/jobs/**
    - component_id: make-meaning
      name: "@semiont/make-meaning"
      paths:
        - packages/make-meaning/**
    - component_id: react-ui
      name: "@semiont/react-ui"
      paths:
        - packages/react-ui/**

# Ignore certain files from coverage
ignore:
  # Test files
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/*.spec.tsx"
  - "**/test/**"
  - "**/tests/**"
  - "**/__tests__/**"
  - "**/test-utils/**"

  # Build artifacts
  - "**/dist/**"
  - "**/build/**"
  - "**/coverage/**"
  - "**/.next/**"

  # Config files
  - "**/*.config.ts"
  - "**/*.config.js"
  - "**/jest.setup.ts"

  # Generated files
  - "**/generated/**"
  - "packages/api-client/src/types.ts"

  # Examples and demos
  - "**/examples/**"
  - "**/demo/**"

  # Scripts
  - "scripts/**"

# Comment configuration
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Flag configuration for different test suites
flags:
  # Individual package flags
  api-client:
    paths:
      - packages/api-client/**
    carryforward: true

  content:
    paths:
      - packages/content/**
    carryforward: true

  core:
    paths:
      - packages/core/**
    carryforward: true

  event-sourcing:
    paths:
      - packages/event-sourcing/**
    carryforward: true

  graph:
    paths:
      - packages/graph/**
    carryforward: true

  inference:
    paths:
      - packages/inference/**
    carryforward: true

  jobs:
    paths:
      - packages/jobs/**
    carryforward: true

  make-meaning:
    paths:
      - packages/make-meaning/**
    carryforward: true

  mcp-server:
    paths:
      - packages/mcp-server/**
    carryforward: true

  ontology:
    paths:
      - packages/ontology/**
    carryforward: true

  react-ui:
    paths:
      - packages/react-ui/**
    carryforward: true

  # App flags (for future use)
  frontend:
    paths:
      - apps/frontend/**
    carryforward: true

  backend:
    paths:
      - apps/backend/**
    carryforward: true

debug codecov reports
  .github/workflows/package-tests.yml
  codecov.yml
  packages/core/vitest.config.ts
Due: none

debug codecov reports (#399)
  .github/workflows/package-tests.yml
  codecov.yml
  packages/core/vitest.config.ts
Due: none

favicon v 0.1
  apps/frontend/src/app/[locale]/layout.tsx
  packages/react-ui/public/favicons/android-chrome-192x192.png
  packages/react-ui/public/favicons/android-chrome-512x512.png
  packages/react-ui/public/favicons/apple-touch-icon.png
  packages/react-ui/public/favicons/favicon-128x128.png
  packages/react-ui/public/favicons/favicon-16x16.png
  packages/react-ui/public/favicons/favicon-32x32.png
  packages/react-ui/public/favicons/favicon-48x48.png
  packages/react-ui/public/favicons/favicon-64x64.png
  packages/react-ui/public/favicons/favicon-96x96.png
  packages/react-ui/public/favicons/favicon.ico
  packages/react-ui/public/favicons/favicon.svg
  packages/react-ui/public/favicons/site.webmanifest
  packages/react-ui/scripts/generate-favicons.py
  packages/react-ui/src/assets/favicons/SemiontFavicon.tsx
  packages/react-ui/src/assets/favicons/index.ts
Due: react-ui, frontend, @semiont/react-ui

finish favicon
  packages/react-ui/README.md
  packages/react-ui/docs/FAVICON.md
  packages/react-ui/package.json
  packages/react-ui/src/index.ts
Due: react-ui, @semiont/react-ui

fix use of react-ui translation
  apps/frontend/src/components/ReactUIProvider.tsx
  apps/frontend/src/hooks/useTranslationManager.ts
Due: frontend

ignore favicon files
  apps/frontend/.gitignore
Due: frontend

copy favicons
  apps/frontend/package.json
Due: frontend

fix missing packages; include favicon images
  apps/frontend/Dockerfile
Due: frontend

publich on new favicon files
  .github/workflows/publish-frontend.yml
Due: none

rm favicon.ico in frontend
  apps/frontend/public/favicon.ico
Due: frontend

script to copy favicons for builds
  .gitignore
  apps/frontend/scripts/copy-favicons.js
Due: frontend

test coverage for packages/react-ui/src/assets/favicons
  packages/react-ui/src/assets/favicons/SemiontFavicon.test.tsx
  packages/react-ui/src/assets/favicons/index.test.ts
Due: none

use react-ui's favicon; fix translation approach; fix frontend container image build (#400)
  .github/workflows/publish-frontend.yml
  .gitignore
  apps/frontend/.gitignore
  apps/frontend/Dockerfile
  apps/frontend/package.json
  apps/frontend/public/favicon.ico
  apps/frontend/scripts/copy-favicons.js
  apps/frontend/src/app/[locale]/layout.tsx
  apps/frontend/src/components/ReactUIProvider.tsx
  apps/frontend/src/hooks/useTranslationManager.ts
  packages/react-ui/README.md
  packages/react-ui/docs/FAVICON.md
  packages/react-ui/package.json
  packages/react-ui/public/favicons/android-chrome-192x192.png
  packages/react-ui/public/favicons/android-chrome-512x512.png
  packages/react-ui/public/favicons/apple-touch-icon.png
  packages/react-ui/public/favicons/favicon-128x128.png
  packages/react-ui/public/favicons/favicon-16x16.png
  packages/react-ui/public/favicons/favicon-32x32.png
  packages/react-ui/public/favicons/favicon-48x48.png
  packages/react-ui/public/favicons/favicon-64x64.png
  packages/react-ui/public/favicons/favicon-96x96.png
  packages/react-ui/public/favicons/favicon.ico
  packages/react-ui/public/favicons/favicon.svg
  packages/react-ui/public/favicons/site.webmanifest
  packages/react-ui/scripts/generate-favicons.py
  packages/react-ui/src/assets/favicons/SemiontFavicon.test.tsx
  packages/react-ui/src/assets/favicons/SemiontFavicon.tsx
  packages/react-ui/src/assets/favicons/index.test.ts
  packages/react-ui/src/assets/favicons/index.ts
  packages/react-ui/src/index.ts
Due: react-ui, frontend, @semiont/react-ui

provide missing dependencies to backend Dockerfile; eliminate duplicate install
  apps/backend/Dockerfile
Due: backend

rm tailwind from @semiont/react-ui - Tier 1
  packages/react-ui/package.json
  packages/react-ui/src/components/Button/Button.tsx
  packages/react-ui/src/components/DetectionProgressWidget.tsx
  packages/react-ui/src/components/LiveRegion.tsx
  packages/react-ui/src/components/SessionExpiryBanner.tsx
  packages/react-ui/src/components/SessionTimer.tsx
  packages/react-ui/src/components/SkipLinks.tsx
  packages/react-ui/src/components/StatusDisplay.tsx
  packages/react-ui/src/components/Toast.tsx
  packages/react-ui/src/components/UserMenuSkeleton.tsx
  packages/react-ui/src/design-tokens/index.ts
  packages/react-ui/src/examples/ButtonUsageExample.tsx
  packages/react-ui/src/examples/button-css-modules.module.css
  packages/react-ui/src/examples/button-styled-components.tsx
  packages/react-ui/src/examples/button-tailwind.css
  packages/react-ui/src/index.ts
  packages/react-ui/src/integrations/css-modules-helper.ts
  packages/react-ui/src/integrations/styled-components-theme.ts
  packages/react-ui/src/integrations/tailwind-plugin.js
  packages/react-ui/src/styles/base.css
  packages/react-ui/src/styles/variables.css
Due: react-ui, @semiont/react-ui

rm tailwind from react-ui for Core UI and Page Layout Components
  packages/react-ui/src/components/ErrorBoundary.tsx
  packages/react-ui/src/components/ResourceTagsInline.tsx
  packages/react-ui/src/components/Toolbar.tsx
  packages/react-ui/src/components/annotation-popups/JsonLdView.tsx
  packages/react-ui/src/components/annotation-popups/SharedPopupElements.tsx
  packages/react-ui/src/components/annotation/AnnotateToolbar.tsx
  packages/react-ui/src/components/branding/SemiontBranding.tsx
  packages/react-ui/src/components/error-states/ResourceErrorState.tsx
  packages/react-ui/src/components/image-annotation/AnnotationOverlay.tsx
  packages/react-ui/src/components/image-annotation/SvgDrawingCanvas.tsx
  packages/react-ui/src/components/layout/LeftSidebar.tsx
  packages/react-ui/src/components/layout/PageLayout.tsx
  packages/react-ui/src/components/layout/UnifiedHeader.tsx
  packages/react-ui/src/components/loading-states/ComposeLoadingState.tsx
  packages/react-ui/src/components/loading-states/ResourceLoadingState.tsx
  packages/react-ui/src/components/navigation/Footer.tsx
  packages/react-ui/src/components/navigation/NavigationMenu.tsx
  packages/react-ui/src/components/viewers/ImageViewer.tsx
  packages/react-ui/src/features/auth/components/AuthErrorDisplay.tsx
  packages/react-ui/src/styles/base.css
Due: react-ui, @semiont/react-ui

rm tailwind from Panel Components
  packages/react-ui/src/components/resource/AnnotationHistory.tsx
  packages/react-ui/src/components/resource/HistoryEvent.tsx
  packages/react-ui/src/components/resource/panels/AssessmentEntry.tsx
  packages/react-ui/src/components/resource/panels/AssessmentPanel.tsx
  packages/react-ui/src/components/resource/panels/CollaborationPanel.tsx
  packages/react-ui/src/components/resource/panels/CommentEntry.tsx
  packages/react-ui/src/components/resource/panels/CommentsPanel.tsx
  packages/react-ui/src/components/resource/panels/DetectSection.tsx
  packages/react-ui/src/components/resource/panels/HighlightEntry.tsx
  packages/react-ui/src/components/resource/panels/HighlightPanel.tsx
  packages/react-ui/src/components/resource/panels/JsonLdPanel.tsx
  packages/react-ui/src/components/resource/panels/PanelHeader.tsx
  packages/react-ui/src/components/resource/panels/ReferenceEntry.tsx
  packages/react-ui/src/components/resource/panels/ReferencesPanel.tsx
  packages/react-ui/src/components/resource/panels/ResourceInfoPanel.tsx
  packages/react-ui/src/components/resource/panels/StatisticsPanel.tsx
  packages/react-ui/src/components/resource/panels/TagEntry.tsx
  packages/react-ui/src/components/resource/panels/TaggingPanel.tsx
  packages/react-ui/src/components/resource/panels/UnifiedAnnotationsPanel.tsx
  packages/react-ui/src/styles/base.css
Due: react-ui, @semiont/react-ui

rm tailwind from the 4 Resource View Components (Tier 5)
  packages/react-ui/src/components/CodeMirrorRenderer.tsx
  packages/react-ui/src/components/resource/AnnotateView.tsx
  packages/react-ui/src/components/resource/BrowseView.tsx
  packages/react-ui/src/components/resource/ResourceViewer.tsx
  packages/react-ui/src/styles/base.css
Due: react-ui, @semiont/react-ui

rm tailwind from Feature Pages (Tier 6)
  packages/react-ui/src/features/admin-devops/components/AdminDevOpsPage.tsx
  packages/react-ui/src/features/admin-security/components/AdminSecurityPage.tsx
  packages/react-ui/src/features/admin-users/components/AdminUsersPage.tsx
  packages/react-ui/src/features/auth-welcome/components/WelcomePage.tsx
  packages/react-ui/src/features/auth/components/SignInForm.tsx
  packages/react-ui/src/features/auth/components/SignUpForm.tsx
  packages/react-ui/src/features/moderate-entity-tags/components/EntityTagsPage.tsx
  packages/react-ui/src/features/moderate-recent/components/RecentDocumentsPage.tsx
  packages/react-ui/src/features/moderate-tag-schemas/components/TagSchemasPage.tsx
  packages/react-ui/src/features/resource-compose/components/ResourceComposePage.tsx
  packages/react-ui/src/features/resource-discovery/components/ResourceCard.tsx
  packages/react-ui/src/features/resource-discovery/components/ResourceDiscoveryPage.tsx
  packages/react-ui/src/features/resource-viewer/components/ResourceViewerPage.tsx
  packages/react-ui/src/styles/base.css
Due: react-ui, @semiont/react-ui

rm tailwind from two modals (Tier 7)
  packages/react-ui/src/components/modals/KeyboardShortcutsHelpModal.tsx
  packages/react-ui/src/components/modals/ProposeEntitiesModal.tsx
  packages/react-ui/src/styles/base.css
Due: react-ui, @semiont/react-ui

further css migration (no tailwind dependency from react-ui)
  packages/react-ui/src/features/admin-security/components/AdminSecurityPage.tsx
  packages/react-ui/src/features/admin-users/components/AdminUsersPage.tsx
  packages/react-ui/src/features/auth/components/SignInForm.tsx
  packages/react-ui/src/features/auth/components/SignUpForm.tsx
  packages/react-ui/src/features/moderate-tag-schemas/components/TagSchemasPage.tsx
  packages/react-ui/src/styles/base.css
Due: react-ui, @semiont/react-ui

decompose monolithic base.css
  packages/react-ui/src/styles/base.css
  packages/react-ui/src/styles/base/reset.css
  packages/react-ui/src/styles/base/utilities.css
  packages/react-ui/src/styles/components/buttons.css
  packages/react-ui/src/styles/components/core-ui.css
  packages/react-ui/src/styles/components/modals.css
  packages/react-ui/src/styles/components/panels.css
  packages/react-ui/src/styles/components/remaining.css
  packages/react-ui/src/styles/components/status-display.css
  packages/react-ui/src/styles/components/tables.css
  packages/react-ui/src/styles/components/toast.css
  packages/react-ui/src/styles/features/admin.css
  packages/react-ui/src/styles/features/resource.css
  packages/react-ui/src/styles/index.css
  packages/react-ui/src/styles/layout/layout.css
Due: react-ui, @semiont/react-ui

further organize css
  packages/react-ui/src/styles/components/branding.css
  packages/react-ui/src/styles/components/cards.css
  packages/react-ui/src/styles/components/core-ui.css
  packages/react-ui/src/styles/components/remaining.css
  packages/react-ui/src/styles/components/toolbar.css
  packages/react-ui/src/styles/features/schemas.css
  packages/react-ui/src/styles/index.css
  packages/react-ui/src/styles/patterns/errors.css
  packages/react-ui/src/styles/patterns/loading.css
Due: react-ui, @semiont/react-ui

update css import
  packages/react-ui/src/examples/ButtonUsageExample.tsx
Due: none

rm base.css
  packages/react-ui/src/styles/base.css
Due: react-ui, @semiont/react-ui

clean up comments in css
  packages/react-ui/src/styles/components/branding.css
  packages/react-ui/src/styles/components/toolbar.css
  packages/react-ui/src/styles/patterns/errors.css
  packages/react-ui/src/styles/patterns/loading.css
Due: react-ui, @semiont/react-ui

tailwind removed from @semiont/react-ui
  packages/react-ui/src/components/resource/panels/ReferencesPanel.tsx
  packages/react-ui/src/features/admin-devops/components/AdminDevOpsPage.tsx
  packages/react-ui/src/features/auth-welcome/components/WelcomePage.tsx
  packages/react-ui/src/features/moderate-entity-tags/components/EntityTagsPage.tsx
  packages/react-ui/src/features/moderate-recent/components/RecentDocumentsPage.tsx
  packages/react-ui/src/features/resource-compose/components/ResourceComposePage.tsx
  packages/react-ui/src/styles/components/references.css
  packages/react-ui/src/styles/features/compose.css
  packages/react-ui/src/styles/features/devops.css
  packages/react-ui/src/styles/features/entity-tags.css
  packages/react-ui/src/styles/features/recent-docs.css
  packages/react-ui/src/styles/features/welcome.css
  packages/react-ui/src/styles/index.css
Due: react-ui, @semiont/react-ui

rm comment
  packages/react-ui/src/styles/features/schemas.css
Due: react-ui, @semiont/react-ui

further decompose resource.css
  packages/react-ui/src/styles/features/resource-discovery.css
  packages/react-ui/src/styles/features/resource-viewer.css
  packages/react-ui/src/styles/features/resource.css
  packages/react-ui/src/styles/index.css
Due: react-ui, @semiont/react-ui

document syltes/css
  packages/react-ui/README.md
  packages/react-ui/docs/STYLES.md
Due: react-ui, @semiont/react-ui

update frontend to use styles from react-ui
  apps/frontend/src/app/globals.css
  apps/frontend/tailwind.config.ts
  packages/react-ui/package.json
  packages/react-ui/src/examples/button-styled-components.tsx
  packages/react-ui/src/integrations/css-modules-helper.tsx
  packages/react-ui/src/integrations/styled-components-theme.ts
  packages/react-ui/src/styles/components/cards.css
Due: react-ui, frontend, @semiont/react-ui

update frontend style guide
  apps/frontend/docs/style-guide.md
Due: frontend

update frontend docs for @semiont/react-ui
  apps/frontend/docs/ACCESSIBILITY.md
  apps/frontend/docs/ANNOTATIONS.md
  apps/frontend/docs/API-INTEGRATION.md
  apps/frontend/docs/ARCHITECTURE.md
  apps/frontend/docs/COMPONENT-LIBRARY.md
  apps/frontend/docs/DEVELOPMENT.md
  apps/frontend/docs/INTERNATIONALIZATION.md
  apps/frontend/docs/TESTING.md
Due: frontend

create SidebarNavigation in react-ui and rephrase frontend AdminNavigation and ModerationNavigation in terms of it
  apps/frontend/src/components/admin/AdminNavigation.tsx
  apps/frontend/src/components/moderation/ModerationNavigation.tsx
  packages/react-ui/src/components/navigation/SidebarNavigation.tsx
  packages/react-ui/src/components/navigation/__tests__/SidebarNavigation.test.tsx
  packages/react-ui/src/index.ts
  packages/react-ui/src/styles/components/sidebar-navigation.css
  packages/react-ui/src/styles/index.css
  packages/react-ui/src/types/navigation.ts
Due: react-ui, frontend, @semiont/react-ui

KnowledgeNavigation partially adopt react-ui's SidebarNavigation
  apps/frontend/src/components/knowledge/KnowledgeNavigation.tsx
  packages/react-ui/src/components/navigation/SidebarNavigation.tsx
  packages/react-ui/src/styles/components/sidebar-navigation.css
  packages/react-ui/src/types/navigation.ts
Due: react-ui, frontend, @semiont/react-ui

fix css errors
  packages/react-ui/src/examples/button-styled-components.tsx
Due: none

update frontend to use newly migrated components (modals and sidebar) in react-ui
  apps/frontend/src/components/modals/GlobalSearchModal.tsx
  apps/frontend/src/components/modals/SearchResourcesModal.tsx
  packages/react-ui/src/components/modals/ResourceSearchModal.tsx
  packages/react-ui/src/components/modals/SearchModal.tsx
  packages/react-ui/src/index.ts
  packages/react-ui/src/types/modals.ts
Due: react-ui, frontend, @semiont/react-ui

use new components
  apps/frontend/src/components/knowledge/KnowledgeNavigation.tsx
  apps/frontend/src/components/knowledge/SortableResourceTab.tsx
  packages/react-ui/src/components/navigation/CollapsibleResourceNavigation.tsx
  packages/react-ui/src/components/navigation/SortableResourceTab.tsx
  packages/react-ui/src/index.ts
  packages/react-ui/src/types/collapsible-navigation.ts
Due: react-ui, frontend, @semiont/react-ui

update docs for new react-ui components
  apps/frontend/docs/COMPONENT-LIBRARY.md
  packages/react-ui/README.md
  packages/react-ui/docs/modal-components.md
  packages/react-ui/docs/navigation-components.md
Due: react-ui, frontend, @semiont/react-ui

accessibility improvements (1)
  packages/react-ui/src/components/layout/LeftSidebar.tsx
  packages/react-ui/src/components/layout/UnifiedHeader.tsx
  packages/react-ui/src/components/navigation/CollapsibleResourceNavigation.tsx
  packages/react-ui/src/components/navigation/NavigationMenu.tsx
  packages/react-ui/src/components/navigation/SidebarNavigation.tsx
  packages/react-ui/src/components/navigation/SortableResourceTab.tsx
  packages/react-ui/src/features/auth/components/SignInForm.tsx
  packages/react-ui/src/hooks/useFormValidation.ts
Due: react-ui, @semiont/react-ui
