Repository The-AI-Alliance/semiont: changes, and which Codecov flags are due for each by the changed paths.
All: api-client, content, core, event-sourcing, graph, inference, jobs, make-meaning, mcp-server, ontology, react-ui, frontend, backend, @semiont/core, @semiont/api-client, @semiont/ontology, @semiont/content, @semiont/event-sourcing, @semiont/graph, @semiont/inference, @semiont/jobs, @semiont/make-meaning, @semiont/react-ui

codecov.yml:

# Codecov configuration for Semiont monorepo
# https://docs.codecov.io/docs/codecovyml-reference

codecov:
  # Require CI to finish before processing coverage
  require_ci_to_pass: true

  # Wait for all coverage reports before commenting
  notify:
    wait_for_ci: true

coverage:
  # Overall project coverage settings
  status:
    # Project-wide coverage status
    project:
      default:
        # Coverage can drop by 1% without failing
        threshold: 1%
        target: 70%  # Target 70% overall coverage

    # Per-PR patch coverage
    patch:
      default:
        # New code should have at least 80% coverage
        target: 80%
        threshold: 5%

  # Round coverage to 2 decimal places
  precision: 2
  round: down

  # Coverage range for color coding
  range: "50...90"

# Component-specific coverage configuration
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 1%
  individual_components:
    # Core packages with higher coverage requirements
    - component_id: core
      name: "@semiont/core"
      paths:
        - packages/core/**
    - component_id: api-client
      name: "@semiont/api-client"
      paths:
        - packages/api-client/**
    - component_id: ontology
      name: "@semiont/ontology"
      paths:
        - packages/ontology/**
    - component_id: content
      name: "@semiont/content"
      paths:
        - packages/content/**
    - component_id: event-sourcing
      name: "@semiont/event-sourcing"
      paths:
        - packages/event-sourcing/**
    - component_id: graph
      name: "@semiont/graph"
      paths:
        - packages/graph/**
    - component_id: inference
      name: "@semiont/inference"
      paths:
        - packages/inference/**
    - component_id: jobs
      name: "@semiont/jobs"
      paths:
        - packages/jobs/**
    - component_id: make-meaning
      name: "@semiont/make-meaning"
      paths:
        - packages/make-meaning/**
    - component_id: react-ui
      name: "@semiont/react-ui"
      paths:
        - packages/react-ui/**

# Ignore certain files from coverage
ignore:
  # Test files
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/*.spec.tsx"
  - "**/test/**"
  - "**/tests/**"
  - "**/__tests__/**"
  - "**/test-utils/**"

  # Build artifacts
  - "**/dist/**"
  - "**/build/**"
  - "**/coverage/**"
  - "**/.next/**"

  # Config files
  - "**/*.config.ts"
  - "**/*.config.js"
  - "**/jest.setup.ts"

  # Generated files
  - "**/generated/**"
  - "packages/api-client/src/types.ts"

  # Examples and demos
  - "**/examples/**"
  - "**/demo/**"

  # Scripts
  - "scripts/**"

# Comment configuration
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Flag configuration for different test suites
flags:
  # Individual package flags
  api-client:
    paths:
      - packages/api-client/**
    carryforward: true

  content:
    paths:
      - packages/content/**
    carryforward: true

  core:
    paths:
      - packages/core/**
    carryforward: true

  event-sourcing:
    paths:
      - packages/event-sourcing/**
    carryforward: true

  graph:
    paths:
      - packages/graph/**
    carryforward: true

  inference:
    paths:
      - packages/inference/**
    carryforward: true

  jobs:
    paths:
      - packages/jobs/**
    carryforward: true

  make-meaning:
    paths:
      - packages/make-meaning/**
    carryforward: true

  mcp-server:
    paths:
      - packages/mcp-server/**
    carryforward: true

  ontology:
    paths:
      - packages/ontology/**
    carryforward: true

  react-ui:
    paths:
      - packages/react-ui/**
    carryforward: true

  # App flags (for future use)
  frontend:
    paths:
      - apps/frontend/**
    carryforward: true

  backend:
    paths:
      - apps/backend/**
    carryforward: true

refactor ResourceViewerPage.tsx to Service/Hook/Component layers
  apps/frontend/src/app/[locale]/know/resource/[id]/page.tsx
  packages/react-ui/src/features/resource-viewer/__tests__/DetectionFlowBug.test.tsx
  packages/react-ui/src/features/resource-viewer/__tests__/DetectionFlowContainer.test.tsx
  packages/react-ui/src/features/resource-viewer/__tests__/DetectionFlowIntegration.test.tsx
  packages/react-ui/src/features/resource-viewer/__tests__/detection-progress-flow.test.tsx
  packages/react-ui/src/features/resource-viewer/components/ResourceViewerPage.tsx
  packages/react-ui/src/features/resource-viewer/containers/AnnotationFlowContainer.tsx
  packages/react-ui/src/features/resource-viewer/containers/DetectionFlowContainer.tsx
  packages/react-ui/src/features/resource-viewer/containers/PanelNavigationContainer.tsx
  packages/react-ui/src/hooks/useAnnotationFlow.ts
  packages/react-ui/src/hooks/useDetectionFlow.ts
  packages/react-ui/src/hooks/useGenerationFlow.ts
  packages/react-ui/src/hooks/usePanelNavigation.ts
  packages/react-ui/src/hooks/useResourceContent.ts
  packages/react-ui/src/index.ts
Due: react-ui, frontend, @semiont/react-ui

extend compliance screipts to cover mitt version of service/hook/component layer architecture
  scripts/compliance/audit-dependency-arrays.ts
  scripts/compliance/batch-audit.ts
Due: none

clean up dependency array
  apps/frontend/src/hooks/useResourceMutations.ts
  apps/frontend/src/hooks/useResourcePageEventSubscriptions.ts
  packages/react-ui/src/features/resource-viewer/components/ResourceViewerPage.tsx
Due: react-ui, frontend, @semiont/react-ui

update docs
  apps/frontend/src/hooks/useResourceMutations.ts
  apps/frontend/src/hooks/useResourcePageEventSubscriptions.ts
  packages/react-ui/docs/ARCHITECTURE.md
  packages/react-ui/docs/EVENTS.md
  packages/react-ui/docs/SERVICE-HOOK-COMPONENT.md
Due: react-ui, frontend, @semiont/react-ui

show detection progress completion; and auto-dismiss
  packages/react-ui/src/components/resource/panels/DetectSection.css
  packages/react-ui/src/components/resource/panels/DetectSection.tsx
  packages/react-ui/src/contexts/EventBusContext.tsx
  packages/react-ui/src/contexts/useEventOperations.ts
  packages/react-ui/src/features/resource-viewer/__tests__/DetectionProgressDismissal.test.tsx
  packages/react-ui/src/hooks/useDetectionFlow.ts
Due: react-ui, @semiont/react-ui

closeProgress string
  packages/react-ui/translations/ar.json
  packages/react-ui/translations/bn.json
  packages/react-ui/translations/cs.json
  packages/react-ui/translations/da.json
  packages/react-ui/translations/de.json
  packages/react-ui/translations/el.json
  packages/react-ui/translations/en.json
  packages/react-ui/translations/es.json
  packages/react-ui/translations/fa.json
  packages/react-ui/translations/fi.json
  packages/react-ui/translations/fr.json
  packages/react-ui/translations/he.json
  packages/react-ui/translations/hi.json
  packages/react-ui/translations/id.json
  packages/react-ui/translations/it.json
  packages/react-ui/translations/ja.json
  packages/react-ui/translations/ko.json
  packages/react-ui/translations/ms.json
  packages/react-ui/translations/nl.json
  packages/react-ui/translations/no.json
  packages/react-ui/translations/pl.json
  packages/react-ui/translations/pt.json
  packages/react-ui/translations/ro.json
  packages/react-ui/translations/sv.json
  packages/react-ui/translations/th.json
  packages/react-ui/translations/tr.json
  packages/react-ui/translations/uk.json
  packages/react-ui/translations/vi.json
  packages/react-ui/translations/zh.json
Due: react-ui, @semiont/react-ui

fix typecheck and organize/clean code
  packages/react-ui/src/components/DetectionProgressWidget.tsx
  packages/react-ui/src/components/resource/panels/ReferenceEntry.tsx
  packages/react-ui/src/contexts/EventBusContext.tsx
  packages/react-ui/src/contexts/useEventOperations.ts
  packages/react-ui/src/features/resource-viewer/__tests__/GenerationFlowIntegration.test.tsx
  packages/react-ui/src/features/resource-viewer/components/ResourceViewerPage.tsx
  packages/react-ui/src/hooks/__tests__/useDetectionProgress.test.ts
  packages/react-ui/src/hooks/useDetectionFlow.ts
  packages/react-ui/src/hooks/useDetectionProgress.ts
  packages/react-ui/src/hooks/useGenerationFlow.ts
  packages/react-ui/src/hooks/useGenerationProgress.ts
  packages/react-ui/src/index.ts
  packages/react-ui/src/types/progress.ts
Due: react-ui, @semiont/react-ui

auth token flow is now explicit, traceable, and immutable
  apps/frontend/src/app/[locale]/auth/mcp-setup/route.ts
  apps/frontend/src/app/[locale]/know/compose/page.tsx
  apps/frontend/src/app/[locale]/know/layout.tsx
  apps/frontend/src/app/api/resources/[id]/route.ts
  apps/frontend/src/hooks/useApiClientManager.ts
  apps/frontend/src/hooks/useAuthTokenManager.ts
  apps/frontend/src/test-utils.tsx
  packages/api-client/src/__tests__/sse-client.test.ts
  packages/api-client/src/client.ts
  packages/api-client/src/sse/index.ts
  packages/mcp-server/src/handlers.ts
  packages/mcp-server/src/index.ts
  packages/react-ui/src/contexts/ApiClientContext.tsx
  packages/react-ui/src/contexts/AuthTokenContext.tsx
  packages/react-ui/src/contexts/useEventOperations.ts
  packages/react-ui/src/contexts/useEventSubscription.ts
  packages/react-ui/src/hooks/useResourceContent.ts
  packages/react-ui/src/index.ts
  packages/react-ui/src/lib/api-hooks.ts
  packages/react-ui/src/test-utils.tsx
  packages/react-ui/src/types/ApiClientManager.ts
Due: api-client, mcp-server, react-ui, frontend, @semiont/api-client, @semiont/react-ui

fix and simplify auth
  apps/frontend/src/__tests__/auth-token-integration.test.tsx
  apps/frontend/src/app/[locale]/know/layout.tsx
  apps/frontend/src/hooks/useAuthTokenManager.ts
  packages/react-ui/src/contexts/AuthTokenContext.tsx
  packages/react-ui/src/lib/api-hooks.ts
Due: react-ui, frontend, @semiont/react-ui

fix moderate and admin pages
  apps/frontend/src/app/[locale]/admin/layout.tsx
  apps/frontend/src/app/[locale]/moderate/layout.tsx
  packages/react-ui/src/lib/api-hooks.ts
Due: react-ui, frontend, @semiont/react-ui

more tests
  apps/frontend/src/__tests__/layout-providers.test.tsx
  packages/react-ui/src/lib/__tests__/api-hooks-auth.test.tsx
Due: none

fix inconsistent hook ordering
  packages/react-ui/src/features/resource-viewer/components/ResourceViewerPage.tsx
Due: react-ui, @semiont/react-ui

fix hook order
  packages/react-ui/src/components/resource/ResourceViewer.tsx
  packages/react-ui/src/components/resource/__tests__/ResourceViewer.mode-switch.test.tsx
Due: react-ui, @semiont/react-ui

fix hook order (for real?)
  packages/react-ui/src/components/resource/ResourceViewer.tsx
Due: react-ui, @semiont/react-ui

check for hook ordering in compliance script
  scripts/audit-all-compliance.sh
  scripts/compliance/audit-hooks-ordering.ts
Due: none

pass auth token to resourceEvents
  packages/react-ui/src/hooks/useResourceEvents.ts
Due: react-ui, @semiont/react-ui

repair 'delete annotation'
  packages/react-ui/src/contexts/ResourceAnnotationsContext.tsx
  packages/react-ui/src/features/resource-viewer/components/ResourceViewerPage.tsx
  packages/react-ui/src/hooks/useAnnotationFlow.ts
Due: react-ui, @semiont/react-ui

tests for annotation deletion
  packages/react-ui/src/features/resource-viewer/__tests__/AnnotationDeletionIntegration.test.tsx
Due: none

fix tests
  packages/react-ui/src/components/resource/__tests__/ResourceViewer.mode-switch.test.tsx
Due: none

fix failures found by tests
  packages/api-client/src/client.ts
  packages/api-client/src/utils/fuzzy-anchor.ts
Due: api-client, @semiont/api-client

fix tests relating to apiClientManager removal
  packages/react-ui/src/contexts/__tests__/ApiClientContext.test.tsx
  packages/react-ui/src/features/resource-viewer/__tests__/DetectionFlowBug.test.tsx
  packages/react-ui/src/features/resource-viewer/__tests__/DetectionFlowIntegration.test.tsx
  packages/react-ui/src/features/resource-viewer/__tests__/DetectionProgressDismissal.test.tsx
  packages/react-ui/src/features/resource-viewer/__tests__/GenerationFlowIntegration.test.tsx
  packages/react-ui/src/features/resource-viewer/__tests__/ResourceViewerPage.test.tsx
  packages/react-ui/src/features/resource-viewer/__tests__/detection-progress-flow.test.tsx
  packages/react-ui/src/hooks/__tests__/useGenerationProgress.test.ts
Due: none

fix pdf test
  packages/react-ui/src/components/pdf-annotation/__tests__/PdfAnnotationCanvas.test.tsx
Due: none

clean up dependency arrays
  packages/react-ui/src/contexts/useEventSubscription.ts
  packages/react-ui/src/hooks/useGenerationFlow.ts
Due: react-ui, @semiont/react-ui

fix architecture compliance warnings
  packages/react-ui/src/components/resource/panels/DetectSection.tsx
  packages/react-ui/src/features/resource-viewer/components/ResourceViewerPage.tsx
  packages/react-ui/src/hooks/useAnnotationFlow.ts
  packages/react-ui/src/hooks/useDetectionFlow.ts
  packages/react-ui/src/hooks/useGenerationFlow.ts
  packages/react-ui/src/hooks/useGenerationProgress.ts
  packages/react-ui/src/hooks/usePanelNavigation.ts
  scripts/compliance/docs/TENETS-REACT-UI.md
Due: react-ui, @semiont/react-ui

fix detection bugs
  packages/react-ui/src/features/resource-viewer/__tests__/AnnotationDeletionIntegration.test.tsx
  packages/react-ui/src/features/resource-viewer/components/ResourceViewerPage.tsx
  packages/react-ui/src/hooks/useAnnotationFlow.ts
Due: react-ui, @semiont/react-ui

fold useAnnotationFlow into useDetectionFlow
  packages/react-ui/src/features/resource-viewer/__tests__/AnnotationDeletionIntegration.test.tsx
  packages/react-ui/src/features/resource-viewer/components/ResourceViewerPage.tsx
  packages/react-ui/src/hooks/useAnnotationFlow.ts
  packages/react-ui/src/hooks/useDetectionFlow.ts
  packages/react-ui/src/index.ts
Due: react-ui, @semiont/react-ui

move some events from useEventOperations to useDetectionFlow
  packages/react-ui/src/contexts/useEventOperations.ts
  packages/react-ui/src/hooks/useDetectionFlow.ts
Due: react-ui, @semiont/react-ui

move generation:start to useGenerationFlow; split job:cancel-requested between useGenerationFlow and useDetectionFlow
  packages/react-ui/src/contexts/useEventOperations.ts
  packages/react-ui/src/hooks/useDetectionFlow.ts
  packages/react-ui/src/hooks/useGenerationFlow.ts
Due: react-ui, @semiont/react-ui

move reference:create-manual to useGenerationFlow
  packages/react-ui/src/contexts/useEventOperations.ts
  packages/react-ui/src/hooks/useGenerationFlow.ts
Due: react-ui, @semiont/react-ui

fix typecheck
  packages/react-ui/src/contexts/useEventOperations.ts
Due: react-ui, @semiont/react-ui

rename useEventOperations to useResolutionFlow (for the two handlers that remain)
  packages/react-ui/src/contexts/EventBusContext.tsx
  packages/react-ui/src/contexts/useResolutionFlow.ts
  packages/react-ui/src/features/resource-viewer/__tests__/AnnotationDeletionIntegration.test.tsx
  packages/react-ui/src/features/resource-viewer/__tests__/DetectionFlowIntegration.test.tsx
  packages/react-ui/src/features/resource-viewer/__tests__/DetectionProgressDismissal.test.tsx
  packages/react-ui/src/features/resource-viewer/__tests__/GenerationFlowIntegration.test.tsx
  packages/react-ui/src/features/resource-viewer/__tests__/detection-progress-flow.test.tsx
  packages/react-ui/src/hooks/useDetectionFlow.ts
  packages/react-ui/src/hooks/useGenerationProgress.ts
  packages/react-ui/src/index.ts
Due: react-ui, @semiont/react-ui

organize useResolutionFlow
  packages/react-ui/src/contexts/EventBusContext.tsx
  packages/react-ui/src/contexts/useResolutionFlow.ts
  packages/react-ui/src/features/resource-viewer/components/ResourceViewerPage.tsx
  packages/react-ui/src/hooks/useDetectionFlow.ts
  packages/react-ui/src/hooks/useGenerationFlow.ts
Due: react-ui, @semiont/react-ui

clean up comment
  packages/react-ui/src/contexts/useResolutionFlow.ts
Due: react-ui, @semiont/react-ui

create useContextRetrievalFlow
  apps/frontend/src/components/modals/GenerationConfigModal.tsx
  packages/react-ui/src/contexts/EventBusContext.tsx
  packages/react-ui/src/features/resource-viewer/components/ResourceViewerPage.tsx
  packages/react-ui/src/hooks/useContextRetrievalFlow.ts
  packages/react-ui/src/hooks/useGenerationFlow.ts
  packages/react-ui/src/index.ts
Due: react-ui, frontend, @semiont/react-ui

rm dead/duplicate code
  apps/frontend/src/app/[locale]/admin/devops/page.tsx
  apps/frontend/src/app/[locale]/admin/security/client.tsx
  apps/frontend/src/app/[locale]/admin/users/client.tsx
  apps/frontend/src/app/[locale]/know/compose/page.tsx
  apps/frontend/src/app/[locale]/know/discover/page.tsx
  apps/frontend/src/app/[locale]/moderate/entity-tags/page.tsx
  apps/frontend/src/app/[locale]/moderate/recent/page.tsx
  apps/frontend/src/app/[locale]/moderate/tag-schemas/page.tsx
  packages/react-ui/src/hooks/__tests__/useToolbar.test.ts
  packages/react-ui/src/hooks/__tests__/useUI.test.ts
  packages/react-ui/src/hooks/usePanelNavigation.ts
  packages/react-ui/src/hooks/useToolbar.ts
  packages/react-ui/src/hooks/useUI.ts
  packages/react-ui/src/index.ts
Due: react-ui, frontend, @semiont/react-ui

useFormattedTime → formatTime; useTheme → singleton ThemeContext
  apps/frontend/src/app/__tests__/providers.test.tsx
  apps/frontend/src/app/providers.tsx
  apps/frontend/src/components/ThemeInitializer.tsx
  apps/frontend/src/components/UserPanel.tsx
  packages/react-ui/src/components/SessionExpiryBanner.tsx
  packages/react-ui/src/components/SessionTimer.tsx
  packages/react-ui/src/components/__tests__/SessionTimer.test.tsx
  packages/react-ui/src/contexts/ThemeContext.tsx
  packages/react-ui/src/contexts/__tests__/ThemeContext.test.tsx
  packages/react-ui/src/features/resource-viewer/__tests__/ResourceViewerPage.test.tsx
  packages/react-ui/src/features/resource-viewer/components/ResourceViewerPage.tsx
  packages/react-ui/src/hooks/__tests__/formatTime.test.ts
  packages/react-ui/src/hooks/__tests__/useFormattedTime.test.ts
  packages/react-ui/src/index.ts
  packages/react-ui/src/lib/formatTime.ts
Due: react-ui, frontend, @semiont/react-ui

cleanup for formattedTime and theme
  apps/frontend/src/components/__tests__/UserPanel.test.tsx
Due: none

add resources.representation to React Query
  packages/react-ui/src/hooks/useResourceContent.ts
  packages/react-ui/src/lib/api-hooks.ts
  packages/react-ui/src/lib/query-keys.ts
Due: react-ui, @semiont/react-ui

remove old query key alias
  packages/react-ui/src/features/resource-viewer/components/ResourceViewerPage.tsx
  packages/react-ui/src/lib/__tests__/query-keys.test.ts
  packages/react-ui/src/lib/api-hooks.ts
  packages/react-ui/src/lib/query-keys.ts
Due: react-ui, @semiont/react-ui
