Repository The-AI-Alliance/semiont: changes, and which Codecov flags are due for each by the changed paths.
All: api-client, content, core, event-sourcing, graph, inference, jobs, make-meaning, mcp-server, ontology, react-ui, frontend, backend, @semiont/core, @semiont/api-client, @semiont/ontology, @semiont/content, @semiont/event-sourcing, @semiont/graph, @semiont/inference, @semiont/jobs, @semiont/make-meaning, @semiont/react-ui

codecov.yml:

# Codecov configuration for Semiont monorepo
# https://docs.codecov.io/docs/codecovyml-reference

codecov:
  # Require CI to finish before processing coverage
  require_ci_to_pass: true

  # Wait for all coverage reports before commenting
  notify:
    wait_for_ci: true

coverage:
  # Overall project coverage settings
  status:
    # Project-wide coverage status
    project:
      default:
        # Coverage can drop by 1% without failing
        threshold: 1%
        target: 70%  # Target 70% overall coverage

    # Per-PR patch coverage
    patch:
      default:
        # New code should have at least 80% coverage
        target: 80%
        threshold: 5%

  # Round coverage to 2 decimal places
  precision: 2
  round: down

  # Coverage range for color coding
  range: "50...90"

# Component-specific coverage configuration
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 1%
  individual_components:
    # Core packages with higher coverage requirements
    - component_id: core
      name: "@semiont/core"
      paths:
        - packages/core/**
    - component_id: api-client
      name: "@semiont/api-client"
      paths:
        - packages/api-client/**
    - component_id: ontology
      name: "@semiont/ontology"
      paths:
        - packages/ontology/**
    - component_id: content
      name: "@semiont/content"
      paths:
        - packages/content/**
    - component_id: event-sourcing
      name: "@semiont/event-sourcing"
      paths:
        - packages/event-sourcing/**
    - component_id: graph
      name: "@semiont/graph"
      paths:
        - packages/graph/**
    - component_id: inference
      name: "@semiont/inference"
      paths:
        - packages/inference/**
    - component_id: jobs
      name: "@semiont/jobs"
      paths:
        - packages/jobs/**
    - component_id: make-meaning
      name: "@semiont/make-meaning"
      paths:
        - packages/make-meaning/**
    - component_id: react-ui
      name: "@semiont/react-ui"
      paths:
        - packages/react-ui/**

# Ignore certain files from coverage
ignore:
  # Test files
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/*.spec.tsx"
  - "**/test/**"
  - "**/tests/**"
  - "**/__tests__/**"
  - "**/test-utils/**"

  # Build artifacts
  - "**/dist/**"
  - "**/build/**"
  - "**/coverage/**"
  - "**/.next/**"

  # Config files
  - "**/*.config.ts"
  - "**/*.config.js"
  - "**/jest.setup.ts"

  # Generated files
  - "**/generated/**"
  - "packages/api-client/src/types.ts"

  # Examples and demos
  - "**/examples/**"
  - "**/demo/**"

  # Scripts
  - "scripts/**"

# Comment configuration
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Flag configuration for different test suites
flags:
  # Individual package flags
  api-client:
    paths:
      - packages/api-client/**
    carryforward: true

  content:
    paths:
      - packages/content/**
    carryforward: true

  core:
    paths:
      - packages/core/**
    carryforward: true

  event-sourcing:
    paths:
      - packages/event-sourcing/**
    carryforward: true

  graph:
    paths:
      - packages/graph/**
    carryforward: true

  inference:
    paths:
      - packages/inference/**
    carryforward: true

  jobs:
    paths:
      - packages/jobs/**
    carryforward: true

  make-meaning:
    paths:
      - packages/make-meaning/**
    carryforward: true

  mcp-server:
    paths:
      - packages/mcp-server/**
    carryforward: true

  ontology:
    paths:
      - packages/ontology/**
    carryforward: true

  react-ui:
    paths:
      - packages/react-ui/**
    carryforward: true

  # App flags (for future use)
  frontend:
    paths:
      - apps/frontend/**
    carryforward: true

  backend:
    paths:
      - apps/backend/**
    carryforward: true

roll back pg-boss usage -- not yet needed
  apps/backend/docs/ARCHITECTURE.md
  apps/backend/docs/REAL-TIME.md
  docs/ARCHITECTURE.md
  packages/jobs/README.md
  packages/jobs/package.json
  packages/jobs/src/index.ts
  packages/jobs/src/pgboss-job-queue.ts
  packages/make-meaning/src/service.ts
Due: jobs, make-meaning, backend, @semiont/jobs, @semiont/make-meaning

worker container
  apps/backend/docs/ARCHITECTURE.md
  apps/backend/docs/REAL-TIME.md
  apps/backend/src/__tests__/routes/bus.test.ts
  apps/backend/src/index.ts
  apps/backend/src/routes/bus.ts
  apps/backend/src/routes/jobs/index.ts
  docs/ARCHITECTURE.md
  packages/api-client/src/view-models/domain/__tests__/actor-vm.test.ts
  packages/api-client/src/view-models/domain/__tests__/worker-vm.test.ts
  packages/api-client/src/view-models/domain/actor-vm.ts
  packages/api-client/src/view-models/domain/worker-vm.ts
  packages/api-client/src/view-models/index.ts
  packages/jobs/README.md
  packages/jobs/package.json
  packages/jobs/src/worker-main.ts
  packages/jobs/tsup.config.ts
  packages/make-meaning/src/service.ts
Due: api-client, jobs, make-meaning, backend, @semiont/api-client, @semiont/jobs, @semiont/make-meaning

event bus gateway Phase 1
  apps/backend/src/__tests__/routes/bus.test.ts
  apps/backend/src/routes/auth.ts
  apps/backend/src/routes/jobs/index.ts
  packages/api-client/src/view-models/domain/__tests__/actor-vm.test.ts
  packages/api-client/src/view-models/domain/actor-vm.ts
  packages/jobs/src/worker-main.ts
  specs/src/openapi.json
  specs/src/paths/api_tokens_worker.json
Due: api-client, jobs, backend, @semiont/api-client, @semiont/jobs

smelter container
  apps/backend/src/cli/rebuild-vectors.ts
  package-lock.json
  packages/api-client/src/view-models/domain/__tests__/smelter-actor-vm.test.ts
  packages/api-client/src/view-models/domain/smelter-actor-vm.ts
  packages/api-client/src/view-models/index.ts
  packages/jobs/package.json
  packages/jobs/src/smelter-main.ts
  packages/jobs/tsup.config.ts
  packages/make-meaning/src/__tests__/scripting-examples/annotate-entities.test.ts
  packages/make-meaning/src/__tests__/scripting-examples/batch-annotate-entities.test.ts
  packages/make-meaning/src/__tests__/service.test.ts
  packages/make-meaning/src/index.ts
  packages/make-meaning/src/knowledge-base.ts
  packages/make-meaning/src/service.ts
Due: api-client, jobs, make-meaning, backend, @semiont/api-client, @semiont/jobs, @semiont/make-meaning

add @semiont/vectors to package-tests build
  .github/workflows/package-tests.yml
Due: none

fixes for separate worker pool and smelter containers
  apps/backend/src/logger.ts
  apps/backend/src/middleware/request-logger.ts
  apps/backend/src/routes/auth.ts
  package-lock.json
  packages/api-client/src/view-models/domain/__tests__/actor-vm.test.ts
  packages/api-client/src/view-models/domain/__tests__/smelter-actor-vm.test.ts
  packages/api-client/src/view-models/domain/__tests__/worker-vm.test.ts
  packages/api-client/src/view-models/domain/actor-vm.ts
  packages/api-client/src/view-models/domain/worker-vm.ts
  packages/core/src/config/toml-loader.ts
  packages/core/src/did-utils.ts
  packages/event-sourcing/src/views/view-materializer.ts
  packages/jobs/package.json
  packages/jobs/src/__tests__/job-queue.test.ts
  packages/jobs/src/fs-job-queue.ts
  packages/jobs/src/logger.ts
  packages/jobs/src/processors.ts
  packages/jobs/src/smelter-main.ts
  packages/jobs/src/worker-main.ts
  packages/jobs/src/worker-process.ts
  packages/make-meaning/src/graph/consumer.ts
  scripts/ci/local-build.sh
Due: api-client, core, event-sourcing, jobs, make-meaning, backend, @semiont/core, @semiont/api-client, @semiont/event-sourcing, @semiont/jobs, @semiont/make-meaning

validate payloads to /bus/emit
  apps/backend/src/__tests__/routes/bus.test.ts
  apps/backend/src/routes/bus.ts
Due: backend

fix test
  packages/core/src/__tests__/did-utils.test.ts
Due: none

fixes for separate worker pool and smelter containers (#652)
  apps/backend/src/__tests__/routes/bus.test.ts
  apps/backend/src/logger.ts
  apps/backend/src/middleware/request-logger.ts
  apps/backend/src/routes/auth.ts
  apps/backend/src/routes/bus.ts
  package-lock.json
  packages/api-client/src/view-models/domain/__tests__/actor-vm.test.ts
  packages/api-client/src/view-models/domain/__tests__/smelter-actor-vm.test.ts
  packages/api-client/src/view-models/domain/__tests__/worker-vm.test.ts
  packages/api-client/src/view-models/domain/actor-vm.ts
  packages/api-client/src/view-models/domain/worker-vm.ts
  packages/core/src/__tests__/did-utils.test.ts
  packages/core/src/config/toml-loader.ts
  packages/core/src/did-utils.ts
  packages/event-sourcing/src/views/view-materializer.ts
  packages/jobs/package.json
  packages/jobs/src/__tests__/job-queue.test.ts
  packages/jobs/src/fs-job-queue.ts
  packages/jobs/src/logger.ts
  packages/jobs/src/processors.ts
  packages/jobs/src/smelter-main.ts
  packages/jobs/src/worker-main.ts
  packages/jobs/src/worker-process.ts
  packages/make-meaning/src/graph/consumer.ts
  scripts/ci/local-build.sh
Due: api-client, core, event-sourcing, jobs, make-meaning, backend, @semiont/core, @semiont/api-client, @semiont/event-sourcing, @semiont/jobs, @semiont/make-meaning

collapse backend routes to generic event bus handlers; steps 4, 5
  apps/backend/src/__tests__/route-auth-coverage.test.ts
  apps/backend/src/__tests__/w3c-uri-auth.test.ts
  apps/backend/src/handlers/annotation-assembly.ts
  apps/backend/src/handlers/annotation-lookups.ts
  apps/backend/src/handlers/job-commands.ts
  apps/backend/src/index.ts
  apps/backend/src/routes/annotations/index.ts
  apps/backend/src/routes/annotations/operations.ts
  apps/backend/src/routes/annotations/routes/get-uri.ts
  apps/backend/src/routes/annotations/routes/history.ts
  apps/backend/src/routes/annotations/shared.ts
  apps/backend/src/routes/bus.ts
  apps/backend/src/routes/resources/index.ts
  apps/backend/src/routes/resources/routes/create-annotation.ts
  packages/api-client/src/client.ts
  packages/api-client/src/namespaces/__tests__/commands.test.ts
  packages/api-client/src/namespaces/mark.ts
  packages/core/src/bus-protocol.ts
  specs/src/components/schemas/BrowseAnnotationContextRequest.json
  specs/src/components/schemas/GatherSummaryRequest.json
  specs/src/components/schemas/MarkCreateRequest.json
  specs/src/openapi.json
  specs/src/paths/api_annotations_{id}_context.json
  specs/src/paths/api_annotations_{id}_summary.json
  specs/src/paths/resources_{resourceId}_annotations_{annotationId}_history.json
Due: api-client, core, backend, @semiont/core, @semiont/api-client

fix typecheck
  packages/react-ui/src/components/resource/panels/ReferencesPanel.tsx
Due: react-ui, @semiont/react-ui

fix typecheck
  packages/react-ui/src/components/resource/panels/__tests__/ReferenceEntry.test.tsx
Due: none

fix typecheck
  apps/backend/src/handlers/annotation-lookups.ts
  apps/backend/src/handlers/job-commands.ts
Due: backend

fix typecheck
  packages/api-client/src/client.ts
Due: api-client, @semiont/api-client

fix failing tests
  apps/backend/src/__tests__/integration/incoming-references.test.ts
Due: none

unified bus actor
  apps/backend/src/routes/bus.ts
  apps/backend/src/routes/resources/index.ts
  apps/backend/src/routes/resources/routes/__tests__/event-stream-enrichment.test.ts
  apps/backend/src/routes/resources/routes/event-stream-enrichment.ts
  apps/backend/src/routes/resources/routes/events-stream.ts
  apps/frontend/src/__tests__/layout-providers.test.tsx
  apps/frontend/src/__tests__/protected-layouts-auth-shell.test.tsx
  apps/frontend/src/app/[locale]/know/layout.tsx
  packages/api-client/src/__tests__/job-replay-bridge.test.ts
  packages/api-client/src/__tests__/sse-client.test.ts
  packages/api-client/src/client.ts
  packages/api-client/src/index.ts
  packages/api-client/src/namespaces/__tests__/browse.test.ts
  packages/api-client/src/namespaces/__tests__/commands.test.ts
  packages/api-client/src/sse/index.ts
  packages/api-client/src/sse/job-replay-bridge.ts
  packages/api-client/src/sse/stream.ts
  packages/api-client/src/sse/types.ts
  packages/api-client/src/view-models/domain/__tests__/actor-vm.test.ts
  packages/api-client/src/view-models/domain/actor-vm.ts
  packages/api-client/src/view-models/pages/__tests__/resource-viewer-page-vm.test.ts
  packages/api-client/src/view-models/pages/resource-viewer-page-vm.ts
  packages/event-sourcing/src/event-store.ts
  packages/event-sourcing/src/index.ts
  packages/make-meaning/src/event-enrichment.ts
  packages/make-meaning/src/service.ts
  packages/react-ui/src/features/resource-viewer/__tests__/ResourceViewerPage.test.tsx
  packages/react-ui/src/features/resource-viewer/components/ResourceViewerPage.tsx
  packages/react-ui/src/hooks/__tests__/useResourceEvents.test.ts
  packages/react-ui/src/hooks/__tests__/useStoreTokenSync.test.ts
  packages/react-ui/src/hooks/useAttentionStream.ts
  packages/react-ui/src/hooks/useGlobalEvents.ts
  packages/react-ui/src/hooks/useJobReplayBridge.ts
  packages/react-ui/src/hooks/useResourceEvents.ts
  packages/react-ui/src/hooks/useStoreTokenSync.ts
  packages/react-ui/src/index.ts
  specs/src/openapi.json
  specs/src/paths/resources_{id}_events_stream.json
Due: api-client, event-sourcing, make-meaning, react-ui, frontend, backend, @semiont/api-client, @semiont/event-sourcing, @semiont/make-meaning, @semiont/react-ui

fix typecheck
  apps/cli/src/core/commands/listen.ts
Due: none

StreamStatus
  apps/frontend/src/contexts/StreamStatusContext.tsx
  packages/react-ui/src/features/resource-viewer/components/ResourceViewerPage.tsx
Due: react-ui, frontend, @semiont/react-ui

unified bus actor (#654)
  apps/backend/src/routes/bus.ts
  apps/backend/src/routes/resources/index.ts
  apps/backend/src/routes/resources/routes/__tests__/event-stream-enrichment.test.ts
  apps/backend/src/routes/resources/routes/event-stream-enrichment.ts
  apps/backend/src/routes/resources/routes/events-stream.ts
  apps/cli/src/core/commands/listen.ts
  apps/frontend/src/__tests__/layout-providers.test.tsx
  apps/frontend/src/__tests__/protected-layouts-auth-shell.test.tsx
  apps/frontend/src/app/[locale]/know/layout.tsx
  apps/frontend/src/contexts/StreamStatusContext.tsx
  packages/api-client/src/__tests__/job-replay-bridge.test.ts
  packages/api-client/src/__tests__/sse-client.test.ts
  packages/api-client/src/client.ts
  packages/api-client/src/index.ts
  packages/api-client/src/namespaces/__tests__/browse.test.ts
  packages/api-client/src/namespaces/__tests__/commands.test.ts
  packages/api-client/src/sse/index.ts
  packages/api-client/src/sse/job-replay-bridge.ts
  packages/api-client/src/sse/stream.ts
  packages/api-client/src/sse/types.ts
  packages/api-client/src/view-models/domain/__tests__/actor-vm.test.ts
  packages/api-client/src/view-models/domain/actor-vm.ts
  packages/api-client/src/view-models/pages/__tests__/resource-viewer-page-vm.test.ts
  packages/api-client/src/view-models/pages/resource-viewer-page-vm.ts
  packages/event-sourcing/src/event-store.ts
  packages/event-sourcing/src/index.ts
  packages/make-meaning/src/event-enrichment.ts
  packages/make-meaning/src/service.ts
  packages/react-ui/src/features/resource-viewer/__tests__/ResourceViewerPage.test.tsx
  packages/react-ui/src/features/resource-viewer/components/ResourceViewerPage.tsx
  packages/react-ui/src/hooks/__tests__/useResourceEvents.test.ts
  packages/react-ui/src/hooks/__tests__/useStoreTokenSync.test.ts
  packages/react-ui/src/hooks/useAttentionStream.ts
  packages/react-ui/src/hooks/useGlobalEvents.ts
  packages/react-ui/src/hooks/useJobReplayBridge.ts
  packages/react-ui/src/hooks/useResourceEvents.ts
  packages/react-ui/src/hooks/useStoreTokenSync.ts
  packages/react-ui/src/index.ts
  specs/src/openapi.json
  specs/src/paths/resources_{id}_events_stream.json
Due: api-client, event-sourcing, make-meaning, react-ui, frontend, backend, @semiont/api-client, @semiont/event-sourcing, @semiont/make-meaning, @semiont/react-ui

update docs
  apps/backend/docs/DATA-FLOW.md
  apps/backend/docs/EVENT-BRIDGING.md
  apps/backend/docs/REAL-TIME.md
  apps/backend/docs/STREAMS.md
  apps/cli/docs/ADDING_COMMANDS.md
  apps/frontend/docs/ARCHITECTURE.md
  apps/frontend/docs/COMPONENT-LIBRARY.md
  docs/flows/BIND.md
  docs/flows/YIELD.md
  docs/services/PROXY.md
  packages/api-client/README.md
  packages/api-client/docs/Usage.md
  packages/react-ui/docs/ARCHITECTURE.md
  packages/react-ui/docs/EVENTS.md
  packages/react-ui/docs/SERVICE-HOOK-COMPONENT.md
Due: api-client, react-ui, frontend, backend, @semiont/api-client, @semiont/react-ui

update comments
  packages/api-client/src/namespaces/types.ts
Due: api-client, @semiont/api-client

invalidate all active caches so live queries refetch
  packages/api-client/src/namespaces/browse.ts
Due: api-client, @semiont/api-client

test coverage
  packages/api-client/src/__tests__/client.test.ts
Due: none

test coverage
  packages/jobs/src/__tests__/processors.test.ts
Due: none

update docs
  apps/frontend/docs/API-INTEGRATION.md
  apps/frontend/docs/ARCHITECTURE.md
  apps/frontend/docs/COMPONENT-LIBRARY.md
  apps/frontend/docs/RESOURCE-PROXY.md
  docs/flows/BECKON.md
  docs/skills/semiont-assess/SKILL.md
  docs/skills/semiont-comment/SKILL.md
  docs/skills/semiont-highlight/SKILL.md
  docs/skills/semiont-wiki/SKILL.md
  packages/api-client/README.md
  packages/api-client/docs/API-Reference.md
  packages/api-client/docs/Usage.md
  packages/make-meaning/docs/SCRIPTING.md
  packages/make-meaning/docs/examples.md
  packages/mcp-server/README.md
  packages/react-ui/README.md
  packages/react-ui/docs/API-INTEGRATION.md
  packages/react-ui/docs/PROVIDERS.md
  packages/react-ui/docs/TESTING.md
Due: api-client, make-meaning, mcp-server, react-ui, frontend, @semiont/api-client, @semiont/make-meaning, @semiont/react-ui

update docs
  apps/backend/docs/REAL-TIME.md
  docs/flows/BECKON.md
  docs/flows/BIND.md
  docs/flows/GATHER.md
  docs/flows/MARK.md
  docs/flows/MATCHER.md
  docs/flows/YIELD.md
Due: backend

wire up cross-participant beckon
  packages/api-client/src/client.ts
Due: api-client, @semiont/api-client

scope-related fixes
  apps/backend/src/routes/bus.ts
  packages/api-client/src/client.ts
  packages/api-client/src/view-models/domain/actor-vm.ts
  packages/core/src/bus-protocol.ts
  specs/src/components/schemas/BindBodyUpdated.json
  specs/src/openapi.json
Due: api-client, core, backend, @semiont/core, @semiont/api-client

core bus-protocol as single source of truth
  apps/backend/src/__tests__/routes/bus.test.ts
  apps/backend/src/routes/bus.ts
  packages/api-client/src/__tests__/client.test.ts
  packages/api-client/src/client.ts
  packages/api-client/src/namespaces/__tests__/commands.test.ts
  packages/api-client/src/namespaces/gather.ts
  packages/api-client/src/view-models/domain/__tests__/actor-vm.test.ts
  packages/core/src/bus-protocol.ts
  packages/core/src/index.ts
  specs/src/components/schemas/GatherAnnotationRequest.json
  specs/src/components/schemas/GatherResourceRequest.json
Due: api-client, core, backend, @semiont/core, @semiont/api-client

bus simplification phases 1-3
  apps/backend/docs/REAL-TIME.md
  apps/backend/docs/STREAMS.md
  apps/backend/src/handlers/bind-update-body.ts
  apps/backend/src/index.ts
  apps/backend/src/routes/bus.ts
  packages/api-client/src/__tests__/client.test.ts
  packages/api-client/src/client.ts
  packages/api-client/src/namespaces/__tests__/commands.test.ts
  packages/api-client/src/namespaces/bind.ts
  packages/api-client/src/namespaces/yield.ts
  packages/api-client/src/view-models/domain/__tests__/worker-vm.test.ts
  packages/api-client/src/view-models/domain/actor-vm.ts
  packages/api-client/src/view-models/domain/worker-vm.ts
  packages/api-client/src/view-models/flows/__tests__/bind-vm.test.ts
  packages/api-client/src/view-models/flows/bind-vm.ts
  packages/api-client/src/view-models/index.ts
  packages/api-client/src/view-models/pages/resource-viewer-page-vm.ts
  packages/core/src/bus-protocol.ts
  packages/core/src/index.ts
  packages/jobs/src/workers/assessment-annotation-worker.ts
  packages/jobs/src/workers/comment-annotation-worker.ts
  packages/jobs/src/workers/highlight-annotation-worker.ts
  packages/jobs/src/workers/reference-annotation-worker.ts
  packages/jobs/src/workers/tag-annotation-worker.ts
  packages/make-meaning/src/__tests__/binder.test.ts
  packages/make-meaning/src/binder.ts
  packages/make-meaning/src/gatherer.ts
  packages/make-meaning/src/matcher.ts
  packages/react-ui/src/contexts/EventBusContext.tsx
  packages/react-ui/src/index.ts
Due: api-client, core, jobs, make-meaning, react-ui, backend, @semiont/core, @semiont/api-client, @semiont/jobs, @semiont/make-meaning, @semiont/react-ui

fix bind and mark creation flows
  apps/backend/src/handlers/annotation-assembly.ts
  apps/backend/src/handlers/bind-update-body.ts
  packages/api-client/src/client.ts
  packages/core/src/bus-protocol.ts
  packages/make-meaning/src/stower.ts
  specs/src/components/schemas/BindBodyUpdated.json
  specs/src/components/schemas/CommandError.json
  specs/src/components/schemas/MarkCreateCommand.json
  specs/src/openapi.json
Due: api-client, core, make-meaning, backend, @semiont/core, @semiont/api-client, @semiont/make-meaning

separate payload types
  packages/core/src/annotation-assembly.ts
  packages/core/src/bus-protocol.ts
  packages/core/src/index.ts
  packages/core/src/payload-types.ts
Due: core, @semiont/core

soften subscribeToResource so same-resource re-entry is a ref-counted no-op, different-resource re-entry still throws
  packages/api-client/src/__tests__/client.test.ts
  packages/api-client/src/client.ts
Due: api-client, @semiont/api-client

move yield:progress to global; write integration tests
  packages/api-client/src/__tests__/client.test.ts
  packages/api-client/src/client.ts
  packages/api-client/src/view-models/domain/__tests__/worker-vm.test.ts
  packages/core/src/bus-protocol.ts
  packages/jobs/src/workers/generation-worker.ts
Due: api-client, core, jobs, @semiont/core, @semiont/api-client, @semiont/jobs

fix test
  packages/api-client/src/namespaces/__tests__/commands.test.ts
Due: none

update tests
  packages/make-meaning/src/__tests__/annotation-operations.test.ts
  packages/make-meaning/src/__tests__/gatherer.test.ts
  packages/make-meaning/src/__tests__/llm-context.test.ts
  packages/make-meaning/src/__tests__/matcher.test.ts
Due: none
