Repository The-AI-Alliance/semiont: changes, and which Codecov flags are due for each by the changed paths.
All: api-client, content, core, event-sourcing, graph, inference, jobs, make-meaning, mcp-server, ontology, react-ui, frontend, backend, @semiont/core, @semiont/api-client, @semiont/ontology, @semiont/content, @semiont/event-sourcing, @semiont/graph, @semiont/inference, @semiont/jobs, @semiont/make-meaning, @semiont/react-ui

codecov.yml:

# Codecov configuration for Semiont monorepo
# https://docs.codecov.io/docs/codecovyml-reference

codecov:
  # Require CI to finish before processing coverage
  require_ci_to_pass: true

  # Wait for all coverage reports before commenting
  notify:
    wait_for_ci: true

coverage:
  # Overall project coverage settings
  status:
    # Project-wide coverage status
    project:
      default:
        # Coverage can drop by 1% without failing
        threshold: 1%
        target: 70%  # Target 70% overall coverage

    # Per-PR patch coverage
    patch:
      default:
        # New code should have at least 80% coverage
        target: 80%
        threshold: 5%

  # Round coverage to 2 decimal places
  precision: 2
  round: down

  # Coverage range for color coding
  range: "50...90"

# Component-specific coverage configuration
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 1%
  individual_components:
    # Core packages with higher coverage requirements
    - component_id: core
      name: "@semiont/core"
      paths:
        - packages/core/**
    - component_id: api-client
      name: "@semiont/api-client"
      paths:
        - packages/api-client/**
    - component_id: ontology
      name: "@semiont/ontology"
      paths:
        - packages/ontology/**
    - component_id: content
      name: "@semiont/content"
      paths:
        - packages/content/**
    - component_id: event-sourcing
      name: "@semiont/event-sourcing"
      paths:
        - packages/event-sourcing/**
    - component_id: graph
      name: "@semiont/graph"
      paths:
        - packages/graph/**
    - component_id: inference
      name: "@semiont/inference"
      paths:
        - packages/inference/**
    - component_id: jobs
      name: "@semiont/jobs"
      paths:
        - packages/jobs/**
    - component_id: make-meaning
      name: "@semiont/make-meaning"
      paths:
        - packages/make-meaning/**
    - component_id: react-ui
      name: "@semiont/react-ui"
      paths:
        - packages/react-ui/**

# Ignore certain files from coverage
ignore:
  # Test files
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/*.spec.tsx"
  - "**/test/**"
  - "**/tests/**"
  - "**/__tests__/**"
  - "**/test-utils/**"

  # Build artifacts
  - "**/dist/**"
  - "**/build/**"
  - "**/coverage/**"
  - "**/.next/**"

  # Config files
  - "**/*.config.ts"
  - "**/*.config.js"
  - "**/jest.setup.ts"

  # Generated files
  - "**/generated/**"
  - "packages/api-client/src/types.ts"

  # Examples and demos
  - "**/examples/**"
  - "**/demo/**"

  # Scripts
  - "scripts/**"

# Comment configuration
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Flag configuration for different test suites
flags:
  # Individual package flags
  api-client:
    paths:
      - packages/api-client/**
    carryforward: true

  content:
    paths:
      - packages/content/**
    carryforward: true

  core:
    paths:
      - packages/core/**
    carryforward: true

  event-sourcing:
    paths:
      - packages/event-sourcing/**
    carryforward: true

  graph:
    paths:
      - packages/graph/**
    carryforward: true

  inference:
    paths:
      - packages/inference/**
    carryforward: true

  jobs:
    paths:
      - packages/jobs/**
    carryforward: true

  make-meaning:
    paths:
      - packages/make-meaning/**
    carryforward: true

  mcp-server:
    paths:
      - packages/mcp-server/**
    carryforward: true

  ontology:
    paths:
      - packages/ontology/**
    carryforward: true

  react-ui:
    paths:
      - packages/react-ui/**
    carryforward: true

  # App flags (for future use)
  frontend:
    paths:
      - apps/frontend/**
    carryforward: true

  backend:
    paths:
      - apps/backend/**
    carryforward: true

improvements to verdaccio handling in local build
  scripts/ci/local-build.sh
Due: none

update package-lock
  package-lock.json
Due: none

rm unused -kb param; fix formatting
  scripts/ci/local-build.sh
Due: none

fix KB form field widths
  apps/frontend/src/components/KnowledgeBasePanel.tsx
Due: frontend

fix handling of missing files
  packages/make-meaning/src/smelter.ts
Due: make-meaning, @semiont/make-meaning

RESET location
  scripts/ci/local-build.sh
Due: none

graph consumer writes storageUri when creating the node
  packages/make-meaning/src/graph/consumer.ts
Due: make-meaning, @semiont/make-meaning

pre-release bug fixes (#646)
  apps/frontend/src/components/KnowledgeBasePanel.tsx
  package-lock.json
  packages/make-meaning/src/graph/consumer.ts
  packages/make-meaning/src/smelter.ts
  scripts/ci/local-build.sh
Due: make-meaning, frontend, @semiont/make-meaning

bump version to 0.4.20
  apps/backend/package.json
  apps/backend/package.publish.json
  apps/cli/package.json
  apps/desktop/package.json
  apps/frontend/package.json
  apps/frontend/package.publish.json
  package.json
  packages/api-client/package.json
  packages/content/package.json
  packages/core/package.json
  packages/event-sourcing/package.json
  packages/graph/package.json
  packages/inference/package.json
  packages/jobs/package.json
  packages/make-meaning/package.json
  packages/mcp-server/package.json
  packages/ontology/package.json
  packages/react-ui/package.json
  packages/test-utils/package.json
  packages/vectors/package.json
  version.json
Due: api-client, content, core, event-sourcing, graph, inference, jobs, make-meaning, mcp-server, ontology, react-ui, frontend, backend, @semiont/core, @semiont/api-client, @semiont/ontology, @semiont/content, @semiont/event-sourcing, @semiont/graph, @semiont/inference, @semiont/jobs, @semiont/make-meaning, @semiont/react-ui

update .semiont structure doc
  docs/PROJECT-LAYOUT.md
Due: none

fix race condition
  package-lock.json
  packages/event-sourcing/src/__tests__/view-manager.test.ts
  packages/event-sourcing/src/view-manager.ts
Due: event-sourcing, @semiont/event-sourcing

serializePerKey
  packages/core/src/__tests__/serialize-per-key.test.ts
  packages/core/src/index.ts
  packages/core/src/serialize-per-key.ts
  packages/event-sourcing/src/__tests__/view-manager.integration.test.ts
  packages/event-sourcing/src/view-manager.ts
  packages/make-meaning/src/gatherer.ts
  packages/make-meaning/src/graph/consumer.ts
  packages/make-meaning/src/smelter.ts
Due: core, event-sourcing, make-meaning, @semiont/core, @semiont/event-sourcing, @semiont/make-meaning

error serialization; offset logging
  apps/backend/src/routes/global-events-stream.ts
  apps/backend/src/routes/participants/routes/attention-stream.ts
  apps/backend/src/routes/resources/routes/events-stream.ts
  packages/core/src/index.ts
  packages/core/src/logger.ts
  packages/jobs/src/workers/assessment-annotation-worker.ts
  packages/jobs/src/workers/comment-annotation-worker.ts
  packages/jobs/src/workers/detection/entity-extractor.ts
  packages/jobs/src/workers/highlight-annotation-worker.ts
  packages/jobs/src/workers/tag-annotation-worker.ts
  packages/make-meaning/src/binder.ts
  packages/make-meaning/src/browser.ts
  packages/make-meaning/src/gatherer.ts
  packages/make-meaning/src/graph/consumer.ts
  packages/make-meaning/src/matcher.ts
  packages/make-meaning/src/smelter.ts
Due: core, jobs, make-meaning, backend, @semiont/core, @semiont/jobs, @semiont/make-meaning

fix race condition (#647)
  apps/backend/src/routes/global-events-stream.ts
  apps/backend/src/routes/participants/routes/attention-stream.ts
  apps/backend/src/routes/resources/routes/events-stream.ts
  package-lock.json
  packages/core/src/__tests__/serialize-per-key.test.ts
  packages/core/src/index.ts
  packages/core/src/logger.ts
  packages/core/src/serialize-per-key.ts
  packages/event-sourcing/src/__tests__/view-manager.integration.test.ts
  packages/event-sourcing/src/__tests__/view-manager.test.ts
  packages/event-sourcing/src/view-manager.ts
  packages/jobs/src/workers/assessment-annotation-worker.ts
  packages/jobs/src/workers/comment-annotation-worker.ts
  packages/jobs/src/workers/detection/entity-extractor.ts
  packages/jobs/src/workers/highlight-annotation-worker.ts
  packages/jobs/src/workers/tag-annotation-worker.ts
  packages/make-meaning/src/binder.ts
  packages/make-meaning/src/browser.ts
  packages/make-meaning/src/gatherer.ts
  packages/make-meaning/src/graph/consumer.ts
  packages/make-meaning/src/matcher.ts
  packages/make-meaning/src/smelter.ts
Due: core, event-sourcing, jobs, make-meaning, backend, @semiont/core, @semiont/event-sourcing, @semiont/jobs, @semiont/make-meaning

monitor event loop delay
  apps/backend/src/index.ts
Due: backend

monitor event loop delay (#648)
  apps/backend/src/index.ts
Due: backend

bump version to 0.4.21
  apps/backend/package.json
  apps/backend/package.publish.json
  apps/cli/package.json
  apps/desktop/package.json
  apps/frontend/package.json
  apps/frontend/package.publish.json
  package.json
  packages/api-client/package.json
  packages/content/package.json
  packages/core/package.json
  packages/event-sourcing/package.json
  packages/graph/package.json
  packages/inference/package.json
  packages/jobs/package.json
  packages/make-meaning/package.json
  packages/mcp-server/package.json
  packages/ontology/package.json
  packages/react-ui/package.json
  packages/test-utils/package.json
  packages/vectors/package.json
  version.json
Due: api-client, content, core, event-sourcing, graph, inference, jobs, make-meaning, mcp-server, ontology, react-ui, frontend, backend, @semiont/core, @semiont/api-client, @semiont/ontology, @semiont/content, @semiont/event-sourcing, @semiont/graph, @semiont/inference, @semiont/jobs, @semiont/make-meaning, @semiont/react-ui

MVVM Phase 0
  packages/api-client/src/__tests__/job-replay-bridge.test.ts
  packages/api-client/src/index.ts
  packages/api-client/src/sse/job-replay-bridge.ts
  packages/api-client/src/view-models/index.ts
  packages/api-client/src/view-models/lib/__tests__/search-pipeline.test.ts
  packages/api-client/src/view-models/lib/search-pipeline.ts
  packages/api-client/src/view-models/lib/view-model.ts
  packages/react-ui/src/components/modals/ResourceSearchModal.tsx
  packages/react-ui/src/components/modals/SearchModal.tsx
  packages/react-ui/src/contexts/EventBusContext.tsx
  packages/react-ui/src/hooks/useViewModel.ts
  packages/react-ui/src/index.ts
Due: api-client, react-ui, @semiont/api-client, @semiont/react-ui

MVVM Phase 1
  apps/frontend/src/__tests__/layout-providers.test.tsx
  apps/frontend/src/__tests__/protected-layouts-auth-shell.test.tsx
  apps/frontend/src/app/[locale]/know/layout.tsx
  packages/react-ui/src/components/CodeMirrorRenderer.tsx
  packages/react-ui/src/components/image-annotation/AnnotationOverlay.tsx
  packages/react-ui/src/components/pdf-annotation/PdfAnnotationCanvas.tsx
  packages/react-ui/src/components/resource/BrowseView.tsx
  packages/react-ui/src/components/resource/panels/AssessmentEntry.tsx
  packages/react-ui/src/components/resource/panels/CommentEntry.tsx
  packages/react-ui/src/components/resource/panels/HighlightEntry.tsx
  packages/react-ui/src/components/resource/panels/ReferenceEntry.tsx
  packages/react-ui/src/components/resource/panels/TagEntry.tsx
  packages/react-ui/src/components/resource/panels/__tests__/ReferenceEntry.test.tsx
  packages/react-ui/src/contexts/EventBusContext.tsx
  packages/react-ui/src/features/resource-viewer/components/ResourceViewerPage.tsx
  packages/react-ui/src/hooks/__tests__/useBeckonFlow.test.ts
  packages/react-ui/src/hooks/__tests__/useBeckonFlow.test.tsx
  packages/react-ui/src/hooks/__tests__/useHoverDelay.test.ts
  packages/react-ui/src/hooks/useAttentionStream.ts
  packages/react-ui/src/hooks/useBeckonFlow.ts
  packages/react-ui/src/hooks/useHoverDelay.ts
  packages/react-ui/src/hooks/useHoverEmitter.ts
  packages/react-ui/src/hooks/useJobReplayBridge.ts
  packages/react-ui/src/index.ts
Due: react-ui, frontend, @semiont/react-ui

MVVM Phase 2
  apps/frontend/src/__tests__/protected-layouts-auth-shell.test.tsx
  apps/frontend/src/app/[locale]/admin/devops/page.tsx
  apps/frontend/src/app/[locale]/admin/exchange/client.tsx
  apps/frontend/src/app/[locale]/admin/security/client.tsx
  apps/frontend/src/app/[locale]/admin/users/client.tsx
  apps/frontend/src/app/[locale]/know/compose/page.tsx
  apps/frontend/src/app/[locale]/know/discover/page.tsx
  apps/frontend/src/app/[locale]/know/layout.tsx
  apps/frontend/src/app/[locale]/moderate/entity-tags/page.tsx
  apps/frontend/src/app/[locale]/moderate/linked-data/client.tsx
  apps/frontend/src/app/[locale]/moderate/recent/page.tsx
  apps/frontend/src/app/[locale]/moderate/tag-schemas/page.tsx
  packages/api-client/src/view-models/flows/__tests__/beckon-vm.test.ts
  packages/api-client/src/view-models/flows/__tests__/browse-vm.test.ts
  packages/api-client/src/view-models/flows/beckon-vm.ts
  packages/api-client/src/view-models/flows/browse-vm.ts
  packages/api-client/src/view-models/index.ts
  packages/react-ui/src/features/admin-devops/components/AdminDevOpsPage.tsx
  packages/react-ui/src/features/admin-exchange/components/AdminExchangePage.tsx
  packages/react-ui/src/features/admin-security/components/AdminSecurityPage.tsx
  packages/react-ui/src/features/admin-users/components/AdminUsersPage.tsx
  packages/react-ui/src/features/moderate-entity-tags/components/EntityTagsPage.tsx
  packages/react-ui/src/features/moderate-recent/components/RecentDocumentsPage.tsx
  packages/react-ui/src/features/moderate-tag-schemas/components/TagSchemasPage.tsx
  packages/react-ui/src/features/moderation-linked-data/components/LinkedDataPage.tsx
  packages/react-ui/src/features/resource-compose/components/ResourceComposePage.tsx
  packages/react-ui/src/features/resource-discovery/components/ResourceDiscoveryPage.tsx
  packages/react-ui/src/features/resource-viewer/components/ResourceViewerPage.tsx
  packages/react-ui/src/hooks/__tests__/usePanelBrowse.test.tsx
  packages/react-ui/src/hooks/useBrowseVM.ts
  packages/react-ui/src/hooks/usePanelBrowse.ts
  packages/react-ui/src/index.ts
Due: api-client, react-ui, frontend, @semiont/api-client, @semiont/react-ui

MVVM Phase 3.1
  packages/api-client/src/view-models/flows/__tests__/gather-vm.test.ts
  packages/api-client/src/view-models/flows/gather-vm.ts
  packages/api-client/src/view-models/index.ts
  packages/react-ui/src/features/resource-viewer/components/ResourceViewerPage.tsx
  packages/react-ui/src/hooks/__tests__/useContextGatherFlow.test.ts
  packages/react-ui/src/hooks/__tests__/useContextGatherFlow.test.tsx
  packages/react-ui/src/hooks/useContextGatherFlow.ts
  packages/react-ui/src/index.ts
Due: api-client, react-ui, @semiont/api-client, @semiont/react-ui

MVVM Phase 3.2
  packages/api-client/src/view-models/flows/__tests__/gather-vm.test.ts
  packages/api-client/src/view-models/flows/__tests__/match-vm.test.ts
  packages/api-client/src/view-models/flows/match-vm.ts
  packages/api-client/src/view-models/index.ts
  packages/react-ui/src/features/resource-viewer/components/ResourceViewerPage.tsx
  packages/react-ui/src/hooks/__tests__/useBindFlow.test.tsx
  packages/react-ui/src/hooks/useBindFlow.ts
  packages/react-ui/src/index.ts
Due: api-client, react-ui, @semiont/api-client, @semiont/react-ui

MVVM Phase 3.3
  packages/api-client/src/view-models/flows/__tests__/yield-vm.test.ts
  packages/api-client/src/view-models/flows/yield-vm.ts
  packages/api-client/src/view-models/index.ts
  packages/react-ui/src/features/resource-viewer/__tests__/ToastNotifications.test.tsx
  packages/react-ui/src/features/resource-viewer/__tests__/YieldFlowIntegration.test.tsx
  packages/react-ui/src/features/resource-viewer/components/ResourceViewerPage.tsx
  packages/react-ui/src/hooks/__tests__/useYieldFlow.test.ts
  packages/react-ui/src/hooks/useYieldFlow.ts
  packages/react-ui/src/index.ts
Due: api-client, react-ui, @semiont/api-client, @semiont/react-ui

MVVM Phase 3.4
  packages/api-client/src/view-models/flows/__tests__/mark-vm.test.ts
  packages/api-client/src/view-models/flows/mark-vm.ts
  packages/api-client/src/view-models/index.ts
  packages/react-ui/src/features/resource-viewer/__tests__/AnnotationCreationPending.test.tsx
  packages/react-ui/src/features/resource-viewer/__tests__/AnnotationDeletionIntegration.test.tsx
  packages/react-ui/src/features/resource-viewer/__tests__/AnnotationProgressDismissal.test.tsx
  packages/react-ui/src/features/resource-viewer/__tests__/DetectionFlowBug.test.tsx
  packages/react-ui/src/features/resource-viewer/__tests__/DetectionFlowIntegration.test.tsx
  packages/react-ui/src/features/resource-viewer/__tests__/ToastNotifications.test.tsx
  packages/react-ui/src/features/resource-viewer/__tests__/annotation-progress-flow.test.tsx
  packages/react-ui/src/features/resource-viewer/components/ResourceViewerPage.tsx
  packages/react-ui/src/hooks/__tests__/useMarkFlow.test.ts
  packages/react-ui/src/hooks/__tests__/useMarkFlow.test.tsx
  packages/react-ui/src/hooks/useHoverEmitter.ts
  packages/react-ui/src/hooks/useMarkFlow.ts
  packages/react-ui/src/index.ts
Due: api-client, react-ui, @semiont/api-client, @semiont/react-ui

MVVM Phase 3.5
  packages/api-client/src/view-models/flows/__tests__/bind-vm.test.ts
  packages/api-client/src/view-models/flows/bind-vm.ts
  packages/api-client/src/view-models/index.ts
  packages/react-ui/src/contexts/EventBusContext.tsx
  packages/react-ui/src/features/resource-viewer/__tests__/BindFlowIntegration.test.tsx
  packages/react-ui/src/features/resource-viewer/components/ResourceViewerPage.tsx
  packages/react-ui/src/hooks/__tests__/useBindFlow.test.tsx
  packages/react-ui/src/hooks/useBindFlow.ts
  packages/react-ui/src/index.ts
Due: api-client, react-ui, @semiont/api-client, @semiont/react-ui

update docs for MVVM Phase 3
  apps/backend/docs/STREAMS.md
  docs/flows/BECKON.md
  docs/flows/BIND.md
  docs/flows/BROWSE.md
  docs/flows/GATHER.md
  docs/flows/MATCHER.md
  docs/flows/YIELD.md
  packages/react-ui/docs/EVENTS.md
  packages/react-ui/docs/SERVICE-HOOK-COMPONENT.md
Due: react-ui, backend, @semiont/react-ui

Page composite VMs
  apps/frontend/src/app/[locale]/admin/exchange/client.tsx
  apps/frontend/src/app/[locale]/know/compose/page.tsx
  apps/frontend/src/app/[locale]/know/discover/page.tsx
  apps/frontend/src/app/[locale]/moderate/entity-tags/page.tsx
  apps/frontend/src/app/[locale]/moderate/linked-data/client.tsx
  packages/api-client/src/view-models/index.ts
  packages/api-client/src/view-models/pages/compose-page-vm.ts
  packages/api-client/src/view-models/pages/discover-page-vm.ts
  packages/api-client/src/view-models/pages/entity-tags-page-vm.ts
  packages/api-client/src/view-models/pages/exchange-vm.ts
  packages/api-client/src/view-models/pages/resource-viewer-page-vm.ts
  packages/react-ui/src/features/admin-exchange/components/ImportCard.tsx
  packages/react-ui/src/features/resource-compose/components/ResourceComposePage.tsx
  packages/react-ui/src/features/resource-viewer/components/ResourceViewerPage.tsx
  packages/react-ui/src/index.ts
Due: api-client, react-ui, frontend, @semiont/api-client, @semiont/react-ui

RxJS timeout() operators to the four Observable-returning flow VMs so that lost SSE completion events cause a clean error after 60–300s of silence instead of hanging the spinner forever
  packages/api-client/src/view-models/flows/__tests__/gather-vm.test.ts
  packages/api-client/src/view-models/flows/__tests__/mark-vm.test.ts
  packages/api-client/src/view-models/flows/__tests__/match-vm.test.ts
  packages/api-client/src/view-models/flows/__tests__/yield-vm.test.ts
  packages/api-client/src/view-models/flows/gather-vm.ts
  packages/api-client/src/view-models/flows/mark-vm.ts
  packages/api-client/src/view-models/flows/match-vm.ts
  packages/api-client/src/view-models/flows/yield-vm.ts
Due: api-client, @semiont/api-client

update MCP and CLI to use View Models
  apps/cli/src/core/commands/gather.ts
  apps/cli/src/core/commands/mark.ts
  apps/cli/src/core/commands/match.ts
  apps/cli/src/core/commands/yield.ts
  packages/mcp-server/src/handlers.ts
Due: mcp-server

expand use of ViewModels
  apps/frontend/src/app/[locale]/admin/security/client.tsx
  apps/frontend/src/app/[locale]/admin/users/client.tsx
  apps/frontend/src/app/[locale]/auth/welcome/page.tsx
  packages/api-client/src/view-models/index.ts
  packages/api-client/src/view-models/pages/admin-security-page-vm.ts
  packages/api-client/src/view-models/pages/admin-users-page-vm.ts
  packages/api-client/src/view-models/pages/resource-viewer-page-vm.ts
  packages/api-client/src/view-models/pages/welcome-page-vm.ts
  packages/react-ui/src/features/resource-viewer/components/ResourceViewerPage.tsx
  packages/react-ui/src/index.ts
Due: api-client, react-ui, frontend, @semiont/api-client, @semiont/react-ui

factor domain VMs out of pages VMs
  apps/frontend/src/app/[locale]/admin/security/client.tsx
  apps/frontend/src/app/[locale]/admin/users/client.tsx
  apps/frontend/src/app/[locale]/auth/welcome/page.tsx
  apps/frontend/src/app/[locale]/know/discover/page.tsx
  apps/frontend/src/app/[locale]/moderate/entity-tags/page.tsx
  packages/api-client/src/view-models/domain/admin-security-vm.ts
  packages/api-client/src/view-models/domain/admin-users-vm.ts
  packages/api-client/src/view-models/domain/discover-vm.ts
  packages/api-client/src/view-models/domain/entity-tags-vm.ts
  packages/api-client/src/view-models/domain/exchange-vm.ts
  packages/api-client/src/view-models/domain/welcome-vm.ts
  packages/api-client/src/view-models/index.ts
  packages/react-ui/src/index.ts
Due: api-client, react-ui, frontend, @semiont/api-client, @semiont/react-ui

ViewModel tests
  packages/api-client/src/view-models/domain/__tests__/admin-security-vm.test.ts
  packages/api-client/src/view-models/domain/__tests__/admin-users-vm.test.ts
  packages/api-client/src/view-models/domain/__tests__/discover-vm.test.ts
  packages/api-client/src/view-models/domain/__tests__/entity-tags-vm.test.ts
  packages/api-client/src/view-models/domain/__tests__/exchange-vm.test.ts
  packages/api-client/src/view-models/domain/__tests__/welcome-vm.test.ts
  packages/api-client/src/view-models/pages/__tests__/compose-page-vm.test.ts
  packages/api-client/src/view-models/pages/__tests__/resource-viewer-page-vm.test.ts
Due: none

eliminate direct http client access
  apps/frontend/src/app/[locale]/know/resource/[id]/page.tsx
  apps/frontend/src/components/UserPanel.tsx
  packages/api-client/src/view-models/domain/__tests__/admin-users-vm.test.ts
  packages/api-client/src/view-models/domain/__tests__/exchange-vm.test.ts
  packages/api-client/src/view-models/domain/resource-loader-vm.ts
  packages/api-client/src/view-models/domain/session-vm.ts
  packages/api-client/src/view-models/index.ts
  packages/react-ui/src/index.ts
Due: api-client, react-ui, frontend, @semiont/api-client, @semiont/react-ui

update skills for ViewModels in api-client
  docs/skills/semiont-assess/SKILL.md
  docs/skills/semiont-comment/SKILL.md
  docs/skills/semiont-highlight/SKILL.md
  docs/skills/semiont-wiki/SKILL.md
Due: none

Generic lib VMs; and Job-status polling
  packages/api-client/src/namespaces/mark.ts
  packages/api-client/src/namespaces/yield.ts
  packages/api-client/src/view-models/index.ts
  packages/api-client/src/view-models/lib/__tests__/filter.test.ts
  packages/api-client/src/view-models/lib/__tests__/form.test.ts
  packages/api-client/src/view-models/lib/__tests__/multi-select.test.ts
  packages/api-client/src/view-models/lib/__tests__/pagination.test.ts
  packages/api-client/src/view-models/lib/__tests__/sort.test.ts
  packages/api-client/src/view-models/lib/filter.ts
  packages/api-client/src/view-models/lib/form.ts
  packages/api-client/src/view-models/lib/multi-select.ts
  packages/api-client/src/view-models/lib/pagination.ts
  packages/api-client/src/view-models/lib/sort.ts
Due: api-client, @semiont/api-client

rm unused lib files
  packages/api-client/src/view-models/index.ts
  packages/api-client/src/view-models/lib/__tests__/filter.test.ts
  packages/api-client/src/view-models/lib/__tests__/form.test.ts
  packages/api-client/src/view-models/lib/__tests__/multi-select.test.ts
  packages/api-client/src/view-models/lib/__tests__/pagination.test.ts
  packages/api-client/src/view-models/lib/__tests__/sort.test.ts
  packages/api-client/src/view-models/lib/filter.ts
  packages/api-client/src/view-models/lib/form.ts
  packages/api-client/src/view-models/lib/multi-select.ts
  packages/api-client/src/view-models/lib/pagination.ts
  packages/api-client/src/view-models/lib/sort.ts
Due: api-client, @semiont/api-client

fill test gaps
  packages/api-client/src/namespaces/__tests__/commands.test.ts
  packages/api-client/src/view-models/domain/__tests__/resource-loader-vm.test.ts
  packages/api-client/src/view-models/domain/__tests__/session-vm.test.ts
Due: none

MVVM follow-up (#650)
  packages/api-client/src/namespaces/__tests__/commands.test.ts
  packages/api-client/src/namespaces/mark.ts
  packages/api-client/src/namespaces/yield.ts
  packages/api-client/src/view-models/domain/__tests__/resource-loader-vm.test.ts
  packages/api-client/src/view-models/domain/__tests__/session-vm.test.ts
Due: api-client, @semiont/api-client
