Repository The-AI-Alliance/semiont: changes, and which Codecov flags are due for each by the changed paths.
All: api-client, content, core, event-sourcing, graph, inference, jobs, make-meaning, mcp-server, ontology, react-ui, frontend, backend, @semiont/core, @semiont/api-client, @semiont/ontology, @semiont/content, @semiont/event-sourcing, @semiont/graph, @semiont/inference, @semiont/jobs, @semiont/make-meaning, @semiont/react-ui

codecov.yml:

# Codecov configuration for Semiont monorepo
# https://docs.codecov.io/docs/codecovyml-reference

codecov:
  # Require CI to finish before processing coverage
  require_ci_to_pass: true

  # Wait for all coverage reports before commenting
  notify:
    wait_for_ci: true

coverage:
  # Overall project coverage settings
  status:
    # Project-wide coverage status
    project:
      default:
        # Coverage can drop by 1% without failing
        threshold: 1%
        target: 70%  # Target 70% overall coverage

    # Per-PR patch coverage
    patch:
      default:
        # New code should have at least 80% coverage
        target: 80%
        threshold: 5%

  # Round coverage to 2 decimal places
  precision: 2
  round: down

  # Coverage range for color coding
  range: "50...90"

# Component-specific coverage configuration
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 1%
  individual_components:
    # Core packages with higher coverage requirements
    - component_id: core
      name: "@semiont/core"
      paths:
        - packages/core/**
    - component_id: api-client
      name: "@semiont/api-client"
      paths:
        - packages/api-client/**
    - component_id: ontology
      name: "@semiont/ontology"
      paths:
        - packages/ontology/**
    - component_id: content
      name: "@semiont/content"
      paths:
        - packages/content/**
    - component_id: event-sourcing
      name: "@semiont/event-sourcing"
      paths:
        - packages/event-sourcing/**
    - component_id: graph
      name: "@semiont/graph"
      paths:
        - packages/graph/**
    - component_id: inference
      name: "@semiont/inference"
      paths:
        - packages/inference/**
    - component_id: jobs
      name: "@semiont/jobs"
      paths:
        - packages/jobs/**
    - component_id: make-meaning
      name: "@semiont/make-meaning"
      paths:
        - packages/make-meaning/**
    - component_id: react-ui
      name: "@semiont/react-ui"
      paths:
        - packages/react-ui/**

# Ignore certain files from coverage
ignore:
  # Test files
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/*.spec.tsx"
  - "**/test/**"
  - "**/tests/**"
  - "**/__tests__/**"
  - "**/test-utils/**"

  # Build artifacts
  - "**/dist/**"
  - "**/build/**"
  - "**/coverage/**"
  - "**/.next/**"

  # Config files
  - "**/*.config.ts"
  - "**/*.config.js"
  - "**/jest.setup.ts"

  # Generated files
  - "**/generated/**"
  - "packages/api-client/src/types.ts"

  # Examples and demos
  - "**/examples/**"
  - "**/demo/**"

  # Scripts
  - "scripts/**"

# Comment configuration
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Flag configuration for different test suites
flags:
  # Individual package flags
  api-client:
    paths:
      - packages/api-client/**
    carryforward: true

  content:
    paths:
      - packages/content/**
    carryforward: true

  core:
    paths:
      - packages/core/**
    carryforward: true

  event-sourcing:
    paths:
      - packages/event-sourcing/**
    carryforward: true

  graph:
    paths:
      - packages/graph/**
    carryforward: true

  inference:
    paths:
      - packages/inference/**
    carryforward: true

  jobs:
    paths:
      - packages/jobs/**
    carryforward: true

  make-meaning:
    paths:
      - packages/make-meaning/**
    carryforward: true

  mcp-server:
    paths:
      - packages/mcp-server/**
    carryforward: true

  ontology:
    paths:
      - packages/ontology/**
    carryforward: true

  react-ui:
    paths:
      - packages/react-ui/**
    carryforward: true

  # App flags (for future use)
  frontend:
    paths:
      - apps/frontend/**
    carryforward: true

  backend:
    paths:
      - apps/backend/**
    carryforward: true

update package-lock.json
  package-lock.json
Due: none

fix build
  apps/backend/package.json
  apps/backend/src/__tests__/integration/simple-db.test.ts
  apps/backend/src/__tests__/setup/database.ts
  apps/backend/src/db.ts
Due: backend

npm audit fix --force
  package-lock.json
Due: none

fix tests
  apps/backend/src/__tests__/db.test.ts
Due: none

fix tests
  apps/backend/src/__tests__/integration/simple-db.test.ts
  apps/backend/src/__tests__/setup/database.ts
Due: none

fix tests
  .github/workflows/security-tests.yml
  apps/backend/src/__tests__/integration/simple-db.test.ts
  apps/backend/src/__tests__/setup/database.ts
Due: none

bump version to 0.3.5
  apps/backend/package.json
  apps/cli/package.json
  apps/frontend/package.json
  package.json
  packages/api-client/package.json
  packages/content/package.json
  packages/core/package.json
  packages/event-sourcing/package.json
  packages/graph/package.json
  packages/inference/package.json
  packages/jobs/package.json
  packages/make-meaning/package.json
  packages/ontology/package.json
  packages/react-ui/package.json
  version.json
Due: api-client, content, core, event-sourcing, graph, inference, jobs, make-meaning, ontology, react-ui, frontend, backend, @semiont/core, @semiont/api-client, @semiont/ontology, @semiont/content, @semiont/event-sourcing, @semiont/graph, @semiont/inference, @semiont/jobs, @semiont/make-meaning, @semiont/react-ui

remove .devcontainer
  .devcontainer/.env.example
  .devcontainer/.gitignore
  .devcontainer/Dockerfile
  .devcontainer/README.md
  .devcontainer/devcontainer.json
  .devcontainer/environments-local-production.json
  .devcontainer/environments-local.json
  .devcontainer/semiont.json
  .devcontainer/setup.sh
  README.md
  website/index.md
Due: none

.semiont as SEMIONT_ROOT
  apps/cli/src/__tests__/cli-validation.test.ts
  apps/cli/src/__tests__/dynamic-environments.test.ts
  apps/cli/src/__tests__/environment-validation.test.ts
  apps/cli/src/__tests__/filesystem-authority.test.ts
  apps/cli/src/__tests__/setup-env.ts
  apps/cli/src/__tests__/test-environment.ts
  apps/cli/src/core/command-executor.ts
  apps/cli/src/core/commands/init.ts
  apps/cli/src/core/commands/local.ts
  apps/cli/src/core/config-loader.ts
  packages/test-utils/src/environments/cli.ts
Due: none

'filesystem service' path is now .semiont/data
  apps/cli/src/__tests__/filesystem-authority.test.ts
  apps/cli/src/core/commands/backup.ts
  apps/cli/src/core/commands/export.ts
  apps/cli/src/core/commands/import.ts
  apps/cli/src/core/commands/local.ts
  apps/cli/src/core/commands/restore.ts
  apps/cli/src/core/commands/useradd.ts
Due: none

'filesystem service' path is now .semiont/data
  apps/backend/src/cli/rebuild-projections.ts
  apps/backend/src/routes/exchange.ts
  apps/cli/src/platforms/posix/handlers/filesystem-paths.ts
  apps/cli/templates/environments/ci.json
  apps/cli/templates/environments/local.json
  apps/cli/templates/environments/test.json
  packages/core/src/config/config.schema.json
  packages/make-meaning/src/bootstrap/entity-types.ts
  packages/make-meaning/src/config.ts
  packages/make-meaning/src/service.ts
  packages/make-meaning/src/views/entity-types-reader.ts
Due: core, make-meaning, backend, @semiont/core, @semiont/make-meaning

jwt secret in XDG_CONFIG_HOME/semiont/secrets
  apps/cli/src/core/commands/import.ts
  apps/cli/src/core/commands/restore.ts
  apps/cli/src/core/handlers/preflight-utils.ts
  apps/cli/src/platforms/posix/handlers/backend-provision.ts
  apps/cli/src/platforms/posix/handlers/backend-start.ts
  apps/cli/src/platforms/posix/handlers/frontend-provision.ts
  apps/cli/src/platforms/posix/handlers/frontend-start.ts
Due: none

pid files to XDG_RUNTIME_DIR/semiont; log files to XDG_STATE_HOME/semiont
  apps/cli/src/core/config-loader.ts
  apps/cli/src/core/handlers/preflight-utils.ts
  apps/cli/src/platforms/posix/handlers/backend-paths.ts
  apps/cli/src/platforms/posix/handlers/database-paths.ts
  apps/cli/src/platforms/posix/handlers/frontend-paths.ts
  apps/cli/src/platforms/posix/handlers/inference-paths.ts
  apps/cli/src/platforms/posix/handlers/mcp-paths.ts
  apps/cli/src/platforms/posix/handlers/proxy-paths.ts
Due: none

rm unused tmp directory
  apps/cli/src/platforms/posix/handlers/backend-paths.ts
  apps/cli/src/platforms/posix/handlers/backend-provision.ts
  apps/cli/src/platforms/posix/handlers/backend-start.ts
  apps/cli/src/platforms/posix/handlers/frontend-paths.ts
  apps/cli/src/platforms/posix/handlers/frontend-provision.ts
  apps/cli/src/platforms/posix/handlers/frontend-start.ts
Due: none

avoid unnecessary .env files for frontend and backend
  apps/cli/src/platforms/posix/handlers/backend-paths.ts
  apps/cli/src/platforms/posix/handlers/backend-provision.ts
  apps/cli/src/platforms/posix/handlers/backend-start.ts
  apps/cli/src/platforms/posix/handlers/frontend-paths.ts
  apps/cli/src/platforms/posix/handlers/frontend-provision.ts
  apps/cli/src/platforms/posix/handlers/frontend-start.ts
Due: none

move projections (materialized views) to XDG path
  apps/cli/src/core/commands/backup.ts
  apps/cli/src/core/commands/export.ts
  apps/cli/src/core/commands/import.ts
  apps/cli/src/core/commands/restore.ts
  apps/cli/src/core/config-loader.ts
  apps/cli/src/core/handlers/preflight-utils.ts
  apps/cli/src/platforms/posix/handlers/backend-start.ts
  packages/core/src/index.ts
  packages/core/src/xdg-paths.ts
  packages/event-sourcing/src/__tests__/event-store-factory.test.ts
  packages/event-sourcing/src/__tests__/event-store.test.ts
  packages/event-sourcing/src/event-store-factory.ts
  packages/event-sourcing/src/event-store.ts
  packages/event-sourcing/src/storage/event-storage.ts
  packages/event-sourcing/src/storage/view-storage.ts
  packages/make-meaning/src/__tests__/annotation-context.test.ts
  packages/make-meaning/src/__tests__/annotation-operations.test.ts
  packages/make-meaning/src/__tests__/bootstrap/entity-types.test.ts
  packages/make-meaning/src/__tests__/graph-consumer.test.ts
  packages/make-meaning/src/__tests__/llm-context.test.ts
  packages/make-meaning/src/__tests__/resource-operations.test.ts
  packages/make-meaning/src/__tests__/views/entity-types-reader.test.ts
  packages/make-meaning/src/service.ts
  packages/make-meaning/src/views/entity-types-reader.ts
Due: core, event-sourcing, make-meaning, @semiont/core, @semiont/event-sourcing, @semiont/make-meaning

jobs to stateDir
  apps/cli/src/core/commands/backup.ts
  apps/cli/src/core/commands/export.ts
  apps/cli/src/core/commands/import.ts
  apps/cli/src/core/commands/restore.ts
  packages/event-sourcing/src/event-store-factory.ts
  packages/event-sourcing/src/event-store.ts
  packages/make-meaning/src/service.ts
  packages/make-meaning/src/views/entity-types-reader.ts
Due: event-sourcing, make-meaning, @semiont/event-sourcing, @semiont/make-meaning

remove now-unused filesystem service
  apps/backend/src/__tests__/_test-setup.ts
  apps/backend/src/__tests__/integration/annotation-crud.test.ts
  apps/backend/src/__tests__/integration/sse-event-flow.test.ts
  apps/cli/src/__tests__/filesystem-authority.test.ts
  apps/cli/src/core/cli-config.ts
  apps/cli/src/core/command-service-matcher.ts
  apps/cli/src/core/commands/export.ts
  apps/cli/src/core/commands/local.ts
  apps/cli/src/core/service-discovery.ts
  apps/cli/src/core/service-requirements.ts
  apps/cli/src/core/service-types.ts
  apps/cli/src/platforms/aws/handlers/index.ts
  apps/cli/src/platforms/aws/platform.ts
  apps/cli/src/platforms/posix/handlers/filesystem-check.ts
  apps/cli/src/platforms/posix/handlers/filesystem-paths.ts
  apps/cli/src/platforms/posix/handlers/filesystem-provision.ts
  apps/cli/src/platforms/posix/handlers/filesystem-start.ts
  apps/cli/src/platforms/posix/handlers/filesystem-stop.ts
  apps/cli/src/platforms/posix/handlers/index.ts
  apps/cli/src/platforms/posix/platform.ts
  apps/cli/src/services/filesystem-service.ts
  apps/cli/src/services/index.ts
  apps/cli/src/services/service-factory.ts
  apps/cli/templates/environments/ci.json
  apps/cli/templates/environments/local.json
  apps/cli/templates/environments/production.json
  apps/cli/templates/environments/staging.json
  apps/cli/templates/environments/test.json
  package-lock.json
  packages/core/src/config/config.schema.json
  packages/core/src/config/environment-loader.ts
  packages/core/src/index.ts
  packages/make-meaning/src/__tests__/service.test.ts
Due: core, @semiont/core

npm audit fix --force
  apps/backend/package.json
  apps/cli/package.json
  apps/frontend/package.json
  package-lock.json
  packages/api-client/package.json
  packages/content/package.json
  packages/core/package.json
  packages/event-sourcing/package.json
  packages/graph/package.json
  packages/inference/package.json
  packages/jobs/package.json
  packages/make-meaning/package.json
  packages/mcp-server/package.json
  packages/ontology/package.json
  packages/react-ui/package.json
  packages/test-utils/package.json
Due: api-client, content, core, event-sourcing, graph, inference, jobs, make-meaning, mcp-server, ontology, react-ui, frontend, backend, @semiont/core, @semiont/api-client, @semiont/ontology, @semiont/content, @semiont/event-sourcing, @semiont/graph, @semiont/inference, @semiont/jobs, @semiont/make-meaning, @semiont/react-ui

update tests
  packages/make-meaning/src/__tests__/bootstrap/entity-types.test.ts
  packages/make-meaning/src/__tests__/views/entity-types-reader.test.ts
Due: none

fix tests
  packages/make-meaning/src/__tests__/bootstrap/entity-types.test.ts
  packages/make-meaning/src/__tests__/views/entity-types-reader.test.ts
Due: none

SemiontProject
  apps/cli/src/core/commands/backup.ts
  apps/cli/src/core/commands/export.ts
  apps/cli/src/core/commands/import.ts
  apps/cli/src/core/commands/restore.ts
  apps/cli/src/core/config-loader.ts
  apps/cli/src/core/handlers/preflight-utils.ts
  apps/cli/src/platforms/posix/handlers/backend-paths.ts
  apps/cli/src/platforms/posix/handlers/database-paths.ts
  apps/cli/src/platforms/posix/handlers/frontend-paths.ts
  apps/cli/src/platforms/posix/handlers/inference-paths.ts
  apps/cli/src/platforms/posix/handlers/mcp-paths.ts
  apps/cli/src/platforms/posix/handlers/proxy-paths.ts
  packages/core/src/index.ts
  packages/core/src/project.ts
  packages/core/src/xdg-paths.ts
  packages/make-meaning/src/__tests__/helpers/test-project.ts
  packages/make-meaning/src/__tests__/scripting-examples/annotate-entities.test.ts
  packages/make-meaning/src/service.ts
Due: core, make-meaning, @semiont/core, @semiont/make-meaning

tests passing
  apps/cli/src/core/commands/import.ts
  apps/cli/src/core/commands/restore.ts
  packages/make-meaning/src/__tests__/bootstrap/entity-types.test.ts
  packages/make-meaning/src/__tests__/resource-operations.test.ts
  packages/make-meaning/src/__tests__/scripting-examples/annotate-entities.test.ts
  packages/make-meaning/src/__tests__/scripting-examples/batch-annotate-entities.test.ts
  packages/make-meaning/src/__tests__/views/entity-types-reader.test.ts
  packages/make-meaning/src/bootstrap/entity-types.ts
  packages/make-meaning/src/knowledge-base.ts
  packages/make-meaning/src/service.ts
Due: make-meaning, @semiont/make-meaning

rm separate TestProject type
  apps/cli/src/core/commands/import.ts
  apps/cli/src/core/commands/restore.ts
  packages/make-meaning/src/__tests__/bootstrap/entity-types.test.ts
  packages/make-meaning/src/__tests__/helpers/test-project.ts
  packages/make-meaning/src/__tests__/resource-operations.test.ts
  packages/make-meaning/src/__tests__/scripting-examples/annotate-entities.test.ts
  packages/make-meaning/src/__tests__/scripting-examples/batch-annotate-entities.test.ts
  packages/make-meaning/src/__tests__/views/entity-types-reader.test.ts
  packages/make-meaning/src/knowledge-base.ts
  packages/make-meaning/src/service.ts
  packages/make-meaning/src/views/entity-types-reader.ts
Due: make-meaning, @semiont/make-meaning

simplify contructors with SemiontProject as parameter
  apps/cli/src/core/commands/backup.ts
  apps/cli/src/core/commands/export.ts
  apps/cli/src/core/commands/import.ts
  apps/cli/src/core/commands/restore.ts
  packages/content/src/__tests__/integration.test.ts
  packages/content/src/__tests__/representation-store.test.ts
  packages/content/src/representation-store.ts
  packages/event-sourcing/src/event-store-factory.ts
  packages/event-sourcing/src/storage/view-storage.ts
  packages/make-meaning/src/__tests__/annotation-context.test.ts
  packages/make-meaning/src/__tests__/annotation-operations.test.ts
  packages/make-meaning/src/__tests__/llm-context.test.ts
  packages/make-meaning/src/knowledge-base.ts
  packages/make-meaning/src/service.ts
Due: content, event-sourcing, make-meaning, @semiont/content, @semiont/event-sourcing, @semiont/make-meaning

tests pass
  packages/content/src/__tests__/edge-cases.test.ts
  packages/content/src/__tests__/integration.test.ts
  packages/content/src/__tests__/representation-store.test.ts
  packages/core/src/project.ts
  packages/event-sourcing/src/__tests__/event-store-factory.test.ts
  packages/event-sourcing/src/__tests__/event-store.test.ts
  packages/event-sourcing/src/__tests__/storage/view-storage.test.ts
  packages/event-sourcing/src/__tests__/view-materializer.test.ts
  packages/event-sourcing/src/__tests__/views/view-materializer.test.ts
  packages/make-meaning/src/__tests__/bootstrap/entity-types.test.ts
  packages/make-meaning/src/__tests__/graph-consumer.test.ts
  packages/make-meaning/src/__tests__/resource-operations.test.ts
  packages/make-meaning/src/__tests__/views/entity-types-reader.test.ts
Due: core, @semiont/core

rewrite init in using SemiontProject
  apps/cli/src/core/commands/init.ts
Due: none

startMakeMeaning takes SemiontProject
  apps/backend/src/__tests__/integration/annotation-crud.test.ts
  apps/backend/src/__tests__/integration/eventstore-channel-routing.test.ts
  apps/backend/src/__tests__/integration/sse-event-flow.test.ts
  apps/backend/src/cli/rebuild-graph.ts
  apps/backend/src/cli/rebuild-projections.ts
  apps/backend/src/index.ts
  apps/backend/src/routes/exchange.ts
  apps/backend/src/utils/config.ts
  packages/make-meaning/src/__tests__/bootstrap/entity-types.test.ts
  packages/make-meaning/src/__tests__/scripting-examples/annotate-entities.test.ts
  packages/make-meaning/src/__tests__/scripting-examples/batch-annotate-entities.test.ts
  packages/make-meaning/src/__tests__/scripting-examples/create-resource.test.ts
  packages/make-meaning/src/__tests__/scripting-examples/query-graph.test.ts
  packages/make-meaning/src/__tests__/service.test.ts
  packages/make-meaning/src/__tests__/views/entity-types-reader.test.ts
  packages/make-meaning/src/bootstrap/entity-types.ts
  packages/make-meaning/src/config.ts
  packages/make-meaning/src/gatherer.ts
  packages/make-meaning/src/service.ts
  packages/make-meaning/src/views/entity-types-reader.ts
Due: make-meaning, backend, @semiont/make-meaning

pass SemiontProject to JobQueue
  packages/jobs/src/__tests__/job-queue.test.ts
  packages/jobs/src/__tests__/job-worker.test.ts
  packages/jobs/src/__tests__/workers/detection/entity-extractor-charset.test.ts
  packages/jobs/src/__tests__/workers/jobs/assessment-annotation-worker.test.ts
  packages/jobs/src/__tests__/workers/jobs/comment-annotation-worker.test.ts
  packages/jobs/src/__tests__/workers/jobs/generation-worker.test.ts
  packages/jobs/src/__tests__/workers/jobs/highlight-annotation-worker.test.ts
  packages/jobs/src/__tests__/workers/jobs/reference-annotation-worker-events.test.ts
  packages/jobs/src/__tests__/workers/jobs/reference-annotation-worker.test.ts
  packages/jobs/src/__tests__/workers/jobs/tag-annotation-worker.test.ts
  packages/jobs/src/index.ts
  packages/jobs/src/job-queue.ts
  packages/make-meaning/src/service.ts
Due: jobs, make-meaning, @semiont/jobs, @semiont/make-meaning

migrate to ~/.semiontconfig
  apps/backend/src/utils/config.ts
  apps/cli/package.json
  apps/cli/semiont.json
  apps/cli/src/__tests__/cli-validation.test.ts
  apps/cli/src/__tests__/dynamic-environments.test.ts
  apps/cli/src/__tests__/environment-validation.test.ts
  apps/cli/src/__tests__/filesystem-authority.test.ts
  apps/cli/src/core/commands/__tests__/_mock-setup.ts
  apps/cli/src/core/commands/export.ts
  apps/cli/src/core/config-loader.ts
  apps/cli/src/core/service-resolver.ts
  apps/cli/src/platforms/posix/handlers/backend-start.ts
  apps/cli/src/platforms/posix/handlers/frontend-start.ts
  apps/cli/src/services/backend-service.ts
  packages/core/src/__tests__/config/config-validator.test.ts
  packages/core/src/__tests__/config/environment-loader.test.ts
  packages/core/src/config/config-validator.ts
  packages/core/src/config/environment-loader.ts
  packages/core/src/config/toml-loader.ts
  packages/core/src/index.ts
Due: core, backend, @semiont/core

inference service config and handling
  apps/cli/src/core/cli-config.ts
  apps/cli/src/platforms/container/handlers/inference-check.ts
  apps/cli/src/platforms/container/handlers/inference-provision.ts
  apps/cli/src/platforms/container/handlers/inference-start.ts
  apps/cli/src/platforms/external/handlers/inference-check.ts
  apps/cli/src/platforms/posix/handlers/inference-check.ts
  apps/cli/src/platforms/posix/handlers/inference-provision.ts
  apps/cli/src/platforms/posix/handlers/inference-start.ts
  apps/cli/src/services/inference-service.ts
  apps/cli/src/services/service-factory.ts
  packages/core/src/config/config.schema.json
  packages/core/src/config/toml-loader.ts
  packages/core/src/index.ts
Due: core, @semiont/core

fix inference paths
  apps/cli/src/platforms/posix/handlers/inference-paths.ts
  apps/cli/src/platforms/posix/handlers/inference-provision.ts
Due: none

fix proxy config and handling
  apps/cli/src/platforms/container/handlers/proxy-paths.ts
  apps/cli/src/platforms/container/handlers/proxy-provision.ts
  apps/cli/src/platforms/container/handlers/proxy-start.ts
  apps/cli/src/platforms/posix/handlers/proxy-check.ts
  apps/cli/src/platforms/posix/handlers/proxy-paths.ts
  apps/cli/src/platforms/posix/handlers/proxy-provision.ts
  packages/core/src/project.ts
Due: core, @semiont/core

fix database config and handling
  apps/cli/src/platforms/posix/handlers/database-paths.ts
  apps/cli/src/platforms/posix/handlers/database-start.ts
  packages/core/src/config/config.schema.json
  packages/core/src/project.ts
Due: core, @semiont/core

no cdk config in init
  apps/cli/src/core/commands/init.ts
Due: none

centralize SEMIONT_ENV reads; move Node.js config loader to @semiont/core
  apps/backend/src/cli/rebuild-graph.ts
  apps/backend/src/cli/rebuild-projections.ts
  apps/backend/src/index.ts
  apps/backend/src/utils/config.ts
  apps/cli/src/services/mcp-service.ts
  packages/core/src/config/node-config-loader.ts
  packages/core/src/index.ts
  packages/mcp-server/src/index.ts
Due: core, mcp-server, backend, @semiont/core

fix mock
  apps/backend/src/index.ts
Due: backend

fix backend tests
  apps/backend/src/__tests__/setup.ts
Due: none

npm ci
  .github/workflows/accessibility-tests.yml
  .github/workflows/ci.yml
  .github/workflows/publish-npm-packages.yml
  .github/workflows/security-tests.yml
Due: none
