Repository The-AI-Alliance/semiont: changes, and which Codecov flags are due for each by the changed paths.
All: api-client, content, core, event-sourcing, graph, inference, jobs, make-meaning, mcp-server, ontology, react-ui, frontend, backend, @semiont/core, @semiont/api-client, @semiont/ontology, @semiont/content, @semiont/event-sourcing, @semiont/graph, @semiont/inference, @semiont/jobs, @semiont/make-meaning, @semiont/react-ui

codecov.yml:

# Codecov configuration for Semiont monorepo
# https://docs.codecov.io/docs/codecovyml-reference

codecov:
  # Require CI to finish before processing coverage
  require_ci_to_pass: true

  # Wait for all coverage reports before commenting
  notify:
    wait_for_ci: true

coverage:
  # Overall project coverage settings
  status:
    # Project-wide coverage status
    project:
      default:
        # Coverage can drop by 1% without failing
        threshold: 1%
        target: 70%  # Target 70% overall coverage

    # Per-PR patch coverage
    patch:
      default:
        # New code should have at least 80% coverage
        target: 80%
        threshold: 5%

  # Round coverage to 2 decimal places
  precision: 2
  round: down

  # Coverage range for color coding
  range: "50...90"

# Component-specific coverage configuration
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 1%
  individual_components:
    # Core packages with higher coverage requirements
    - component_id: core
      name: "@semiont/core"
      paths:
        - packages/core/**
    - component_id: api-client
      name: "@semiont/api-client"
      paths:
        - packages/api-client/**
    - component_id: ontology
      name: "@semiont/ontology"
      paths:
        - packages/ontology/**
    - component_id: content
      name: "@semiont/content"
      paths:
        - packages/content/**
    - component_id: event-sourcing
      name: "@semiont/event-sourcing"
      paths:
        - packages/event-sourcing/**
    - component_id: graph
      name: "@semiont/graph"
      paths:
        - packages/graph/**
    - component_id: inference
      name: "@semiont/inference"
      paths:
        - packages/inference/**
    - component_id: jobs
      name: "@semiont/jobs"
      paths:
        - packages/jobs/**
    - component_id: make-meaning
      name: "@semiont/make-meaning"
      paths:
        - packages/make-meaning/**
    - component_id: react-ui
      name: "@semiont/react-ui"
      paths:
        - packages/react-ui/**

# Ignore certain files from coverage
ignore:
  # Test files
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/*.spec.tsx"
  - "**/test/**"
  - "**/tests/**"
  - "**/__tests__/**"
  - "**/test-utils/**"

  # Build artifacts
  - "**/dist/**"
  - "**/build/**"
  - "**/coverage/**"
  - "**/.next/**"

  # Config files
  - "**/*.config.ts"
  - "**/*.config.js"
  - "**/jest.setup.ts"

  # Generated files
  - "**/generated/**"
  - "packages/api-client/src/types.ts"

  # Examples and demos
  - "**/examples/**"
  - "**/demo/**"

  # Scripts
  - "scripts/**"

# Comment configuration
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Flag configuration for different test suites
flags:
  # Individual package flags
  api-client:
    paths:
      - packages/api-client/**
    carryforward: true

  content:
    paths:
      - packages/content/**
    carryforward: true

  core:
    paths:
      - packages/core/**
    carryforward: true

  event-sourcing:
    paths:
      - packages/event-sourcing/**
    carryforward: true

  graph:
    paths:
      - packages/graph/**
    carryforward: true

  inference:
    paths:
      - packages/inference/**
    carryforward: true

  jobs:
    paths:
      - packages/jobs/**
    carryforward: true

  make-meaning:
    paths:
      - packages/make-meaning/**
    carryforward: true

  mcp-server:
    paths:
      - packages/mcp-server/**
    carryforward: true

  ontology:
    paths:
      - packages/ontology/**
    carryforward: true

  react-ui:
    paths:
      - packages/react-ui/**
    carryforward: true

  # App flags (for future use)
  frontend:
    paths:
      - apps/frontend/**
    carryforward: true

  backend:
    paths:
      - apps/backend/**
    carryforward: true

phase 3 of event bridge plan
  packages/react-ui/src/components/resource/ResourceViewer.tsx
  packages/react-ui/src/contexts/MakeMeaningEventBusContext.tsx
  packages/react-ui/src/contexts/ResourceAnnotationsContext.tsx
  packages/react-ui/src/features/resource-viewer/components/ResourceViewerPage.tsx
Due: react-ui, @semiont/react-ui

document event protocol and usage in react-ui
  packages/react-ui/docs/ANNOTATIONS.md
  packages/react-ui/docs/API-INTEGRATION.md
  packages/react-ui/docs/ARCHITECTURE.md
  packages/react-ui/docs/EVENTS.md
  packages/react-ui/docs/PROVIDERS.md
Due: react-ui, @semiont/react-ui

finish event conversion
  packages/react-ui/src/components/resource/AnnotateView.tsx
  packages/react-ui/src/components/resource/AnnotationHistory.tsx
  packages/react-ui/src/components/resource/BrowseView.tsx
  packages/react-ui/src/components/resource/panels/CollaborationPanel.tsx
  packages/react-ui/src/components/resource/panels/StatisticsPanel.tsx
  packages/react-ui/src/components/resource/panels/UnifiedAnnotationsPanel.tsx
  packages/react-ui/src/features/resource-discovery/components/ResourceDiscoveryPage.tsx
  packages/react-ui/src/features/resource-viewer/components/ResourceViewerPage.tsx
  packages/react-ui/src/hooks/useAnnotationPanel.ts
  packages/react-ui/src/hooks/useFormattedTime.ts
  packages/react-ui/src/hooks/useTheme.ts
Due: react-ui, @semiont/react-ui

fix package build order
  .github/workflows/ci.yml
Due: none

fix build order
  scripts/build-packages.js
Due: none

avoid re-exporting semiont/core's ResourceEvent in semiont/api-client
  .github/workflows/ci.yml
  package-lock.json
  packages/api-client/src/__tests__/sse-client.test.ts
  packages/api-client/src/index.ts
  packages/api-client/src/sse/index.ts
  packages/api-client/src/sse/types.ts
  packages/react-ui/package.json
  packages/react-ui/src/hooks/useResourceEvents.ts
  scripts/build-packages.js
Due: api-client, react-ui, @semiont/api-client, @semiont/react-ui

sort out react-ui vs core for event-related files
  packages/api-client/src/utils/index.ts
  packages/core/src/event-utils.ts
  packages/core/src/index.ts
  packages/react-ui/src/components/resource/AnnotationHistory.tsx
  packages/react-ui/src/components/resource/HistoryEvent.tsx
  packages/react-ui/src/components/resource/event-formatting.ts
Due: api-client, core, react-ui, @semiont/core, @semiont/api-client, @semiont/react-ui

repair isResourceEvent confusion
  packages/core/src/index.ts
Due: core, @semiont/core

add api-client and core as devDependencies to react-ui
  package-lock.json
  packages/react-ui/package.json
Due: react-ui, @semiont/react-ui

fix build for CI
  .github/workflows/accessibility-tests.yml
  package-lock.json
  packages/react-ui/package.json
Due: react-ui, @semiont/react-ui

add @semiont/core to the build dependencies for react-ui
  .github/workflows/package-tests.yml
Due: none

fix test
  packages/react-ui/src/features/resource-viewer/__tests__/ResourceViewerPage.test.tsx
Due: none

move fs and crypt related functions out of @semiont/core closer to their usage
  apps/backend/src/__tests__/_test-setup.ts
  apps/backend/src/__tests__/integration/api-endpoints.test.ts
  apps/backend/src/__tests__/integration/incoming-references.test.ts
  apps/backend/src/__tests__/integration/sse-event-flow.test.ts
  apps/backend/src/__tests__/security-controls.test.ts
  apps/backend/src/cli/rebuild-graph.ts
  apps/backend/src/cli/rebuild-projections.ts
  apps/backend/src/config-loader.ts
  apps/backend/src/index.ts
  apps/backend/src/routes/resources/routes/token.ts
  apps/cli/src/core/command-executor.ts
  apps/cli/src/core/config-loader.ts
  apps/cli/src/core/dashboard/watch-dashboard.tsx
  apps/cli/src/core/service-discovery.ts
  packages/content/src/__tests__/integration.test.ts
  packages/content/src/__tests__/representation-store.test.ts
  packages/content/src/checksum.ts
  packages/content/src/index.ts
  packages/content/src/representation-store.ts
  packages/core/src/__tests__/crypto.test.ts
  packages/core/src/config/environment-loader.ts
  packages/core/src/config/environment-validator.ts
  packages/core/src/config/project-discovery.ts
  packages/core/src/crypto.ts
  packages/core/src/index.ts
  packages/make-meaning/src/id-generation.ts
  packages/make-meaning/src/index.ts
  packages/make-meaning/src/jobs/generation-worker.ts
  packages/make-meaning/src/resource-operations.ts
Due: content, core, make-meaning, backend, @semiont/core, @semiont/content, @semiont/make-meaning

rm unused cruft
  packages/core/src/__tests__/annotation-utils.test.ts
  packages/core/src/annotation-utils.ts
  packages/core/src/index.ts
Due: core, @semiont/core

fix cli imports
  apps/cli/src/__tests__/cli-validation.test.ts
  apps/cli/src/__tests__/dynamic-environments.test.ts
  apps/cli/src/__tests__/environment-validation.test.ts
  apps/cli/src/__tests__/filesystem-authority.test.ts
  apps/cli/src/core/command-executor.ts
  apps/cli/src/core/command-service-matcher.ts
  apps/cli/src/core/multi-service-executor.ts
Due: none

fix path parsing for environment lists
  packages/core/src/config/environment-loader.ts
Due: core, @semiont/core

fix backend tests
  apps/backend/src/__tests__/setup.ts
Due: none

Mock config-loader to avoid needing SEMIONT_ROOT
  apps/backend/src/__tests__/auth/auth-integration.test.ts
  apps/backend/src/__tests__/auth/password-auth.test.ts
Due: none

no need for tail -f /dev/null at end of start script
  .devcontainer/start-services.sh
Due: none

pending annotation fixes
  packages/react-ui/src/components/resource/panels/AssessmentPanel.tsx
  packages/react-ui/src/styles/motivations/motivation-assessment.css
  packages/react-ui/src/styles/patterns/panel-helpers.css
Due: react-ui, @semiont/react-ui

allow cancellation of pending annotations
  packages/react-ui/src/components/resource/panels/AssessmentPanel.tsx
  packages/react-ui/src/components/resource/panels/CommentsPanel.tsx
  packages/react-ui/src/components/resource/panels/ReferencesPanel.tsx
  packages/react-ui/src/components/resource/panels/TaggingPanel.tsx
  packages/react-ui/src/contexts/MakeMeaningEventBusContext.tsx
  packages/react-ui/src/features/resource-viewer/components/ResourceViewerPage.tsx
  packages/react-ui/src/styles/patterns/panel-helpers.css
Due: react-ui, @semiont/react-ui

fix determination of whether to show detection menu
  packages/react-ui/src/components/resource/panels/ReferencesPanel.tsx
  packages/react-ui/src/components/resource/panels/UnifiedAnnotationsPanel.tsx
Due: react-ui, @semiont/react-ui

fix annotation panel tests
  packages/react-ui/src/components/resource/panels/__tests__/CommentsPanel.test.tsx
  packages/react-ui/src/components/resource/panels/__tests__/ReferencesPanel.test.tsx
Due: none

tests for assessing and tagging panels
  packages/react-ui/src/components/resource/panels/__tests__/AssessmentPanel.test.tsx
  packages/react-ui/src/components/resource/panels/__tests__/TaggingPanel.test.tsx
Due: none

fix test failure
  packages/react-ui/src/components/resource/panels/__tests__/TaggingPanel.test.tsx
Due: none

fix regex in test
  packages/react-ui/src/components/resource/panels/__tests__/TaggingPanel.test.tsx
Due: none

fix test
  packages/react-ui/src/components/resource/panels/__tests__/TaggingPanel.test.tsx
Due: none

text for cancel button in reference panel
  packages/react-ui/translations/ar.json
  packages/react-ui/translations/bn.json
  packages/react-ui/translations/cs.json
  packages/react-ui/translations/da.json
  packages/react-ui/translations/de.json
  packages/react-ui/translations/el.json
  packages/react-ui/translations/en.json
  packages/react-ui/translations/es.json
  packages/react-ui/translations/fa.json
  packages/react-ui/translations/fi.json
  packages/react-ui/translations/fr.json
  packages/react-ui/translations/he.json
  packages/react-ui/translations/hi.json
  packages/react-ui/translations/id.json
  packages/react-ui/translations/it.json
  packages/react-ui/translations/ja.json
  packages/react-ui/translations/ko.json
  packages/react-ui/translations/ms.json
  packages/react-ui/translations/nl.json
  packages/react-ui/translations/no.json
  packages/react-ui/translations/pl.json
  packages/react-ui/translations/pt.json
  packages/react-ui/translations/ro.json
  packages/react-ui/translations/sv.json
  packages/react-ui/translations/th.json
  packages/react-ui/translations/tr.json
  packages/react-ui/translations/uk.json
  packages/react-ui/translations/vi.json
  packages/react-ui/translations/zh.json
Due: react-ui, @semiont/react-ui

drawing detection menu shouldnt block on session
  packages/react-ui/src/components/resource/panels/UnifiedAnnotationsPanel.tsx
Due: react-ui, @semiont/react-ui

fix css for rehype markdown styling
  packages/react-ui/src/lib/rehype-render-annotations.ts
Due: react-ui, @semiont/react-ui

fix handling of resource creation completion
  packages/react-ui/src/features/resource-viewer/components/ResourceViewerPage.tsx
Due: react-ui, @semiont/react-ui

fix bidirectional hover/scroll between annotations and panel entries
  packages/react-ui/src/components/resource/BrowseView.tsx
  packages/react-ui/src/components/resource/panels/AssessmentEntry.tsx
  packages/react-ui/src/components/resource/panels/CommentEntry.tsx
  packages/react-ui/src/components/resource/panels/HighlightEntry.tsx
  packages/react-ui/src/components/resource/panels/ReferenceEntry.tsx
  packages/react-ui/src/components/resource/panels/TagEntry.tsx
  packages/react-ui/src/contexts/MakeMeaningEventBusContext.tsx
Due: react-ui, @semiont/react-ui

clean up old hover props
  packages/react-ui/src/components/annotation/annotation-entries.css
  packages/react-ui/src/components/resource/BrowseView.tsx
  packages/react-ui/src/components/resource/panels/AssessmentPanel.tsx
  packages/react-ui/src/components/resource/panels/CommentsPanel.tsx
  packages/react-ui/src/components/resource/panels/HighlightPanel.tsx
  packages/react-ui/src/components/resource/panels/ReferencesPanel.tsx
  packages/react-ui/src/components/resource/panels/TaggingPanel.tsx
  packages/react-ui/src/components/resource/panels/UnifiedAnnotationsPanel.tsx
  packages/react-ui/src/features/resource-viewer/components/ResourceViewerPage.tsx
  packages/react-ui/src/hooks/useAnnotationPanel.ts
Due: react-ui, @semiont/react-ui

remove Props in favor of events
  apps/frontend/src/app/[locale]/know/resource/[id]/page.tsx
  packages/react-ui/src/components/DetectionProgressWidget.tsx
  packages/react-ui/src/components/resource/BrowseView.tsx
  packages/react-ui/src/components/resource/panels/AssessmentEntry.tsx
  packages/react-ui/src/components/resource/panels/AssessmentPanel.tsx
  packages/react-ui/src/components/resource/panels/CommentEntry.tsx
  packages/react-ui/src/components/resource/panels/CommentsPanel.tsx
  packages/react-ui/src/components/resource/panels/HighlightEntry.tsx
  packages/react-ui/src/components/resource/panels/HighlightPanel.tsx
  packages/react-ui/src/components/resource/panels/ReferenceEntry.tsx
  packages/react-ui/src/components/resource/panels/ReferencesPanel.tsx
  packages/react-ui/src/components/resource/panels/TagEntry.tsx
  packages/react-ui/src/components/resource/panels/TaggingPanel.tsx
  packages/react-ui/src/components/resource/panels/UnifiedAnnotationsPanel.tsx
  packages/react-ui/src/components/resource/panels/__tests__/ReferencesPanel.test.tsx
  packages/react-ui/src/contexts/MakeMeaningEventBusContext.tsx
  packages/react-ui/src/features/resource-viewer/components/ResourceViewerPage.tsx
Due: react-ui, frontend, @semiont/react-ui

more events, less api calls from components
  packages/react-ui/src/components/DetectionProgressWidget.tsx
  packages/react-ui/src/components/resource/BrowseView.tsx
  packages/react-ui/src/components/resource/ResourceViewer.tsx
  packages/react-ui/src/components/resource/panels/AssessmentEntry.tsx
  packages/react-ui/src/components/resource/panels/AssessmentPanel.tsx
  packages/react-ui/src/components/resource/panels/CommentEntry.tsx
  packages/react-ui/src/components/resource/panels/CommentsPanel.tsx
  packages/react-ui/src/components/resource/panels/DetectSection.tsx
  packages/react-ui/src/components/resource/panels/HighlightEntry.tsx
  packages/react-ui/src/components/resource/panels/HighlightPanel.tsx
  packages/react-ui/src/components/resource/panels/ReferenceEntry.tsx
  packages/react-ui/src/components/resource/panels/ReferencesPanel.tsx
  packages/react-ui/src/components/resource/panels/TagEntry.tsx
  packages/react-ui/src/components/resource/panels/TaggingPanel.tsx
  packages/react-ui/src/components/resource/panels/UnifiedAnnotationsPanel.tsx
  packages/react-ui/src/components/resource/panels/__tests__/CommentsPanel.test.tsx
  packages/react-ui/src/components/resource/panels/__tests__/ReferencesPanel.test.tsx
  packages/react-ui/src/contexts/MakeMeaningEventBusContext.tsx
  packages/react-ui/src/contexts/useEventOperations.ts
  packages/react-ui/src/features/resource-viewer/components/ResourceViewerPage.tsx
  packages/react-ui/src/hooks/useAnnotationPanel.ts
Due: react-ui, @semiont/react-ui

fix tests
  packages/react-ui/src/components/resource/panels/__tests__/AssessmentPanel.test.tsx
  packages/react-ui/src/components/resource/panels/__tests__/CommentEntry.test.tsx
  packages/react-ui/src/components/resource/panels/__tests__/CommentsPanel.test.tsx
  packages/react-ui/src/components/resource/panels/__tests__/ReferencesPanel.test.tsx
  packages/react-ui/src/components/resource/panels/__tests__/TaggingPanel.test.tsx
Due: none

fix tests
  packages/react-ui/src/components/resource/panels/__tests__/CommentEntry.test.tsx
  packages/react-ui/src/features/resource-viewer/__tests__/ResourceViewerPage.test.tsx
Due: none

fix props issue in frontend
  apps/frontend/src/app/[locale]/know/resource/[id]/page.tsx
  packages/react-ui/src/features/resource-viewer/components/ResourceViewerPage.tsx
Due: react-ui, frontend, @semiont/react-ui
