Repository The-AI-Alliance/semiont: changes, and which Codecov flags are due for each by the changed paths.
All: api-client, content, core, event-sourcing, graph, inference, jobs, make-meaning, mcp-server, ontology, react-ui, frontend, backend, @semiont/core, @semiont/api-client, @semiont/ontology, @semiont/content, @semiont/event-sourcing, @semiont/graph, @semiont/inference, @semiont/jobs, @semiont/make-meaning, @semiont/react-ui

codecov.yml:

# Codecov configuration for Semiont monorepo
# https://docs.codecov.io/docs/codecovyml-reference

codecov:
  # Require CI to finish before processing coverage
  require_ci_to_pass: true

  # Wait for all coverage reports before commenting
  notify:
    wait_for_ci: true

coverage:
  # Overall project coverage settings
  status:
    # Project-wide coverage status
    project:
      default:
        # Coverage can drop by 1% without failing
        threshold: 1%
        target: 70%  # Target 70% overall coverage

    # Per-PR patch coverage
    patch:
      default:
        # New code should have at least 80% coverage
        target: 80%
        threshold: 5%

  # Round coverage to 2 decimal places
  precision: 2
  round: down

  # Coverage range for color coding
  range: "50...90"

# Component-specific coverage configuration
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 1%
  individual_components:
    # Core packages with higher coverage requirements
    - component_id: core
      name: "@semiont/core"
      paths:
        - packages/core/**
    - component_id: api-client
      name: "@semiont/api-client"
      paths:
        - packages/api-client/**
    - component_id: ontology
      name: "@semiont/ontology"
      paths:
        - packages/ontology/**
    - component_id: content
      name: "@semiont/content"
      paths:
        - packages/content/**
    - component_id: event-sourcing
      name: "@semiont/event-sourcing"
      paths:
        - packages/event-sourcing/**
    - component_id: graph
      name: "@semiont/graph"
      paths:
        - packages/graph/**
    - component_id: inference
      name: "@semiont/inference"
      paths:
        - packages/inference/**
    - component_id: jobs
      name: "@semiont/jobs"
      paths:
        - packages/jobs/**
    - component_id: make-meaning
      name: "@semiont/make-meaning"
      paths:
        - packages/make-meaning/**
    - component_id: react-ui
      name: "@semiont/react-ui"
      paths:
        - packages/react-ui/**

# Ignore certain files from coverage
ignore:
  # Test files
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/*.spec.tsx"
  - "**/test/**"
  - "**/tests/**"
  - "**/__tests__/**"
  - "**/test-utils/**"

  # Build artifacts
  - "**/dist/**"
  - "**/build/**"
  - "**/coverage/**"
  - "**/.next/**"

  # Config files
  - "**/*.config.ts"
  - "**/*.config.js"
  - "**/jest.setup.ts"

  # Generated files
  - "**/generated/**"
  - "packages/api-client/src/types.ts"

  # Examples and demos
  - "**/examples/**"
  - "**/demo/**"

  # Scripts
  - "scripts/**"

# Comment configuration
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Flag configuration for different test suites
flags:
  # Individual package flags
  api-client:
    paths:
      - packages/api-client/**
    carryforward: true

  content:
    paths:
      - packages/content/**
    carryforward: true

  core:
    paths:
      - packages/core/**
    carryforward: true

  event-sourcing:
    paths:
      - packages/event-sourcing/**
    carryforward: true

  graph:
    paths:
      - packages/graph/**
    carryforward: true

  inference:
    paths:
      - packages/inference/**
    carryforward: true

  jobs:
    paths:
      - packages/jobs/**
    carryforward: true

  make-meaning:
    paths:
      - packages/make-meaning/**
    carryforward: true

  mcp-server:
    paths:
      - packages/mcp-server/**
    carryforward: true

  ontology:
    paths:
      - packages/ontology/**
    carryforward: true

  react-ui:
    paths:
      - packages/react-ui/**
    carryforward: true

  # App flags (for future use)
  frontend:
    paths:
      - apps/frontend/**
    carryforward: true

  backend:
    paths:
      - apps/backend/**
    carryforward: true

sdk dx checkpoint
  docs/skills/semiont-wiki/SKILL.md
  packages/api-client/docs/API-Reference.md
  packages/api-client/src/transport/actor-vm.ts
  packages/sdk/docs/Usage.md
  packages/sdk/src/__tests__/client-passthroughs.test.ts
  packages/sdk/src/namespaces/__tests__/commands.test.ts
  packages/sdk/src/namespaces/mark.ts
  packages/sdk/src/namespaces/match.ts
  packages/sdk/src/namespaces/types.ts
  packages/sdk/src/view-models/flows/match-vm.ts
Due: api-client, @semiont/api-client

Unified error hierarchy
  apps/cli/src/core/commands/match.ts
  docs/skills/semiont-assess/SKILL.md
  docs/skills/semiont-comment/SKILL.md
  docs/skills/semiont-highlight/SKILL.md
  docs/skills/semiont-session/SKILL.md
  docs/skills/semiont-wiki/SKILL.md
  packages/api-client/src/index.ts
  packages/api-client/src/transport/http-transport.ts
  packages/core/src/errors.ts
  packages/react-ui/src/index.ts
  packages/sdk/src/bus-request.ts
  packages/sdk/src/index.ts
  packages/sdk/src/session/errors.ts
  packages/sdk/src/session/semiont-browser.ts
  packages/sdk/src/session/semiont-session.ts
Due: api-client, core, react-ui, @semiont/core, @semiont/api-client, @semiont/react-ui

update doc for SemiontError
  packages/sdk/docs/Usage.md
Due: none

clean up casts
  packages/make-meaning/src/clone-token-manager.ts
  packages/sdk/src/namespaces/yield.ts
  specs/src/components/schemas/YieldCloneCreateCommand.json
Due: make-meaning, @semiont/make-meaning

improve test coverage
  packages/api-client/src/transport/__tests__/api-error.test.ts
  packages/core/src/__tests__/errors.test.ts
  packages/sdk/src/__tests__/bus-request.test.ts
  packages/sdk/src/__tests__/client-factories.test.ts
  packages/sdk/src/session/__tests__/semiont-session-factories.test.ts
Due: none

observability tests
  .github/workflows/package-tests.yml
  packages/observability/src/__tests__/index.test.ts
  packages/observability/src/__tests__/node.test.ts
  packages/observability/src/__tests__/web.test.ts
  packages/observability/vitest.config.ts
Due: none

fix KB /api/docs
  apps/backend/src/middleware/security-headers.ts
Due: backend

fix unused import
  packages/sdk/src/__tests__/client-factories.test.ts
Due: none

fix sdk tests
  packages/sdk/src/__tests__/bus-request.test.ts
  packages/sdk/src/session/__tests__/semiont-session-factories.test.ts
Due: none

clean up README
  README.md
Due: none

monorepo doc
  docs/development/MONOREPO.md
Due: none

doc reorg phase 2
  README.md
  apps/backend/docs/AUTHENTICATION.md
  apps/backend/docs/CONTAINER.md
  apps/backend/docs/DATABASE.md
  apps/backend/docs/DEPLOYMENT.md
  apps/backend/docs/FILESYSTEM.md
  apps/backend/docs/LOCAL.md
  packages/README.md
Due: backend

slim top-level README
  README.md
  apps/backend/README.md
  apps/cli/docs/ADDING_ENVIRONMENTS.md
  apps/cli/docs/ARCHITECTURE.md
  apps/frontend/docs/ANNOTATIONS.md
  apps/frontend/docs/AUTHORIZATION.md
  apps/frontend/docs/CONTAINER.md
  apps/frontend/docs/DEPLOYMENT.md
  apps/frontend/docs/DEVELOPMENT.md
  apps/frontend/docs/FUTURE.md
  apps/frontend/docs/RESOURCE-PROXY.md
  docs/protocol/README.md
Due: frontend, backend

slim README
  README.md
  apps/frontend/README.md
  docs/browser/README.md
Due: frontend

organize browser docs
  apps/frontend/README.md
  apps/frontend/docs/ARCHITECTURE.md
  apps/frontend/docs/DEVELOPMENT.md
  docs/browser/ACCESSIBILITY.md
  docs/browser/FEATURES.md
  docs/browser/KEYBOARD-NAV.md
  docs/browser/LOCAL.md
  docs/browser/README.md
  docs/development/MONOREPO.md
  docs/protocol/flows/BECKON.md
  docs/system/LOCAL-SEMIONT.md
Due: frontend

organize protocol docs
  apps/backend/README.md
  apps/backend/docs/CONTAINER.md
  apps/backend/docs/DATABASE.md
  apps/backend/docs/W3C-WEB-ANNOTATION.md
  apps/frontend/README.md
  apps/frontend/docs/ANNOTATIONS.md
  apps/frontend/docs/AUTHORIZATION.md
  apps/frontend/docs/FUTURE.md
  docs/development/TESTING.md
  docs/protocol/API.md
  docs/protocol/W3C-SELECTORS.md
  docs/protocol/W3C-WEB-ANNOTATION.md
  docs/protocol/flows/BIND.md
  docs/protocol/flows/MARK.md
  docs/protocol/flows/MATCHER.md
  docs/protocol/flows/YIELD.md
  docs/system/ARCHITECTURE.md
  packages/core/README.md
  packages/react-ui/docs/ANNOTATION-RENDERING-PRINCIPLES.md
  packages/react-ui/docs/CODEMIRROR-INTEGRATION.md
  packages/react-ui/docs/RENDERING-ARCHITECTURE.md
  specs/README.md
Due: core, react-ui, frontend, backend, @semiont/core, @semiont/react-ui

mv EXCHANGE.md doc
  docs/protocol/EXCHANGE.md
  docs/system/administration/BACKUP.md
Due: none

fix link
  docs/protocol/EXCHANGE.md
Due: none

protocol doc
  docs/protocol/EVENT-BUS.md
  docs/protocol/README.md
  docs/protocol/flows/README.md
  docs/system/ARCHITECTURE.md
Due: none

reorg system docs
  CONTRIBUTING.md
  apps/backend/README.md
  apps/backend/docs/CONTAINER.md
  apps/backend/docs/DATABASE.md
  apps/frontend/README.md
  apps/frontend/docs/ANNOTATIONS.md
  apps/frontend/docs/CONTAINER.md
  apps/frontend/docs/DEVELOPMENT.md
  apps/frontend/docs/FUTURE.md
  docs/development/LOCAL-DEVELOPMENT.md
  docs/development/MONOREPO.md
  docs/protocol/EXCHANGE.md
  docs/protocol/flows/README.md
  docs/system/ACTOR-MODEL.md
  docs/system/ARCHITECTURE.md
  docs/system/CONTAINER-TOPOLOGY.md
  docs/system/HUMAN-UI.md
  docs/system/KNOWLEDGE-SYSTEM.md
  docs/system/PACKAGE-ARCHITECTURE.md
  docs/system/README.md
  packages/README.md
  packages/make-meaning/README.md
  packages/make-meaning/docs/architecture.md
  specs/README.md
Due: make-meaning, frontend, backend, @semiont/make-meaning

system README
  README.md
  docs/development/README.md
  docs/system/README.md
Due: none

clean up browser docs and clarify split with frontend docs
  apps/backend/docs/LOCAL.md
  apps/frontend/README.md
  apps/frontend/docs/ACCESSIBILITY.md
  apps/frontend/docs/ARCHITECTURE.md
  apps/frontend/docs/DEVELOPMENT.md
  apps/frontend/docs/KEYBOARD-NAV.md
  docs/browser/ACCESSIBILITY.md
  docs/browser/FEATURES.md
  docs/browser/KEYBOARD-NAV.md
  docs/browser/LOCAL.md
  website/index.md
Due: frontend, backend

reorg backend docs
  apps/backend/README.md
  apps/backend/docs/ARCHIVE-CLONE-API.md
  apps/backend/docs/CONTAINER.md
  apps/backend/docs/DATA-FLOW.md
  apps/backend/docs/DEPLOYMENT.md
  apps/backend/docs/EVENT-BRIDGING.md
  apps/backend/docs/REAL-TIME.md
  apps/backend/docs/STREAMS.md
  apps/backend/docs/W3C-WEB-ANNOTATION.md
  apps/frontend/docs/ANNOTATIONS.md
  apps/frontend/docs/API-INTEGRATION.md
  apps/frontend/docs/CONTAINER.md
  apps/frontend/docs/DEPLOYMENT.md
  docs/browser/LOCAL.md
  docs/protocol/API.md
  docs/protocol/CHANNELS.md
  docs/protocol/EVENT-BUS.md
  docs/protocol/README.md
  docs/protocol/TRANSPORT-CONTRACT.md
  docs/protocol/TRANSPORT-HTTP.md
  docs/protocol/W3C-SELECTORS.md
  docs/protocol/W3C-WEB-ANNOTATION.md
  docs/protocol/flows/BIND.md
  docs/protocol/flows/GATHER.md
  docs/protocol/flows/MARK.md
  docs/protocol/flows/YIELD.md
  docs/system/FILESYSTEM.md
  docs/system/LOCAL-BACKEND.md
  docs/system/LOCAL-SEMIONT.md
  docs/system/administration/DATABASE.md
  docs/system/services/OVERVIEW.md
  docs/system/services/README.md
  package-lock.json
  packages/api-client/README.md
  packages/api-client/docs/API-Reference.md
  packages/core/src/transport.ts
  packages/event-sourcing/README.md
  packages/make-meaning/src/local-transport.ts
  packages/sdk/README.md
Due: api-client, core, event-sourcing, make-meaning, frontend, backend, @semiont/core, @semiont/api-client, @semiont/event-sourcing, @semiont/make-meaning

document sdk reactive model
  docs/protocol/README.md
  packages/sdk/README.md
  packages/sdk/docs/REACTIVE-MODEL.md
  packages/sdk/docs/Usage.md
Due: none

bump version to 0.5.2
  apps/backend/package.json
  apps/backend/package.publish.json
  apps/cli/package.json
  apps/desktop/package.json
  apps/frontend/package.json
  apps/frontend/package.publish.json
  package.json
  packages/api-client/package.json
  packages/content/package.json
  packages/core/package.json
  packages/event-sourcing/package.json
  packages/graph/package.json
  packages/inference/package.json
  packages/jobs/package.json
  packages/make-meaning/package.json
  packages/mcp-server/package.json
  packages/observability/package.json
  packages/ontology/package.json
  packages/react-ui/package.json
  packages/sdk/package.json
  packages/test-utils/package.json
  packages/vectors/package.json
  version.json
Due: api-client, content, core, event-sourcing, graph, inference, jobs, make-meaning, mcp-server, ontology, react-ui, frontend, backend, @semiont/core, @semiont/api-client, @semiont/ontology, @semiont/content, @semiont/event-sourcing, @semiont/graph, @semiont/inference, @semiont/jobs, @semiont/make-meaning, @semiont/react-ui

sdk cleanup and adoption consistency
  apps/cli/src/core/api-client-factory.ts
  packages/mcp-server/src/handlers.ts
  packages/sdk/src/index.ts
  packages/sdk/src/namespaces/admin.ts
  packages/sdk/src/namespaces/auth.ts
  packages/sdk/src/namespaces/job.ts
  packages/sdk/src/namespaces/types.ts
  packages/sdk/src/namespaces/yield.ts
Due: mcp-server

update cli tests for sdk changes
  apps/cli/src/__tests__/environment-validation.test.ts
  apps/cli/src/core/commands/__tests__/_mock-setup.ts
  apps/cli/src/core/commands/__tests__/check-command.test.ts
  apps/cli/src/core/commands/__tests__/gather-bind-match-command.test.ts
  apps/cli/src/core/commands/__tests__/init-command.test.ts
  apps/cli/src/core/commands/__tests__/listen-command.test.ts
  apps/cli/src/core/commands/__tests__/mark-command.test.ts
  apps/cli/src/core/commands/__tests__/useradd.integration.test.ts
  apps/cli/src/core/commands/__tests__/yield-command.test.ts
Due: none

skip integration test in default test run
  apps/cli/vitest.config.ts
Due: none

fix typecheck
  apps/cli/src/core/commands/__tests__/listen-command.test.ts
Due: none

sdk cleanup and adoption consistency (#696)
  apps/cli/src/__tests__/environment-validation.test.ts
  apps/cli/src/core/api-client-factory.ts
  apps/cli/src/core/commands/__tests__/_mock-setup.ts
  apps/cli/src/core/commands/__tests__/check-command.test.ts
  apps/cli/src/core/commands/__tests__/gather-bind-match-command.test.ts
  apps/cli/src/core/commands/__tests__/init-command.test.ts
  apps/cli/src/core/commands/__tests__/listen-command.test.ts
  apps/cli/src/core/commands/__tests__/mark-command.test.ts
  apps/cli/src/core/commands/__tests__/useradd.integration.test.ts
  apps/cli/src/core/commands/__tests__/yield-command.test.ts
  apps/cli/vitest.config.ts
  packages/mcp-server/src/handlers.ts
  packages/sdk/src/index.ts
  packages/sdk/src/namespaces/admin.ts
  packages/sdk/src/namespaces/auth.ts
  packages/sdk/src/namespaces/job.ts
  packages/sdk/src/namespaces/types.ts
  packages/sdk/src/namespaces/yield.ts
Due: mcp-server

clarify sdk/app interface
  apps/frontend/src/app/__tests__/providers.test.tsx
  packages/api-client/src/transport/http-transport.ts
  packages/core/src/transport.ts
  packages/make-meaning/src/local-transport.ts
  packages/react-ui/src/components/modals/PermissionDeniedModal.tsx
  packages/react-ui/src/components/modals/SessionExpiredModal.tsx
  packages/react-ui/src/index.ts
  packages/react-ui/src/test-utils.tsx
  packages/sdk/src/awaitable.ts
  packages/sdk/src/index.ts
  packages/sdk/src/session/__tests__/semiont-browser.test.ts
  packages/sdk/src/session/__tests__/semiont-session.test.ts
  packages/sdk/src/session/__tests__/session-signals.test.ts
  packages/sdk/src/session/notify.ts
  packages/sdk/src/session/registry.ts
  packages/sdk/src/session/semiont-browser.ts
  packages/sdk/src/session/semiont-session.ts
  packages/sdk/src/session/session-signals.ts
  packages/sdk/src/view-models/flows/mark-vm.ts
  packages/sdk/src/view-models/lib/search-pipeline.ts
Due: api-client, core, make-meaning, react-ui, @semiont/core, @semiont/api-client, @semiont/make-meaning, @semiont/react-ui

Drop redundant resourceId parameter on mark.annotation
  apps/cli/src/core/commands/__tests__/mark-command.test.ts
  apps/cli/src/core/commands/mark.ts
  packages/make-meaning/src/__tests__/local-transport.test.ts
  packages/mcp-server/src/handlers.ts
  packages/react-ui/src/contexts/AnnotationContext.tsx
  packages/react-ui/src/contexts/ResourceAnnotationsContext.tsx
  packages/react-ui/src/types/AnnotationManager.ts
  packages/sdk/src/namespaces/__tests__/commands.test.ts
  packages/sdk/src/namespaces/mark.ts
  packages/sdk/src/namespaces/types.ts
  packages/sdk/src/view-models/flows/mark-vm.ts
Due: mcp-server, react-ui, @semiont/react-ui

Argument-ordering normalization
  apps/cli/src/core/commands/beckon.ts
  apps/cli/src/core/commands/gather.ts
  apps/cli/src/core/commands/match.ts
  apps/cli/src/core/commands/yield.ts
  packages/mcp-server/src/handlers.ts
  packages/sdk/src/__tests__/client-passthroughs.test.ts
  packages/sdk/src/namespaces/__tests__/commands.test.ts
  packages/sdk/src/namespaces/beckon.ts
  packages/sdk/src/namespaces/gather.ts
  packages/sdk/src/namespaces/types.ts
  packages/sdk/src/view-models/flows/gather-vm.ts
Due: mcp-server

promote yield.resource from Promise<{ resourceId }> to StreamObservable<UploadProgress | { resourceId }> so file uploads can carry progress
  packages/sdk/src/awaitable.ts
  packages/sdk/src/index.ts
  packages/sdk/src/namespaces/types.ts
  packages/sdk/src/namespaces/yield.ts
  packages/sdk/src/view-models/pages/__tests__/compose-page-vm.test.ts
  packages/sdk/src/view-models/pages/compose-page-vm.ts
Due: none

update docs for SDK clarifications
  docs/protocol/EVENT-BUS.md
  docs/protocol/README.md
  packages/sdk/README.md
  packages/sdk/docs/REACTIVE-MODEL.md
Due: none

parameterize transport more broadly through SDK
  apps/frontend/src/components/KnowledgeBasePanel.tsx
  apps/frontend/src/components/__tests__/KnowledgeBasePanel.test.tsx
  apps/frontend/src/contexts/__tests__/AuthShell.integration.test.tsx
  apps/frontend/src/test-utils.tsx
  docs/protocol/README.md
  packages/api-client/src/index.ts
  packages/api-client/src/transport/__tests__/api-error.test.ts
  packages/api-client/src/transport/http-transport.ts
  packages/core/src/errors.ts
  packages/jobs/src/smelter-main.ts
  packages/jobs/src/worker-main.ts
  packages/jobs/src/worker-process.ts
  packages/react-ui/src/index.ts
  packages/react-ui/src/session/SemiontProvider.tsx
  packages/sdk/README.md
  packages/sdk/docs/REACTIVE-MODEL.md
  packages/sdk/docs/Usage.md
  packages/sdk/src/__tests__/client-factories.test.ts
  packages/sdk/src/client.ts
  packages/sdk/src/index.ts
  packages/sdk/src/session/__tests__/semiont-browser.test.ts
  packages/sdk/src/session/__tests__/semiont-session-factories.test.ts
  packages/sdk/src/session/__tests__/semiont-session.test.ts
  packages/sdk/src/session/http-session-factory.ts
  packages/sdk/src/session/knowledge-base.ts
  packages/sdk/src/session/registry.ts
  packages/sdk/src/session/semiont-browser.ts
  packages/sdk/src/session/semiont-session.ts
  packages/sdk/src/session/session-factory.ts
  packages/sdk/src/session/storage.ts
  packages/sdk/src/view-models/domain/__tests__/job-claim-adapter.test.ts
  packages/sdk/src/view-models/domain/__tests__/smelter-actor-vm.test.ts
  packages/sdk/src/view-models/domain/job-claim-adapter.ts
  packages/sdk/src/view-models/domain/smelter-actor-vm.ts
  packages/sdk/src/view-models/flows/__tests__/shell-vm.test.ts
  packages/sdk/src/view-models/index.ts
  packages/sdk/src/view-models/lib/worker-bus.ts
Due: api-client, core, jobs, react-ui, frontend, @semiont/core, @semiont/api-client, @semiont/jobs, @semiont/react-ui

transport and backend abstractions throughout the SDK
  apps/cli/src/core/api-client-factory.ts
  apps/cli/src/platforms/container/handlers/web-check.ts
  apps/cli/src/platforms/posix/handlers/backend-check.ts
  apps/frontend/src/app/[locale]/admin/exchange/client.tsx
  apps/frontend/src/app/[locale]/moderate/linked-data/client.tsx
  apps/frontend/src/components/KnowledgeBasePanel.tsx
  packages/api-client/src/transport/http-transport.ts
  packages/core/src/index.ts
  packages/core/src/transport.ts
  packages/jobs/src/worker-main.ts
  packages/make-meaning/src/local-transport.ts
  packages/react-ui/src/components/StatusDisplay.tsx
  packages/react-ui/src/hooks/useMediaToken.ts
  packages/sdk/src/client.ts
  packages/sdk/src/namespaces/admin.ts
  packages/sdk/src/namespaces/auth.ts
  packages/sdk/src/session/http-session-factory.ts
  packages/sdk/src/session/semiont-session.ts
  packages/sdk/src/view-models/domain/admin-security-vm.ts
  packages/sdk/src/view-models/domain/admin-users-vm.ts
  packages/sdk/src/view-models/domain/session-vm.ts
  packages/sdk/src/view-models/domain/welcome-vm.ts
  packages/sdk/src/view-models/pages/resource-viewer-page-vm.ts
Due: api-client, core, jobs, make-meaning, react-ui, frontend, @semiont/core, @semiont/api-client, @semiont/jobs, @semiont/make-meaning, @semiont/react-ui
