Repository The-AI-Alliance/semiont: changes, and which Codecov flags are due for each by the changed paths.
All: api-client, content, core, event-sourcing, graph, inference, jobs, make-meaning, mcp-server, ontology, react-ui, frontend, backend, @semiont/core, @semiont/api-client, @semiont/ontology, @semiont/content, @semiont/event-sourcing, @semiont/graph, @semiont/inference, @semiont/jobs, @semiont/make-meaning, @semiont/react-ui

codecov.yml:

# Codecov configuration for Semiont monorepo
# https://docs.codecov.io/docs/codecovyml-reference

codecov:
  # Require CI to finish before processing coverage
  require_ci_to_pass: true

  # Wait for all coverage reports before commenting
  notify:
    wait_for_ci: true

coverage:
  # Overall project coverage settings
  status:
    # Project-wide coverage status
    project:
      default:
        # Coverage can drop by 1% without failing
        threshold: 1%
        target: 70%  # Target 70% overall coverage

    # Per-PR patch coverage
    patch:
      default:
        # New code should have at least 80% coverage
        target: 80%
        threshold: 5%

  # Round coverage to 2 decimal places
  precision: 2
  round: down

  # Coverage range for color coding
  range: "50...90"

# Component-specific coverage configuration
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 1%
  individual_components:
    # Core packages with higher coverage requirements
    - component_id: core
      name: "@semiont/core"
      paths:
        - packages/core/**
    - component_id: api-client
      name: "@semiont/api-client"
      paths:
        - packages/api-client/**
    - component_id: ontology
      name: "@semiont/ontology"
      paths:
        - packages/ontology/**
    - component_id: content
      name: "@semiont/content"
      paths:
        - packages/content/**
    - component_id: event-sourcing
      name: "@semiont/event-sourcing"
      paths:
        - packages/event-sourcing/**
    - component_id: graph
      name: "@semiont/graph"
      paths:
        - packages/graph/**
    - component_id: inference
      name: "@semiont/inference"
      paths:
        - packages/inference/**
    - component_id: jobs
      name: "@semiont/jobs"
      paths:
        - packages/jobs/**
    - component_id: make-meaning
      name: "@semiont/make-meaning"
      paths:
        - packages/make-meaning/**
    - component_id: react-ui
      name: "@semiont/react-ui"
      paths:
        - packages/react-ui/**

# Ignore certain files from coverage
ignore:
  # Test files
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/*.spec.tsx"
  - "**/test/**"
  - "**/tests/**"
  - "**/__tests__/**"
  - "**/test-utils/**"

  # Build artifacts
  - "**/dist/**"
  - "**/build/**"
  - "**/coverage/**"
  - "**/.next/**"

  # Config files
  - "**/*.config.ts"
  - "**/*.config.js"
  - "**/jest.setup.ts"

  # Generated files
  - "**/generated/**"
  - "packages/api-client/src/types.ts"

  # Examples and demos
  - "**/examples/**"
  - "**/demo/**"

  # Scripts
  - "scripts/**"

# Comment configuration
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Flag configuration for different test suites
flags:
  # Individual package flags
  api-client:
    paths:
      - packages/api-client/**
    carryforward: true

  content:
    paths:
      - packages/content/**
    carryforward: true

  core:
    paths:
      - packages/core/**
    carryforward: true

  event-sourcing:
    paths:
      - packages/event-sourcing/**
    carryforward: true

  graph:
    paths:
      - packages/graph/**
    carryforward: true

  inference:
    paths:
      - packages/inference/**
    carryforward: true

  jobs:
    paths:
      - packages/jobs/**
    carryforward: true

  make-meaning:
    paths:
      - packages/make-meaning/**
    carryforward: true

  mcp-server:
    paths:
      - packages/mcp-server/**
    carryforward: true

  ontology:
    paths:
      - packages/ontology/**
    carryforward: true

  react-ui:
    paths:
      - packages/react-ui/**
    carryforward: true

  # App flags (for future use)
  frontend:
    paths:
      - apps/frontend/**
    carryforward: true

  backend:
    paths:
      - apps/backend/**
    carryforward: true

cross-media, embeddable resoure viewer with parameterized annotation bar and hovercard over resolved references (#944)
  packages/react-ui/src/components/annotation/AnnotateToolbar.tsx
  packages/react-ui/src/components/annotation/__tests__/AnnotateToolbar.display.test.tsx
  packages/react-ui/src/components/resource/BrowseView.tsx
  packages/react-ui/src/components/resource/ResourceViewer.tsx
  packages/react-ui/src/components/resource/__tests__/BrowseView.links.test.tsx
  packages/react-ui/src/components/resource/__tests__/BrowseView.reference-hover.test.tsx
  packages/react-ui/src/components/resource/__tests__/browse-renderers.test.tsx
  packages/react-ui/src/components/resource/__tests__/inline-embedding.test.tsx
  packages/react-ui/src/components/resource/__tests__/media-completeness.test.tsx
  packages/react-ui/src/components/toolbar/Toolbar.css
  packages/react-ui/src/styles/features/resource-viewer.css
Due: react-ui, @semiont/react-ui

embedded media viewer features and robustness (#945)
  docs/protocol/TRANSPORT-HTTP.md
  packages/http-transport/src/transport/__tests__/actor-state-unit.test.ts
  packages/http-transport/src/transport/actor-state-unit.ts
  packages/sdk/docs/CACHE-SEMANTICS.md
  packages/sdk/src/__tests__/browse-concurrent-loaders.test.ts
  packages/sdk/src/__tests__/browse-scope-by-observation.test.ts
  packages/sdk/src/__tests__/cache.test.ts
  packages/sdk/src/cache.ts
  packages/sdk/src/namespaces/__tests__/cache-semantics.test.ts
  packages/sdk/src/namespaces/browse.ts
Due: none

liveness, Phase 1
  packages/core/src/__tests__/liveness-axioms.test.ts
  packages/core/src/bus-request.ts
  packages/core/src/faulty-transport.ts
  packages/core/src/liveness-axioms.ts
  packages/core/src/testing.ts
Due: core, @semiont/core

liveness, Phase 2
  packages/sdk/src/__tests__/browse-fetch-failure.test.ts
  packages/sdk/src/__tests__/browse-liveness.property.test.ts
  packages/sdk/src/__tests__/cache.test.ts
  packages/sdk/src/cache.ts
  packages/sdk/src/namespaces/__tests__/cache-semantics.test.ts
  packages/sdk/src/namespaces/browse.ts
Due: none

liveness, Phase 3
  packages/http-transport/src/transport/__tests__/actor-liveness.property.test.ts
  packages/http-transport/src/transport/__tests__/actor-state-unit.test.ts
  packages/http-transport/src/transport/__tests__/helpers/mock-conn.ts
  packages/sdk/docs/CACHE-SEMANTICS.md
Due: none

liveness, Phase 4a & 4b
  packages/http-transport/src/transport/__tests__/actor-liveness.property.test.ts
  packages/sdk/src/__tests__/browse-liveness.property.test.ts
Due: none

doc updates
  apps/frontend/docs/API-INTEGRATION.md
  apps/frontend/docs/ARCHITECTURE.md
  apps/frontend/docs/MEDIA-ACCESS.md
  docs/protocol/flows/MARK.md
  packages/http-transport/docs/MEDIA-TOKENS.md
  packages/sdk/docs/CACHE-SEMANTICS.md
  packages/sdk/docs/Usage.md
Due: frontend

liveness, Phase 4c
  docs/protocol/TRANSPORT-HTTP.md
  packages/sdk/docs/STATE-UNITS.md
Due: none

API Client -> SDK
  docs/development/TESTING.md
  docs/protocol/flows/BECKON.md
  docs/protocol/flows/BIND.md
  docs/protocol/flows/GATHER.md
  docs/protocol/flows/MARK.md
  docs/protocol/flows/MATCHER.md
  docs/protocol/flows/YIELD.md
  docs/system/HUMAN-UI.md
  docs/system/README.md
Due: none

faulty-transport
  scripts/compliance/audit-raw-bus.sh
Due: none

liveness (#946)
  apps/frontend/docs/API-INTEGRATION.md
  apps/frontend/docs/ARCHITECTURE.md
  apps/frontend/docs/MEDIA-ACCESS.md
  docs/development/TESTING.md
  docs/protocol/TRANSPORT-HTTP.md
  docs/protocol/flows/BECKON.md
  docs/protocol/flows/BIND.md
  docs/protocol/flows/GATHER.md
  docs/protocol/flows/MARK.md
  docs/protocol/flows/MATCHER.md
  docs/protocol/flows/YIELD.md
  docs/system/HUMAN-UI.md
  docs/system/README.md
  packages/core/src/__tests__/liveness-axioms.test.ts
  packages/core/src/bus-request.ts
  packages/core/src/faulty-transport.ts
  packages/core/src/liveness-axioms.ts
  packages/core/src/testing.ts
  packages/http-transport/docs/MEDIA-TOKENS.md
  packages/http-transport/src/transport/__tests__/actor-liveness.property.test.ts
  packages/http-transport/src/transport/__tests__/actor-state-unit.test.ts
  packages/http-transport/src/transport/__tests__/helpers/mock-conn.ts
  packages/make-meaning/src/__tests__/local-transport.test.ts
  packages/sdk/docs/CACHE-SEMANTICS.md
  packages/sdk/docs/STATE-UNITS.md
  packages/sdk/docs/Usage.md
  packages/sdk/src/__tests__/browse-fetch-failure.test.ts
  packages/sdk/src/__tests__/browse-liveness.property.test.ts
  packages/sdk/src/__tests__/cache.test.ts
  packages/sdk/src/cache.ts
  packages/sdk/src/client.ts
  packages/sdk/src/namespaces/__tests__/cache-semantics.test.ts
  packages/sdk/src/namespaces/browse.ts
  scripts/compliance/audit-raw-bus.sh
Due: core, frontend, @semiont/core

fix(sdk): destroy client.bus on dispose -- complete subscribers, close the leak
  packages/sdk/src/__tests__/client-passthroughs.test.ts
  packages/sdk/src/client.ts
Due: none

fix(sdk): destroy client.bus on dispose -- complete subscribers, close the leak (#947)
  packages/sdk/src/__tests__/client-passthroughs.test.ts
  packages/sdk/src/client.ts
Due: none

update SDK dev guide
  packages/sdk/docs/DEVELOPER-GUIDE.md
Due: none

feat(react-ui): toolbar preferences become controlled props; retire the preference bus channels (#970)
  packages/core/src/__tests__/event-bus-buslog.test.ts
  packages/core/src/bus-protocol.ts
  packages/core/src/event-bus.ts
  packages/react-ui/src/components/annotation/AnnotateToolbar.tsx
  packages/react-ui/src/components/annotation/__tests__/AnnotateToolbar.display.test.tsx
  packages/react-ui/src/components/annotation/__tests__/AnnotateToolbar.test.tsx
  packages/react-ui/src/components/resource/AnnotateView.tsx
  packages/react-ui/src/components/resource/BrowseView.tsx
  packages/react-ui/src/components/resource/ResourceViewer.tsx
  packages/react-ui/src/components/resource/__tests__/ResourceViewer.toolbar-prefs.test.tsx
  packages/react-ui/src/features/resource-viewer/__tests__/ResourceViewerPage.test.tsx
  packages/react-ui/src/features/resource-viewer/components/ResourceViewerPage.tsx
  packages/react-ui/src/hooks/__tests__/useToolbarPrefs.test.tsx
  packages/react-ui/src/hooks/useToolbarPrefs.ts
  packages/react-ui/src/index.ts
  packages/sdk/src/namespaces/__tests__/ui-signals.test.ts
  packages/sdk/src/namespaces/mark.ts
  packages/sdk/src/namespaces/types.ts
  scripts/compliance/audit-all-compliance.sh
  scripts/compliance/audit-toolbar-pref-storage.sh
  specs/src/components/schemas/MarkClickChangedEvent.json
  specs/src/components/schemas/MarkSelectionChangedEvent.json
  specs/src/components/schemas/MarkShapeChangedEvent.json
  specs/src/openapi.json
Due: core, react-ui, @semiont/core, @semiont/react-ui

fix(react-ui): getSupportedShapes returns [] for text and unknown media (#971)
  packages/react-ui/src/components/annotation/__tests__/AnnotateToolbar.test.tsx
  packages/react-ui/src/components/resource/AnnotateView.tsx
  packages/react-ui/src/lib/__tests__/media-shapes.test.ts
  packages/react-ui/src/lib/media-shapes.ts
Due: react-ui, @semiont/react-ui

feat(sdk): scope mark:requested/mark:submit by source resource (#972)
  packages/react-ui/src/components/image-annotation/SvgDrawingCanvas.tsx
  packages/react-ui/src/components/pdf-annotation/PdfAnnotationCanvas.tsx
  packages/react-ui/src/components/pdf-annotation/__tests__/PdfAnnotationCanvas.test.tsx
  packages/react-ui/src/components/resource/AnnotateView.tsx
  packages/react-ui/src/components/resource/__tests__/AnnotateView.embeddable.test.tsx
  packages/react-ui/src/components/resource/browse-renderers.tsx
  packages/react-ui/src/components/resource/panels/AssessmentPanel.tsx
  packages/react-ui/src/components/resource/panels/CommentsPanel.tsx
  packages/react-ui/src/components/resource/panels/HighlightPanel.tsx
  packages/react-ui/src/components/resource/panels/ReferencesPanel.tsx
  packages/react-ui/src/components/resource/panels/TaggingPanel.tsx
  packages/react-ui/src/components/resource/panels/UnifiedAnnotationsPanel.tsx
  packages/react-ui/src/components/resource/panels/__tests__/AssessmentPanel.test.tsx
  packages/react-ui/src/components/resource/panels/__tests__/CommentsPanel.test.tsx
  packages/react-ui/src/components/resource/panels/__tests__/HighlightPanel.annotationProgress.test.tsx
  packages/react-ui/src/components/resource/panels/__tests__/ReferencesPanel.observable-flow.test.tsx
  packages/react-ui/src/components/resource/panels/__tests__/ReferencesPanel.test.tsx
  packages/react-ui/src/components/resource/panels/__tests__/TaggingPanel.test.tsx
  packages/sdk/src/namespaces/__tests__/ui-signals.test.ts
  packages/sdk/src/namespaces/mark.ts
  packages/sdk/src/namespaces/types.ts
  packages/sdk/src/state/flows/__tests__/mark-state-unit.test.ts
  packages/sdk/src/state/flows/mark-state-unit.ts
  specs/src/components/schemas/MarkRequestedEvent.json
  specs/src/components/schemas/MarkSubmitEvent.json
Due: react-ui, @semiont/react-ui

sync sdk developer guide
  packages/sdk/docs/DEVELOPER-GUIDE.md
Due: none

collaborator directory, Phase 1
  packages/core/src/__tests__/browse-agents-types.test.ts
  packages/core/src/__tests__/bus-invariants.test.ts
  packages/core/src/bus-operations.ts
  packages/core/src/bus-protocol.ts
  specs/src/components/schemas/BrowseAgentsRequest.json
  specs/src/components/schemas/BrowseAgentsResult.json
  specs/src/components/schemas/CollaboratorEntry.json
  specs/src/components/schemas/JobCreateCommand.json
  specs/src/components/schemas/JobStatusResponse.json
  specs/src/openapi.json
Due: core, @semiont/core

collaborator directory, Phase 2
  apps/backend/src/utils/config.ts
  docs/system/KNOWLEDGE-SYSTEM.md
  packages/make-meaning/README.md
  packages/make-meaning/docs/api-reference.md
  packages/make-meaning/docs/architecture.md
  packages/make-meaning/src/__tests__/browser.test.ts
  packages/make-meaning/src/agent-roster.ts
  packages/make-meaning/src/browser.ts
  packages/make-meaning/src/config.ts
  packages/make-meaning/src/service.ts
Due: make-meaning, backend, @semiont/make-meaning

collaborator directory, Phase 3
  packages/core/src/index.ts
  packages/core/src/payload-types.ts
  packages/sdk/src/namespaces/__tests__/browse.test.ts
  packages/sdk/src/namespaces/__tests__/cache-semantics.test.ts
  packages/sdk/src/namespaces/browse.ts
  packages/sdk/src/namespaces/types.ts
Due: core, @semiont/core

collaborator directory e2e test and resulting bug fix
  apps/backend/src/utils/config.ts
  packages/jobs/src/worker-main.ts
  packages/make-meaning/src/__tests__/agent-roster.test.ts
  packages/make-meaning/src/__tests__/browser.test.ts
  packages/make-meaning/src/agent-roster.ts
  packages/make-meaning/src/config.ts
  tests/e2e/specs/18-collaborator-directory.spec.ts
Due: jobs, make-meaning, backend, @semiont/jobs, @semiont/make-meaning

refactor for testability
  packages/jobs/src/__tests__/worker-runtime.test.ts
  packages/jobs/src/worker-main.ts
  packages/jobs/src/worker-runtime.ts
Due: jobs, @semiont/jobs

allow host:port in DID
  tests/e2e/specs/18-collaborator-directory.spec.ts
Due: none

Collaborator directory v1: browse.agents() — TOML-derived software roster + DID host-skew fix (#973)
  apps/backend/src/utils/config.ts
  docs/system/KNOWLEDGE-SYSTEM.md
  packages/core/src/__tests__/browse-agents-types.test.ts
  packages/core/src/__tests__/bus-invariants.test.ts
  packages/core/src/bus-operations.ts
  packages/core/src/bus-protocol.ts
  packages/core/src/index.ts
  packages/core/src/payload-types.ts
  packages/jobs/src/__tests__/worker-runtime.test.ts
  packages/jobs/src/worker-main.ts
  packages/jobs/src/worker-runtime.ts
  packages/make-meaning/README.md
  packages/make-meaning/docs/api-reference.md
  packages/make-meaning/docs/architecture.md
  packages/make-meaning/src/__tests__/agent-roster.test.ts
  packages/make-meaning/src/__tests__/browser.test.ts
  packages/make-meaning/src/agent-roster.ts
  packages/make-meaning/src/browser.ts
  packages/make-meaning/src/config.ts
  packages/make-meaning/src/service.ts
  packages/sdk/docs/DEVELOPER-GUIDE.md
  packages/sdk/src/namespaces/__tests__/browse.test.ts
  packages/sdk/src/namespaces/__tests__/cache-semantics.test.ts
  packages/sdk/src/namespaces/browse.ts
  packages/sdk/src/namespaces/types.ts
  specs/src/components/schemas/BrowseAgentsRequest.json
  specs/src/components/schemas/BrowseAgentsResult.json
  specs/src/components/schemas/CollaboratorEntry.json
  specs/src/components/schemas/JobCreateCommand.json
  specs/src/components/schemas/JobStatusResponse.json
  specs/src/openapi.json
  tests/e2e/specs/18-collaborator-directory.spec.ts
Due: core, jobs, make-meaning, backend, @semiont/core, @semiont/jobs, @semiont/make-meaning

tag editing (#974)
  apps/backend/src/routes/exchange.ts
  apps/cli/src/core/commands/import.ts
  apps/cli/src/core/commands/mv.ts
  apps/cli/src/core/commands/restore.ts
  packages/make-meaning/src/__tests__/annotation-operations.test.ts
  packages/make-meaning/src/__tests__/bootstrap/entity-types.test.ts
  packages/make-meaning/src/__tests__/exchange/backup-importer.test.ts
  packages/make-meaning/src/__tests__/exchange/replay.test.ts
  packages/make-meaning/src/__tests__/graph-consumer.test.ts
  packages/make-meaning/src/__tests__/llm-context.test.ts
  packages/make-meaning/src/__tests__/resource-operations.test.ts
  packages/make-meaning/src/__tests__/stower-entity-types.test.ts
  packages/make-meaning/src/__tests__/views/entity-types-reader.test.ts
  packages/make-meaning/src/__tests__/views/tag-schemas-reader.test.ts
  packages/make-meaning/src/exchange/backup-importer.ts
  packages/make-meaning/src/exchange/replay.ts
  packages/make-meaning/src/graph/consumer.ts
  packages/make-meaning/src/service.ts
  packages/make-meaning/src/stower.ts
  packages/react-ui/src/components/ResourceTagsInline.tsx
  packages/react-ui/src/components/StatusDisplay.css
  packages/react-ui/src/components/__tests__/ResourceTagsInline.test.tsx
Due: make-meaning, react-ui, backend, @semiont/make-meaning, @semiont/react-ui

feat(react-ui): showToolbar={false} — a supported opt-out for the viewer's built-in bar (#975)
  packages/react-ui/src/components/resource/AnnotateView.tsx
  packages/react-ui/src/components/resource/BrowseView.tsx
  packages/react-ui/src/components/resource/ResourceViewer.tsx
  packages/react-ui/src/components/resource/__tests__/ResourceViewer.toolbar-opt-out.test.tsx
Due: react-ui, @semiont/react-ui

feat(react-ui): close the headless gaps — de-provider useResourceContent, export the creation seam (#976)
  packages/react-ui/src/features/resource-viewer/components/ResourceViewerPage.tsx
  packages/react-ui/src/hooks/__tests__/usePendingCreation.test.tsx
  packages/react-ui/src/hooks/__tests__/useResourceContent.test.tsx
  packages/react-ui/src/hooks/usePendingCreation.ts
  packages/react-ui/src/hooks/useResourceContent.ts
  packages/react-ui/src/index.ts
Due: react-ui, @semiont/react-ui

fix annotation overlay / content miss
  packages/react-ui/src/components/resource/BrowseView.tsx
  packages/react-ui/src/components/resource/__tests__/BrowseView.overlay-async.test.tsx
Due: react-ui, @semiont/react-ui

fix annotation overlay / content miss (#977)
  packages/react-ui/src/components/resource/BrowseView.tsx
  packages/react-ui/src/components/resource/__tests__/BrowseView.overlay-async.test.tsx
Due: react-ui, @semiont/react-ui

yield-structure, Phase 1
  packages/jobs/src/__tests__/generation-params.types.test.ts
  packages/jobs/src/__tests__/processors.test.ts
  packages/jobs/src/processors.ts
  packages/jobs/src/types.ts
  packages/jobs/src/workers/generation/__tests__/resource-generation.test.ts
  packages/jobs/src/workers/generation/resource-generation.ts
Due: jobs, @semiont/jobs

yield-structure, Phase 2
  packages/sdk/src/namespaces/__tests__/commands.test.ts
  packages/sdk/src/namespaces/types.ts
  packages/sdk/src/namespaces/yield.ts
Due: none

yield-structure, Phase 3
  apps/cli/src/core/commands/__tests__/yield-command.test.ts
  apps/cli/src/core/commands/yield.ts
Due: none

yield-structure, Phase 4
  apps/cli/README.md
  apps/cli/docs/KNOWLEDGE-WORK.md
  docs/protocol/flows/YIELD.md
  packages/jobs/docs/JobTypes.md
  packages/sdk/docs/DEVELOPER-GUIDE.md
  packages/sdk/docs/Usage.md
Due: jobs, @semiont/jobs

fix race in newly-failing test failing in CI
  packages/react-ui/src/test-utils.tsx
  packages/react-ui/vitest.setup.ts
Due: react-ui, @semiont/react-ui

yield-structure (#978)
  apps/cli/README.md
  apps/cli/docs/KNOWLEDGE-WORK.md
  apps/cli/src/core/commands/__tests__/yield-command.test.ts
  apps/cli/src/core/commands/yield.ts
  docs/protocol/flows/YIELD.md
  packages/jobs/docs/JobTypes.md
  packages/jobs/src/__tests__/generation-params.types.test.ts
  packages/jobs/src/__tests__/processors.test.ts
  packages/jobs/src/processors.ts
  packages/jobs/src/types.ts
  packages/jobs/src/workers/generation/__tests__/resource-generation.test.ts
  packages/jobs/src/workers/generation/resource-generation.ts
  packages/react-ui/src/test-utils.tsx
  packages/react-ui/vitest.setup.ts
  packages/sdk/docs/DEVELOPER-GUIDE.md
  packages/sdk/docs/Usage.md
  packages/sdk/src/namespaces/__tests__/commands.test.ts
  packages/sdk/src/namespaces/types.ts
  packages/sdk/src/namespaces/yield.ts
Due: jobs, react-ui, @semiont/jobs, @semiont/react-ui

update docs for CONTEXT-IDENTIFIERS
  docs/protocol/flows/YIELD.md
  packages/sdk/docs/DEVELOPER-GUIDE.md
  packages/sdk/docs/Usage.md
Due: none

inline citations, Phase 1
  packages/jobs/src/__tests__/generation-params.types.test.ts
  packages/jobs/src/__tests__/processors.test.ts
  packages/jobs/src/__tests__/worker-process.test.ts
  packages/jobs/src/processors.ts
  packages/jobs/src/types.ts
  packages/jobs/src/worker-process.ts
  packages/jobs/src/workers/generation/__tests__/resource-generation.test.ts
  packages/jobs/src/workers/generation/citation-resolver.ts
  packages/jobs/src/workers/generation/resource-generation.ts
Due: jobs, @semiont/jobs

inline citations, Phase 2
  packages/sdk/src/namespaces/__tests__/commands.test.ts
  packages/sdk/src/namespaces/types.ts
  packages/sdk/src/namespaces/yield.ts
Due: none

inline citations, Phase 3
  docs/protocol/flows/YIELD.md
  packages/jobs/docs/JobTypes.md
  packages/sdk/docs/DEVELOPER-GUIDE.md
  packages/sdk/docs/Usage.md
Due: jobs, @semiont/jobs
