Repository The-AI-Alliance/semiont: changes, and which Codecov flags are due for each by the changed paths.
All: api-client, content, core, event-sourcing, graph, inference, jobs, make-meaning, mcp-server, ontology, react-ui, frontend, backend, @semiont/core, @semiont/api-client, @semiont/ontology, @semiont/content, @semiont/event-sourcing, @semiont/graph, @semiont/inference, @semiont/jobs, @semiont/make-meaning, @semiont/react-ui

codecov.yml:

# Codecov configuration for Semiont monorepo
# https://docs.codecov.io/docs/codecovyml-reference

codecov:
  # Require CI to finish before processing coverage
  require_ci_to_pass: true

  # Wait for all coverage reports before commenting
  notify:
    wait_for_ci: true

coverage:
  # Overall project coverage settings
  status:
    # Project-wide coverage status
    project:
      default:
        # Coverage can drop by 1% without failing
        threshold: 1%
        target: 70%  # Target 70% overall coverage

    # Per-PR patch coverage
    patch:
      default:
        # New code should have at least 80% coverage
        target: 80%
        threshold: 5%

  # Round coverage to 2 decimal places
  precision: 2
  round: down

  # Coverage range for color coding
  range: "50...90"

# Component-specific coverage configuration
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 1%
  individual_components:
    # Core packages with higher coverage requirements
    - component_id: core
      name: "@semiont/core"
      paths:
        - packages/core/**
    - component_id: api-client
      name: "@semiont/api-client"
      paths:
        - packages/api-client/**
    - component_id: ontology
      name: "@semiont/ontology"
      paths:
        - packages/ontology/**
    - component_id: content
      name: "@semiont/content"
      paths:
        - packages/content/**
    - component_id: event-sourcing
      name: "@semiont/event-sourcing"
      paths:
        - packages/event-sourcing/**
    - component_id: graph
      name: "@semiont/graph"
      paths:
        - packages/graph/**
    - component_id: inference
      name: "@semiont/inference"
      paths:
        - packages/inference/**
    - component_id: jobs
      name: "@semiont/jobs"
      paths:
        - packages/jobs/**
    - component_id: make-meaning
      name: "@semiont/make-meaning"
      paths:
        - packages/make-meaning/**
    - component_id: react-ui
      name: "@semiont/react-ui"
      paths:
        - packages/react-ui/**

# Ignore certain files from coverage
ignore:
  # Test files
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/*.spec.tsx"
  - "**/test/**"
  - "**/tests/**"
  - "**/__tests__/**"
  - "**/test-utils/**"

  # Build artifacts
  - "**/dist/**"
  - "**/build/**"
  - "**/coverage/**"
  - "**/.next/**"

  # Config files
  - "**/*.config.ts"
  - "**/*.config.js"
  - "**/jest.setup.ts"

  # Generated files
  - "**/generated/**"
  - "packages/api-client/src/types.ts"

  # Examples and demos
  - "**/examples/**"
  - "**/demo/**"

  # Scripts
  - "scripts/**"

# Comment configuration
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Flag configuration for different test suites
flags:
  # Individual package flags
  api-client:
    paths:
      - packages/api-client/**
    carryforward: true

  content:
    paths:
      - packages/content/**
    carryforward: true

  core:
    paths:
      - packages/core/**
    carryforward: true

  event-sourcing:
    paths:
      - packages/event-sourcing/**
    carryforward: true

  graph:
    paths:
      - packages/graph/**
    carryforward: true

  inference:
    paths:
      - packages/inference/**
    carryforward: true

  jobs:
    paths:
      - packages/jobs/**
    carryforward: true

  make-meaning:
    paths:
      - packages/make-meaning/**
    carryforward: true

  mcp-server:
    paths:
      - packages/mcp-server/**
    carryforward: true

  ontology:
    paths:
      - packages/ontology/**
    carryforward: true

  react-ui:
    paths:
      - packages/react-ui/**
    carryforward: true

  # App flags (for future use)
  frontend:
    paths:
      - apps/frontend/**
    carryforward: true

  backend:
    paths:
      - apps/backend/**
    carryforward: true

fix typecheck issues in tests
  apps/backend/src/__tests__/routes/annotations-crud.test.ts
  apps/backend/src/__tests__/routes/resource-discovery.test.ts
  apps/backend/src/__tests__/routes/resources-crud.test.ts
  packages/core/src/__tests__/annotation-utils.test.ts
  packages/core/src/__tests__/events.test.ts
  packages/react-ui/src/utils/annotation-history-utils.ts
Due: react-ui, @semiont/react-ui

refactor configuration loading to make it more testable
  packages/core/src/__tests__/config/config-validator.test.ts
  packages/core/src/__tests__/config/environment-loader.test.ts
  packages/core/src/config/config-validator.ts
  packages/core/src/config/environment-loader-fs.ts
  packages/core/src/config/environment-loader.ts
  packages/core/src/config/environment-validator.ts
  packages/core/src/index.ts
Due: core, @semiont/core

react-ui tests phase 1
  packages/react-ui/src/components/__tests__/ResourceTagsInline.test.tsx
  packages/react-ui/src/components/__tests__/SessionTimer.test.tsx
  packages/react-ui/src/components/__tests__/Toast.test.tsx
  packages/react-ui/src/components/__tests__/UserMenuSkeleton.test.tsx
  packages/react-ui/src/hooks/__tests__/useFormattedTime.test.ts
  packages/react-ui/src/hooks/__tests__/useKeyboardShortcuts.test.ts
  packages/react-ui/src/hooks/__tests__/useRovingTabIndex.test.tsx
  packages/react-ui/src/hooks/__tests__/useSessionExpiry.test.ts
  packages/react-ui/src/hooks/__tests__/useToolbar.test.ts
  packages/react-ui/src/lib/__tests__/query-keys.test.ts
  packages/react-ui/src/lib/__tests__/resource-utils.test.ts
  packages/react-ui/vitest.setup.ts
Due: react-ui, @semiont/react-ui

test react-ui
  packages/react-ui/src/hooks/__tests__/useKeyboardShortcuts.test.ts
  packages/react-ui/src/hooks/__tests__/useRovingTabIndex.test.tsx
Due: none

rm dead code
  packages/react-ui/src/utils/annotation-history-utils.ts
Due: react-ui, @semiont/react-ui

fix backend tests
  apps/backend/src/__tests__/routes/annotations-crud.test.ts
  apps/backend/src/__tests__/routes/detect-annotations-stream.test.ts
  apps/backend/src/__tests__/routes/detect-assessments-stream.test.ts
  apps/backend/src/__tests__/routes/detect-comments-stream.test.ts
  apps/backend/src/__tests__/routes/detect-highlights-stream.test.ts
  apps/backend/src/__tests__/routes/resources-crud.test.ts
  apps/backend/src/routes/resources/routes/create.ts
Due: backend

fix bad edits
  apps/backend/src/__tests__/routes/annotations-crud.test.ts
  apps/backend/src/__tests__/routes/detect-annotations-stream.test.ts
  apps/backend/src/__tests__/routes/detect-assessments-stream.test.ts
  apps/backend/src/__tests__/routes/detect-comments-stream.test.ts
  apps/backend/src/__tests__/routes/detect-highlights-stream.test.ts
Due: none

fix tests
  apps/backend/src/__tests__/routes/annotations-crud.test.ts
  apps/backend/src/__tests__/routes/resource-discovery.test.ts
Due: none

fix typecheck
  apps/backend/src/__tests__/routes/resource-discovery.test.ts
Due: none

avoid 'as any' casts
  apps/backend/src/__tests__/auth/jwt.test.ts
  apps/backend/src/__tests__/auth/mcp-auth-security.test.ts
  apps/backend/src/__tests__/db.test.ts
  apps/backend/src/__tests__/integration/api-endpoints.test.ts
  apps/backend/src/__tests__/integration/incoming-references.test.ts
  apps/backend/src/__tests__/routes/annotations-crud.test.ts
  apps/backend/src/__tests__/routes/detect-annotations-stream.test.ts
  apps/backend/src/__tests__/routes/detect-assessments-stream.test.ts
  apps/backend/src/__tests__/routes/detect-comments-stream.test.ts
  apps/backend/src/__tests__/routes/detect-highlights-stream.test.ts
  apps/backend/src/__tests__/routes/resource-discovery.test.ts
  apps/backend/src/__tests__/routes/resources-crud.test.ts
  apps/backend/src/__tests__/w3c-compliance.test.ts
  packages/react-ui/src/components/CodeMirrorRenderer.tsx
  packages/react-ui/src/components/DetectionProgressWidget.tsx
  packages/react-ui/src/components/resource/AnnotateView.tsx
  packages/react-ui/src/components/resource/panels/AssessmentEntry.tsx
  packages/react-ui/src/components/resource/panels/ReferenceEntry.tsx
  packages/react-ui/src/integrations/css-modules-helper.tsx
Due: react-ui, @semiont/react-ui

update docs
  packages/README.md
  packages/content/README.md
  packages/event-sourcing/README.md
  packages/graph/README.md
  packages/inference/README.md
  packages/jobs/README.md
Due: content, event-sourcing, graph, inference, jobs, @semiont/content, @semiont/event-sourcing, @semiont/graph, @semiont/inference, @semiont/jobs

update backend architecture doc
  apps/backend/docs/ARCHITECTURE.md
Due: backend

separate Result type for jobs
  packages/jobs/README.md
  packages/jobs/docs/JobTypes.md
  packages/jobs/docs/TYPES.md
  packages/jobs/docs/Workers.md
  packages/jobs/src/job-worker.ts
  packages/jobs/src/types.ts
  packages/make-meaning/docs/job-workers.md
  packages/make-meaning/src/jobs/assessment-detection-worker.ts
  packages/make-meaning/src/jobs/comment-detection-worker.ts
  packages/make-meaning/src/jobs/generation-worker.ts
  packages/make-meaning/src/jobs/highlight-detection-worker.ts
  packages/make-meaning/src/jobs/reference-detection-worker.ts
  packages/make-meaning/src/jobs/tag-detection-worker.ts
Due: jobs, make-meaning, @semiont/jobs, @semiont/make-meaning

tests should not call executeJob
  packages/make-meaning/src/__tests__/jobs/assessment-detection-worker.test.ts
  packages/make-meaning/src/__tests__/jobs/comment-detection-worker.test.ts
  packages/make-meaning/src/__tests__/jobs/generation-worker.test.ts
  packages/make-meaning/src/__tests__/jobs/highlight-detection-worker.test.ts
  packages/make-meaning/src/__tests__/jobs/reference-detection-worker-events.test.ts
  packages/make-meaning/src/__tests__/jobs/tag-detection-worker.test.ts
Due: none

separate Result type for jobs (#425)
  packages/jobs/README.md
  packages/jobs/docs/JobTypes.md
  packages/jobs/docs/TYPES.md
  packages/jobs/docs/Workers.md
  packages/jobs/src/job-worker.ts
  packages/jobs/src/types.ts
  packages/make-meaning/docs/job-workers.md
  packages/make-meaning/src/__tests__/jobs/assessment-detection-worker.test.ts
  packages/make-meaning/src/__tests__/jobs/comment-detection-worker.test.ts
  packages/make-meaning/src/__tests__/jobs/generation-worker.test.ts
  packages/make-meaning/src/__tests__/jobs/highlight-detection-worker.test.ts
  packages/make-meaning/src/__tests__/jobs/reference-detection-worker-events.test.ts
  packages/make-meaning/src/__tests__/jobs/tag-detection-worker.test.ts
  packages/make-meaning/src/jobs/assessment-detection-worker.ts
  packages/make-meaning/src/jobs/comment-detection-worker.ts
  packages/make-meaning/src/jobs/generation-worker.ts
  packages/make-meaning/src/jobs/highlight-detection-worker.ts
  packages/make-meaning/src/jobs/reference-detection-worker.ts
  packages/make-meaning/src/jobs/tag-detection-worker.ts
Due: jobs, make-meaning, @semiont/jobs, @semiont/make-meaning

bump version to 0.2.33
  apps/backend/package.json
  apps/cli/package.json
  apps/frontend/package.json
  package.json
  packages/api-client/package.json
  packages/content/package.json
  packages/core/package.json
  packages/event-sourcing/package.json
  packages/graph/package.json
  packages/inference/package.json
  packages/jobs/package.json
  packages/make-meaning/package.json
  packages/ontology/package.json
  packages/react-ui/package.json
  version.json
Due: api-client, content, core, event-sourcing, graph, inference, jobs, make-meaning, ontology, react-ui, frontend, backend, @semiont/core, @semiont/api-client, @semiont/ontology, @semiont/content, @semiont/event-sourcing, @semiont/graph, @semiont/inference, @semiont/jobs, @semiont/make-meaning, @semiont/react-ui

pdf backend
  packages/api-client/src/mime-utils.ts
  packages/react-ui/src/features/resource-compose/components/ResourceComposePage.tsx
  specs/src/components/schemas/ContentFormat.json
Due: api-client, react-ui, @semiont/api-client, @semiont/react-ui

pdf view
  packages/react-ui/package.json
  packages/react-ui/src/components/resource/AnnotateView.tsx
  packages/react-ui/src/components/viewers/PdfViewer.css
  packages/react-ui/src/components/viewers/PdfViewer.tsx
Due: react-ui, @semiont/react-ui

pdf test
  packages/api-client/src/__tests__/mime-utils.test.ts
Due: none

isPdfMimeType
  packages/api-client/src/index.ts
Due: api-client, @semiont/api-client

react-pdf
  package-lock.json
Due: none

pdf annotation
  .stylelintrc.json
  apps/frontend/next.config.mjs
  apps/frontend/package.json
  apps/frontend/src/app/globals.css
  package-lock.json
  packages/api-client/src/utils/annotations.ts
  packages/react-ui/src/components/pdf-annotation/PdfAnnotationCanvas.css
  packages/react-ui/src/components/pdf-annotation/PdfAnnotationCanvas.tsx
  packages/react-ui/src/components/resource/AnnotateView.tsx
  packages/react-ui/src/lib/pdf-coordinates.ts
  packages/react-ui/src/styles/index.css
  packages/react-ui/src/types/annotation-props.ts
  scripts/stylelint-plugin-semiont-invariants.js
  specs/src/components/schemas/AnnotationTarget.json
  specs/src/components/schemas/CreateAnnotationRequest.json
  specs/src/components/schemas/FragmentSelector.json
Due: api-client, react-ui, frontend, @semiont/api-client, @semiont/react-ui

property-based testing of pdf coordinates and fragment selectors
  packages/api-client/src/__tests__/fragment-selectors.test.ts
  packages/react-ui/src/lib/__tests__/pdf-coordinates.test.ts
Due: none

fix typecheck
  packages/api-client/src/__tests__/fragment-selectors.test.ts
Due: none

restore annotation rendering property-based tests; and docs
  apps/frontend/docs/ANNOTATIONS.md
  apps/frontend/docs/ARCHITECTURE.md
  apps/frontend/docs/CODEMIRROR-INTEGRATION.md
  apps/frontend/docs/RENDERING-ARCHITECTURE.md
  packages/react-ui/docs/ANNOTATION-RENDERING-PRINCIPLES.md
  packages/react-ui/src/lib/__tests__/annotation-rendering.test.tsx
Due: react-ui, frontend, @semiont/react-ui

fix css linter warnings
  packages/react-ui/src/components/pdf-annotation/PdfAnnotationCanvas.css
  packages/react-ui/src/components/viewers/PdfViewer.css
  packages/react-ui/src/styles/utilities/semantic-indicators.css
Due: react-ui, @semiont/react-ui

fix failing test
  packages/react-ui/src/lib/__tests__/annotation-rendering.test.tsx
  packages/react-ui/vitest.setup.ts
Due: react-ui, @semiont/react-ui

test pdf annotation canvas
  packages/react-ui/src/components/pdf-annotation/__tests__/PdfAnnotationCanvas.test.tsx
Due: none

mock dommatrix
  apps/frontend/vitest.setup.js
  apps/frontend/vitest.setup.ts
Due: frontend

update docs
  apps/backend/README.md
  apps/frontend/README.md
  apps/frontend/docs/FEATURES.md
  docs/ai/DETECTION.md
  docs/ai/GENERATION.md
  packages/api-client/README.md
Due: api-client, frontend, backend, @semiont/api-client

migrate to browser-native pdf.js
  .stylelintrc.json
  apps/backend/src/routes/resources/routes/get-uri.ts
  apps/frontend/.gitignore
  apps/frontend/next.config.mjs
  apps/frontend/package.json
  apps/frontend/scripts/copy-pdfjs.js
  apps/frontend/src/app/api/resources/[id]/route.ts
  apps/frontend/src/app/globals.css
  package-lock.json
  packages/react-ui/package.json
  packages/react-ui/src/components/pdf-annotation/PdfAnnotationCanvas.client.tsx
  packages/react-ui/src/components/pdf-annotation/PdfAnnotationCanvas.css
  packages/react-ui/src/components/pdf-annotation/PdfAnnotationCanvas.tsx
  packages/react-ui/src/components/pdf-annotation/__tests__/PdfAnnotationCanvas.test.tsx
  packages/react-ui/src/components/resource/AnnotateView.tsx
  packages/react-ui/src/components/viewers/PdfViewer.css
  packages/react-ui/src/components/viewers/PdfViewer.tsx
  packages/react-ui/src/hooks/usePanelWidth.ts
  packages/react-ui/src/lib/__tests__/browser-pdfjs.test.ts
  packages/react-ui/src/lib/browser-pdfjs.ts
  packages/react-ui/src/styles/index.css
  scripts/stylelint-plugin-semiont-invariants.js
Due: react-ui, frontend, backend, @semiont/react-ui

dark themes
  packages/react-ui/src/components/pdf-annotation/PdfAnnotationCanvas.css
Due: react-ui, @semiont/react-ui

update with PdfAnnotationCanvas info
  apps/frontend/docs/RESOURCE-PROXY.md
Due: frontend

fix whitespace below pdf
  packages/react-ui/src/components/pdf-annotation/PdfAnnotationCanvas.css
  packages/react-ui/src/components/pdf-annotation/PdfAnnotationCanvas.tsx
  packages/react-ui/src/components/resource/AnnotateView.tsx
  packages/react-ui/src/styles/features/resource-viewer.css
Due: react-ui, @semiont/react-ui

fix hard-coded colors
  packages/react-ui/src/components/StatusDisplay.css
  packages/react-ui/src/components/Toast.css
  packages/react-ui/src/styles/features/resource-viewer.css.bak
Due: react-ui, @semiont/react-ui
