Repository The-AI-Alliance/semiont: changes, and which Codecov flags are due for each by the changed paths.
All: api-client, content, core, event-sourcing, graph, inference, jobs, make-meaning, mcp-server, ontology, react-ui, frontend, backend, @semiont/core, @semiont/api-client, @semiont/ontology, @semiont/content, @semiont/event-sourcing, @semiont/graph, @semiont/inference, @semiont/jobs, @semiont/make-meaning, @semiont/react-ui

codecov.yml:

# Codecov configuration for Semiont monorepo
# https://docs.codecov.io/docs/codecovyml-reference

codecov:
  # Require CI to finish before processing coverage
  require_ci_to_pass: true

  # Wait for all coverage reports before commenting
  notify:
    wait_for_ci: true

coverage:
  # Overall project coverage settings
  status:
    # Project-wide coverage status
    project:
      default:
        # Coverage can drop by 1% without failing
        threshold: 1%
        target: 70%  # Target 70% overall coverage

    # Per-PR patch coverage
    patch:
      default:
        # New code should have at least 80% coverage
        target: 80%
        threshold: 5%

  # Round coverage to 2 decimal places
  precision: 2
  round: down

  # Coverage range for color coding
  range: "50...90"

# Component-specific coverage configuration
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 1%
  individual_components:
    # Core packages with higher coverage requirements
    - component_id: core
      name: "@semiont/core"
      paths:
        - packages/core/**
    - component_id: api-client
      name: "@semiont/api-client"
      paths:
        - packages/api-client/**
    - component_id: ontology
      name: "@semiont/ontology"
      paths:
        - packages/ontology/**
    - component_id: content
      name: "@semiont/content"
      paths:
        - packages/content/**
    - component_id: event-sourcing
      name: "@semiont/event-sourcing"
      paths:
        - packages/event-sourcing/**
    - component_id: graph
      name: "@semiont/graph"
      paths:
        - packages/graph/**
    - component_id: inference
      name: "@semiont/inference"
      paths:
        - packages/inference/**
    - component_id: jobs
      name: "@semiont/jobs"
      paths:
        - packages/jobs/**
    - component_id: make-meaning
      name: "@semiont/make-meaning"
      paths:
        - packages/make-meaning/**
    - component_id: react-ui
      name: "@semiont/react-ui"
      paths:
        - packages/react-ui/**

# Ignore certain files from coverage
ignore:
  # Test files
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/*.spec.tsx"
  - "**/test/**"
  - "**/tests/**"
  - "**/__tests__/**"
  - "**/test-utils/**"

  # Build artifacts
  - "**/dist/**"
  - "**/build/**"
  - "**/coverage/**"
  - "**/.next/**"

  # Config files
  - "**/*.config.ts"
  - "**/*.config.js"
  - "**/jest.setup.ts"

  # Generated files
  - "**/generated/**"
  - "packages/api-client/src/types.ts"

  # Examples and demos
  - "**/examples/**"
  - "**/demo/**"

  # Scripts
  - "scripts/**"

# Comment configuration
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Flag configuration for different test suites
flags:
  # Individual package flags
  api-client:
    paths:
      - packages/api-client/**
    carryforward: true

  content:
    paths:
      - packages/content/**
    carryforward: true

  core:
    paths:
      - packages/core/**
    carryforward: true

  event-sourcing:
    paths:
      - packages/event-sourcing/**
    carryforward: true

  graph:
    paths:
      - packages/graph/**
    carryforward: true

  inference:
    paths:
      - packages/inference/**
    carryforward: true

  jobs:
    paths:
      - packages/jobs/**
    carryforward: true

  make-meaning:
    paths:
      - packages/make-meaning/**
    carryforward: true

  mcp-server:
    paths:
      - packages/mcp-server/**
    carryforward: true

  ontology:
    paths:
      - packages/ontology/**
    carryforward: true

  react-ui:
    paths:
      - packages/react-ui/**
    carryforward: true

  # App flags (for future use)
  frontend:
    paths:
      - apps/frontend/**
    carryforward: true

  backend:
    paths:
      - apps/backend/**
    carryforward: true

update docs
  apps/gateway/docs/AUTHENTICATION.md
  docs/system/administration/CONFIGURATION.md
Due: none

align AuthError.errorAccessDenied with the actual meaning
  apps/browser/messages-source/ar.json
  apps/browser/messages-source/bn.json
  apps/browser/messages-source/cs.json
  apps/browser/messages-source/da.json
  apps/browser/messages-source/de.json
  apps/browser/messages-source/el.json
  apps/browser/messages-source/en.json
  apps/browser/messages-source/es.json
  apps/browser/messages-source/fa.json
  apps/browser/messages-source/fi.json
  apps/browser/messages-source/fr.json
  apps/browser/messages-source/he.json
  apps/browser/messages-source/hi.json
  apps/browser/messages-source/id.json
  apps/browser/messages-source/it.json
  apps/browser/messages-source/ja.json
  apps/browser/messages-source/ko.json
  apps/browser/messages-source/ms.json
  apps/browser/messages-source/nl.json
  apps/browser/messages-source/no.json
  apps/browser/messages-source/pl.json
  apps/browser/messages-source/pt.json
  apps/browser/messages-source/ro.json
  apps/browser/messages-source/sv.json
  apps/browser/messages-source/th.json
  apps/browser/messages-source/tr.json
  apps/browser/messages-source/uk.json
  apps/browser/messages-source/vi.json
  apps/browser/messages-source/zh.json
  packages/react-ui/src/features/auth/__tests__/AuthErrorDisplay.test.tsx
Due: none

Add the person/actor/client attribution chain to core and fold the gateway's Principal into it
  apps/gateway/src/__tests__/auth/auth-integration.test.ts
  apps/gateway/src/__tests__/auth/bearer-only.test.ts
  apps/gateway/src/__tests__/auth/jwt.test.ts
  apps/gateway/src/__tests__/identity/gateway-token.test.ts
  apps/gateway/src/__tests__/identity/idp-token-auth.test.ts
  apps/gateway/src/__tests__/integration/api-endpoints.test.ts
  apps/gateway/src/__tests__/middleware/auth.test.ts
  apps/gateway/src/__tests__/routes/bus.test.ts
  apps/gateway/src/__tests__/routes/resource-create-validation.test.ts
  apps/gateway/src/identity/principal.ts
  packages/core/src/__tests__/principal.test.ts
  packages/core/src/event-base.ts
  packages/core/src/index.ts
  packages/core/src/principal.ts
Due: core, @semiont/core

Collapse the duplicate principalDid context slot into the principal itself
  apps/gateway/src/__tests__/middleware/auth.test.ts
  apps/gateway/src/__tests__/routes/bus.test.ts
  apps/gateway/src/__tests__/routes/resource-create-validation.test.ts
  apps/gateway/src/__tests__/routes/resource-pipe.test.ts
  apps/gateway/src/__tests__/routes/resource-raw-mode.test.ts
  apps/gateway/src/middleware/auth.ts
  apps/gateway/src/routes/bus.ts
  apps/gateway/src/routes/resources/routes/create.ts
  apps/gateway/src/routes/resources/shared.ts
  apps/gateway/src/types/hono-context.d.ts
Due: none

doc updates
  docs/system/FILESYSTEM.md
  packages/jobs/docs/API.md
  packages/jobs/docs/Configuration.md
  packages/jobs/docs/JobQueue.md
  packages/jobs/docs/Workers.md
Due: jobs, @semiont/jobs

Add `semiont identity sync` to repair a realm missing service-account clients
  apps/launcher/internal/launcher/executor.go
  apps/launcher/internal/launcher/identitycmd.go
  apps/launcher/internal/launcher/identitysync.go
  apps/launcher/internal/launcher/identitysync_test.go
  apps/launcher/main.go
Due: none

identity sync test
  apps/launcher/internal/launcher/identitysync_live_test.go
Due: none

Probe the implicit flow, and check the realm follows a Browser port move
  apps/launcher/internal/launcher/executor.go
  apps/launcher/internal/launcher/flows.go
  apps/launcher/internal/launcher/preflight.go
  apps/launcher/internal/launcher/preflight_test.go
Due: none

Reconcile the whole realm, not just its missing clients
  apps/launcher/internal/launcher/identity.go
  apps/launcher/internal/launcher/identitycmd.go
  apps/launcher/internal/launcher/identitysync.go
  apps/launcher/internal/launcher/identitysync_test.go
  docs/system/administration/AUTHENTICATION.md
Due: none

fix CI
  apps/launcher/internal/launcher/preflight_test.go
Due: none

fix CI
  apps/launcher/internal/fakert/main.go
  apps/launcher/internal/launcher/flows.go
Due: none

Repair a realm that a first-boot import left behind (#1421)
  apps/launcher/internal/fakert/main.go
  apps/launcher/internal/launcher/executor.go
  apps/launcher/internal/launcher/flows.go
  apps/launcher/internal/launcher/identity.go
  apps/launcher/internal/launcher/identitycmd.go
  apps/launcher/internal/launcher/identitysync.go
  apps/launcher/internal/launcher/identitysync_live_test.go
  apps/launcher/internal/launcher/identitysync_test.go
  apps/launcher/internal/launcher/preflight.go
  apps/launcher/internal/launcher/preflight_test.go
  apps/launcher/main.go
  docs/system/FILESYSTEM.md
  docs/system/administration/AUTHENTICATION.md
  packages/jobs/docs/API.md
  packages/jobs/docs/Configuration.md
  packages/jobs/docs/JobQueue.md
  packages/jobs/docs/Workers.md
Due: jobs, @semiont/jobs

Authenticate the NATS broker, credentials delivered as its own environment
  apps/gateway/src/index.ts
  apps/gateway/src/signal/__tests__/nats-auth.test.ts
  apps/gateway/src/signal/__tests__/nats-fixture.ts
  apps/gateway/src/signal/nats.ts
  apps/launcher/internal/launcher/config.go
  apps/launcher/internal/launcher/executor.go
  apps/launcher/internal/launcher/flows.go
  apps/launcher/internal/launcher/identity.go
  apps/launcher/internal/launcher/plan.go
  apps/launcher/internal/launcher/plan_test.go
  packages/core/src/config/config.schema.json
  packages/jobs/src/jetstream-job-queue.ts
  packages/make-meaning/src/service.ts
Due: core, jobs, make-meaning, @semiont/core, @semiont/jobs, @semiont/make-meaning

Authenticate the NATS broker, credentials delivered as its own environment (#1422)
  apps/gateway/src/index.ts
  apps/gateway/src/signal/__tests__/nats-auth.test.ts
  apps/gateway/src/signal/__tests__/nats-fixture.ts
  apps/gateway/src/signal/nats.ts
  apps/launcher/internal/launcher/config.go
  apps/launcher/internal/launcher/executor.go
  apps/launcher/internal/launcher/flows.go
  apps/launcher/internal/launcher/identity.go
  apps/launcher/internal/launcher/plan.go
  apps/launcher/internal/launcher/plan_test.go
  packages/core/src/config/config.schema.json
  packages/jobs/src/jetstream-job-queue.ts
  packages/make-meaning/src/service.ts
Due: core, jobs, make-meaning, @semiont/core, @semiont/jobs, @semiont/make-meaning

Collapse the service role to one declaration, and gate the rest
  apps/gateway/src/identity/agent-minter.ts
  package.json
  packages/core/src/index.ts
  packages/core/src/service-role.ts
  packages/make-meaning/src/archivist-read-path.ts
  scripts/lint/check-service-role-agreement.mjs
Due: core, make-meaning, @semiont/core, @semiont/make-meaning

Take the Archivist credential as a parameter instead of reading the environment
  apps/gateway/src/__tests__/routes/bus.test.ts
  apps/gateway/src/__tests__/routes/resource-create-validation.test.ts
  apps/gateway/src/__tests__/routes/resource-pipe.test.ts
  apps/gateway/src/__tests__/routes/resource-raw-mode.test.ts
  apps/gateway/src/index.ts
  apps/gateway/src/lib/archivist.ts
  apps/gateway/src/routes/bus.ts
  apps/gateway/src/routes/resources/routes/create.ts
  apps/gateway/src/routes/resources/routes/get-uri.ts
  apps/gateway/src/routes/status.ts
  apps/gateway/src/types/hono-context.d.ts
  packages/content/src/representation-reads.ts
  packages/core/src/config/node-config-loader.ts
  packages/jobs/src/worker-main.ts
  packages/make-meaning/src/__tests__/archivist-read-path.test.ts
  packages/make-meaning/src/librarian-main.ts
  packages/make-meaning/src/smelter-main.ts
Due: content, core, jobs, make-meaning, @semiont/core, @semiont/content, @semiont/jobs, @semiont/make-meaning

Require [identity]: a knowledge base without an issuer can authenticate nobody
  apps/gateway/src/__tests__/_test-setup.ts
  apps/gateway/src/__tests__/auth/agent-auth.test.ts
  apps/gateway/src/__tests__/identity/idp-token-auth.test.ts
  apps/gateway/src/__tests__/identity/protected-resource-metadata.test.ts
  apps/gateway/src/__tests__/setup.ts
  apps/gateway/src/identity/agent-minter.ts
  apps/gateway/src/identity/principal.ts
  apps/gateway/src/identity/resource-metadata.ts
  apps/gateway/src/identity/trusted-issuer.ts
  apps/gateway/src/index.ts
  apps/gateway/src/routes/well-known.ts
  apps/launcher/internal/launcher/identity_test.go
  apps/launcher/internal/launcher/plan.go
  apps/launcher/internal/launcher/plan_test.go
  apps/launcher/testdata/kb/.semiont/semiontconfig/anthropic.toml
  apps/launcher/testdata/kb/.semiont/semiontconfig/ollama-gemma.toml
  packages/core/src/__tests__/config/config-schema.test.ts
  packages/core/src/__tests__/config/toml-loader.test.ts
  packages/core/src/config/config.schema.json
  packages/core/src/config/toml-loader.ts
Due: core, @semiont/core

close test coverage gap
  packages/core/src/__tests__/config/node-config-loader.test.ts
  packages/core/src/__tests__/service-role.test.ts
Due: none

Give CI's generated config the now-mandatory identity section
  .github/workflows/security-tests.yml
Due: none

fix CI failures
  apps/launcher/launcher_test.go
  apps/launcher/testdata/golden/start-default-boot.argv
  apps/launcher/testdata/golden/start-docker-boot.argv
  apps/launcher/testdata/golden/start-dryrun-default.txt
  apps/launcher/testdata/golden/start-dryrun-local.txt
  apps/launcher/testdata/golden/start-host-ollama-boot.argv
  apps/launcher/testdata/golden/start-local-version-boot.argv
  apps/launcher/testdata/golden/start-no-observe-boot.argv
Due: none

fix test goldens
  apps/launcher/launcher_test.go
  apps/launcher/testdata/golden/start-default-boot.argv
  apps/launcher/testdata/golden/start-docker-boot.argv
  apps/launcher/testdata/golden/start-host-ollama-boot.argv
  apps/launcher/testdata/golden/start-jetstream-jobs-boot.argv
  apps/launcher/testdata/golden/start-local-version-boot.argv
  apps/launcher/testdata/golden/start-no-observe-boot.argv
  apps/launcher/testdata/golden/start-signal-only-boot.argv
Due: none

more goldens
  apps/launcher/testdata/golden/start-jetstream-jobs-boot.argv
  apps/launcher/testdata/golden/start-signal-only-boot.argv
Due: none

test optimization
  apps/launcher/internal/fakert/main.go
Due: none

The launcher suite: 664s → 195s, and the three seconds that wouldn't go away were `semiont stop` never stopping Keycloak (#1432)
  apps/launcher/internal/fakert/main.go
  apps/launcher/internal/launcher/stop.go
  apps/launcher/internal/launcher/stop_census_test.go
  apps/launcher/launcher_test.go
  apps/launcher/testdata/golden/stop-all-runtimes.argv
  apps/launcher/testdata/golden/stop-docker-only.argv
  apps/launcher/testdata/golden/stop-dryrun.txt
Due: none

batch dependabot PRs
  .github/workflows/package-tests.yml
  .github/workflows/publish-browser.yml
  .github/workflows/publish-service-images.yml
  .github/workflows/security-tests.yml
  apps/browser/package.json
  package-lock.json
  packages/inference/package.json
  packages/react-ui/package.json
  tests/e2e/package-lock.json
Due: inference, react-ui, @semiont/inference, @semiont/react-ui

batch dependabot PRs (#1433)
  .github/workflows/package-tests.yml
  .github/workflows/publish-browser.yml
  .github/workflows/publish-service-images.yml
  .github/workflows/security-tests.yml
  apps/browser/package.json
  package-lock.json
  packages/inference/package.json
  packages/react-ui/package.json
  tests/e2e/package-lock.json
Due: inference, react-ui, @semiont/inference, @semiont/react-ui

The gateway refuses to boot when it cannot reach the record: the Archivist address and its service account are startup requirements now, not first-request surprises
  .github/workflows/security-tests.yml
  apps/gateway/src/__tests__/_test-setup.ts
  apps/gateway/src/__tests__/boot-requirements.test.ts
  apps/gateway/src/__tests__/setup.ts
  apps/gateway/src/boot-requirements.ts
  apps/gateway/src/index.ts
Due: none

fix test setup
  apps/gateway/src/__tests__/setup/test-setup.ts
Due: none

The gateway refuses to boot when it cannot reach the record (#1434)
  .github/workflows/security-tests.yml
  apps/gateway/src/__tests__/_test-setup.ts
  apps/gateway/src/__tests__/boot-requirements.test.ts
  apps/gateway/src/__tests__/setup.ts
  apps/gateway/src/__tests__/setup/test-setup.ts
  apps/gateway/src/boot-requirements.ts
  apps/gateway/src/index.ts
Due: none

Move the bind:update-body handler to the Archivist, beside the Stower it drives.
  packages/make-meaning/src/__tests__/service-channels.test.ts
  packages/make-meaning/src/archivist-main.ts
  packages/make-meaning/src/handlers/__tests__/gateway-handler-census.test.ts
  packages/make-meaning/src/handlers/index.ts
  packages/make-meaning/src/service-channels.ts
Due: make-meaning, @semiont/make-meaning

Move the bind:update-body handler to the Archivist, beside the Stower it drives. (#1435)
  packages/make-meaning/src/__tests__/service-channels.test.ts
  packages/make-meaning/src/archivist-main.ts
  packages/make-meaning/src/handlers/__tests__/gateway-handler-census.test.ts
  packages/make-meaning/src/handlers/index.ts
  packages/make-meaning/src/service-channels.ts
Due: make-meaning, @semiont/make-meaning

Write down which subsystem traffic rides the bus and which deliberately does not.
  docs/protocol/EVENT-BUS.md
  docs/protocol/TRANSPORT-CONTRACT.md
Due: none

Parameterise the multi-instance service harness by roster.
  apps/gateway/src/signal/__tests__/multi-instance.test.ts
Due: none

Stand up the dispatcher: the service that will own the job queue, running nothing yet (#1436)
  apps/dispatcher/Dockerfile
  apps/dispatcher/NOTICE
  apps/dispatcher/README.md
  apps/gateway/src/signal/__tests__/multi-instance.test.ts
  apps/launcher/internal/launcher/executor.go
  apps/launcher/internal/launcher/flows.go
  apps/launcher/internal/launcher/identity.go
  apps/launcher/internal/launcher/logs.go
  apps/launcher/internal/launcher/memory.go
  apps/launcher/internal/launcher/memory_test.go
  apps/launcher/internal/launcher/service.go
  apps/launcher/internal/launcher/start.go
  apps/launcher/internal/launcher/status.go
  apps/launcher/internal/launcher/stop.go
  apps/launcher/launcher_test.go
  apps/launcher/testdata/golden/start-default-boot.argv
  apps/launcher/testdata/golden/start-docker-boot.argv
  apps/launcher/testdata/golden/start-dryrun-default.txt
  apps/launcher/testdata/golden/start-dryrun-keycloak-identity.txt
  apps/launcher/testdata/golden/start-dryrun-local.txt
  apps/launcher/testdata/golden/start-host-ollama-boot.argv
  apps/launcher/testdata/golden/start-jetstream-jobs-boot.argv
  apps/launcher/testdata/golden/start-keycloak-identity-boot.argv
  apps/launcher/testdata/golden/start-local-version-boot.argv
  apps/launcher/testdata/golden/start-no-observe-boot.argv
  apps/launcher/testdata/golden/start-port-conflict.argv
  apps/launcher/testdata/golden/start-signal-only-boot.argv
  apps/launcher/testdata/golden/stop-all-runtimes.argv
  apps/launcher/testdata/golden/stop-docker-only.argv
  apps/launcher/testdata/golden/stop-dryrun.txt
  docs/protocol/EVENT-BUS.md
  docs/protocol/TRANSPORT-CONTRACT.md
  packages/make-meaning/package.json
  packages/make-meaning/src/dispatcher-main.ts
  packages/make-meaning/tsup.config.ts
Due: make-meaning, @semiont/make-meaning

dispatcher build and roster
  .github/workflows/publish-service-images.yml
  packages/make-meaning/src/service-channels.ts
Due: make-meaning, @semiont/make-meaning

Move the job queue and job:* handlers off the gateway to the dispatcher
  apps/gateway/src/__tests__/auth/agent-auth.test.ts
  apps/gateway/src/__tests__/auth/auth-integration.test.ts
  apps/gateway/src/__tests__/auth/bearer-only.test.ts
  apps/gateway/src/__tests__/auth/diagnosability.test.ts
  apps/gateway/src/__tests__/helpers/knowledge-base-stub.ts
  apps/gateway/src/__tests__/helpers/make-meaning-mock.ts
  apps/gateway/src/__tests__/identity/idp-token-auth.test.ts
  apps/gateway/src/__tests__/identity/protected-resource-metadata.test.ts
  apps/gateway/src/__tests__/index.test.ts
  apps/gateway/src/__tests__/integration/annotation-crud.test.ts
  apps/gateway/src/__tests__/no-job-handlers-census.test.ts
  apps/gateway/src/__tests__/route-spec-coverage.test.ts
  apps/gateway/src/__tests__/security-controls.test.ts
  apps/gateway/src/index.ts
  apps/gateway/src/signal/__tests__/multi-instance.test.ts
  apps/gateway/src/signal/bridge.ts
  apps/gateway/src/signal/index.ts
  packages/make-meaning/src/handlers/__tests__/gateway-handler-census.test.ts
  packages/make-meaning/src/handlers/__tests__/job-command-census.test.ts
  packages/make-meaning/src/handlers/index.ts
  packages/make-meaning/src/index.ts
  packages/make-meaning/src/service-channels.ts
  packages/make-meaning/src/service.ts
Due: make-meaning, @semiont/make-meaning

Authorize job:claim by worker capability, not caller identity
  apps/gateway/src/__tests__/auth/agent-auth.test.ts
  apps/gateway/src/identity/agent-minter.ts
  apps/gateway/src/identity/principal.ts
  apps/gateway/src/routes/auth.ts
  apps/gateway/src/routes/bus.ts
  apps/gateway/src/types/jwt-types.ts
  apps/launcher/internal/fakert/main.go
  apps/launcher/internal/launcher/identity.go
  packages/core/src/index.ts
  packages/core/src/service-role.ts
  packages/make-meaning/src/__tests__/handlers/job-claim-authorization.test.ts
  packages/make-meaning/src/handlers/job-commands.ts
  packages/sdk-go/client_gen.go
  scripts/lint/check-service-role-agreement.mjs
  specs/src/components/schemas/JobClaimCommand.json
Due: core, make-meaning, @semiont/core, @semiont/make-meaning

Read job:create's entity-type and tag-schema validation over the bus
  packages/make-meaning/src/__tests__/handlers/job-claim-authorization.test.ts
  packages/make-meaning/src/__tests__/handlers/job-commands.test.ts
  packages/make-meaning/src/dispatcher-main.ts
  packages/make-meaning/src/handlers/index.ts
  packages/make-meaning/src/handlers/job-commands.ts
  packages/make-meaning/src/projection-reads-ask.ts
  packages/make-meaning/src/service-channels.ts
  packages/make-meaning/src/service.ts
Due: make-meaning, @semiont/make-meaning
