Repository The-AI-Alliance/semiont: changes, and which Codecov flags are due for each by the changed paths.
All: api-client, content, core, event-sourcing, graph, inference, jobs, make-meaning, mcp-server, ontology, react-ui, frontend, backend, @semiont/core, @semiont/api-client, @semiont/ontology, @semiont/content, @semiont/event-sourcing, @semiont/graph, @semiont/inference, @semiont/jobs, @semiont/make-meaning, @semiont/react-ui

codecov.yml:

# Codecov configuration for Semiont monorepo
# https://docs.codecov.io/docs/codecovyml-reference

codecov:
  # Require CI to finish before processing coverage
  require_ci_to_pass: true

  # Wait for all coverage reports before commenting
  notify:
    wait_for_ci: true

coverage:
  # Overall project coverage settings
  status:
    # Project-wide coverage status
    project:
      default:
        # Coverage can drop by 1% without failing
        threshold: 1%
        target: 70%  # Target 70% overall coverage

    # Per-PR patch coverage
    patch:
      default:
        # New code should have at least 80% coverage
        target: 80%
        threshold: 5%

  # Round coverage to 2 decimal places
  precision: 2
  round: down

  # Coverage range for color coding
  range: "50...90"

# Component-specific coverage configuration
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 1%
  individual_components:
    # Core packages with higher coverage requirements
    - component_id: core
      name: "@semiont/core"
      paths:
        - packages/core/**
    - component_id: api-client
      name: "@semiont/api-client"
      paths:
        - packages/api-client/**
    - component_id: ontology
      name: "@semiont/ontology"
      paths:
        - packages/ontology/**
    - component_id: content
      name: "@semiont/content"
      paths:
        - packages/content/**
    - component_id: event-sourcing
      name: "@semiont/event-sourcing"
      paths:
        - packages/event-sourcing/**
    - component_id: graph
      name: "@semiont/graph"
      paths:
        - packages/graph/**
    - component_id: inference
      name: "@semiont/inference"
      paths:
        - packages/inference/**
    - component_id: jobs
      name: "@semiont/jobs"
      paths:
        - packages/jobs/**
    - component_id: make-meaning
      name: "@semiont/make-meaning"
      paths:
        - packages/make-meaning/**
    - component_id: react-ui
      name: "@semiont/react-ui"
      paths:
        - packages/react-ui/**

# Ignore certain files from coverage
ignore:
  # Test files
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/*.spec.tsx"
  - "**/test/**"
  - "**/tests/**"
  - "**/__tests__/**"
  - "**/test-utils/**"

  # Build artifacts
  - "**/dist/**"
  - "**/build/**"
  - "**/coverage/**"
  - "**/.next/**"

  # Config files
  - "**/*.config.ts"
  - "**/*.config.js"
  - "**/jest.setup.ts"

  # Generated files
  - "**/generated/**"
  - "packages/api-client/src/types.ts"

  # Examples and demos
  - "**/examples/**"
  - "**/demo/**"

  # Scripts
  - "scripts/**"

# Comment configuration
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Flag configuration for different test suites
flags:
  # Individual package flags
  api-client:
    paths:
      - packages/api-client/**
    carryforward: true

  content:
    paths:
      - packages/content/**
    carryforward: true

  core:
    paths:
      - packages/core/**
    carryforward: true

  event-sourcing:
    paths:
      - packages/event-sourcing/**
    carryforward: true

  graph:
    paths:
      - packages/graph/**
    carryforward: true

  inference:
    paths:
      - packages/inference/**
    carryforward: true

  jobs:
    paths:
      - packages/jobs/**
    carryforward: true

  make-meaning:
    paths:
      - packages/make-meaning/**
    carryforward: true

  mcp-server:
    paths:
      - packages/mcp-server/**
    carryforward: true

  ontology:
    paths:
      - packages/ontology/**
    carryforward: true

  react-ui:
    paths:
      - packages/react-ui/**
    carryforward: true

  # App flags (for future use)
  frontend:
    paths:
      - apps/frontend/**
    carryforward: true

  backend:
    paths:
      - apps/backend/**
    carryforward: true

right panel titles
  packages/react-ui/translations/ar.json
  packages/react-ui/translations/bn.json
  packages/react-ui/translations/cs.json
  packages/react-ui/translations/da.json
  packages/react-ui/translations/de.json
  packages/react-ui/translations/el.json
  packages/react-ui/translations/en.json
  packages/react-ui/translations/es.json
  packages/react-ui/translations/fa.json
  packages/react-ui/translations/fi.json
  packages/react-ui/translations/fr.json
  packages/react-ui/translations/he.json
  packages/react-ui/translations/hi.json
  packages/react-ui/translations/id.json
  packages/react-ui/translations/it.json
  packages/react-ui/translations/ja.json
  packages/react-ui/translations/ko.json
  packages/react-ui/translations/ms.json
  packages/react-ui/translations/nl.json
  packages/react-ui/translations/no.json
  packages/react-ui/translations/pl.json
  packages/react-ui/translations/pt.json
  packages/react-ui/translations/ro.json
  packages/react-ui/translations/sv.json
  packages/react-ui/translations/th.json
  packages/react-ui/translations/tr.json
  packages/react-ui/translations/uk.json
  packages/react-ui/translations/vi.json
  packages/react-ui/translations/zh.json
Due: react-ui, @semiont/react-ui

fix user account panel layout
  apps/frontend/src/components/UserPanel.tsx
  packages/react-ui/src/styles/index.css
  packages/react-ui/src/styles/panels/user-panel.css
Due: react-ui, frontend, @semiont/react-ui

widen Annotation and JSON-LD panels
  packages/react-ui/src/styles/features/resource.css
Due: react-ui, @semiont/react-ui

change detection collapse/expand icons
  packages/react-ui/src/components/resource/panels/DetectSection.tsx
  packages/react-ui/src/components/resource/panels/ReferencesPanel.tsx
  packages/react-ui/src/components/resource/panels/TaggingPanel.tsx
  packages/react-ui/src/styles/components/panels-base.css
Due: react-ui, @semiont/react-ui

fix scrollable height of History Panel
  packages/react-ui/src/styles/panels/history-panel.css
Due: react-ui, @semiont/react-ui

history entry formatting
  packages/react-ui/src/components/resource/HistoryEvent.tsx
Due: react-ui, @semiont/react-ui

metadataBase: new URL(NEXT_PUBLIC_BASE_URL)
  apps/frontend/src/app/[locale]/layout.tsx
  apps/frontend/src/lib/env.ts
Due: frontend

update envoy config for next.js static assets
  apps/cli/templates/envoy.yaml
Due: none

fix invalid nested button syntax
  packages/react-ui/src/components/navigation/CollapsibleResourceNavigation.tsx
Due: react-ui, @semiont/react-ui

update test expectations
  apps/frontend/src/components/__tests__/UserPanel.test.tsx
Due: none

merge frontend and react-ui strings and build time rather than runtime
  apps/frontend/.gitignore
  apps/frontend/messages-source/ar.json
  apps/frontend/messages-source/bn.json
  apps/frontend/messages-source/cs.json
  apps/frontend/messages-source/da.json
  apps/frontend/messages-source/de.json
  apps/frontend/messages-source/el.json
  apps/frontend/messages-source/en.json
  apps/frontend/messages-source/es.json
  apps/frontend/messages-source/fa.json
  apps/frontend/messages-source/fi.json
  apps/frontend/messages-source/fr.json
  apps/frontend/messages-source/he.json
  apps/frontend/messages-source/hi.json
  apps/frontend/messages-source/id.json
  apps/frontend/messages-source/it.json
  apps/frontend/messages-source/ja.json
  apps/frontend/messages-source/ko.json
  apps/frontend/messages-source/ms.json
  apps/frontend/messages-source/nl.json
  apps/frontend/messages-source/no.json
  apps/frontend/messages-source/pl.json
  apps/frontend/messages-source/pt.json
  apps/frontend/messages-source/ro.json
  apps/frontend/messages-source/sv.json
  apps/frontend/messages-source/th.json
  apps/frontend/messages-source/tr.json
  apps/frontend/messages-source/uk.json
  apps/frontend/messages-source/vi.json
  apps/frontend/messages-source/zh.json
  apps/frontend/package.json
  apps/frontend/scripts/merge-translations.js
  apps/frontend/src/hooks/useMergedTranslationManager.ts
Due: frontend

merge-translations before testing
  apps/frontend/package.json
Due: frontend

coverage reports will need merge-translations
  apps/frontend/package.json
Due: frontend

merge frontend and react-ui strings and build time rather than runtime (#413)
  apps/frontend/.gitignore
  apps/frontend/messages-source/ar.json
  apps/frontend/messages-source/bn.json
  apps/frontend/messages-source/cs.json
  apps/frontend/messages-source/da.json
  apps/frontend/messages-source/de.json
  apps/frontend/messages-source/el.json
  apps/frontend/messages-source/en.json
  apps/frontend/messages-source/es.json
  apps/frontend/messages-source/fa.json
  apps/frontend/messages-source/fi.json
  apps/frontend/messages-source/fr.json
  apps/frontend/messages-source/he.json
  apps/frontend/messages-source/hi.json
  apps/frontend/messages-source/id.json
  apps/frontend/messages-source/it.json
  apps/frontend/messages-source/ja.json
  apps/frontend/messages-source/ko.json
  apps/frontend/messages-source/ms.json
  apps/frontend/messages-source/nl.json
  apps/frontend/messages-source/no.json
  apps/frontend/messages-source/pl.json
  apps/frontend/messages-source/pt.json
  apps/frontend/messages-source/ro.json
  apps/frontend/messages-source/sv.json
  apps/frontend/messages-source/th.json
  apps/frontend/messages-source/tr.json
  apps/frontend/messages-source/uk.json
  apps/frontend/messages-source/vi.json
  apps/frontend/messages-source/zh.json
  apps/frontend/package.json
  apps/frontend/scripts/merge-translations.js
  apps/frontend/src/hooks/useMergedTranslationManager.ts
Due: frontend

security tests should merge-translations
  apps/frontend/package.json
Due: frontend

reorder list of ai features
  README.md
Due: none

frontend container (#414)
  apps/frontend/package.json
Due: frontend

restore manual resolution via search
  packages/react-ui/src/components/modals/ResourceSearchModal.tsx
Due: react-ui, @semiont/react-ui

restore manual resolution via search (#415)
  packages/react-ui/src/components/modals/ResourceSearchModal.tsx
Due: react-ui, @semiont/react-ui

smaller red waves for 'assessing' annotations
  packages/react-ui/src/styles/motivations/motivation-assessment.css
Due: react-ui, @semiont/react-ui

fix image annotation resizing
  packages/react-ui/src/components/image-annotation/SvgDrawingCanvas.tsx
Due: react-ui, @semiont/react-ui

translucent layer over image annotations on hover
  packages/react-ui/src/components/image-annotation/AnnotationOverlay.tsx
  packages/react-ui/src/styles/features/resource-viewer.css
Due: react-ui, @semiont/react-ui

simplify annotation tooltip strings
  packages/react-ui/src/components/CodeMirrorRenderer.tsx
  packages/react-ui/src/components/image-annotation/AnnotationOverlay.tsx
Due: react-ui, @semiont/react-ui

account for missing body
  packages/react-ui/src/components/image-annotation/AnnotationOverlay.tsx
Due: react-ui, @semiont/react-ui

use isResolvedReference
  packages/react-ui/src/components/image-annotation/AnnotationOverlay.tsx
Due: react-ui, @semiont/react-ui

minor UI fixes and optimizations (#416)
  packages/react-ui/src/components/CodeMirrorRenderer.tsx
  packages/react-ui/src/components/image-annotation/AnnotationOverlay.tsx
  packages/react-ui/src/components/image-annotation/SvgDrawingCanvas.tsx
  packages/react-ui/src/styles/features/resource-viewer.css
  packages/react-ui/src/styles/motivations/motivation-assessment.css
Due: react-ui, @semiont/react-ui

left sidebar and right panel width are adjustable
  apps/frontend/src/components/toolbar/ToolbarPanels.tsx
  packages/react-ui/src/components/ResizeHandle.tsx
  packages/react-ui/src/components/layout/LeftSidebar.tsx
  packages/react-ui/src/hooks/usePanelWidth.ts
  packages/react-ui/src/index.ts
  packages/react-ui/src/styles/components/left-sidebar.css
  packages/react-ui/src/styles/components/resize-handle.css
  packages/react-ui/src/styles/features/resource.css
  packages/react-ui/src/styles/index.css
Due: react-ui, frontend, @semiont/react-ui

resize handle more visible; restore style for RESOURCES title on left nav
  packages/react-ui/src/styles/components/left-sidebar.css
  packages/react-ui/src/styles/components/navigation-tabs.css
  packages/react-ui/src/styles/components/resize-handle.css
Due: react-ui, @semiont/react-ui

left sidebar and right panel width are adjustable (#417)
  apps/frontend/src/components/toolbar/ToolbarPanels.tsx
  packages/react-ui/src/components/ResizeHandle.tsx
  packages/react-ui/src/components/layout/LeftSidebar.tsx
  packages/react-ui/src/hooks/usePanelWidth.ts
  packages/react-ui/src/index.ts
  packages/react-ui/src/styles/components/left-sidebar.css
  packages/react-ui/src/styles/components/navigation-tabs.css
  packages/react-ui/src/styles/components/resize-handle.css
  packages/react-ui/src/styles/features/resource.css
  packages/react-ui/src/styles/index.css
Due: react-ui, frontend, @semiont/react-ui

fix scrolling
  packages/react-ui/src/components/CodeMirrorRenderer.tsx
  packages/react-ui/src/features/resource-viewer/components/ResourceViewerPage.tsx
  packages/react-ui/src/hooks/useAnnotationPanel.ts
  packages/react-ui/src/styles/components/status-display.css
  packages/react-ui/src/styles/components/toolbar.css
  packages/react-ui/src/styles/features/resource-viewer.css
  packages/react-ui/src/styles/features/resource.css
Due: react-ui, @semiont/react-ui

fix panel -> inline annotation scroll
  packages/react-ui/src/components/CodeMirrorRenderer.tsx
  packages/react-ui/src/components/resource/BrowseView.tsx
  packages/react-ui/src/components/resource/panels/ReferenceEntry.tsx
Due: react-ui, @semiont/react-ui

fix scrolling problems (#418)
  packages/react-ui/src/components/CodeMirrorRenderer.tsx
  packages/react-ui/src/components/resource/BrowseView.tsx
  packages/react-ui/src/components/resource/panels/ReferenceEntry.tsx
  packages/react-ui/src/features/resource-viewer/components/ResourceViewerPage.tsx
  packages/react-ui/src/hooks/useAnnotationPanel.ts
  packages/react-ui/src/styles/components/status-display.css
  packages/react-ui/src/styles/components/toolbar.css
  packages/react-ui/src/styles/features/resource-viewer.css
  packages/react-ui/src/styles/features/resource.css
Due: react-ui, @semiont/react-ui

make sure right sidebar (toolbar) hugs right side
  apps/frontend/src/app/[locale]/know/layout.tsx
  packages/react-ui/src/styles/features/resource.css
Due: react-ui, frontend, @semiont/react-ui

make sure right sidebar (toolbar) hugs right side (#419)
  apps/frontend/src/app/[locale]/know/layout.tsx
  packages/react-ui/src/styles/features/resource.css
Due: react-ui, frontend, @semiont/react-ui

dark theme for .semiont-nav-section__header-text
  packages/react-ui/src/styles/components/navigation-tabs.css
Due: react-ui, @semiont/react-ui

fix human resource creation flow, including graph sync issues
  apps/frontend/src/app/[locale]/know/compose/page.tsx
  packages/graph/src/implementations/neo4j.ts
  packages/react-ui/src/components/resource/panels/ReferenceEntry.tsx
  packages/react-ui/src/components/resource/panels/ReferencesPanel.tsx
  packages/react-ui/src/components/resource/panels/UnifiedAnnotationsPanel.tsx
  packages/react-ui/src/features/resource-compose/__tests__/ResourceComposePage.test.tsx
  packages/react-ui/src/features/resource-compose/components/ResourceComposePage.tsx
  packages/react-ui/src/features/resource-viewer/components/ResourceViewerPage.tsx
Due: graph, react-ui, frontend, @semiont/graph, @semiont/react-ui

cache invalidation
  packages/react-ui/src/lib/api-hooks.ts
Due: react-ui, @semiont/react-ui

Fix linking that follows manual resource authoring/creation (#420)
  apps/frontend/src/app/[locale]/know/compose/page.tsx
  packages/graph/src/implementations/neo4j.ts
  packages/react-ui/src/components/resource/panels/ReferenceEntry.tsx
  packages/react-ui/src/components/resource/panels/ReferencesPanel.tsx
  packages/react-ui/src/components/resource/panels/UnifiedAnnotationsPanel.tsx
  packages/react-ui/src/features/resource-compose/__tests__/ResourceComposePage.test.tsx
  packages/react-ui/src/features/resource-compose/components/ResourceComposePage.tsx
  packages/react-ui/src/features/resource-viewer/components/ResourceViewerPage.tsx
  packages/react-ui/src/lib/api-hooks.ts
  packages/react-ui/src/styles/components/navigation-tabs.css
Due: graph, react-ui, frontend, @semiont/graph, @semiont/react-ui

update graph docs
  packages/graph/README.md
  packages/graph/docs/ARCHITECTURE.md
  packages/graph/docs/EVENTUAL-CONSISTENCY.md
Due: graph, @semiont/graph
