Repository The-AI-Alliance/semiont: changes, and which Codecov flags are due for each by the changed paths.
All: api-client, content, core, event-sourcing, graph, inference, jobs, make-meaning, mcp-server, ontology, react-ui, frontend, backend, @semiont/core, @semiont/api-client, @semiont/ontology, @semiont/content, @semiont/event-sourcing, @semiont/graph, @semiont/inference, @semiont/jobs, @semiont/make-meaning, @semiont/react-ui

codecov.yml:

# Codecov configuration for Semiont monorepo
# https://docs.codecov.io/docs/codecovyml-reference

codecov:
  # Require CI to finish before processing coverage
  require_ci_to_pass: true

  # Wait for all coverage reports before commenting
  notify:
    wait_for_ci: true

coverage:
  # Overall project coverage settings
  status:
    # Project-wide coverage status
    project:
      default:
        # Coverage can drop by 1% without failing
        threshold: 1%
        target: 70%  # Target 70% overall coverage

    # Per-PR patch coverage
    patch:
      default:
        # New code should have at least 80% coverage
        target: 80%
        threshold: 5%

  # Round coverage to 2 decimal places
  precision: 2
  round: down

  # Coverage range for color coding
  range: "50...90"

# Component-specific coverage configuration
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 1%
  individual_components:
    # Core packages with higher coverage requirements
    - component_id: core
      name: "@semiont/core"
      paths:
        - packages/core/**
    - component_id: api-client
      name: "@semiont/api-client"
      paths:
        - packages/api-client/**
    - component_id: ontology
      name: "@semiont/ontology"
      paths:
        - packages/ontology/**
    - component_id: content
      name: "@semiont/content"
      paths:
        - packages/content/**
    - component_id: event-sourcing
      name: "@semiont/event-sourcing"
      paths:
        - packages/event-sourcing/**
    - component_id: graph
      name: "@semiont/graph"
      paths:
        - packages/graph/**
    - component_id: inference
      name: "@semiont/inference"
      paths:
        - packages/inference/**
    - component_id: jobs
      name: "@semiont/jobs"
      paths:
        - packages/jobs/**
    - component_id: make-meaning
      name: "@semiont/make-meaning"
      paths:
        - packages/make-meaning/**
    - component_id: react-ui
      name: "@semiont/react-ui"
      paths:
        - packages/react-ui/**

# Ignore certain files from coverage
ignore:
  # Test files
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/*.spec.tsx"
  - "**/test/**"
  - "**/tests/**"
  - "**/__tests__/**"
  - "**/test-utils/**"

  # Build artifacts
  - "**/dist/**"
  - "**/build/**"
  - "**/coverage/**"
  - "**/.next/**"

  # Config files
  - "**/*.config.ts"
  - "**/*.config.js"
  - "**/jest.setup.ts"

  # Generated files
  - "**/generated/**"
  - "packages/api-client/src/types.ts"

  # Examples and demos
  - "**/examples/**"
  - "**/demo/**"

  # Scripts
  - "scripts/**"

# Comment configuration
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Flag configuration for different test suites
flags:
  # Individual package flags
  api-client:
    paths:
      - packages/api-client/**
    carryforward: true

  content:
    paths:
      - packages/content/**
    carryforward: true

  core:
    paths:
      - packages/core/**
    carryforward: true

  event-sourcing:
    paths:
      - packages/event-sourcing/**
    carryforward: true

  graph:
    paths:
      - packages/graph/**
    carryforward: true

  inference:
    paths:
      - packages/inference/**
    carryforward: true

  jobs:
    paths:
      - packages/jobs/**
    carryforward: true

  make-meaning:
    paths:
      - packages/make-meaning/**
    carryforward: true

  mcp-server:
    paths:
      - packages/mcp-server/**
    carryforward: true

  ontology:
    paths:
      - packages/ontology/**
    carryforward: true

  react-ui:
    paths:
      - packages/react-ui/**
    carryforward: true

  # App flags (for future use)
  frontend:
    paths:
      - apps/frontend/**
    carryforward: true

  backend:
    paths:
      - apps/backend/**
    carryforward: true

machineRead flag
  packages/jobs/src/workers/generation/__tests__/resource-generation.test.ts
  packages/jobs/src/workers/generation/resource-generation.ts
  packages/make-meaning/src/__tests__/smelter.test.ts
  packages/make-meaning/src/annotation-context.ts
  packages/make-meaning/src/llm-context.ts
  packages/make-meaning/src/smelter.ts
  packages/vectors/src/__tests__/memory-store.test.ts
  packages/vectors/src/store/interface.ts
  packages/vectors/src/store/memory.ts
  packages/vectors/src/store/qdrant.ts
  specs/src/components/schemas/SemanticMatch.json
Due: jobs, make-meaning, @semiont/jobs, @semiont/make-meaning

machine-read flag on annotations
  packages/make-meaning/src/__tests__/smelter.test.ts
  packages/make-meaning/src/smelter.ts
  packages/vectors/src/__tests__/memory-store.test.ts
  packages/vectors/src/store/interface.ts
  packages/vectors/src/store/memory.ts
  packages/vectors/src/store/qdrant.ts
Due: make-meaning, @semiont/make-meaning

e2e for pdf ocr
  packages/react-ui/src/lib/job-outcome.ts
  tests/e2e/scripts/seed.ts
  tests/e2e/specs/22-pdf-scanned-decline.spec.ts
Due: react-ui, @semiont/react-ui

address copilot comments
  packages/jobs/src/__tests__/worker-process.test.ts
  packages/jobs/src/worker-process.ts
  specs/src/components/schemas/JobDeclinedResult.json
Due: jobs, @semiont/jobs

fill launcher gap (spec gap uncovered by ocr work)
  apps/launcher/internal/fakert/main.go
  apps/launcher/internal/launcher/yield.go
  apps/launcher/launcher_test.go
  packages/sdk-go/client_gen.go
Due: none

fix ci failure
  apps/launcher/launcher_test.go
  specs/src/openapi.json
Due: none

decline too-big pdfs
  packages/content/src/__tests__/extraction-limits.test.ts
  packages/content/src/pdf-extractor.ts
  packages/content/src/pdf-page-images.ts
Due: content, @semiont/content

address copilot comments
  packages/content/src/__tests__/extraction-limits.test.ts
  packages/content/src/pdf-page-images.ts
Due: content, @semiont/content

Bound extraction memory: oversized PDFs decline instead of OOM-ing the worker (#1124)
  packages/content/src/__tests__/extraction-limits.test.ts
  packages/content/src/pdf-extractor.ts
  packages/content/src/pdf-page-images.ts
Due: content, @semiont/content

assist progress strings
  packages/react-ui/src/components/AssistProgress.tsx
  packages/react-ui/src/components/__tests__/AssistProgress.test.tsx
Due: react-ui, @semiont/react-ui

Potential fix for pull request finding
  packages/react-ui/src/features/resource-viewer/__tests__/ResourceViewerPage.test.tsx
Due: none

fix test
  packages/react-ui/src/features/resource-viewer/__tests__/ResourceViewerPage.test.tsx
Due: none

fix test (#1126)
  packages/react-ui/src/features/resource-viewer/__tests__/ResourceViewerPage.test.tsx
Due: none

anchored text cache, 0
  packages/content/src/__tests__/generate-fixtures.ts
  packages/content/src/__tests__/locate.test.ts
  packages/content/src/__tests__/ocr-geometry.test.ts
  packages/content/src/__tests__/pdf-page-images.test.ts
  packages/content/src/content-extractor.ts
  packages/content/src/extract-pdf-text-layer.ts
  packages/content/src/index.ts
  packages/content/src/locate.ts
  packages/content/src/ocr-geometry.ts
  packages/content/src/pdf-extractor.ts
  packages/content/src/pdf-page-images.ts
  packages/content/src/pdf-tables.ts
  packages/content/src/pdf-text-layer.ts
  packages/core/src/__tests__/anchor-runs.test.ts
  packages/core/src/__tests__/text-under.test.ts
  packages/core/src/index.ts
  packages/core/src/pdf-anchoring.ts
  packages/jobs/src/__tests__/prepare-detection.test.ts
  packages/jobs/src/processors.ts
  packages/react-ui/src/components/pdf-annotation/PdfAnnotationCanvas.tsx
  packages/react-ui/src/components/pdf-annotation/__tests__/PdfAnnotationCanvas.test.tsx
Due: content, core, jobs, react-ui, @semiont/core, @semiont/content, @semiont/jobs, @semiont/react-ui

anchored text cache, 2
  packages/content/src/__tests__/anchored-text-cache.test.ts
  packages/content/src/anchored-text-store.ts
  packages/content/src/content-extractor.ts
  packages/content/src/index.ts
  packages/content/src/pdf-extractor.ts
Due: content, @semiont/content

anchored text cache, 3
  packages/content/src/__tests__/anchored-text-cache.test.ts
  packages/content/src/anchored-text-store.ts
Due: content, @semiont/content

anchored text cache, 4
  packages/content/src/__tests__/anchored-text-cache.test.ts
  packages/content/src/anchored-text-store.ts
Due: content, @semiont/content

test pdf scans; fix 22-pdf-scanned-decline.spec.ts
  packages/content/src/__tests__/generate-fixtures.ts
  packages/content/src/__tests__/pdf-ocr.test.ts
  packages/content/src/__tests__/pdf-page-images.test.ts
  tests/e2e/specs/14-pdf-render.spec.ts
  tests/e2e/specs/22-pdf-scanned-decline.spec.ts
Due: none

fix go drift gate
  packages/sdk-go/client_gen.go
  specs/src/components/schemas/BrowseAnchoredTextResult.json
  specs/src/paths/resources_{id}_anchored-text.json
Due: none

local-build.sh shouldn't leave modified package-lock in place
  scripts/ci/local-build.sh
Due: none

implement PUT for anchored text
  apps/backend/src/__tests__/route-spec-coverage.test.ts
  apps/backend/src/__tests__/routes/anchored-text-put.test.ts
  apps/backend/src/middleware/auth.ts
  apps/backend/src/routes/resources/routes/get-uri.ts
  apps/backend/src/routes/resources/shared.ts
  packages/sdk-go/client_gen.go
  specs/src/paths/resources_{id}_anchored-text.json
Due: backend

e2e for pdf anchored text
  tests/e2e/specs/23-pdf-anchored-text.spec.ts
Due: none

cleanup
  apps/backend/src/middleware/auth.ts
  apps/backend/src/routes/resources/routes/get-uri.ts
  scripts/bus/generate-go.mjs
  scripts/bus/generate-ts.mjs
  scripts/bus/validate-registry.mjs
Due: backend

validate registry
  scripts/bus/validate-registry.mjs
Due: none

address copilot comments
  apps/backend/src/__tests__/routes/anchored-text-get.test.ts
  apps/backend/src/routes/resources/routes/get-uri.ts
  packages/content/src/pdf-extractor.ts
  packages/http-transport/src/transport/http-content-transport.ts
  packages/react-ui/src/components/pdf-annotation/PdfAnnotationCanvas.tsx
  specs/src/paths/resources_{id}_anchored-text.json
  tests/e2e/specs/23-pdf-anchored-text.spec.ts
Due: content, react-ui, backend, @semiont/content, @semiont/react-ui

fix tests
  apps/backend/src/__tests__/routes/anchored-text-get.test.ts
  docs/development/TESTING.md
  packages/jobs/src/__tests__/prepare-detection.test.ts
  packages/react-ui/src/components/resource/__tests__/AnnotateView.focus.test.tsx
Due: none

test coverage
  packages/core/src/__tests__/locate.test.ts
  packages/core/src/__tests__/text-under.test.ts
  packages/http-transport/src/transport/__tests__/http-content-transport.anchored-text.test.ts
Due: none

update docs for pdf ocr and text anchoring
  docs/protocol/TRANSPORT-CONTRACT.md
  docs/protocol/W3C-SELECTORS.md
  docs/system/ANCHORING.md
  docs/system/README.md
  packages/content/README.md
  packages/core/README.md
Due: content, core, @semiont/core, @semiont/content

Download File links carry a media token and the backend origin
  apps/frontend/docs/MEDIA-ACCESS.md
  packages/react-ui/src/__tests__/embeddable-surface.test.ts
  packages/react-ui/src/components/resource/AnnotateView.tsx
  packages/react-ui/src/components/resource/BrowseView.tsx
  packages/react-ui/src/components/resource/DownloadFileLink.tsx
  packages/react-ui/src/components/resource/__tests__/download-link.test.tsx
  packages/react-ui/src/features/resource-viewer/components/ResourceViewerPage.tsx
  packages/react-ui/src/hooks/useMediaToken.ts
  packages/react-ui/src/index.ts
  packages/react-ui/src/lib/media-url.ts
Due: react-ui, frontend, @semiont/react-ui

persist anchors, phase 0
  apps/backend/src/__tests__/helpers/make-meaning-mock.ts
  apps/backend/src/routes/resources/routes/get-uri.ts
  apps/backend/src/routes/resources/shared.ts
  packages/content/src/__tests__/anchored-text-cache.test.ts
  packages/content/src/anchored-text-store.ts
  packages/content/src/content-extractor.ts
  packages/content/src/pdf-extractor.ts
  packages/core/src/bus-operations.ts
  packages/core/src/bus-protocol.ts
  packages/core/src/transport.ts
  packages/http-transport/src/transport/http-content-transport.ts
  packages/make-meaning/src/__tests__/helpers/anchored-text.ts
  packages/make-meaning/src/__tests__/helpers/smelter-harness.ts
  packages/make-meaning/src/__tests__/smelter-anchored-text.test.ts
  packages/make-meaning/src/__tests__/smelter-axioms.test.ts
  packages/make-meaning/src/__tests__/smelter.test.ts
  packages/make-meaning/src/local-content-transport.ts
  packages/make-meaning/src/smelter-actor-state-unit.ts
  packages/make-meaning/src/smelter-main.ts
  packages/make-meaning/src/smelter.ts
  packages/sdk-go/bus/channels_gen.go
  packages/sdk-go/bus/operations_gen.go
  packages/sdk/src/__tests__/client-passthroughs.test.ts
  packages/sdk/src/namespaces/__tests__/browse.test.ts
  packages/sdk/src/namespaces/__tests__/cache-semantics.test.ts
  packages/sdk/src/namespaces/__tests__/commands.test.ts
  packages/sdk/src/namespaces/__tests__/ui-signals.test.ts
  packages/sdk/src/testing.ts
  specs/src/bus/registry.json
  specs/src/components/schemas/SmeltRebuildAnchorsCommand.json
  specs/src/openapi.json
  specs/src/paths/anchored-text_keys.json
Due: content, core, make-meaning, backend, @semiont/core, @semiont/content, @semiont/make-meaning

persist anchors, phase 1a
  packages/content/src/__tests__/anchored-text-cache.test.ts
  packages/content/src/anchored-text-store.ts
  packages/core/src/index.ts
  packages/core/src/shard-utils.ts
  packages/event-sourcing/src/index.ts
  packages/event-sourcing/src/storage/event-storage.ts
  packages/event-sourcing/src/storage/storage-uri-index.ts
  packages/event-sourcing/src/storage/view-storage.ts
Due: content, core, event-sourcing, @semiont/core, @semiont/content, @semiont/event-sourcing

persist anchors, phase 1b
  apps/backend/src/__tests__/routes/anchored-text-put.test.ts
  apps/backend/src/routes/resources/routes/get-uri.ts
  packages/content/src/anchored-text-store.ts
  packages/core/src/transport.ts
  packages/http-transport/src/transport/__tests__/http-content-transport.anchored-text.test.ts
  packages/http-transport/src/transport/http-content-transport.ts
  packages/make-meaning/src/__tests__/anchored-text-transport.test.ts
  packages/make-meaning/src/__tests__/helpers/smelter-harness.ts
  packages/make-meaning/src/__tests__/smelter-anchored-text.test.ts
  packages/make-meaning/src/__tests__/smelter-axioms.test.ts
  packages/make-meaning/src/__tests__/smelter.test.ts
  packages/make-meaning/src/local-content-transport.ts
  packages/make-meaning/src/read-anchored-text.ts
  packages/make-meaning/src/smelter.ts
  packages/sdk/src/testing.ts
  specs/src/openapi.json
  specs/src/paths/anchored-text_{checksum}.json
  specs/src/paths/resources_{id}_anchored-text.json
Due: content, core, make-meaning, backend, @semiont/core, @semiont/content, @semiont/make-meaning

persist anchors, phase 1c
  packages/content/src/content-extractor.ts
Due: content, @semiont/content

persist anchors, phase 2a
  apps/backend/src/__tests__/route-spec-coverage.test.ts
  apps/backend/src/__tests__/routes/anchored-text-put.test.ts
  apps/backend/src/routes/resources/routes/get-uri.ts
  packages/content/src/__tests__/anchored-text-cache.test.ts
  packages/content/src/anchored-text-store.ts
  packages/content/src/pdf-extractor.ts
  packages/core/src/__tests__/extraction-outcome-types.test.ts
  packages/core/src/bus-protocol.ts
  packages/core/src/index.ts
  packages/core/src/pdf-anchoring.ts
  packages/core/src/transport.ts
  packages/http-transport/src/transport/__tests__/http-content-transport.anchored-text.test.ts
  packages/http-transport/src/transport/http-content-transport.ts
  packages/make-meaning/src/__tests__/anchored-text-transport.test.ts
  packages/make-meaning/src/__tests__/helpers/anchored-text.ts
  packages/make-meaning/src/__tests__/helpers/smelter-harness.ts
  packages/make-meaning/src/__tests__/smelter-anchored-text.test.ts
  packages/make-meaning/src/__tests__/smelter-axioms.test.ts
  packages/make-meaning/src/__tests__/smelter.test.ts
  packages/make-meaning/src/local-content-transport.ts
  packages/make-meaning/src/read-anchored-text.ts
  packages/make-meaning/src/smelter.ts
  packages/react-ui/src/components/pdf-annotation/PdfAnnotationCanvas.tsx
  packages/react-ui/src/hooks/__tests__/useStateUnit.identity.test.tsx
  packages/sdk-go/client_gen.go
  packages/sdk/src/namespaces/browse.ts
  packages/sdk/src/namespaces/types.ts
  packages/sdk/src/testing.ts
  specs/src/bus/registry.json
  specs/src/components/schemas/BrowseAnchoredTextResult.json
  specs/src/components/schemas/ExtractionOutcome.json
  specs/src/openapi.json
  specs/src/paths/anchored-text_{checksum}.json
  specs/src/paths/resources_{id}_anchored-text.json
Due: content, core, make-meaning, react-ui, backend, @semiont/core, @semiont/content, @semiont/make-meaning, @semiont/react-ui

persist anchors, phase 2b
  packages/content/src/__tests__/anchored-text-cache.test.ts
  packages/content/src/anchored-text-store.ts
  packages/content/src/content-extractor.ts
  packages/content/src/pdf-extractor.ts
Due: content, @semiont/content
