Repository The-AI-Alliance/semiont: changes, and which Codecov flags are due for each by the changed paths.
All: api-client, content, core, event-sourcing, graph, inference, jobs, make-meaning, mcp-server, ontology, react-ui, frontend, backend, @semiont/core, @semiont/api-client, @semiont/ontology, @semiont/content, @semiont/event-sourcing, @semiont/graph, @semiont/inference, @semiont/jobs, @semiont/make-meaning, @semiont/react-ui

codecov.yml:

# Codecov configuration for Semiont monorepo
# https://docs.codecov.io/docs/codecovyml-reference

codecov:
  # Require CI to finish before processing coverage
  require_ci_to_pass: true

  # Wait for all coverage reports before commenting
  notify:
    wait_for_ci: true

coverage:
  # Overall project coverage settings
  status:
    # Project-wide coverage status
    project:
      default:
        # Coverage can drop by 1% without failing
        threshold: 1%
        target: 70%  # Target 70% overall coverage

    # Per-PR patch coverage
    patch:
      default:
        # New code should have at least 80% coverage
        target: 80%
        threshold: 5%

  # Round coverage to 2 decimal places
  precision: 2
  round: down

  # Coverage range for color coding
  range: "50...90"

# Component-specific coverage configuration
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 1%
  individual_components:
    # Core packages with higher coverage requirements
    - component_id: core
      name: "@semiont/core"
      paths:
        - packages/core/**
    - component_id: api-client
      name: "@semiont/api-client"
      paths:
        - packages/api-client/**
    - component_id: ontology
      name: "@semiont/ontology"
      paths:
        - packages/ontology/**
    - component_id: content
      name: "@semiont/content"
      paths:
        - packages/content/**
    - component_id: event-sourcing
      name: "@semiont/event-sourcing"
      paths:
        - packages/event-sourcing/**
    - component_id: graph
      name: "@semiont/graph"
      paths:
        - packages/graph/**
    - component_id: inference
      name: "@semiont/inference"
      paths:
        - packages/inference/**
    - component_id: jobs
      name: "@semiont/jobs"
      paths:
        - packages/jobs/**
    - component_id: make-meaning
      name: "@semiont/make-meaning"
      paths:
        - packages/make-meaning/**
    - component_id: react-ui
      name: "@semiont/react-ui"
      paths:
        - packages/react-ui/**

# Ignore certain files from coverage
ignore:
  # Test files
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/*.spec.tsx"
  - "**/test/**"
  - "**/tests/**"
  - "**/__tests__/**"
  - "**/test-utils/**"

  # Build artifacts
  - "**/dist/**"
  - "**/build/**"
  - "**/coverage/**"
  - "**/.next/**"

  # Config files
  - "**/*.config.ts"
  - "**/*.config.js"
  - "**/jest.setup.ts"

  # Generated files
  - "**/generated/**"
  - "packages/api-client/src/types.ts"

  # Examples and demos
  - "**/examples/**"
  - "**/demo/**"

  # Scripts
  - "scripts/**"

# Comment configuration
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Flag configuration for different test suites
flags:
  # Individual package flags
  api-client:
    paths:
      - packages/api-client/**
    carryforward: true

  content:
    paths:
      - packages/content/**
    carryforward: true

  core:
    paths:
      - packages/core/**
    carryforward: true

  event-sourcing:
    paths:
      - packages/event-sourcing/**
    carryforward: true

  graph:
    paths:
      - packages/graph/**
    carryforward: true

  inference:
    paths:
      - packages/inference/**
    carryforward: true

  jobs:
    paths:
      - packages/jobs/**
    carryforward: true

  make-meaning:
    paths:
      - packages/make-meaning/**
    carryforward: true

  mcp-server:
    paths:
      - packages/mcp-server/**
    carryforward: true

  ontology:
    paths:
      - packages/ontology/**
    carryforward: true

  react-ui:
    paths:
      - packages/react-ui/**
    carryforward: true

  # App flags (for future use)
  frontend:
    paths:
      - apps/frontend/**
    carryforward: true

  backend:
    paths:
      - apps/backend/**
    carryforward: true

fix failing tests
  packages/make-meaning/src/__tests__/exchange/backup-importer.test.ts
Due: none

bus operations registry, phase 1
  packages/core/src/__tests__/bus-invariants.test.ts
  packages/core/src/__tests__/gathered-context-types.test.ts
  packages/core/src/bridged-channels.ts
  packages/core/src/bus-log.ts
  packages/core/src/bus-operations.ts
  packages/core/src/bus-protocol.ts
  specs/src/components/schemas/GatherAnnotationFinished.json
  specs/src/components/schemas/GatherFinished.json
  specs/src/components/schemas/GatherProgress.json
  specs/src/openapi.json
Due: core, @semiont/core

refactor(jobs): replace job:claim's hand-rolled request/reply with busRequest
  packages/jobs/src/job-claim-adapter.ts
Due: jobs, @semiont/jobs

refactor(bus): converge yield:create onto busRequest (correlation-matched)
  packages/make-meaning/src/__tests__/exchange/backup-importer.test.ts
  packages/make-meaning/src/__tests__/exchange/linked-data-importer.test.ts
  packages/make-meaning/src/__tests__/exchange/replay.test.ts
  packages/make-meaning/src/exchange/linked-data-importer.ts
  packages/make-meaning/src/exchange/replay.ts
  packages/make-meaning/src/resource-operations.ts
  packages/make-meaning/src/stower.ts
  packages/sdk/src/namespaces/__tests__/browse.test.ts
  packages/sdk/src/namespaces/__tests__/entity-types-flow.test.ts
  packages/sdk/src/namespaces/browse.ts
  specs/src/components/schemas/YieldCreateCommand.json
  specs/src/components/schemas/YieldCreateOk.json
Due: make-meaning, @semiont/make-meaning

refactor(bus): make yield:update busRequest-ready + fix its failure type
  packages/core/src/bus-protocol.ts
  packages/make-meaning/src/stower.ts
  packages/sdk/src/namespaces/__tests__/entity-types-flow.test.ts
  packages/sdk/src/namespaces/browse.ts
  specs/src/components/schemas/YieldUpdateCommand.json
  specs/src/components/schemas/YieldUpdateOk.json
Due: core, make-meaning, @semiont/core, @semiont/make-meaning

refactor(make-meaning): factor importer request/reply into awaitReply helper
  packages/make-meaning/src/exchange/await-reply.ts
  packages/make-meaning/src/exchange/linked-data-importer.ts
  packages/make-meaning/src/exchange/replay.ts
Due: make-meaning, @semiont/make-meaning

refactor(bus): infer busRequest return type from the registry, drop ~45 annotations
  packages/core/src/__tests__/bus-request.test.ts
  packages/core/src/bus-request.ts
  packages/jobs/src/job-claim-adapter.ts
  packages/make-meaning/src/bootstrap/entity-types.ts
  packages/make-meaning/src/exchange/linked-data-importer.ts
  packages/make-meaning/src/exchange/replay.ts
  packages/make-meaning/src/resource-operations.ts
  packages/make-meaning/src/smelter.ts
  packages/sdk/src/namespaces/bind.ts
  packages/sdk/src/namespaces/browse.ts
  packages/sdk/src/namespaces/frame.ts
  packages/sdk/src/namespaces/gather.ts
  packages/sdk/src/namespaces/job.ts
  packages/sdk/src/namespaces/mark.ts
  packages/sdk/src/namespaces/yield.ts
  specs/src/components/schemas/YieldCloneCreated.json
Due: core, jobs, make-meaning, @semiont/core, @semiont/jobs, @semiont/make-meaning

refactor(bus): de-launder reply-emit casts; verify top-level fields (reply-shape Phase 4)
  packages/make-meaning/src/handlers/annotation-assembly.ts
  packages/make-meaning/src/handlers/annotation-lookups.ts
  packages/make-meaning/src/handlers/bind-update-body.ts
  packages/make-meaning/src/handlers/job-commands.ts
  specs/src/components/schemas/JobCreateCommand.json
Due: make-meaning, @semiont/make-meaning

refactor(make-meaning): drop unnecessary as-unknown-as casts in LocalTransport
  packages/make-meaning/src/local-transport.ts
Due: make-meaning, @semiont/make-meaning

protocol doc updates
  docs/protocol/CHANNELS.md
  docs/protocol/EVENT-BUS.md
  docs/protocol/TRANSPORT-CONTRACT.md
  docs/protocol/TRANSPORT-HTTP.md
  docs/protocol/flows/BIND.md
  docs/protocol/flows/MARK.md
  docs/protocol/flows/YIELD.md
Due: none

tag schema e2e test
  tests/e2e/specs/17-tag-schema-single-delivery.spec.ts
Due: none

doc updates
  docs/system/platforms/Container.md
  docs/system/platforms/External.md
  docs/system/platforms/POSIX.md
  docs/system/platforms/README.md
Due: none

SDK developer guide and other SDK doc updates and corrections
  packages/sdk/README.md
  packages/sdk/docs/CACHE-SEMANTICS.md
  packages/sdk/docs/DEVELOPER-GUIDE.md
  packages/sdk/docs/REACTIVE-MODEL.md
  packages/sdk/docs/Usage.md
Due: none

BusRequestError from SDK
  packages/sdk/README.md
  packages/sdk/docs/DEVELOPER-GUIDE.md
  packages/sdk/docs/Usage.md
  packages/sdk/src/index.ts
Due: none

precursors for excludeEntityTypes
  packages/sdk/docs/DEVELOPER-GUIDE.md
Due: none

bus request error from sdk (#938)
  packages/sdk/README.md
  packages/sdk/docs/DEVELOPER-GUIDE.md
  packages/sdk/docs/Usage.md
  packages/sdk/src/index.ts
Due: none

axioms, phase 1
  packages/react-ui/src/features/admin-exchange/state/exchange-state-unit.ts
  packages/react-ui/src/features/admin-security/state/admin-security-state-unit.ts
  packages/react-ui/src/features/admin-users/state/__tests__/admin-users-state-unit.test.ts
  packages/react-ui/src/features/admin-users/state/admin-users-state-unit.ts
  packages/react-ui/src/features/moderate-entity-tags/state/entity-tags-state-unit.ts
  packages/react-ui/src/features/resource-compose/state/compose-page-state-unit.ts
  packages/sdk/src/state/flows/__tests__/beckon-state-unit.test.ts
  packages/sdk/src/state/flows/__tests__/gather-state-unit.test.ts
  packages/sdk/src/state/flows/__tests__/mark-state-unit.test.ts
  packages/sdk/src/state/flows/__tests__/match-state-unit.test.ts
  packages/sdk/src/state/flows/__tests__/yield-state-unit.test.ts
  packages/sdk/src/state/lib/__tests__/state-unit-axioms.test.ts
  packages/sdk/src/state/lib/state-unit-axioms.ts
  packages/sdk/src/testing.ts
Due: react-ui, @semiont/react-ui

axioms, phase 3
  packages/core/src/state-unit-axioms.ts
  packages/react-ui/src/features/admin-exchange/state/__tests__/exchange-state-unit.test.ts
  packages/react-ui/src/features/admin-security/state/__tests__/admin-security-state-unit.test.ts
  packages/react-ui/src/features/admin-users/state/__tests__/admin-users-state-unit.test.ts
  packages/react-ui/src/features/moderate-entity-tags/state/__tests__/entity-tags-state-unit.test.ts
  packages/react-ui/src/features/resource-discovery/state/__tests__/discover-state-unit.test.ts
Due: core, @semiont/core

fix phantom dependency
  packages/core/package.json
Due: core, @semiont/core

axioms, phase 4
  packages/react-ui/src/features/resource-compose/state/__tests__/compose-page-state-unit.test.ts
  packages/react-ui/src/features/resource-compose/state/compose-page-state-unit.ts
  packages/react-ui/src/features/resource-viewer/state/__tests__/resource-viewer-page-state-unit.test.ts
Due: react-ui, @semiont/react-ui

axioms, phase 5
  .github/workflows/architecture-compliance.yml
  packages/react-ui/src/state/shell-state-unit.ts
  scripts/compliance/audit-all-compliance.sh
  scripts/compliance/audit-fire-and-forget-promise-void.sh
  scripts/compliance/audit-state-unit-module-state.sh
  scripts/compliance/audit-state-unit-no-class.sh
Due: react-ui, @semiont/react-ui

direct tests of state-unit-axioms in core
  packages/core/src/__tests__/state-unit-axioms.test.ts
Due: none

axioms, phase 6
  packages/sdk/docs/STATE-UNITS.md
Due: none

document updates
  docs/protocol/README.md
  docs/protocol/flows/GATHER.md
  docs/protocol/flows/MATCHER.md
  docs/protocol/flows/YIELD.md
  docs/protocol/skills/semiont-aggregate/SKILL.md
  docs/protocol/skills/semiont-wiki/SKILL.md
  packages/make-meaning/docs/SCRIPTING.md
  packages/make-meaning/docs/examples.md
  packages/sdk/docs/STATE-UNITS.md
Due: make-meaning, @semiont/make-meaning

package-lock.json; scripts/compliance/audit-raw-bus.sh
  package-lock.json
  scripts/compliance/audit-raw-bus.sh
Due: none

package-lock.json; scripts/compliance/audit-raw-bus.sh (#940)
  package-lock.json
  scripts/compliance/audit-raw-bus.sh
Due: none

fix e2e test
  tests/e2e/specs/16-generate-from-resource.spec.ts
Due: none

bump version to 0.5.11
  apps/backend/package.json
  apps/backend/package.publish.json
  apps/cli/package.json
  apps/desktop/package.json
  apps/frontend/package.json
  apps/frontend/package.publish.json
  package-lock.json
  package.json
  packages/content/package.json
  packages/core/package.json
  packages/event-sourcing/package.json
  packages/graph/package.json
  packages/http-transport/package.json
  packages/inference/package.json
  packages/jobs/package.json
  packages/make-meaning/package.json
  packages/mcp-server/package.json
  packages/observability/package.json
  packages/ontology/package.json
  packages/react-ui/package.json
  packages/sdk/package.json
  packages/test-utils/package.json
  packages/vectors/package.json
  version.json
Due: content, core, event-sourcing, graph, inference, jobs, make-meaning, mcp-server, ontology, react-ui, frontend, backend, @semiont/core, @semiont/ontology, @semiont/content, @semiont/event-sourcing, @semiont/graph, @semiont/inference, @semiont/jobs, @semiont/make-meaning, @semiont/react-ui

embeddable resource viewer
  packages/react-ui/src/__tests__/embeddable-surface.test.ts
  packages/react-ui/src/components/annotation/AnnotateToolbar.tsx
  packages/react-ui/src/components/annotation/__tests__/AnnotateToolbar.test.tsx
  packages/react-ui/src/components/resource/AnnotateView.tsx
  packages/react-ui/src/components/resource/BrowseView.tsx
  packages/react-ui/src/components/resource/ResourceViewer.tsx
  packages/react-ui/src/components/resource/__tests__/AnnotateView.embeddable.test.tsx
  packages/react-ui/src/components/resource/__tests__/BrowseView.embeddable.test.tsx
  packages/react-ui/src/components/resource/__tests__/BrowseView.registry.test.tsx
  packages/react-ui/src/components/resource/__tests__/BrowseView.test.tsx
  packages/react-ui/src/components/resource/__tests__/ResourceViewer.embeddable.test.tsx
  packages/react-ui/src/components/resource/__tests__/ResourceViewer.mode-switch.test.tsx
  packages/react-ui/src/components/resource/browse-renderers.tsx
  packages/react-ui/src/features/resource-viewer/components/ResourceViewerPage.tsx
  packages/react-ui/src/features/resource-viewer/state/resource-viewer-page-state-unit.ts
  packages/react-ui/src/hooks/__tests__/useMediaToken.test.tsx
  packages/react-ui/src/hooks/__tests__/useResourceLoader.test.tsx
  packages/react-ui/src/hooks/useMediaToken.ts
  packages/react-ui/src/hooks/useResourceLoader.ts
  packages/react-ui/src/hooks/useSessionEventSubscriptions.ts
  packages/react-ui/src/index.ts
  packages/react-ui/src/lib/annotation-groups.ts
Due: react-ui, @semiont/react-ui

embeddable resource viewer (#942)
  packages/react-ui/src/__tests__/embeddable-surface.test.ts
  packages/react-ui/src/components/annotation/AnnotateToolbar.tsx
  packages/react-ui/src/components/annotation/__tests__/AnnotateToolbar.test.tsx
  packages/react-ui/src/components/resource/AnnotateView.tsx
  packages/react-ui/src/components/resource/BrowseView.tsx
  packages/react-ui/src/components/resource/ResourceViewer.tsx
  packages/react-ui/src/components/resource/__tests__/AnnotateView.embeddable.test.tsx
  packages/react-ui/src/components/resource/__tests__/BrowseView.embeddable.test.tsx
  packages/react-ui/src/components/resource/__tests__/BrowseView.registry.test.tsx
  packages/react-ui/src/components/resource/__tests__/BrowseView.test.tsx
  packages/react-ui/src/components/resource/__tests__/ResourceViewer.embeddable.test.tsx
  packages/react-ui/src/components/resource/__tests__/ResourceViewer.mode-switch.test.tsx
  packages/react-ui/src/components/resource/browse-renderers.tsx
  packages/react-ui/src/features/resource-viewer/components/ResourceViewerPage.tsx
  packages/react-ui/src/features/resource-viewer/state/resource-viewer-page-state-unit.ts
  packages/react-ui/src/hooks/__tests__/useMediaToken.test.tsx
  packages/react-ui/src/hooks/__tests__/useResourceLoader.test.tsx
  packages/react-ui/src/hooks/useMediaToken.ts
  packages/react-ui/src/hooks/useResourceLoader.ts
  packages/react-ui/src/hooks/useSessionEventSubscriptions.ts
  packages/react-ui/src/index.ts
  packages/react-ui/src/lib/annotation-groups.ts
Due: react-ui, @semiont/react-ui

update docs for embeddable resource viewer in @semiont/react-ui
  packages/react-ui/README.md
  packages/react-ui/docs/COMPONENTS.md
  packages/sdk/docs/DEVELOPER-GUIDE.md
Due: react-ui, @semiont/react-ui

update react-ui components doc
  packages/react-ui/docs/COMPONENTS.md
Due: react-ui, @semiont/react-ui

update ACK_ALLOWLIST
  scripts/compliance/audit-fire-and-forget-promise-void.sh
Due: none

improve test coverage
  packages/make-meaning/src/__tests__/annotation-operations.test.ts
Due: none

feat(sdk): add mark.updateEntityTypes to tag a resource after creation (#943)
  packages/core/src/__tests__/bus-invariants.test.ts
  packages/core/src/bus-operations.ts
  packages/core/src/bus-protocol.ts
  packages/make-meaning/src/__tests__/annotation-operations.test.ts
  packages/make-meaning/src/stower.ts
  packages/react-ui/docs/COMPONENTS.md
  packages/sdk/src/namespaces/__tests__/commands.test.ts
  packages/sdk/src/namespaces/mark.ts
  packages/sdk/src/namespaces/types.ts
  scripts/compliance/audit-fire-and-forget-promise-void.sh
  specs/src/components/schemas/MarkUpdateEntityTypesCommand.json
Due: core, make-meaning, react-ui, @semiont/core, @semiont/make-meaning, @semiont/react-ui

cross-media, embeddable resoure viewer with parameterized annotation bar and hovercard over resolved references
  packages/react-ui/src/components/annotation/AnnotateToolbar.tsx
  packages/react-ui/src/components/annotation/__tests__/AnnotateToolbar.display.test.tsx
  packages/react-ui/src/components/resource/BrowseView.tsx
  packages/react-ui/src/components/resource/ResourceViewer.tsx
  packages/react-ui/src/components/resource/__tests__/BrowseView.links.test.tsx
  packages/react-ui/src/components/resource/__tests__/BrowseView.reference-hover.test.tsx
  packages/react-ui/src/components/resource/__tests__/browse-renderers.test.tsx
  packages/react-ui/src/components/resource/__tests__/inline-embedding.test.tsx
  packages/react-ui/src/components/resource/__tests__/media-completeness.test.tsx
  packages/react-ui/src/components/toolbar/Toolbar.css
  packages/react-ui/src/styles/features/resource-viewer.css
Due: react-ui, @semiont/react-ui
