Repository The-AI-Alliance/semiont: changes, and which Codecov flags are due for each by the changed paths.
All: api-client, content, core, event-sourcing, graph, inference, jobs, make-meaning, mcp-server, ontology, react-ui, frontend, backend, @semiont/core, @semiont/api-client, @semiont/ontology, @semiont/content, @semiont/event-sourcing, @semiont/graph, @semiont/inference, @semiont/jobs, @semiont/make-meaning, @semiont/react-ui

codecov.yml:

# Codecov configuration for Semiont monorepo
# https://docs.codecov.io/docs/codecovyml-reference

codecov:
  # Require CI to finish before processing coverage
  require_ci_to_pass: true

  # Wait for all coverage reports before commenting
  notify:
    wait_for_ci: true

coverage:
  # Overall project coverage settings
  status:
    # Project-wide coverage status
    project:
      default:
        # Coverage can drop by 1% without failing
        threshold: 1%
        target: 70%  # Target 70% overall coverage

    # Per-PR patch coverage
    patch:
      default:
        # New code should have at least 80% coverage
        target: 80%
        threshold: 5%

  # Round coverage to 2 decimal places
  precision: 2
  round: down

  # Coverage range for color coding
  range: "50...90"

# Component-specific coverage configuration
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 1%
  individual_components:
    # Core packages with higher coverage requirements
    - component_id: core
      name: "@semiont/core"
      paths:
        - packages/core/**
    - component_id: api-client
      name: "@semiont/api-client"
      paths:
        - packages/api-client/**
    - component_id: ontology
      name: "@semiont/ontology"
      paths:
        - packages/ontology/**
    - component_id: content
      name: "@semiont/content"
      paths:
        - packages/content/**
    - component_id: event-sourcing
      name: "@semiont/event-sourcing"
      paths:
        - packages/event-sourcing/**
    - component_id: graph
      name: "@semiont/graph"
      paths:
        - packages/graph/**
    - component_id: inference
      name: "@semiont/inference"
      paths:
        - packages/inference/**
    - component_id: jobs
      name: "@semiont/jobs"
      paths:
        - packages/jobs/**
    - component_id: make-meaning
      name: "@semiont/make-meaning"
      paths:
        - packages/make-meaning/**
    - component_id: react-ui
      name: "@semiont/react-ui"
      paths:
        - packages/react-ui/**

# Ignore certain files from coverage
ignore:
  # Test files
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/*.spec.tsx"
  - "**/test/**"
  - "**/tests/**"
  - "**/__tests__/**"
  - "**/test-utils/**"

  # Build artifacts
  - "**/dist/**"
  - "**/build/**"
  - "**/coverage/**"
  - "**/.next/**"

  # Config files
  - "**/*.config.ts"
  - "**/*.config.js"
  - "**/jest.setup.ts"

  # Generated files
  - "**/generated/**"
  - "packages/api-client/src/types.ts"

  # Examples and demos
  - "**/examples/**"
  - "**/demo/**"

  # Scripts
  - "scripts/**"

# Comment configuration
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Flag configuration for different test suites
flags:
  # Individual package flags
  api-client:
    paths:
      - packages/api-client/**
    carryforward: true

  content:
    paths:
      - packages/content/**
    carryforward: true

  core:
    paths:
      - packages/core/**
    carryforward: true

  event-sourcing:
    paths:
      - packages/event-sourcing/**
    carryforward: true

  graph:
    paths:
      - packages/graph/**
    carryforward: true

  inference:
    paths:
      - packages/inference/**
    carryforward: true

  jobs:
    paths:
      - packages/jobs/**
    carryforward: true

  make-meaning:
    paths:
      - packages/make-meaning/**
    carryforward: true

  mcp-server:
    paths:
      - packages/mcp-server/**
    carryforward: true

  ontology:
    paths:
      - packages/ontology/**
    carryforward: true

  react-ui:
    paths:
      - packages/react-ui/**
    carryforward: true

  # App flags (for future use)
  frontend:
    paths:
      - apps/frontend/**
    carryforward: true

  backend:
    paths:
      - apps/backend/**
    carryforward: true

start linking to Semiont Knowledge Bases rather than semiont-workflows
  README.md
Due: none

yield command should use withBaseArgs
  apps/cli/src/core/commands/yield.ts
Due: none

avoid yield:update if checksum has not changed
  apps/cli/src/core/commands/yield.ts
Due: none

subscription management
  apps/cli/src/core/commands/yield.ts
Due: none

rm cli's (un)archive; rewrite yield to wrap api-client
  apps/cli/src/core/api-client-factory.ts
  apps/cli/src/core/command-discovery.ts
  apps/cli/src/core/commands/archive.ts
  apps/cli/src/core/commands/init.ts
  apps/cli/src/core/commands/unarchive.ts
  apps/cli/src/core/commands/yield.ts
Due: none

semiont mark
  apps/cli/src/core/command-discovery.ts
  apps/cli/src/core/commands/mark.ts
  packages/make-meaning/src/__tests__/generation/resource-generation.test.ts
  packages/react-ui/src/hooks/useMarkFlow.ts
  specs/src/components/schemas/BodyPurpose.json
  specs/src/components/schemas/Motivation.json
  specs/src/components/schemas/SpecificResource.json
  specs/src/components/schemas/TextualBody.json
Due: react-ui, @semiont/react-ui

semiont gather --help
  apps/cli/src/core/command-discovery.ts
Due: none

semiont match
  apps/cli/src/core/command-discovery.ts
  apps/cli/src/core/commands/gather.ts
  apps/cli/src/core/commands/match.ts
Due: none

semiont bind
  apps/cli/src/core/command-discovery.ts
  apps/cli/src/core/commands/bind.ts
Due: none

semiont yield [--upload | --generate]
  apps/cli/src/core/commands/yield.ts
Due: none

semiont mark --detect
  apps/cli/src/core/commands/mark.ts
Due: none

use --delegate for ai-assisted mark and yield
  apps/cli/src/core/commands/mark.ts
  apps/cli/src/core/commands/yield.ts
Due: none

semiont beckon stub
  apps/cli/src/core/command-discovery.ts
  apps/cli/src/core/commands/beckon.ts
Due: none

semiont browse
  apps/cli/src/core/command-discovery.ts
  apps/cli/src/core/commands/browse.ts
Due: none

rename api-client methods to match active verbs used in cli
  apps/cli/src/core/commands/bind.ts
  apps/cli/src/core/commands/browse.ts
  apps/cli/src/core/commands/gather.ts
  apps/cli/src/core/commands/mark.ts
  apps/cli/src/core/commands/match.ts
  apps/cli/src/core/commands/yield.ts
  packages/api-client/src/__tests__/client.test.ts
  packages/api-client/src/__tests__/event-bus-client.test.ts
  packages/api-client/src/client.ts
  packages/api-client/src/event-bus-client.ts
  packages/api-client/src/sse/index.ts
  packages/mcp-server/src/handlers.ts
  packages/react-ui/src/features/resource-viewer/__tests__/BindFlowIntegration.test.tsx
  packages/react-ui/src/hooks/__tests__/useBindFlow.test.tsx
  packages/react-ui/src/hooks/useBindFlow.ts
  packages/react-ui/src/hooks/useContextGatherFlow.ts
  packages/react-ui/src/hooks/useMarkFlow.ts
  packages/react-ui/src/hooks/useYieldFlow.ts
  packages/react-ui/src/lib/__tests__/api-hooks-auth.test.tsx
  packages/react-ui/src/lib/api-hooks.ts
Due: api-client, mcp-server, react-ui, @semiont/api-client, @semiont/react-ui

rename api-client methods to match active verbs used in cli
  packages/api-client/src/__tests__/client.test.ts
  packages/api-client/src/__tests__/event-bus-client.test.ts
  packages/api-client/src/sse/index.ts
  packages/react-ui/src/contexts/AnnotationContext.tsx
  packages/react-ui/src/contexts/ResourceAnnotationsContext.tsx
  packages/react-ui/src/contexts/__tests__/AnnotationContext.test.tsx
  packages/react-ui/src/features/resource-viewer/__tests__/AnnotationCreationPending.test.tsx
  packages/react-ui/src/features/resource-viewer/__tests__/AnnotationProgressDismissal.test.tsx
  packages/react-ui/src/features/resource-viewer/__tests__/DetectionFlowBug.test.tsx
  packages/react-ui/src/features/resource-viewer/__tests__/DetectionFlowIntegration.test.tsx
  packages/react-ui/src/features/resource-viewer/__tests__/ResourceViewerPage.test.tsx
  packages/react-ui/src/features/resource-viewer/__tests__/YieldFlowIntegration.test.tsx
  packages/react-ui/src/features/resource-viewer/__tests__/annotation-progress-flow.test.tsx
  packages/react-ui/src/hooks/__tests__/useContextGatherFlow.test.tsx
  packages/react-ui/src/hooks/__tests__/useMarkFlow.test.tsx
  packages/react-ui/src/hooks/useYieldFlow.ts
  packages/react-ui/src/lib/__tests__/api-hooks-auth.test.tsx
  packages/react-ui/src/types/AnnotationManager.ts
Due: api-client, react-ui, @semiont/api-client, @semiont/react-ui

convert some synchronous endpoints to sse
  apps/cli/src/core/commands/bind.ts
  apps/cli/src/core/commands/gather.ts
  packages/api-client/src/sse/index.ts
  packages/core/src/event-map.ts
  packages/react-ui/src/hooks/useBindFlow.ts
  packages/react-ui/src/hooks/useContextGatherFlow.ts
  specs/src/components/schemas/BindAnnotationStreamRequest.json
  specs/src/components/schemas/GatherAnnotationStreamRequest.json
  specs/src/components/schemas/GatherResourceStreamRequest.json
  specs/src/openapi.json
  specs/src/paths/resources_{id}_gather-resource-stream.json
  specs/src/paths/resources_{resourceId}_annotations_{annotationId}_bind-stream.json
  specs/src/paths/resources_{resourceId}_annotations_{annotationId}_gather-annotation-stream.json
Due: api-client, core, react-ui, @semiont/core, @semiont/api-client, @semiont/react-ui

convert some synchronous endpoints to sse
  apps/cli/src/core/commands/match.ts
  apps/cli/src/core/commands/yield.ts
Due: none

browse and listen
  apps/cli/src/core/command-discovery.ts
  apps/cli/src/core/commands/browse.ts
  apps/cli/src/core/commands/listen.ts
Due: none

rm 'any' case
  apps/cli/src/core/commands/listen.ts
Due: none

standard bus/user/password args for 7 commands
  apps/cli/src/core/api-client-factory.ts
  apps/cli/src/core/base-options-schema.ts
  apps/cli/src/core/commands/bind.ts
  apps/cli/src/core/commands/browse.ts
  apps/cli/src/core/commands/gather.ts
  apps/cli/src/core/commands/listen.ts
  apps/cli/src/core/commands/mark.ts
  apps/cli/src/core/commands/match.ts
  apps/cli/src/core/commands/yield.ts
Due: none

update cli docs
  apps/cli/README.md
  apps/cli/docs/ADDING_COMMANDS.md
Due: none

rebalance cli readme
  apps/cli/README.md
Due: none

cross-participant beckon plumbing
  apps/backend/src/index.ts
  apps/backend/src/routes/participants/index.ts
  apps/backend/src/routes/participants/routes/attention-stream.ts
  apps/backend/src/routes/participants/routes/beckon.ts
  apps/backend/src/routes/participants/streams.ts
  apps/cli/src/core/commands/beckon.ts
  apps/frontend/src/app/[locale]/know/layout.tsx
  docs/flows/BECKON.md
  packages/api-client/src/client.ts
  packages/api-client/src/sse/index.ts
  packages/react-ui/src/hooks/useBeckonFlow.ts
  specs/src/components/schemas/BeckonRequest.json
  specs/src/components/schemas/BeckonResponse.json
  specs/src/openapi.json
  specs/src/paths/api_participants_me_attention-stream.json
  specs/src/paths/api_participants_{id}_attention.json
Due: api-client, react-ui, frontend, backend, @semiont/api-client, @semiont/react-ui

de-dupe beckon event type
  apps/backend/src/routes/participants/routes/beckon.ts
  apps/backend/src/routes/participants/streams.ts
  packages/core/src/event-map.ts
  packages/react-ui/src/components/resource/BrowseView.tsx
Due: core, react-ui, backend, @semiont/core, @semiont/react-ui

improve route name
  apps/backend/src/routes/participants/attention-channels.ts
  apps/backend/src/routes/participants/routes/attention-stream.ts
  apps/backend/src/routes/participants/routes/beckon.ts
  apps/backend/src/routes/participants/streams.ts
Due: backend

cli infra doc
  apps/cli/docs/INFRASTRUCTURE.md
Due: none

test new routes
  apps/backend/src/__tests__/routes/participants.test.ts
  packages/api-client/src/__tests__/sse-client.test.ts
Due: none

tests for new cli commands
  apps/cli/src/core/commands/__tests__/beckon-command.test.ts
  apps/cli/src/core/commands/__tests__/browse-command.test.ts
  apps/cli/src/core/commands/__tests__/gather-bind-match-command.test.ts
  apps/cli/src/core/commands/__tests__/listen-command.test.ts
  apps/cli/src/core/commands/__tests__/mark-command.test.ts
  apps/cli/src/core/commands/__tests__/stop-command.test.ts
  apps/cli/src/core/commands/__tests__/yield-command.test.ts
Due: none

fix tests
  apps/cli/src/core/commands/__tests__/beckon-command.test.ts
  apps/cli/src/core/commands/__tests__/browse-command.test.ts
  apps/cli/src/core/commands/__tests__/gather-bind-match-command.test.ts
  apps/cli/src/core/commands/__tests__/listen-command.test.ts
  apps/cli/src/core/commands/__tests__/mark-command.test.ts
  apps/cli/src/core/commands/__tests__/yield-command.test.ts
Due: none

version updates
  apps/cli/package.json
  package-lock.json
Due: none

fix import
  packages/react-ui/src/features/resource-viewer/__tests__/BindFlowIntegration.test.tsx
Due: none

fix package versions (vitest, ...)
  package-lock.json
  packages/api-client/package.json
  packages/content/package.json
  packages/core/package.json
  packages/event-sourcing/package.json
  packages/graph/package.json
  packages/inference/package.json
  packages/jobs/package.json
  packages/make-meaning/package.json
  packages/mcp-server/package.json
  packages/ontology/package.json
  packages/react-ui/package.json
  packages/test-utils/package.json
Due: api-client, content, core, event-sourcing, graph, inference, jobs, make-meaning, mcp-server, ontology, react-ui, @semiont/core, @semiont/api-client, @semiont/ontology, @semiont/content, @semiont/event-sourcing, @semiont/graph, @semiont/inference, @semiont/jobs, @semiont/make-meaning, @semiont/react-ui

fix test
  packages/react-ui/src/features/resource-viewer/__tests__/BindFlowIntegration.test.tsx
Due: none

fix tests
  apps/backend/src/__tests__/routes/participants.test.ts
  apps/frontend/package.json
Due: frontend

fix tests
  packages/react-ui/src/hooks/__tests__/useBindFlow.test.tsx
Due: none

fix test
  apps/cli/src/core/commands/__tests__/mark-command.test.ts
Due: none

rm dynamic imports
  apps/cli/src/core/commands/__tests__/beckon-command.test.ts
  apps/cli/src/core/commands/__tests__/browse-command.test.ts
  apps/cli/src/core/commands/__tests__/gather-bind-match-command.test.ts
  apps/cli/src/core/commands/__tests__/listen-command.test.ts
  apps/cli/src/core/commands/__tests__/mark-command.test.ts
  apps/cli/src/core/commands/__tests__/yield-command.test.ts
Due: none

fix react-ui tests
  packages/react-ui/src/hooks/__tests__/useContextGatherFlow.test.tsx
  packages/react-ui/src/lib/__tests__/api-hooks-auth.test.tsx
Due: none
