Repository The-AI-Alliance/semiont: changes, and which Codecov flags are due for each by the changed paths.
All: api-client, content, core, event-sourcing, graph, inference, jobs, make-meaning, mcp-server, ontology, react-ui, frontend, backend, @semiont/core, @semiont/api-client, @semiont/ontology, @semiont/content, @semiont/event-sourcing, @semiont/graph, @semiont/inference, @semiont/jobs, @semiont/make-meaning, @semiont/react-ui

codecov.yml:

# Codecov configuration for Semiont monorepo
# https://docs.codecov.io/docs/codecovyml-reference

codecov:
  # Require CI to finish before processing coverage
  require_ci_to_pass: true

  # Wait for all coverage reports before commenting
  notify:
    wait_for_ci: true

coverage:
  # Overall project coverage settings
  status:
    # Project-wide coverage status
    project:
      default:
        # Coverage can drop by 1% without failing
        threshold: 1%
        target: 70%  # Target 70% overall coverage

    # Per-PR patch coverage
    patch:
      default:
        # New code should have at least 80% coverage
        target: 80%
        threshold: 5%

  # Round coverage to 2 decimal places
  precision: 2
  round: down

  # Coverage range for color coding
  range: "50...90"

# Component-specific coverage configuration
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 1%
  individual_components:
    # Core packages with higher coverage requirements
    - component_id: core
      name: "@semiont/core"
      paths:
        - packages/core/**
    - component_id: api-client
      name: "@semiont/api-client"
      paths:
        - packages/api-client/**
    - component_id: ontology
      name: "@semiont/ontology"
      paths:
        - packages/ontology/**
    - component_id: content
      name: "@semiont/content"
      paths:
        - packages/content/**
    - component_id: event-sourcing
      name: "@semiont/event-sourcing"
      paths:
        - packages/event-sourcing/**
    - component_id: graph
      name: "@semiont/graph"
      paths:
        - packages/graph/**
    - component_id: inference
      name: "@semiont/inference"
      paths:
        - packages/inference/**
    - component_id: jobs
      name: "@semiont/jobs"
      paths:
        - packages/jobs/**
    - component_id: make-meaning
      name: "@semiont/make-meaning"
      paths:
        - packages/make-meaning/**
    - component_id: react-ui
      name: "@semiont/react-ui"
      paths:
        - packages/react-ui/**

# Ignore certain files from coverage
ignore:
  # Test files
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/*.spec.tsx"
  - "**/test/**"
  - "**/tests/**"
  - "**/__tests__/**"
  - "**/test-utils/**"

  # Build artifacts
  - "**/dist/**"
  - "**/build/**"
  - "**/coverage/**"
  - "**/.next/**"

  # Config files
  - "**/*.config.ts"
  - "**/*.config.js"
  - "**/jest.setup.ts"

  # Generated files
  - "**/generated/**"
  - "packages/api-client/src/types.ts"

  # Examples and demos
  - "**/examples/**"
  - "**/demo/**"

  # Scripts
  - "scripts/**"

# Comment configuration
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Flag configuration for different test suites
flags:
  # Individual package flags
  api-client:
    paths:
      - packages/api-client/**
    carryforward: true

  content:
    paths:
      - packages/content/**
    carryforward: true

  core:
    paths:
      - packages/core/**
    carryforward: true

  event-sourcing:
    paths:
      - packages/event-sourcing/**
    carryforward: true

  graph:
    paths:
      - packages/graph/**
    carryforward: true

  inference:
    paths:
      - packages/inference/**
    carryforward: true

  jobs:
    paths:
      - packages/jobs/**
    carryforward: true

  make-meaning:
    paths:
      - packages/make-meaning/**
    carryforward: true

  mcp-server:
    paths:
      - packages/mcp-server/**
    carryforward: true

  ontology:
    paths:
      - packages/ontology/**
    carryforward: true

  react-ui:
    paths:
      - packages/react-ui/**
    carryforward: true

  # App flags (for future use)
  frontend:
    paths:
      - apps/frontend/**
    carryforward: true

  backend:
    paths:
      - apps/backend/**
    carryforward: true

close codeql gaps
  .github/codeql/codeql-config.yml
Due: none

additional checks for unused code in frontend tsconfig.json
  apps/frontend/tsconfig.json
Due: frontend

rm unused code
  apps/frontend/src/app/[locale]/about/page.tsx
  apps/frontend/src/app/[locale]/admin/devops/page.tsx
  apps/frontend/src/app/[locale]/admin/security/client.tsx
  apps/frontend/src/app/[locale]/admin/users/client.tsx
  apps/frontend/src/app/[locale]/auth/__tests__/signup-flow.integration.test.tsx
  apps/frontend/src/app/[locale]/auth/welcome/page.tsx
  apps/frontend/src/app/[locale]/know/compose/page.tsx
  apps/frontend/src/app/[locale]/know/discover/page.tsx
  apps/frontend/src/app/[locale]/know/resource/[id]/__tests__/navigation.test.tsx
  apps/frontend/src/app/[locale]/know/resource/[id]/page.tsx
  apps/frontend/src/app/[locale]/not-found.tsx
  apps/frontend/src/app/[locale]/privacy/__tests__/page.test.tsx
  apps/frontend/src/app/[locale]/privacy/page.tsx
  apps/frontend/src/app/[locale]/terms/__tests__/page.test.tsx
  apps/frontend/src/app/[locale]/terms/page.tsx
  apps/frontend/src/app/__tests__/page.test.tsx
  apps/frontend/src/components/CookieBanner.tsx
  apps/frontend/src/components/CookiePreferences.tsx
  apps/frontend/src/components/KnowledgeBasePanel.tsx
  apps/frontend/src/components/UserPanel.tsx
  apps/frontend/src/components/__tests__/CookieBanner.basic.test.tsx
  apps/frontend/src/components/__tests__/CookieBanner.test.tsx
  apps/frontend/src/components/__tests__/CookiePreferences.simple.test.tsx
  apps/frontend/src/components/__tests__/CookiePreferences.test.tsx
  apps/frontend/src/components/__tests__/ErrorBoundary.test.tsx
  apps/frontend/src/components/__tests__/KnowledgeBasePanel.test.tsx
  apps/frontend/src/components/__tests__/UserPanel.test.tsx
  apps/frontend/src/components/admin/__tests__/AdminNavigation.test.tsx
  apps/frontend/src/components/knowledge/KnowledgeSidebarWrapper.tsx
  apps/frontend/src/components/modals/GlobalSearchModal.tsx
  apps/frontend/src/components/modals/SearchResourcesModal.tsx
Due: frontend

ResourceErrorState
  apps/frontend/src/app/[locale]/know/resource/[id]/page.tsx
Due: frontend

close codeql gaps; enable missing unused code check in apps/frontend/src (#836)
  .github/codeql/codeql-config.yml
  apps/frontend/src/app/[locale]/about/page.tsx
  apps/frontend/src/app/[locale]/admin/devops/page.tsx
  apps/frontend/src/app/[locale]/admin/security/client.tsx
  apps/frontend/src/app/[locale]/admin/users/client.tsx
  apps/frontend/src/app/[locale]/auth/__tests__/signup-flow.integration.test.tsx
  apps/frontend/src/app/[locale]/auth/welcome/page.tsx
  apps/frontend/src/app/[locale]/know/compose/page.tsx
  apps/frontend/src/app/[locale]/know/discover/page.tsx
  apps/frontend/src/app/[locale]/know/resource/[id]/__tests__/navigation.test.tsx
  apps/frontend/src/app/[locale]/know/resource/[id]/page.tsx
  apps/frontend/src/app/[locale]/not-found.tsx
  apps/frontend/src/app/[locale]/privacy/__tests__/page.test.tsx
  apps/frontend/src/app/[locale]/privacy/page.tsx
  apps/frontend/src/app/[locale]/terms/__tests__/page.test.tsx
  apps/frontend/src/app/[locale]/terms/page.tsx
  apps/frontend/src/app/__tests__/page.test.tsx
  apps/frontend/src/components/CookieBanner.tsx
  apps/frontend/src/components/CookiePreferences.tsx
  apps/frontend/src/components/KnowledgeBasePanel.tsx
  apps/frontend/src/components/UserPanel.tsx
  apps/frontend/src/components/__tests__/CookieBanner.basic.test.tsx
  apps/frontend/src/components/__tests__/CookieBanner.test.tsx
  apps/frontend/src/components/__tests__/CookiePreferences.simple.test.tsx
  apps/frontend/src/components/__tests__/CookiePreferences.test.tsx
  apps/frontend/src/components/__tests__/ErrorBoundary.test.tsx
  apps/frontend/src/components/__tests__/KnowledgeBasePanel.test.tsx
  apps/frontend/src/components/__tests__/UserPanel.test.tsx
  apps/frontend/src/components/admin/__tests__/AdminNavigation.test.tsx
  apps/frontend/src/components/knowledge/KnowledgeSidebarWrapper.tsx
  apps/frontend/src/components/modals/GlobalSearchModal.tsx
  apps/frontend/src/components/modals/SearchResourcesModal.tsx
  apps/frontend/tsconfig.json
Due: frontend

rm redundant tsconfig settings
  packages/mcp-server/tsconfig.json
  packages/react-ui/tsconfig.json
Due: mcp-server, react-ui, @semiont/react-ui

fix quality issues
  apps/frontend/scripts/performance-monitor.js
  packages/mcp-server/test-server.js
Due: mcp-server, frontend

tsconfig applies to tests
  packages/react-ui/tsconfig.json
  packages/vectors/tsconfig.json
Due: react-ui, @semiont/react-ui

vitest-matchers
  packages/react-ui/src/types/jest-axe.d.ts
  packages/react-ui/src/types/vitest-matchers.d.ts
Due: react-ui, @semiont/react-ui

fixing errors in tests
  packages/react-ui/src/assets/favicons/index.test.ts
  packages/react-ui/src/components/__tests__/ErrorBoundary.test.tsx
  packages/react-ui/src/components/__tests__/ProtectedErrorBoundary.test.tsx
  packages/react-ui/src/components/annotation-popups/__tests__/JsonLdView.test.tsx
  packages/react-ui/src/components/layout/__tests__/UnifiedHeader.test.tsx
  packages/react-ui/src/components/navigation/__tests__/Footer.a11y.test.tsx
  packages/react-ui/src/components/navigation/__tests__/NavigationMenu.a11y.test.tsx
  packages/react-ui/src/components/navigation/__tests__/NavigationMenu.test.tsx
  packages/react-ui/src/components/pdf-annotation/__tests__/PdfAnnotationCanvas.test.tsx
  packages/react-ui/src/components/resource/__tests__/BrowseView.test.tsx
  packages/react-ui/src/components/resource/panels/__tests__/AssessmentEntry.test.tsx
  packages/react-ui/src/components/resource/panels/__tests__/AssessmentPanel.test.tsx
  packages/react-ui/src/components/resource/panels/__tests__/AssistSection.test.tsx
  packages/react-ui/src/components/resource/panels/__tests__/CommentEntry.test.tsx
  packages/react-ui/src/components/resource/panels/__tests__/CommentsPanel.test.tsx
  packages/react-ui/src/components/resource/panels/__tests__/HighlightEntry.test.tsx
  packages/react-ui/src/components/resource/panels/__tests__/HighlightPanel.annotationProgress.test.tsx
  packages/react-ui/src/components/resource/panels/__tests__/ReferenceEntry.test.tsx
  packages/react-ui/src/components/resource/panels/__tests__/ReferencesPanel.test.tsx
  packages/react-ui/src/components/resource/panels/__tests__/ResourceInfoPanel.test.tsx
  packages/react-ui/src/components/resource/panels/__tests__/StatisticsPanel.test.tsx
  packages/react-ui/src/components/resource/panels/__tests__/TagEntry.test.tsx
  packages/react-ui/src/components/resource/panels/__tests__/TaggingPanel.test.tsx
  packages/react-ui/src/contexts/__tests__/AnnotationContext.test.tsx
  packages/react-ui/src/features/auth/__tests__/SignInForm.a11y.test.tsx
  packages/react-ui/src/features/auth/__tests__/SignUpForm.a11y.test.tsx
  packages/react-ui/src/features/auth/__tests__/SignUpForm.test.tsx
  packages/react-ui/src/features/moderate-tag-schemas/components/TagSchemasPage.tsx
  packages/react-ui/src/features/resource-discovery/__tests__/ResourceDiscoveryPage.test.tsx
  packages/react-ui/src/hooks/__tests__/useSessionExpiry.test.ts
  packages/react-ui/src/integrations/__tests__/css-modules-helper.test.tsx
  packages/react-ui/tsconfig.json
Due: react-ui, @semiont/react-ui

fix strict ts issues
  packages/react-ui/src/components/modals/__tests__/PermissionDeniedModal.test.tsx
  packages/react-ui/src/components/modals/__tests__/SearchModal.visual.test.tsx
  packages/react-ui/src/components/navigation/NavigationMenu.tsx
  packages/react-ui/src/components/navigation/__tests__/NavigationMenu.a11y.test.tsx
  packages/react-ui/src/components/navigation/__tests__/NavigationMenu.test.tsx
  packages/react-ui/src/components/resource/__tests__/ResourceViewer.mode-switch.test.tsx
  packages/react-ui/src/components/resource/panels/__tests__/HighlightPanel.annotationProgress.test.tsx
  packages/react-ui/src/features/resource-compose/__tests__/ResourceComposePage.test.tsx
  packages/react-ui/src/features/resource-viewer/__tests__/ResourceViewerPage.test.tsx
  packages/react-ui/src/hooks/__tests__/useKeyboardShortcuts.test.ts
  packages/react-ui/src/hooks/__tests__/useObservableBrowse.test.tsx
  packages/react-ui/src/hooks/__tests__/useSessionExpiry.test.ts
  packages/react-ui/src/hooks/__tests__/useStateUnit.test.tsx
Due: react-ui, @semiont/react-ui

fix unused imports, etc.
  .github/scripts/collect_metrics.py
  apps/cli/src/core/io/output-formatter.ts
  apps/cli/src/platforms/container/handlers/web-check.ts
  apps/cli/src/platforms/external/handlers/inference-check.ts
  apps/cli/src/platforms/posix/handlers/graph-provision.ts
  packages/react-ui/scripts/generate-favicons.py
  packages/react-ui/src/components/ErrorBoundary.tsx
  packages/react-ui/src/components/resource/panels/ReferencesPanel.tsx
  packages/react-ui/vitest.setup.ts
  packages/sdk/src/session/semiont-browser.ts
  scripts/compliance/discover-symbols.ts
  tests/e2e/scripts/seed.ts
  tests/e2e/scripts/snapshot.py
  tests/e2e/specs/07-sign-out-sign-in.spec.ts
  tests/e2e/specs/12-stale-offset-reanchor.spec.ts
Due: react-ui, @semiont/react-ui

fix unused imports, etc. (#838)
  .github/scripts/collect_metrics.py
  apps/cli/src/core/io/output-formatter.ts
  apps/cli/src/platforms/container/handlers/web-check.ts
  apps/cli/src/platforms/external/handlers/inference-check.ts
  apps/cli/src/platforms/posix/handlers/graph-provision.ts
  packages/react-ui/scripts/generate-favicons.py
  packages/react-ui/src/components/ErrorBoundary.tsx
  packages/react-ui/src/components/resource/panels/ReferencesPanel.tsx
  packages/react-ui/vitest.setup.ts
  packages/sdk/src/session/semiont-browser.ts
  scripts/compliance/discover-symbols.ts
  tests/e2e/scripts/seed.ts
  tests/e2e/scripts/snapshot.py
  tests/e2e/specs/07-sign-out-sign-in.spec.ts
  tests/e2e/specs/12-stale-offset-reanchor.spec.ts
Due: react-ui, @semiont/react-ui

update security policy
  .github/ACTIONS.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/security_vulnerability.yml
  SECURITY.md
  docs/system/administration/SECURITY.md
Due: none

begin fixes for #842, #843, #844, #845
  docs/protocol/CHANNELS.md
  packages/jobs/src/worker-process.ts
  packages/sdk/docs/Usage.md
  packages/sdk/src/__tests__/browse-fetch-failure.test.ts
  packages/sdk/src/awaitable.ts
  packages/sdk/src/cache.ts
  packages/sdk/src/namespaces/__tests__/mark-assist-churn.test.ts
  packages/sdk/src/namespaces/browse.ts
  packages/sdk/src/namespaces/job.ts
  packages/sdk/src/namespaces/mark.ts
  packages/sdk/src/namespaces/yield.ts
Due: jobs, @semiont/jobs

#842, #843, and #844 fixed in this commit
  package-lock.json
  packages/api-client/src/transport/__tests__/actor-state-unit.test.ts
  packages/api-client/src/transport/actor-state-unit.ts
Due: api-client, @semiont/api-client

update test for dual emit
  packages/jobs/src/__tests__/worker-process.test.ts
Due: none

Reliable Browse reads under load: surface fetch timeouts, stop per-assist SSE reconnect churn (#846)
  docs/protocol/CHANNELS.md
  package-lock.json
  packages/api-client/src/transport/__tests__/actor-state-unit.test.ts
  packages/api-client/src/transport/actor-state-unit.ts
  packages/jobs/src/__tests__/worker-process.test.ts
  packages/jobs/src/worker-process.ts
  packages/sdk/docs/Usage.md
  packages/sdk/src/__tests__/browse-fetch-failure.test.ts
  packages/sdk/src/awaitable.ts
  packages/sdk/src/cache.ts
  packages/sdk/src/namespaces/__tests__/mark-assist-churn.test.ts
  packages/sdk/src/namespaces/browse.ts
  packages/sdk/src/namespaces/job.ts
  packages/sdk/src/namespaces/mark.ts
  packages/sdk/src/namespaces/yield.ts
Due: api-client, jobs, @semiont/api-client, @semiont/jobs

comment re FIFO
  packages/api-client/src/transport/actor-state-unit.ts
Due: api-client, @semiont/api-client

update for #847
  packages/react-ui/docs/SERVICE-HOOK-COMPONENT.md
Due: react-ui, @semiont/react-ui

Emit job:complete/job:fail globally, not dual-emit (#847 phase 1) (#848)
  docs/protocol/CHANNELS.md
  docs/protocol/EVENT-BUS.md
  docs/protocol/TRANSPORT-CONTRACT.md
  docs/protocol/TRANSPORT-HTTP.md
  packages/api-client/src/transport/__tests__/actor-state-unit.test.ts
  packages/api-client/src/transport/actor-state-unit.ts
  packages/core/src/bus-protocol.ts
  packages/core/src/transport.ts
  packages/jobs/src/__tests__/worker-process.test.ts
  packages/jobs/src/worker-process.ts
  packages/react-ui/docs/SERVICE-HOOK-COMPONENT.md
  packages/react-ui/src/features/resource-viewer/components/ResourceViewerPage.tsx
  packages/react-ui/src/features/resource-viewer/state/__tests__/resource-viewer-page-state-unit.test.ts
  packages/react-ui/src/features/resource-viewer/state/resource-viewer-page-state-unit.ts
  packages/sdk/docs/CACHE-SEMANTICS.md
  packages/sdk/docs/REACTIVE-MODEL.md
  packages/sdk/docs/Usage.md
  packages/sdk/src/__tests__/browse-await-fresh.test.ts
  packages/sdk/src/__tests__/browse-scope-by-observation.test.ts
  packages/sdk/src/__tests__/cache.test.ts
  packages/sdk/src/__tests__/client-passthroughs.test.ts
  packages/sdk/src/awaitable.ts
  packages/sdk/src/cache.ts
  packages/sdk/src/client.ts
  packages/sdk/src/namespaces/browse.ts
  packages/sdk/src/namespaces/job.ts
Due: api-client, core, jobs, react-ui, @semiont/core, @semiont/api-client, @semiont/jobs, @semiont/react-ui

doc updates for #848
  apps/frontend/docs/API-INTEGRATION.md
  apps/frontend/docs/ARCHITECTURE.md
  packages/react-ui/docs/ARCHITECTURE.md
Due: react-ui, frontend, @semiont/react-ui

bulk document updates
  packages/api-client/docs/LOGGING.md
  packages/api-client/docs/MEDIA-TOKENS.md
  packages/core/docs/Utilities.md
  packages/graph/docs/GraphInterface.md
  packages/jobs/README.md
  packages/jobs/docs/API.md
  packages/jobs/docs/Configuration.md
  packages/jobs/docs/JobQueue.md
  packages/jobs/docs/JobTypes.md
  packages/jobs/docs/TYPES.md
  packages/jobs/docs/Workers.md
  packages/make-meaning/README.md
  packages/make-meaning/docs/SCRIPTING.md
  packages/make-meaning/docs/architecture.md
  packages/mcp-server/README.md
  packages/react-ui/README.md
  packages/react-ui/docs/ANNOTATION-CLICK.md
  packages/react-ui/docs/ANNOTATION-RENDERING-PRINCIPLES.md
  packages/react-ui/docs/ANNOTATIONS.md
  packages/react-ui/docs/API-INTEGRATION.md
  packages/react-ui/docs/ARCHITECTURE.md
  packages/react-ui/docs/COMPONENTS.md
  packages/react-ui/docs/EVENTS.md
  packages/react-ui/docs/ROUTING.md
  packages/react-ui/docs/SERVICE-HOOK-COMPONENT.md
  packages/react-ui/docs/SESSION.md
  packages/react-ui/docs/TESTING.md
  packages/react-ui/docs/modal-components.md
  packages/sdk/docs/CACHE-SEMANTICS.md
  packages/sdk/docs/Usage.md
Due: api-client, core, graph, jobs, make-meaning, mcp-server, react-ui, @semiont/core, @semiont/api-client, @semiont/graph, @semiont/jobs, @semiont/make-meaning, @semiont/react-ui

update comments; delete unused job-worker.ts
  packages/jobs/src/__tests__/job-worker.test.ts
  packages/jobs/src/index.ts
  packages/jobs/src/job-worker.ts
  packages/jobs/src/processors.ts
Due: jobs, @semiont/jobs

update comments; delete unused job-worker.ts (#849)
  packages/jobs/src/__tests__/job-worker.test.ts
  packages/jobs/src/index.ts
  packages/jobs/src/job-worker.ts
  packages/jobs/src/processors.ts
Due: jobs, @semiont/jobs

bump version to 0.5.7
  apps/backend/package.json
  apps/backend/package.publish.json
  apps/cli/package.json
  apps/desktop/package.json
  apps/frontend/package.json
  apps/frontend/package.publish.json
  package.json
  packages/api-client/package.json
  packages/content/package.json
  packages/core/package.json
  packages/event-sourcing/package.json
  packages/graph/package.json
  packages/inference/package.json
  packages/jobs/package.json
  packages/make-meaning/package.json
  packages/mcp-server/package.json
  packages/observability/package.json
  packages/ontology/package.json
  packages/react-ui/package.json
  packages/sdk/package.json
  packages/test-utils/package.json
  packages/vectors/package.json
  version.json
Due: api-client, content, core, event-sourcing, graph, inference, jobs, make-meaning, mcp-server, ontology, react-ui, frontend, backend, @semiont/core, @semiont/api-client, @semiont/ontology, @semiont/content, @semiont/event-sourcing, @semiont/graph, @semiont/inference, @semiont/jobs, @semiont/make-meaning, @semiont/react-ui

doc updates
  docs/development/RELEASE.md
  tests/e2e/README.md
Due: none

update docs and remove cruft
  package-lock.json
  packages/inference/README.md
  packages/inference/docs/API.md
  packages/inference/package.json
  packages/ontology/README.md
  packages/ontology/package.json
  packages/ontology/src/bootstrap.ts
Due: inference, ontology, @semiont/ontology, @semiont/inference

update entity bootstrap comment
  packages/ontology/src/index.ts
Due: ontology, @semiont/ontology

update stale graph docs
  packages/graph/README.md
  packages/graph/docs/API.md
  packages/graph/docs/ARCHITECTURE.md
  packages/graph/docs/EVENTUAL-CONSISTENCY.md
  packages/graph/src/index.ts
Due: graph, @semiont/graph

update stale docs
  apps/cli/docs/ADDING_COMMANDS.md
  apps/cli/docs/ADDING_SERVICES.md
  apps/cli/docs/KNOWLEDGE-WORK.md
  packages/jobs/README.md
  packages/jobs/docs/API.md
  packages/jobs/docs/Configuration.md
  packages/jobs/docs/JobQueue.md
  packages/jobs/docs/JobTypes.md
  packages/jobs/docs/TYPES.md
  packages/jobs/docs/Workers.md
  packages/make-meaning/README.md
  packages/make-meaning/docs/SCRIPTING.md
  packages/make-meaning/docs/api-reference.md
  packages/make-meaning/docs/architecture.md
  packages/vectors/README.md
Due: jobs, make-meaning, @semiont/jobs, @semiont/make-meaning

update stale code
  packages/jobs/src/__tests__/job-queue-state-unit.test.ts
  packages/jobs/src/__tests__/test-client.ts
  packages/jobs/src/index.ts
  packages/jobs/src/job-claim-adapter.ts
  packages/jobs/src/job-queue-state-unit.ts
  packages/jobs/src/types.ts
  packages/jobs/src/worker-process.ts
  packages/jobs/src/workers/annotation-detection.ts
  packages/make-meaning/src/index.ts
  packages/make-meaning/src/knowledge-system.ts
  packages/make-meaning/src/resource-operations.ts
  packages/make-meaning/src/smelter-main.ts
  packages/make-meaning/src/smelter.ts
  packages/react-ui/src/index.ts
  packages/sdk/src/state/index.ts
  packages/vectors/src/embedding/voyage.ts
  packages/vectors/src/index.ts
  packages/vectors/src/store/factory.ts
  packages/vectors/src/store/interface.ts
  packages/vectors/src/store/memory.ts
  packages/vectors/src/store/qdrant.ts
  specs/src/openapi.json
Due: jobs, make-meaning, react-ui, @semiont/jobs, @semiont/make-meaning, @semiont/react-ui

update cli docs
  apps/cli/docs/ADDING_PLATFORMS.md
  apps/cli/docs/ADDING_SERVICE_TYPES.md
  apps/cli/docs/ARCHITECTURE.md
Due: none

update core comments
  packages/core/src/index.ts
  packages/core/src/persisted-events.ts
Due: core, @semiont/core
