Repository The-AI-Alliance/semiont: changes, and which Codecov flags are due for each by the changed paths.
All: api-client, content, core, event-sourcing, graph, inference, jobs, make-meaning, mcp-server, ontology, react-ui, frontend, backend, @semiont/core, @semiont/api-client, @semiont/ontology, @semiont/content, @semiont/event-sourcing, @semiont/graph, @semiont/inference, @semiont/jobs, @semiont/make-meaning, @semiont/react-ui

codecov.yml:

# Codecov configuration for Semiont monorepo
# https://docs.codecov.io/docs/codecovyml-reference

codecov:
  # Require CI to finish before processing coverage
  require_ci_to_pass: true

  # Wait for all coverage reports before commenting
  notify:
    wait_for_ci: true

coverage:
  # Overall project coverage settings
  status:
    # Project-wide coverage status
    project:
      default:
        # Coverage can drop by 1% without failing
        threshold: 1%
        target: 70%  # Target 70% overall coverage

    # Per-PR patch coverage
    patch:
      default:
        # New code should have at least 80% coverage
        target: 80%
        threshold: 5%

  # Round coverage to 2 decimal places
  precision: 2
  round: down

  # Coverage range for color coding
  range: "50...90"

# Component-specific coverage configuration
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 1%
  individual_components:
    # Core packages with higher coverage requirements
    - component_id: core
      name: "@semiont/core"
      paths:
        - packages/core/**
    - component_id: api-client
      name: "@semiont/api-client"
      paths:
        - packages/api-client/**
    - component_id: ontology
      name: "@semiont/ontology"
      paths:
        - packages/ontology/**
    - component_id: content
      name: "@semiont/content"
      paths:
        - packages/content/**
    - component_id: event-sourcing
      name: "@semiont/event-sourcing"
      paths:
        - packages/event-sourcing/**
    - component_id: graph
      name: "@semiont/graph"
      paths:
        - packages/graph/**
    - component_id: inference
      name: "@semiont/inference"
      paths:
        - packages/inference/**
    - component_id: jobs
      name: "@semiont/jobs"
      paths:
        - packages/jobs/**
    - component_id: make-meaning
      name: "@semiont/make-meaning"
      paths:
        - packages/make-meaning/**
    - component_id: react-ui
      name: "@semiont/react-ui"
      paths:
        - packages/react-ui/**

# Ignore certain files from coverage
ignore:
  # Test files
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/*.spec.tsx"
  - "**/test/**"
  - "**/tests/**"
  - "**/__tests__/**"
  - "**/test-utils/**"

  # Build artifacts
  - "**/dist/**"
  - "**/build/**"
  - "**/coverage/**"
  - "**/.next/**"

  # Config files
  - "**/*.config.ts"
  - "**/*.config.js"
  - "**/jest.setup.ts"

  # Generated files
  - "**/generated/**"
  - "packages/api-client/src/types.ts"

  # Examples and demos
  - "**/examples/**"
  - "**/demo/**"

  # Scripts
  - "scripts/**"

# Comment configuration
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Flag configuration for different test suites
flags:
  # Individual package flags
  api-client:
    paths:
      - packages/api-client/**
    carryforward: true

  content:
    paths:
      - packages/content/**
    carryforward: true

  core:
    paths:
      - packages/core/**
    carryforward: true

  event-sourcing:
    paths:
      - packages/event-sourcing/**
    carryforward: true

  graph:
    paths:
      - packages/graph/**
    carryforward: true

  inference:
    paths:
      - packages/inference/**
    carryforward: true

  jobs:
    paths:
      - packages/jobs/**
    carryforward: true

  make-meaning:
    paths:
      - packages/make-meaning/**
    carryforward: true

  mcp-server:
    paths:
      - packages/mcp-server/**
    carryforward: true

  ontology:
    paths:
      - packages/ontology/**
    carryforward: true

  react-ui:
    paths:
      - packages/react-ui/**
    carryforward: true

  # App flags (for future use)
  frontend:
    paths:
      - apps/frontend/**
    carryforward: true

  backend:
    paths:
      - apps/backend/**
    carryforward: true

CodeQL security analysis covers the Python SDK; the export rule that misreads type aliases is excluded
  .github/ACTIONS.md
  .github/codeql/codeql-config.yml
  .github/workflows/codeql-analysis.yml
Due: none

CodeQL covers the Go SDK and the desktop shell; the Go step builds both modules
  .github/codeql/codeql-config.yml
  .github/workflows/codeql-analysis.yml
Due: none

The Rust version is written once: the desktop builder takes it from rust-toolchain.toml, one script reads the channel, and lint:rust-toolchain refuses a second copy
  .github/ACTIONS.md
  .github/dependabot.yml
  .github/workflows/architecture-compliance.yml
  .github/workflows/publish-service-images.yml
  apps/archivist/Dockerfile
  apps/desktop/Dockerfile.builder
  apps/desktop/build.sh
  apps/dispatcher/Dockerfile
  apps/gateway/Dockerfile
  docs/contributor/DEPENDENCIES.md
  package.json
  rust-toolchain.toml
  scripts/ci/README.md
  scripts/ci/local-build.sh
  scripts/ci/rust-toolchain.sh
  scripts/container/build-images.js
  scripts/lint/check-dependabot-coverage.mjs
  scripts/lint/check-rust-toolchain.mjs
Due: none

The Go version is written in go.mod alone: one script reads the pin, the generate lines and the local build ask it, and lint:go-toolchain holds the two modules to one toolchain
  .github/ACTIONS.md
  .github/workflows/architecture-compliance.yml
  apps/launcher/README.md
  apps/launcher/internal/launcher/discovery.go
  apps/launcher/internal/launcher/httpclient_test.go
  docs/contributor/DEPENDENCIES.md
  package.json
  packages/sdk-go/README.md
  packages/sdk-go/generate.go
  scripts/ci/README.md
  scripts/ci/go-toolchain.sh
  scripts/ci/local-build.sh
  scripts/lint/check-go-toolchain.mjs
Due: none

The Python the SDK supports is written once: requires-python, read by one script, with lint:python-version holding mypy, pyright, the classifiers, CI and the docs to it
  .github/ACTIONS.md
  .github/workflows/architecture-compliance.yml
  docs/contributor/DEPENDENCIES.md
  docs/contributor/README.md
  package.json
  packages/sdk-python/pyproject.toml
  packages/sdk-python/scripts/generate_models.py
  scripts/ci/README.md
  scripts/ci/local-build.sh
  scripts/ci/python-floor.sh
  scripts/fixtures/make-legible-scan.py
  scripts/lint/check-python-version.mjs
Due: none

npm advisories are held by a gate, and a release waits for it
  .github/ACTIONS.md
  .github/npm-advisories.json
  .github/scripts/check-npm-advisories.mjs
  .github/workflows/npm-advisories.yml
  .github/workflows/release.yml
  docs/contributor/DEPENDENCIES.md
Due: none

npm advisories are held by a gate, and a release waits for it (#1603)
  .github/ACTIONS.md
  .github/npm-advisories.json
  .github/scripts/check-npm-advisories.mjs
  .github/workflows/npm-advisories.yml
  .github/workflows/release.yml
  docs/contributor/DEPENDENCIES.md
Due: none

Builder landing page: drop the dedicated React section
  docs/README.md
  docs/builder/README.md
  packages/react-ui/README.md
Due: react-ui, @semiont/react-ui

SDK READMEs: one outline, the eight verbs, and a first program in each
  packages/sdk-go/README.md
  packages/sdk-python/README.md
  packages/sdk-python/tests/readme/a_first_program.py
  packages/sdk-python/tests/test_readme.py
  packages/sdk-rust/README.md
  packages/sdk-rust/tests/readme.rs
  packages/sdk/README.md
Due: none

Rust requests are made from what they must state; the Rust and Python doubles answer a gather or a search with the id its request named
  packages/codegen-rust/src/types.rs
  packages/http-transport-rust/tests/sign_in.rs
  packages/http-transport-rust/tests/upload.rs
  packages/sdk-python/README.md
  packages/sdk-python/src/semiont/channel.py
  packages/sdk-python/src/semiont/testing/transport.py
  packages/sdk-python/tests/kb.py
  packages/sdk-python/tests/test_readme.py
  packages/sdk-python/tests/test_testing.py
  packages/sdk-rust/README.md
  packages/sdk-rust/build.rs
  packages/sdk-rust/src/bus.rs
  packages/sdk-rust/src/namespaces/yield_.rs
  packages/sdk-rust/src/testing/faulty_transport.rs
  packages/sdk-rust/src/transport.rs
  packages/sdk-rust/tests/readme.rs
  packages/sdk-rust/tests/testing.rs
Due: none

simplify SDK READMEs
  docs/builder/DEVELOPER-GUIDE.md
  docs/contributor/TESTING.md
  docs/protocol/EVENT-BUS.md
  packages/core/src/__tests__/bus-compiler-visibility.test.ts
  packages/core/src/__tests__/correlation-not-read-from-payloads.test.ts
  packages/core/src/__tests__/faulty-transport.test.ts
  packages/core/src/__tests__/relays-forward-frames.test.ts
  packages/core/src/__tests__/reply-names.test.ts
  packages/core/src/bus-operations.ts
  packages/core/src/faulty-transport.ts
  scripts/bus/generate-ts.mjs
  scripts/bus/reply-names.mjs
  specs/src/bus/registry.json
Due: core, @semiont/core

TypeScript's test double answers a gather or a search with the id its request named; REPLY_NAMES is generated from each reply's schema (#1605)
  docs/builder/DEVELOPER-GUIDE.md
  docs/contributor/TESTING.md
  docs/protocol/EVENT-BUS.md
  packages/core/src/__tests__/bus-compiler-visibility.test.ts
  packages/core/src/__tests__/correlation-not-read-from-payloads.test.ts
  packages/core/src/__tests__/faulty-transport.test.ts
  packages/core/src/__tests__/relays-forward-frames.test.ts
  packages/core/src/__tests__/reply-names.test.ts
  packages/core/src/bus-operations.ts
  packages/core/src/faulty-transport.ts
  scripts/bus/generate-ts.mjs
  scripts/bus/reply-names.mjs
  specs/src/bus/registry.json
Due: core, @semiont/core

Fix two CI checks: a log line read too early, a stale packaged build
  .github/workflows/ci.yml
  tests/conformance/archivist/jobs.test.ts
Due: none

The worker contract: what any worker promises, held by a lint; its claim timeout and stall rule are rows of the spec's timing table
  .github/workflows/package-tests.yml
  docs/builder/skills/semiont-worker/SKILL.md
  docs/protocol/JOBS.md
  docs/protocol/README.md
  docs/protocol/WORKER-CONTRACT.md
  package-lock.json
  packages/jobs/README.md
  packages/jobs/src/__tests__/worker-runtime.test.ts
  packages/jobs/src/index.ts
  packages/jobs/src/job-claim-adapter.ts
  packages/jobs/src/worker-runtime.ts
  packages/make-meaning/package.json
  packages/make-meaning/src/__tests__/assert-make-meaning-config.test.ts
  packages/make-meaning/src/assert-make-meaning-config.ts
  packages/sdk-python/src/semiont/timing.py
  scripts/lint/check-transport-contract.mjs
  specs/src/client/timing.json
Due: jobs, make-meaning, @semiont/jobs, @semiont/make-meaning

A claim reply that names no job is refused and the worker keeps claiming, as the worker contract says
  docs/protocol/WORKER-CONTRACT.md
  packages/jobs/src/__tests__/job-claim-adapter.test.ts
  packages/jobs/src/job-claim-adapter.ts
Due: jobs, @semiont/jobs

A worker conformance suite: 17 cases hold any SDK's worker to the worker contract, with the suite playing the dispatcher
  .github/workflows/ci.yml
  docs/protocol/WORKER-CONTRACT.md
  packages/jobs/conformance/driver.ts
  packages/jobs/conformance/tsconfig.json
  packages/jobs/package.json
  packages/jobs/src/__tests__/job-claim-adapter.test.ts
  packages/jobs/src/__tests__/worker-runtime.test.ts
  packages/jobs/src/index.ts
  packages/jobs/src/job-claim-adapter.ts
  packages/jobs/src/worker-runtime.ts
  scripts/lint/check-transport-contract.mjs
  tests/conformance/README.md
  tests/conformance/harness/paths.ts
  tests/conformance/harness/worker-setup.ts
  tests/conformance/package.json
  tests/conformance/sdk/README.md
  tests/conformance/sdk/case.schema.json
  tests/conformance/sdk/case.ts
  tests/conformance/sdk/driver.ts
  tests/conformance/vitest.config.ts
  tests/conformance/worker/README.md
  tests/conformance/worker/cases/announcement-while-held.json
  tests/conformance/worker/cases/cancel.json
  tests/conformance/worker/cases/checkpoint-read.json
  tests/conformance/worker/cases/claim-on-announcement.json
  tests/conformance/worker/cases/claim-on-reopen.json
  tests/conformance/worker/cases/claim-on-start.json
  tests/conformance/worker/cases/claim-timeout.json
  tests/conformance/worker/cases/fail-final.json
  tests/conformance/worker/cases/fail-will-retry.json
  tests/conformance/worker/cases/handover.json
  tests/conformance/worker/cases/lifecycle.json
  tests/conformance/worker/cases/malformed-reply.json
  tests/conformance/worker/cases/none-pending.json
  tests/conformance/worker/cases/one-claim-in-flight.json
  tests/conformance/worker/cases/refusal.json
  tests/conformance/worker/cases/stall.json
  tests/conformance/worker/cases/vitals.json
  tests/conformance/worker/worker.test.ts
Due: jobs, @semiont/jobs

A job the worker cannot run fails as deterministic, and is not retried
  packages/jobs/docs/FailureDiscipline.md
  packages/jobs/docs/Workers.md
  packages/jobs/src/__tests__/worker-process.test.ts
  packages/jobs/src/worker-process.ts
Due: jobs, @semiont/jobs

A worker that stops while it holds a job fails it first: a rule of the worker contract, with its case
  docs/protocol/WORKER-CONTRACT.md
  tests/conformance/worker/README.md
  tests/conformance/worker/cases/stop-while-held.json
Due: none

The worker's surface is the Rust SDK's: job.claim, held jobs settled by value, one retry rule the Dispatcher shares
  .github/workflows/ci.yml
  Cargo.lock
  apps/dispatcher/handlers/src/lib.rs
  apps/dispatcher/handlers/src/retry.rs
  apps/dispatcher/jetstream/src/lib.rs
  docs/builder/REACTIVE-MODEL.md
  docs/protocol/JOBS.md
  packages/http-transport-rust/conformance/Cargo.toml
  packages/http-transport-rust/conformance/src/bin/semiont-worker-driver.rs
  packages/http-transport-rust/src/agent.rs
  packages/http-transport-rust/tests/sign_in.rs
  packages/sdk-rust/README.md
  packages/sdk-rust/src/claims.rs
  packages/sdk-rust/src/lib.rs
  packages/sdk-rust/src/namespaces/job.rs
  packages/sdk-rust/src/testing/faulty_transport.rs
  packages/sdk-rust/tests/claims.rs
  packages/sdk-rust/tests/job_retry_cases.rs
  packages/sdk-rust/tests/surface.rs
  scripts/lint/check-client-surface.mjs
  specs/src/client/surface.json
  specs/src/jobs/retry-cases.json
  tests/conformance/README.md
  tests/conformance/harness/paths.ts
  tests/conformance/harness/worker-setup.ts
  tests/conformance/worker/README.md
Due: none

A live driver writes an observer's first state before it answers observe, so a case that reads it at once always finds it
  packages/http-transport-rust/conformance/src/bin/semiont-live-driver.rs
  packages/sdk-python/conformance/live.py
  tests/conformance/sdk/README.md
Due: none

The worker's surface is the Python SDK's: job.claim, held jobs, the matcher and the retry rule; the worker suite runs all three SDKs
  .github/workflows/ci.yml
  docs/builder/REACTIVE-MODEL.md
  docs/builder/README.md
  docs/protocol/JOBS.md
  packages/sdk-python/README.md
  packages/sdk-python/conformance/worker.py
  packages/sdk-python/src/semiont/claims.py
  packages/sdk-python/src/semiont/job_filter.py
  packages/sdk-python/src/semiont/namespaces/__init__.py
  packages/sdk-python/src/semiont/namespaces/job.py
  packages/sdk-python/tests/test_claims.py
  packages/sdk-python/tests/test_drivers.py
  packages/sdk-python/tests/test_surface.py
  packages/sdk-rust/src/namespaces/mod.rs
  scripts/lint/check-client-surface.mjs
  specs/src/client/surface.json
  specs/src/jobs/retry-cases.json
  tests/conformance/harness/paths.ts
  tests/conformance/harness/python-sdk.ts
  tests/conformance/harness/sdk-setup.ts
  tests/conformance/harness/worker-setup.ts
  tests/conformance/worker/README.md
Due: none

the READMEs and the `semiont-worker` skill, in three languages
  docs/builder/skills/README.md
  docs/builder/skills/semiont-worker/SKILL.md
  docs/contributor/TESTING.md
  packages/http-transport-rust/README.md
  packages/http-transport-rust/tests/sign_in.rs
  packages/sdk-python/README.md
  packages/sdk-python/tests/readme/a_worker.py
  packages/sdk-python/tests/test_readme.py
  packages/sdk-rust/README.md
  packages/sdk-rust/src/testing/examples.rs
  packages/sdk/README.md
Due: none

A resource's channel is read for the resource, in three SDKs: the read holds its scope and gives that resource's events, and one that names no resource does not compile
  docs/builder/REACTIVE-MODEL.md
  docs/builder/react-ui/API-INTEGRATION.md
  docs/builder/react-ui/EVENTS.md
  docs/builder/skills/semiont-session/SKILL.md
  docs/builder/skills/semiont-tour/SKILL.md
  docs/protocol/EVENT-BUS.md
  packages/core/src/bridged-channels.ts
  packages/core/src/index.ts
  packages/react-ui/src/contexts/__tests__/useEventSubscription.test.tsx
  packages/react-ui/src/contexts/useEventSubscription.ts
  packages/react-ui/src/features/resource-viewer/__tests__/ResourceViewerPage.test.tsx
  packages/react-ui/src/features/resource-viewer/components/ResourceViewerPage.tsx
  packages/react-ui/src/hooks/useSessionEventSubscriptions.ts
  packages/sdk-python/README.md
  packages/sdk-python/src/semiont/bus.py
  packages/sdk-python/src/semiont/channel.py
  packages/sdk-python/src/semiont/channels.py
  packages/sdk-python/src/semiont/event_bus.py
  packages/sdk-python/src/semiont/namespaces/refresher.py
  packages/sdk-python/tests/readme/the_bus.py
  packages/sdk-python/tests/refusals/a_client_called_wrongly.py
  packages/sdk-python/tests/test_bus.py
  packages/sdk-rust/README.md
  packages/sdk-rust/build.rs
  packages/sdk-rust/src/bus.rs
  packages/sdk-rust/src/channels.rs
  packages/sdk-rust/tests/typed.rs
  packages/sdk/src/session/__tests__/session-subscribe.test.ts
  packages/sdk/src/session/semiont-session.ts
  scripts/bus/generate-python.mjs
  scripts/bus/generate-ts.mjs
Due: core, react-ui, @semiont/core, @semiont/react-ui

Eighteen annotation readers in three SDKs, held by one case table; three with no caller deleted; the ontology package keeps the vocabulary alone
  docs/builder/skills/semiont-wiki/SKILL.md
  package-lock.json
  packages/core/src/__tests__/annotation-reader-cases.test.ts
  packages/core/src/__tests__/web-annotation-utils.test.ts
  packages/core/src/index.ts
  packages/core/src/web-annotation-utils.ts
  packages/graph/src/annotation-codec.ts
  packages/graph/src/implementations/janusgraph.ts
  packages/graph/src/implementations/memorygraph.ts
  packages/graph/src/implementations/neo4j.ts
  packages/graph/src/implementations/neptune.ts
  packages/make-meaning/src/annotation-gather.ts
  packages/make-meaning/src/graph-context.ts
  packages/make-meaning/src/smelter.ts
  packages/ontology/README.md
  packages/ontology/package.json
  packages/ontology/src/entity-extraction.ts
  packages/ontology/src/index.ts
  packages/ontology/src/tag-extraction.ts
  packages/react-ui/src/components/resource/panels/ReferenceEntry.tsx
  packages/react-ui/src/components/resource/panels/StatisticsPanel.tsx
  packages/react-ui/src/components/resource/panels/TagEntry.tsx
  packages/react-ui/src/components/resource/panels/__tests__/ReferenceEntry.test.tsx
  packages/react-ui/src/components/resource/panels/__tests__/StatisticsPanel.test.tsx
  packages/react-ui/src/components/resource/panels/__tests__/TagEntry.test.tsx
  packages/sdk-python/README.md
  packages/sdk-python/src/semiont/annotations.py
  packages/sdk-python/tests/test_annotations.py
  packages/sdk-rust/README.md
  packages/sdk-rust/src/annotations.rs
  packages/sdk-rust/src/lib.rs
  packages/sdk-rust/tests/annotation_reader_cases.rs
  packages/sdk/README.md
  packages/sdk/src/__tests__/annotation-readers.test.ts
  packages/sdk/src/index.ts
  specs/src/annotations/reader-cases.json
Due: core, graph, make-meaning, ontology, react-ui, @semiont/core, @semiont/ontology, @semiont/graph, @semiont/make-meaning, @semiont/react-ui

The package diagram and index say what the ontology package is now: the starting vocabulary, with no dependency on core
  docs/architecture/PACKAGE-ARCHITECTURE.md
  packages/README.md
Due: none

The builder docs read an annotation with the SDK's readers: the developer guide shows the eighteen, and the skills use them in place of checks they wrote by hand
  docs/builder/DEVELOPER-GUIDE.md
  docs/builder/Usage.md
  docs/builder/skills/semiont-assess/SKILL.md
  docs/builder/skills/semiont-comment/SKILL.md
  docs/builder/skills/semiont-highlight/SKILL.md
  docs/builder/skills/semiont-relate/SKILL.md
  docs/builder/skills/semiont-session/SKILL.md
  docs/builder/skills/semiont-tag/SKILL.md
  docs/builder/skills/semiont-wiki/SKILL.md
  docs/builder/skills/semiont-worker/SKILL.md
  packages/sdk/README.md
Due: none

A worker reads bytes on the gateway and takes a generated PDF's text from the Smelter
  apps/launcher/internal/launcher/servicesections.go
  apps/worker/README.md
  docs/operator/CONTAINER-TOPOLOGY.md
  docs/operator/services/OVERVIEW.md
  docs/protocol/JOBS.md
  packages/content/README.md
  packages/content/src/representation-reads.ts
  packages/jobs/README.md
  packages/jobs/docs/Workers.md
  packages/jobs/src/__tests__/failure-class.test.ts
  packages/jobs/src/__tests__/prepare-detection.test.ts
  packages/jobs/src/__tests__/worker-process.test.ts
  packages/jobs/src/__tests__/worker-runtime.test.ts
  packages/jobs/src/worker-main.ts
  packages/jobs/src/worker-process.ts
  packages/jobs/src/worker-runtime.ts
  packages/jobs/src/workers/detection/prepare-detection.ts
  packages/sdk-python/src/semiont/timing.py
  specs/src/client/timing.json
  specs/src/service-config/sections.json
  tests/conformance/gateway/content.test.ts
Due: content, jobs, @semiont/content, @semiont/jobs

Specify the worker's configuration document: WorkerConfig
  packages/sdk-go/client_gen.go
  packages/sdk-python/src/semiont/types.py
  scripts/spec/check-jobs.mjs
  specs/src/components/schemas/WorkerAgentConfig.json
  specs/src/components/schemas/WorkerConfig.json
  specs/src/openapi.json
Due: none

The launcher writes the worker's configuration document, and the worker reads it
  apps/launcher/README.md
  apps/launcher/internal/launcher/archivistdoc.go
  apps/launcher/internal/launcher/archivistdoc_test.go
  apps/launcher/internal/launcher/config.go
  apps/launcher/internal/launcher/executor.go
  apps/launcher/internal/launcher/flows.go
  apps/launcher/internal/launcher/imagepaths_test.go
  apps/launcher/internal/launcher/plan.go
  apps/launcher/internal/launcher/servicesections.go
  apps/launcher/internal/launcher/staging_test.go
  apps/launcher/internal/launcher/start.go
  apps/launcher/internal/launcher/topology_test.go
  apps/launcher/internal/launcher/workerdoc.go
  apps/launcher/internal/launcher/workerdoc_test.go
  apps/launcher/launcher_test.go
  apps/launcher/testdata/golden/start-default-boot.argv
  apps/launcher/testdata/golden/start-docker-boot.argv
  apps/launcher/testdata/golden/start-dryrun-default.txt
  apps/launcher/testdata/golden/start-dryrun-keycloak-identity.txt
  apps/launcher/testdata/golden/start-dryrun-local.txt
  apps/launcher/testdata/golden/start-host-ollama-boot.argv
  apps/launcher/testdata/golden/start-keycloak-identity-boot.argv
  apps/launcher/testdata/golden/start-local-version-boot.argv
  apps/launcher/testdata/golden/start-no-observe-boot.argv
  apps/worker/Dockerfile
  apps/worker/README.md
  docs/operator/administration/CONFIGURATION.md
  docs/operator/administration/DEPLOYMENT.md
  docs/operator/services/OVERVIEW.md
  packages/core/src/__tests__/config/toml-loader.test.ts
  packages/core/src/config/toml-loader.ts
  packages/core/src/index.ts
  packages/jobs/docs/Workers.md
  packages/jobs/src/__tests__/worker-config.test.ts
  packages/jobs/src/__tests__/worker-runtime.test.ts
  packages/jobs/src/worker-config.ts
  packages/jobs/src/worker-main.ts
  packages/jobs/src/worker-runtime.ts
  specs/src/service-config/roster-cases.json
  specs/src/service-config/sections.json
Due: core, jobs, @semiont/core, @semiont/jobs

A held job commits its own annotations, in every SDK
  docs/builder/skills/semiont-worker/SKILL.md
  docs/protocol/WORKER-CONTRACT.md
  packages/http-transport-rust/README.md
  packages/http-transport-rust/conformance/src/bin/semiont-worker-driver.rs
  packages/http-transport-rust/tests/sign_in.rs
  packages/jobs/README.md
  packages/jobs/docs/Workers.md
  packages/jobs/src/__tests__/worker-manifest-census.test.ts
  packages/jobs/src/__tests__/worker-process.test.ts
  packages/jobs/src/__tests__/worker-runtime.test.ts
  packages/jobs/src/worker-process.ts
  packages/jobs/src/worker-runtime.ts
  packages/sdk-python/README.md
  packages/sdk-python/conformance/worker.py
  packages/sdk-python/src/semiont/claims.py
  packages/sdk-python/src/semiont/namespaces/job.py
  packages/sdk-python/src/semiont/timing.py
  packages/sdk-python/tests/refusals/a_held_job_told_how_its_commits_went.py
  packages/sdk-python/tests/test_claims.py
  packages/sdk-rust/README.md
  packages/sdk-rust/src/bus.rs
  packages/sdk-rust/src/claims.rs
  packages/sdk-rust/src/namespaces/job.rs
  packages/sdk-rust/tests/claims.rs
  packages/sdk/README.md
  packages/sdk/conformance/worker-driver.ts
  packages/sdk/src/__tests__/job-claims.test.ts
  packages/sdk/src/claims.ts
  packages/sdk/src/index.ts
  packages/sdk/src/namespaces/types.ts
  specs/src/client/timing.json
  tests/conformance/worker/README.md
  tests/conformance/worker/cases/commit-ack-lost.json
  tests/conformance/worker/cases/commit-acknowledged.json
  tests/conformance/worker/cases/commit-empty.json
  tests/conformance/worker/cases/commit-probe-refused.json
  tests/conformance/worker/cases/commit-probe-unreachable.json
  tests/conformance/worker/cases/commit-refused.json
Due: jobs, @semiont/jobs

A stack starts without a worker when no job is bound to one
  apps/launcher/internal/launcher/descriptors.go
  apps/launcher/internal/launcher/executor.go
  apps/launcher/internal/launcher/flows.go
  apps/launcher/internal/launcher/imagepaths_test.go
  apps/launcher/internal/launcher/logs.go
  apps/launcher/internal/launcher/memory.go
  apps/launcher/internal/launcher/memory_test.go
  apps/launcher/internal/launcher/plan.go
  apps/launcher/internal/launcher/plan_test.go
  apps/launcher/internal/launcher/service.go
  apps/launcher/internal/launcher/staging_test.go
  apps/launcher/internal/launcher/start.go
  apps/launcher/internal/launcher/stop.go
  apps/launcher/internal/launcher/topology_test.go
  apps/launcher/internal/launcher/workerdoc.go
  apps/launcher/internal/launcher/workerdoc_test.go
  apps/launcher/launcher_test.go
  apps/launcher/testdata/golden/start-no-worker-boot.argv
  docs/operator/administration/CONFIGURATION.md
Due: none

State what a text offset counts as a case table, and add the conversion for it
  packages/core/src/__tests__/offset-cases.test.ts
  packages/core/src/index.ts
  packages/core/src/text-offsets.ts
  specs/src/text/offset-cases.json
Due: core, @semiont/core
