Repository The-AI-Alliance/semiont: changes, and which Codecov flags are due for each by the changed paths.
All: api-client, content, core, event-sourcing, graph, inference, jobs, make-meaning, mcp-server, ontology, react-ui, frontend, backend, @semiont/core, @semiont/api-client, @semiont/ontology, @semiont/content, @semiont/event-sourcing, @semiont/graph, @semiont/inference, @semiont/jobs, @semiont/make-meaning, @semiont/react-ui

codecov.yml:

# Codecov configuration for Semiont monorepo
# https://docs.codecov.io/docs/codecovyml-reference

codecov:
  # Require CI to finish before processing coverage
  require_ci_to_pass: true

  # Wait for all coverage reports before commenting
  notify:
    wait_for_ci: true

coverage:
  # Overall project coverage settings
  status:
    # Project-wide coverage status
    project:
      default:
        # Coverage can drop by 1% without failing
        threshold: 1%
        target: 70%  # Target 70% overall coverage

    # Per-PR patch coverage
    patch:
      default:
        # New code should have at least 80% coverage
        target: 80%
        threshold: 5%

  # Round coverage to 2 decimal places
  precision: 2
  round: down

  # Coverage range for color coding
  range: "50...90"

# Component-specific coverage configuration
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 1%
  individual_components:
    # Core packages with higher coverage requirements
    - component_id: core
      name: "@semiont/core"
      paths:
        - packages/core/**
    - component_id: api-client
      name: "@semiont/api-client"
      paths:
        - packages/api-client/**
    - component_id: ontology
      name: "@semiont/ontology"
      paths:
        - packages/ontology/**
    - component_id: content
      name: "@semiont/content"
      paths:
        - packages/content/**
    - component_id: event-sourcing
      name: "@semiont/event-sourcing"
      paths:
        - packages/event-sourcing/**
    - component_id: graph
      name: "@semiont/graph"
      paths:
        - packages/graph/**
    - component_id: inference
      name: "@semiont/inference"
      paths:
        - packages/inference/**
    - component_id: jobs
      name: "@semiont/jobs"
      paths:
        - packages/jobs/**
    - component_id: make-meaning
      name: "@semiont/make-meaning"
      paths:
        - packages/make-meaning/**
    - component_id: react-ui
      name: "@semiont/react-ui"
      paths:
        - packages/react-ui/**

# Ignore certain files from coverage
ignore:
  # Test files
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/*.spec.tsx"
  - "**/test/**"
  - "**/tests/**"
  - "**/__tests__/**"
  - "**/test-utils/**"

  # Build artifacts
  - "**/dist/**"
  - "**/build/**"
  - "**/coverage/**"
  - "**/.next/**"

  # Config files
  - "**/*.config.ts"
  - "**/*.config.js"
  - "**/jest.setup.ts"

  # Generated files
  - "**/generated/**"
  - "packages/api-client/src/types.ts"

  # Examples and demos
  - "**/examples/**"
  - "**/demo/**"

  # Scripts
  - "scripts/**"

# Comment configuration
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Flag configuration for different test suites
flags:
  # Individual package flags
  api-client:
    paths:
      - packages/api-client/**
    carryforward: true

  content:
    paths:
      - packages/content/**
    carryforward: true

  core:
    paths:
      - packages/core/**
    carryforward: true

  event-sourcing:
    paths:
      - packages/event-sourcing/**
    carryforward: true

  graph:
    paths:
      - packages/graph/**
    carryforward: true

  inference:
    paths:
      - packages/inference/**
    carryforward: true

  jobs:
    paths:
      - packages/jobs/**
    carryforward: true

  make-meaning:
    paths:
      - packages/make-meaning/**
    carryforward: true

  mcp-server:
    paths:
      - packages/mcp-server/**
    carryforward: true

  ontology:
    paths:
      - packages/ontology/**
    carryforward: true

  react-ui:
    paths:
      - packages/react-ui/**
    carryforward: true

  # App flags (for future use)
  frontend:
    paths:
      - apps/frontend/**
    carryforward: true

  backend:
    paths:
      - apps/backend/**
    carryforward: true

Nine case tables state what a worker does to a text and to a model's reply
  .github/workflows/architecture-compliance.yml
  package.json
  packages/core/src/__tests__/chunk-cases.test.ts
  packages/core/src/__tests__/pdf-locate-cases.test.ts
  packages/core/src/__tests__/reconcile-cases.test.ts
  packages/jobs/src/__tests__/builder-cases.test.ts
  packages/jobs/src/__tests__/chunk-plan-cases.test.ts
  packages/jobs/src/__tests__/citation-cases.test.ts
  packages/jobs/src/__tests__/failure-class-cases.test.ts
  packages/jobs/src/__tests__/id-cases.test.ts
  packages/jobs/src/__tests__/parser-cases.test.ts
  scripts/spec/check-case-tables.mjs
  specs/src/annotations/builder-cases.json
  specs/src/annotations/id-cases.json
  specs/src/annotations/pdf-locate-cases.json
  specs/src/annotations/reconcile-cases.json
  specs/src/text/chunk-cases.json
  specs/src/worker/chunk-plan-cases.json
  specs/src/worker/citation-cases.json
  specs/src/worker/failure-class-cases.json
  specs/src/worker/parser-cases.json
Due: none

Delete the Archivist's annotation-context channel
  Cargo.lock
  apps/archivist/Cargo.toml
  apps/archivist/src/browse.rs
  apps/archivist/src/bus.rs
  docs/protocol/ARCHIVIST.md
  packages/core-rust/src/bus-classification.json
  packages/core/src/__tests__/bus-invariants.test.ts
  packages/core/src/bus-classification.ts
  packages/core/src/bus-operations.ts
  packages/core/src/bus-protocol.ts
  packages/sdk-go/bus/channels_gen.go
  packages/sdk-go/bus/operations_gen.go
  packages/sdk-go/client_gen.go
  packages/sdk-python/src/semiont/channels.py
  packages/sdk-python/src/semiont/operations.py
  packages/sdk-python/src/semiont/types.py
  specs/src/bus/registry.json
  specs/src/components/schemas/AnnotationContextResponse.json
  specs/src/components/schemas/BrowseAnnotationContextRequest.json
  specs/src/openapi.json
  tests/conformance/archivist/annotations.test.ts
Due: core, @semiont/core

The worker's key refusal never repeats what its document named
  packages/jobs/src/__tests__/worker-config.test.ts
  packages/jobs/src/worker-config.ts
Due: jobs, @semiont/jobs

Hold a Rust service's channel rosters to the registry and its protocol document
  .github/workflows/architecture-compliance.yml
  package.json
  scripts/spec/check-channel-rosters.mjs
Due: none

The Archivist and the dispatcher name the channels they answer by their types
  apps/archivist/src/bus.rs
  apps/archivist/src/commands.rs
  apps/dispatcher/handlers/src/handlers.rs
  apps/dispatcher/tests/protocol_doc.rs
  scripts/spec/check-channel-rosters.mjs
Due: none

The Archivist and the dispatcher name the channels they send by their types
  apps/archivist/src/bus.rs
  apps/dispatcher/handlers/src/handlers.rs
  apps/dispatcher/src/main.rs
  apps/dispatcher/tests/protocol_doc.rs
  scripts/spec/check-channel-rosters.mjs
Due: none

The Archivist names the events it records by their types
  Cargo.lock
  apps/archivist/record/Cargo.toml
  apps/archivist/record/src/index.rs
  apps/archivist/record/src/projections.rs
  apps/archivist/record/src/view.rs
  apps/archivist/src/archivist.rs
  apps/archivist/src/browse.rs
  apps/archivist/src/commands.rs
  apps/archivist/src/main.rs
  scripts/spec/check-channel-rosters.mjs
Due: none

Hold what the Archivist appends for each command to ARCHIVIST.md
  docs/protocol/ARCHIVIST.md
  scripts/spec/check-channel-rosters.mjs
Due: none

A generated resource's link is recorded before yield:create replies
  docs/protocol/ARCHIVIST.md
Due: none

Pin that a generated resource is linked before its creation is answered
  tests/conformance/archivist/README.md
  tests/conformance/archivist/annotations.test.ts
Due: none

The Archivist suite's README says which events of the record have no case
  tests/conformance/archivist/README.md
Due: none

A PDF's text items count code points, and its store is at version 3
  apps/archivist/src/anchored.rs
  packages/content/README.md
  packages/content/docs/API.md
  packages/content/src/__tests__/anchored-text-cache.test.ts
  packages/content/src/__tests__/ocr-assembly.test.ts
  packages/content/src/__tests__/pdf-extractor-code-points.test.ts
  packages/content/src/__tests__/pdf-tables.test.ts
  packages/content/src/__tests__/text-layer-code-points.test.ts
  packages/content/src/anchored-text-store.ts
  packages/content/src/extract-pdf-text-layer.ts
  packages/content/src/ocr-geometry.ts
  packages/content/src/ocr.ts
  packages/content/src/pdf-extractor.ts
  packages/content/src/pdf-tables.ts
  packages/content/src/pdf-text-layer.ts
  packages/core/src/__tests__/anchor-runs.test.ts
  packages/core/src/pdf-anchoring.ts
  packages/sdk-go/client_gen.go
  packages/sdk-python/src/semiont/types.py
  specs/src/components/schemas/AnchoredTextDeclinedEntry.json
  specs/src/components/schemas/AnchoredTextExtractedEntry.json
  specs/src/components/schemas/PdfTextItem.json
  tests/conformance/archivist/browse.test.ts
  tests/conformance/harness/archivist-world.ts
Due: content, core, @semiont/core, @semiont/content

Delete the three in-process channels nothing publishes or hears
  docs/builder/Usage.md
  docs/operator/administration/OBSERVABILITY.md
  docs/protocol/CHANNELS.md
  docs/protocol/EVENT-BUS.md
  packages/core-rust/src/bus-classification.json
  packages/core/src/__tests__/bus-invariants.test.ts
  packages/core/src/__tests__/enriched-event-types.test.ts
  packages/core/src/bus-classification.ts
  packages/core/src/bus-protocol.ts
  packages/http-transport/src/transport/__tests__/actor-state-unit.test.ts
  packages/jobs/src/__tests__/processors.test.ts
  packages/jobs/src/__tests__/worker-process.test.ts
  packages/jobs/src/worker-process.ts
  packages/observability/docs/API.md
  packages/react-ui/src/components/resource/panels/AssessmentPanel.tsx
  packages/react-ui/src/components/resource/panels/CommentsPanel.tsx
  packages/react-ui/src/components/resource/panels/HighlightPanel.tsx
  packages/react-ui/src/components/resource/panels/ReferencesPanel.tsx
  packages/react-ui/src/components/resource/panels/TaggingPanel.tsx
  packages/react-ui/src/hooks/__tests__/useGenerationArrival.test.tsx
  packages/react-ui/src/hooks/useGenerationArrival.ts
  packages/sdk-go/bus/channels_gen.go
  packages/sdk-go/client_gen.go
  packages/sdk-python/src/semiont/channels.py
  packages/sdk-python/src/semiont/types.py
  specs/src/bus/registry.json
  specs/src/components/schemas/MarkCommitCommand.json
  specs/src/components/schemas/MarkCreateCommand.json
  specs/src/components/schemas/YieldMoveFailed.json
  specs/src/components/schemas/YieldMvCommand.json
  specs/src/openapi.json
  tests/e2e/specs/04-manual-highlight.spec.ts
Due: core, jobs, react-ui, @semiont/core, @semiont/jobs, @semiont/react-ui

The annotation panels say what they emit, by the payload's schema
  packages/react-ui/src/components/resource/panels/AssessmentPanel.tsx
  packages/react-ui/src/components/resource/panels/CommentsPanel.tsx
  packages/react-ui/src/components/resource/panels/HighlightPanel.tsx
  packages/react-ui/src/components/resource/panels/ReferencesPanel.tsx
  packages/react-ui/src/components/resource/panels/TaggingPanel.tsx
  packages/react-ui/src/components/resource/panels/__tests__/DelegateSection.test.tsx
  packages/react-ui/src/components/resource/panels/__tests__/ReferencesPanel.test.tsx
  packages/react-ui/src/components/resource/panels/__tests__/TaggingPanel.test.tsx
Due: react-ui, @semiont/react-ui

A lint holds the events a component documents to the bus registry
  .github/workflows/architecture-compliance.yml
  package.json
  packages/react-ui/src/components/image-annotation/AnnotationOverlay.tsx
  packages/react-ui/src/components/image-annotation/SvgDrawingCanvas.tsx
  packages/react-ui/src/components/pdf-annotation/PdfAnnotationCanvas.tsx
  packages/react-ui/src/components/resource/AnnotateView.tsx
  packages/react-ui/src/components/resource/BrowseView.tsx
  scripts/lint/check-event-tags.mjs
Due: react-ui, @semiont/react-ui

The reference and tag panels document that they dismiss progress
  packages/react-ui/src/components/resource/panels/ReferencesPanel.tsx
  packages/react-ui/src/components/resource/panels/TaggingPanel.tsx
Due: react-ui, @semiont/react-ui

A file that documents its events tags every channel it sends on
  packages/react-ui/src/components/resource/ResourceViewer.tsx
  packages/react-ui/src/components/resource/panels/ReferencesPanel.tsx
  packages/react-ui/src/components/resource/panels/ResourceInfoPanel.tsx
  packages/react-ui/src/features/resource-viewer/components/ResourceViewerPage.tsx
  scripts/lint/check-event-tags.mjs
Due: react-ui, @semiont/react-ui

core's text arithmetic counts code points
  docs/architecture/ANCHORING.md
  packages/core/docs/API.md
  packages/core/docs/Utilities.md
  packages/core/src/__tests__/anchor-annotation.test.ts
  packages/core/src/__tests__/chunking.test.ts
  packages/core/src/__tests__/fuzzy-anchor.test.ts
  packages/core/src/__tests__/offset-cases.test.ts
  packages/core/src/__tests__/pdf-citation-search.test.ts
  packages/core/src/__tests__/text-context.test.ts
  packages/core/src/__tests__/text-under.test.ts
  packages/core/src/anchor-annotation.ts
  packages/core/src/chunking.ts
  packages/core/src/fuzzy-anchor.ts
  packages/core/src/pdf-anchoring.ts
  packages/core/src/pdf-citation-search.ts
  packages/core/src/text-context.ts
  packages/core/src/text-offsets.ts
  packages/core/src/web-annotation-utils.ts
  scripts/spec/check-case-tables.mjs
  specs/src/annotations/pdf-locate-cases.json
  specs/src/annotations/reconcile-cases.json
  specs/src/text/chunk-cases.json
Due: core, @semiont/core

The cancel control of a delegated job cancels the pending jobs of its type
  packages/react-ui/src/components/DelegateProgress.tsx
  packages/react-ui/src/components/__tests__/DelegateProgress.test.tsx
  packages/react-ui/src/components/resource/panels/ReferencesPanel.tsx
  packages/react-ui/src/components/resource/panels/ResourceInfoPanel.tsx
  packages/react-ui/src/components/resource/panels/__tests__/ReferencesPanel.test.tsx
  packages/react-ui/src/components/resource/panels/__tests__/ResourceInfoPanel.test.tsx
Due: react-ui, @semiont/react-ui

Every file that sends on the bus tags each channel it sends on
  apps/browser/src/components/KnowledgeBasePanel.tsx
  apps/browser/src/hooks/useKbPanelOnLogin.ts
  packages/react-ui/src/components/CodeMirrorRenderer.tsx
  packages/react-ui/src/components/modals/KbIdentityConflictModal.tsx
  packages/react-ui/src/components/pdf-annotation/PdfPageView.tsx
  packages/react-ui/src/components/resource/panels/AssessmentEntry.tsx
  packages/react-ui/src/components/resource/panels/CommentEntry.tsx
  packages/react-ui/src/components/resource/panels/HighlightEntry.tsx
  packages/react-ui/src/components/resource/panels/ReferenceEntry.tsx
  packages/react-ui/src/components/resource/panels/TagEntry.tsx
  packages/react-ui/src/features/moderate-entity-tags/state/entity-tags-state-unit.ts
  packages/react-ui/src/features/resource-viewer/hooks/useResourceViewedReport.ts
  packages/react-ui/src/hooks/useHoverEmitter.ts
  packages/react-ui/src/lib/codemirror-handlers.ts
  packages/react-ui/src/state/shell-state-unit.ts
  scripts/lint/check-event-tags.mjs
Due: react-ui, @semiont/react-ui

An event tag is held to the declaration it documents
  packages/react-ui/src/components/pdf-annotation/PdfAnnotationCanvas.tsx
  packages/react-ui/src/components/pdf-annotation/PdfPageView.tsx
  packages/react-ui/src/components/resource/panels/ReferenceEntry.tsx
  packages/react-ui/src/components/resource/panels/ResourceInfoPanel.tsx
  packages/react-ui/src/contexts/ResourceAnnotationsContext.tsx
  packages/react-ui/src/features/resource-viewer/components/ResourceViewerPage.tsx
  scripts/lint/check-event-tags.mjs
Due: react-ui, @semiont/react-ui

The cancel control of a delegated job cancels that job, by its id
  docs/builder/REACTIVE-MODEL.md
  docs/builder/react-ui/ANNOTATIONS.md
  docs/protocol/JOBS.md
  packages/react-ui/docs/SERVICE-HOOK-COMPONENT.md
  packages/react-ui/src/components/DelegateProgress.tsx
  packages/react-ui/src/components/__tests__/DelegateProgress.test.tsx
  packages/react-ui/src/components/resource/panels/ReferencesPanel.tsx
  packages/react-ui/src/components/resource/panels/ResourceInfoPanel.tsx
  packages/react-ui/src/components/resource/panels/UnifiedAnnotationsPanel.tsx
  packages/react-ui/src/components/resource/panels/__tests__/ReferencesPanel.headless.test.tsx
  packages/react-ui/src/components/resource/panels/__tests__/ReferencesPanel.observable-flow.test.tsx
  packages/react-ui/src/components/resource/panels/__tests__/ReferencesPanel.test.tsx
  packages/react-ui/src/components/resource/panels/__tests__/ResourceInfoPanel.test.tsx
  packages/react-ui/src/components/resource/panels/__tests__/UnifiedAnnotationsPanel.delegated-job.test.tsx
  packages/react-ui/src/features/resource-viewer/components/ResourceViewerPage.tsx
  packages/sdk-python/README.md
  packages/sdk-python/src/semiont/namespaces/follow.py
  packages/sdk-python/tests/readme/the_client.py
  packages/sdk-python/tests/test_follow.py
  packages/sdk-python/tests/test_readme.py
  packages/sdk-rust/README.md
  packages/sdk-rust/src/namespaces/follow.rs
  packages/sdk-rust/src/state/mark.rs
  packages/sdk-rust/src/state/mod.rs
  packages/sdk-rust/src/state/yield_.rs
  packages/sdk-rust/tests/follow.rs
  packages/sdk-rust/tests/state.rs
  packages/sdk/src/awaitable.ts
  packages/sdk/src/namespaces/__tests__/commands.test.ts
  packages/sdk/src/namespaces/__tests__/generation-stall.test.ts
  packages/sdk/src/namespaces/__tests__/mark-delegate-churn.test.ts
  packages/sdk/src/namespaces/delegation.ts
  packages/sdk/src/state/flows/__tests__/mark-state-unit.test.ts
  packages/sdk/src/state/flows/__tests__/yield-state-unit.test.ts
  packages/sdk/src/state/flows/mark-state-unit.ts
  packages/sdk/src/state/flows/yield-state-unit.ts
  specs/src/client/surface.json
  tests/conformance/sdk/live/job-created.json
Due: react-ui, @semiont/react-ui

A client cancels a job by its id, and in no other way
  docs/builder/REACTIVE-MODEL.md
  packages/react-ui/src/components/resource/panels/__tests__/ReferencesPanel.test.tsx
  packages/react-ui/src/components/resource/panels/__tests__/ResourceInfoPanel.test.tsx
  packages/sdk-python/src/semiont/namespaces/job.py
  packages/sdk-python/tests/refusals/a_client_called_wrongly.py
  packages/sdk-python/tests/test_client.py
  packages/sdk-python/tests/test_surface.py
  packages/sdk-rust/src/namespaces/job.rs
  packages/sdk-rust/tests/surface.rs
  packages/sdk/src/__tests__/client-surface.test.ts
  packages/sdk/src/namespaces/__tests__/commands.test.ts
  packages/sdk/src/namespaces/__tests__/ui-signals.test.ts
  packages/sdk/src/namespaces/job.ts
  packages/sdk/src/namespaces/types.ts
  specs/src/client/surface.json
Due: none

A cancellation names one job, by its id
  apps/dispatcher/handlers/src/handlers.rs
  apps/dispatcher/handlers/src/queue.rs
  apps/dispatcher/handlers/tests/bad_ids.rs
  apps/dispatcher/handlers/tests/support/mod.rs
  apps/dispatcher/jetstream/src/lib.rs
  docs/protocol/JOBS.md
  docs/protocol/WORKER-CONTRACT.md
  packages/core/src/bus-protocol.ts
  packages/sdk-go/client_gen.go
  packages/sdk-python/src/semiont/namespaces/follow.py
  packages/sdk-python/src/semiont/namespaces/job.py
  packages/sdk-python/src/semiont/types.py
  packages/sdk-python/tests/test_claims.py
  packages/sdk-python/tests/test_follow.py
  packages/sdk-rust/src/namespaces/follow.rs
  packages/sdk-rust/src/namespaces/job.rs
  packages/sdk-rust/tests/claims.rs
  packages/sdk/src/__tests__/job-claims.test.ts
  packages/sdk/src/namespaces/__tests__/commands.test.ts
  packages/sdk/src/namespaces/delegation.ts
  packages/sdk/src/namespaces/job.ts
  scripts/spec/check-jobs.mjs
  specs/src/bus/registry.json
  specs/src/client/surface.json
  specs/src/components/schemas/JobCancelRequest.json
  specs/src/components/schemas/JobCancelResult.json
  tests/conformance/dispatcher/cancel.test.ts
  tests/conformance/harness/dispatcher-world.ts
  tests/conformance/worker/cases/cancel.json
Due: core, @semiont/core

The Browser's UI counts code points, and a selection is taken from the editor
  apps/browser/docs/ANNOTATIONS.md
  apps/browser/docs/API-INTEGRATION.md
  apps/browser/src/components/__tests__/CodeMirrorRenderer.test.tsx
  docs/builder/react-ui/ANNOTATIONS.md
  docs/builder/react-ui/COMPONENTS.md
  packages/react-ui/docs/ANNOTATION-RENDERING-PRINCIPLES.md
  packages/react-ui/docs/CODEMIRROR-INTEGRATION.md
  packages/react-ui/docs/RENDERING-ARCHITECTURE.md
  packages/react-ui/src/components/CodeMirrorRenderer.tsx
  packages/react-ui/src/components/resource/AnnotateView.tsx
  packages/react-ui/src/components/resource/BrowseView.tsx
  packages/react-ui/src/components/resource/__tests__/AnnotateView.code-point-offsets.test.tsx
  packages/react-ui/src/components/resource/__tests__/BrowseView.code-point-offsets.test.tsx
  packages/react-ui/src/components/resource/__tests__/ResourceViewer.toolbar-opt-out.test.tsx
  packages/react-ui/src/components/resource/annotate-renderers.tsx
  packages/react-ui/src/hooks/__tests__/usePendingCreation.test.tsx
  packages/react-ui/src/lib/__tests__/annotation-overlay.test.ts
  packages/react-ui/src/lib/__tests__/code-point-offsets.test.ts
  packages/react-ui/src/lib/__tests__/codemirror-logic.test.ts
  packages/react-ui/src/lib/__tests__/text-segmentation.test.ts
  packages/react-ui/src/lib/__tests__/text-selection-handler.test.ts
  packages/react-ui/src/lib/annotation-overlay.ts
  packages/react-ui/src/lib/codemirror-logic.ts
  packages/react-ui/src/lib/media-shapes.ts
  packages/react-ui/src/lib/resource-utils.ts
  packages/react-ui/src/lib/text-segmentation.ts
  packages/react-ui/src/lib/text-selection-handler.ts
  packages/react-ui/src/types/annotation-props.ts
  packages/react-ui/src/types/resource-viewer.ts
  packages/sdk-go/client_gen.go
  packages/sdk-python/src/semiont/types.py
  scripts/spec/check-case-tables.mjs
  specs/src/components/schemas/SelectionData.json
Due: react-ui, @semiont/react-ui

A cancellation is answered with whether the queue acted on the job
  apps/dispatcher/handlers/src/handlers.rs
  apps/dispatcher/handlers/tests/cancellation.rs
  docs/protocol/JOBS.md
  packages/core/src/bus-protocol.ts
  packages/react-ui/src/components/resource/panels/__tests__/ReferencesPanel.test.tsx
  packages/react-ui/src/components/resource/panels/__tests__/ResourceInfoPanel.test.tsx
  packages/react-ui/src/components/resource/panels/__tests__/UnifiedAnnotationsPanel.delegated-job.test.tsx
  packages/sdk-go/client_gen.go
  packages/sdk-python/src/semiont/namespaces/job.py
  packages/sdk-python/src/semiont/types.py
  packages/sdk-python/tests/test_client.py
  packages/sdk-rust/src/namespaces/job.rs
  packages/sdk/src/namespaces/__tests__/commands.test.ts
  packages/sdk/src/namespaces/__tests__/generation-stall.test.ts
  packages/sdk/src/namespaces/job.ts
  packages/sdk/src/namespaces/types.ts
  specs/src/bus/registry.json
  specs/src/components/schemas/JobCancelResult.json
  tests/conformance/dispatcher/cancel.test.ts
  tests/conformance/harness/dispatcher-world.ts
  tests/conformance/sdk/live/job-stalled.json
Due: core, @semiont/core

The OpenAPI lint passes, and is a gate
  .github/workflows/architecture-compliance.yml
  .redocly.yaml
  packages/codegen-rust/src/types.rs
  packages/sdk-go/client_gen.go
  packages/sdk-python/scripts/generate_models.py
  redocly.yaml
  specs/README.md
  specs/src/components/schemas/AgentOrganization.json
  specs/src/components/schemas/AgentPerson.json
  specs/src/components/schemas/AgentSoftware.json
Due: none

Every operation has an operationId, and the lint requires one
  apps/launcher/internal/launcher/login.go
  apps/launcher/internal/launcher/oauth.go
  apps/launcher/internal/launcher/status.go
  apps/launcher/internal/verbs/yield.go
  package.json
  packages/sdk-go/README.md
  packages/sdk-go/client_gen.go
  packages/sdk-go/health.go
  redocly.yaml
  specs/README.md
  specs/src/archivist/openapi.json
  specs/src/archivist/paths/events_{resourceId}.json
  specs/src/archivist/paths/health.json
  specs/src/archivist/paths/resources.json
  specs/src/archivist/paths/resources_{id}_content.json
  specs/src/archivist/paths/resources_{id}_jsonld.json
  specs/src/openapi.json
  specs/src/paths/api_openapi.json
  specs/src/paths/api_resources_{id}.json
  specs/src/paths/api_status.json
  specs/src/paths/api_tokens_agent.json
  specs/src/paths/api_tokens_media.json
  specs/src/paths/api_users_me.json
  specs/src/paths/bus_emit.json
  specs/src/paths/bus_subscribe.json
  specs/src/paths/resources.json
  specs/src/paths/resources_{id}.json
  specs/src/paths/resources_{id}_jsonld.json
  specs/src/paths/root.json
  specs/src/paths/well-known_oauth-protected-resource.json
Due: none

core anchors a model's quote by rules its tables hold, with no defect listed
  packages/core/docs/Utilities.md
  packages/core/src/__tests__/chunk-cases.test.ts
  packages/core/src/__tests__/fuzzy-anchor.test.ts
  packages/core/src/__tests__/locate.test.ts
  packages/core/src/__tests__/pdf-citation-search.test.ts
  packages/core/src/__tests__/text-context.test.ts
  packages/core/src/chunking.ts
  packages/core/src/fuzzy-anchor.ts
  packages/core/src/index.ts
  packages/core/src/pdf-anchoring.ts
  packages/core/src/pdf-citation-search.ts
  packages/core/src/text-context.ts
  specs/src/annotations/pdf-locate-cases.json
  specs/src/annotations/reconcile-cases.json
Due: core, @semiont/core

The Rust and Python SDKs' bus offers one way to make a request
  packages/sdk-python/src/semiont/bus.py
  packages/sdk-python/src/semiont/claims.py
  packages/sdk-rust/src/bus.rs
Due: none

A finished unit keeps its cursor, so a resumed job's counts are the whole job's
  apps/dispatcher/handlers/src/checkpoint.rs
  apps/dispatcher/handlers/src/queue.rs
  apps/dispatcher/handlers/tests/checkpoint.rs
  docs/protocol/JOBS.md
  docs/protocol/WORKER-CONTRACT.md
  docs/protocol/WORKER-SERVICE.md
  packages/core/src/payload-types.ts
  packages/jobs/docs/FailureDiscipline.md
  packages/jobs/docs/JobTypes.md
  packages/jobs/docs/Workers.md
  packages/jobs/src/__tests__/processors.test.ts
  packages/jobs/src/__tests__/worker-process.test.ts
  packages/jobs/src/processors.ts
  packages/jobs/src/worker-process.ts
  packages/sdk-go/client_gen.go
  packages/sdk-python/src/semiont/types.py
  packages/sdk/src/claims.ts
  specs/src/components/schemas/JobCancelCommand.json
  specs/src/components/schemas/JobCheckpointCommand.json
  specs/src/components/schemas/JobFailCommand.json
  specs/src/components/schemas/JobMetadata.json
  specs/src/components/schemas/UnitCursor.json
  tests/conformance/dispatcher/clocks.test.ts
  tests/conformance/dispatcher/conclude.test.ts
  tests/conformance/dispatcher/progress.test.ts
  tests/conformance/worker-service/README.md
  tests/conformance/worker-service/cancel.test.ts
  tests/conformance/worker-service/failures.test.ts
  tests/conformance/worker-service/linking.test.ts
  tests/conformance/worker-service/resume.test.ts
  tests/conformance/worker/cases/checkpoint-read.json
  tests/conformance/worker/cases/lifecycle.json
Due: core, jobs, @semiont/core, @semiont/jobs

A held job states its trace in every SDK, and Python runs a held job's block in it
  docs/protocol/WORKER-CONTRACT.md
  packages/sdk-python/README.md
  packages/sdk-python/conformance/worker.py
  packages/sdk-python/src/semiont/claims.py
  packages/sdk-python/src/semiont/telemetry.py
  packages/sdk-python/tests/test_claims.py
  packages/sdk-rust/README.md
  packages/sdk-rust/src/claims.rs
  packages/sdk/README.md
  packages/sdk/src/__tests__/job-claims.test.ts
  packages/sdk/src/claims.ts
Due: none

The surface table holds what a worker is handed, in every SDK
  docs/protocol/README.md
  scripts/lint/check-client-surface.mjs
  scripts/lint/check-placeholder-readers.mjs
  specs/src/client/surface.json
Due: none

The surface table says why Python hands a refused claim out where a job would be
  specs/src/client/surface.json
Due: none
