Repository The-AI-Alliance/semiont: changes, and which Codecov flags are due for each by the changed paths.
All: api-client, content, core, event-sourcing, graph, inference, jobs, make-meaning, mcp-server, ontology, react-ui, frontend, backend, @semiont/core, @semiont/api-client, @semiont/ontology, @semiont/content, @semiont/event-sourcing, @semiont/graph, @semiont/inference, @semiont/jobs, @semiont/make-meaning, @semiont/react-ui

codecov.yml:

# Codecov configuration for Semiont monorepo
# https://docs.codecov.io/docs/codecovyml-reference

codecov:
  # Require CI to finish before processing coverage
  require_ci_to_pass: true

  # Wait for all coverage reports before commenting
  notify:
    wait_for_ci: true

coverage:
  # Overall project coverage settings
  status:
    # Project-wide coverage status
    project:
      default:
        # Coverage can drop by 1% without failing
        threshold: 1%
        target: 70%  # Target 70% overall coverage

    # Per-PR patch coverage
    patch:
      default:
        # New code should have at least 80% coverage
        target: 80%
        threshold: 5%

  # Round coverage to 2 decimal places
  precision: 2
  round: down

  # Coverage range for color coding
  range: "50...90"

# Component-specific coverage configuration
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 1%
  individual_components:
    # Core packages with higher coverage requirements
    - component_id: core
      name: "@semiont/core"
      paths:
        - packages/core/**
    - component_id: api-client
      name: "@semiont/api-client"
      paths:
        - packages/api-client/**
    - component_id: ontology
      name: "@semiont/ontology"
      paths:
        - packages/ontology/**
    - component_id: content
      name: "@semiont/content"
      paths:
        - packages/content/**
    - component_id: event-sourcing
      name: "@semiont/event-sourcing"
      paths:
        - packages/event-sourcing/**
    - component_id: graph
      name: "@semiont/graph"
      paths:
        - packages/graph/**
    - component_id: inference
      name: "@semiont/inference"
      paths:
        - packages/inference/**
    - component_id: jobs
      name: "@semiont/jobs"
      paths:
        - packages/jobs/**
    - component_id: make-meaning
      name: "@semiont/make-meaning"
      paths:
        - packages/make-meaning/**
    - component_id: react-ui
      name: "@semiont/react-ui"
      paths:
        - packages/react-ui/**

# Ignore certain files from coverage
ignore:
  # Test files
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/*.spec.tsx"
  - "**/test/**"
  - "**/tests/**"
  - "**/__tests__/**"
  - "**/test-utils/**"

  # Build artifacts
  - "**/dist/**"
  - "**/build/**"
  - "**/coverage/**"
  - "**/.next/**"

  # Config files
  - "**/*.config.ts"
  - "**/*.config.js"
  - "**/jest.setup.ts"

  # Generated files
  - "**/generated/**"
  - "packages/api-client/src/types.ts"

  # Examples and demos
  - "**/examples/**"
  - "**/demo/**"

  # Scripts
  - "scripts/**"

# Comment configuration
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Flag configuration for different test suites
flags:
  # Individual package flags
  api-client:
    paths:
      - packages/api-client/**
    carryforward: true

  content:
    paths:
      - packages/content/**
    carryforward: true

  core:
    paths:
      - packages/core/**
    carryforward: true

  event-sourcing:
    paths:
      - packages/event-sourcing/**
    carryforward: true

  graph:
    paths:
      - packages/graph/**
    carryforward: true

  inference:
    paths:
      - packages/inference/**
    carryforward: true

  jobs:
    paths:
      - packages/jobs/**
    carryforward: true

  make-meaning:
    paths:
      - packages/make-meaning/**
    carryforward: true

  mcp-server:
    paths:
      - packages/mcp-server/**
    carryforward: true

  ontology:
    paths:
      - packages/ontology/**
    carryforward: true

  react-ui:
    paths:
      - packages/react-ui/**
    carryforward: true

  # App flags (for future use)
  frontend:
    paths:
      - apps/frontend/**
    carryforward: true

  backend:
    paths:
      - apps/backend/**
    carryforward: true

finish nextauth removal (#555)
  apps/frontend/messages-source/bn.json
  apps/frontend/messages-source/cs.json
  apps/frontend/messages-source/da.json
  apps/frontend/messages-source/de.json
  apps/frontend/messages-source/el.json
  apps/frontend/messages-source/en.json
  apps/frontend/messages-source/es.json
  apps/frontend/messages-source/fa.json
  apps/frontend/messages-source/fi.json
  apps/frontend/messages-source/fr.json
  apps/frontend/messages-source/he.json
  apps/frontend/messages-source/hi.json
  apps/frontend/messages-source/id.json
  apps/frontend/messages-source/it.json
  apps/frontend/messages-source/ja.json
  apps/frontend/messages-source/ko.json
  apps/frontend/messages-source/ms.json
  apps/frontend/messages-source/nl.json
  apps/frontend/messages-source/no.json
  apps/frontend/messages-source/pl.json
  apps/frontend/messages-source/pt.json
  apps/frontend/messages-source/ro.json
  apps/frontend/messages-source/sv.json
  apps/frontend/messages-source/th.json
  apps/frontend/messages-source/tr.json
  apps/frontend/messages-source/uk.json
  apps/frontend/messages-source/vi.json
  apps/frontend/package.json
  apps/frontend/src/app/[locale]/privacy/__tests__/page.test.tsx
  apps/frontend/src/components/__tests__/CookieBanner.test.tsx
  apps/frontend/vitest.setup.ts
  packages/test-utils/src/environments/frontend.ts
Due: frontend

bump version to 0.4.6
  apps/backend/package.json
  apps/backend/package.publish.json
  apps/cli/package.json
  apps/frontend/package.json
  apps/frontend/package.publish.json
  package.json
  packages/api-client/package.json
  packages/content/package.json
  packages/core/package.json
  packages/event-sourcing/package.json
  packages/graph/package.json
  packages/inference/package.json
  packages/jobs/package.json
  packages/make-meaning/package.json
  packages/mcp-server/package.json
  packages/ontology/package.json
  packages/react-ui/package.json
  version.json
Due: api-client, content, core, event-sourcing, graph, inference, jobs, make-meaning, mcp-server, ontology, react-ui, frontend, backend, @semiont/core, @semiont/api-client, @semiont/ontology, @semiont/content, @semiont/event-sourcing, @semiont/graph, @semiont/inference, @semiont/jobs, @semiont/make-meaning, @semiont/react-ui

Move server-side route handlers to the backend
  apps/backend/src/routes/auth.ts
  apps/backend/src/routes/resources/routes/get-uri.ts
  apps/cli/templates/envoy.yaml
  apps/frontend/package.json
  apps/frontend/src/app/[locale]/auth/mcp-setup/route.ts
  apps/frontend/src/app/api/cookies/consent/__tests__/route.basic.test.ts
  apps/frontend/src/app/api/cookies/consent/__tests__/route.test.ts
  apps/frontend/src/app/api/cookies/consent/route.ts
  apps/frontend/src/app/api/cookies/export/__tests__/route.basic.test.ts
  apps/frontend/src/app/api/cookies/export/__tests__/route.test.ts
  apps/frontend/src/app/api/cookies/export/route.ts
  apps/frontend/src/app/api/resources/[id]/route.ts
Due: frontend, backend

post-next scripts and config
  apps/frontend/next.config.mjs
  apps/frontend/package.json
  apps/frontend/scripts/merge-translations.js
  apps/frontend/tsconfig.json
  apps/frontend/vitest.setup.ts
Due: frontend

fix tests
  apps/frontend/src/components/admin/__tests__/AdminNavigation.test.tsx
  packages/test-utils/src/environments/frontend.ts
Due: none

double brace variables in react-ui translation files
  packages/react-ui/translations/ar.json
  packages/react-ui/translations/bn.json
  packages/react-ui/translations/cs.json
  packages/react-ui/translations/da.json
  packages/react-ui/translations/de.json
  packages/react-ui/translations/el.json
  packages/react-ui/translations/en.json
  packages/react-ui/translations/es.json
  packages/react-ui/translations/fa.json
  packages/react-ui/translations/fi.json
  packages/react-ui/translations/fr.json
  packages/react-ui/translations/he.json
  packages/react-ui/translations/hi.json
  packages/react-ui/translations/id.json
  packages/react-ui/translations/it.json
  packages/react-ui/translations/ja.json
  packages/react-ui/translations/ko.json
  packages/react-ui/translations/ms.json
  packages/react-ui/translations/nl.json
  packages/react-ui/translations/no.json
  packages/react-ui/translations/pl.json
  packages/react-ui/translations/pt.json
  packages/react-ui/translations/ro.json
  packages/react-ui/translations/sv.json
  packages/react-ui/translations/th.json
  packages/react-ui/translations/tr.json
  packages/react-ui/translations/uk.json
  packages/react-ui/translations/vi.json
  packages/react-ui/translations/zh.json
Due: react-ui, @semiont/react-ui

double brace variables in frontend translation files
  apps/frontend/messages-source/ar.json
  apps/frontend/messages-source/bn.json
  apps/frontend/messages-source/cs.json
  apps/frontend/messages-source/da.json
  apps/frontend/messages-source/de.json
  apps/frontend/messages-source/el.json
  apps/frontend/messages-source/en.json
  apps/frontend/messages-source/es.json
  apps/frontend/messages-source/fa.json
  apps/frontend/messages-source/fi.json
  apps/frontend/messages-source/fr.json
  apps/frontend/messages-source/he.json
  apps/frontend/messages-source/hi.json
  apps/frontend/messages-source/id.json
  apps/frontend/messages-source/it.json
  apps/frontend/messages-source/ja.json
  apps/frontend/messages-source/ko.json
  apps/frontend/messages-source/ms.json
  apps/frontend/messages-source/nl.json
  apps/frontend/messages-source/no.json
  apps/frontend/messages-source/pl.json
  apps/frontend/messages-source/pt.json
  apps/frontend/messages-source/ro.json
  apps/frontend/messages-source/sv.json
  apps/frontend/messages-source/th.json
  apps/frontend/messages-source/tr.json
  apps/frontend/messages-source/uk.json
  apps/frontend/messages-source/vi.json
  apps/frontend/messages-source/zh.json
Due: frontend

update README
  apps/frontend/README.md
Due: frontend

index.html + vite.config.ts
  apps/frontend/index.html
  apps/frontend/vite.config.ts
Due: frontend

update docs for Next.JS removal
  apps/frontend/docs/ARCHITECTURE.md
  apps/frontend/docs/AUTHENTICATION.md
  apps/frontend/docs/CONTAINER.md
  apps/frontend/docs/DEVELOPMENT.md
  apps/frontend/docs/INTERNATIONALIZATION.md
Due: frontend

update env vars
  .github/workflows/accessibility-tests.yml
  .github/workflows/ci.yml
  .github/workflows/publish-frontend.yml
  .github/workflows/security-tests.yml
  apps/frontend/Dockerfile
  apps/frontend/README.md
  apps/frontend/docs/AUTHENTICATION.md
  apps/frontend/docs/CONTAINER.md
  apps/frontend/docs/DEPLOYMENT.md
  apps/frontend/docs/DEVELOPMENT.md
  apps/frontend/src/app/[locale]/admin/__tests__/layout.test.tsx
  apps/frontend/src/app/[locale]/admin/layout.tsx
  apps/frontend/src/app/[locale]/auth/signin/page.tsx
  apps/frontend/src/app/[locale]/know/layout.tsx
  apps/frontend/src/app/[locale]/moderate/layout.tsx
  apps/frontend/src/contexts/AuthContext.tsx
  apps/frontend/src/lib/env.ts
  apps/frontend/vite.config.ts
  apps/frontend/vitest.setup.ts
  packages/test-utils/src/environments/frontend.ts
Due: frontend

udpate frontend tsconfig.json
  apps/frontend/tsconfig.json
Due: frontend

fix build
  apps/frontend/src/app/globals.css
  apps/frontend/tsconfig.node.json
  apps/frontend/vite.config.ts
  packages/core/src/id-generation.ts
Due: core, frontend, @semiont/core

browser stubs
  apps/frontend/src/lib/browser-stubs/url.ts
Due: frontend

fix react-ui tests
  packages/react-ui/src/components/annotation/__tests__/AnnotateToolbar.test.tsx
Due: none

update tests for SPA architecture
  .github/workflows/security-tests.yml
Due: none

static file server for SPA frontend
  apps/cli/src/platforms/posix/handlers/frontend-provision.ts
  apps/cli/src/platforms/posix/handlers/frontend-start.ts
  apps/frontend/README.npm.md
  apps/frontend/package.publish.json
  scripts/publish-npm-apps.mjs
Due: frontend

SPA frontend fixes
  apps/cli/templates/envoy.yaml
  apps/frontend/src/App.tsx
  apps/frontend/src/components/admin/AdminNavigation.tsx
  apps/frontend/src/components/knowledge/KnowledgeNavigation.tsx
  apps/frontend/src/components/moderation/ModerationNavigation.tsx
  apps/frontend/src/i18n/routing.tsx
Due: frontend

static server for frontend SPA
  apps/frontend/server.js
Due: frontend

static file server for SPA frontend (#558)
  apps/cli/src/platforms/posix/handlers/frontend-provision.ts
  apps/cli/src/platforms/posix/handlers/frontend-start.ts
  apps/cli/templates/envoy.yaml
  apps/frontend/README.npm.md
  apps/frontend/package.publish.json
  apps/frontend/server.js
  apps/frontend/src/App.tsx
  apps/frontend/src/components/admin/AdminNavigation.tsx
  apps/frontend/src/components/knowledge/KnowledgeNavigation.tsx
  apps/frontend/src/components/moderation/ModerationNavigation.tsx
  apps/frontend/src/i18n/routing.tsx
  scripts/publish-npm-apps.mjs
Due: frontend

lower default database timeout
  apps/cli/src/core/commands/stop.ts
  apps/cli/src/platforms/container/handlers/database-stop.ts
Due: none

fix check summary count
  apps/cli/src/core/commands/check.ts
Due: none

frontend+backend package manifests should specify entry points and cli should be aware of those
  apps/backend/package.publish.json
  apps/cli/src/core/commands/provision.ts
  apps/cli/src/platforms/posix/handlers/backend-check.ts
  apps/cli/src/platforms/posix/handlers/backend-paths.ts
  apps/cli/src/platforms/posix/handlers/backend-provision.ts
  apps/cli/src/platforms/posix/handlers/backend-start.ts
  apps/cli/src/platforms/posix/handlers/backend-stop.ts
  apps/cli/src/platforms/posix/handlers/frontend-check.ts
  apps/cli/src/platforms/posix/handlers/frontend-paths.ts
  apps/cli/src/platforms/posix/handlers/frontend-start.ts
  apps/cli/src/platforms/posix/handlers/proxy-start.ts
  apps/frontend/package.publish.json
Due: frontend, backend

cli improvements for service management
  apps/cli/src/core/command-result.ts
  apps/cli/src/core/commands/provision.ts
  apps/cli/src/core/io/output-formatter.ts
  apps/cli/src/core/multi-service-executor.ts
  apps/cli/src/platforms/posix/handlers/backend-check.ts
  apps/cli/src/platforms/posix/handlers/frontend-check.ts
Due: none

cli fixes for frontend spa (#559)
  apps/backend/package.publish.json
  apps/cli/src/core/command-result.ts
  apps/cli/src/core/commands/check.ts
  apps/cli/src/core/commands/provision.ts
  apps/cli/src/core/commands/stop.ts
  apps/cli/src/core/io/output-formatter.ts
  apps/cli/src/core/multi-service-executor.ts
  apps/cli/src/platforms/container/handlers/database-stop.ts
  apps/cli/src/platforms/posix/handlers/backend-check.ts
  apps/cli/src/platforms/posix/handlers/backend-paths.ts
  apps/cli/src/platforms/posix/handlers/backend-provision.ts
  apps/cli/src/platforms/posix/handlers/backend-start.ts
  apps/cli/src/platforms/posix/handlers/backend-stop.ts
  apps/cli/src/platforms/posix/handlers/frontend-check.ts
  apps/cli/src/platforms/posix/handlers/frontend-paths.ts
  apps/cli/src/platforms/posix/handlers/frontend-start.ts
  apps/cli/src/platforms/posix/handlers/proxy-start.ts
  apps/frontend/package.publish.json
Due: frontend, backend

bump version to 0.4.7
  apps/backend/package.json
  apps/backend/package.publish.json
  apps/cli/package.json
  apps/frontend/package.json
  apps/frontend/package.publish.json
  package.json
  packages/api-client/package.json
  packages/content/package.json
  packages/core/package.json
  packages/event-sourcing/package.json
  packages/graph/package.json
  packages/inference/package.json
  packages/jobs/package.json
  packages/make-meaning/package.json
  packages/mcp-server/package.json
  packages/ontology/package.json
  packages/react-ui/package.json
  version.json
Due: api-client, content, core, event-sourcing, graph, inference, jobs, make-meaning, mcp-server, ontology, react-ui, frontend, backend, @semiont/core, @semiont/api-client, @semiont/ontology, @semiont/content, @semiont/event-sourcing, @semiont/graph, @semiont/inference, @semiont/jobs, @semiont/make-meaning, @semiont/react-ui

rm proxy
  apps/cli/src/core/commands/clean.ts
  apps/cli/src/core/commands/init.ts
  apps/cli/src/core/commands/local.ts
  apps/cli/src/core/commands/start.ts
  apps/cli/src/core/service-types.ts
  apps/cli/src/platforms/container/handlers/index.ts
  apps/cli/src/platforms/container/handlers/proxy-check.ts
  apps/cli/src/platforms/container/handlers/proxy-paths.ts
  apps/cli/src/platforms/container/handlers/proxy-provision.ts
  apps/cli/src/platforms/container/handlers/proxy-start.ts
  apps/cli/src/platforms/container/handlers/proxy-stop.ts
  apps/cli/src/platforms/container/platform.ts
  apps/cli/src/platforms/posix/handlers/index.ts
  apps/cli/src/platforms/posix/handlers/proxy-check.ts
  apps/cli/src/platforms/posix/handlers/proxy-paths.ts
  apps/cli/src/platforms/posix/handlers/proxy-provision.ts
  apps/cli/src/platforms/posix/handlers/proxy-start.ts
  apps/cli/src/platforms/posix/handlers/proxy-stop.ts
  apps/cli/src/platforms/posix/platform.ts
  apps/cli/src/platforms/posix/utils/process-manager.ts
  apps/cli/src/services/proxy-service.ts
  apps/cli/src/services/service-factory.ts
Due: none

fix frontend stop handler
  apps/cli/src/platforms/posix/handlers/frontend-stop.ts
Due: none

delete envoy template
  apps/cli/templates/envoy.yaml
Due: none

pass backend url as --bus to frontend
  apps/cli/src/platforms/posix/handlers/frontend-start.ts
  apps/frontend/server.js
  apps/frontend/src/lib/env.ts
  packages/core/src/config/config.schema.json
Due: core, frontend, @semiont/core

remove proxy (#573)
  apps/cli/src/core/commands/clean.ts
  apps/cli/src/core/commands/init.ts
  apps/cli/src/core/commands/local.ts
  apps/cli/src/core/commands/start.ts
  apps/cli/src/core/service-types.ts
  apps/cli/src/platforms/container/handlers/index.ts
  apps/cli/src/platforms/container/handlers/proxy-check.ts
  apps/cli/src/platforms/container/handlers/proxy-paths.ts
  apps/cli/src/platforms/container/handlers/proxy-provision.ts
  apps/cli/src/platforms/container/handlers/proxy-start.ts
  apps/cli/src/platforms/container/handlers/proxy-stop.ts
  apps/cli/src/platforms/container/platform.ts
  apps/cli/src/platforms/posix/handlers/frontend-start.ts
  apps/cli/src/platforms/posix/handlers/frontend-stop.ts
  apps/cli/src/platforms/posix/handlers/index.ts
  apps/cli/src/platforms/posix/handlers/proxy-check.ts
  apps/cli/src/platforms/posix/handlers/proxy-paths.ts
  apps/cli/src/platforms/posix/handlers/proxy-provision.ts
  apps/cli/src/platforms/posix/handlers/proxy-start.ts
  apps/cli/src/platforms/posix/handlers/proxy-stop.ts
  apps/cli/src/platforms/posix/platform.ts
  apps/cli/src/platforms/posix/utils/process-manager.ts
  apps/cli/src/services/proxy-service.ts
  apps/cli/src/services/service-factory.ts
  apps/cli/templates/envoy.yaml
  apps/frontend/server.js
  apps/frontend/src/lib/env.ts
  packages/core/src/config/config.schema.json
Due: core, frontend, @semiont/core

multi-bus Phase 1
  apps/cli/src/platforms/posix/handlers/frontend-start.ts
  apps/frontend/server.js
  apps/frontend/src/app/[locale]/admin/__tests__/layout.test.tsx
  apps/frontend/src/app/[locale]/admin/layout.tsx
  apps/frontend/src/app/[locale]/auth/signin/page.tsx
  apps/frontend/src/app/[locale]/know/layout.tsx
  apps/frontend/src/app/[locale]/moderate/layout.tsx
  apps/frontend/src/app/providers.tsx
  apps/frontend/src/components/AddBackendForm.tsx
  apps/frontend/src/contexts/AuthContext.tsx
  apps/frontend/src/contexts/WorkspaceContext.tsx
  apps/frontend/src/lib/env.ts
Due: frontend

bump version to 0.4.8
  apps/backend/package.json
  apps/backend/package.publish.json
  apps/cli/package.json
  apps/frontend/package.json
  apps/frontend/package.publish.json
  package.json
  packages/api-client/package.json
  packages/content/package.json
  packages/core/package.json
  packages/event-sourcing/package.json
  packages/graph/package.json
  packages/inference/package.json
  packages/jobs/package.json
  packages/make-meaning/package.json
  packages/mcp-server/package.json
  packages/ontology/package.json
  packages/react-ui/package.json
  version.json
Due: api-client, content, core, event-sourcing, graph, inference, jobs, make-meaning, mcp-server, ontology, react-ui, frontend, backend, @semiont/core, @semiont/api-client, @semiont/ontology, @semiont/content, @semiont/event-sourcing, @semiont/graph, @semiont/inference, @semiont/jobs, @semiont/make-meaning, @semiont/react-ui

fix image urls for dynamic backend urls
  apps/cli/src/core/commands/init.ts
  packages/api-client/src/client.ts
  packages/core/src/config/config.schema.json
  packages/react-ui/src/components/viewers/ImageViewer.tsx
  packages/react-ui/src/components/viewers/__tests__/ImageViewer.test.tsx
Due: api-client, core, react-ui, @semiont/core, @semiont/api-client, @semiont/react-ui

fix tests
  apps/frontend/src/__tests__/layout-providers.test.tsx
Due: none

WorkspaceSwitcher
  apps/frontend/src/components/WorkspaceSwitcher.tsx
  apps/frontend/src/components/knowledge/KnowledgeNavigation.tsx
Due: frontend

Collaboration Panel shows live/disconnected accurately per the active workspace's SSE connection
  apps/frontend/src/app/[locale]/know/layout.tsx
  apps/frontend/src/app/[locale]/know/resource/[id]/page.tsx
  packages/react-ui/src/features/resource-viewer/__tests__/ResourceViewerPage.test.tsx
  packages/react-ui/src/features/resource-viewer/components/ResourceViewerPage.tsx
Due: react-ui, frontend, @semiont/react-ui
