Repository The-AI-Alliance/semiont: changes, and which Codecov flags are due for each by the changed paths.
All: api-client, content, core, event-sourcing, graph, inference, jobs, make-meaning, mcp-server, ontology, react-ui, frontend, backend, @semiont/core, @semiont/api-client, @semiont/ontology, @semiont/content, @semiont/event-sourcing, @semiont/graph, @semiont/inference, @semiont/jobs, @semiont/make-meaning, @semiont/react-ui

codecov.yml:

# Codecov configuration for Semiont monorepo
# https://docs.codecov.io/docs/codecovyml-reference

codecov:
  # Require CI to finish before processing coverage
  require_ci_to_pass: true

  # Wait for all coverage reports before commenting
  notify:
    wait_for_ci: true

coverage:
  # Overall project coverage settings
  status:
    # Project-wide coverage status
    project:
      default:
        # Coverage can drop by 1% without failing
        threshold: 1%
        target: 70%  # Target 70% overall coverage

    # Per-PR patch coverage
    patch:
      default:
        # New code should have at least 80% coverage
        target: 80%
        threshold: 5%

  # Round coverage to 2 decimal places
  precision: 2
  round: down

  # Coverage range for color coding
  range: "50...90"

# Component-specific coverage configuration
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 1%
  individual_components:
    # Core packages with higher coverage requirements
    - component_id: core
      name: "@semiont/core"
      paths:
        - packages/core/**
    - component_id: api-client
      name: "@semiont/api-client"
      paths:
        - packages/api-client/**
    - component_id: ontology
      name: "@semiont/ontology"
      paths:
        - packages/ontology/**
    - component_id: content
      name: "@semiont/content"
      paths:
        - packages/content/**
    - component_id: event-sourcing
      name: "@semiont/event-sourcing"
      paths:
        - packages/event-sourcing/**
    - component_id: graph
      name: "@semiont/graph"
      paths:
        - packages/graph/**
    - component_id: inference
      name: "@semiont/inference"
      paths:
        - packages/inference/**
    - component_id: jobs
      name: "@semiont/jobs"
      paths:
        - packages/jobs/**
    - component_id: make-meaning
      name: "@semiont/make-meaning"
      paths:
        - packages/make-meaning/**
    - component_id: react-ui
      name: "@semiont/react-ui"
      paths:
        - packages/react-ui/**

# Ignore certain files from coverage
ignore:
  # Test files
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/*.spec.tsx"
  - "**/test/**"
  - "**/tests/**"
  - "**/__tests__/**"
  - "**/test-utils/**"

  # Build artifacts
  - "**/dist/**"
  - "**/build/**"
  - "**/coverage/**"
  - "**/.next/**"

  # Config files
  - "**/*.config.ts"
  - "**/*.config.js"
  - "**/jest.setup.ts"

  # Generated files
  - "**/generated/**"
  - "packages/api-client/src/types.ts"

  # Examples and demos
  - "**/examples/**"
  - "**/demo/**"

  # Scripts
  - "scripts/**"

# Comment configuration
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Flag configuration for different test suites
flags:
  # Individual package flags
  api-client:
    paths:
      - packages/api-client/**
    carryforward: true

  content:
    paths:
      - packages/content/**
    carryforward: true

  core:
    paths:
      - packages/core/**
    carryforward: true

  event-sourcing:
    paths:
      - packages/event-sourcing/**
    carryforward: true

  graph:
    paths:
      - packages/graph/**
    carryforward: true

  inference:
    paths:
      - packages/inference/**
    carryforward: true

  jobs:
    paths:
      - packages/jobs/**
    carryforward: true

  make-meaning:
    paths:
      - packages/make-meaning/**
    carryforward: true

  mcp-server:
    paths:
      - packages/mcp-server/**
    carryforward: true

  ontology:
    paths:
      - packages/ontology/**
    carryforward: true

  react-ui:
    paths:
      - packages/react-ui/**
    carryforward: true

  # App flags (for future use)
  frontend:
    paths:
      - apps/frontend/**
    carryforward: true

  backend:
    paths:
      - apps/backend/**
    carryforward: true

SEMIONT_VERSION for container images
  .github/workflows/publish-backend.yml
  .github/workflows/publish-frontend.yml
Due: none

change trigger for container publish
  .github/workflows/publish-backend.yml
  .github/workflows/publish-frontend.yml
Due: none

bump version to 0.2.34
  apps/backend/package.json
  apps/cli/package.json
  apps/frontend/package.json
  package.json
  packages/api-client/package.json
  packages/content/package.json
  packages/core/package.json
  packages/event-sourcing/package.json
  packages/graph/package.json
  packages/inference/package.json
  packages/jobs/package.json
  packages/make-meaning/package.json
  packages/ontology/package.json
  packages/react-ui/package.json
  version.json
Due: api-client, content, core, event-sourcing, graph, inference, jobs, make-meaning, ontology, react-ui, frontend, backend, @semiont/core, @semiont/api-client, @semiont/ontology, @semiont/content, @semiont/event-sourcing, @semiont/graph, @semiont/inference, @semiont/jobs, @semiont/make-meaning, @semiont/react-ui

move event map to @semiont/core
  packages/core/src/event-map.ts
  packages/core/src/index.ts
  packages/react-ui/src/components/DetectionProgressWidget.tsx
  packages/react-ui/src/contexts/EventBusContext.tsx
  packages/react-ui/src/contexts/useEventSubscription.ts
  packages/react-ui/src/features/resource-viewer/__tests__/AnnotationCreationPending.test.tsx
  packages/react-ui/src/features/resource-viewer/__tests__/DetectionFlowIntegration.test.tsx
  packages/react-ui/src/features/resource-viewer/__tests__/GenerationFlowIntegration.test.tsx
  packages/react-ui/src/features/resource-viewer/__tests__/ResourceMutations.test.tsx
  packages/react-ui/src/hooks/__tests__/useGenerationFlow.test.ts
  packages/react-ui/src/hooks/useContextRetrievalFlow.ts
  packages/react-ui/src/hooks/useDetectionFlow.ts
  packages/react-ui/src/hooks/useGenerationFlow.ts
  packages/react-ui/src/index.ts
  packages/react-ui/src/lib/annotation-registry.ts
  packages/react-ui/src/types/progress.ts
Due: core, react-ui, @semiont/core, @semiont/react-ui

rm mitt
  packages/react-ui/package.json
Due: react-ui, @semiont/react-ui

simplify SSE interactoin given the EventBus
  packages/api-client/src/__tests__/sse-client.test.ts
  packages/api-client/src/__tests__/sse-stream.test.ts
  packages/api-client/src/sse/index.ts
  packages/api-client/src/sse/stream.ts
  packages/api-client/src/sse/types.ts
  packages/react-ui/src/hooks/useDetectionFlow.ts
  packages/react-ui/src/hooks/useGenerationFlow.ts
Due: api-client, react-ui, @semiont/api-client, @semiont/react-ui

update docs
  packages/api-client/docs/Usage.md
  packages/react-ui/docs/SERVICE-HOOK-COMPONENT.md
Due: api-client, react-ui, @semiont/api-client, @semiont/react-ui

generate OpenAPI to @semiont/core (vs api-client) and move other types there
  .github/workflows/package-tests.yml
  packages/api-client/package.json
  packages/api-client/src/__tests__/client.test.ts
  packages/api-client/src/client.ts
  packages/api-client/src/index.ts
  packages/api-client/src/sse/index.ts
  packages/api-client/src/utils/annotations.ts
  packages/api-client/src/utils/resources.ts
  packages/core/openapi.json
  packages/core/package.json
  packages/core/src/annotation-types.ts
  packages/core/src/annotation-utils.ts
  packages/core/src/branded-types.ts
  packages/core/src/did-utils.ts
  packages/core/src/event-map.ts
  packages/core/src/event-utils.ts
  packages/core/src/events.ts
  packages/core/src/graph.ts
  packages/core/src/index.ts
  packages/core/src/types.ts
  packages/core/src/uri-utils.ts
  packages/react-ui/src/hooks/useResourceEvents.ts
  packages/react-ui/src/lib/annotation-registry.ts
  scripts/build-packages.js
Due: api-client, core, react-ui, @semiont/core, @semiont/api-client, @semiont/react-ui

update docs for OpenAPI generation change
  packages/api-client/README.md
  packages/core/README.md
  specs/README.md
Due: api-client, core, @semiont/core, @semiont/api-client

update READMEs for core and api-client
  packages/api-client/README.md
  packages/core/README.md
Due: api-client, core, @semiont/core, @semiont/api-client

make eventBus required in SSE options
  packages/api-client/src/sse/index.ts
  packages/api-client/src/sse/types.ts
Due: api-client, @semiont/api-client

fix mcp-server for new sse signature
  packages/mcp-server/src/handlers.ts
Due: mcp-server

automate detection of violations of EventBus and SSE usage guidelines
  scripts/audit-all-compliance.sh
  scripts/compliance/audit-eventbus-sse.ts
Due: none

fix tests
  apps/cli/src/__tests__/cli-validation.test.ts
  apps/cli/src/__tests__/dynamic-environments.test.ts
  packages/react-ui/src/components/resource/panels/__tests__/AssessmentPanel.test.tsx
  packages/react-ui/src/components/resource/panels/__tests__/CommentEntry.test.tsx
  packages/react-ui/src/components/resource/panels/__tests__/CommentsPanel.test.tsx
  packages/react-ui/src/components/resource/panels/__tests__/TaggingPanel.test.tsx
Due: none

fix cli
  apps/cli/src/__tests__/dynamic-environments.test.ts
  apps/cli/src/__tests__/environment-validation.test.ts
  apps/cli/src/__tests__/filesystem-authority.test.ts
  apps/cli/src/core/commands/__tests__/useradd.test.ts
  apps/cli/src/core/commands/useradd.ts
Due: none

fix timer issues in tests
  .github/workflows/package-tests.yml
  packages/react-ui/src/hooks/useAttentionFlow.ts
Due: react-ui, @semiont/react-ui

fix tests
  packages/react-ui/src/components/resource/__tests__/BrowseView.test.tsx
Due: none

fix tests
  packages/react-ui/src/features/resource-viewer/__tests__/AnnotationCreationPending.test.tsx
  packages/react-ui/src/features/resource-viewer/__tests__/AnnotationDeletionIntegration.test.tsx
  packages/react-ui/src/features/resource-viewer/__tests__/DetectionFlowBug.test.tsx
  packages/react-ui/src/features/resource-viewer/__tests__/DetectionFlowIntegration.test.tsx
  packages/react-ui/src/features/resource-viewer/__tests__/DetectionProgressDismissal.test.tsx
  packages/react-ui/src/features/resource-viewer/__tests__/GenerationFlowIntegration.test.tsx
  packages/react-ui/src/features/resource-viewer/__tests__/ResolutionFlowIntegration.test.tsx
  packages/react-ui/src/features/resource-viewer/__tests__/ResourceMutations.test.tsx
  packages/react-ui/src/features/resource-viewer/__tests__/detection-progress-flow.test.tsx
  packages/react-ui/src/lib/__tests__/api-hooks-auth.test.tsx
Due: none

fix tests
  packages/react-ui/src/features/resource-viewer/__tests__/DetectionFlowIntegration.test.tsx
Due: none

fix failing tests
  packages/react-ui/src/features/resource-viewer/__tests__/DetectionFlowIntegration.test.tsx
  packages/react-ui/src/features/resource-viewer/__tests__/GenerationFlowIntegration.test.tsx
  packages/react-ui/src/features/resource-viewer/__tests__/detection-progress-flow.test.tsx
Due: none

fix resetEventBusForTesting
  packages/react-ui/src/contexts/EventBusContext.tsx
Due: react-ui, @semiont/react-ui

fix tests
  packages/react-ui/src/features/resource-viewer/__tests__/DetectionProgressDismissal.test.tsx
  packages/react-ui/src/features/resource-viewer/__tests__/GenerationFlowIntegration.test.tsx
  packages/react-ui/src/features/resource-viewer/__tests__/ResolutionFlowIntegration.test.tsx
Due: none

fix tests
  packages/react-ui/src/features/resource-viewer/__tests__/ResolutionFlowIntegration.test.tsx
  packages/react-ui/src/hooks/__tests__/useAttentionFlow.test.tsx
  packages/react-ui/src/hooks/__tests__/useGenerationFlow.test.ts
Due: none

fix test
  packages/react-ui/src/hooks/__tests__/useAttentionFlow.test.tsx
Due: none

fix tests
  packages/react-ui/src/features/resource-viewer/__tests__/ResolutionFlowIntegration.test.tsx
  packages/react-ui/src/hooks/__tests__/useAttentionFlow.test.tsx
Due: none

fix parse error
  packages/react-ui/src/hooks/__tests__/useAttentionFlow.test.tsx
Due: none

update imports
  packages/mcp-server/src/handlers.ts
  packages/mcp-server/src/index.ts
Due: mcp-server

fix build
  packages/api-client/package.json
Due: api-client, @semiont/api-client

factor make-meaning for direct use by scripts (no http): phases 1-5
  apps/backend/src/__tests__/_test-setup.ts
  apps/backend/src/__tests__/integration/api-endpoints.test.ts
  apps/backend/src/__tests__/integration/incoming-references.test.ts
  apps/backend/src/__tests__/integration/sse-event-flow.test.ts
  apps/backend/src/__tests__/security-controls.test.ts
  apps/backend/src/cli/rebuild-graph.ts
  apps/backend/src/cli/rebuild-projections.ts
  apps/backend/src/config-loader.ts
  apps/backend/src/index.ts
  packages/core/src/__tests__/event-bus-scoping.test.ts
  packages/core/src/config/environment-loader.ts
  packages/core/src/event-bus.ts
  packages/core/src/event-map.ts
  packages/core/src/index.ts
  packages/make-meaning/src/__tests__/detection/entity-extractor-charset.test.ts
  packages/make-meaning/src/__tests__/jobs/assessment-detection-worker.test.ts
  packages/make-meaning/src/__tests__/jobs/comment-detection-worker.test.ts
  packages/make-meaning/src/__tests__/jobs/generation-worker.test.ts
  packages/make-meaning/src/__tests__/jobs/highlight-detection-worker.test.ts
  packages/make-meaning/src/__tests__/jobs/reference-detection-worker-events.test.ts
  packages/make-meaning/src/__tests__/jobs/reference-detection-worker.test.ts
  packages/make-meaning/src/__tests__/jobs/tag-detection-worker.test.ts
  packages/make-meaning/src/jobs/assessment-detection-worker.ts
  packages/make-meaning/src/jobs/comment-detection-worker.ts
  packages/make-meaning/src/jobs/generation-worker.ts
  packages/make-meaning/src/jobs/highlight-detection-worker.ts
  packages/make-meaning/src/jobs/reference-detection-worker.ts
  packages/make-meaning/src/jobs/tag-detection-worker.ts
  packages/make-meaning/src/service.ts
Due: core, make-meaning, backend, @semiont/core, @semiont/make-meaning

factor make-meaning for direct use by scripts (no http): Phases 1-5 event-sourcing
  packages/event-sourcing/src/event-store-factory.ts
  packages/event-sourcing/src/event-store.ts
Due: event-sourcing, @semiont/event-sourcing

factor make-meaning for direct use by scripts (no http): phases 6-8
  apps/backend/src/__tests__/_test-setup.ts
  apps/backend/src/__tests__/auth/auth-integration.test.ts
  apps/backend/src/__tests__/auth/password-auth.test.ts
  apps/backend/src/__tests__/integration/api-endpoints.test.ts
  apps/backend/src/__tests__/integration/incoming-references.test.ts
  apps/backend/src/__tests__/integration/sse-event-flow.test.ts
  apps/backend/src/__tests__/security-controls.test.ts
  apps/backend/src/__tests__/setup.ts
  apps/backend/src/cli/rebuild-graph.ts
  apps/backend/src/cli/rebuild-projections.ts
  apps/backend/src/index.ts
  apps/backend/src/routes/resources/routes/detect-annotations-stream.ts
  apps/backend/src/routes/resources/routes/detect-assessments-stream.ts
  apps/backend/src/routes/resources/routes/detect-comments-stream.ts
  apps/backend/src/routes/resources/routes/detect-highlights-stream.ts
  apps/backend/src/routes/resources/routes/detect-tags-stream.ts
  apps/backend/src/routes/resources/routes/generate-resource-stream.ts
  apps/backend/src/utils/config.ts
  packages/jobs/src/__tests__/job-queue.test.ts
  packages/jobs/src/__tests__/job-worker.test.ts
  packages/jobs/src/job-queue.ts
  packages/make-meaning/src/__tests__/detection/entity-extractor-charset.test.ts
  packages/make-meaning/src/__tests__/jobs/assessment-detection-worker.test.ts
  packages/make-meaning/src/__tests__/jobs/comment-detection-worker.test.ts
  packages/make-meaning/src/__tests__/jobs/generation-worker.test.ts
  packages/make-meaning/src/__tests__/jobs/highlight-detection-worker.test.ts
  packages/make-meaning/src/__tests__/jobs/reference-detection-worker-events.test.ts
  packages/make-meaning/src/__tests__/jobs/reference-detection-worker.test.ts
  packages/make-meaning/src/__tests__/jobs/tag-detection-worker.test.ts
  packages/make-meaning/src/__tests__/scripting-examples/create-resource.test.ts
  packages/make-meaning/src/__tests__/scripting-examples/detect-entities.test.ts
  packages/make-meaning/src/__tests__/scripting-examples/query-graph.test.ts
  packages/make-meaning/src/service.ts
Due: jobs, make-meaning, backend, @semiont/jobs, @semiont/make-meaning

make-meaning tests
  packages/make-meaning/src/__tests__/scripting-examples/create-resource.test.ts
  packages/make-meaning/src/__tests__/scripting-examples/detect-entities.test.ts
  packages/make-meaning/src/__tests__/scripting-examples/query-graph.test.ts
Due: none

remove fs from @semiont/core
  packages/core/src/config/environment-loader.ts
  packages/core/src/event-map.ts
  packages/core/src/index.ts
Due: core, @semiont/core

better variable names
  packages/react-ui/src/hooks/useDetectionFlow.ts
  packages/react-ui/src/hooks/useGenerationFlow.ts
  packages/react-ui/src/hooks/useResourceEvents.ts
Due: react-ui, @semiont/react-ui

use config loader in @semiont/core
  apps/cli/src/core/config-loader.ts
Due: none

document use of make-meaning in scripts
  packages/make-meaning/docs/SCRIPTING.md
Due: make-meaning, @semiont/make-meaning
