Repository The-AI-Alliance/semiont: changes, and which Codecov flags are due for each by the changed paths.
All: api-client, content, core, event-sourcing, graph, inference, jobs, make-meaning, mcp-server, ontology, react-ui, frontend, backend, @semiont/core, @semiont/api-client, @semiont/ontology, @semiont/content, @semiont/event-sourcing, @semiont/graph, @semiont/inference, @semiont/jobs, @semiont/make-meaning, @semiont/react-ui

codecov.yml:

# Codecov configuration for Semiont monorepo
# https://docs.codecov.io/docs/codecovyml-reference

codecov:
  # Require CI to finish before processing coverage
  require_ci_to_pass: true

  # Wait for all coverage reports before commenting
  notify:
    wait_for_ci: true

coverage:
  # Overall project coverage settings
  status:
    # Project-wide coverage status
    project:
      default:
        # Coverage can drop by 1% without failing
        threshold: 1%
        target: 70%  # Target 70% overall coverage

    # Per-PR patch coverage
    patch:
      default:
        # New code should have at least 80% coverage
        target: 80%
        threshold: 5%

  # Round coverage to 2 decimal places
  precision: 2
  round: down

  # Coverage range for color coding
  range: "50...90"

# Component-specific coverage configuration
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 1%
  individual_components:
    # Core packages with higher coverage requirements
    - component_id: core
      name: "@semiont/core"
      paths:
        - packages/core/**
    - component_id: api-client
      name: "@semiont/api-client"
      paths:
        - packages/api-client/**
    - component_id: ontology
      name: "@semiont/ontology"
      paths:
        - packages/ontology/**
    - component_id: content
      name: "@semiont/content"
      paths:
        - packages/content/**
    - component_id: event-sourcing
      name: "@semiont/event-sourcing"
      paths:
        - packages/event-sourcing/**
    - component_id: graph
      name: "@semiont/graph"
      paths:
        - packages/graph/**
    - component_id: inference
      name: "@semiont/inference"
      paths:
        - packages/inference/**
    - component_id: jobs
      name: "@semiont/jobs"
      paths:
        - packages/jobs/**
    - component_id: make-meaning
      name: "@semiont/make-meaning"
      paths:
        - packages/make-meaning/**
    - component_id: react-ui
      name: "@semiont/react-ui"
      paths:
        - packages/react-ui/**

# Ignore certain files from coverage
ignore:
  # Test files
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/*.spec.tsx"
  - "**/test/**"
  - "**/tests/**"
  - "**/__tests__/**"
  - "**/test-utils/**"

  # Build artifacts
  - "**/dist/**"
  - "**/build/**"
  - "**/coverage/**"
  - "**/.next/**"

  # Config files
  - "**/*.config.ts"
  - "**/*.config.js"
  - "**/jest.setup.ts"

  # Generated files
  - "**/generated/**"
  - "packages/api-client/src/types.ts"

  # Examples and demos
  - "**/examples/**"
  - "**/demo/**"

  # Scripts
  - "scripts/**"

# Comment configuration
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Flag configuration for different test suites
flags:
  # Individual package flags
  api-client:
    paths:
      - packages/api-client/**
    carryforward: true

  content:
    paths:
      - packages/content/**
    carryforward: true

  core:
    paths:
      - packages/core/**
    carryforward: true

  event-sourcing:
    paths:
      - packages/event-sourcing/**
    carryforward: true

  graph:
    paths:
      - packages/graph/**
    carryforward: true

  inference:
    paths:
      - packages/inference/**
    carryforward: true

  jobs:
    paths:
      - packages/jobs/**
    carryforward: true

  make-meaning:
    paths:
      - packages/make-meaning/**
    carryforward: true

  mcp-server:
    paths:
      - packages/mcp-server/**
    carryforward: true

  ontology:
    paths:
      - packages/ontology/**
    carryforward: true

  react-ui:
    paths:
      - packages/react-ui/**
    carryforward: true

  # App flags (for future use)
  frontend:
    paths:
      - apps/frontend/**
    carryforward: true

  backend:
    paths:
      - apps/backend/**
    carryforward: true

persist anchors, phase 2c
  apps/backend/src/__tests__/routes/anchored-text-put.test.ts
  apps/backend/src/routes/resources/routes/get-uri.ts
  packages/content/src/anchored-text-store-adapter.ts
  packages/content/src/index.ts
  packages/core/src/transport.ts
  packages/http-transport/src/transport/http-content-transport.ts
  packages/make-meaning/src/__tests__/helpers/smelter-harness.ts
  packages/make-meaning/src/__tests__/smelter.test.ts
  packages/make-meaning/src/local-content-transport.ts
  packages/make-meaning/src/smelter.ts
  packages/react-ui/src/hooks/__tests__/useStateUnit.identity.test.tsx
  packages/sdk/src/__tests__/client-passthroughs.test.ts
  packages/sdk/src/namespaces/__tests__/browse.test.ts
  packages/sdk/src/namespaces/__tests__/cache-semantics.test.ts
  packages/sdk/src/namespaces/__tests__/commands.test.ts
  packages/sdk/src/namespaces/__tests__/ui-signals.test.ts
  packages/sdk/src/testing.ts
  specs/src/paths/anchored-text_{checksum}.json
Due: content, core, make-meaning, backend, @semiont/core, @semiont/content, @semiont/make-meaning

persist anchors, phase 2d
  apps/backend/package.json
  apps/frontend/package.json
  package-lock.json
  packages/content/package.json
  packages/event-sourcing/package.json
  packages/graph/package.json
  packages/http-transport/package.json
  packages/inference/package.json
  packages/jobs/package.json
  packages/jobs/src/__tests__/prepare-detection.cache.test.ts
  packages/jobs/src/__tests__/prepare-detection.test.ts
  packages/jobs/src/__tests__/worker-process.test.ts
  packages/jobs/src/__tests__/worker-runtime.test.ts
  packages/jobs/src/worker-process.ts
  packages/jobs/src/worker-runtime.ts
  packages/jobs/src/workers/detection/prepare-detection.ts
  packages/make-meaning/package.json
  packages/mcp-server/package.json
  packages/observability/package.json
  packages/ontology/package.json
  packages/react-ui/package.json
  packages/sdk/package.json
  packages/vectors/package.json
Due: content, event-sourcing, graph, inference, jobs, make-meaning, mcp-server, ontology, react-ui, frontend, backend, @semiont/ontology, @semiont/content, @semiont/event-sourcing, @semiont/graph, @semiont/inference, @semiont/jobs, @semiont/make-meaning, @semiont/react-ui

fix go drift
  packages/sdk-go/client_gen.go
Due: none

persist anchors, phase 3
  apps/launcher/internal/launcher/clean.go
  apps/launcher/internal/launcher/flows.go
  apps/launcher/internal/launcher/kbconfig.go
  apps/launcher/internal/launcher/rootstate.go
  apps/launcher/internal/launcher/start.go
  apps/launcher/internal/launcher/status.go
  apps/launcher/launcher_test.go
  apps/launcher/testdata/golden/start-default-boot.argv
  apps/launcher/testdata/golden/start-docker-boot.argv
  apps/launcher/testdata/golden/start-dryrun-default.txt
  apps/launcher/testdata/golden/start-dryrun-local.txt
  apps/launcher/testdata/golden/start-host-ollama-boot.argv
  apps/launcher/testdata/golden/start-local-version-boot.argv
  apps/launcher/testdata/golden/start-no-observe-boot.argv
  packages/content/src/anchored-text-store.ts
  packages/core/src/project.ts
  packages/make-meaning/src/knowledge-base.ts
Due: content, core, make-meaning, @semiont/core, @semiont/content, @semiont/make-meaning

fix ci failure
  packages/core/src/__tests__/bus-invariants.test.ts
Due: none

persist anchors, phase 4
  packages/react-ui/src/components/pdf-annotation/PdfAnnotationCanvas.tsx
  packages/react-ui/src/components/pdf-annotation/__tests__/PdfAnnotationCanvas.test.tsx
Due: react-ui, @semiont/react-ui

rm ephemeral references
  apps/launcher/internal/launcher/rootstate.go
  apps/launcher/launcher_test.go
Due: none

address copilot comments and other adjacent issues discovered during remediation
  apps/backend/src/__tests__/routes/anchored-text-put.test.ts
  apps/backend/src/routes/resources/routes/get-uri.ts
  packages/react-ui/src/hooks/__tests__/useMediaToken.test.tsx
  packages/react-ui/src/hooks/useMediaToken.ts
  packages/sdk/docs/DEVELOPER-GUIDE.md
  packages/sdk/src/__tests__/testing-double.test.ts
  packages/sdk/src/testing.ts
Due: react-ui, backend, @semiont/react-ui

address another backend-related copilot comment
  apps/backend/src/__tests__/routes/anchored-text-put.test.ts
  apps/backend/src/routes/resources/routes/get-uri.ts
Due: backend

rm js-yaml
  package.json
Due: none

Consolidate 13 Dependabot updates; retire overrides that are no longer load-bearing (#1154)
  apps/backend/package.json
  apps/frontend/package.json
  package-lock.json
  package.json
  packages/content/package.json
  packages/core/package.json
  packages/event-sourcing/package.json
  packages/graph/package.json
  packages/http-transport/package.json
  packages/inference/package.json
  packages/jobs/package.json
  packages/make-meaning/package.json
  packages/mcp-server/package.json
  packages/observability/package.json
  packages/ontology/package.json
  packages/react-ui/package.json
  packages/sdk/package.json
  packages/vectors/package.json
  tests/e2e/package-lock.json
Due: content, core, event-sourcing, graph, inference, jobs, make-meaning, mcp-server, ontology, react-ui, frontend, backend, @semiont/core, @semiont/ontology, @semiont/content, @semiont/event-sourcing, @semiont/graph, @semiont/inference, @semiont/jobs, @semiont/make-meaning, @semiont/react-ui

document media type capability registry and PDFs use
  docs/development/MEDIA-TYPES.md
  docs/development/README.md
Due: none

pdf generation, phases 1,2,3,5
  packages/content/src/index.ts
  packages/core/src/__tests__/media-types.test.ts
  packages/core/src/index.ts
  packages/core/src/media-types.ts
  packages/jobs/Dockerfile
  packages/jobs/src/__tests__/fixtures/typst/.gitignore
  packages/jobs/src/__tests__/fixtures/typst/README.md
  packages/jobs/src/__tests__/fixtures/typst/bad.typ
  packages/jobs/src/__tests__/fixtures/typst/hard.typ
  packages/jobs/src/__tests__/fixtures/typst/hyph2.typ
  packages/jobs/src/__tests__/fixtures/typst/nohyph.typ
  packages/jobs/src/__tests__/fixtures/typst/plain.typ
  packages/jobs/src/__tests__/processors.test.ts
  packages/jobs/src/__tests__/worker-process.test.ts
  packages/jobs/src/processors.ts
  packages/jobs/src/workers/generation/__tests__/resource-generation.test.ts
  packages/jobs/src/workers/generation/__tests__/typst-compiler.test.ts
  packages/jobs/src/workers/generation/resource-generation.ts
  packages/jobs/src/workers/generation/typst-compiler.ts
Due: content, core, jobs, @semiont/core, @semiont/content, @semiont/jobs

yield PDFs
  packages/core/src/__tests__/pdf-citation-search.test.ts
  packages/core/src/index.ts
  packages/core/src/pdf-anchoring.ts
  packages/core/src/pdf-citation-search.ts
  packages/jobs/Dockerfile
  packages/jobs/NOTICE
  packages/jobs/src/__tests__/processors.test.ts
  packages/jobs/src/__tests__/worker-process.test.ts
  packages/jobs/src/processors.ts
  packages/jobs/src/worker-process.ts
Due: core, jobs, @semiont/core, @semiont/jobs

document PDF yield
  docs/development/MEDIA-TYPES.md
Due: none

address copilot comments
  docs/development/MEDIA-TYPES.md
  packages/jobs/src/__tests__/worker-process.test.ts
  packages/jobs/src/worker-process.ts
Due: jobs, @semiont/jobs

PDF yield: model-authored Typst compiled in the worker, citations anchored to page geometry (PDF-GENERATION P1–P5) (#1155)
  docs/development/MEDIA-TYPES.md
  docs/development/README.md
  packages/content/src/index.ts
  packages/core/src/__tests__/media-types.test.ts
  packages/core/src/__tests__/pdf-citation-search.test.ts
  packages/core/src/index.ts
  packages/core/src/media-types.ts
  packages/core/src/pdf-anchoring.ts
  packages/core/src/pdf-citation-search.ts
  packages/jobs/Dockerfile
  packages/jobs/NOTICE
  packages/jobs/src/__tests__/fixtures/typst/.gitignore
  packages/jobs/src/__tests__/fixtures/typst/README.md
  packages/jobs/src/__tests__/fixtures/typst/bad.typ
  packages/jobs/src/__tests__/fixtures/typst/hard.typ
  packages/jobs/src/__tests__/fixtures/typst/hyph2.typ
  packages/jobs/src/__tests__/fixtures/typst/nohyph.typ
  packages/jobs/src/__tests__/fixtures/typst/plain.typ
  packages/jobs/src/__tests__/processors.test.ts
  packages/jobs/src/__tests__/worker-process.test.ts
  packages/jobs/src/processors.ts
  packages/jobs/src/worker-process.ts
  packages/jobs/src/workers/generation/__tests__/resource-generation.test.ts
  packages/jobs/src/workers/generation/__tests__/typst-compiler.test.ts
  packages/jobs/src/workers/generation/resource-generation.ts
  packages/jobs/src/workers/generation/typst-compiler.ts
Due: content, core, jobs, @semiont/core, @semiont/content, @semiont/jobs

The anchored-text mount stops carrying a KB identifier on both sides
  apps/backend/Dockerfile
  apps/backend/vitest.config.mjs
  apps/launcher/internal/launcher/kbconfig.go
  apps/launcher/internal/launcher/rootstate.go
  apps/launcher/launcher_test.go
  apps/launcher/testdata/golden/start-default-boot.argv
  apps/launcher/testdata/golden/start-docker-boot.argv
  apps/launcher/testdata/golden/start-dryrun-default.txt
  apps/launcher/testdata/golden/start-dryrun-local.txt
  apps/launcher/testdata/golden/start-host-ollama-boot.argv
  apps/launcher/testdata/golden/start-local-version-boot.argv
  apps/launcher/testdata/golden/start-no-observe-boot.argv
  packages/content/vitest.config.ts
  packages/core/src/project.ts
  packages/core/vitest.config.ts
  packages/event-sourcing/vitest.config.ts
  packages/jobs/vitest.config.ts
Due: core, backend, @semiont/core

consistent handling of SemiontProject in backend
  apps/backend/src/__tests__/helpers/make-meaning-mock.ts
  apps/backend/src/__tests__/integration/annotation-crud.test.ts
  apps/backend/src/__tests__/integration/eventstore-channel-routing.test.ts
  apps/backend/src/__tests__/integration/sse-event-flow.test.ts
  apps/backend/src/__tests__/routes/resource-pipe.test.ts
  apps/backend/src/__tests__/routes/resource-raw-mode.test.ts
  apps/backend/src/__tests__/setup.ts
  apps/backend/src/cli/rebuild-projections.ts
  apps/backend/src/index.ts
  apps/backend/src/routes/exchange.ts
  apps/backend/src/routes/status.ts
  apps/backend/vitest.config.mjs
  packages/content/src/__tests__/working-tree-store.test.ts
  packages/content/vitest.config.ts
  packages/core/src/__tests__/project.test.ts
  packages/core/src/project.ts
  packages/core/vitest.config.ts
  packages/event-sourcing/src/__tests__/append-seam-axioms.property.test.ts
  packages/event-sourcing/src/__tests__/event-log.test.ts
  packages/event-sourcing/src/__tests__/event-store-factory.test.ts
  packages/event-sourcing/src/__tests__/event-store.test.ts
  packages/event-sourcing/src/__tests__/query/event-query.test.ts
  packages/event-sourcing/src/__tests__/storage/event-storage.test.ts
  packages/event-sourcing/src/__tests__/storage/view-storage.test.ts
  packages/event-sourcing/src/__tests__/unified-stream-integration.test.ts
  packages/event-sourcing/src/__tests__/view-manager.integration.test.ts
  packages/event-sourcing/src/__tests__/view-materializer.test.ts
  packages/event-sourcing/src/__tests__/views/view-materializer.test.ts
  packages/jobs/src/__tests__/job-queue.test.ts
  packages/make-meaning/src/__tests__/anchored-text-transport.test.ts
  packages/make-meaning/src/__tests__/clone-token-manager.test.ts
  packages/make-meaning/src/__tests__/helpers/test-project.ts
  packages/make-meaning/src/__tests__/local-transport.test.ts
  packages/make-meaning/src/__tests__/scripting-examples/create-resource.test.ts
  packages/make-meaning/src/__tests__/scripting-examples/query-graph.test.ts
  packages/make-meaning/src/__tests__/service.test.ts
  packages/make-meaning/src/__tests__/weaver.test.ts
  packages/make-meaning/src/service.ts
  packages/make-meaning/vitest.config.ts
Due: core, make-meaning, backend, @semiont/core, @semiont/make-meaning

set SEMIONT_ANCHORED_TEXT_DIR for tests
  .github/workflows/security-tests.yml
  apps/launcher/internal/launcher/start.go
Due: none

gate to ensure that Dockerfiles and code agree on mount points
  apps/launcher/internal/launcher/imagepaths_test.go
Due: none

address copilot comments
  apps/backend/Dockerfile
  packages/core/src/project.ts
  packages/event-sourcing/vitest.config.ts
  packages/jobs/vitest.config.ts
Due: core, backend, @semiont/core

set SEMIONT_ANCHORED_TEXT_DIR for integration tests
  apps/backend/src/__tests__/_test-setup.ts
Due: none

clean up test stderr
  apps/backend/src/__tests__/routes/anchored-text-put.test.ts
Due: none

fix(backend-image): retarget brace-expansion patch to 5.0.9, drop stale find-my-way prune
  apps/backend/Dockerfile
Due: backend

sync playwright version in README
  tests/e2e/README.md
Due: none

fix qdrant batch query
  packages/vectors/src/store/__tests__/qdrant-query-api.test.ts
  packages/vectors/src/store/qdrant.ts
Due: none

fix spec 14
  tests/e2e/specs/14-pdf-render.spec.ts
Due: none

Vector search survives qdrant-client 1.19.0: migrate off the removed search API, plus two e2e blind spots (#1157)
  packages/vectors/src/store/__tests__/qdrant-query-api.test.ts
  packages/vectors/src/store/qdrant.ts
  tests/e2e/README.md
  tests/e2e/specs/14-pdf-render.spec.ts
Due: none

bump version to 0.5.26
  apps/backend/package.json
  apps/backend/package.publish.json
  apps/desktop/package.json
  apps/frontend/package.json
  apps/frontend/package.publish.json
  package-lock.json
  package.json
  packages/content/package.json
  packages/core/package.json
  packages/event-sourcing/package.json
  packages/graph/package.json
  packages/http-transport/package.json
  packages/inference/package.json
  packages/jobs/package.json
  packages/make-meaning/package.json
  packages/mcp-server/package.json
  packages/observability/package.json
  packages/ontology/package.json
  packages/react-ui/package.json
  packages/sdk/package.json
  packages/vectors/package.json
  version.json
Due: content, core, event-sourcing, graph, inference, jobs, make-meaning, mcp-server, ontology, react-ui, frontend, backend, @semiont/core, @semiont/ontology, @semiont/content, @semiont/event-sourcing, @semiont/graph, @semiont/inference, @semiont/jobs, @semiont/make-meaning, @semiont/react-ui

patch to address CVE in ip-address@10.2.0
  apps/backend/Dockerfile
Due: backend

pdf continuous scroll, s1
  packages/react-ui/src/components/pdf-annotation/PdfAnnotationCanvas.css
  packages/react-ui/src/components/pdf-annotation/PdfAnnotationCanvas.tsx
  packages/react-ui/src/components/pdf-annotation/__tests__/PdfAnnotationCanvas.test.tsx
  packages/react-ui/src/components/resource/browse-renderers.tsx
Due: react-ui, @semiont/react-ui

pdf continuous scroll, s3
  packages/react-ui/src/components/pdf-annotation/PdfAnnotationCanvas.tsx
  packages/react-ui/src/components/pdf-annotation/__tests__/PdfAnnotationCanvas.test.tsx
  packages/react-ui/src/components/resource/annotate-renderers.tsx
  packages/react-ui/src/components/resource/browse-renderers.tsx
  packages/react-ui/translations/ar.json
  packages/react-ui/translations/bn.json
  packages/react-ui/translations/cs.json
  packages/react-ui/translations/da.json
  packages/react-ui/translations/de.json
  packages/react-ui/translations/el.json
  packages/react-ui/translations/en.json
  packages/react-ui/translations/es.json
  packages/react-ui/translations/fa.json
  packages/react-ui/translations/fi.json
  packages/react-ui/translations/fr.json
  packages/react-ui/translations/he.json
  packages/react-ui/translations/hi.json
  packages/react-ui/translations/id.json
  packages/react-ui/translations/it.json
  packages/react-ui/translations/ja.json
  packages/react-ui/translations/ko.json
  packages/react-ui/translations/ms.json
  packages/react-ui/translations/nl.json
  packages/react-ui/translations/no.json
  packages/react-ui/translations/pl.json
  packages/react-ui/translations/pt.json
  packages/react-ui/translations/ro.json
  packages/react-ui/translations/sv.json
  packages/react-ui/translations/th.json
  packages/react-ui/translations/tr.json
  packages/react-ui/translations/uk.json
  packages/react-ui/translations/vi.json
  packages/react-ui/translations/zh.json
Due: react-ui, @semiont/react-ui

fix css drift and add gates
  .github/workflows/architecture-compliance.yml
  package.json
  packages/react-ui/src/components/StatusDisplay.css
  packages/react-ui/src/components/annotation/annotations.css
  packages/react-ui/src/components/modals/SearchModal.css
  packages/react-ui/src/components/pdf-annotation/PdfAnnotationCanvas.css
  packages/react-ui/src/features/auth/auth.css
  packages/react-ui/src/styles/features/resource-viewer.css
  packages/react-ui/src/styles/features/static-pages.css
  packages/react-ui/src/styles/motivations/motivation-comment.css
  packages/react-ui/src/styles/utilities/motion.css
  packages/react-ui/src/styles/variables.css
  scripts/lint/check-css-variables-defined.js
Due: react-ui, @semiont/react-ui

fix pdf scroll bar; pdf annotate mode now scrolls
  packages/react-ui/src/components/pdf-annotation/PdfAnnotationCanvas.tsx
  packages/react-ui/src/components/pdf-annotation/__tests__/PdfAnnotationCanvas.test.tsx
  packages/react-ui/src/components/pdf-annotation/__tests__/estimate-slot-height.test.ts
  packages/react-ui/src/components/pdf-annotation/estimate-slot-height.ts
  packages/react-ui/src/components/resource/__tests__/browse-renderers.dispatch.test.tsx
  packages/react-ui/src/components/resource/annotate-renderers.tsx
Due: react-ui, @semiont/react-ui

scrollable pdf page strip; arrow keys scroll pdf
  packages/react-ui/src/components/pdf-annotation/PdfAnnotationCanvas.css
  packages/react-ui/src/components/pdf-annotation/PdfAnnotationCanvas.tsx
  packages/react-ui/src/components/pdf-annotation/__tests__/PdfAnnotationCanvas.test.tsx
Due: react-ui, @semiont/react-ui

fix border movement when arrow key pressed in page strip
  packages/react-ui/src/components/pdf-annotation/PdfAnnotationCanvas.tsx
  packages/react-ui/src/components/pdf-annotation/__tests__/PdfAnnotationCanvas.test.tsx
Due: react-ui, @semiont/react-ui

pdf page strip aside scroll bar
  packages/react-ui/src/components/pdf-annotation/PdfAnnotationCanvas.css
  packages/react-ui/src/components/pdf-annotation/PdfAnnotationCanvas.tsx
  packages/react-ui/src/components/pdf-annotation/__tests__/PdfAnnotationCanvas.test.tsx
Due: react-ui, @semiont/react-ui
