Repository The-AI-Alliance/semiont: changes, and which Codecov flags are due for each by the changed paths.
All: api-client, content, core, event-sourcing, graph, inference, jobs, make-meaning, mcp-server, ontology, react-ui, frontend, backend, @semiont/core, @semiont/api-client, @semiont/ontology, @semiont/content, @semiont/event-sourcing, @semiont/graph, @semiont/inference, @semiont/jobs, @semiont/make-meaning, @semiont/react-ui

codecov.yml:

# Codecov configuration for Semiont monorepo
# https://docs.codecov.io/docs/codecovyml-reference

codecov:
  # Require CI to finish before processing coverage
  require_ci_to_pass: true

  # Wait for all coverage reports before commenting
  notify:
    wait_for_ci: true

coverage:
  # Overall project coverage settings
  status:
    # Project-wide coverage status
    project:
      default:
        # Coverage can drop by 1% without failing
        threshold: 1%
        target: 70%  # Target 70% overall coverage

    # Per-PR patch coverage
    patch:
      default:
        # New code should have at least 80% coverage
        target: 80%
        threshold: 5%

  # Round coverage to 2 decimal places
  precision: 2
  round: down

  # Coverage range for color coding
  range: "50...90"

# Component-specific coverage configuration
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 1%
  individual_components:
    # Core packages with higher coverage requirements
    - component_id: core
      name: "@semiont/core"
      paths:
        - packages/core/**
    - component_id: api-client
      name: "@semiont/api-client"
      paths:
        - packages/api-client/**
    - component_id: ontology
      name: "@semiont/ontology"
      paths:
        - packages/ontology/**
    - component_id: content
      name: "@semiont/content"
      paths:
        - packages/content/**
    - component_id: event-sourcing
      name: "@semiont/event-sourcing"
      paths:
        - packages/event-sourcing/**
    - component_id: graph
      name: "@semiont/graph"
      paths:
        - packages/graph/**
    - component_id: inference
      name: "@semiont/inference"
      paths:
        - packages/inference/**
    - component_id: jobs
      name: "@semiont/jobs"
      paths:
        - packages/jobs/**
    - component_id: make-meaning
      name: "@semiont/make-meaning"
      paths:
        - packages/make-meaning/**
    - component_id: react-ui
      name: "@semiont/react-ui"
      paths:
        - packages/react-ui/**

# Ignore certain files from coverage
ignore:
  # Test files
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/*.spec.tsx"
  - "**/test/**"
  - "**/tests/**"
  - "**/__tests__/**"
  - "**/test-utils/**"

  # Build artifacts
  - "**/dist/**"
  - "**/build/**"
  - "**/coverage/**"
  - "**/.next/**"

  # Config files
  - "**/*.config.ts"
  - "**/*.config.js"
  - "**/jest.setup.ts"

  # Generated files
  - "**/generated/**"
  - "packages/api-client/src/types.ts"

  # Examples and demos
  - "**/examples/**"
  - "**/demo/**"

  # Scripts
  - "scripts/**"

# Comment configuration
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Flag configuration for different test suites
flags:
  # Individual package flags
  api-client:
    paths:
      - packages/api-client/**
    carryforward: true

  content:
    paths:
      - packages/content/**
    carryforward: true

  core:
    paths:
      - packages/core/**
    carryforward: true

  event-sourcing:
    paths:
      - packages/event-sourcing/**
    carryforward: true

  graph:
    paths:
      - packages/graph/**
    carryforward: true

  inference:
    paths:
      - packages/inference/**
    carryforward: true

  jobs:
    paths:
      - packages/jobs/**
    carryforward: true

  make-meaning:
    paths:
      - packages/make-meaning/**
    carryforward: true

  mcp-server:
    paths:
      - packages/mcp-server/**
    carryforward: true

  ontology:
    paths:
      - packages/ontology/**
    carryforward: true

  react-ui:
    paths:
      - packages/react-ui/**
    carryforward: true

  # App flags (for future use)
  frontend:
    paths:
      - apps/frontend/**
    carryforward: true

  backend:
    paths:
      - apps/backend/**
    carryforward: true

split tests
  .github/workflows/accessibility-tests.yml
  .github/workflows/package-tests.yml
  packages/react-ui/package.json
Due: react-ui, @semiont/react-ui

split tests
  packages/react-ui/package.json
Due: react-ui, @semiont/react-ui

follow redirects for frontend health check
  apps/cli/src/platforms/posix/handlers/frontend-check.ts
Due: none

envoy handlers (posix platform)
  apps/cli/src/core/service-types.ts
  apps/cli/src/platforms/container/handlers/index.ts
  apps/cli/src/platforms/container/handlers/proxy-check.ts
  apps/cli/src/platforms/container/handlers/proxy-paths.ts
  apps/cli/src/platforms/container/handlers/proxy-provision.ts
  apps/cli/src/platforms/container/handlers/proxy-start.ts
  apps/cli/src/platforms/container/handlers/proxy-stop.ts
  apps/cli/src/platforms/container/platform.ts
  apps/cli/src/services/proxy-service.ts
  apps/cli/src/services/service-factory.ts
  packages/core/src/config/config.schema.json
  packages/core/src/config/config.types.ts
  packages/core/src/index.ts
Due: core, @semiont/core

css linting
  packages/react-ui/src/examples/button-css-modules.module.css
  packages/react-ui/src/hooks/useTheme.ts
  packages/react-ui/src/styles/base/reset.css
  packages/react-ui/src/styles/base/utilities.css
  packages/react-ui/src/styles/components/annotations.css
  packages/react-ui/src/styles/components/auth.css
  packages/react-ui/src/styles/components/branding.css
  packages/react-ui/src/styles/components/buttons.css
  packages/react-ui/src/styles/components/cards.css
  packages/react-ui/src/styles/components/forms.css
  packages/react-ui/src/styles/components/modals.css
  packages/react-ui/src/styles/components/panels.css
  packages/react-ui/src/styles/components/references.css
  packages/react-ui/src/styles/components/sidebar-navigation.css
  packages/react-ui/src/styles/components/skip-links.css
  packages/react-ui/src/styles/components/status-display.css
  packages/react-ui/src/styles/components/tables.css
  packages/react-ui/src/styles/components/toolbar.css
  packages/react-ui/src/styles/features/admin.css
  packages/react-ui/src/styles/features/compose.css
  packages/react-ui/src/styles/features/devops.css
  packages/react-ui/src/styles/features/entity-tags.css
  packages/react-ui/src/styles/features/recent-docs.css
  packages/react-ui/src/styles/features/resource-discovery.css
  packages/react-ui/src/styles/features/resource-viewer.css
  packages/react-ui/src/styles/features/resource.css
  packages/react-ui/src/styles/features/schemas.css
  packages/react-ui/src/styles/features/welcome.css
  packages/react-ui/src/styles/index.css
  packages/react-ui/src/styles/layout/layout.css
  packages/react-ui/src/styles/patterns/errors.css
  packages/react-ui/src/styles/patterns/loading.css
  packages/react-ui/src/styles/theme-light-fixes.css
  packages/react-ui/src/styles/variables.css
  scripts/stylelint-plugin-theme-selectors.js
Due: react-ui, @semiont/react-ui

rm cruft
  packages/react-ui/src/styles/theme-light-fixes.css
Due: react-ui, @semiont/react-ui

fix themes
  packages/react-ui/src/styles/components/annotations.css
  packages/react-ui/src/styles/components/auth.css
  packages/react-ui/src/styles/components/buttons.css
  packages/react-ui/src/styles/components/panels.css
  packages/react-ui/src/styles/components/references.css
  packages/react-ui/src/styles/components/sidebar-navigation.css
  packages/react-ui/src/styles/components/status-display.css
  packages/react-ui/src/styles/components/tables.css
  packages/react-ui/src/styles/components/toolbar.css
  packages/react-ui/src/styles/features/admin.css
  packages/react-ui/src/styles/features/compose.css
  packages/react-ui/src/styles/features/devops.css
  packages/react-ui/src/styles/features/entity-tags.css
  packages/react-ui/src/styles/features/resource-discovery.css
  packages/react-ui/src/styles/features/resource-viewer.css
  packages/react-ui/src/styles/features/resource.css
  packages/react-ui/src/styles/features/schemas.css
  packages/react-ui/src/styles/index.css
  packages/react-ui/src/styles/variables.css
Due: react-ui, @semiont/react-ui

envoy templates
  apps/cli/templates/environments/local.json
  apps/cli/templates/envoy.yaml
Due: none

rgb fix
  apps/frontend/src/app/globals.css
Due: frontend

fix New Resource layout
  packages/react-ui/src/styles/features/resource-viewer.css
Due: react-ui, @semiont/react-ui

fix New Resource layout
  packages/react-ui/src/styles/features/compose.css
  packages/react-ui/src/styles/features/resource-viewer.css
Due: react-ui, @semiont/react-ui

fix theme
  apps/frontend/src/app/[locale]/know/layout.tsx
  apps/frontend/src/app/globals.css
  packages/react-ui/src/styles/features/resource-viewer.css
Due: react-ui, frontend, @semiont/react-ui

fix theme styling
  packages/react-ui/src/styles/components/buttons.css
  packages/react-ui/src/styles/components/sidebar-navigation.css
  packages/react-ui/src/styles/components/status-display.css
  packages/react-ui/src/styles/features/resource.css
Due: react-ui, @semiont/react-ui

panel styles
  apps/frontend/src/components/SettingsPanel.tsx
  apps/frontend/src/components/UserMenu.tsx
  apps/frontend/src/components/UserPanel.tsx
  apps/frontend/src/components/knowledge/KnowledgeNavigation.tsx
  apps/frontend/src/components/moderation/ModerationNavigation.tsx
  packages/react-ui/src/components/resource/panels/DetectSection.tsx
  packages/react-ui/src/components/resource/panels/ReferenceEntry.tsx
  packages/react-ui/src/components/resource/panels/ResourceInfoPanel.tsx
  packages/react-ui/src/components/resource/panels/TaggingPanel.tsx
  packages/react-ui/src/styles/components/annotation-entries.css
  packages/react-ui/src/styles/components/forms.css
  packages/react-ui/src/styles/components/panels.css
  packages/react-ui/src/styles/index.css
Due: react-ui, frontend, @semiont/react-ui

css linting includes semiont style/css invariants
  packages/react-ui/src/styles/components/annotations.css
  packages/react-ui/src/styles/features/admin.css
  packages/react-ui/src/styles/features/compose.css
  packages/react-ui/src/styles/features/resource.css
  packages/react-ui/src/styles/layout/layout.css
  scripts/check-css-invariants.sh
  scripts/stylelint-plugin-semiont-invariants.js
Due: react-ui, @semiont/react-ui

fix css errors and warnings
  packages/react-ui/src/styles/components/annotation-entries.css
  packages/react-ui/src/styles/components/buttons.css
  packages/react-ui/src/styles/features/resource-discovery.css
  packages/react-ui/src/styles/features/resource-viewer.css
Due: react-ui, @semiont/react-ui

fix all css errors and warnings
  packages/react-ui/src/styles/components/auth.css
  packages/react-ui/src/styles/components/cards.css
  packages/react-ui/src/styles/components/forms.css
  packages/react-ui/src/styles/components/modals.css
  packages/react-ui/src/styles/components/panels.css
  packages/react-ui/src/styles/components/references.css
Due: react-ui, @semiont/react-ui

add .stylelintrc.json
  .stylelintrc.json
Due: none

stricter css rules
  .stylelintrc.json
Due: none

detect anccessibility errors and warnings
  .stylelintrc.json
  packages/react-ui/src/styles/components/annotation-entries.css
  packages/react-ui/src/styles/components/buttons.css
  packages/react-ui/src/styles/components/forms.css
  packages/react-ui/src/styles/components/modals.css
  packages/react-ui/src/styles/components/references.css
  packages/react-ui/src/styles/components/sidebar-navigation.css
  packages/react-ui/src/styles/components/tables.css
  packages/react-ui/src/styles/features/resource-discovery.css
  packages/react-ui/src/styles/features/resource-viewer.css
  packages/react-ui/src/styles/features/welcome.css
  packages/react-ui/src/styles/index.css
  packages/react-ui/src/styles/utilities/focus.css
  scripts/stylelint-plugin-accessibility.js
  scripts/stylelint-plugin-theme-selectors.js
Due: react-ui, @semiont/react-ui

keyboard nav and focus
  packages/react-ui/src/styles/components/annotation-entries.css
  packages/react-ui/src/styles/components/references.css
  packages/react-ui/src/styles/features/compose.css
  packages/react-ui/src/styles/features/resource.css
  packages/react-ui/src/styles/index.css
  packages/react-ui/src/styles/layout/layout.css
  packages/react-ui/src/styles/utilities/focus-extended.css
  scripts/stylelint-plugin-accessibility.js
Due: react-ui, @semiont/react-ui

motion sensitivity
  apps/frontend/src/app/globals.css
  apps/frontend/src/styles/animations.css
  packages/react-ui/src/examples/button-css-modules.module.css
  packages/react-ui/src/styles/index.css
  packages/react-ui/src/styles/utilities/motion-overrides.css
  packages/react-ui/src/styles/utilities/motion.css
  scripts/stylelint-plugin-accessibility.js
Due: react-ui, frontend, @semiont/react-ui

Touch Targets & Color Contrast
  packages/react-ui/src/styles/index.css
  packages/react-ui/src/styles/utilities/contrast.css
  scripts/stylelint-plugin-accessibility.js
Due: react-ui, @semiont/react-ui

fix color errors
  packages/react-ui/src/styles/utilities/contrast.css
Due: react-ui, @semiont/react-ui

down to two accessibility warnings
  packages/react-ui/src/styles/index.css
  packages/react-ui/src/styles/utilities/contrast.css
  packages/react-ui/src/styles/utilities/focus.css
  packages/react-ui/src/styles/utilities/semantic-indicators.css
  scripts/stylelint-plugin-accessibility.js
Due: react-ui, @semiont/react-ui

css source maps
  packages/react-ui/docs/CSS-SOURCE-MAPS.md
  packages/react-ui/postcss.config.js
  scripts/build-css-with-sourcemaps.js
Due: react-ui, @semiont/react-ui

static page styling
  apps/frontend/src/app/[locale]/about/page.tsx
  apps/frontend/src/app/[locale]/privacy/page.tsx
  apps/frontend/src/app/[locale]/terms/page.tsx
  packages/react-ui/src/styles/features/static-pages.css
  packages/react-ui/src/styles/index.css
Due: react-ui, frontend, @semiont/react-ui

static page layout
  packages/react-ui/src/components/layout/PageLayout.tsx
  packages/react-ui/src/styles/features/static-pages.css
Due: react-ui, @semiont/react-ui

consistent header in left nav sidebar
  packages/react-ui/src/components/navigation/CollapsibleResourceNavigation.tsx
  packages/react-ui/src/styles/components/sidebar-navigation.css
  packages/react-ui/src/styles/features/static-pages.css
Due: react-ui, @semiont/react-ui

sidebar logo styling
  packages/react-ui/src/styles/layout/layout.css
Due: react-ui, @semiont/react-ui

left sidebar logo
  packages/react-ui/src/styles/layout/layout.css
Due: react-ui, @semiont/react-ui

left nav elements should maintain vertical position whether collapsed or not
  packages/react-ui/src/components/navigation/CollapsibleResourceNavigation.tsx
  packages/react-ui/src/styles/components/branding.css
  packages/react-ui/src/styles/components/collapsible-resource-navigation.css
  packages/react-ui/src/styles/index.css
  packages/react-ui/src/styles/layout/layout.css
Due: react-ui, @semiont/react-ui

cookie preferance dismissal
  apps/frontend/src/components/CookiePreferences.tsx
Due: frontend

theme initializer
  apps/frontend/src/app/providers.tsx
  apps/frontend/src/components/ThemeInitializer.tsx
  packages/react-ui/src/lib/button-styles.ts
  packages/react-ui/src/styles/components/buttons.css
Due: react-ui, frontend, @semiont/react-ui

fix 'system' theme handling
  apps/frontend/src/app/[locale]/know/compose/page.tsx
  apps/frontend/src/app/[locale]/know/discover/page.tsx
Due: frontend

light favicon
  packages/react-ui/public/favicons/favicon.svg
Due: react-ui, @semiont/react-ui

fix signin form timing
  apps/frontend/src/app/[locale]/auth/signin/page.tsx
  packages/react-ui/src/features/auth/components/SignInForm.tsx
Due: react-ui, frontend, @semiont/react-ui

button consistency
  apps/frontend/src/app/[locale]/about/page.tsx
  apps/frontend/src/app/[locale]/auth/signup/page.tsx
  packages/react-ui/src/features/auth/components/SignUpForm.tsx
Due: react-ui, frontend, @semiont/react-ui

button style consistency
  packages/react-ui/src/styles/features/resource-discovery.css
  packages/react-ui/src/styles/features/resource.css
  packages/react-ui/src/styles/variables.css
Due: react-ui, @semiont/react-ui

centralize color definitions in the variables file
  packages/react-ui/src/styles/components/annotation-entries.css
  packages/react-ui/src/styles/components/buttons.css
  packages/react-ui/src/styles/features/resource-discovery.css
  packages/react-ui/src/styles/features/resource.css
  packages/react-ui/src/styles/variables.css
Due: react-ui, @semiont/react-ui
