Repository The-AI-Alliance/semiont: changes, and which Codecov flags are due for each by the changed paths.
All: api-client, content, core, event-sourcing, graph, inference, jobs, make-meaning, mcp-server, ontology, react-ui, frontend, backend, @semiont/core, @semiont/api-client, @semiont/ontology, @semiont/content, @semiont/event-sourcing, @semiont/graph, @semiont/inference, @semiont/jobs, @semiont/make-meaning, @semiont/react-ui

codecov.yml:

# Codecov configuration for Semiont monorepo
# https://docs.codecov.io/docs/codecovyml-reference

codecov:
  # Require CI to finish before processing coverage
  require_ci_to_pass: true

  # Wait for all coverage reports before commenting
  notify:
    wait_for_ci: true

coverage:
  # Overall project coverage settings
  status:
    # Project-wide coverage status
    project:
      default:
        # Coverage can drop by 1% without failing
        threshold: 1%
        target: 70%  # Target 70% overall coverage

    # Per-PR patch coverage
    patch:
      default:
        # New code should have at least 80% coverage
        target: 80%
        threshold: 5%

  # Round coverage to 2 decimal places
  precision: 2
  round: down

  # Coverage range for color coding
  range: "50...90"

# Component-specific coverage configuration
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 1%
  individual_components:
    # Core packages with higher coverage requirements
    - component_id: core
      name: "@semiont/core"
      paths:
        - packages/core/**
    - component_id: api-client
      name: "@semiont/api-client"
      paths:
        - packages/api-client/**
    - component_id: ontology
      name: "@semiont/ontology"
      paths:
        - packages/ontology/**
    - component_id: content
      name: "@semiont/content"
      paths:
        - packages/content/**
    - component_id: event-sourcing
      name: "@semiont/event-sourcing"
      paths:
        - packages/event-sourcing/**
    - component_id: graph
      name: "@semiont/graph"
      paths:
        - packages/graph/**
    - component_id: inference
      name: "@semiont/inference"
      paths:
        - packages/inference/**
    - component_id: jobs
      name: "@semiont/jobs"
      paths:
        - packages/jobs/**
    - component_id: make-meaning
      name: "@semiont/make-meaning"
      paths:
        - packages/make-meaning/**
    - component_id: react-ui
      name: "@semiont/react-ui"
      paths:
        - packages/react-ui/**

# Ignore certain files from coverage
ignore:
  # Test files
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/*.spec.tsx"
  - "**/test/**"
  - "**/tests/**"
  - "**/__tests__/**"
  - "**/test-utils/**"

  # Build artifacts
  - "**/dist/**"
  - "**/build/**"
  - "**/coverage/**"
  - "**/.next/**"

  # Config files
  - "**/*.config.ts"
  - "**/*.config.js"
  - "**/jest.setup.ts"

  # Generated files
  - "**/generated/**"
  - "packages/api-client/src/types.ts"

  # Examples and demos
  - "**/examples/**"
  - "**/demo/**"

  # Scripts
  - "scripts/**"

# Comment configuration
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Flag configuration for different test suites
flags:
  # Individual package flags
  api-client:
    paths:
      - packages/api-client/**
    carryforward: true

  content:
    paths:
      - packages/content/**
    carryforward: true

  core:
    paths:
      - packages/core/**
    carryforward: true

  event-sourcing:
    paths:
      - packages/event-sourcing/**
    carryforward: true

  graph:
    paths:
      - packages/graph/**
    carryforward: true

  inference:
    paths:
      - packages/inference/**
    carryforward: true

  jobs:
    paths:
      - packages/jobs/**
    carryforward: true

  make-meaning:
    paths:
      - packages/make-meaning/**
    carryforward: true

  mcp-server:
    paths:
      - packages/mcp-server/**
    carryforward: true

  ontology:
    paths:
      - packages/ontology/**
    carryforward: true

  react-ui:
    paths:
      - packages/react-ui/**
    carryforward: true

  # App flags (for future use)
  frontend:
    paths:
      - apps/frontend/**
    carryforward: true

  backend:
    paths:
      - apps/backend/**
    carryforward: true

bump version to 0.5.9
  apps/backend/package.json
  apps/backend/package.publish.json
  apps/cli/package.json
  apps/desktop/package.json
  apps/frontend/package.json
  apps/frontend/package.publish.json
  package-lock.json
  package.json
  packages/content/package.json
  packages/core/package.json
  packages/event-sourcing/package.json
  packages/graph/package.json
  packages/http-transport/package.json
  packages/inference/package.json
  packages/jobs/package.json
  packages/make-meaning/package.json
  packages/mcp-server/package.json
  packages/observability/package.json
  packages/ontology/package.json
  packages/react-ui/package.json
  packages/sdk/package.json
  packages/test-utils/package.json
  packages/vectors/package.json
  version.json
Due: content, core, event-sourcing, graph, inference, jobs, make-meaning, mcp-server, ontology, react-ui, frontend, backend, @semiont/core, @semiont/ontology, @semiont/content, @semiont/event-sourcing, @semiont/graph, @semiont/inference, @semiont/jobs, @semiont/make-meaning, @semiont/react-ui

entity-extraction-silent-drop Phase 1
  packages/inference/README.md
  packages/inference/docs/API.md
  packages/inference/src/__tests__/anthropic.test.ts
  packages/inference/src/implementations/anthropic.ts
  packages/inference/src/interface.ts
Due: inference, @semiont/inference

entity-extraction-silent-drop Phase 2
  packages/jobs/src/__tests__/workers/annotation-detection.test.ts
  packages/jobs/src/__tests__/workers/detection/entity-extractor.test.ts
  packages/jobs/src/__tests__/workers/detection/motivation-parsers.test.ts
  packages/jobs/src/workers/annotation-detection.ts
  packages/jobs/src/workers/detection/entity-extractor.ts
  packages/jobs/src/workers/detection/motivation-parsers.ts
Due: jobs, @semiont/jobs

add assertions for #889, fixing silent 'mark' drops
  tests/e2e/specs/06-assisted-reference.spec.ts
Due: none

entity extraction silent drop (#889)
  packages/inference/README.md
  packages/inference/docs/API.md
  packages/inference/src/__tests__/anthropic.test.ts
  packages/inference/src/implementations/anthropic.ts
  packages/inference/src/interface.ts
  packages/jobs/src/__tests__/workers/annotation-detection.test.ts
  packages/jobs/src/__tests__/workers/detection/entity-extractor.test.ts
  packages/jobs/src/__tests__/workers/detection/motivation-parsers.test.ts
  packages/jobs/src/workers/annotation-detection.ts
  packages/jobs/src/workers/detection/entity-extractor.ts
  packages/jobs/src/workers/detection/motivation-parsers.ts
  tests/e2e/specs/06-assisted-reference.spec.ts
Due: inference, jobs, @semiont/inference, @semiont/jobs

auth token, phase 2
  apps/backend/prisma/migrations/20260619120000_add_token_version/migration.sql
  apps/backend/prisma/schema.prisma
  apps/backend/src/__tests__/api/admin-endpoints.test.ts
  apps/backend/src/__tests__/auth/agent-auth.test.ts
  apps/backend/src/__tests__/auth/auth-integration.test.ts
  apps/backend/src/__tests__/auth/jwt.test.ts
  apps/backend/src/__tests__/auth/mcp-auth-security.test.ts
  apps/backend/src/__tests__/auth/oauth.test.ts
  apps/backend/src/__tests__/auth/password-auth.test.ts
  apps/backend/src/__tests__/auth/token-revocation.test.ts
  apps/backend/src/__tests__/integration/api-endpoints.test.ts
  apps/backend/src/__tests__/integration/contract-tests.test.ts
  apps/backend/src/__tests__/integration/database.test.ts
  apps/backend/src/__tests__/middleware/auth.test.ts
  apps/backend/src/auth/oauth.ts
  apps/backend/src/routes/auth.ts
  apps/backend/src/types/jwt-types.ts
  packages/core/src/transport.ts
  packages/http-transport/src/transport/__tests__/http-transport.http-paths.test.ts
  packages/http-transport/src/transport/http-transport.ts
  packages/sdk/src/__tests__/client-passthroughs.test.ts
  packages/sdk/src/namespaces/__tests__/commands.test.ts
  packages/sdk/src/namespaces/__tests__/ui-signals.test.ts
  packages/sdk/src/namespaces/auth.ts
  packages/sdk/src/namespaces/types.ts
  packages/sdk/src/session/__tests__/semiont-session.test.ts
  specs/src/components/schemas/MCPGenerateResponse.json
  specs/src/openapi.json
  specs/src/paths/api_tokens_mcp-generate.json
  specs/src/paths/api_tokens_mcp-setup.json
  specs/src/paths/api_users_logout.json
  tests/e2e/specs/14-pdf-render.spec.ts
Due: core, backend, @semiont/core

auth token, phase 3
  apps/backend/src/__tests__/auth/auth-integration.test.ts
  apps/backend/src/__tests__/auth/bearer-only.test.ts
  apps/backend/src/middleware/auth.ts
  apps/backend/src/routes/auth.ts
  apps/backend/src/routes/resources/routes/get-uri.ts
Due: backend

auth token, phase 4
  apps/backend/src/__tests__/security-controls.test.ts
  apps/backend/src/index.ts
  packages/http-transport/src/transport/http-transport.ts
Due: backend

auth token, phase 5
  apps/backend/src/__tests__/_test-setup.ts
  apps/backend/src/__tests__/setup.ts
  apps/cli/src/__tests__/cli-validation.test.ts
  apps/cli/src/__tests__/dynamic-environments.test.ts
  apps/cli/src/__tests__/environment-validation.test.ts
  apps/cli/src/__tests__/filesystem-authority.test.ts
  packages/core/src/__tests__/config/toml-loader.test.ts
  packages/core/src/config/config.schema.json
  packages/core/src/config/toml-loader.ts
Due: core, @semiont/core

fix apps/*/package.json
  apps/backend/package.json
  apps/cli/package.json
  apps/frontend/package.json
  package-lock.json
Due: frontend, backend

auth token, phase 6
  apps/backend/src/__tests__/auth/diagnosability.test.ts
  apps/backend/src/index.ts
  apps/backend/src/middleware/auth.ts
  apps/backend/src/routes/resources/routes/get-uri.ts
Due: backend

fix token ttl tests
  apps/backend/src/__tests__/auth/jwt.test.ts
  apps/backend/src/__tests__/auth/oauth.test.ts
  apps/backend/src/__tests__/auth/password-auth.test.ts
Due: none

fix middleware auth tests
  apps/backend/src/__tests__/middleware/auth.test.ts
Due: none

npm install --include=optional -> npm ci
  .github/workflows/accessibility-tests.yml
  .github/workflows/architecture-compliance.yml
  .github/workflows/ci.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/package-tests.yml
  .github/workflows/security-tests.yml
  docs/development/RELEASE.md
Due: none

npm install --include=optional -> npm ci (#892)
  .github/workflows/accessibility-tests.yml
  .github/workflows/architecture-compliance.yml
  .github/workflows/ci.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/package-tests.yml
  .github/workflows/security-tests.yml
  docs/development/RELEASE.md
Due: none

deps: bump @redocly/cli to ^2.34.0 + regen lockfile to patch undici CVEs (#100–#111)
  package-lock.json
  package.json
Due: none

styled-components build fix
  package-lock.json
  packages/react-ui/package.json
Due: react-ui, @semiont/react-ui

deps: bump @redocly/cli to ^2.34.0 + regen lockfile to patch undici C… (#893)
  package-lock.json
  package.json
  packages/react-ui/package.json
Due: react-ui, @semiont/react-ui

deps(tauri): cargo update to clear rand RUSTSEC alert (#85)
  apps/desktop/src-tauri/Cargo.lock
Due: none

deps(tauri): cargo update to clear rand RUSTSEC alert (#85) (#894)
  apps/desktop/src-tauri/Cargo.lock
Due: none

auth docs, phases 1,2,3,5,8
  apps/backend/README.md
  apps/backend/docs/AUTHENTICATION.md
  apps/backend/src/routes/auth.ts
  apps/cli/docs/ADDING_ENVIRONMENTS.md
  apps/cli/docs/ARCHITECTURE.md
  apps/frontend/docs/API-INTEGRATION.md
  apps/frontend/docs/ARCHITECTURE.md
  apps/frontend/docs/AUTHORIZATION.md
  apps/frontend/docs/COMPONENT-LIBRARY.md
  apps/frontend/docs/DEVELOPMENT.md
  apps/frontend/docs/RESOURCE-PROXY.md
  apps/frontend/docs/TESTING.md
  docs/protocol/RBAC.md
  docs/protocol/TRANSPORT-CONTRACT.md
  docs/system/administration/AUTHENTICATION.md
  docs/system/administration/CONFIGURATION.md
  docs/system/administration/IMAGES.md
  docs/system/administration/SECURITY.md
  docs/system/administration/TROUBLESHOOTING.md
  docs/system/platforms/AWS.md
  docs/system/services/OVERVIEW.md
  docs/system/services/SECRETS.md
  packages/http-transport/docs/MEDIA-TOKENS.md
  tests/e2e/README.md
Due: frontend, backend

auth docs, phases 4,6
  apps/frontend/docs/ARCHITECTURE.md
  apps/frontend/docs/AUTHORIZATION.md
  apps/frontend/docs/DEVELOPMENT.md
  apps/frontend/docs/MEDIA-ACCESS.md
  apps/frontend/docs/TESTING.md
  packages/react-ui/docs/ARCHITECTURE.md
  packages/react-ui/docs/SESSION.md
  packages/sdk/src/session/semiont-browser.ts
Due: react-ui, frontend, @semiont/react-ui

update/rewrite frontend docs
  apps/frontend/docs/ARCHITECTURE.md
  apps/frontend/docs/ARCHIVE-CLONE.md
  apps/frontend/docs/AUTHENTICATION.md
  apps/frontend/docs/AUTHORIZATION.md
  apps/frontend/docs/FUTURE.md
  apps/frontend/docs/PERFORMANCE.md
  apps/frontend/docs/TESTING.md
Due: frontend

fix file paths in architecture doc
  apps/frontend/docs/ARCHITECTURE.md
Due: frontend

update auth docs (#896)
  apps/backend/README.md
  apps/backend/docs/AUTHENTICATION.md
  apps/backend/src/routes/auth.ts
  apps/cli/docs/ADDING_ENVIRONMENTS.md
  apps/cli/docs/ARCHITECTURE.md
  apps/frontend/docs/API-INTEGRATION.md
  apps/frontend/docs/ARCHITECTURE.md
  apps/frontend/docs/ARCHIVE-CLONE.md
  apps/frontend/docs/AUTHENTICATION.md
  apps/frontend/docs/AUTHORIZATION.md
  apps/frontend/docs/COMPONENT-LIBRARY.md
  apps/frontend/docs/DEVELOPMENT.md
  apps/frontend/docs/FUTURE.md
  apps/frontend/docs/MEDIA-ACCESS.md
  apps/frontend/docs/PERFORMANCE.md
  apps/frontend/docs/RESOURCE-PROXY.md
  apps/frontend/docs/TESTING.md
  docs/protocol/RBAC.md
  docs/protocol/TRANSPORT-CONTRACT.md
  docs/system/administration/AUTHENTICATION.md
  docs/system/administration/CONFIGURATION.md
  docs/system/administration/IMAGES.md
  docs/system/administration/SECURITY.md
  docs/system/administration/TROUBLESHOOTING.md
  docs/system/platforms/AWS.md
  docs/system/services/OVERVIEW.md
  docs/system/services/SECRETS.md
  packages/http-transport/docs/MEDIA-TOKENS.md
  packages/react-ui/docs/ARCHITECTURE.md
  packages/react-ui/docs/SESSION.md
  packages/sdk/src/session/semiont-browser.ts
  tests/e2e/README.md
Due: react-ui, frontend, backend, @semiont/react-ui

update path description
  specs/src/paths/api_resources_{id}.json
Due: none

fix: bus request empty error on dispose (#897)
  packages/sdk/src/__tests__/bus-request.test.ts
  packages/sdk/src/bus-request.ts
  specs/src/paths/api_resources_{id}.json
Due: none

bump version to 0.5.10
  apps/backend/package.json
  apps/backend/package.publish.json
  apps/cli/package.json
  apps/desktop/package.json
  apps/frontend/package.json
  apps/frontend/package.publish.json
  package-lock.json
  package.json
  packages/content/package.json
  packages/core/package.json
  packages/event-sourcing/package.json
  packages/graph/package.json
  packages/http-transport/package.json
  packages/inference/package.json
  packages/jobs/package.json
  packages/make-meaning/package.json
  packages/mcp-server/package.json
  packages/observability/package.json
  packages/ontology/package.json
  packages/react-ui/package.json
  packages/sdk/package.json
  packages/test-utils/package.json
  packages/vectors/package.json
  version.json
Due: content, core, event-sourcing, graph, inference, jobs, make-meaning, mcp-server, ontology, react-ui, frontend, backend, @semiont/core, @semiont/ontology, @semiont/content, @semiont/event-sourcing, @semiont/graph, @semiont/inference, @semiont/jobs, @semiont/make-meaning, @semiont/react-ui

declare use of use-sync-external-store
  package-lock.json
  packages/react-ui/package.json
Due: react-ui, @semiont/react-ui

fix and prevent phantom dependencies
  .github/workflows/ci.yml
  package-lock.json
  packages/react-ui/package.json
  scripts/ci/check-dist-imports.mjs
Due: react-ui, @semiont/react-ui

phantom dependencies (#904)
  .github/workflows/ci.yml
  package-lock.json
  packages/react-ui/package.json
  scripts/ci/check-dist-imports.mjs
Due: react-ui, @semiont/react-ui

feat(sdk): add StreamObservable/UploadObservable.run() + warn on cold double-fire (#905)
  packages/sdk/src/__tests__/awaitable.test.ts
  packages/sdk/src/awaitable.ts
Due: none

fix(specs): require `context` on AnnotationLLMContextResponse (#906)
  specs/src/components/schemas/AnnotationLLMContextResponse.json
Due: none

feat(sdk): implement gather.resource() (whole-resource LLM context) (#907)
  apps/cli/src/core/commands/gather.ts
  packages/sdk/src/__tests__/gather-resource.test.ts
  packages/sdk/src/namespaces/gather.ts
  packages/sdk/src/namespaces/types.ts
Due: none

RESOURCE-LEVEL-ANCHOR, Phase 1
  packages/core/src/__tests__/create-annotation-target-types.test.ts
  specs/src/components/schemas/CreateAnnotationRequest.json
Due: none

RESOURCE-LEVEL-ANCHOR, Phase 2
  packages/core/src/__tests__/annotation-assembly.test.ts
  packages/core/src/annotation-assembly.ts
  packages/make-meaning/src/__tests__/annotation-operations.test.ts
Due: core, @semiont/core

RESOURCE-LEVEL-ANCHOR, Phase 3
  packages/sdk/src/__tests__/mark-annotation-target.test.ts
Due: none

Resource-level anchor (#908)
  packages/core/src/__tests__/annotation-assembly.test.ts
  packages/core/src/__tests__/create-annotation-target-types.test.ts
  packages/core/src/annotation-assembly.ts
  packages/make-meaning/src/__tests__/annotation-operations.test.ts
  packages/sdk/src/__tests__/mark-annotation-target.test.ts
  specs/src/components/schemas/CreateAnnotationRequest.json
Due: core, @semiont/core
