Repository The-AI-Alliance/semiont: changes, and which Codecov flags are due for each by the changed paths.
All: api-client, content, core, event-sourcing, graph, inference, jobs, make-meaning, mcp-server, ontology, react-ui, frontend, backend, @semiont/core, @semiont/api-client, @semiont/ontology, @semiont/content, @semiont/event-sourcing, @semiont/graph, @semiont/inference, @semiont/jobs, @semiont/make-meaning, @semiont/react-ui

codecov.yml:

# Codecov configuration for Semiont monorepo
# https://docs.codecov.io/docs/codecovyml-reference

codecov:
  # Require CI to finish before processing coverage
  require_ci_to_pass: true

  # Wait for all coverage reports before commenting
  notify:
    wait_for_ci: true

coverage:
  # Overall project coverage settings
  status:
    # Project-wide coverage status
    project:
      default:
        # Coverage can drop by 1% without failing
        threshold: 1%
        target: 70%  # Target 70% overall coverage

    # Per-PR patch coverage
    patch:
      default:
        # New code should have at least 80% coverage
        target: 80%
        threshold: 5%

  # Round coverage to 2 decimal places
  precision: 2
  round: down

  # Coverage range for color coding
  range: "50...90"

# Component-specific coverage configuration
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 1%
  individual_components:
    # Core packages with higher coverage requirements
    - component_id: core
      name: "@semiont/core"
      paths:
        - packages/core/**
    - component_id: api-client
      name: "@semiont/api-client"
      paths:
        - packages/api-client/**
    - component_id: ontology
      name: "@semiont/ontology"
      paths:
        - packages/ontology/**
    - component_id: content
      name: "@semiont/content"
      paths:
        - packages/content/**
    - component_id: event-sourcing
      name: "@semiont/event-sourcing"
      paths:
        - packages/event-sourcing/**
    - component_id: graph
      name: "@semiont/graph"
      paths:
        - packages/graph/**
    - component_id: inference
      name: "@semiont/inference"
      paths:
        - packages/inference/**
    - component_id: jobs
      name: "@semiont/jobs"
      paths:
        - packages/jobs/**
    - component_id: make-meaning
      name: "@semiont/make-meaning"
      paths:
        - packages/make-meaning/**
    - component_id: react-ui
      name: "@semiont/react-ui"
      paths:
        - packages/react-ui/**

# Ignore certain files from coverage
ignore:
  # Test files
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/*.spec.tsx"
  - "**/test/**"
  - "**/tests/**"
  - "**/__tests__/**"
  - "**/test-utils/**"

  # Build artifacts
  - "**/dist/**"
  - "**/build/**"
  - "**/coverage/**"
  - "**/.next/**"

  # Config files
  - "**/*.config.ts"
  - "**/*.config.js"
  - "**/jest.setup.ts"

  # Generated files
  - "**/generated/**"
  - "packages/api-client/src/types.ts"

  # Examples and demos
  - "**/examples/**"
  - "**/demo/**"

  # Scripts
  - "scripts/**"

# Comment configuration
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Flag configuration for different test suites
flags:
  # Individual package flags
  api-client:
    paths:
      - packages/api-client/**
    carryforward: true

  content:
    paths:
      - packages/content/**
    carryforward: true

  core:
    paths:
      - packages/core/**
    carryforward: true

  event-sourcing:
    paths:
      - packages/event-sourcing/**
    carryforward: true

  graph:
    paths:
      - packages/graph/**
    carryforward: true

  inference:
    paths:
      - packages/inference/**
    carryforward: true

  jobs:
    paths:
      - packages/jobs/**
    carryforward: true

  make-meaning:
    paths:
      - packages/make-meaning/**
    carryforward: true

  mcp-server:
    paths:
      - packages/mcp-server/**
    carryforward: true

  ontology:
    paths:
      - packages/ontology/**
    carryforward: true

  react-ui:
    paths:
      - packages/react-ui/**
    carryforward: true

  # App flags (for future use)
  frontend:
    paths:
      - apps/frontend/**
    carryforward: true

  backend:
    paths:
      - apps/backend/**
    carryforward: true

fix tests
  packages/make-meaning/src/__tests__/gatherer.test.ts
  packages/make-meaning/src/__tests__/smelter.test.ts
Due: none

keep versions in sync
  packages/vectors/package.json
  version.json
Due: none

general layout cleanup; desktop app opens on /know/discover with kb panel open
  apps/desktop/src-tauri/src/main.rs
  apps/frontend/messages-source/ar.json
  apps/frontend/messages-source/bn.json
  apps/frontend/messages-source/cs.json
  apps/frontend/messages-source/da.json
  apps/frontend/messages-source/de.json
  apps/frontend/messages-source/el.json
  apps/frontend/messages-source/en.json
  apps/frontend/messages-source/es.json
  apps/frontend/messages-source/fa.json
  apps/frontend/messages-source/fi.json
  apps/frontend/messages-source/fr.json
  apps/frontend/messages-source/he.json
  apps/frontend/messages-source/hi.json
  apps/frontend/messages-source/id.json
  apps/frontend/messages-source/it.json
  apps/frontend/messages-source/ja.json
  apps/frontend/messages-source/ko.json
  apps/frontend/messages-source/ms.json
  apps/frontend/messages-source/nl.json
  apps/frontend/messages-source/no.json
  apps/frontend/messages-source/pl.json
  apps/frontend/messages-source/pt.json
  apps/frontend/messages-source/ro.json
  apps/frontend/messages-source/sv.json
  apps/frontend/messages-source/th.json
  apps/frontend/messages-source/tr.json
  apps/frontend/messages-source/uk.json
  apps/frontend/messages-source/vi.json
  apps/frontend/messages-source/zh.json
  apps/frontend/src/App.tsx
  apps/frontend/src/app/[locale]/know/layout.tsx
  apps/frontend/src/app/[locale]/page.tsx
  packages/react-ui/src/components/navigation/Footer.tsx
  packages/react-ui/src/features/auth/__tests__/SignInForm.a11y.test.tsx
  packages/react-ui/src/features/auth/components/SignInForm.tsx
  packages/react-ui/src/hooks/usePanelBrowse.ts
Due: react-ui, frontend, @semiont/react-ui

rm unused param
  packages/react-ui/src/features/auth/components/SignInForm.tsx
Due: react-ui, @semiont/react-ui

fix tests
  packages/react-ui/src/components/navigation/__tests__/Footer.test.tsx
Due: none

fix failing test
  packages/react-ui/src/features/auth/__tests__/SignInForm.a11y.test.tsx
Due: none

fix test
  packages/react-ui/src/features/auth/__tests__/SignInForm.a11y.test.tsx
Due: none

fix tests
  apps/frontend/src/app/__tests__/page.test.tsx
Due: none

general layout cleanup; desktop app opens on /know/discover with kb p… (#596)
  apps/desktop/src-tauri/src/main.rs
  apps/frontend/messages-source/ar.json
  apps/frontend/messages-source/bn.json
  apps/frontend/messages-source/cs.json
  apps/frontend/messages-source/da.json
  apps/frontend/messages-source/de.json
  apps/frontend/messages-source/el.json
  apps/frontend/messages-source/en.json
  apps/frontend/messages-source/es.json
  apps/frontend/messages-source/fa.json
  apps/frontend/messages-source/fi.json
  apps/frontend/messages-source/fr.json
  apps/frontend/messages-source/he.json
  apps/frontend/messages-source/hi.json
  apps/frontend/messages-source/id.json
  apps/frontend/messages-source/it.json
  apps/frontend/messages-source/ja.json
  apps/frontend/messages-source/ko.json
  apps/frontend/messages-source/ms.json
  apps/frontend/messages-source/nl.json
  apps/frontend/messages-source/no.json
  apps/frontend/messages-source/pl.json
  apps/frontend/messages-source/pt.json
  apps/frontend/messages-source/ro.json
  apps/frontend/messages-source/sv.json
  apps/frontend/messages-source/th.json
  apps/frontend/messages-source/tr.json
  apps/frontend/messages-source/uk.json
  apps/frontend/messages-source/vi.json
  apps/frontend/messages-source/zh.json
  apps/frontend/src/App.tsx
  apps/frontend/src/app/[locale]/know/layout.tsx
  apps/frontend/src/app/[locale]/page.tsx
  apps/frontend/src/app/__tests__/page.test.tsx
  packages/react-ui/src/components/navigation/Footer.tsx
  packages/react-ui/src/components/navigation/__tests__/Footer.test.tsx
  packages/react-ui/src/features/auth/__tests__/SignInForm.a11y.test.tsx
  packages/react-ui/src/features/auth/components/SignInForm.tsx
  packages/react-ui/src/hooks/usePanelBrowse.ts
Due: react-ui, frontend, @semiont/react-ui

README for @semiont/vectors
  packages/vectors/README.md
Due: none

update Architecture page
  docs/ARCHITECTURE.md
Due: none

diagram layout
  docs/ARCHITECTURE.md
Due: none

delete table column
  docs/ARCHITECTURE.md
Due: none

main README cleanup
  README.md
Due: none

move screen shot further up
  README.md
Due: none

bigger screen shot
  README.md
Due: none

minor readme improvements
  README.md
Due: none

doc improvements
  README.md
  apps/backend/docs/LOCAL.md
  apps/cli/templates/docker-compose.yml
  docs/ARCHITECTURE.md
  docs/administration/CONFIGURATION.md
  docs/flows/README.md
  docs/services/OVERVIEW.md
Due: backend

knowledge bases formatting
  README.md
Due: none

clearer quick-start
  README.md
Due: none

consistent section naming in Quick Start
  README.md
Due: none

update .semiont usage
  docs/PROJECT-LAYOUT.md
Due: none

improve backend page
  apps/backend/src/routes/root.ts
Due: backend

improve backend page (#597)
  apps/backend/src/routes/root.ts
Due: backend

finish smelter
  packages/core/src/events.ts
  packages/core/src/index.ts
  packages/make-meaning/src/smelter.ts
  packages/make-meaning/src/stower.ts
Due: core, make-meaning, @semiont/core, @semiont/make-meaning

batching
  packages/make-meaning/src/batch-utils.ts
  packages/make-meaning/src/graph/consumer.ts
  packages/make-meaning/src/smelter.ts
Due: make-meaning, @semiont/make-meaning

improve test coverage
  packages/make-meaning/src/__tests__/smelter.test.ts
Due: none

finish smelter (#598)
  packages/core/src/events.ts
  packages/core/src/index.ts
  packages/make-meaning/src/__tests__/smelter.test.ts
  packages/make-meaning/src/batch-utils.ts
  packages/make-meaning/src/graph/consumer.ts
  packages/make-meaning/src/smelter.ts
  packages/make-meaning/src/stower.ts
Due: core, make-meaning, @semiont/core, @semiont/make-meaning

ollama embeddings
  apps/backend/Dockerfile
  apps/backend/compose/backend.yml
  apps/backend/scripts/local_backend.sh
Due: backend

vectors and embeddings config
  docs/administration/CONFIGURATION.md
Due: none

ollama embeddings (#599)
  apps/backend/Dockerfile
  apps/backend/compose/backend.yml
  apps/backend/scripts/local_backend.sh
  docs/administration/CONFIGURATION.md
Due: backend

external inference provision handler for model pulls
  apps/cli/src/platforms/external/handlers/index.ts
  apps/cli/src/platforms/external/handlers/inference-provision.ts
  apps/cli/src/platforms/external/handlers/types.ts
  apps/cli/src/services/inference-service.ts
  package-lock.json
  packages/core/src/index.ts
Due: core, @semiont/core

fix version sync
  apps/backend/package.json
  apps/backend/package.publish.json
  apps/cli/package.json
  apps/frontend/package.json
  scripts/release/version-bump.sh
  scripts/release/version.mjs
Due: frontend, backend

rebuild package-lock
  apps/cli/package.json
  package-lock.json
Due: none

external inference provision handler for model pulls (#600)
  apps/backend/package.json
  apps/backend/package.publish.json
  apps/cli/package.json
  apps/cli/src/platforms/external/handlers/index.ts
  apps/cli/src/platforms/external/handlers/inference-provision.ts
  apps/cli/src/platforms/external/handlers/types.ts
  apps/cli/src/services/inference-service.ts
  apps/frontend/package.json
  package-lock.json
  packages/core/src/index.ts
  scripts/release/version-bump.sh
  scripts/release/version.mjs
Due: core, frontend, backend, @semiont/core

fix dependencies
  apps/cli/package.json
  package-lock.json
Due: none

publish @semiont/vectors
  scripts/ci/publish.sh
  scripts/release/version.mjs
Due: none

publish @semiont/vectors with gh action
  .github/workflows/publish-npm-packages.yml
Due: none

publish @semiont/vectors (#606)
  .github/workflows/publish-npm-packages.yml
  apps/cli/package.json
  package-lock.json
  scripts/ci/publish.sh
  scripts/release/version.mjs
Due: none
