Repository The-AI-Alliance/semiont: changes, and which Codecov flags are due for each by the changed paths.
All: api-client, content, core, event-sourcing, graph, inference, jobs, make-meaning, mcp-server, ontology, react-ui, frontend, backend, @semiont/core, @semiont/api-client, @semiont/ontology, @semiont/content, @semiont/event-sourcing, @semiont/graph, @semiont/inference, @semiont/jobs, @semiont/make-meaning, @semiont/react-ui

codecov.yml:

# Codecov configuration for Semiont monorepo
# https://docs.codecov.io/docs/codecovyml-reference

codecov:
  # Require CI to finish before processing coverage
  require_ci_to_pass: true

  # Wait for all coverage reports before commenting
  notify:
    wait_for_ci: true

coverage:
  # Overall project coverage settings
  status:
    # Project-wide coverage status
    project:
      default:
        # Coverage can drop by 1% without failing
        threshold: 1%
        target: 70%  # Target 70% overall coverage

    # Per-PR patch coverage
    patch:
      default:
        # New code should have at least 80% coverage
        target: 80%
        threshold: 5%

  # Round coverage to 2 decimal places
  precision: 2
  round: down

  # Coverage range for color coding
  range: "50...90"

# Component-specific coverage configuration
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 1%
  individual_components:
    # Core packages with higher coverage requirements
    - component_id: core
      name: "@semiont/core"
      paths:
        - packages/core/**
    - component_id: api-client
      name: "@semiont/api-client"
      paths:
        - packages/api-client/**
    - component_id: ontology
      name: "@semiont/ontology"
      paths:
        - packages/ontology/**
    - component_id: content
      name: "@semiont/content"
      paths:
        - packages/content/**
    - component_id: event-sourcing
      name: "@semiont/event-sourcing"
      paths:
        - packages/event-sourcing/**
    - component_id: graph
      name: "@semiont/graph"
      paths:
        - packages/graph/**
    - component_id: inference
      name: "@semiont/inference"
      paths:
        - packages/inference/**
    - component_id: jobs
      name: "@semiont/jobs"
      paths:
        - packages/jobs/**
    - component_id: make-meaning
      name: "@semiont/make-meaning"
      paths:
        - packages/make-meaning/**
    - component_id: react-ui
      name: "@semiont/react-ui"
      paths:
        - packages/react-ui/**

# Ignore certain files from coverage
ignore:
  # Test files
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/*.spec.tsx"
  - "**/test/**"
  - "**/tests/**"
  - "**/__tests__/**"
  - "**/test-utils/**"

  # Build artifacts
  - "**/dist/**"
  - "**/build/**"
  - "**/coverage/**"
  - "**/.next/**"

  # Config files
  - "**/*.config.ts"
  - "**/*.config.js"
  - "**/jest.setup.ts"

  # Generated files
  - "**/generated/**"
  - "packages/api-client/src/types.ts"

  # Examples and demos
  - "**/examples/**"
  - "**/demo/**"

  # Scripts
  - "scripts/**"

# Comment configuration
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Flag configuration for different test suites
flags:
  # Individual package flags
  api-client:
    paths:
      - packages/api-client/**
    carryforward: true

  content:
    paths:
      - packages/content/**
    carryforward: true

  core:
    paths:
      - packages/core/**
    carryforward: true

  event-sourcing:
    paths:
      - packages/event-sourcing/**
    carryforward: true

  graph:
    paths:
      - packages/graph/**
    carryforward: true

  inference:
    paths:
      - packages/inference/**
    carryforward: true

  jobs:
    paths:
      - packages/jobs/**
    carryforward: true

  make-meaning:
    paths:
      - packages/make-meaning/**
    carryforward: true

  mcp-server:
    paths:
      - packages/mcp-server/**
    carryforward: true

  ontology:
    paths:
      - packages/ontology/**
    carryforward: true

  react-ui:
    paths:
      - packages/react-ui/**
    carryforward: true

  # App flags (for future use)
  frontend:
    paths:
      - apps/frontend/**
    carryforward: true

  backend:
    paths:
      - apps/backend/**
    carryforward: true

resolve conflict
  scripts/compliance/audit-boot-contract.sh
Due: none

Batch 12 Dependabot updates: 14 PRs consolidated
  .github/workflows/codeql-analysis.yml
  apps/browser/package.json
  apps/gateway/package.json
  package-lock.json
  packages/content/package.json
  packages/core/package.json
  packages/event-sourcing/package.json
  packages/graph/package.json
  packages/http-transport/package.json
  packages/inference/package.json
  packages/jobs/package.json
  packages/make-meaning/package.json
  packages/mcp-server/package.json
  packages/observability/package.json
  packages/ontology/package.json
  packages/react-ui/package.json
  packages/sdk/package.json
  packages/vectors/package.json
Due: content, core, event-sourcing, graph, inference, jobs, make-meaning, mcp-server, ontology, react-ui, @semiont/core, @semiont/ontology, @semiont/content, @semiont/event-sourcing, @semiont/graph, @semiont/inference, @semiont/jobs, @semiont/make-meaning, @semiont/react-ui

Batch 12 Dependabot updates: 14 PRs consolidated (#1496)
  .github/workflows/codeql-analysis.yml
  apps/browser/package.json
  apps/gateway/package.json
  package-lock.json
  packages/content/package.json
  packages/core/package.json
  packages/event-sourcing/package.json
  packages/graph/package.json
  packages/http-transport/package.json
  packages/inference/package.json
  packages/jobs/package.json
  packages/make-meaning/package.json
  packages/mcp-server/package.json
  packages/observability/package.json
  packages/ontology/package.json
  packages/react-ui/package.json
  packages/sdk/package.json
  packages/vectors/package.json
  scripts/compliance/audit-boot-contract.sh
Due: content, core, event-sourcing, graph, inference, jobs, make-meaning, mcp-server, ontology, react-ui, @semiont/core, @semiont/ontology, @semiont/content, @semiont/event-sourcing, @semiont/graph, @semiont/inference, @semiont/jobs, @semiont/make-meaning, @semiont/react-ui

How the gateway names its principals and what telemetry it exports are specified in specs/, and the conformance suite holds a running gateway to both
  docs/system/administration/OBSERVABILITY.md
  packages/core/src/__tests__/principals-agreement.test.ts
  packages/core/src/did-utils.ts
  scripts/compliance/audit-boot-contract.sh
  specs/src/gateway-telemetry/telemetry.json
  specs/src/openapi.json
  specs/src/principals/cases.json
  tests/gateway-conformance/README.md
  tests/gateway-conformance/cases/environment.test.ts
  tests/gateway-conformance/cases/observability.test.ts
  tests/gateway-conformance/cases/tokens.test.ts
  tests/gateway-conformance/harness/otlp.ts
  tests/gateway-conformance/harness/spec.ts
  tests/gateway-conformance/harness/world.ts
Due: core, @semiont/core

How the gateway names its principals and what telemetry it exports are specified in specs/, and the conformance suite holds a running gateway to both (#1497)
  docs/system/administration/OBSERVABILITY.md
  packages/core/src/__tests__/principals-agreement.test.ts
  packages/core/src/did-utils.ts
  scripts/compliance/audit-boot-contract.sh
  specs/src/gateway-telemetry/telemetry.json
  specs/src/openapi.json
  specs/src/principals/cases.json
  tests/gateway-conformance/README.md
  tests/gateway-conformance/cases/environment.test.ts
  tests/gateway-conformance/cases/observability.test.ts
  tests/gateway-conformance/cases/tokens.test.ts
  tests/gateway-conformance/harness/otlp.ts
  tests/gateway-conformance/harness/spec.ts
  tests/gateway-conformance/harness/world.ts
Due: core, @semiont/core

rusty gate, tests and specs
  .github/workflows/ci.yml
  scripts/bus/generate-ts.mjs
  scripts/lint/check-gateway-environment.mjs
  scripts/lint/check-service-role-agreement.mjs
  specs/src/gateway-environment/variables.json
  tests/gateway-conformance/README.md
  tests/gateway-conformance/cases/boot.test.ts
  tests/gateway-conformance/harness/gateway.ts
  tests/gateway-conformance/harness/global-setup.ts
  tests/gateway-conformance/harness/otlp-protobuf.ts
  tests/gateway-conformance/harness/otlp.test.ts
  tests/gateway-conformance/harness/otlp.ts
  tests/gateway-conformance/harness/paths.ts
  tests/gateway-conformance/harness/proxy.ts
  tests/gateway-conformance/package-lock.json
  tests/gateway-conformance/package.json
  tests/gateway-conformance/vitest.config.ts
  tests/gateway-conformance/vitest.rust.config.ts
Due: none

The Rust gateway, built against specs/ and passing the whole conformance suite on both planes
  apps/gateway-rs/.gitignore
  apps/gateway-rs/Cargo.lock
  apps/gateway-rs/Cargo.toml
  apps/gateway-rs/README.md
  apps/gateway-rs/build.rs
  apps/gateway-rs/rust-toolchain.toml
  apps/gateway-rs/src/alloc.rs
  apps/gateway-rs/src/app.rs
  apps/gateway-rs/src/archivist.rs
  apps/gateway-rs/src/bus-classification.json
  apps/gateway-rs/src/bus_log.rs
  apps/gateway-rs/src/composition.rs
  apps/gateway-rs/src/config.rs
  apps/gateway-rs/src/http.rs
  apps/gateway-rs/src/identity.rs
  apps/gateway-rs/src/issuer.rs
  apps/gateway-rs/src/ledger.rs
  apps/gateway-rs/src/lib.rs
  apps/gateway-rs/src/logging.rs
  apps/gateway-rs/src/main.rs
  apps/gateway-rs/src/principal.rs
  apps/gateway-rs/src/roles.rs
  apps/gateway-rs/src/routes/bus.rs
  apps/gateway-rs/src/routes/content.rs
  apps/gateway-rs/src/routes/meta.rs
  apps/gateway-rs/src/routes/mod.rs
  apps/gateway-rs/src/routes/stream.rs
  apps/gateway-rs/src/routes/tokens.rs
  apps/gateway-rs/src/signal/in_process.rs
  apps/gateway-rs/src/signal/mod.rs
  apps/gateway-rs/src/signal/nats.rs
  apps/gateway-rs/src/spec.rs
  apps/gateway-rs/src/telemetry.rs
  apps/gateway-rs/src/tokens.rs
  apps/gateway-rs/tests/tables.rs
  specs/src/kb-identity/cases.json
  tests/gateway-conformance/vitest.rust.config.ts
Due: none

Stop local-build.sh dying silently on the gateway image
  scripts/ci/local-build.sh
Due: none

Scan the gateway image for source as root
  scripts/container/check-gateway-image.sh
Due: none

Harden the gateway: body limits, one runtime knob, jemalloc
  apps/gateway/Cargo.lock
  apps/gateway/Cargo.toml
  apps/gateway/Dockerfile
  apps/gateway/NOTICE
  apps/gateway/README.md
  apps/gateway/bench/load.sh
  apps/gateway/docs/ARCHITECTURE.md
  apps/gateway/docs/TESTING.md
  apps/gateway/src/alloc.rs
  apps/gateway/src/app.rs
  apps/gateway/src/http.rs
  apps/gateway/src/lib.rs
  apps/gateway/src/main.rs
  apps/gateway/src/routes/bus.rs
  apps/gateway/src/routes/stream.rs
  apps/gateway/src/routes/tokens.rs
  apps/gateway/src/spec.rs
  docs/protocol/TRANSPORT-HTTP.md
  packages/sdk-go/client_gen.go
  scripts/lint/check-gateway-crates.mjs
  scripts/spec/check-protocol.mjs
  specs/README.md
  specs/src/components/responses/PayloadTooLarge.json
  specs/src/gateway-environment/variables.json
  specs/src/paths/api_tokens_agent.json
  specs/src/paths/api_tokens_media.json
  specs/src/paths/bus_emit.json
  specs/src/paths/bus_subscribe.json
  tests/gateway-conformance/cases/boot.test.ts
  tests/gateway-conformance/cases/spec-derived.test.ts
  tests/gateway-conformance/harness/gateway.ts
Due: none

Harden the gateway: body limits, one runtime knob, jemalloc (#1501)
  apps/gateway/Cargo.lock
  apps/gateway/Cargo.toml
  apps/gateway/Dockerfile
  apps/gateway/NOTICE
  apps/gateway/README.md
  apps/gateway/bench/load.sh
  apps/gateway/docs/ARCHITECTURE.md
  apps/gateway/docs/TESTING.md
  apps/gateway/src/alloc.rs
  apps/gateway/src/app.rs
  apps/gateway/src/http.rs
  apps/gateway/src/lib.rs
  apps/gateway/src/main.rs
  apps/gateway/src/routes/bus.rs
  apps/gateway/src/routes/stream.rs
  apps/gateway/src/routes/tokens.rs
  apps/gateway/src/spec.rs
  docs/protocol/TRANSPORT-HTTP.md
  packages/sdk-go/client_gen.go
  scripts/lint/check-gateway-crates.mjs
  scripts/spec/check-protocol.mjs
  specs/README.md
  specs/src/components/responses/PayloadTooLarge.json
  specs/src/gateway-environment/variables.json
  specs/src/paths/api_tokens_agent.json
  specs/src/paths/api_tokens_media.json
  specs/src/paths/bus_emit.json
  specs/src/paths/bus_subscribe.json
  tests/gateway-conformance/cases/boot.test.ts
  tests/gateway-conformance/cases/spec-derived.test.ts
  tests/gateway-conformance/harness/gateway.ts
Due: none

Hold the gateway's crates to RustSec's advisory database
  .github/ACTIONS.md
  .github/workflows/gateway-advisories.yml
  apps/gateway/deny.toml
  apps/gateway/docs/TESTING.md
  docs/system/administration/MAINTENANCE.md
  docs/system/administration/SECURITY.md
Due: none

Cover every manifest with Dependabot, and fail when one is not
  .github/ACTIONS.md
  .github/dependabot.yml
  .github/workflows/architecture-compliance.yml
  docs/system/administration/MAINTENANCE.md
  package.json
  scripts/lint/check-dependabot-coverage.mjs
Due: none

The gateway's crates are held to RustSec's advisory database, and Dependabot covers every manifest in the repository (#1502)
  .github/ACTIONS.md
  .github/dependabot.yml
  .github/workflows/architecture-compliance.yml
  .github/workflows/gateway-advisories.yml
  apps/gateway/deny.toml
  apps/gateway/docs/TESTING.md
  docs/system/administration/MAINTENANCE.md
  docs/system/administration/SECURITY.md
  package.json
  scripts/lint/check-dependabot-coverage.mjs
Due: none

Clone tokens from the cryptographic generator; pin the realm's 0700 stage
  apps/launcher/internal/launcher/executor.go
  apps/launcher/internal/launcher/staging_test.go
  packages/make-meaning/src/__tests__/clone-token-manager.test.ts
  packages/make-meaning/src/clone-token-manager.ts
Due: make-meaning, @semiont/make-meaning

Hold the broker behind its interface
  .github/workflows/architecture-compliance.yml
  apps/gateway/docs/ARCHITECTURE.md
  apps/gateway/docs/TESTING.md
  package.json
  scripts/lint/check-broker-boundary.mjs
  scripts/lint/check-gateway-environment.mjs
  scripts/lint/source-text.mjs
Due: none

Clone tokens from the cryptographic generator; pin the realm's 0700 stage (#1504)
  apps/launcher/internal/launcher/executor.go
  apps/launcher/internal/launcher/staging_test.go
  packages/make-meaning/src/__tests__/clone-token-manager.test.ts
  packages/make-meaning/src/clone-token-manager.ts
Due: make-meaning, @semiont/make-meaning

Say how a limit refuses, and measure what a stream costs
  apps/gateway/bench/load.sh
  apps/gateway/bench/streams.mjs
  apps/gateway/src/http.rs
  apps/gateway/src/ledger.rs
  apps/gateway/src/routes/bus.rs
  packages/sdk-go/client_gen.go
  scripts/spec/check-protocol.mjs
  specs/src/components/responses/AtCapacity.json
  specs/src/components/responses/TooManyRequests.json
  specs/src/components/schemas/LimitRefusal.json
  specs/src/openapi.json
  specs/src/paths/bus_emit.json
  specs/src/paths/bus_subscribe.json
  tests/gateway-conformance/cases/emit.test.ts
Due: none

Give a Docker stack one issuer, a reachable admin and a healthy gateway
  apps/gateway/Cargo.lock
  apps/gateway/Cargo.toml
  apps/gateway/src/app.rs
  apps/launcher/internal/fakert/main.go
  apps/launcher/internal/launcher/executor.go
  apps/launcher/internal/launcher/flows.go
  apps/launcher/internal/launcher/gatewaydoc.go
  apps/launcher/internal/launcher/gatewaydoc_test.go
  apps/launcher/internal/launcher/identity.go
  apps/launcher/internal/launcher/identitysync.go
  apps/launcher/internal/launcher/identitysync_test.go
  apps/launcher/internal/launcher/imagepaths_test.go
  apps/launcher/internal/launcher/start.go
  apps/launcher/internal/launcher/support.go
  apps/launcher/launcher_test.go
  apps/launcher/testdata/golden/start-default-boot.argv
  apps/launcher/testdata/golden/start-docker-boot.argv
  apps/launcher/testdata/golden/start-dryrun-default.txt
  apps/launcher/testdata/golden/start-dryrun-keycloak-identity.txt
  apps/launcher/testdata/golden/start-dryrun-local.txt
  apps/launcher/testdata/golden/start-host-ollama-boot.argv
  apps/launcher/testdata/golden/start-jetstream-jobs-boot.argv
  apps/launcher/testdata/golden/start-keycloak-identity-boot.argv
  apps/launcher/testdata/golden/start-local-version-boot.argv
  apps/launcher/testdata/golden/start-no-observe-boot.argv
  apps/launcher/testdata/golden/start-signal-only-boot.argv
  docs/system/administration/CONFIGURATION.md
  docs/system/administration/TROUBLESHOOTING.md
  packages/sdk-go/client_gen.go
  scripts/container/check-gateway-image.sh
  specs/src/components/schemas/GatewayConfig.json
  tests/gateway-conformance/cases/boot.test.ts
Due: none

Give a Docker stack one issuer, a reachable admin and a healthy gateway (#1506)
  apps/gateway/Cargo.lock
  apps/gateway/Cargo.toml
  apps/gateway/src/app.rs
  apps/launcher/internal/fakert/main.go
  apps/launcher/internal/launcher/executor.go
  apps/launcher/internal/launcher/flows.go
  apps/launcher/internal/launcher/gatewaydoc.go
  apps/launcher/internal/launcher/gatewaydoc_test.go
  apps/launcher/internal/launcher/identity.go
  apps/launcher/internal/launcher/identitysync.go
  apps/launcher/internal/launcher/identitysync_test.go
  apps/launcher/internal/launcher/imagepaths_test.go
  apps/launcher/internal/launcher/start.go
  apps/launcher/internal/launcher/support.go
  apps/launcher/launcher_test.go
  apps/launcher/testdata/golden/start-default-boot.argv
  apps/launcher/testdata/golden/start-docker-boot.argv
  apps/launcher/testdata/golden/start-dryrun-default.txt
  apps/launcher/testdata/golden/start-dryrun-keycloak-identity.txt
  apps/launcher/testdata/golden/start-dryrun-local.txt
  apps/launcher/testdata/golden/start-host-ollama-boot.argv
  apps/launcher/testdata/golden/start-jetstream-jobs-boot.argv
  apps/launcher/testdata/golden/start-keycloak-identity-boot.argv
  apps/launcher/testdata/golden/start-local-version-boot.argv
  apps/launcher/testdata/golden/start-no-observe-boot.argv
  apps/launcher/testdata/golden/start-signal-only-boot.argv
  docs/system/administration/CONFIGURATION.md
  docs/system/administration/TROUBLESHOOTING.md
  packages/sdk-go/client_gen.go
  scripts/container/check-gateway-image.sh
  specs/src/components/schemas/GatewayConfig.json
  tests/gateway-conformance/cases/boot.test.ts
Due: none

Fold a viewer's bus-driven refetches into one per key per second
  packages/sdk/docs/CACHE-SEMANTICS.md
  packages/sdk/src/namespaces/__tests__/cache-semantics.test.ts
  packages/sdk/src/namespaces/browse.ts
Due: none

Fold a viewer's bus-driven refetches into one per key per second (#1507)
  packages/sdk/docs/CACHE-SEMANTICS.md
  packages/sdk/src/namespaces/__tests__/cache-semantics.test.ts
  packages/sdk/src/namespaces/browse.ts
Due: none

Batch 13 Dependabot updates: 3 PRs, across npm and Cargo
  apps/desktop/src-tauri/Cargo.lock
  package-lock.json
  packages/core/package.json
Due: core, @semiont/core

Batch 13 Dependabot updates: 3 PRs, across npm and Cargo (#1508)
  apps/desktop/src-tauri/Cargo.lock
  package-lock.json
  packages/core/package.json
Due: core, @semiont/core

detect and handle malformed json from gh
  scripts/release/notes-context.sh
Due: none

Build the gateway image's arm64 half on a native arm64 runner, and join the two architectures by digest
  .github/workflows/publish-service-images.yml
  docs/system/administration/IMAGES.md
  scripts/ci/README.md
  scripts/ci/image-tags.sh
Due: none

The gateway image's arm64 half builds on a native arm64 runner, and the release-notes context refuses a partial PR window (#1509)
  .github/workflows/publish-service-images.yml
  docs/system/administration/IMAGES.md
  scripts/ci/README.md
  scripts/ci/image-tags.sh
  scripts/release/notes-context.sh
Due: none

verify-release: dedupe the service census
  scripts/release/verify-release.sh
Due: none

Give Gateway Conformance its own cargo cache, and build only core for it
  .github/workflows/ci.yml
  packages/core/src/index.ts
  packages/core/src/job-subjects.ts
  packages/jobs/src/index.ts
  packages/jobs/src/jetstream-job-queue.ts
  tests/gateway-conformance/cases/broker.test.ts
  tests/gateway-conformance/package-lock.json
  tests/gateway-conformance/package.json
Due: core, jobs, @semiont/core, @semiont/jobs

bump version to 0.6.6
  apps/browser/package.json
  apps/browser/package.publish.json
  apps/desktop/package.json
  package-lock.json
  package.json
  packages/content/package.json
  packages/core/package.json
  packages/event-sourcing/package.json
  packages/graph/package.json
  packages/http-transport/package.json
  packages/inference/package.json
  packages/jobs/package.json
  packages/make-meaning/package.json
  packages/mcp-server/package.json
  packages/observability/package.json
  packages/ontology/package.json
  packages/react-ui/package.json
  packages/sdk/package.json
  packages/vectors/package.json
  version.json
Due: content, core, event-sourcing, graph, inference, jobs, make-meaning, mcp-server, ontology, react-ui, @semiont/core, @semiont/ontology, @semiont/content, @semiont/event-sourcing, @semiont/graph, @semiont/inference, @semiont/jobs, @semiont/make-meaning, @semiont/react-ui

speed up build and bump version to 0.6.6 (#1510)
  .github/workflows/ci.yml
  apps/browser/package.json
  apps/browser/package.publish.json
  apps/desktop/package.json
  package-lock.json
  package.json
  packages/content/package.json
  packages/core/package.json
  packages/core/src/index.ts
  packages/core/src/job-subjects.ts
  packages/event-sourcing/package.json
  packages/graph/package.json
  packages/http-transport/package.json
  packages/inference/package.json
  packages/jobs/package.json
  packages/jobs/src/index.ts
  packages/jobs/src/jetstream-job-queue.ts
  packages/make-meaning/package.json
  packages/mcp-server/package.json
  packages/observability/package.json
  packages/ontology/package.json
  packages/react-ui/package.json
  packages/sdk/package.json
  packages/vectors/package.json
  scripts/release/verify-release.sh
  tests/gateway-conformance/cases/broker.test.ts
  tests/gateway-conformance/package-lock.json
  tests/gateway-conformance/package.json
  version.json
Due: content, core, event-sourcing, graph, inference, jobs, make-meaning, mcp-server, ontology, react-ui, @semiont/core, @semiont/ontology, @semiont/content, @semiont/event-sourcing, @semiont/graph, @semiont/inference, @semiont/jobs, @semiont/make-meaning, @semiont/react-ui

The doc-snippets gate covers the two READMEs that carry SDK code, and both had rotted
  README.md
  package-lock.json
  packages/sdk/README.md
  packages/sdk/docs/__snippets__/check.mjs
  packages/sdk/docs/__snippets__/package.json
  packages/sdk/docs/__snippets__/prelude.ts
  scripts/compliance/audit-doc-snippets.sh
Due: none

restructure main README
  README.md
Due: none

readme clarifications
  README.md
Due: none

new configure inference section
  README.md
Due: none

align site index with new readme
  website/index.md
Due: none
