Repository The-AI-Alliance/semiont: changes, and which Codecov flags are due for each by the changed paths.
All: api-client, content, core, event-sourcing, graph, inference, jobs, make-meaning, mcp-server, ontology, react-ui, frontend, backend, @semiont/core, @semiont/api-client, @semiont/ontology, @semiont/content, @semiont/event-sourcing, @semiont/graph, @semiont/inference, @semiont/jobs, @semiont/make-meaning, @semiont/react-ui

codecov.yml:

# Codecov configuration for Semiont monorepo
# https://docs.codecov.io/docs/codecovyml-reference

codecov:
  # Require CI to finish before processing coverage
  require_ci_to_pass: true

  # Wait for all coverage reports before commenting
  notify:
    wait_for_ci: true

coverage:
  # Overall project coverage settings
  status:
    # Project-wide coverage status
    project:
      default:
        # Coverage can drop by 1% without failing
        threshold: 1%
        target: 70%  # Target 70% overall coverage

    # Per-PR patch coverage
    patch:
      default:
        # New code should have at least 80% coverage
        target: 80%
        threshold: 5%

  # Round coverage to 2 decimal places
  precision: 2
  round: down

  # Coverage range for color coding
  range: "50...90"

# Component-specific coverage configuration
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 1%
  individual_components:
    # Core packages with higher coverage requirements
    - component_id: core
      name: "@semiont/core"
      paths:
        - packages/core/**
    - component_id: api-client
      name: "@semiont/api-client"
      paths:
        - packages/api-client/**
    - component_id: ontology
      name: "@semiont/ontology"
      paths:
        - packages/ontology/**
    - component_id: content
      name: "@semiont/content"
      paths:
        - packages/content/**
    - component_id: event-sourcing
      name: "@semiont/event-sourcing"
      paths:
        - packages/event-sourcing/**
    - component_id: graph
      name: "@semiont/graph"
      paths:
        - packages/graph/**
    - component_id: inference
      name: "@semiont/inference"
      paths:
        - packages/inference/**
    - component_id: jobs
      name: "@semiont/jobs"
      paths:
        - packages/jobs/**
    - component_id: make-meaning
      name: "@semiont/make-meaning"
      paths:
        - packages/make-meaning/**
    - component_id: react-ui
      name: "@semiont/react-ui"
      paths:
        - packages/react-ui/**

# Ignore certain files from coverage
ignore:
  # Test files
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/*.spec.tsx"
  - "**/test/**"
  - "**/tests/**"
  - "**/__tests__/**"
  - "**/test-utils/**"

  # Build artifacts
  - "**/dist/**"
  - "**/build/**"
  - "**/coverage/**"
  - "**/.next/**"

  # Config files
  - "**/*.config.ts"
  - "**/*.config.js"
  - "**/jest.setup.ts"

  # Generated files
  - "**/generated/**"
  - "packages/api-client/src/types.ts"

  # Examples and demos
  - "**/examples/**"
  - "**/demo/**"

  # Scripts
  - "scripts/**"

# Comment configuration
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Flag configuration for different test suites
flags:
  # Individual package flags
  api-client:
    paths:
      - packages/api-client/**
    carryforward: true

  content:
    paths:
      - packages/content/**
    carryforward: true

  core:
    paths:
      - packages/core/**
    carryforward: true

  event-sourcing:
    paths:
      - packages/event-sourcing/**
    carryforward: true

  graph:
    paths:
      - packages/graph/**
    carryforward: true

  inference:
    paths:
      - packages/inference/**
    carryforward: true

  jobs:
    paths:
      - packages/jobs/**
    carryforward: true

  make-meaning:
    paths:
      - packages/make-meaning/**
    carryforward: true

  mcp-server:
    paths:
      - packages/mcp-server/**
    carryforward: true

  ontology:
    paths:
      - packages/ontology/**
    carryforward: true

  react-ui:
    paths:
      - packages/react-ui/**
    carryforward: true

  # App flags (for future use)
  frontend:
    paths:
      - apps/frontend/**
    carryforward: true

  backend:
    paths:
      - apps/backend/**
    carryforward: true

remove unused [frontend] config
  packages/core/src/__tests__/config/toml-loader.test.ts
  packages/core/src/config/config.schema.json
  packages/core/src/config/toml-loader.ts
  packages/core/src/index.ts
Due: core, @semiont/core

frontend -> browser stragglers
  .github/ACTIONS.md
  .github/dependabot.yml
  .github/workflows/accessibility-tests.yml
  .github/workflows/architecture-compliance.yml
  .github/workflows/ci.yml
  .github/workflows/publish-browser.yml
  .github/workflows/publish-npm-packages.yml
  .github/workflows/publish-service-images.yml
  .gitignore
  apps/browser/Dockerfile
  apps/browser/docs/CONTAINER.md
  apps/browser/package.publish.json
  apps/browser/scripts/generate-compliance-report.sh
  apps/browser/scripts/generate-test-compliance-report.sh
  apps/browser/scripts/merge-translations.js
  apps/browser/scripts/performance-monitor.js
  apps/browser/src/test-utils.tsx
  docs/development/TESTING.md
  packages/core/src/__tests__/config/toml-loader.test.ts
  packages/core/src/config/toml-loader.ts
  scripts/compliance/README.md
  scripts/compliance/audit-all-compliance.sh
  scripts/compliance/audit-gathered-context-component-state.sh
  scripts/compliance/docs/TENETS-REACT-UI.md
Due: core, @semiont/core

frontend -> browser stragglers
  apps/browser/Dockerfile
  apps/launcher/README.md
  apps/launcher/internal/launcher/flows.go
  apps/launcher/launcher_test.go
  docs/system/administration/CONFIGURATION.md
Due: none

rm migrateBrowser
  apps/launcher/internal/launcher/statefile.go
Due: none

statefile schema 3
  apps/launcher/internal/launcher/statefile.go
  apps/launcher/launcher_test.go
Due: none

rm exchange, phase 2
  apps/backend/docs/AUTHENTICATION.md
  apps/backend/src/index.ts
  apps/backend/src/routes/exchange.ts
  docs/protocol/RBAC.md
  docs/protocol/TRANSPORT-CONTRACT.md
  packages/core/src/index.ts
  packages/core/src/transport.ts
  packages/http-transport/src/transport/__tests__/http-transport.http-paths.test.ts
  packages/http-transport/src/transport/http-transport.ts
  packages/sdk/docs/REACTIVE-MODEL.md
  packages/sdk/docs/Usage.md
  packages/sdk/src/__tests__/client-passthroughs.test.ts
  packages/sdk/src/namespaces/__tests__/commands.test.ts
  packages/sdk/src/namespaces/__tests__/ui-signals.test.ts
  packages/sdk/src/namespaces/admin.ts
  packages/sdk/src/namespaces/types.ts
  packages/sdk/src/testing.ts
  specs/src/openapi.json
  specs/src/paths/api_admin_exchange_backup.json
  specs/src/paths/api_admin_exchange_restore.json
  specs/src/paths/api_moderate_exchange_export.json
  specs/src/paths/api_moderate_exchange_import.json
Due: core, backend, @semiont/core

rm exchange, phase 3
  docs/protocol/EXCHANGE.md
  docs/system/administration/BACKUP.md
  packages/make-meaning/src/__tests__/exchange/backup-exporter.test.ts
  packages/make-meaning/src/__tests__/exchange/backup-importer.test.ts
  packages/make-meaning/src/__tests__/exchange/linked-data-exporter.test.ts
  packages/make-meaning/src/__tests__/exchange/linked-data-importer.test.ts
  packages/make-meaning/src/__tests__/exchange/manifest.test.ts
  packages/make-meaning/src/__tests__/exchange/replay.test.ts
  packages/make-meaning/src/__tests__/exchange/tar.test.ts
  packages/make-meaning/src/__tests__/handlers/annotation-assembly.test.ts
  packages/make-meaning/src/exchange/await-reply.ts
  packages/make-meaning/src/exchange/backup-exporter.ts
  packages/make-meaning/src/exchange/backup-importer.ts
  packages/make-meaning/src/exchange/index.ts
  packages/make-meaning/src/exchange/linked-data-exporter.ts
  packages/make-meaning/src/exchange/linked-data-importer.ts
  packages/make-meaning/src/exchange/manifest.ts
  packages/make-meaning/src/exchange/replay.ts
  packages/make-meaning/src/exchange/tar.ts
  packages/make-meaning/src/handlers/annotation-assembly.ts
  packages/make-meaning/src/index.ts
Due: make-meaning, @semiont/make-meaning

rm exchange, phase 4
  apps/launcher/internal/launcher/export.go
  apps/launcher/internal/launcher/export_test.go
  apps/launcher/main.go
Due: none

rm exchange, phase 5
  apps/launcher/internal/launcher/importcmd.go
  apps/launcher/internal/launcher/importcmd_test.go
  apps/launcher/main.go
Due: none

browser rename stragglers
  .github/ACTIONS.md
  apps/browser/RUNTIME.md
  apps/browser/docs/DEVELOPMENT.md
  apps/browser/docs/FUTURE.md
  apps/browser/docs/TESTING.md
  apps/desktop/README.md
  docs/development/RELEASE.md
  docs/development/TESTING.md
  docs/system/CONTAINER-TOPOLOGY.md
  docs/system/LOCAL-BACKEND.md
  docs/system/LOCAL-SEMIONT.md
  docs/system/PACKAGE-ARCHITECTURE.md
  docs/system/PROJECT-LAYOUT.md
  docs/system/README.md
  docs/system/administration/DEPLOYMENT.md
  docs/system/administration/TROUBLESHOOTING.md
  docs/system/services/OVERVIEW.md
  tests/e2e/README.md
  tests/e2e/docs/bus-logging.md
  tests/e2e/docs/containers.md
  tests/e2e/docs/live-monitoring.md
  tests/e2e/docs/page-errors.md
  tests/e2e/docs/running.md
Due: none

export/import relocation cleanup
  scripts/lint/css-classes-baseline.json
Due: none

export/import relocation cleanup
  apps/launcher/internal/launcher/export.go
  apps/launcher/internal/launcher/importcmd.go
  docs/protocol/EXCHANGE.md
  docs/protocol/README.md
  docs/system/administration/BACKUP.md
  packages/core/src/transport.ts
  packages/react-ui/README.md
  packages/react-ui/src/styles/features/exchange.css
  packages/react-ui/src/styles/index.css
  packages/sdk-go/client_gen.go
Due: core, react-ui, @semiont/core, @semiont/react-ui

extract archivist (stower, browser, clonetokenmanager), phase 1 and 2a
  apps/backend/src/__tests__/integration/api-endpoints.test.ts
  apps/backend/src/__tests__/setup.ts
  apps/backend/src/cli/rebuild-projections.ts
  apps/backend/src/index.ts
  apps/backend/src/utils/config.ts
  packages/event-sourcing/src/index.ts
  packages/event-sourcing/src/query/event-query.ts
  packages/make-meaning/Dockerfile.archivist
  packages/make-meaning/NOTICE.archivist
  packages/make-meaning/package.json
  packages/make-meaning/rollup.dts.config.mjs
  packages/make-meaning/src/__tests__/archivist-decoupling.test.ts
  packages/make-meaning/src/__tests__/archivist-read-path.test.ts
  packages/make-meaning/src/__tests__/browser-anchored-text.test.ts
  packages/make-meaning/src/__tests__/browser.test.ts
  packages/make-meaning/src/__tests__/limits-discovery.test.ts
  packages/make-meaning/src/annotation-context.ts
  packages/make-meaning/src/archivist-main.ts
  packages/make-meaning/src/archivist-read-path.ts
  packages/make-meaning/src/browser.ts
  packages/make-meaning/src/clone-token-manager.ts
  packages/make-meaning/src/config.ts
  packages/make-meaning/src/graph-read-grace.ts
  packages/make-meaning/src/index.ts
  packages/make-meaning/src/knowledge-base.ts
  packages/make-meaning/src/read-anchored-text.ts
  packages/make-meaning/src/resource-context.ts
  packages/make-meaning/src/resource-graph.ts
  packages/make-meaning/src/service.ts
  packages/make-meaning/src/stower.ts
  packages/make-meaning/tsup.config.ts
Due: event-sourcing, make-meaning, backend, @semiont/event-sourcing, @semiont/make-meaning

archivist in launcher
  apps/launcher/internal/launcher/confgen.go
  apps/launcher/internal/launcher/flows.go
  apps/launcher/internal/launcher/rootstate.go
  apps/launcher/internal/launcher/start.go
  apps/launcher/testdata/golden/start-default-boot.argv
  apps/launcher/testdata/golden/start-docker-boot.argv
  apps/launcher/testdata/golden/start-dryrun-default.txt
  apps/launcher/testdata/golden/start-dryrun-local.txt
  apps/launcher/testdata/golden/start-host-ollama-boot.argv
  apps/launcher/testdata/golden/start-local-version-boot.argv
  apps/launcher/testdata/golden/start-no-observe-boot.argv
  packages/core/src/__tests__/config/toml-loader.test.ts
  packages/core/src/config/toml-loader.ts
Due: core, @semiont/core

explicit memory ceilings for every container, and a memory preflight
  apps/launcher/README.md
  apps/launcher/internal/launcher/flows.go
  apps/launcher/internal/launcher/memory.go
  apps/launcher/internal/launcher/memory_test.go
  apps/launcher/internal/launcher/plan.go
  apps/launcher/internal/launcher/service.go
  apps/launcher/internal/launcher/start.go
  apps/launcher/testdata/golden/start-default-boot.argv
  apps/launcher/testdata/golden/start-docker-boot.argv
  apps/launcher/testdata/golden/start-dryrun-default.txt
  apps/launcher/testdata/golden/start-dryrun-local.txt
  apps/launcher/testdata/golden/start-host-ollama-boot.argv
  apps/launcher/testdata/golden/start-local-version-boot.argv
  apps/launcher/testdata/golden/start-no-observe-boot.argv
Due: none

repair go drift
  packages/sdk-go/client_gen.go
Due: none

add archivist to local build
  scripts/ci/local-build.sh
Due: none

archivist config
  apps/launcher/internal/launcher/confgen.go
  apps/launcher/internal/launcher/executor.go
  apps/launcher/internal/launcher/flows.go
  apps/launcher/internal/launcher/plan.go
  apps/launcher/internal/launcher/staging_test.go
  apps/launcher/internal/launcher/start.go
  apps/launcher/testdata/golden/start-default-boot.argv
  apps/launcher/testdata/golden/start-docker-boot.argv
  apps/launcher/testdata/golden/start-dryrun-default.txt
  apps/launcher/testdata/golden/start-dryrun-local.txt
  apps/launcher/testdata/golden/start-host-ollama-boot.argv
  apps/launcher/testdata/golden/start-local-version-boot.argv
  apps/launcher/testdata/golden/start-no-observe-boot.argv
Due: none

archivist e2e tests
  tests/e2e/p3v-d4b.mjs
  tests/e2e/p3v-red1.mjs
Due: none

improve test coverage
  packages/make-meaning/src/__tests__/config.test.ts
  packages/make-meaning/src/__tests__/job-status-channel.test.ts
  packages/make-meaning/src/__tests__/service.test.ts
  packages/make-meaning/src/__tests__/stower-job-events.test.ts
Due: none

optimize local build
  apps/backend/Dockerfile
  apps/browser/Dockerfile
  scripts/ci/local-build.sh
Due: backend

skip unnecessary image builds
  scripts/ci/local-build.sh
Due: none

more e2e tests
  tests/e2e/fixtures/generate.ts
  tests/e2e/p3v-d4b.mjs
  tests/e2e/p3v-red1.mjs
  tests/e2e/specs/26-generate-output-format.spec.ts
  tests/e2e/specs/27-generate-default-save-location.spec.ts
Due: none

extract librarian, phase 1
  packages/make-meaning/Dockerfile.librarian
  packages/make-meaning/NOTICE.librarian
  packages/make-meaning/package.json
  packages/make-meaning/rollup.dts.config.mjs
  packages/make-meaning/src/__tests__/librarian-decoupling.test.ts
  packages/make-meaning/src/knowledge-system.ts
  packages/make-meaning/src/librarian-main.ts
  packages/make-meaning/src/matcher.ts
  packages/make-meaning/src/service.ts
  packages/make-meaning/tsup.config.ts
Due: make-meaning, @semiont/make-meaning

extract librarian: launcher
  .github/workflows/publish-service-images.yml
  apps/launcher/internal/launcher/executor.go
  apps/launcher/internal/launcher/flows.go
  apps/launcher/internal/launcher/logs.go
  apps/launcher/internal/launcher/memory.go
  apps/launcher/internal/launcher/memory_test.go
  apps/launcher/internal/launcher/plan.go
  apps/launcher/internal/launcher/service.go
  apps/launcher/internal/launcher/start.go
  apps/launcher/internal/launcher/status.go
  apps/launcher/internal/launcher/stop.go
  apps/launcher/launcher_test.go
  apps/launcher/testdata/golden/start-default-boot.argv
  apps/launcher/testdata/golden/start-docker-boot.argv
  apps/launcher/testdata/golden/start-dryrun-default.txt
  apps/launcher/testdata/golden/start-dryrun-local.txt
  apps/launcher/testdata/golden/start-host-ollama-boot.argv
  apps/launcher/testdata/golden/start-local-version-boot.argv
  apps/launcher/testdata/golden/start-no-observe-boot.argv
  apps/launcher/testdata/golden/stop-all-runtimes.argv
  apps/launcher/testdata/golden/stop-docker-only.argv
  apps/launcher/testdata/golden/stop-dryrun.txt
  scripts/ci/local-build.sh
Due: none

cruft removal
  apps/launcher/internal/launcher/start.go
  apps/launcher/testdata/golden/start-default-boot.argv
  apps/launcher/testdata/golden/start-docker-boot.argv
  apps/launcher/testdata/golden/start-dryrun-default.txt
  apps/launcher/testdata/golden/start-dryrun-local.txt
  apps/launcher/testdata/golden/start-host-ollama-boot.argv
  apps/launcher/testdata/golden/start-local-version-boot.argv
  apps/launcher/testdata/golden/start-no-observe-boot.argv
Due: none

mv Gatherer to Librarian
  packages/make-meaning/src/__tests__/annotation-context.test.ts
  packages/make-meaning/src/__tests__/annotation-operations.test.ts
  packages/make-meaning/src/__tests__/gathered-context-spec-validity.test.ts
  packages/make-meaning/src/__tests__/gatherer-decoupling.test.ts
  packages/make-meaning/src/__tests__/gatherer.test.ts
  packages/make-meaning/src/__tests__/graph-context.test.ts
  packages/make-meaning/src/__tests__/graph-read-grace.test.ts
  packages/make-meaning/src/__tests__/handlers/annotation-assembly.test.ts
  packages/make-meaning/src/__tests__/llm-context.test.ts
  packages/make-meaning/src/__tests__/matcher.test.ts
  packages/make-meaning/src/__tests__/resource-context.test.ts
  packages/make-meaning/src/annotation-context.ts
  packages/make-meaning/src/annotation-operations.ts
  packages/make-meaning/src/gatherer.ts
  packages/make-meaning/src/graph-context.ts
  packages/make-meaning/src/handlers/annotation-lookups.ts
  packages/make-meaning/src/handlers/index.ts
  packages/make-meaning/src/index.ts
  packages/make-meaning/src/knowledge-base.ts
  packages/make-meaning/src/knowledge-system.ts
  packages/make-meaning/src/librarian-main.ts
  packages/make-meaning/src/llm-context.ts
  packages/make-meaning/src/resource-context.ts
  packages/make-meaning/src/service.ts
Due: make-meaning, @semiont/make-meaning

update comments
  apps/backend/src/index.ts
  apps/backend/src/routes/resources/routes/get-uri.ts
  apps/backend/src/utils/event-bus-request.ts
Due: backend

Annotation overlay: build spans from offsets, never live Ranges — overlap no longer corrupts geometry or freezes the viewer
  packages/react-ui/src/components/resource/BrowseView.tsx
  packages/react-ui/src/components/resource/__tests__/BrowseView.reference-hover.test.tsx
  packages/react-ui/src/components/resource/__tests__/BrowseView.test.tsx
  packages/react-ui/src/lib/__tests__/annotation-overlay.test.ts
  packages/react-ui/src/lib/annotation-overlay.ts
Due: react-ui, @semiont/react-ui

close test coverage gap
  packages/make-meaning/src/__tests__/annotation-context.test.ts
Due: none

update docs
  packages/make-meaning/docs/api-reference.md
  packages/make-meaning/docs/examples.md
Due: make-meaning, @semiont/make-meaning

update docs
  packages/make-meaning/docs/api-reference.md
  packages/make-meaning/docs/architecture.md
  packages/make-meaning/docs/examples.md
Due: make-meaning, @semiont/make-meaning

Batch 10 Dependabot updates
  .github/workflows/codeql-analysis.yml
  apps/browser/package.json
  package-lock.json
  packages/graph/package.json
  packages/inference/package.json
  packages/react-ui/package.json
Due: graph, inference, react-ui, @semiont/graph, @semiont/inference, @semiont/react-ui
