Repository The-AI-Alliance/semiont: changes, and which Codecov flags are due for each by the changed paths.
All: api-client, content, core, event-sourcing, graph, inference, jobs, make-meaning, mcp-server, ontology, react-ui, frontend, backend, @semiont/core, @semiont/api-client, @semiont/ontology, @semiont/content, @semiont/event-sourcing, @semiont/graph, @semiont/inference, @semiont/jobs, @semiont/make-meaning, @semiont/react-ui

codecov.yml:

# Codecov configuration for Semiont monorepo
# https://docs.codecov.io/docs/codecovyml-reference

codecov:
  # Require CI to finish before processing coverage
  require_ci_to_pass: true

  # Wait for all coverage reports before commenting
  notify:
    wait_for_ci: true

coverage:
  # Overall project coverage settings
  status:
    # Project-wide coverage status
    project:
      default:
        # Coverage can drop by 1% without failing
        threshold: 1%
        target: 70%  # Target 70% overall coverage

    # Per-PR patch coverage
    patch:
      default:
        # New code should have at least 80% coverage
        target: 80%
        threshold: 5%

  # Round coverage to 2 decimal places
  precision: 2
  round: down

  # Coverage range for color coding
  range: "50...90"

# Component-specific coverage configuration
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 1%
  individual_components:
    # Core packages with higher coverage requirements
    - component_id: core
      name: "@semiont/core"
      paths:
        - packages/core/**
    - component_id: api-client
      name: "@semiont/api-client"
      paths:
        - packages/api-client/**
    - component_id: ontology
      name: "@semiont/ontology"
      paths:
        - packages/ontology/**
    - component_id: content
      name: "@semiont/content"
      paths:
        - packages/content/**
    - component_id: event-sourcing
      name: "@semiont/event-sourcing"
      paths:
        - packages/event-sourcing/**
    - component_id: graph
      name: "@semiont/graph"
      paths:
        - packages/graph/**
    - component_id: inference
      name: "@semiont/inference"
      paths:
        - packages/inference/**
    - component_id: jobs
      name: "@semiont/jobs"
      paths:
        - packages/jobs/**
    - component_id: make-meaning
      name: "@semiont/make-meaning"
      paths:
        - packages/make-meaning/**
    - component_id: react-ui
      name: "@semiont/react-ui"
      paths:
        - packages/react-ui/**

# Ignore certain files from coverage
ignore:
  # Test files
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/*.spec.tsx"
  - "**/test/**"
  - "**/tests/**"
  - "**/__tests__/**"
  - "**/test-utils/**"

  # Build artifacts
  - "**/dist/**"
  - "**/build/**"
  - "**/coverage/**"
  - "**/.next/**"

  # Config files
  - "**/*.config.ts"
  - "**/*.config.js"
  - "**/jest.setup.ts"

  # Generated files
  - "**/generated/**"
  - "packages/api-client/src/types.ts"

  # Examples and demos
  - "**/examples/**"
  - "**/demo/**"

  # Scripts
  - "scripts/**"

# Comment configuration
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Flag configuration for different test suites
flags:
  # Individual package flags
  api-client:
    paths:
      - packages/api-client/**
    carryforward: true

  content:
    paths:
      - packages/content/**
    carryforward: true

  core:
    paths:
      - packages/core/**
    carryforward: true

  event-sourcing:
    paths:
      - packages/event-sourcing/**
    carryforward: true

  graph:
    paths:
      - packages/graph/**
    carryforward: true

  inference:
    paths:
      - packages/inference/**
    carryforward: true

  jobs:
    paths:
      - packages/jobs/**
    carryforward: true

  make-meaning:
    paths:
      - packages/make-meaning/**
    carryforward: true

  mcp-server:
    paths:
      - packages/mcp-server/**
    carryforward: true

  ontology:
    paths:
      - packages/ontology/**
    carryforward: true

  react-ui:
    paths:
      - packages/react-ui/**
    carryforward: true

  # App flags (for future use)
  frontend:
    paths:
      - apps/frontend/**
    carryforward: true

  backend:
    paths:
      - apps/backend/**
    carryforward: true

move jobs from backend to make-meaning
  apps/backend/src/__tests__/jobs/detection-worker-events.test.ts
  apps/backend/src/__tests__/jobs/generation-worker-events.test.ts
  apps/backend/src/__tests__/routes/entity-detection-charset.test.ts
  apps/backend/src/index.ts
  apps/backend/src/routes/jobs/index.ts
  apps/backend/src/routes/resources/routes/create-annotation.ts
  apps/backend/src/routes/resources/routes/token.ts
  apps/backend/src/services/__tests__/annotation-crud-service.test.ts
  apps/backend/src/services/__tests__/resource-operations.test.ts
  apps/backend/src/services/annotation-crud-service.ts
  apps/backend/src/services/event-store-service.ts
  apps/backend/src/services/resource-operations.ts
  apps/backend/src/utils/id-generator.ts
  packages/event-sourcing/package.json
  packages/event-sourcing/src/event-store-factory.ts
  packages/event-sourcing/src/identifier-utils.ts
  packages/event-sourcing/src/index.ts
  packages/make-meaning/src/index.ts
  packages/make-meaning/src/jobs/workers/assessment-detection-worker.ts
  packages/make-meaning/src/jobs/workers/comment-detection-worker.ts
  packages/make-meaning/src/jobs/workers/generation-worker.ts
  packages/make-meaning/src/jobs/workers/highlight-detection-worker.ts
  packages/make-meaning/src/jobs/workers/reference-detection-worker.ts
  packages/make-meaning/src/jobs/workers/tag-detection-worker.ts
Due: event-sourcing, make-meaning, backend, @semiont/event-sourcing, @semiont/make-meaning

simplify unnecessary type checks on job
  apps/backend/src/routes/jobs/index.ts
Due: backend

fix job queue initialization
  apps/backend/src/__tests__/jobs/detection-worker-events.test.ts
  apps/backend/src/__tests__/jobs/generation-worker-events.test.ts
  apps/backend/src/__tests__/routes/entity-detection-charset.test.ts
  apps/backend/src/index.ts
  apps/backend/src/routes/jobs/index.ts
  packages/jobs/src/job-worker.ts
  packages/make-meaning/src/jobs/workers/assessment-detection-worker.ts
  packages/make-meaning/src/jobs/workers/comment-detection-worker.ts
  packages/make-meaning/src/jobs/workers/generation-worker.ts
  packages/make-meaning/src/jobs/workers/highlight-detection-worker.ts
  packages/make-meaning/src/jobs/workers/reference-detection-worker.ts
  packages/make-meaning/src/jobs/workers/tag-detection-worker.ts
Due: jobs, make-meaning, backend, @semiont/jobs, @semiont/make-meaning

adjust routes for new job queue
  apps/backend/src/index.ts
  apps/backend/src/routes/resources/index.ts
  apps/backend/src/routes/resources/routes/detect-annotations-stream.ts
  apps/backend/src/routes/resources/routes/detect-assessments-stream.ts
  apps/backend/src/routes/resources/routes/detect-comments-stream.ts
  apps/backend/src/routes/resources/routes/detect-highlights-stream.ts
  apps/backend/src/routes/resources/routes/detect-tags-stream.ts
  apps/backend/src/routes/resources/routes/generate-resource-stream.ts
Due: backend

fix dependencies of make-meaning
  packages/make-meaning/package.json
Due: make-meaning, @semiont/make-meaning

update docs for jobs located in make-meaning
  docs/ai/DETECTION.md
  docs/ai/GENERATION.md
  packages/make-meaning/README.md
  packages/make-meaning/docs/api-reference.md
  packages/make-meaning/docs/architecture.md
  packages/make-meaning/docs/examples.md
  packages/make-meaning/docs/job-workers.md
Due: make-meaning, @semiont/make-meaning

fix build
  .github/workflows/package-tests.yml
Due: none

fix backend tests
  apps/backend/src/__tests__/jobs/detection-worker-events.test.ts
  apps/backend/src/__tests__/routes/entity-detection-charset.test.ts
Due: none

fix test
  apps/backend/src/__tests__/routes/entity-detection-charset.test.ts
Due: none

fix tests
  apps/backend/src/__tests__/jobs/detection-worker-events.test.ts
Due: none

fix tests
  apps/backend/src/__tests__/_test-setup.ts
  apps/backend/src/__tests__/jobs/detection-worker-events.test.ts
Due: none

removed unnecessary event-store-service mock that was interfering with other tests
  apps/backend/src/__tests__/jobs/detection-worker-events.test.ts
  apps/backend/src/services/__tests__/event-store-service.test.ts
Due: none

fix tests
  apps/backend/src/__tests__/jobs/detection-worker-events.test.ts
  apps/backend/src/__tests__/jobs/generation-worker-events.test.ts
Due: none

fix port contention
  apps/backend/src/__tests__/setup.ts
Due: none

rm test
  apps/backend/src/__tests__/setup.ts
  apps/backend/src/index.ts
  apps/backend/src/services/__tests__/event-store-service.test.ts
Due: backend

Added NODE_ENV to mock, created job directories
  apps/backend/src/__tests__/setup.ts
Due: none

Use shared testDir from setup
  apps/backend/src/__tests__/routes/detect-annotations-stream.test.ts
  apps/backend/src/__tests__/routes/detect-assessments-stream.test.ts
  apps/backend/src/__tests__/routes/detect-comments-stream.test.ts
  apps/backend/src/__tests__/routes/detect-highlights-stream.test.ts
  apps/backend/src/__tests__/setup.ts
Due: none

State-Based Job Types
  packages/jobs/src/__tests__/job-queue.test.ts
  packages/jobs/src/index.ts
  packages/jobs/src/job-queue.ts
  packages/jobs/src/job-worker.ts
  packages/jobs/src/types.ts
  packages/make-meaning/src/jobs/workers/assessment-detection-worker.ts
  packages/make-meaning/src/jobs/workers/comment-detection-worker.ts
  packages/make-meaning/src/jobs/workers/generation-worker.ts
  packages/make-meaning/src/jobs/workers/highlight-detection-worker.ts
  packages/make-meaning/src/jobs/workers/reference-detection-worker.ts
  packages/make-meaning/src/jobs/workers/tag-detection-worker.ts
Due: jobs, make-meaning, @semiont/jobs, @semiont/make-meaning

update docs and examples for @semiont/jobs
  packages/jobs/README.md
  packages/jobs/docs/Configuration.md
  packages/jobs/docs/JobQueue.md
  packages/jobs/docs/JobTypes.md
  packages/jobs/docs/Workers.md
  packages/jobs/examples/basic.ts
Due: jobs, @semiont/jobs

update backend for new @semiont/jobs with new state-based job types
  apps/backend/src/__tests__/jobs/detection-worker-events.test.ts
  apps/backend/src/__tests__/jobs/generation-worker-events.test.ts
  apps/backend/src/routes/jobs/index.ts
  apps/backend/src/routes/resources/routes/detect-annotations-stream.ts
  apps/backend/src/routes/resources/routes/detect-assessments-stream.ts
  apps/backend/src/routes/resources/routes/detect-comments-stream.ts
  apps/backend/src/routes/resources/routes/detect-highlights-stream.ts
  apps/backend/src/routes/resources/routes/detect-tags-stream.ts
  apps/backend/src/routes/resources/routes/generate-resource-stream.ts
Due: backend

fix tests
  apps/backend/src/__tests__/jobs/detection-worker-events.test.ts
  apps/backend/src/__tests__/jobs/generation-worker-events.test.ts
  packages/jobs/src/types.ts
  packages/make-meaning/src/jobs/workers/generation-worker.ts
Due: jobs, make-meaning, @semiont/jobs, @semiont/make-meaning

fetching
  apps/backend/src/__tests__/jobs/generation-worker-events.test.ts
Due: none

state-based job types (#422)
  apps/backend/src/__tests__/jobs/detection-worker-events.test.ts
  apps/backend/src/__tests__/jobs/generation-worker-events.test.ts
  apps/backend/src/routes/jobs/index.ts
  apps/backend/src/routes/resources/routes/detect-annotations-stream.ts
  apps/backend/src/routes/resources/routes/detect-assessments-stream.ts
  apps/backend/src/routes/resources/routes/detect-comments-stream.ts
  apps/backend/src/routes/resources/routes/detect-highlights-stream.ts
  apps/backend/src/routes/resources/routes/detect-tags-stream.ts
  apps/backend/src/routes/resources/routes/generate-resource-stream.ts
  packages/jobs/README.md
  packages/jobs/docs/Configuration.md
  packages/jobs/docs/JobQueue.md
  packages/jobs/docs/JobTypes.md
  packages/jobs/docs/Workers.md
  packages/jobs/examples/basic.ts
  packages/jobs/src/__tests__/job-queue.test.ts
  packages/jobs/src/index.ts
  packages/jobs/src/job-queue.ts
  packages/jobs/src/job-worker.ts
  packages/jobs/src/types.ts
  packages/make-meaning/src/jobs/workers/assessment-detection-worker.ts
  packages/make-meaning/src/jobs/workers/comment-detection-worker.ts
  packages/make-meaning/src/jobs/workers/generation-worker.ts
  packages/make-meaning/src/jobs/workers/highlight-detection-worker.ts
  packages/make-meaning/src/jobs/workers/reference-detection-worker.ts
  packages/make-meaning/src/jobs/workers/tag-detection-worker.ts
Due: jobs, make-meaning, backend, @semiont/jobs, @semiont/make-meaning

simplify infrastructure view from backend by creating startMakingMeaning in semiont/make-meaning
  apps/backend/src/__tests__/events/graph-consumer.test.ts
  apps/backend/src/cli/rebuild-graph.ts
  apps/backend/src/index.ts
  apps/backend/src/services/resource-operations.ts
  packages/make-meaning/README.md
  packages/make-meaning/src/graph/consumer.ts
  packages/make-meaning/src/index.ts
  packages/make-meaning/src/service.ts
Due: make-meaning, backend, @semiont/make-meaning

jobs/workers -> jobs
  packages/make-meaning/docs/api-reference.md
  packages/make-meaning/docs/job-workers.md
  packages/make-meaning/src/index.ts
  packages/make-meaning/src/jobs/assessment-detection-worker.ts
  packages/make-meaning/src/jobs/comment-detection-worker.ts
  packages/make-meaning/src/jobs/generation-worker.ts
  packages/make-meaning/src/jobs/highlight-detection-worker.ts
  packages/make-meaning/src/jobs/reference-detection-worker.ts
  packages/make-meaning/src/jobs/tag-detection-worker.ts
  packages/make-meaning/src/service.ts
Due: make-meaning, @semiont/make-meaning

move prompts, parsing, etc (application) from @semiont/inference to @semiont/make-meaning
  apps/backend/src/__tests__/routes/entity-detection-charset.test.ts
  apps/backend/src/services/__tests__/llm-context-service.test.ts
  apps/backend/src/services/llm-context-service.ts
  packages/inference/README.md
  packages/inference/examples/basic.ts
  packages/inference/src/factory.ts
  packages/inference/src/index.ts
  packages/make-meaning/README.md
  packages/make-meaning/src/annotation-context.ts
  packages/make-meaning/src/annotation-detection.ts
  packages/make-meaning/src/detection/entity-extractor.ts
  packages/make-meaning/src/detection/motivation-parsers.ts
  packages/make-meaning/src/detection/motivation-prompts.ts
  packages/make-meaning/src/generation/resource-generation.ts
  packages/make-meaning/src/index.ts
  packages/make-meaning/src/jobs/assessment-detection-worker.ts
  packages/make-meaning/src/jobs/comment-detection-worker.ts
  packages/make-meaning/src/jobs/generation-worker.ts
  packages/make-meaning/src/jobs/highlight-detection-worker.ts
  packages/make-meaning/src/jobs/reference-detection-worker.ts
  packages/make-meaning/src/jobs/tag-detection-worker.ts
Due: inference, make-meaning, backend, @semiont/inference, @semiont/make-meaning

fix test errors
  apps/backend/src/__tests__/_test-setup.ts
  apps/backend/src/__tests__/auth/auth-integration.test.ts
  apps/backend/src/__tests__/auth/password-auth.test.ts
  apps/backend/src/__tests__/index.test.ts
  apps/backend/src/__tests__/jobs/detection-worker-events.test.ts
  apps/backend/src/__tests__/jobs/generation-worker-events.test.ts
  apps/backend/src/__tests__/route-auth-coverage.test.ts
  apps/backend/src/__tests__/routes/detect-comments-stream.test.ts
  apps/backend/src/__tests__/routes/entity-detection-charset.test.ts
  apps/backend/src/__tests__/security-controls.test.ts
  apps/backend/src/__tests__/w3c-uri-auth.test.ts
  apps/backend/src/services/__tests__/llm-context-service.test.ts
Due: none

test fixes
  apps/backend/src/__tests__/routes/detect-annotations-stream.test.ts
  apps/backend/src/__tests__/routes/detect-assessments-stream.test.ts
  apps/backend/src/__tests__/routes/detect-highlights-stream.test.ts
  apps/backend/src/__tests__/routes/entity-detection-charset.test.ts
Due: none

organize tests
  apps/backend/src/__tests__/routes/detect-annotations-stream.test.ts
  apps/backend/src/__tests__/routes/detect-assessments-stream.test.ts
  apps/backend/src/__tests__/routes/detect-comments-stream.test.ts
  apps/backend/src/__tests__/routes/detect-highlights-stream.test.ts
  packages/make-meaning/src/__tests__/detection/entity-extractor-charset.test.ts
  packages/make-meaning/src/__tests__/setup.ts
  packages/make-meaning/vitest.config.ts
Due: none

move tests to packages/make-meaning/src/__tests__/
  packages/make-meaning/src/__tests__/detection/entity-extractor-charset.test.ts
  packages/make-meaning/src/__tests__/jobs/reference-detection-worker-events.test.ts
Due: none

fix tests
  apps/backend/src/__tests__/routes/detect-annotations-stream.test.ts
  apps/backend/src/__tests__/routes/detect-assessments-stream.test.ts
  apps/backend/src/__tests__/routes/detect-comments-stream.test.ts
  apps/backend/src/__tests__/routes/detect-highlights-stream.test.ts
  packages/make-meaning/src/__tests__/detection/entity-extractor-charset.test.ts
  packages/make-meaning/src/__tests__/jobs/reference-detection-worker-events.test.ts
Due: none

simplify test
  apps/backend/src/__tests__/routes/detect-annotations-stream.test.ts
Due: none

core make-meaning tests
  packages/make-meaning/src/__tests__/annotation-context.test.ts
  packages/make-meaning/src/__tests__/detection/entity-extractor.test.ts
  packages/make-meaning/src/__tests__/detection/motivation-parsers.test.ts
  packages/make-meaning/src/__tests__/detection/motivation-prompts.test.ts
  packages/make-meaning/src/__tests__/generation/resource-generation.test.ts
  packages/make-meaning/src/__tests__/graph-context.test.ts
  packages/make-meaning/src/__tests__/graph/consumer.test.ts
  packages/make-meaning/src/__tests__/jobs/assessment-detection-worker.test.ts
  packages/make-meaning/src/__tests__/jobs/comment-detection-worker.test.ts
  packages/make-meaning/src/__tests__/jobs/generation-worker.test.ts
  packages/make-meaning/src/__tests__/jobs/highlight-detection-worker.test.ts
  packages/make-meaning/src/__tests__/jobs/tag-detection-worker.test.ts
Due: none

fix typecheck issues in tests
  packages/make-meaning/src/__tests__/annotation-context.test.ts
  packages/make-meaning/src/__tests__/detection/entity-extractor.test.ts
  packages/make-meaning/src/__tests__/generation/resource-generation.test.ts
  packages/make-meaning/src/__tests__/graph-context.test.ts
  packages/make-meaning/src/__tests__/graph/consumer.test.ts
  packages/make-meaning/src/__tests__/jobs/assessment-detection-worker.test.ts
  packages/make-meaning/src/__tests__/jobs/comment-detection-worker.test.ts
  packages/make-meaning/src/__tests__/jobs/generation-worker.test.ts
  packages/make-meaning/src/__tests__/jobs/highlight-detection-worker.test.ts
  packages/make-meaning/src/__tests__/jobs/tag-detection-worker.test.ts
Due: none

fix typecheck issues in tests
  packages/make-meaning/src/__tests__/annotation-context.test.ts
  packages/make-meaning/src/__tests__/detection/entity-extractor.test.ts
  packages/make-meaning/src/__tests__/graph-context.test.ts
  packages/make-meaning/src/__tests__/graph/consumer.test.ts
  packages/make-meaning/src/__tests__/jobs/assessment-detection-worker.test.ts
  packages/make-meaning/src/__tests__/jobs/comment-detection-worker.test.ts
  packages/make-meaning/src/__tests__/jobs/generation-worker.test.ts
  packages/make-meaning/src/__tests__/jobs/highlight-detection-worker.test.ts
  packages/make-meaning/src/__tests__/jobs/tag-detection-worker.test.ts
Due: none

fix typecheck issues in tests
  packages/make-meaning/src/__tests__/annotation-context.test.ts
  packages/make-meaning/src/__tests__/graph-context.test.ts
  packages/make-meaning/src/__tests__/graph/consumer.test.ts
  packages/make-meaning/src/__tests__/jobs/generation-worker.test.ts
Due: none

job queue tests
  packages/jobs/src/__tests__/job-queue.test.ts
Due: none

favicon path fix
  apps/frontend/scripts/copy-favicons.js
Due: frontend
