Repository The-AI-Alliance/semiont: changes, and which Codecov flags are due for each by the changed paths.
All: api-client, content, core, event-sourcing, graph, inference, jobs, make-meaning, mcp-server, ontology, react-ui, frontend, backend, @semiont/core, @semiont/api-client, @semiont/ontology, @semiont/content, @semiont/event-sourcing, @semiont/graph, @semiont/inference, @semiont/jobs, @semiont/make-meaning, @semiont/react-ui

codecov.yml:

# Codecov configuration for Semiont monorepo
# https://docs.codecov.io/docs/codecovyml-reference

codecov:
  # Require CI to finish before processing coverage
  require_ci_to_pass: true

  # Wait for all coverage reports before commenting
  notify:
    wait_for_ci: true

coverage:
  # Overall project coverage settings
  status:
    # Project-wide coverage status
    project:
      default:
        # Coverage can drop by 1% without failing
        threshold: 1%
        target: 70%  # Target 70% overall coverage

    # Per-PR patch coverage
    patch:
      default:
        # New code should have at least 80% coverage
        target: 80%
        threshold: 5%

  # Round coverage to 2 decimal places
  precision: 2
  round: down

  # Coverage range for color coding
  range: "50...90"

# Component-specific coverage configuration
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 1%
  individual_components:
    # Core packages with higher coverage requirements
    - component_id: core
      name: "@semiont/core"
      paths:
        - packages/core/**
    - component_id: api-client
      name: "@semiont/api-client"
      paths:
        - packages/api-client/**
    - component_id: ontology
      name: "@semiont/ontology"
      paths:
        - packages/ontology/**
    - component_id: content
      name: "@semiont/content"
      paths:
        - packages/content/**
    - component_id: event-sourcing
      name: "@semiont/event-sourcing"
      paths:
        - packages/event-sourcing/**
    - component_id: graph
      name: "@semiont/graph"
      paths:
        - packages/graph/**
    - component_id: inference
      name: "@semiont/inference"
      paths:
        - packages/inference/**
    - component_id: jobs
      name: "@semiont/jobs"
      paths:
        - packages/jobs/**
    - component_id: make-meaning
      name: "@semiont/make-meaning"
      paths:
        - packages/make-meaning/**
    - component_id: react-ui
      name: "@semiont/react-ui"
      paths:
        - packages/react-ui/**

# Ignore certain files from coverage
ignore:
  # Test files
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/*.spec.tsx"
  - "**/test/**"
  - "**/tests/**"
  - "**/__tests__/**"
  - "**/test-utils/**"

  # Build artifacts
  - "**/dist/**"
  - "**/build/**"
  - "**/coverage/**"
  - "**/.next/**"

  # Config files
  - "**/*.config.ts"
  - "**/*.config.js"
  - "**/jest.setup.ts"

  # Generated files
  - "**/generated/**"
  - "packages/api-client/src/types.ts"

  # Examples and demos
  - "**/examples/**"
  - "**/demo/**"

  # Scripts
  - "scripts/**"

# Comment configuration
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Flag configuration for different test suites
flags:
  # Individual package flags
  api-client:
    paths:
      - packages/api-client/**
    carryforward: true

  content:
    paths:
      - packages/content/**
    carryforward: true

  core:
    paths:
      - packages/core/**
    carryforward: true

  event-sourcing:
    paths:
      - packages/event-sourcing/**
    carryforward: true

  graph:
    paths:
      - packages/graph/**
    carryforward: true

  inference:
    paths:
      - packages/inference/**
    carryforward: true

  jobs:
    paths:
      - packages/jobs/**
    carryforward: true

  make-meaning:
    paths:
      - packages/make-meaning/**
    carryforward: true

  mcp-server:
    paths:
      - packages/mcp-server/**
    carryforward: true

  ontology:
    paths:
      - packages/ontology/**
    carryforward: true

  react-ui:
    paths:
      - packages/react-ui/**
    carryforward: true

  # App flags (for future use)
  frontend:
    paths:
      - apps/frontend/**
    carryforward: true

  backend:
    paths:
      - apps/backend/**
    carryforward: true

document playwright:v1.61.0-noble
  tests/e2e/README.md
  tests/e2e/docs/containers.md
  tests/e2e/docs/running.md
Due: none

resource-level anchor e2e test
  tests/e2e/specs/15-resource-level-anchor.spec.ts
Due: none

resource level anchor test (#909)
  tests/e2e/README.md
  tests/e2e/docs/containers.md
  tests/e2e/docs/running.md
  tests/e2e/specs/15-resource-level-anchor.spec.ts
Due: none

EXCLUDE-VECTORS, 1 and 2a
  packages/make-meaning/src/__tests__/helpers/smelter-harness.ts
  packages/make-meaning/src/__tests__/smelter-axioms.test.ts
  packages/make-meaning/src/__tests__/smelter.test.ts
  packages/make-meaning/src/smelter.ts
  packages/vectors/src/__tests__/memory-store.test.ts
  packages/vectors/src/store/interface.ts
  packages/vectors/src/store/memory.ts
  packages/vectors/src/store/qdrant.ts
Due: make-meaning, @semiont/make-meaning

EXCLUDE-VECTORS, 1 and 2a (#910)
  packages/make-meaning/src/__tests__/helpers/smelter-harness.ts
  packages/make-meaning/src/__tests__/smelter-axioms.test.ts
  packages/make-meaning/src/__tests__/smelter.test.ts
  packages/make-meaning/src/smelter.ts
  packages/vectors/src/__tests__/memory-store.test.ts
  packages/vectors/src/store/interface.ts
  packages/vectors/src/store/memory.ts
  packages/vectors/src/store/qdrant.ts
Due: make-meaning, @semiont/make-meaning

Context Unification, Phase 1
  packages/core/src/__tests__/gathered-context-types.test.ts
  specs/src/components/schemas/GatherFinished.json
  specs/src/components/schemas/GatherResourceComplete.json
  specs/src/components/schemas/GatheredContext.json
  specs/src/components/schemas/KnowledgeGraph.json
  specs/src/components/schemas/ResourceLLMContextResponse.json
  specs/src/openapi.json
Due: none

Context Unification, Phase 2
  packages/make-meaning/src/__tests__/graph-context.test.ts
  packages/make-meaning/src/graph-context.ts
  packages/make-meaning/src/index.ts
  packages/make-meaning/src/llm-context.ts
Due: make-meaning, @semiont/make-meaning

Context Unification, Phase 2b
  packages/core/src/__tests__/gathered-context-types.test.ts
  specs/src/components/schemas/AnnotationLLMContextResponse.json
  specs/src/components/schemas/GatherAnnotationComplete.json
  specs/src/components/schemas/GatherAnnotationFinished.json
  specs/src/components/schemas/GatheredContext.json
  specs/src/openapi.json
Due: none

Context Unification, Phase 3
  packages/core/src/__tests__/gathered-context-types.test.ts
  packages/make-meaning/src/__tests__/annotation-context.test.ts
  packages/make-meaning/src/__tests__/gatherer.test.ts
  packages/make-meaning/src/__tests__/graph-context.test.ts
  packages/make-meaning/src/__tests__/llm-context.test.ts
  packages/make-meaning/src/annotation-context.ts
  packages/make-meaning/src/graph-context.ts
  packages/make-meaning/src/llm-context.ts
  specs/src/components/schemas/GatheredContext.json
Due: make-meaning, @semiont/make-meaning

Context Unification, Phase 3 follow-up
  packages/core/src/__tests__/knowledge-graph-views.test.ts
  packages/core/src/index.ts
  packages/core/src/knowledge-graph-views.ts
  packages/make-meaning/src/__tests__/annotation-context.test.ts
  packages/make-meaning/src/__tests__/graph-context.test.ts
  packages/make-meaning/src/annotation-context.ts
  packages/make-meaning/src/graph-context.ts
Due: core, make-meaning, @semiont/core, @semiont/make-meaning

Context Unification, Phase 4
  packages/make-meaning/src/__tests__/annotation-context.test.ts
  packages/make-meaning/src/__tests__/matcher.test.ts
  packages/make-meaning/src/matcher.ts
Due: make-meaning, @semiont/make-meaning

Context Unification, Phase 5
  packages/jobs/src/workers/generation/__tests__/resource-generation.prompt.test.ts
  packages/jobs/src/workers/generation/__tests__/resource-generation.test.ts
  packages/jobs/src/workers/generation/resource-generation.ts
  packages/make-meaning/src/__tests__/generation/resource-generation.test.ts
Due: jobs, @semiont/jobs

Context Unification, Phase 6 - SDK
  packages/sdk/src/__tests__/gather-resource.test.ts
  packages/sdk/src/namespaces/gather.ts
  packages/sdk/src/namespaces/types.ts
  packages/sdk/src/state/flows/__tests__/gather-state-unit.test.ts
  packages/sdk/src/state/flows/gather-state-unit.ts
  packages/sdk/src/state/flows/match-state-unit.ts
Due: none

Context Unification, Phase 6 - CLI
  apps/cli/src/core/commands/__tests__/gather-bind-match-command.test.ts
  apps/cli/src/core/commands/match.ts
Due: none

Context Unification, Phase 6 - react-ui
  packages/react-ui/src/components/modals/ContextSummary.tsx
  packages/react-ui/src/components/modals/GatherContextStep.tsx
  packages/react-ui/src/features/resource-compose/components/ResourceComposePage.tsx
Due: react-ui, @semiont/react-ui

Context Unification, Phase 7a
  packages/core/src/__tests__/gathered-context-types.test.ts
  packages/sdk/src/__tests__/gather-resource.test.ts
Due: none

Context Unification (#911)
  apps/cli/src/core/commands/__tests__/gather-bind-match-command.test.ts
  apps/cli/src/core/commands/match.ts
  packages/core/src/__tests__/gathered-context-types.test.ts
  packages/core/src/__tests__/knowledge-graph-views.test.ts
  packages/core/src/index.ts
  packages/core/src/knowledge-graph-views.ts
  packages/jobs/src/workers/generation/__tests__/resource-generation.prompt.test.ts
  packages/jobs/src/workers/generation/__tests__/resource-generation.test.ts
  packages/jobs/src/workers/generation/resource-generation.ts
  packages/make-meaning/src/__tests__/annotation-context.test.ts
  packages/make-meaning/src/__tests__/gatherer.test.ts
  packages/make-meaning/src/__tests__/generation/resource-generation.test.ts
  packages/make-meaning/src/__tests__/graph-context.test.ts
  packages/make-meaning/src/__tests__/llm-context.test.ts
  packages/make-meaning/src/__tests__/matcher.test.ts
  packages/make-meaning/src/annotation-context.ts
  packages/make-meaning/src/graph-context.ts
  packages/make-meaning/src/index.ts
  packages/make-meaning/src/llm-context.ts
  packages/make-meaning/src/matcher.ts
  packages/react-ui/src/components/modals/ContextSummary.tsx
  packages/react-ui/src/components/modals/GatherContextStep.tsx
  packages/react-ui/src/features/resource-compose/components/ResourceComposePage.tsx
  packages/sdk/src/__tests__/gather-resource.test.ts
  packages/sdk/src/namespaces/gather.ts
  packages/sdk/src/namespaces/types.ts
  packages/sdk/src/state/flows/__tests__/gather-state-unit.test.ts
  packages/sdk/src/state/flows/gather-state-unit.ts
  packages/sdk/src/state/flows/match-state-unit.ts
  specs/src/components/schemas/AnnotationLLMContextResponse.json
  specs/src/components/schemas/GatherAnnotationComplete.json
  specs/src/components/schemas/GatherAnnotationFinished.json
  specs/src/components/schemas/GatherFinished.json
  specs/src/components/schemas/GatherResourceComplete.json
  specs/src/components/schemas/GatheredContext.json
  specs/src/components/schemas/KnowledgeGraph.json
  specs/src/components/schemas/ResourceLLMContextResponse.json
  specs/src/openapi.json
Due: core, jobs, make-meaning, react-ui, @semiont/core, @semiont/jobs, @semiont/make-meaning, @semiont/react-ui

CONTEXT-UNIFICATION documentation
  docs/protocol/flows/GATHER.md
  docs/protocol/flows/MATCHER.md
  packages/make-meaning/docs/api-reference.md
  packages/make-meaning/docs/examples.md
Due: make-meaning, @semiont/make-meaning

YIELD-FROM-RESOURCE, Phase 1
  packages/jobs/src/__tests__/generation-params.types.test.ts
  packages/jobs/src/__tests__/job-queue.test.ts
  packages/jobs/src/__tests__/processors.test.ts
  packages/jobs/src/types.ts
Due: jobs, @semiont/jobs

YIELD-FROM-RESOURCE, Phase 2
  packages/jobs/src/__tests__/processors.test.ts
  packages/jobs/src/processors.ts
  packages/jobs/src/workers/generation/__tests__/resource-generation.test.ts
  packages/jobs/src/workers/generation/resource-generation.ts
  packages/make-meaning/src/__tests__/handlers/job-commands.test.ts
  packages/make-meaning/src/handlers/job-commands.ts
Due: jobs, make-meaning, @semiont/jobs, @semiont/make-meaning

YIELD-FROM-RESOURCE, Phase 3
  packages/jobs/src/__tests__/worker-process.test.ts
  packages/jobs/src/worker-process.ts
Due: jobs, @semiont/jobs

yield from resource (#912)
  docs/protocol/flows/GATHER.md
  docs/protocol/flows/MATCHER.md
  packages/jobs/src/__tests__/generation-params.types.test.ts
  packages/jobs/src/__tests__/job-queue.test.ts
  packages/jobs/src/__tests__/processors.test.ts
  packages/jobs/src/__tests__/worker-process.test.ts
  packages/jobs/src/processors.ts
  packages/jobs/src/types.ts
  packages/jobs/src/worker-process.ts
  packages/jobs/src/workers/generation/__tests__/resource-generation.test.ts
  packages/jobs/src/workers/generation/resource-generation.ts
  packages/make-meaning/docs/api-reference.md
  packages/make-meaning/docs/examples.md
  packages/make-meaning/src/__tests__/handlers/job-commands.test.ts
  packages/make-meaning/src/handlers/job-commands.ts
  packages/sdk/src/namespaces/__tests__/commands.test.ts
  packages/sdk/src/namespaces/types.ts
  packages/sdk/src/namespaces/yield.ts
Due: jobs, make-meaning, @semiont/jobs, @semiont/make-meaning

yeild from resource cli
  apps/cli/src/core/commands/__tests__/yield-command.test.ts
  apps/cli/src/core/commands/yield.ts
Due: none

yfr cli
  apps/cli/src/core/commands/yield.ts
Due: none

YIELD-FROM-RESOURCE P5: semiont yield resource-anchored delegate mode (+ --output-media-type) (#913)
  apps/cli/src/core/commands/__tests__/yield-command.test.ts
  apps/cli/src/core/commands/yield.ts
Due: none

EXCLUDE-VECTORS Phase 2b, etc
  packages/make-meaning/src/__tests__/llm-context.test.ts
  packages/make-meaning/src/llm-context.ts
  packages/sdk/src/namespaces/gather.ts
  packages/sdk/src/namespaces/types.ts
  packages/vectors/src/__tests__/memory-store.test.ts
  packages/vectors/src/store/interface.ts
  packages/vectors/src/store/memory.ts
  packages/vectors/src/store/qdrant.ts
  specs/src/components/schemas/GatherResourceRequest.json
  specs/src/components/schemas/GatheredContext.json
Due: make-meaning, @semiont/make-meaning

resourceId index
  packages/vectors/src/store/qdrant.ts
Due: none

Exclude Vectors, 2b & 3 (#914)
  packages/make-meaning/src/__tests__/llm-context.test.ts
  packages/make-meaning/src/llm-context.ts
  packages/sdk/src/namespaces/gather.ts
  packages/sdk/src/namespaces/types.ts
  packages/vectors/src/__tests__/memory-store.test.ts
  packages/vectors/src/store/interface.ts
  packages/vectors/src/store/memory.ts
  packages/vectors/src/store/qdrant.ts
  specs/src/components/schemas/GatherResourceRequest.json
  specs/src/components/schemas/GatheredContext.json
Due: make-meaning, @semiont/make-meaning

GENERATE-FROM-BUTTON
  packages/core/src/bridged-channels.ts
  packages/core/src/bus-protocol.ts
  packages/react-ui/src/components/AnnotateReferencesProgressWidget.tsx
  packages/react-ui/src/components/__tests__/AnnotateReferencesProgressWidget.test.tsx
  packages/react-ui/src/components/modals/ConfigureGatherStep.tsx
  packages/react-ui/src/components/modals/ContextSummary.tsx
  packages/react-ui/src/components/modals/GatherContextStep.tsx
  packages/react-ui/src/components/modals/ResourceGenerateModal.tsx
  packages/react-ui/src/components/modals/__tests__/GatherContextStep.resource.test.tsx
  packages/react-ui/src/components/resource/panels/ReferencesPanel.tsx
  packages/react-ui/src/components/resource/panels/ResourceInfoPanel.tsx
  packages/react-ui/src/components/resource/panels/__tests__/ResourceInfoPanel.test.tsx
  packages/react-ui/src/features/resource-viewer/components/ResourceViewerPage.tsx
  packages/react-ui/src/hooks/useResourceGather.ts
  packages/react-ui/src/index.ts
  packages/sdk/src/__tests__/bus-request.test.ts
  packages/sdk/src/bus-request.ts
  packages/sdk/src/state/flows/__tests__/yield-state-unit.test.ts
  packages/sdk/src/state/flows/yield-state-unit.ts
  tests/e2e/specs/16-generate-from-resource.spec.ts
Due: core, react-ui, @semiont/core, @semiont/react-ui

translations for GENERATE-FROM-BUTTON changeset
  packages/react-ui/translations/ar.json
  packages/react-ui/translations/bn.json
  packages/react-ui/translations/cs.json
  packages/react-ui/translations/da.json
  packages/react-ui/translations/de.json
  packages/react-ui/translations/el.json
  packages/react-ui/translations/en.json
  packages/react-ui/translations/es.json
  packages/react-ui/translations/fa.json
  packages/react-ui/translations/fi.json
  packages/react-ui/translations/fr.json
  packages/react-ui/translations/he.json
  packages/react-ui/translations/hi.json
  packages/react-ui/translations/id.json
  packages/react-ui/translations/it.json
  packages/react-ui/translations/ja.json
  packages/react-ui/translations/ko.json
  packages/react-ui/translations/ms.json
  packages/react-ui/translations/nl.json
  packages/react-ui/translations/no.json
  packages/react-ui/translations/pl.json
  packages/react-ui/translations/pt.json
  packages/react-ui/translations/ro.json
  packages/react-ui/translations/sv.json
  packages/react-ui/translations/th.json
  packages/react-ui/translations/tr.json
  packages/react-ui/translations/uk.json
  packages/react-ui/translations/vi.json
  packages/react-ui/translations/zh.json
Due: react-ui, @semiont/react-ui

observability improvements
  apps/backend/src/routes/bus.ts
  packages/core/src/__tests__/event-bus-buslog.test.ts
  packages/core/src/bus-log.ts
  packages/core/src/event-bus.ts
Due: core, backend, @semiont/core

Backend SSE-deliver span
  apps/backend/src/routes/bus.ts
Due: backend

EmittableChannel
  packages/sdk/src/__tests__/bus-request.test.ts
  packages/sdk/src/bus-request.ts
Due: none

improve react-ui test coverage
  packages/react-ui/src/components/modals/__tests__/ConfigureGatherStep.test.tsx
  packages/react-ui/src/components/modals/__tests__/ResourceGenerateModal.test.tsx
  packages/react-ui/src/hooks/__tests__/useResourceGather.test.tsx
Due: none

fix mock paths
  packages/react-ui/src/components/modals/__tests__/ResourceGenerateModal.test.tsx
Due: none

fix test
  packages/react-ui/src/components/modals/__tests__/ResourceGenerateModal.test.tsx
Due: none

fix test typecheck
  packages/react-ui/src/components/modals/__tests__/ConfigureGatherStep.test.tsx
  packages/react-ui/src/components/modals/__tests__/ResourceGenerateModal.test.tsx
Due: none

fix typecheck
  packages/sdk/src/namespaces/__tests__/commands.test.ts
Due: none

fix(make-meaning): isolate browse handler errors per-event; drop dead test local
  packages/make-meaning/src/browser.ts
Due: make-meaning, @semiont/make-meaning
