Repository The-AI-Alliance/semiont: changes, and which Codecov flags are due for each by the changed paths.
All: api-client, content, core, event-sourcing, graph, inference, jobs, make-meaning, mcp-server, ontology, react-ui, frontend, backend, @semiont/core, @semiont/api-client, @semiont/ontology, @semiont/content, @semiont/event-sourcing, @semiont/graph, @semiont/inference, @semiont/jobs, @semiont/make-meaning, @semiont/react-ui

codecov.yml:

# Codecov configuration for Semiont monorepo
# https://docs.codecov.io/docs/codecovyml-reference

codecov:
  # Require CI to finish before processing coverage
  require_ci_to_pass: true

  # Wait for all coverage reports before commenting
  notify:
    wait_for_ci: true

coverage:
  # Overall project coverage settings
  status:
    # Project-wide coverage status
    project:
      default:
        # Coverage can drop by 1% without failing
        threshold: 1%
        target: 70%  # Target 70% overall coverage

    # Per-PR patch coverage
    patch:
      default:
        # New code should have at least 80% coverage
        target: 80%
        threshold: 5%

  # Round coverage to 2 decimal places
  precision: 2
  round: down

  # Coverage range for color coding
  range: "50...90"

# Component-specific coverage configuration
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 1%
  individual_components:
    # Core packages with higher coverage requirements
    - component_id: core
      name: "@semiont/core"
      paths:
        - packages/core/**
    - component_id: api-client
      name: "@semiont/api-client"
      paths:
        - packages/api-client/**
    - component_id: ontology
      name: "@semiont/ontology"
      paths:
        - packages/ontology/**
    - component_id: content
      name: "@semiont/content"
      paths:
        - packages/content/**
    - component_id: event-sourcing
      name: "@semiont/event-sourcing"
      paths:
        - packages/event-sourcing/**
    - component_id: graph
      name: "@semiont/graph"
      paths:
        - packages/graph/**
    - component_id: inference
      name: "@semiont/inference"
      paths:
        - packages/inference/**
    - component_id: jobs
      name: "@semiont/jobs"
      paths:
        - packages/jobs/**
    - component_id: make-meaning
      name: "@semiont/make-meaning"
      paths:
        - packages/make-meaning/**
    - component_id: react-ui
      name: "@semiont/react-ui"
      paths:
        - packages/react-ui/**

# Ignore certain files from coverage
ignore:
  # Test files
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/*.spec.tsx"
  - "**/test/**"
  - "**/tests/**"
  - "**/__tests__/**"
  - "**/test-utils/**"

  # Build artifacts
  - "**/dist/**"
  - "**/build/**"
  - "**/coverage/**"
  - "**/.next/**"

  # Config files
  - "**/*.config.ts"
  - "**/*.config.js"
  - "**/jest.setup.ts"

  # Generated files
  - "**/generated/**"
  - "packages/api-client/src/types.ts"

  # Examples and demos
  - "**/examples/**"
  - "**/demo/**"

  # Scripts
  - "scripts/**"

# Comment configuration
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Flag configuration for different test suites
flags:
  # Individual package flags
  api-client:
    paths:
      - packages/api-client/**
    carryforward: true

  content:
    paths:
      - packages/content/**
    carryforward: true

  core:
    paths:
      - packages/core/**
    carryforward: true

  event-sourcing:
    paths:
      - packages/event-sourcing/**
    carryforward: true

  graph:
    paths:
      - packages/graph/**
    carryforward: true

  inference:
    paths:
      - packages/inference/**
    carryforward: true

  jobs:
    paths:
      - packages/jobs/**
    carryforward: true

  make-meaning:
    paths:
      - packages/make-meaning/**
    carryforward: true

  mcp-server:
    paths:
      - packages/mcp-server/**
    carryforward: true

  ontology:
    paths:
      - packages/ontology/**
    carryforward: true

  react-ui:
    paths:
      - packages/react-ui/**
    carryforward: true

  # App flags (for future use)
  frontend:
    paths:
      - apps/frontend/**
    carryforward: true

  backend:
    paths:
      - apps/backend/**
    carryforward: true

npm ci
  .github/workflows/architecture-compliance.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/package-tests.yml
Due: none

npm install
  .github/workflows/accessibility-tests.yml
  .github/workflows/architecture-compliance.yml
  .github/workflows/ci.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/package-tests.yml
  .github/workflows/publish-npm-packages.yml
  .github/workflows/security-tests.yml
Due: none

fix tests
  apps/backend/src/__tests__/routes/annotations-crud.test.ts
  apps/backend/src/__tests__/routes/resource-discovery.test.ts
  apps/backend/src/__tests__/routes/resources-crud.test.ts
  packages/event-sourcing/src/__tests__/view-materializer.test.ts
Due: none

fix tests
  apps/backend/src/__tests__/_test-setup.ts
  packages/core/src/config/toml-loader.ts
Due: core, @semiont/core

fix tests
  packages/core/src/__tests__/config/toml-loader.test.ts
Due: none

fix tests
  package-lock.json
  packages/core/src/index.ts
Due: core, @semiont/core

sync docs with new toml config and XDG paths
  apps/backend/docs/FILESYSTEM.md
  apps/cli/docs/ADDING_ENVIRONMENTS.md
  apps/cli/docs/ARCHITECTURE.md
  docs/ARCHITECTURE.md
  docs/LOCAL-SEMIONT.md
  docs/administration/CONFIGURATION.md
  docs/services/OVERVIEW.md
  docs/services/SECRETS.md
  packages/core/README.md
  packages/make-meaning/docs/architecture.md
Due: core, make-meaning, backend, @semiont/core, @semiont/make-meaning

install optional packages
  .github/workflows/accessibility-tests.yml
  .github/workflows/architecture-compliance.yml
  .github/workflows/ci.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/package-tests.yml
  .github/workflows/publish-npm-packages.yml
  .github/workflows/security-tests.yml
Due: none

fix test config
  .github/workflows/security-tests.yml
Due: none

rolldown dependencies
  package-lock.json
  package.json
Due: none

store representations in project root (not .semiont/data)
  apps/backend/src/cli/rebuild-projections.ts
  packages/content/README.md
  packages/content/docs/architecture.md
  packages/content/docs/sharding-strategy.md
  packages/core/src/project.ts
  packages/event-sourcing/src/__tests__/event-log.test.ts
  packages/event-sourcing/src/__tests__/event-store.test.ts
  packages/event-sourcing/src/__tests__/query/event-query.test.ts
  packages/event-sourcing/src/__tests__/storage/event-storage.test.ts
  packages/event-sourcing/src/event-log.ts
  packages/event-sourcing/src/event-store-factory.ts
  packages/event-sourcing/src/event-store.ts
  packages/event-sourcing/src/storage/event-storage.ts
  packages/make-meaning/src/__tests__/graph-consumer.test.ts
Due: content, core, event-sourcing, backend, @semiont/core, @semiont/content, @semiont/event-sourcing

fix test project uniqueness
  apps/backend/src/__tests__/integration/eventstore-channel-routing.test.ts
  apps/backend/src/__tests__/integration/sse-event-flow.test.ts
  apps/backend/src/__tests__/setup.ts
  packages/content/src/__tests__/edge-cases.test.ts
  packages/content/src/__tests__/integration.test.ts
  packages/content/src/__tests__/representation-store.test.ts
  packages/event-sourcing/src/__tests__/event-log.test.ts
  packages/event-sourcing/src/__tests__/event-store-factory.test.ts
  packages/event-sourcing/src/__tests__/event-store.test.ts
  packages/event-sourcing/src/__tests__/query/event-query.test.ts
  packages/event-sourcing/src/__tests__/storage/event-storage.test.ts
  packages/event-sourcing/src/__tests__/storage/view-storage.test.ts
  packages/event-sourcing/src/__tests__/view-manager.test.ts
  packages/event-sourcing/src/__tests__/view-materializer.test.ts
  packages/event-sourcing/src/__tests__/views/view-materializer.test.ts
  packages/jobs/src/__tests__/workers/detection/entity-extractor-charset.test.ts
  packages/jobs/src/__tests__/workers/jobs/assessment-annotation-worker.test.ts
  packages/jobs/src/__tests__/workers/jobs/comment-annotation-worker.test.ts
  packages/jobs/src/__tests__/workers/jobs/generation-worker.test.ts
  packages/jobs/src/__tests__/workers/jobs/highlight-annotation-worker.test.ts
  packages/jobs/src/__tests__/workers/jobs/reference-annotation-worker-events.test.ts
  packages/jobs/src/__tests__/workers/jobs/reference-annotation-worker.test.ts
  packages/jobs/src/__tests__/workers/jobs/tag-annotation-worker.test.ts
  packages/make-meaning/src/__tests__/graph-consumer.test.ts
  packages/make-meaning/src/__tests__/helpers/test-project.ts
  packages/make-meaning/src/__tests__/scripting-examples/create-resource.test.ts
  packages/make-meaning/src/__tests__/scripting-examples/query-graph.test.ts
  packages/make-meaning/src/__tests__/service.test.ts
Due: none

store representations in project root (not .semiont/data) (#522)
  apps/backend/src/__tests__/integration/eventstore-channel-routing.test.ts
  apps/backend/src/__tests__/integration/sse-event-flow.test.ts
  apps/backend/src/__tests__/setup.ts
  apps/backend/src/cli/rebuild-projections.ts
  packages/content/README.md
  packages/content/docs/architecture.md
  packages/content/docs/sharding-strategy.md
  packages/content/src/__tests__/edge-cases.test.ts
  packages/content/src/__tests__/integration.test.ts
  packages/content/src/__tests__/representation-store.test.ts
  packages/core/src/project.ts
  packages/event-sourcing/src/__tests__/event-log.test.ts
  packages/event-sourcing/src/__tests__/event-store-factory.test.ts
  packages/event-sourcing/src/__tests__/event-store.test.ts
  packages/event-sourcing/src/__tests__/query/event-query.test.ts
  packages/event-sourcing/src/__tests__/storage/event-storage.test.ts
  packages/event-sourcing/src/__tests__/storage/view-storage.test.ts
  packages/event-sourcing/src/__tests__/view-manager.test.ts
  packages/event-sourcing/src/__tests__/view-materializer.test.ts
  packages/event-sourcing/src/__tests__/views/view-materializer.test.ts
  packages/event-sourcing/src/event-log.ts
  packages/event-sourcing/src/event-store-factory.ts
  packages/event-sourcing/src/event-store.ts
  packages/event-sourcing/src/storage/event-storage.ts
  packages/jobs/src/__tests__/workers/detection/entity-extractor-charset.test.ts
  packages/jobs/src/__tests__/workers/jobs/assessment-annotation-worker.test.ts
  packages/jobs/src/__tests__/workers/jobs/comment-annotation-worker.test.ts
  packages/jobs/src/__tests__/workers/jobs/generation-worker.test.ts
  packages/jobs/src/__tests__/workers/jobs/highlight-annotation-worker.test.ts
  packages/jobs/src/__tests__/workers/jobs/reference-annotation-worker-events.test.ts
  packages/jobs/src/__tests__/workers/jobs/reference-annotation-worker.test.ts
  packages/jobs/src/__tests__/workers/jobs/tag-annotation-worker.test.ts
  packages/make-meaning/src/__tests__/graph-consumer.test.ts
  packages/make-meaning/src/__tests__/helpers/test-project.ts
  packages/make-meaning/src/__tests__/scripting-examples/create-resource.test.ts
  packages/make-meaning/src/__tests__/scripting-examples/query-graph.test.ts
  packages/make-meaning/src/__tests__/service.test.ts
Due: content, core, event-sourcing, backend, @semiont/core, @semiont/content, @semiont/event-sourcing

intialize ~/.semiontconfig
  apps/cli/src/core/commands/init.ts
Due: none

fix and add cli tests
  apps/cli/src/core/commands/__tests__/init-command.test.ts
Due: none

intialize ~/.semiontconfig (#523)
  apps/cli/src/core/commands/__tests__/init-command.test.ts
  apps/cli/src/core/commands/init.ts
Due: none

rm/bump prisma; npm audit fix
  apps/cli/package.json
  apps/frontend/package.json
  package-lock.json
  packages/api-client/package.json
  packages/content/package.json
  packages/core/package.json
  packages/event-sourcing/package.json
  packages/graph/package.json
  packages/inference/package.json
  packages/jobs/package.json
  packages/make-meaning/package.json
  packages/mcp-server/package.json
  packages/ontology/package.json
  packages/react-ui/package.json
  packages/test-utils/package.json
Due: api-client, content, core, event-sourcing, graph, inference, jobs, make-meaning, mcp-server, ontology, react-ui, frontend, @semiont/core, @semiont/api-client, @semiont/ontology, @semiont/content, @semiont/event-sourcing, @semiont/graph, @semiont/inference, @semiont/jobs, @semiont/make-meaning, @semiont/react-ui

rm/bump prisma; npm audit fix (#524)
  apps/cli/package.json
  apps/frontend/package.json
  package-lock.json
  packages/api-client/package.json
  packages/content/package.json
  packages/core/package.json
  packages/event-sourcing/package.json
  packages/graph/package.json
  packages/inference/package.json
  packages/jobs/package.json
  packages/make-meaning/package.json
  packages/mcp-server/package.json
  packages/ontology/package.json
  packages/react-ui/package.json
  packages/test-utils/package.json
Due: api-client, content, core, event-sourcing, graph, inference, jobs, make-meaning, mcp-server, ontology, react-ui, frontend, @semiont/core, @semiont/api-client, @semiont/ontology, @semiont/content, @semiont/event-sourcing, @semiont/graph, @semiont/inference, @semiont/jobs, @semiont/make-meaning, @semiont/react-ui

fix tests
  packages/make-meaning/src/__tests__/resource-context.test.ts
  packages/make-meaning/src/__tests__/scripting-examples/annotate-entities.test.ts
Due: none

fix build
  packages/react-ui/tsup.config.ts
Due: none

fix tests
  apps/cli/src/core/commands/__tests__/_mock-setup.ts
  apps/cli/src/services/__tests__/mcp-integration.test.ts
Due: none

fix frontend tests
  apps/frontend/src/app/__tests__/providers.test.tsx
  apps/frontend/src/app/api/auth/[...nextauth]/__tests__/route.test.ts
  apps/frontend/src/components/__tests__/CookiePreferences.test.tsx
  apps/frontend/src/components/__tests__/UserPanel.test.tsx
  apps/frontend/src/components/modals/__tests__/PermissionDeniedModal.test.tsx
  apps/frontend/src/lib/__tests__/auth.test.ts
Due: none

fix frontend build
  apps/frontend/vitest.setup.ts
Due: frontend

fix backend config
  apps/cli/src/core/command-service-matcher.ts
  apps/cli/src/core/commands/init.ts
  apps/cli/src/core/service-discovery.ts
  apps/cli/src/platforms/posix/handlers/backend-provision.ts
  apps/cli/src/platforms/posix/handlers/backend-start.ts
  apps/cli/src/platforms/posix/handlers/frontend-start.ts
  apps/cli/src/services/database-service.ts
  packages/core/src/config/toml-loader.ts
Due: core, @semiont/core

environment variable handling
  apps/cli/src/core/commands/init.ts
  apps/cli/src/platforms/external/handlers/graph-check.ts
  packages/core/src/config/toml-loader.ts
Due: core, @semiont/core

frontend build should copy static assets
  apps/frontend/package.json
Due: frontend

fix useradd
  apps/cli/src/core/commands/useradd.ts
Due: none

rm json config cruft
  apps/cli/src/__tests__/setup.ts
  apps/cli/src/core/command-executor.ts
  apps/cli/src/core/commands/init.ts
  apps/cli/src/core/service-resolver.ts
  packages/test-utils/src/environments/cli.ts
Due: none

include more details (pidfiles, log files, etc) in cli output
  apps/cli/src/core/io/output-formatter.ts
  apps/cli/src/core/service-resolver.ts
  apps/cli/src/platforms/container/handlers/database-check.ts
  apps/cli/src/platforms/container/handlers/proxy-check.ts
  apps/cli/src/platforms/posix/handlers/backend-check.ts
  apps/cli/src/platforms/posix/handlers/backend-stop.ts
  apps/cli/src/platforms/posix/handlers/frontend-check.ts
  apps/cli/src/platforms/posix/handlers/frontend-stop.ts
Due: none

rm legacy json config references
  apps/backend/src/__tests__/integration/simple-db.test.ts
  apps/backend/src/__tests__/setup/database.ts
  apps/backend/src/index.ts
Due: backend

semiont clean
  apps/cli/src/core/command-discovery.ts
  apps/cli/src/core/commands/clean.ts
Due: none

remove terminal dashbaord ahead of web redesign
  apps/cli/src/core/commands/__tests__/watch-command.test.ts
  apps/cli/src/core/commands/watch.tsx
  apps/cli/src/core/dashboard/dashboard-components.tsx
  apps/cli/src/core/dashboard/dashboard-layouts.tsx
  apps/cli/src/core/dashboard/watch-dashboard.tsx
Due: none

redesign 'watch' web dashboard
  apps/cli/src/core/dashboard/dashboard-data.ts
  apps/cli/src/core/dashboard/sections/section-header.tsx
  apps/cli/src/core/dashboard/sections/section-make-meaning.tsx
  apps/cli/src/core/dashboard/sections/section-web-interface.tsx
  apps/cli/src/core/dashboard/sections/section-workers.tsx
  apps/cli/src/core/dashboard/web-dashboard-app.tsx
Due: none

reorg dashbaord
  apps/cli/src/core/dashboard/dashboard-components.tsx
  apps/cli/src/core/dashboard/dashboard-data.ts
  apps/cli/src/core/dashboard/embedded-assets.ts
  apps/cli/src/core/dashboard/sections/section-header.tsx
  apps/cli/src/core/dashboard/sections/section-make-meaning.tsx
  apps/cli/src/core/dashboard/sections/section-web-interface.tsx
  apps/cli/src/core/dashboard/sections/section-workers.tsx
  apps/cli/src/core/dashboard/web-dashboard-app.tsx
  apps/cli/src/core/dashboard/web-dashboard-server.ts
Due: none

style
  apps/cli/src/core/dashboard/embedded-assets.ts
  apps/cli/src/core/dashboard/web-dashboard-server.ts
Due: none

css
  apps/cli/build.mjs
  apps/cli/src/core/dashboard/embedded-assets.ts
Due: none

job worker inference config
  apps/cli/src/core/commands/init.ts
Due: none
